<div class="container">
    <div class="row main-actvity" *ngIf="userData">

        <div class="col-md-4">
           <app-user-available-clouds
            [userData]="userData"
            (googleUser)="initiliazeGoogleUser($event)"
            (boxUser)="initiliazeBoxUser($event)"
            (ms365User)="initiliazeBoxUser($event)"></app-user-available-clouds>
        </div>

        <div class="col-md-8">
            <img *ngIf="!objectDataExists(googleUser) && !slackAuthSuccessful && !objectDataExists(boxUser) && !objectDataExists(ms365User)" src="assets/images/empty-clouds.svg">
            <app-user-connected-clouds *ngIf="objectDataExists(googleUser) || slackAuthSuccessful || objectDataExists(boxUser) || objectDataExists(ms365User)"
              [googleUser]="googleUser"
              [boxUser]="boxUser"
              [ms365User]="ms365User"
              [slackAuthSuccessful]="slackAuthSuccessful"
              (ms365Disconnected)="onMS365Disconnected($event)"></app-user-connected-clouds>
        </div>
    </div>
</div>

<!-- LOADING SPINNER STARTS -->
<ng-container *ngIf="isLoading$">
  <app-loading-spinner></app-loading-spinner>
</ng-container>
<!-- LOADING SPINNER ENDS -->
