<div class="container">
    <div class="row main-actvity" *ngIf="userData">

        <div class="col-md-4">
           <app-user-available-clouds [userData]="userData" (googleUser)="initiliazeGoogleUser($event)"></app-user-available-clouds>
        </div>

        <div class="col-md-8">
            <img *ngIf="!googleAuthSuccessful && !slackAuthSuccessful" src="assets/images/empty-clouds.svg">
            <app-user-connected-clouds [googleUser]="googleUser" *ngIf="googleUser || slackAuthSuccessful"></app-user-connected-clouds>
        </div>
    </div>
</div>
