
.feed-avatar {
  //avatar image for in-feed display
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin: 5px 10px;
}

.assigneeinfo{
  .mat-badge-content{
    background-color: #9D9FA1;
  }
}