@import '../../../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// @import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

//font override

$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-monospace: 'Poppins', sans-serif;
$font-family-base: 'Poppins', sans-serif;
$headings-font-family: 'Poppins', sans-serif;
$font-size-base: 14px;



// variables
$brand-primary: #005FD5;
$pumpkin-orange: #fd7714;
$turquoise: #0bc6a0;
$dark-sky-blue: #4a90e2;
$card-radius: 4px;
$border-gray: 1px solid #D9D7DA;
$dark-text: #242D3A;
$poppins: 'Poppins', sans-serif;;
$roboto:'Poppins', sans-serif;;
$border-color:#E4EDF8;
$pink:#9F55FF;
$lightgray:#9B9B9B;
$box-shadow:0 0 0 1px rgba(0,0,0,.15), 0 6px 9px rgba(0,0,0,.2);
$headings-color: #313131;

.pumpkin-orange-bg{
  background: $pumpkin-orange;
}

.pink{
  color:$pink;
}
.pink-border{
  border: 3px solid $pink !important;
}

.gray-border{
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2);
}

.blue{
  color:$brand-primary;
}

.blue-border{
  border: 3px solid $brand-primary !important;
}
.bluebg{
  background-color: $brand-primary !important;
  //color: white !important
}

.comment{
  background: #F3F4F6 !important;
  margin:5px !important;
  width: auto !important;
}
.margin5{
  margin:5px !important;
  width: auto !important;
}
.padding-topright{
  margin: 5px 5px 5px -5px !important;
}

.lightgray{
  color:$lightgray !important;
}

.date{
  margin: 0 !important;
}

// shadows
$card-shadow: 0 3px 5px -1px rgba(0,0,0,.2);

.card-tile{
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
}

// global stuff

hr{
  border-top: 1px solid #E4EDF8;
}

.icon-octo-logo{
  color: $brand-primary;
  margin-right: 30px;
}
h1{
  margin-bottom: 100px;
}

.white{
  color:#fff !important;
  font-family: $headings-font-family;
  font-weight: 600;
}

.welcome{
  background: #005FD5;
  height: stretch;
@include media-breakpoint-down(sm) {
  height: auto !important;
}
}

.btn-outline-blue{
  background: #fff !important;
  color: $brand-primary;
}


//date picker fix
[_nghost-c6], .ngb-dp-month[_ngcontent-c6]{
  width: 100% !important;
}
.ngb-dp-day[_ngcontent-c11], .ngb-dp-weekday[_ngcontent-c11], .ngb-dp-week-number[_ngcontent-c11]{
  margin: 0 1rem !important;
}

.innercard img{
    width: 100% !important;
    height: auto;
  }

 

