
// @import "~style/variables";
@import "../../assets/scss/variables";
@import "global";
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import "fontello2.css";

body {
    background-color: #f3f4f6;
}

.general-style{
  width: 100% !important;
}

.feed-avatar{ //avatar image for in-feed display
  width: 50px;
  height: 50px;
}
.topnav-avatar{ //avatar image for in-feed display
  width: 32px;
  height:32px;
}

.list-group-item{
  margin-bottom: 10px;
  // background-color: transparent;
  border: none;
  // padding: 5px 0px;
}


h6{
  font-family: $poppins;
  font-size: 16px;
  color: $dark-text;
  font-weight: 300;
}

h2{
  font-family: $poppins;
  font-size: 24px;
  color: $dark-text;
  font-weight: 600;
}

.small {
  font-size: 70%;
}
.group-overview-avatar{
  width: 120px;
  height: 100px;
}

.overview-post{
  $dark-text: #242D3A;
  font-family: $poppins;
  font-size: 14px;
}

// main sticker from any page
.user-sticky-card{
  border: 1px solid $border-color;
  background-color: #FFFFFF;
  margin:100px 0 10px 0;
  position: relative;
  padding: 10px;
    .feed-avatar{
      margin-right: 20px;
      width: 80px;
      height: 80px;
  }
  .nav-link{
    padding-left: 0;
  }
}

.muted{
  color: #9b9b9b;
}

.user-list{
border-bottom: 1px solid $border-color;
padding:0px;
}


.sidecontent {
margin-left: 0px;
margin-bottom: 20px;
}
.card {
    padding:0px;
    width:100%;
    margin: 5px 0;
    border: $border-color;
    border-radius: $card-radius;

}
.card-footer{
  background: transparent;
  border: none;
  span{
    margin-right:20px;
  }
  margin-bottom: 10px;
  .material-icons{
    font-size: 16px;
    &:hover{
      color: $brand-primary;
    }
  }
}

.card-title{
  margin-top: 0px;
  margin-bottom: 0;

  .small {
    font-size: 12px;
    margin: 20px;
    .material-icons{
      font-size: 12px;
    }
  }
  h6{
    font-family: $poppins;
    font-size: 16px;
    color: $dark-text;
    margin-top: 20px;
    margin-left: 10px;
  }
}
.innercard{
  padding: 20px 20px 20px 60px;
  width: 100%;
}
.sideinnercard{
  padding: 20px;
  width: 100%;
}

.post-card{
  margin: 0px 0px 5px 0px;
  background-color:#fff;
  border: $border-color;
  border-radius: $card-radius;
  padding: 0px;
  height: 52px;
  .col-md-1{
    padding-left: 0;
  }
  .feed-avatar{
    margin: 0;
  }
  .text-muted{
    font-family: $poppins;
    line-height: 50px;
  }
}
