
// @import "~style/variables";
@import "../../assets/scss/variables";
@import "global";
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import "fontello2.css";
@import "~ng-snotify/styles/material";
@import "../../../node_modules/angular-calendar/css/angular-calendar.css";
@import "../../../node_modules/quill-mention/src/quill.mention.css";
@import "~@ctrl/ngx-emoji-mart/picker";
@import "../../../node_modules/quill-emoji/dist/quill-emoji.css";



body {
    background-color: #f3f4f6;
}

.general-style{
  width: 100% !important;
}

.feed-avatar{ //avatar image for in-feed display
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin:5px 10px;
}

.feed-avatar-big{ //avatar image for group img display
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}

.topnav-avatar{ //avatar image for in-feed display
  width: 50px;
  height:50px;
  object-fit: cover;
  border-radius: 50%;
}

.list-group-item{
  margin: 0px 0px 10px 0px !important;
  // background-color: transparent;
  border: none;
  padding: 0px;
}


h6, h5, h4{
  font-size: 16px;
  color: $dark-text;
  font-weight: 400 !important;
}

h2{
  font-family: $poppins;
  font-size: 20px !important;
  color: $dark-text;
  font-weight: 500 !important;
}

.small {
  font-size: 70%;
}
.group-overview-avatar{
  width: 120px;
  height: 100px;
  object-fit: cover;
}

.overview-post{
  $dark-text: #242D3A;
  // font-family: $poppins;
  font-size: 14px;
}

// main sticker from any page
.user-sticky-card{
  border: 1px solid $border-color;
  background-color: #FFFFFF;
  margin:100px 0 10px 0;
  position: relative;
  padding: 10px;
    .feed-avatar{
      margin-right: 20px;
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 50%;
  }
  .nav-link{
    padding-left: 0;
  }
}

.muted{
  color: #9b9b9b;
}

.user-list{
border-bottom: 1px solid $border-color;
padding:0px;
}


.sidecontent {
margin-left: 0px;
margin-bottom: 20px;
}
.card {
    padding:0px;
    width:100%;
    margin: 0;
    border: 1px solid $border-color;
    border-radius: $card-radius;

}
.card-footer{
  background: transparent;
  border: none;
  span{
    margin-right:20px;
  }
  margin-bottom: 0px;
  .material-icons{
    font-size: 16px;
    &:hover{
      color: $brand-primary;
    }
  }
}

.card-title{
  margin-top: 0px;
  margin-bottom: 0;

  .small {
    font-size: 12px;
    margin: 20px 0;
    .material-icons{
      font-size: 12px;
    }
  }
  h6{
    font-family: $poppins;
    font-weight: 500 !important;
    font-size: 18px;
    color: $dark-text;
    margin-top: 10px;
  }

}
.innercard{
  // padding: 10px 10px 10px 60px;
  width: 100%;
  .material-icons{
    font-size: 28px;
  }
}
.sideinnercard{
  padding: 20px;
  width: 100%;
}

.post-card{
  margin:5px 0px;
  background-color:#fff;
  border: $border-color;
  border-radius: $card-radius;
  padding: 0px;
  height: 52px;
  .col-md-1{
    padding-left: 0;
  }
  .feed-avatar{
    margin: 0;
  }
  .text-muted{
    font-family: $poppins;
    line-height: 50px;
  }
}

.task{
  line-height: 20px;
  .material-icons{
    vertical-align: bottom;
    font-size: 24px;
  }
}

//date picker fix
[_nghost-c6], .ngb-dp-month{
  width: 100% !important;
}
.ngb-dp-day, .ngb-dp-weekday, .ngb-dp-week-number{
  margin: 0 1rem !important;
}

.action{
  color:$lightgray !important;
  &:hover{
    color: $brand-primary;
    cursor: pointer;
  }
  .material-icons{
    font-size: 24px !important;
  }
}

.dateblock{
  background: $brand-primary;
  padding: 15px;
  text-align: center !important;
}
.bigdate{
  color:#fff !important;
  font-size: 30px;
}
.time{
  color:#fff;
  font-size: 14px;
  font-weight: bold;
}
.event-title{
  font-size: 14px;
  font-weight: bold;
  color: $brand-primary;
}

.card-footer .dropdown-toggle::after{
  display: none;
}

.no-margin{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.noborder-btn{
  border:0 !important;
  :focus{
    border: 0! important;
  }
}

.media-body{
  .float-left{
    margin-left: 15px;
  }
}

// .btn{
//   border-radius: 1rem;
// }
.cool{
  &:hover{
    background: rgb(245, 246, 247);
    border-radius: 2rem;
  }
  
}

h1,h2,h3,h4,h5,h6{
  font-family: $headings-font-family;
}
h1 {
  font-family: $headings-font-family;
  font-size: 28px;
  font-weight: 400;
  color: $headings-color;
}
h2 {
  font-family: $headings-font-family;
  font-size: 24px;
  font-weight: 400;
  color: $headings-color;
}

h4{
  font-size: 1rem !important;
}




.btn-pink{
  color:$pink;
  background: #fff;
  border: 1px solid #9D85D2 !important;
  &:hover{
    background:#9D85D2;
    color: #fff;
  }
}
.btn-success{
  color: #fff !important;
  background-color: #4fc68b;
  border-color: #4fc68b;
}

.overview-item{
  width: 100%;
  img{
    width: 30%;
  }
}

.ql-mention-list-container{
  z-index: 999;
  border-radius: 6px;
  border: 1px solid $border-color;
  box-shadow: $box-shadow;
  .ql-mention-list-item.selected{
    background: $brand-primary;
    color:#fff !important;
  }
}

.feed-new-update-pill {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}
.inner-news{
  height: 32px;
  width: 130px;
  margin: 0px auto;
  .news-badge{
    z-index: 99999;
    position: fixed;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 6px 9px rgba(0,0,0,.2);
    .material-icons{
      font-size: 14px;
    }
  }
}

.mention{
  background: transparent;
  color: $brand-primary;
  font-weight: 700;
}

.notifications{
color:#787878 !important;
 margin-right: 15px;
 padding: 5px;
 width: 45px;
  &:hover {
    text-decoration: none;
    background: #ffffff;
    color: $brand-primary !important;
    border-radius: 6px;
  }
}

.ql-container {
  min-height: 100px !important;
}
.ql-video{
  width: 100% ;
  height: 360px;
}
.ql-video button{
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  //float: left;
  height: 24px;
  padding: 3px 5px;
  width: 28px;
}

.editor{
  border: 1px solid $brand-primary;
  border-radius: $card-radius; 
}
.notif-bullet{
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  float: right;
}

.kanbanheader{
  font-size: 10px;
  color: white;
  text-align: center;
  width: 80px;
  padding: 4px;
  border-radius: 4px 4px 0 0;
}
.kbn-todo{
  background: $pumpkin-orange;
  color: white;
}
.kbn-working{
  background: $turquoise;
  color: white;
}
.kbn-done{
  background: $dark-sky-blue;
  color: white;
}
.kbn{
  margin: 0 10px;
}
.assigned{
  font-size: 12px;
  font-weight: 700;
  color: $headings-color;
}

.groups{
  transition: all 0.3s ease 0s;
  &:hover{
    cursor: pointer;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
    padding: 0 !important;
    transition: opacity .25s ease-in-out;
  }
}


.card-img-top{
  width: 100%;
  height: 180px;
  border-radius: $card-radius;
  object-fit: cover;
}
.topnav-avatar.float-left.kbn{
  &:hover {
    border: 1px solid $brand-primary;
    cursor: pointer;
  }
}
.status{
  margin-top: -15px;
}
.white.icon-octo-logo{
  color:white !important;
}

.skills{
  li{
    list-style-type: none;
    border-bottom: 1px solid $border-color;
    margin-bottom: 10px;
  }
}

.slim{
  font-weight: 300 !important;
}

.btn{
  border-radius: 1rem !important;
}

.active{
  font-weight: 700 !important;
}
.form-control{
  border-radius: 1em !important;
}

.emoji_completions{
  z-index: 1;
  border: 1px solid black;
}