<div *ngFor="let project of projects" class="smart-card">
  <div class="row" style="justify-content: space-between;">
    <div class="kpi_card">
      <div class="project_title">
        <div>{{ project?.title }}</div>
        <div class="muted">{{ project?._group?.group_name }}</div>
      </div>

      <!-- PROJECT STATUS STARTS -->
      <div [class]="project.projectStatusClass" class="project_status">
        <app-portfolio-project-statistics-card [project]="project"></app-portfolio-project-statistics-card>
      </div>
      <!-- PROJECT STATUS ENDS -->

      <!-- PROJECT BUDGET STARTS -->
      <div class="project_budget">
        <app-portfolio-project-budget [project]="project"></app-portfolio-project-budget>
      </div>
      <!-- PROJECT BUDGET ENDS -->
    </div>
  </div>

  <div class="col-5" *ngIf="projects.length === 0">
    <img src='assets/images/inbox-tasks-card-empty.svg'>
  </div>

  <!-- LOADING SPINNER STARTS -->
  <ng-container *ngIf="isLoading$ | async">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>
  <!-- LOADING SPINNER ENDS -->
</div>
