.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    // overflow-y: hidden;
    // overflow-x: hidden;

    .board-bar {
        margin: 10px 10px 60px 10px;
    }
}

.block {
    padding: 10px;
    margin: 10px;
    border: 1px dashed #E4EDF8;
    overflow-y: auto;
}

table {
    width: 100%;
}

.row {
    padding: 10px;
    margin: 10px;
}

.newColumnMatMenu{
  padding: 8px 20px;
}

.search-field span {
    top: 8px;
    left: 16px;
}
.search-field input {
    padding-left: 33px;
}

/* Container for avatar and number badge */
// .avatar-container {
//     position: relative;
//     display: inline-block;

//     /* Avatar image */
//     .avatar {
//         width: 30px; /* Adjust the size */
//         height: 30px; /* Adjust the size */
//         border-radius: 50%; /* Makes the image rounded */
//         object-fit: cover; /* Ensures the image covers the container */
//     }

//     /* Number badge style */
//     .number-badge {
//         position: absolute;
//         top: -10px;
//         right: -10px;
//         width: 20px;
//         height: 20px;
//         background-color: silver; /* Background color of the number badge */
//         color: black; /* Text color */
//         font-size: 10px; /* Adjust font size */
//         font-weight: bold;
//         border-radius: 50%;

//         /* Flexbox to center the number */
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }