<nav id="sidebar">
    <div class="sidebar-header">
        <a [routerLink]="['/dashboard', 'workspace', 'list']" routerLinkActive="router-link-active" (click)="this.sideNav.toggle()">
            <img src="assets/images/logo.svg" alt="" class="octonius-logo">
        </a>

        <div id="dismiss">
            <i class="material-icons" (click)="this.sideNav.toggle()">close</i>
        </div>
    </div>

    <div class="menu-options">
        <ul class="components">
          <li>
            <a [routerLink]="['/dashboard', 'workspace', 'list']" routerLinkActive="router-link-active" (click)="this.sideNav.toggle()">
              <i class="material-icons-outlined carret">important_devices</i>
              List Workspaces
            </a>
          </li>
          <li>
            <a [routerLink]="['/dashboard', 'workspace', 'users']" routerLinkActive="router-link-active" (click)="this.sideNav.toggle()">
              <i class="material-icons-outlined carret">supervisor_account</i>
              Manage Users
            </a>
          </li>
        </ul>

        <div>
            <hr>
            <ul class="list-unstyled">
                <li>
                    <!-- LOGOUT FUNCTION STARTS-->
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="logout()">
                        <i class="material-icons-outlined carret">power_settings_new</i>
                        LOGOUT
                        <span class="sr-only">(current)</span>
                    </a>
                    <!-- LOGOUT FUNCTION ENDS-->
                </li>
            </ul>
        </div>
    </div>
</nav>
