.result-container{
  font-family: Nunito,sans-serif;
  font-style: normal;
  font-weight: 700!important;
  font-size: 12px;

  padding-top: 5%;
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

}
