.result-container{
  font-family: Nunito,sans-serif;
  font-style: normal;
  font-size: 12px;
  padding-top: 30px;
  width: 100%;
  min-height: 99%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: #fff;
}
