<span>
  <button class="btn btn-link btn-sm dropdown-toggle" mat-button [matMenuTriggerFor]="postOptions">
    <i class="material-icons-outlined action">more_horiz</i>
    <span class="caret"></span>
  </button>
</span>

<mat-menu #postOptions="matMenu">
  <button mat-menu-item *ngIf="mode !== 'fullscreen'" (click)="openFullscreenModal()">View</button>
  <button mat-menu-item (click)="copyToClipboard()">Copy Link</button>
  <button mat-menu-item *ngIf="post?.type == 'normal' && !post?.pin_to_top" (click)="pinToTop(true)">
    <span class="material-icons-outlined">push_pin</span> Pin
  </button>
  <button mat-menu-item *ngIf="post?.type == 'normal' && post?.pin_to_top" (click)="pinToTop(false)">
    <span class="material-icons-outlined">push_pin</span> Unpin
  </button>

  <li class="dropdown-divider" *ngIf="post?.type !== 'task'"></li>

  <button mat-menu-item [matMenuTriggerFor]="copyMenu" *ngIf="post?.type !== 'task'">Copy to Group</button>
  <button mat-menu-item [matMenuTriggerFor]="moveMenu" *ngIf="post?.type !== 'task'">Move to Group</button>

  <li class="dropdown-divider" *ngIf="post?.type == 'task' && userData?.role == 'admin' || userData?.role == 'owner' || post?._posted_by == userData?._id"></li>

  <button mat-menu-item (click)="deletePost()"
      *ngIf="userData?.role == 'admin' || userData?.role == 'owner' || post?._posted_by == userData?._id">
    Delete
  </button>

</mat-menu>

<mat-menu #copyMenu="matMenu">
  <button mat-menu-item *ngFor="let group of userGroups" (click)="copyToGroup(group)">{{ group.group_name }}</button>
</mat-menu>

<mat-menu #moveMenu="matMenu">
  <button mat-menu-item *ngFor="let group of userGroups" (click)="moveToGroup(group)">{{ group.group_name }}</button>
</mat-menu>
