@import "src/assets/scss/variables";
@import "src/assets/scss/tasks";

$day-selected: #ffc014;
$day-holiday: #b9ebb9;
$day-holiday-approved: #32dc32;
$day-personal: #95eeee;
$day-personal-approved: #08d5d5;
$day-sick: #f4d9bb;
$day-sick-approved: #f49f3e;

.cal-day-selected,
.cal-day-selected:hover {
  background-color: $day-selected !important;
}

.cal-day-holidays,
.cal-day-holidays:hover {
  background-color: $day-holiday !important;
}
.cal-day-holidays-approved,
.cal-day-holidays-approved:hover {
  background-color: $day-holiday-approved !important;
}

.cal-day-personal,
.cal-day-personal:hover {
  background-color: $day-personal !important;
}
.cal-day-personal-approved,
.cal-day-personal-approved:hover {
  background-color: $day-personal-approved !important;
}

.cal-day-sick,
.cal-day-sick:hover {
  background-color: $day-sick !important;
}
.cal-day-sick-approved,
.cal-day-sick-approved:hover {
  background-color: $day-sick-approved !important;
}
