<div class="card-tile">
  <h4>Group Members</h4>
  <hr>


  <div class="media card-tile user-list" *ngFor=" let member of group_members">
    <img src="/uploads/{{member?.profile_pic}}" onerror="this.src='/uploads/user.png'" class="feed-avatar">
    <div class="media-body">
      <div class="float-left">
        <h4 class="mt-0">{{member?.first_name}} {{member?.last_name}}</h4>
        <p>Role: {{member?.role}}, email@email.com</p>
      </div>
      <div class="btn-group mr-3 float-right" style="margin-left:10px">

        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-secondary dropdown-toggle-split btn-sm" ngbDropdownToggle>Manage user </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" (click)="updateUserRole('admin',member._id)">Change to Admin</button>
            <button class="dropdown-item" (click)="updateUserRole('member ',member._id)">Change to Member</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="openVerticallyCentered(contentDeleteUser)">Remove from group</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  


</div>
