<div class="container">
  <div class="row" style="justify-content: space-between;">
    <div><p>Everything happening in your organization</p></div>
    <div>
      <mat-form-field>
        <mat-select ngDefaultControl
                (selectionChange)="periodSelected($event)"
                (click)="$event.stopPropagation()"
                [(value)]="period"
                name="period">
            <mat-option *ngFor="let p of periods" [value]="p.key">{{ p.value }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 box">
      <!-- Work Statistics Card Starts -->
      <app-work-statistics-card [period]="period" [northStar]="false"></app-work-statistics-card>
      <!-- Work Statistics Card Ends -->
    </div>

    <div class="col-md-3 box">
      <!-- Workload Card Starts -->
      <app-workload-card [period]="period"></app-workload-card>
      <!-- Workload Card Ends -->
    </div>

    <div class="col-md-3 box">
      <!-- Velocity Card Starts -->
      <app-velocity-card [period]="period"></app-velocity-card>
      <!-- Velocity Card Ends -->
    </div>

    <div class="col-md-3 box">
      <!-- Pulse Card Starts -->
      <app-pulse-card [period]="period"></app-pulse-card>
      <!-- Pulse Card Ends -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 box">
      <!-- People Directory Card Starts -->
      <app-people-directory-card></app-people-directory-card>
      <!-- People Directory Card Ends -->
    </div>

    <div class="col-md-3 box">
      <!-- Organizational Structure Card Starts -->
      <app-organizational-structure-card></app-organizational-structure-card>
      <!-- Organizational Structure Card Ends -->
    </div>

    <div class="col-md-3 box">
      <!-- Company Objectives Card Starts -->
      <app-work-statistics-card [period]="period" [northStar]="true"></app-work-statistics-card>
      <!--<app-company-objectives-card [period]="period"></app-company-objectives-card>-->
      <!-- Company Objectives Card Ends -->
    </div>

    <div class="col-md-3 box">
      <!-- Engagement Card Card Starts -->
      <app-engagement-card [period]="period"></app-engagement-card>
      <!-- Engagement Card Card Ends -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 box">
      <!-- KPI Performance Card Starts -->
      <app-kpi-performance-card [parentId]="workspaceData?._id" [type]="'workspace'"></app-kpi-performance-card>
      <!-- KPI Performance Card Ends -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- Global Performance Card Starts -->
      <app-global-performance-card [period]="period"></app-global-performance-card>
      <!-- Global Performance Card Ends -->
    </div>
  </div>
</div>
