<div class="card sideinnercard">
    <div class="card-block">
        <h6 class="card-title">
          <strong i18n="@@activityFilters.filters">Filters</strong>
          <i class="material-icons-outlined float-right">filter_list</i>
        </h6>

        <hr />

        <p class="box-title" style="padding-top: 20px;" i18n="@@activityFilters.postedBy">Posted By...</p>

        <app-multiple-assignments
          [groupId]="groupData?._id"
          [userData]="userData"
          [type]="'filter'"
          (assigneeRemovedEmiter)="assigneeRemovedEmiter($event)"
          (assigneeAddedEmiter)="onUserSelctionEmitter($event)">
        </app-multiple-assignments>

        <br />

        <p class="box-title" i18n="@@activityFilters.tags">Tags</p>

        <!-- Post Tags starts -->
        <app-post-tags
            [userData]="userData"
            [post]="post"
            [groupId]="groupData?._id"
            (tags)="onTagSelctionEmitter($event)">
        </app-post-tags>
        <!-- Post Tags ends -->
    </div>
</div>
