<div class="">
    <div class="card-block">
        <h6 class="card-title">
          <strong i18n="@@activityFilters.filters">Filters</strong>
          <i class="material-icons-outlined float-right">filter_list</i>
        </h6>

        <hr />

        <p class="box-title" style="padding-top: 20px;" i18n="@@activityFilters.postedBy">Posted By...</p>

        <app-multiple-assignments
          [groupId]="groupData?._id"
          [type]="'filter'"
          (assigneeRemovedEmiter)="assigneeRemovedEmiter($event)"
          (assigneeAddedEmiter)="onUserSelctionEmitter($event)">
        </app-multiple-assignments>

        <br />

        <p class="box-title" i18n="@@activityFilters.tags">Tags</p>

        <!-- Post Tags starts -->
        <app-tags
            [userData]="userData"
            [item]="post"
            [groupId]="groupData?._id"
            (tags)="onTagSelctionEmitter($event)">
        </app-tags>
        <!-- Post Tags ends -->

        <br />

        <p class="box-title" i18n="@@activityFilters.likes">Likes</p>

        <!-- Post Likes starts -->
        <input type="text" class="form-control" name="likes" [(ngModel)]="numLikes"
          placeholder="Enter number of post to show..."
          (focusout)="onLikesEmitter()" (keyup.enter)="$event.target.blur();">
        <!-- Post Likes ends -->
    </div>

    <div class="modal-footer">
      <button (click)="closeDialog()" class="btn btn-primary" i18n="@@activityFilters.close">Close</button>
    </div>
</div>