*,
::after,
::before {
    box-sizing: border-box;
}

div {
    display: block;
}

.dialog-content {
    width: 100%;

    .content {
        margin-left: auto;
        margin-right: auto;
    }
}
  
.inner-content{
    background-color: #fff;
    border-radius: 10px;
}

.title{
    margin-top: 15px;
}

.videoCall {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    // display: none;

    .callAction {
        position: absolute;
        left: 45%;
        bottom: 32px;
        list-style: none;

        li {
            display: inline;
            cursor: pointer;
            margin: 0 10px;
        }

        i {
            font-size: 40px;
        }
    }

    .localVideo {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 16px;
        border-radius: 16px;
        max-width: 20%;
        max-height: 20%;
        background: #ffffff;
    }

    section {
        margin-top: 40px;
        text-align: justify;
        font-size: 0.1px;

        display: flex;
        flex-direction: column;
    }

    section::after{
    content: '';
        display: inline-block;
        width: 100%;
    }

    section div {  
        display:inline-block;
        width: 100%;
        background: #59b;
        transition: all .7s;
        border-radius: 3px;
    }

    section div.members {
        width: 30%;
    }

    section div.remoteStreams {
        background: #000000;
        display: flex;
        // position: absolute;
        z-index: 1;
        height: 100% !important;
    }

    section div.chatDetails {
        width: 30%;
    }
}

.remoteStreamContainer {
    display: inline-block;
}
