*,
::after,
::before {
    box-sizing: border-box;
}


.dialog-content {
    width: 100%;

    .content {
        margin-left: auto;
        margin-right: auto;
    }
}
  
.inner-content{
    background-color: #fff;
    border-radius: 10px;
}

.title{
    margin-top: 15px;
}

.videoCall {
    // position: absolute;
    // top: 0;
    // left: 0;
    //    width: 70%;
       height:  80vh;
    // display: none;

}    
    .localVideo {
        // position: absolute;
        // bottom: 0;
        // left: 0;
        margin: 16px;
        border-radius: 16px;
        max-width: 40%;
        max-height: 40%;
        background: #ffffff;
    }



     .members {
        width: 30%;
    }

     .remoteStreams {
        background: #000000;
        display: flex;
        // position: absolute;
        height: auto;
        width: 100%;
    }

     .chatDetails {
        // width: 30%;
        height: auto;
    }


.remoteStreamContainer {
    display: flex;
    width: auto;
}

.callAction {
    position: absolute;
    left: 45%;
    bottom: 32px;
    list-style: none;
    padding: 8px;
    background: #ffab00;
    border-radius: 30px;

    li {
        display: inline;
        cursor: pointer;
        margin: 0 10px;
    }

    i {
        font-size: 40px;
    }
}
