<mat-dialog-actions align="end">
    <div class="action-box">
        <a (click)="closeModal()" mat-dialog-close>
            <i class="material-icons" style="cursor: pointer">close</i>
        </a>
    </div>
</mat-dialog-actions>

<mat-dialog-content style="max-height: none">
    <div class="dialog-content">
        <div class="content">
            <div class="container">
                <div class="row inner-content" style="padding-top: 15px;">
                    <h2 class="title text-center">
                        <i class="material-icons" style="margin-top:-5px">lock</i>
                        <span i18n="@@videoCallDialog.videoCall">Video Call</span>
                    </h2>

                    <div class="videoCall">
                        <ul class="callAction">
                            <li (click)="muteVideo()">
                                <i class="material-icons-outlined" style="color: red;" *ngIf="!localVideoOn">videocam_off</i>
                                <i class="material-icons-outlined" *ngIf="localVideoOn">videocam</i>
                            </li>
                            <li (click)="muteAudio()">
                                <i class="material-icons-outlined" style="color: red;" *ngIf="!localAudioOn">mic_off</i>
                                <i class="material-icons-outlined" *ngIf="localAudioOn">mic</i>
                            </li>
                            <li (click)="showHideChat()">
                                <i class="material-icons-outlined">chat</i>
                            </li>
                            <li (click)="showMembers()">
                                <i class="material-icons-outlined">groups</i>
                            </li>
                            <li (click)="copyLink()">
                                <i class="material-icons-outlined">share</i>
                            </li>
                        </ul>

                        <video [srcObject]="localCaptureStream" #localVideo class="localVideo" *ngIf="localCaptureStream" autoplay playsinline></video>

                        <section>
                            <div class="members" *ngIf="membersOn">
                                <app-multiple-assignments *ngIf="!objectExists(chatData?._group)" [canEdit]="canEdit" [workspaceData]="workspaceData"
                                    [userData]="userData" [assigned_to]="members" [type]="'chat'" (assigneeAddedEmiter)="onAssignedAdded($event)"
                                    (assigneeRemovedEmiter)="onAssignedRemoved($event)">
                                </app-multiple-assignments>
                            </div>

                            <div class="remoteStreams" #videoChatContainer>
                                <!-- insert remote streams dynamically -->
                            </div>

                            <div class="chatDetails" *ngIf="chatOn">
                                <app-chat-details [userData]="userData" [workspaceData]="workspaceData" [chatData]="chatData" (chatClosedEvent)="showHideChat()"></app-chat-details>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>