.dialog-content {
    width: 100%;
  
    .modal-header {
        border: none;
    }
  
    .action-box {
        color: #969A9E;
        background: #FFFFFF;
        border: 1px solid #E4EDF8;
        border-radius: 5px;
        padding: 5px;
        margin-right: 16px;
    }
  
    .content {
      margin-left: auto;
      margin-right: auto;
  
      .attach-files {
          width: 100%;
          box-shadow: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 24px auto;
      }
  
      .save-content {
          margin-bottom: 10px;
      }
  }
  }
  
  .inner-content{
      background-color: #fff;
      border-radius: 10px;
  }
  .feed-avatar{
      width: 120px;
      height: 120px;
  }
  
  .blue{
      color: #005FD5;
  }
  
  .job-title{
      font-size: 15px;
      font-weight: 700;
  }
  
  .user-name{
      font-size: 24px;
      color: #242D3A;
  }

  .user-form {
    padding: 90px;
    overflow: auto;
}

.form-control{
  border: 1px solid #E4EDF8;
  min-height: 52px;

}

.form-group{
    width: 100% !important;
    margin-top: 20px !important;
}

.title{
    margin-top: 15px;
    text-align: center;
}

