.container{
    margin-top: 30px;
}

.search {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #E4EDF8;
  border-right: none;
  padding: 5px;
  height: 100%;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #005FD5;
  border: 3px solid #005FD5
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #005FD5;
  background: #005FD5;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

app-loading-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
}

// Adding pointer to image
img{
  cursor: pointer;
  transition: transform .2s ease;
}

img:hover{
  transform: scale(1.1);
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    span {
        color: #ff6584;
    }
}
