<mat-dialog-actions align="end">
  <div class="action-box">
      <a (click)="onCloseDialog()" mat-dialog-close>
        <i class="material-icons" style="cursor: pointer">close</i>
      </a>
  </div>
</mat-dialog-actions>
<div class="post-dialog-content" *ngIf="postData">
    <div class="post-content">
        <div class="content-box">
            <div class="modal-header">
                <!-- Event Post Header starts -->
                <h4 class="modal-title">
                    <!-- Post Title starts -->
                    <input
                        name="postTitle"
                        type="text"
                        [ngModel]="title"
                        (blur)="titleChange($event)"
                        class="post-title"
                        placeholder="✍🏻 Title" />
                    <!-- Post Title ends -->
                </h4>

                <i class="material-icons-outlined ml-2" *ngIf="isIdeaModuleAvailable && postData?.task?.is_idea" style="color: #FBB732;">emoji_objects</i>

                <app-post-utils *ngIf="userData"
                    [post]="postData"
                    [userData]="userData"
                    [groupData]="groupData"
                    [canEdit]="canEdit"
                    mode="fullscreen"
                    (delete)="deletePost()">
                </app-post-utils>
            </div>
            <!-- Post Header Title ends -->

            <!-- Post Content starts -->
            <app-quill-editor
                *ngIf="canEdit"
                [editorId]="'postbox-editor'"
                [toolbar]="true"
                [readOnly]="false"
                [contents]="postData?.content"
                [groupId]="groupId"
                (content)="quillContentChanged($event)">
            </app-quill-editor>

            <app-quill-editor
                *ngIf="!canEdit"
                [editorId]="'postbox-editor'"
                [toolbar]="false"
                [readOnly]="true"
                [contents]="postData?.content"
                [groupId]="groupId"></app-quill-editor>
            <!-- Post Content ends -->

            <!-- Attach files starts -->
            <div class="attach-files" *ngIf="postData">
                <app-attach-files
                    [post]="postData"
                    (files)="onAttach($event)"
                    (cloudFiles)="onCloudFileAttach($event)">
                </app-attach-files>
            </div>
            <!-- Attach files ends -->

            <!-- <div class="clearfix"></div> -->

            <app-post-actions
                [post]="postData"
                [userData]="userData"
                [fullscreen]="true"
                [groupData]="groupData"
                [isIdeaModuleAvailable]="isIdeaModuleAvailable"
                [canEdit]="canEdit"
                (pinEvent)="onPostPin($event)"
                (newCommentEmitter)="newCommentAdded($event)">
            </app-post-actions>

        </div>

        <div class="clearfix save-content">
            <button *ngIf="canEdit" [disabled]="!contentChanged"
              class="btn float-right btn-primary btn-md"
              (click)="updateDetails('change_content')" i18n="@@groupCreatePostDialog.save">
                Save
            </button>

            <button *ngIf="!showSubtasks && !postData?.task?._parent_task && postData?.type === 'task' && !postData?.task?.isNorthStar && (!postData?.task?.shuttle_type || groupData?._id == postData?._group?._id) && canEdit"
              class="btn float-left btn-warning btn-md"
              (click)="prepareToAddSubtasks()"
              i18n="@@groupCreatePostDialog.addSubtask">
                + Add Subtasks
            </button>

            <button
              *ngIf="!showSubtasks && !postData?.task?._parent_task && postData?.type === 'task' && postData?.task?.isNorthStar && !postData?._group && canEdit"
              class="btn float-left new-ns-button" (click)="prepareToAddSubtasks()" i18n="@@groupCreatePostDialog.addTarget">
              + Add Target
            </button>
        </div>

        <div class="content-box" *ngIf="(showSubtasks && (!postData?.task?.shuttle_type || groupData?._id == postData?._group?._id))
            || (postData?.comments_count > 0) || (postData?.task?.isNorthStar) || (postData?.logs && postData?.logs?.length > 0)
            || (postData?.type === 'task' && postData?.approval_active && postData?.approval_history && postData?.approval_history?.length > 0)">
          <!-- TABS STARTS -->
          <mat-tab-group mat-align-tabs="start">
            <!-- subtasks STARTS-->
            <mat-tab label="" *ngIf="showSubtasks && (!postData?.task?.shuttle_type || groupData?._id == postData?._group?._id)">
              <ng-template mat-tab-label>
                <!--<i class="material-icons">manage_history</i>-->
                <span i18n="@@groupCreatePostDialog.subtasks">Subtasks</span>
              </ng-template>

              <app-subtasks
                [subtasks]="subtasks"
                [groupData]="groupData"
                [userData]="userData"
                [parentId]="postData?._id"
                [parentNS]="postData?.task?.isNorthStar"
                (openSubtaskEmitter)="onOpenSubtask($event)"></app-subtasks>
            </mat-tab>
            <!-- subtasks ENDS-->

            <!-- comment-list STARTS-->
            <mat-tab label="" *ngIf="postData?.comments_count > 0">
              <ng-template mat-tab-label>
                <!--<i class="material-icons">approval</i>-->
                <span i18n="@@groupCreatePostDialog.comments">Comments</span>
              </ng-template>

              <app-comment-list
                [postId]="postData?._id"
                [userData]="userData"
                [groupId]="postData?._group?._id || postData?._group"
                [length]="postData?.comments_count"
                [newComment]="newComment"></app-comment-list>
            </mat-tab>
            <!-- comment-list ENDS-->

            <!-- north-star-stats STARTS-->
            <mat-tab label="" *ngIf="postData?.task?.isNorthStar">
              <ng-template mat-tab-label>
                <!--<i class="material-icons">approval</i>-->
                <span i18n="@@groupCreatePostDialog.northStarStats">North Star Stats</span>
              </ng-template>

              <app-north-star-stats
                [isNorthStar]="(postData?.task?.isNorthStar) ? true : false"
                [northStar]="postData?.task?.northStar">
              </app-north-star-stats>
            </mat-tab>
            <!-- north-star-stats ENDS-->

            <!-- APPROVALS HISTORY STARTS-->
            <mat-tab label="" *ngIf="postData?.type === 'task' && postData?.approval_active && postData?.approval_history && postData?.approval_history?.length > 0&& isBusinessSubscription">
              <ng-template mat-tab-label>
                <!--<i class="material-icons">approval</i>-->
                <span i18n="@@groupCreatePostDialog.approvalsHistory">Approvals History</span>
              </ng-template>

              <app-approvals-history
                [groupId]="groupData?._id"
                [userData]="userData"
                [itemData]="postData"
                [type]="'post'"></app-approvals-history>
            </mat-tab>
            <!-- APPROVALS HISTORY ENDS-->

            <!-- TASK CHANGES HISTORY STARTS-->
            <mat-tab label="" *ngIf="postData?.logs && postData?.logs?.length > 0">
              <ng-template mat-tab-label>
                <!--<i class="material-icons">approval</i>-->
                <span i18n="@@groupCreatePostDialog.changeLog">Change Log</span>
              </ng-template>

              <app-post-logs [logs]="postData?.logs"></app-post-logs>
            </mat-tab>
            <!-- TASK CHANGES HISTORY ENDS-->
          </mat-tab-group>
          <!-- TABS ENDS -->
        </div>
    </div>

    <!-- Top Right Section starts -->
    <div class="post-properties">
        <!-- Parent Task starts -->
        <div class="content-box" *ngIf="postData && postData?.task?._parent_task && postData?.type === 'task'
            && (postData?._group && groupData?._id == postData?._group?._id)
              && (!postData?.task?._parent_task?.task?.isNorthStar || postData?.task?._parent_task?._group)">
          <p class="box-title"i18n="@@groupCreatePostDialog.parentTask"> Parent task</p>

          <div class="parent-task">
            <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;" (click)="openParentTask(postData?.task?._parent_task._id)">
              <div class="parent-title">
                {{ postData?.task?._parent_task.title | truncatetext:40 }}
              </div>

              <app-assignee-avatar [post]="postData?.task?._parent_task" [userData]="userData" style="margin-right: 10px;"></app-assignee-avatar>
            </div>
          </div>
        </div>
        <!-- Parent Task ends -->

        <!-- Is North Start starts -->
        <app-north-star *ngIf="postData && postData?.type === 'task'"
          [isNorthStar]="(postData?.task?.isNorthStar) ? true : false"
          [northStar]="postData?.task.northStar"
          (saveInitialNorthStarEmitter)="saveNorthStar($event)"
          (addProgressNorthStarEmitter)="saveNorthStar($event)">
        </app-north-star>
        <!-- Is North Start ends -->

        <!-- Status starts -->
        <div class="content-box" *ngIf="postData && !postData?.task?.isNorthStar && postData?.type === 'task'">
          <p class="box-title"i18n="@@groupCreatePostDialog.taskStatus"> Task Status</p>

          <div class="shuttle-box mb-2">
            <p class=" mt-1" style="width:70px" i18n="@@groupCreatePostDialog.status">Status</p>

            <!-- Change task status starts -->
            <app-task-status class="ml-2"
                *ngIf="myWorkplace || groupData?._id == postData?._group?._id"
                [postId]="postData?._id"
                [groupId]="postData?._group?._id || postData?._group"
                [userId]="userData?._id"
                [status]="postData?.task?.status"
                [disabled]="postData?.archived || !canEdit"
                [shuttleType]="false"
                (status)="changeTaskStatus($event)">
            </app-task-status>

            <app-task-status class="ml-2"
                *ngIf="!myWorkplace && groupData?._id != postData?._group?._id"
                [postId]="postData?._id"
                [groupId]="shuttle?._shuttle_group?._id || shuttle?._shuttle_group"
                [userId]="userData?._id"
                [status]="shuttle?.shuttle_status"
                [disabled]="postData?.archived || !canEdit"
                [shuttleType]="true"
                (status)="changeShuttleTaskStatus($event)">
            </app-task-status>
            <!-- Change task status ends -->
          </div>

          <div class="shuttle-box" *ngIf="postData && columns">
            <p class="mt-1" *ngIf="(((shuttle?._shuttle_group?._id || shuttle?._shuttle_group) != groupId) && (!postData?.task?._parent_task || !this.postData?.task?._parent_task?._group)) || ((shuttle?._shuttle_group?._id || shuttle?._shuttle_group) == groupId)"
                style="margin-top: 18px; width:70px" i18n="@@groupCreatePostDialog.section">
              Section
            </p>

            <!-- Change task column starts -->
            <app-change-column class="ml-2"
                *ngIf="!postData?.task?.shuttle_type || (groupData?._id == postData?._group?._id && !postData?.task?._parent_task)"
                [sectionId]="(postData?.task?._column?._id || postData?.task?._column)"
                [columns]="columns"
                [disabled]="postData?.archived || !canEdit"
                (moveTask)="moveTaskToColumn($event)">
            </app-change-column>

            <app-change-column class="ml-2"
                *ngIf="(postData?.task?.shuttle_type && groupData?._id != postData?._group?._id)"
                [sectionId]="(shuttle?._shuttle_section?._id || shuttle?._shuttle_section)"
                [columns]="columns"
                [disabled]="postData?.archived || !canEdit"
                (moveTask)="moveShuttleTaskToSection($event)">
            </app-change-column>
            <!-- Change task column ends -->
          </div>
        </div>
        <!-- Status ends -->

        <!-- Shuttle Task starts -->
        <app-shuttle-task *ngIf="isShuttleTasksModuleAvailable && groupData?.shuttle_type && postData && postData?.task?.shuttle_type"
          [postData]="postData"
          [groupData]="groupData"
          [userData]="userData"
          [isShuttleTasksModuleAvailable]="isShuttleTasksModuleAvailable"></app-shuttle-task>
        <!-- Shuttle Task ends -->

        <!-- Dates starts -->
        <app-post-dates
          [userData]="userData"
          [postData]="postData"
          [groupData]="groupData"
          [canEdit]="canEdit"
          (startDateEvent)="getStartDate($event)"
          (dueDateEvent)="getDueDate($event)"
          (timeEvent)="getTime($event)"></app-post-dates>
        <!-- Dates ends -->

        <!-- Assignee Modal starts -->
        <div class="content-box" *ngIf="postData && postData?.type === 'task' || postData?.type === 'event'">
            <p class="box-title" i18n="@@groupCreatePostDialog.assignee">Assignee</p>

            <app-multiple-assignments
              [canEdit]="canEdit"
              [groupId]="groupId"
              [userData]="userData"
              [post]="postData"
              [type]="'post'"
              (assigneeAddedEmiter)="onAssigned($event)"
              (assigneeRemovedEmiter)="onAssigned($event)">
            </app-multiple-assignments>

            <div *ngIf="lastAssignedBy" id="avatar-assignee">
              <p class="box-title" style="padding-top: 20px;" i18n="@@groupCreatePostDialog.assignedBy">Assigned by</p>

              <app-secured-image
                [imgURL]="lastAssignedBy.profile_pic"
                [service]="'user'"
                [workspaceId]="(userData?._workspace?._id || userData?._workspace)"
                [styleClass]="'feed-avatar-small'"
                style="float: left; cursor: auto;"></app-secured-image>

              <div style="padding-top: 10px;" class="ml-1">
                {{ lastAssignedBy?.first_name }}
                {{ lastAssignedBy?.last_name }}
              </div>
            </div>

            <div id="avatar-assignee" style="margin-bottom: 30px;">
              <p class="box-title" style="padding-top: 20px;" i18n="@@groupCreatePostDialog.createdBy">Created by</p>

              <app-secured-image *ngIf="postData && postData?._posted_by"
                [imgURL]="postData?._posted_by?.profile_pic"
                [service]="'user'"
                [workspaceId]="(userData?._workspace?._id || userData?._workspace)"
                [styleClass]="'feed-avatar-small'"
                style="float: left; cursor: auto;"></app-secured-image>

              <div style="padding-top: 10px;" class="ml-1" *ngIf="postData">
                {{ postData?._posted_by?.first_name }}
                {{ postData?._posted_by?.last_name }}
                <span class="muted" i18n="@@groupCreatePostDialog.on">on {{ postData?.created_date | date: 'MMM dd, yyyy'}}</span>
              </div>
            </div>

        </div>
        <!-- Assignee Modal ends -->

        <div class="content-box">
            <p class="box-title" i18n="@@groupCreatePostDialog.tags">Tags</p>

            <!-- Post Tags starts -->
            <app-tags *ngIf="postData"
                [canEdit]="canEdit"
                [item]="postData"
                [userData]="userData"
                [groupId]="groupId"
                (tags)="getTags($event)">
            </app-tags>
            <!-- Post Tags ends -->
        </div>

        <div class="content-box" *ngIf="postData && postData?.type === 'task' && postData?._group && customFields?.length > 0">
            <p class="box-title" i18n="@@groupCreatePostDialog.customFields">Custom fields</p>

            <div *ngFor="let cf of customFields" class="d-flex custom-field justify-content-start mb-3 row">
                <p class="col">{{ cf.title }}</p>
                <mat-select ngDefaultControl *ngIf="!cf.input_type"
                    [(value)]="selectedCFValues[cf.name]"
                    [disabled]="!canEdit"
                    (selectionChange)="onCustomFieldChange($event, cf.name, cf.title)"
                    appearance="fill"
                    class="col">
                    <mat-select-trigger>{{ selectedCFValues[cf.name] }}</mat-select-trigger>
                    <mat-option *ngFor="let val of cf.values" [value]="val">{{ val }}</mat-option>
                </mat-select>

                <div *ngIf="cf.input_type && !cf.input_type_date" class="col" style="display: flex; float: left; width: 125px;">
                  <input type="text" [name]="cf.name" [(ngModel)]="selectedCFValues[cf.name]"
                      [disabled]="!canEdit"
                      class="col" style="width: 94px;" [value]="selectedCFValues[cf.name]"
                      (keyup.enter)="saveInputCustomField($event, cf.name, cf.title)" />
                  <i *ngIf="canEdit" (click)="saveCustomField(cf.name, cf.title, selectedCFValues[cf.name]);" class="material-icons muted mr-5"
                    style="cursor: pointer; font-size: 14px; margin-left: 10px;color: #0bc6a0;">save</i>
                </div>

                <div *ngIf="cf.input_type && cf.input_type_date" >
                  <!-- Date Picker starts -->
                  <app-date-picker (date)="getCFDate($event, cf.name, cf.title)"
                    [selectedDate]="formateDate(selectedCFValues[cf.name])"
                    [styleClass]="'btn-group input-date'"
                    [canEdit]="canEdit">
                  </app-date-picker>
                  <!--Date Picker ends -->
                </div>

                <!-- Clean field starts -->
                <i *ngIf="canEdit" (click)="saveCustomField(cf.name, cf.title, null);"
                  class="material-icons muted mr-5"
                  style="cursor: pointer; font-size: 14px; margin-left: 10px;">remove_circle_outline</i>
                <!-- Clean field ends -->
            </div>
        </div>

        <app-task-actions *ngIf="postData && userData && postData?.type === 'task' && canEdit"
          [postData]="postData"
          [groupData]="groupData"
          [userData]="userData"
          [tasks]="tasks"
          [isNorthStar]="(postData?.task?.isNorthStar) ? postData?.task?.isNorthStar : false"
          [isIdea]="(postData?.task?.is_idea) ? postData?.task?.is_idea : false"
          [isIdeaModuleAvailable]="isIdeaModuleAvailable"
          [isShuttleTasksModuleAvailable]="isShuttleTasksModuleAvailable"
          [isMilestone]="(postData?.task?.is_milestone) ? postData?.task?.is_milestone : false"
          (parentTaskSelectedEmitter)="onParentTaskSelected($event)"
          (dependencyTaskSelectedEmitter)="onDependencyTaskSelected($event)"
          (taskClonedEmitter)="onTaskClonned($event)"
          (taskFromTemplateEmitter)="openParentTask($event)"
          (taskAllocationEmitter)="onAllocationChanged($event)"
          (transformIntoNorthStarEmitter)="transformToNorthStart($event)"
          (transformIntoMilestoneEmitter)="transformToMileStone($event)"
          (transformIntoIdeaEmitter)="transformToIdea($event)"
          (shuttleGroupEmitter)="setShuttleGroup($event)">
        </app-task-actions>

        <!-- APPROVAL STARTS -->
        <div class="content-box" *ngIf="postData && postData?.type === 'task' &&  isBusinessSubscription">
          <app-approval-actions
            [groupId]="groupData?._id"
            [userData]="userData"
            [itemData]="postData"
            [type]="'post'"
            [canEdit]="canEdit"
            (assigneeEmiter)="onAssigneeEmitter($event)"
            (approvalFlowLaunchedEmiter)="onApprovalFlowLaunchedEmiter($event)"></app-approval-actions>
        </div>
        <!-- APPROVAL ENDS -->
    </div>
    <!-- Top Right Section ends -->
</div>

<!-- Loading Spinner Starts -->
<ng-container *ngIf="isLoading$ | async">
  <app-loading-spinner class="media"></app-loading-spinner>
</ng-container>
<!-- Loading Spinner Ends -->
