.inline-block{
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

// .align-right{
//     display: flex;
//     justify-content: flex-end;
// }

// .align-left{
//     display: flex;
//     justify-content: flex-start;
// }

span.assigned{
    display: flex;
    line-height: 40px;
}
span.date{
    line-height: 15px;
    font-size: 12px;
    color: #313131;
    font-weight: 700;
}
.delete-icon{
    color: #dc3545;
    cursor: pointer;
}

.assign-icons{
    color:#fd7714;
    cursor: pointer;
    margin-left: -6px;
}

.column-title{
    text-transform: capitalize;
}

.capitalise{
    text-transform: capitalize;
}

.assigned.dropdown-toggle::after {
    display:none;
}

input{
    margin-left: 5%;
    margin-right: 5%;
}

img{
    cursor: pointer;
}

.save-task-content{
    display: flex;
    flex-flow: row-reverse;
    margin-left: auto;
    
}

.btn-outline-warning{
    object-fit: cover;
    color: #FD7714;
    border: 1px solid #FD7714;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    margin: 0 10px;
    // margin-top: -10px !important;
}
.dropdown-toggle:after { content: none }

.feed-avatar{
    width: 34px;
    height: 34px;
}