<!-- TASK MODAL DEFINATION STARTS -->

<!-- TASK TITLE STARTS-->
<div class="modal-header">
    <h4 class="modal-title" *ngIf="!editingTitle" (click)="editingTitle= true">{{ task?.title }}</h4>
    <p style="font-size: 20px; font-weight: bold;">
        <input *ngIf="editingTitle" [(ngModel)]="postTitle" type="text" id="title" class="tags"
            (keyup.enter)="saveTaskContent(task); editingTitle = false;" placeholder="Your Task title here" name="title"
            placement="right" ngbTooltip="Type & hit enter to add your title"></p>
    <button type="button" class="close" aria-label="Close" (click)="sendCloseModalMessage();">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- TASK TITLE ENDS -->

<div class="modal-body">

    <!-- TASK DETAILS STARTS -->
    <div class="row">
        <div class="col-md-3">

            <!-- TASK ASSIGNMENT STARTS -->
            <app-group-kanban-task-assignment
            [task]="task"
            [groupData]="groupData"
            [isModalView]=true
            (updatedTask) = "getUpdatedTask($event)">
            </app-group-kanban-task-assignment>
            <!-- TASK ASSIGNMENT ENDS -->

        </div>
        <div class="col-md-3">

            <!-- TASK DUE DATE STARTS -->
            <div *ngIf="task.task?.due_to != 'Invalid date'">
                    
                <span class="date">
                    <date-picker-modal [model_date]="modelDate" (picked_date)="setDate(task, $event)">
                    </date-picker-modal>
                        due {{task.task?.due_to | date}}
                </span>

            </div>
            <!-- TASK DUE DATE ENDS -->

        </div>

        <div class="col-md-6 text-right">

            <!-- TASK STATUS STARTS -->
            <div ngbDropdown class="inline-block">
                <button class="btn btn-sm kbn-todo" id="dropdownDone" *ngIf="task?.task?.status == 'to do'"
                    ngbDropdownToggle> To Do </button>
                <button class="btn btn-sm kbn-working" id="dropdownDone" *ngIf="task?.task?.status == 'in progress'"
                    ngbDropdownToggle> In Progress </button>
                <button class="btn btn-sm kbn-done" id="dropdownDone" *ngIf="task?.task?.status == 'done'"
                    ngbDropdownToggle> Done </button>
                <div ngbDropdownMenu aria-labelledby="dropdownToDo">
                    <button class="dropdown-item" (click)="changeStatus(task, 'to do')">To Do</button>
                    <button class="dropdown-item" (click)="changeStatus(task, 'in progress')">In
                        Progress
                    </button>
                    <button class="dropdown-item" (click)="changeStatus(task, 'done')">Done</button>
                </div>
            </div>
            <!-- TASK STATUS ENDS -->

            <!-- TASK CHANGE COLUMN STARTS -->
            <div ngbDropdown class="inline-block">
                <button class="btn btn-sm btn-light capitalise" ngbDropdownToggle> {{ task?.task?._column?.title }}
                </button>
                <div ngbDropdownMenu>
                    <button *ngFor="let column of columns" class="dropdown-item column-title"
                        (click)="sendMoveTaskMessage(task, task?.task?._column?.title, column?.title)">{{column?.title}}</button>
                </div>
            </div>
            <!-- TASK CHANGE COLUMN ENDS -->



        </div>
    </div>
    <!-- TASK DETAILS ENDS -->

    <!-- TASK CONTENT STARTS -->

    <quill-editor [modules]="quillModules" [spellcheck]="true" (onContentChanged)="onContentChanged($event)"
        [value]="task?.content" [(ngModel)]="taskContent">
    </quill-editor>
    <div style="margin-top: 15px;">
      <div class="row">
        <div class="col-9">
        <div class="row">
          <div class="col-lg-7 col-xl-6">
            <div class="d-inline">
              <button class="btn btn-primary float-left" (click)="saveTaskContent(task)"
                      [disabled]="taskContent == task?.content">Update description</button>
            </div>
            <div class="d-inline mx-2">
              <img *ngFor="let follower of followerList.slice(0,sliceLimitFollowerList ? 2 : followerList.length)"
                   class="followers-img" [src]="BASE_URL + '/uploads/' + follower.profile_pic"
                   onerror="this.src='/assets/images/user.png'" (click)="removeFollower(follower)"/>
              <button *ngIf="followerList.length > 2" class="add-followers" (click)="sliceLimitFollowerList = !sliceLimitFollowerList"><mat-icon class="material-icons"> more_horiz </mat-icon></button>
              <button class="add-followers" (click)="displaySearch = !displaySearch"><mat-icon class="material-icons"> add </mat-icon></button>
            </div>
          </div>
            <div class="col-5">
              <div class="d-inline-block search-users">
                <app-search-users *ngIf="displaySearch" (onUserSelect)="selectedUser($event)" [items]="followerList"></app-search-users>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <!-- DELETE TASK STARTS -->
          <button class="btn btn-danger float-right" (click)="deleteTask(task, user)">delete task</button>
          <!-- DELETE TASK ENDS -->
        </div>
      </div>
    </div>

    <!-- TASK CONTENT ENDS -->

    <!-- TASK ACTIONS STARTS -->
    <post-actions *ngIf="user" [post]="task" [commentCount]="commentCount" [commentsDisplayed]="commentsDisplayed"
        [user]="user" (toggleComments)="toggleComments()" (sendComments)="setComments($event)"
        (togglePostCommentEditor)="togglePostCommentEditor()" (editPost)="editPost()" (deletePost)="deleteTask(task, user)">
    </post-actions>
    <!-- TASK ACTIONS ENDS -->

    <!-- COMMENT SECTION STARTS -->
    <comment-section [post]="task" [(commentsDisplayed)]="commentsDisplayed" [modules]="quillModules" [user]="user"
        [allMembersId]="allMembersId" [user_data]="user_data" [socket]="socket" [group]="groupData"
        [comments]="comments" [(commentCount)]="commentCount">
    </comment-section>
    <!-- COMMENT SECTION ENDS -->


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-dark" ngbAutofocus (click)="sendCloseModalMessage();">Close</button>
</div>
<!-- TASK MODAL DEFINATION ENDS -->
