.inline-block{
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}


span.date{
    line-height: 15px;
    font-size: 12px;
    color: #313131;
    font-weight: 700;
}
.delete-icon{
    color: #dc3545;
    cursor: pointer;
}

.column-title{
    text-transform: capitalize;
}

.capitalise{
    text-transform: capitalize;
}

input{
    margin-left: 5%;
    margin-right: 5%;
}

img{
    cursor: pointer;
}

.save-task-content{
    display: flex;
    flex-flow: row-reverse;
    margin-left: auto;
    
}

.dropdown-toggle:after { content: none }