.inline-block{
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}


span.date{
    line-height: 15px;
    font-size: 12px;
    color: #313131;
    font-weight: 700;
}
.delete-icon{
    color: #dc3545;
    cursor: pointer;
}

.column-title{
    text-transform: capitalize;
}

.capitalise{
    text-transform: capitalize;
}

input{
    margin-left: 5%;
    margin-right: 5%;
}

img{
    cursor: pointer;
}

.save-task-content{
    display: flex;
    flex-flow: row-reverse;
    margin-left: auto;

}

.dropdown-toggle:after { content: none }

.followers-img, .add-followers {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.followers-img {
  border: 0.5px solid grey;
}

.add-followers {
  border: none;
  background: grey;
  color: white !important;
  padding: 5px 6px;
}

.add-followers:focus {
  outline: none;
}
