<div class="card sideinnercard">
  <h6 class="card-title"> Filter conversations <i class="material-icons float-right">filter_list</i></h6>
  <hr>
  <div class="squaredFour">
    <input [checked]="filters.normal" (click)="toggleFilter('normal')"  type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">

    </label> <span> Posts</span>
  </div>
  <div class="squaredFour">
    <input [checked]="filters.event" (click)="toggleFilter('event')"  type="checkbox" value="" id="defaultCheck2">
    <label class="form-check-label" for="defaultCheck2">

    </label> <span>Events</span>
  </div>
  <div class="squaredFour">
    <input [checked]="filters.task" (click)="toggleFilter('task')"  type="checkbox" value="" id="defaultCheck3">
    <label class="form-check-label" for="defaultCheck3">

    </label> <span>Tasks</span>
  </div>
  <div class="squaredFour">
    <input [checked]="filters.user" (click)="toggleFilter('user')" type="checkbox" value="" id="defaultCheck4">
    <label class="form-check-label" for="defaultCheck4">

    </label><span>User </span>
  </div>
  <div class="squaredFour">
      <input [checked]="filters.tags" (click)="toggleFilter('tags')" type="checkbox" value="" id="defaultCheck5">
      <label class="form-check-label" for="defaultCheck5">
  
      </label><span>Tags </span>
    </div>
  <input *ngIf="filters.user" type="text" [(ngModel)]="filters.user_value" (keyup)="filterPosts()" class="user-filter" placeholder="Enter user name">
  <input *ngIf="filters.tags" type="text" [(ngModel)]="filters.tags_value" (keyup)="filterPosts()" class="tags-filter" placeholder="Enter tag name">
</div>
