<div class="container" style="margin-bottom: 30px">
    <div class="media user-sticky-card">

        <img class="mr3 feed-avatar-big" 
            (click)="openDetails(content)" src="{{ baseUrl }}/{{ groupData?.group_avatar }}"
            onerror="this.src='/assets/images/icon-new-group.svg'"
            data-toggle="tooltip" 
            data-placement="bottom" 
            title="Change this group's avatar">

            <ng-template #content let-modal>
                <app-group-image-details [groupData]="groupData" [baseUrl]="baseUrl">
                </app-group-image-details>
             </ng-template>

        <div class="media-body">
            <div>
                <h2>{{ groupData?.group_name }}</h2>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard/groups/{{ groupData?._id }}/activity" routerLinkActive="active">Activity
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard/groups/{{ groupData?._id }}/tasks" routerLinkActive="active">Tasks
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard/groups/{{ groupData?._id }}/files" routerLinkActive="active">Files
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard/groups/{{ groupData?._id }}/calendar" routerLinkActive="active">Calendar
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard/groups/{{ groupData?._id }}/members" routerLinkActive="active">Members
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard/groups/{{ groupData?._id }}/admin" routerLinkActive="active">Admin
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>