<nav class="navbar d-none d-sm-block">

    <div class="rightside">

      <button class="btn badge-automator" (click)="openNewContactDialog()">
        <i class="material-icons-outlined">add</i>
        <span i18n="@@createGroup.newContact">New Contact</span>
      </button>

      <span class="separator"></span>
      
      <button class="btn badge-automator" (click)="openNewCompanyDialog()">
        <i class="material-icons-outlined">add</i>
        <span i18n="@@createGroup.newCompany">New Company</span>
      </button>
    </div>
</nav>
