/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #969A9E;
    transition: all 0.3s cubic-bezier(0.550, 0.055, 0.675, 0.190);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 0 24px;
}
  
#sidebar.active {
    left: 0;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #5E6268;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 15px;
    display: block;
    color: #969A9E;
}

#sidebar ul li a:hover {
    color: #005fd5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #005fd5;
    /* background: #6d7fcc; */
}
  
a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 15px !important;
    padding-left: 12px !important;
    /* background: #6d7fcc; */
    color: #5E6268 !important;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.carret{
   vertical-align: text-bottom;     
}


#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 0px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
  
#dismiss:hover {
    color: #005fd5;
}