/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
@import "src/assets/scss/_variables";



#sidebar {
    min-height: 100vh;
    background: #005FD5;
    color: #FFFFFF;
    padding: 0 10px;
    width: 210px;
    overflow-y: hidden;

    a {
      cursor: pointer;
    }
}


.sidebar-header {
    margin-top: 20px;
    background: #fff;
    //width: 100%;
    //height: 70px;
    //position: absolute;
    //z-index: 10;
    background: inherit;
}

.octonius-logo{
    margin-left: 10px;
}

.components {
    // padding: 20px 5px;
  margin-top:20px;
  margin-left:0px;
    a{
        font-size: 14px;
        display: block;
        color: #fff;
        font-weight: 700;
        &:hover{
            color: #E4EDF8;
            text-decoration: none !important;
        }
        i{
            margin-top: -5px;
            margin-right: 5px;
        }


    }
    li{
      margin:30px auto;
    }
}


a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 12px !important;
    /* background: #6d7fcc; */
    color: #FFFFFF;
    font-weight: 400 !important;


}

ul ul li{
  margin: 10px 15px;
}

// .carret{
//    vertical-align: text-bottom;
// }


.dismiss {
    line-height: 24px;
    text-align: center;
    position: absolute;
    left: 158px;
    cursor: pointer;
      color: #FFFFFF;
      opacity: 0.7;
    text-decoration: none;

    &:hover{
        color: $border-color;
    }
  }



.menu-options {
    // margin-top: -25px;
    // z-index: 5;
}

ul ul{
    width: 100%;
}

.badge-primary{
    padding: 5px 15px;
    background: #E4EDF8;
    color: #005FD5;
}
.divider-line{
   border-top: 1px solid rgba(0, 28, 71, 0.07);
}

// .active a {
//     background: #e4edf8;
//     color: #005fd5 !important;
//     border-radius: 4px;
//     &:hover{
//       background: #e4edf8;
//       color: #005fd5 !important;
//       border-radius: 4px;
//     }
// }
