<nav id="sidebar">
    <div class="sidebar-header">
        <a [routerLink]="['/dashboard', 'myspace', 'inbox']" routerLinkActive="router-link-active" (click)="this.sideNav.toggle()">
            <img src="assets/images/logo.svg" alt="" class="octonius-logo">
        </a>

        <div id="dismiss">
            <i class="material-icons" (click)="this.sideNav.toggle()">close</i>
        </div>
    </div>

    <div class="menu-options">
        <ul class="list-unstyled components">
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                    
                    <i class="material-icons-outlined carret">person</i>
                    MY SPACE 
                    <i class="material-icons-outlined carret">keyboard_arrow_down</i>
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a [routerLink]="['/dashboard', 'myspace', 'inbox']" routerLinkActive="router-link-active" (click)="this.sideNav.toggle()">
                            Inbox
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/dashboard', 'myspace', 'tasks']" (click)="this.sideNav.toggle()">
                            Tasks
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/dashboard', 'myspace', 'agenda']" (click)="this.sideNav.toggle()">
                            Agenda
                        </a>
                    </li>
                    <li>
                        <a routerLink="/dashboard/work/groups/activity" [queryParams]="{ group: userData?._private_group, myWorkplace: true }" (click)="this.sideNav.toggle()">
                            Personal workplace
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" style="float: left;">
                   
                    <i class="material-icons-outlined carret">business_center</i>
                    WORK 
                    <i class="material-icons-outlined carret">keyboard_arrow_down</i>
                </a>
                <a routerLinkActive="active" routerLink="/dashboard/work/groups/all" style="margin-left: 250px;" (click)="this.sideNav.toggle()">
                    <span class="badge badge-primary">see all</span>
                </a>
               
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li *ngFor="let group of userGroups; trackBy: utilityService.trackByIndex">
                        <a [routerLink]="['/dashboard', 'work', 'groups', 'activity']"
                            [queryParams]="{ group: group?._id, myWorkplace: false  }" (click)="this.sideNav.toggle()">

                            <img class="avatar" src="{{ this.groupBaseUrl }}/{{group.group_avatar}}"
                                onerror="this.src='assets/images/icon-new-group.svg'">
                            {{group?.group_name}}
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/dashboard', 'admin', 'general']" routerLinkActive="active" (click)="this.sideNav.toggle()">
                    <i class="material-icons-outlined">settings</i>
                    SETTINGS & ADMINISTRATION<span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>

        <div>
            <hr>
            <ul class="list-unstyled">
                <li>
                    <!-- USER PROFILE BADGE STARTS -->
                    <a class="nav-link" *ngIf="this.userData"
                        [routerLink]="['/dashboard', 'user', 'profile']"
                        [queryParams]="{ userId: userData?._id}" (click)="this.sideNav.toggle()" >
                        <img src="{{userBaseUrl}}/{{userData?.profile_pic}}" 
                        onerror="this.src='assets/images/user.png'"
                        class="avatar">
                        MY ACCOUNT
                    </a>
                    <!-- USER PROFILE BADGE ENDS -->
                </li>

                <li>
                    <!-- LOGOUT FUNCTION STARTS-->
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="logout()">
                        <i class="material-icons-outlined carret">power_settings_new</i>
                        LOGOUT
                        <span class="sr-only">(current)</span>
                    </a>
                    <!-- LOGOUT FUNCTION ENDS-->
                </li>
            </ul>
        </div>
    </div>
</nav>
