<nav id="sidebar">
    <div class="sidebar-header" [ngStyle]="{'top': (isMobile) ? 0 : 'none', 'left': (isMobile) ? 0 : 'none'}">
        <a [routerLink]="['/dashboard', 'myspace', 'inbox']" routerLinkActive="router-link-active">
            <img src="assets/images/white_logo.svg" alt="" class="octonius-logo">
        </a>

        <!-- MENU BUTTON STARTS -->
        <button *ngIf="!isMobile" type="button" id="sidebarCollapse" class="btn dismiss" (click)="switchSideBar()" >
            <i class="material-icons">menu_open</i>
        </button>
        <!-- MENU BUTTON ENDS -->
    </div>

    <div class="menu-options">
        <ul class="list-unstyled components">
            <li>
              <a [routerLink]="['/dashboard', 'myspace', 'inbox']"
                  [queryParams]="{myWorkplace: true}"
                  routerLinkActive="active">
                    <i class="material-icons-outlined carret">home</i>
                    <span i18n="@@sidebar.mySpace">My Space</span>
              </a>
            </li>
            <li> <hr class="divider-line"></li>

            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="true">
                    <i class="material-icons-outlined carret">star_outline</i>
                    <span i18n="@@sidebar.favorites">Favorites</span>
                    <i class="material-icons-outlined carret">keyboard_arrow_down</i>
                </a>

                <ul class="collapse list-unstyled show" id="pageSubmenu">
                    <li *ngFor="let group of userGroups; trackBy: utilityService.trackByIndex">
                        <a (click)="changeState('groups_activity')" [routerLink]="['/dashboard', 'work', 'groups', 'activity']"
                            [queryParams]="{ group: group?._id, myWorkplace: false  }" routerLinkActive="active">

                            <app-secured-image
                              [imgURL]="group?.group_avatar"
                              [service]="'group'"
                              [styleClass]="'avatar'"></app-secured-image>
                            {{ group?.group_name | truncatetext: 16 }}
                        </a>
                    </li>
                </ul>
            </li>
            <li> <hr class="divider-line"></li>
            <li>
              <a routerLinkActive="active"
                  routerLink="/dashboard/work/groups/all"
                  class="explore-work">
                    <i class="material-icons-outlined carret">groups</i>
                    <span i18n="@@sidebar.exploreWork">Workplace</span>
              </a>
            </li>

            <li> <hr class="divider-line"></li>
            <li *ngIf="this.userData?.role === 'admin' || this.userData?.role === 'owner'">
                <a (click)="changeState('general')"
                    class="nav-link"
                    [routerLink]="['/dashboard', 'admin', 'general']"
                    routerLinkActive="active">
                      <i class="material-icons-outlined">settings</i>
                      <span i18n="@@sidebar.administration">Administration</span>
                      <span class="sr-only">(current)</span>
                </a>
            </li>

            <li>
                <!-- USER PROFILE BADGE STARTS -->
                <a class="nav-link" *ngIf="this.userData"
                  [routerLink]="['/dashboard', 'user', 'profile']"
                  [queryParams]="{ userId: userData?._id}"
                  routerLinkActive="active"
                  (click)="changeState('profile')">
                    <app-secured-image
                        [imgURL]="userData?.profile_pic"
                        [service]="'user'"
                        [styleClass]="'avatar'"></app-secured-image>
                    <span i18n="@@sidebar.myAccount">My Account</span>
                </a>
                <!-- USER PROFILE BADGE ENDS -->
            </li>

            <li>
                <!-- LOGOUT FUNCTION STARTS-->
                <a class="nav-link"
                    [routerLink]="['/']"
                    routerLinkActive="router-link-active"
                    (click)="logout()">
                      <i class="material-icons-outlined carret">logout</i>
                      <span i18n="@@sidebar.signOut">Sign Out</span>
                      <span class="sr-only">(current)</span>
                </a>
                <!-- LOGOUT FUNCTION ENDS-->
            </li>
        </ul>
    </div>
</nav>
