/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    min-height: 100vh;
    background: #005FD5;
    color: #FFFFFF;
    padding: 0;
    width: 200px;
}


.sidebar-header {
    padding: 20px 0 0 10px;
    background: #fff;
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 10;
    background: inherit;
}

.octonius-logo{
    margin-left: 10px;
}

.components {
    padding: 20px 5px;
    li a{
        padding: 10px;
        font-size: 14px;
        display: block;
        color: #FFFFFF;
        &:hover{
            color: #E4EDF8 !important;
            text-decoration: none !important;
        }
    }
}


a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 13px !important;
    /* background: #6d7fcc; */
    color: #FFFFFF !important;
    font-weight: 400;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.carret{
   vertical-align: text-bottom;
}


.dismiss {
    line-height: 24px;
    text-align: center;
    position: absolute;
    left: 158px;
    cursor: pointer;
      color: #FFFFFF;
    text-decoration: none;

    &:hover{
        color: #005FD5;
        background:#fff;
        box-shadow: 4px 4px 24px 0 rgba(37, 38, 94, 0.8);
    }
  }
  

.menu-options {
    margin-top: 50px;
    z-index: 5;
    overflow: auto;
}
ul ul{
    width: 100%;
}

.badge-primary{
    padding: 5px 15px;
    background: #E4EDF8;
    color: #005FD5;
}