/*
    DEMO STYLE

    this needs cleanup as soon as we merge the components
*/

@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
body {
    font-family: 'Nunito', sans-serif;
    background: #fafafa;
    font-size: 15px;
}



a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

h2{
    float: left;
    line-height: 60px;
    .material-icons{
      font-size: 30px;
      color:#E0E3E6;
    }
  }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 350px;
    position: fixed;
    top: 0;
    left: -355px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #969A9E;
    transition: all 0.3s cubic-bezier(0.550, 0.055, 0.675, 0.190);
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 0 24px;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 0px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    color: #005fd5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #5E6268;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 15px;
    display: block;
    color: #969A9E;
}

#sidebar ul li a:hover {
    color: #005fd5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #005fd5;
    /* background: #6d7fcc; */
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 15px !important;
    padding-left: 12px !important;
    /* background: #6d7fcc; */
    color: #5E6268 !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.carret{
   vertical-align: text-bottom;     
}