/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    height: 100vh;
    background: #005FD5;
    color: #FFFFFF;
    padding: 0 24px;
}

#sidebar.active {
    left: 0;
}

.sidebar-header {
    padding: 20px 0 0 10px;
    background: #fff;
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 10;
    background: inherit;
}

.components {
    padding: 20px 0;
    li a{
        padding: 10px;
        font-size: 15px;
        display: block;
        color: #FFFFFF;
        &:hover{
            color: #E4EDF8 !important;
            text-decoration: none !important;
            border-radius: 4px;
        }
    }
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #FFFFFF;

}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 15px !important;
    padding-left: 12px !important;
    /* background: #6d7fcc; */
    color: #FFFFFF !important;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.carret{
   vertical-align: text-bottom;
}


.dismiss {
    line-height: 24px;
    text-align: center;
    position: absolute;
    right: 3px;
    cursor: pointer;
      color: #FFFFFF;
    text-decoration: none;

    &:hover{
        color: #005FD5;
        background:#fff;
        box-shadow: 4px 4px 24px 0 rgba(37, 38, 94, 0.8);
    }
  }
  

.menu-options {
    margin-top: 50px;
    z-index: 5;
    overflow: auto;
}
ul ul{
    width: 100%;
}
