/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
@import "src/assets/scss/_variables";



#sidebar {
    min-height: 100vh;
    background: #005FD5;
    color: #FFFFFF;
    padding: 0 10px;
    width: 210px;
    overflow-y: hidden;
}


.sidebar-header {
    padding: 20px 0 0 10px;
    background: #fff;
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 10;
    background: inherit;
}

.octonius-logo{
    margin-left: 10px;
}

.components {
    padding: 20px 5px;
    li a{
        padding: 10px;
        font-size: 15px;
        font-weight: 700;
        display: block;
        color: $border-color;
        &:hover{
            color: #E4EDF8 !important;
            text-decoration: none !important;
            background: rgba(0, 28, 71, 0.2);
            border-radius: 4px;
        }
        i{
            margin-top: -5px;
        }
    }
}


a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 12px !important;
    /* background: #6d7fcc; */
    color: #FFFFFF !important;
    font-weight: 400 !important;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.carret{
   vertical-align: text-bottom;
}


.dismiss {
    line-height: 24px;
    text-align: center;
    position: absolute;
    left: 158px;
    cursor: pointer;
      color: #FFFFFF;
      opacity: 0.7;
    text-decoration: none;

    &:hover{
        color: $border-color;
    }
  }
  
  .explore-work{
    color: #fff !important;
    text-decoration: none !important;
    background: rgba(0, 28, 71, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(228, 237, 248, 0.6);
  }

.menu-options {
    margin-top: 50px;
    z-index: 5;
}

ul ul{
    width: 100%;
}

.badge-primary{
    padding: 5px 15px;
    background: #E4EDF8;
    color: #005FD5;
}
.divider-line{
   border-top: 1px solid rgba(0, 28, 71, 0.07);
}