@import "src/assets/scss/variables";
@import "src/assets/scss/tasks";

a {
    text-decoration: none !important;
    color: inherit;
}

img {
    display:block;
    width: 100%;
}

.smart-card {
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
box-shadow: 0px 1px 1px rgb(0 0 0 / 14%);
  min-height: 260px;
  height: 100%;
}

.section {
  height: 60px;
  padding: 0 5px;
  background: white;
  width: 100%;
  background: #FFFFFF;
  border-bottom: 1px solid #E4EDF8;
  box-sizing: border-box;
  margin: 2px auto;
  display: flex;
  align-items: center;

  .section-title {
    min-width: 300px;
    color: #9D9FA2;
    text-transform: uppercase;
  }

  .section-percentage {
    min-width: 100px;
    color: #4A90E2;
  }

  .section-tasks {
    min-width: 100px;
    color: #FFAB00;
  }

  .section-allocation {
    min-width: 100px;
    color: #26A69A;
  }

  .section-cost {
    min-width: 100px;
    color: #26A69A;
  }
}
