@import "src/assets/scss/auth";

.selected-workplace {
	color: #fff !important;
	border: 1px solid rgba(228, 237, 248, 0.6);
	text-decoration: none !important;
	background: #3b99fcb0;
	border-radius: 4px;
	padding: 10px;
}