<!-- Assignee section for tasks starts -->
<section [id]="post?._id" *ngIf="type === 'task'">
    <app-secured-image
        [imgURL]="taskAssignee?.profile_pic"
        [service]="'user'"
        [workspaceId]="(userData?._workspace?._id || userData?._workspace)"
        [styleClass]="'feed-avatar'"></app-secured-image>
    <p *ngIf="assigned"> {{taskAssignee?.first_name}} <span *ngIf="!showBar">{{ taskAssignee?.last_name }}</span></p>
    <p *ngIf="!assigned" i18n="@@selectedAssignee.unassigned">Unassigned</p>
    <app-component-search-input-box
        *ngIf="type === 'task' && userData && checkDataExist(userData) && showBar"
        [placeholder]="'Assign...'"
        [groupId]="groupId"
        [workspaceId]="(userData?._workspace?._id || userData?._workspace)"
        [userData]="userData"
        [type]="type"
        (member)="getMemberDetails($event)">
    </app-component-search-input-box>
</section>
<!-- Assignee section for tasks ends -->

<!-- Assignee section for events starts -->
<section [id]="post?._id" *ngIf="type === 'event'">
    <p *ngIf="!eventAssignedToAll(eventMembersMap)" style="padding-top: 20px;"><span i18n="@@selectedAssignee.assignedTo">Assigned to</span> {{ eventMembersMap.size }}</p>
    <p *ngIf="eventAssignedToAll(eventMembersMap)" style="padding-top: 20px;" i18n="@@selectedAssignee.assignedToAll">Assigned to all</p>

    <app-component-search-input-box
        *ngIf="type === 'event' && userData && checkDataExist(userData) && showBar"
        [placeholder]="'Assign...'"
        [groupId]="groupId"
        [workspaceId]="(userData?._workspace?._id || userData?._workspace)"
        [userData]="userData"
        [type]="type"
        (member)="getMemberDetails($event)">
    </app-component-search-input-box>
</section>
<!-- Assignee section for events ends -->

<!-- Assignee section for tasks starts -->
<section [id]="userData?._id" *ngIf="type === 'workspaceMembers'">
  <app-secured-image *ngIf="userData"
      [imgURL]="userData?.profile_pic"
      [service]="'user'"
      [workspaceId]="(userData?._workspace?._id || userData?._workspace)"
      [styleClass]="'feed-avatar'"></app-secured-image>
  <p *ngIf="userData"> {{userData?.first_name}} {{ userData?.last_name }}</p>

  <app-component-search-input-box style="position: initial;"
      *ngIf="showBar"
      [placeholder]="'Select...'"
      [workspaceId]="(userData?._workspace?._id || userData?._workspace)"
      [userData]="userData"
      [type]="type"
      (member)="getMemberDetails($event)">
  </app-component-search-input-box>
</section>
<!-- Assignee section for tasks ends -->
