
<div class="smart-card" style="padding: 10px;">

  <div class="row" style="margin: 0 0 20px;">
    <div class="card-title mt-1">
      Recent work
    </div>
  </div>

  <!-- groups list  -->
  <div class="media" *ngFor="let group of recentGroups" (click)="goToGroup(group?._group?._id)" style="cursor: pointer;">
    <app-secured-image
      [src]="group?._group?.group_avatar"
      [service]="'group'"
      [styleClass]="'mr-3 group-avatar'"></app-secured-image>
    <div class="media-body">
      <h5 class="mt-0 post-title title-nowrap">{{ group?._group?.group_name }}</h5>
    </div>
  </div>
</div>

