
<div class="smart-card" style="padding: 10px;">
  
    <div class="row" style="margin: 0 0 20px;">
        <div class="card-title mt-1">
            Recent work
          </div>
        
    </div>

<!-- groups list  -->
            
    <div class="media">
        <img src="https://picsum.photos/200?random=1" class="mr-3 group-avatar">
        <div class="media-body">
          <h5 class="mt-0 post-title title-nowrap">Product Design</h5>
        </div>
      </div>

      <div class="media">
        <img src="https://picsum.photos/200?random=2" class="mr-3 group-avatar">
        <div class="media-body">
          <h5 class="mt-0 post-title title-nowrap">Development</h5>
        </div>
      </div>

      <div class="media">
        <img src="https://picsum.photos/200?random=3" class="mr-3 group-avatar">
        <div class="media-body">
          <h5 class="mt-0 post-title title-nowrap">Marketing</h5>
        </div>
      </div>

      

    </div>

