<div class="modal1 center">
    <div class="modal-container center">
      <span class="close" (click)="host.nativeElement.remove()">&times;</span>
      <div class="contain-elements">
        <div class="element">
            <label>Enter Resize percentage :</label><input onkeypress='return event.charCode >= 48 && event.charCode <= 57' style="width: 15%;margin-left: 8px;" type="text" [(ngModel)]="percentage">
        </div>
        <div class="element">
          <table>
            <tr>Alignment : </tr>
            <tr>
              <td>
              <label class="alignment" for="alignright">Align Right</label>
              </td>
              <td>
              <input id="alignright" type="radio" value="right" name="alignment" [(ngModel)]="alignment">
              </td>
            </tr>
            <tr>
              <td>
              <label class="alignment" for="alignleft">Align Left</label>
              </td>
              <td>
              <input id="alignleft" type="radio" value="left" name="alignment" [(ngModel)]="alignment">
              </td>
            </tr>
            <tr>
              <td>
              <label class="alignment" for="aligncenter">Align Center</label>
              </td>
              <td>
              <input id="aligncenter" type="radio" value="center" name="alignment" [(ngModel)]="alignment">
              </td>
            </tr>
          </table>
        </div>
        <div class="submit element" (click)="onSubmit()">
          Submit
        </div>
      </div>
    </div>
</div>