<div class="root">
  <!-- <div class="navbar has-background-dark">
      <div class="navbar-brand">
        <div class="navbar-item">
          <h1 class="app-name has-gradient-text">kanban</h1>
        </div>
      </div>
    </div> -->


  <div class="board">


    <div class="board-bar">
      <div class="row">
        <div class="col-md-1">
          <a class="navbar-brand" (click)="goBack()" style="cursor: pointer;">
            <a class="navbar-brand" routerLink="/dashboard/overview">
              <i class="material-icons"  style="line-height: 45px;">arrow_back </i>
            </a>
          </a>

        </div>
        <div class="col-md-10 text-center">
          <h1 style="margin-top:15px">{{ groupData?.group_name }} Board</h1>
        </div>
        <div class="col-md-1"><i class="icon-octo-logo" style="line-height: 55px;"></i></div>

      </div>
    </div>


    <div class="board-wrapper">

      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" id="column.title" *ngFor="let column of columns; trackBy: trackByIdx">

          <div class="column-title">
           <h4> {{ column?.title }}</h4>
            <div class="delete-column"
              *ngIf="!(column.title =='to do')"
              (click)="deleteColumn(this.groupId, column)">
              <i class="material-icons">
                delete
              </i>
            </div>
            <div class="edit-column"
              *ngIf="!(column.title =='to do')"
              (click)="column.editColumn = true; this.newColumnName = column.title;">
              <i class="material-icons">
                edit
              </i>
            </div>
          </div>

          <div class="column-title" *ngIf="column.editColumn">
            <input class="form-control" style="margin-bottom: 10%;" type="text" placeholder="Provide the column name"
              [(ngModel)]="newColumnName">
            <div class="row button-group">
              <button class="col-md-6 btn btn-sm btn-primary"
                (click)="editExistingColumn(this.groupId, column.title ,this.newColumnName); column.editColumn = false; this.newColumnName = '';">Save</button>
              <button class="col-md-6 btn btn-sm btn-danger"
                (click)="column.editColumn = false; this.newColumnName = '';">Cancel</button>
            </div>
          </div>

          <div class="tasks-container" [id]="column.title" cdkDropList [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event)">
            <div class="create-task task" (click)="column.addTask = true;">
              + Create New Task
            </div>

            <div class="task" *ngIf="column.addTask">
              <input class="form-control" style="margin-bottom: 10%; margin-right: 10%;" type="text"
                placeholder="Provide the task title" [(ngModel)]="newTaskTitle">
              <div class="row button-group">
                <div class="approve-task"
                  (click)="createNewTask(column, this.newTaskTitle); column.addTask = false; this.newTaskTitle = '';">
                  <i class="material-icons">
                    done
                  </i>
                </div>
                <div class="discard-task" (click)="column.addTask = false; this.newTaskTitle = '';">
                  <i class="material-icons">
                    clear
                  </i>
                </div>

              </div>
            </div>
            <div class="task" *ngFor="let task of column.tasks; let j = index; trackBy: trackByIdx" (click)="openTask(content)" cdkDrag>
              {{ task?.title }}
              <ng-template #content let-modal>

              <app-group-kanban-task-view
              [task] = "task"
              [columns] = "columns"
              [allMembersId]="allMembersId"
              [groupData]="groupData"
              [socket] = "socket"
              [quillModules]="quillModules"
              (closeModal) = "closeTaskModal($event)"
              (moveTask)="moveTaskFromDropDown($event)">
              </app-group-kanban-task-view>

              </ng-template>
            </div>

          </div>

        </div>

        <div class="board-column">

          <div class="column-title create-column" (click)="this.createColumn = true">
            + Create new column
          </div>

          <div class="column-title" *ngIf="this.createColumn">
            <input class="form-control" style="margin-bottom: 10%;" type="text" placeholder="Provide the column name"
              [(ngModel)]="newColumnName">
            <div class="row button-group">
              <button class="col-md-6 btn btn-sm btn-primary"
                (click)="createNewColumn(this.groupId, this.newColumnName)">Save</button>
              <button class="col-md-6 btn btn-sm btn-danger" (click)="this.createColumn = false">Cancel</button>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>