<!-- PULSE GROUPS ITERATOR STARTS -->
<app-infinite-scroll (scrolled)="onScroll()">

  <div *ngFor="let group of pulseGroups; let i = index; trackBy: utilityService.trackByIndex" class="group-elem">
    <div class="row"
      (click)="openModal(group.group_name, this.baseUrl + '/' + group.group_avatar, group.pulse_description ? group.pulse_description: 'Waiting for a new Pulse...', pulseToDoTasks[group._id], pulseInProgressTasks[group._id], pulseDoneTasks[group._id])">

      <!-- GROUP DETAILS STARTS -->
      <div class="col-md-1"><img class="feed-avatar" src="{{ this.baseUrl }}/{{group?.group_avatar}}"
          onerror="this.src='/assets/images/group.png'" alt="group_avatar">
      </div>
      <div class="group-name col-md-2"> {{ group.group_name }} </div>
      <div class="pulse-desc col-md-4">
        {{ group.pulse_description ? group.pulse_description : "Waiting for a new Pulse..." }}
      </div>
      <!-- GROUP DETAILS ENDS -->

      <!-- SPACE INCREMENTOR STARTS -->
      <div class="col-md-1"></div>
      <!-- SPACE INCREMENTOR ENDS -->

      <!-- TOTAL TASKS STARTS -->
      <div class="col-md-2">
        <div class="group-total-tasks float-left">{{ pulseTotalTasks[group?._id] || 0 }}</div>
      </div>
      <!-- TOTAL TASKS ENDS -->

      <!-- TO DO, IN PROGRESS AND DONE TASKS STARTS -->
      <div class="col-md-2">
        <div class="group-todo-tasks float-left">{{ pulseToDoTasks[group?._id] || 0 }}</div>
        <div class="group-in-progress-tasks float-left">{{ pulseInProgressTasks[group?._id] || 0 }}</div>
        <div class="group-done-tasks float-left ">{{ pulseDoneTasks[group?._id] || 0 }}</div>
      </div>
      <!-- TO DO, IN PROGRESS AND DONE TASKS ENDS -->
    </div>
  </div>
  
</app-infinite-scroll>
<!-- PULSE GROUPS ITERATOR ENDS -->

<!-- LOADING SPINNER STARTS -->
<ng-container *ngIf="isLoading$ | async">
  <app-loading-spinner></app-loading-spinner>
</ng-container>
<!-- LOADING SPINNER ENDS -->

<!-- SECTION SEPARATOR INDICATOR STARTS -->
<app-section-separator *ngIf="!moreToLoad"></app-section-separator>
<!-- SECTION SEPARATOR INDICATOR ENDS -->