
  button.ql-authorship-toggle {
      width: 70px!important;
  }

  @media (min-height: 300px) {
    ::ng-deep .ql-toolbar{
      position: sticky;
      top: 80px;
    }
  }

  @media (min-height: 300px) {
    div.comments{
      position: sticky;
      top: 80px;
    }
  }

  div.layoutRow {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
  }
  
  div.layoutCol {
    flex: 1;
    border: 1px dashed black;
    padding:5px;
    margin-right: 5px;
  }
  
