
<app-collaborative-doc-group-navbar 
(clickBack)="backClicked()" (clickPreview)="showPreview()" [post]="post" [docStatus]="docStatus" (docTitle)="getPostTitle($event)">
</app-collaborative-doc-group-navbar>


<div class="row mx-0" [style.position]="fixedForPreview" style="margin-top: 110px; margin-left: 16px">
  <div class="col-md-8">
    

    <div
      style="height: 30px;position: fixed;z-index: 2;left: 0;right: 0;top: 80px;width: 67vw;background: #f3f4f6;"></div>
    <div id="editor" style="background: white; margin-top: 68px;">
      </div>
    </div>

    <div class="col-md-4">
      <div class="comments">
      <app-collaborative-doc-group-comments
      [post]="post"
      [user_data]="user_data"
      [user]="user_data"
      [comments]="comments"
      [comments_count]="comment_count">
      
    </app-collaborative-doc-group-comments>
    </div>
    </div>
  </div>
  <!-- <button (click)="showPreview()" style = "position: absolute;top:0;left:0;background:black; z-index: 99999"><i class="material-icons">
      subtitles
        </i>

      </button> -->
      <div *ngIf = "previewbool" style="position: absolute;top:0;left:0;background:black; z-index: 9999">
          <dialog-overview-example-dialog *ngIf = "previewbool" [receivedParentMessage] = "editorPreview" (closeView11) = "closePreview($event)" >
          </dialog-overview-example-dialog>
        </div>
