  
  button.ql-authorship-toggle {
      width: 70px!important;
  }

  @media (min-height: 300px) {
    ::ng-deep .ql-toolbar{
      position: sticky;
      top: 80px;
    }
  }

  @media (min-height: 300px) {
    div.comments{
      position: sticky;
      top: 80px;
    }
  }

  div.layoutRow {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
  }
  
  div.layoutCol {
    flex: 1;
    border: 1px dashed black;
    padding:5px;
    margin-right: 5px;
  }


  .modal-dialog {
    margin: 0 !important;
  }

  .modal-content {
    height: 100vh;
    width: 100vw;
  }


  .ql-toolbar.ql-snow {
    position: fixed !important;
    display: inline-block;
    top: 110px;
    left: 14px;
    flex: 0 0 66.6666666667%;
    max-width: 65%;
    width: 100%;
  }
