<app-collaborative-doc-group-navbar 
(clickBack)="backClicked()" [post]="post" [docStatus]="docStatus" (docTitle)="getPostTitle($event)">
</app-collaborative-doc-group-navbar>


<div class="row" style="margin-top: 110px; margin-left: 1%">
  <div class="col-md-8">
    
<!-- <div class="toolbar" id="toolbar">
    <div id="toolbar-container">
        <span class="ql-formats">
            <button ngbTooltip="Insert Table" placement="bottom" class="ql-table" [value]="this.tableOptions">
              <i class="material-icons">
                table_chart
                </i>
            </button>
            <button ngbTooltip="Insert Row" placement="bottom" class="ql-table" value="append-row"></button>
            <button ngbTooltip="Insert Column" placement="bottom" class="ql-table" value="append-col"></button>
          </span>
      <span class="ql-formats">
        <select class="ql-font"></select>
        <select class="ql-size"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-color"></select>
        <select class="ql-background"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-header" value="1"></button>
        <button class="ql-header" value="2"></button>
        <button class="ql-blockquote"></button>
        <button class="ql-code-block"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <button class="ql-indent" value="-1"></button>
        <button class="ql-indent" value="+1"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-direction" value="rtl"></button>
        <select class="ql-align"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-link"></button>
        <button class="ql-image"></button>
        <button class="ql-video"></button>
        <button class="ql-formula"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-clean"></button>
      </span>
      <span class="ql-formats">
        <button c class="ql-authorship-toggle"><i class="material-icons">
          subtitles
          </i></button>
      </span>
      <!-- <span class="ql-formats">
        <button ngbTooltip="Insert Table" placement="bottom" (click)="insertTestTable();" class="track-changes"><i class="material-icons">
          subtitles
          </i></button>
      </span>
      <span class="ql-formats">
        <button ngbTooltip="Insert Column" placement="bottom" (click)="insertColumnTest();" class="track-changes"><i class="material-icons">
          subtitles
          </i></button>
      </span> -->
    </div>
  </div>  -->
      <div id="editor" style="background: white;">
      </div>
    </div>

    <div class="col-md-4">
      <div class="comments">
      <app-collaborative-doc-group-comments
      [post]="post"
      [user_data]="user_data"
      [user]="user_data"
      [comments]="comments"
      [comments_count]="comment_count">
      
    </app-collaborative-doc-group-comments>
    </div>
    </div>
  </div>
