:host ::ng-deep td, tr {
    border: 1px solid black;
  }
:host ::ng-deep table{
    width:100%;
    margin: 0 auto;
}
:host ::ng-deep p{
  width:100%;
  margin: 0 auto;
}
:host ::ng-deep img{
  max-width:100%;
}