.pages-tree ul,
.pages-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
// .pages-tree .mat-nested-tree-node div[role=group] {
//     padding-left: 20px;
// }

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
// .pages-tree div[role=group]>.mat-tree-node {
//     padding-left: 20px;
// }

.mat-tree{
    background-color: transparent;
}

.pageitem{
    text-decoration: none;
    color: #242d3a;
    &:hover{
        color:#005fd5;
    }
}

.selected-node{
    color:#005fd5;
    font-weight: bold;
}

