
@import "../../../assets/scss/variables";

.navig {
    padding-top: 30px;
    margin: auto;
}
.card {
    padding: 5px;
    border-radius: $card-radius;
    border: none !important;
    margin:0;
    background: transparent !important;
    .card-body{
        background: #fff;
    }
    .card-title{
        margin-bottom: 0px !important;
    }
}
.card-img-top{
  width: 100%;
  height: 180px;
  border-radius: $card-radius;
  object-fit: cover;
}

.badge-members{
background: #fff;
padding:5px;
font-weight: 500;
text-align: center;
color: $brand-primary;
position: absolute;
right:20px;
top:20px;
box-shadow: 0 4px 10px 0 rgba(37, 38, 94, 0.1); 
}

.btn-join {
    position: absolute;
    right: 20px;
    bottom: 80px;
    width: 80px;
    font-weight: bold;
    color: #fff !important;
}

.btn-public {
    position: absolute;
    right: 20px;
    bottom: 80px;
    width: 80px;
    font-weight: bold;
    color: #fff !important;
    cursor: default;
}

.btn-smart {
    position: absolute;
    right: 20px;
    bottom: 80px;
    width: 80px;
    font-weight: bold;
    color: #fff !important;
    cursor: default;
}