<!--CREATE TASKS-->

<div class="row" style="margin-bottom: 1%;" *ngIf="!this.isItMyTasks">
  <div class="col-md-4">
    <button class="btn btn-primary stickybtn" id="task" (click)="openNewTaskModal(newTaskModal)"> <i
        class="material-icons">check</i> New Task</button>
  </div>
</div>

<!--CREATE TASKS-->
<div class="row">
  <!--TODO TASKS-->
  <div class="col-md-4" cdkDropList #todoList="cdkDropList" id="todo" [cdkDropListData]="toDoTasks"
  [cdkDropListConnectedTo]="[progressList,doneList]" (cdkDropListDropped)="onTaskDrop($event)">
    <div class="kanbanheader kbn-todo" cdkDragHandle>
      To Do
    </div>
    <div *ngIf="isLoading$ | async">
      <div class="load-8">
        <h6><b>Loading Data...</b></h6>
        <div class="line"></div>
      </div>
    </div>
    <div *ngIf="!(isLoading$ | async)">
      <div *ngIf="this.toDoTasks.length != 0; else noToDoTasks;">
        <div *ngFor="let post of toDoTasks" cdkDrag>
          <div class="card" *ngIf="post.task.status == 'to do'">
            <div class="card-block">
              <div class="card-title">

                <div ngbDropdown #myDrop="ngbDropdown">

                  <img (click)="$event.stopPropagation(); myDrop.toggle();"
                    src="{{this.BASE_URL}}/uploads/{{post.task?._assigned_to?.profile_pic}}" id="dropdownToDo"
                    ngbDropdownAnchor (focus)="myDrop.open()" onerror="this.src='/assets/images/user.png'"
                    class="topnav-avatar float-left kbn">
                  <div class = 'row'>
                    <div class="kbn small lightgray col-sm-5">{{post.task?._assigned_to?.first_name}}
                      {{post.task?._assigned_to?.last_name}}
                    </div>
                    <div class = "col-sm-7 text-right">
                      <i class="material-icons small font-weight-bold text-right" [ngClass] = "checkOverdue(post) === true ? 'overdue' : 'due'" >alarm</i>
                      <span class="small font-weight-bold" style="margin-top: 5px" *ngIf="post.task?.due_to != 'Invalid date'"
                            [ngClass] = "checkOverdue(post) === true ? 'overdue' : 'due'">
                      {{post.task?.due_to | date}}</span>
                    </div>
                  </div>

                  <div ngbDropdownMenu aria-labelledby="dropdownTodo">
                    <div *ngFor="let admin of group_admins">
                      <button class="dropdown-item" (click)="changeTaskAssignee(post._id, admin._id, post)">
                        {{admin?.first_name}}
                        {{admin?.last_name}}
                      </button>
                    </div>
                    <div *ngFor="let member of group_members">
                      <button class="dropdown-item" (click)="changeTaskAssignee(post._id, member._id, post)">
                        {{member?.first_name}}
                        {{member?.last_name}}
                      </button>
                    </div>

                  </div>

                </div>


              </div>
              <div class="card-body">



                <a style="text-decoration:none; color:inherit;"
                   [routerLink]="['/dashboard/group/', post._group?._id, 'post',post._id]">
                  <!-- To Do Post Title -->
                  <div class="col-md-12 innercard font-weight-bold" style="font-size: 16px;"
                       [innerHTML]="post?.title | safe: 'html'">
                  </div>
                </a>



                <ng-template #taskif>
                  <div class="col-md-4 text-right padding-topright">
                    <button class="btn btn-pink btn-sm" id="button_task_mark_completed" (click)="OnMarkTaskCompleted()">
                      Mark
                      complete
                    </button>
                    <p class="small font-weight-bold" style="margin-top: 5px"
                      *ngIf="post.task?.due_to != 'Invalid date'">
                      due {{post.task?.due_to
                      | date}}</p>
                  </div>
                </ng-template>
                <hr>
                <div class="row">
                  <div class="col-sm-10">
                      <span class="lightgray small"> Assigned by {{this.post._posted_by?.first_name}}
                          {{this.post._posted_by?.last_name}} in {{this.post._group?.group_name}}
                          group
                        </span>
                  </div>
                  <div class="col-sm-2">
                      <div ngbDropdown class="d-inline-block status">
                          <button class="btn btn-sm kbn-todo" id="dropdownDone" ngbDropdownToggle></button>
                          <div ngbDropdownMenu aria-labelledby="dropdownToDo">
                            <button class="dropdown-item" (click)="OnMarkTaskToDo(this.post._id, post)">To Do</button>
                            <button class="dropdown-item" (click)="OnMarkTaskInProgress(this.post._id, post)">In
                              Progress
                            </button>
                            <button class="dropdown-item" (click)="OnMarkTaskCompleted(this.post._id, post)">Done</button>
                          </div>
                        </div>

                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noToDoTasks>
        <img src='../../../assets/images/empty-todo.svg' style="max-width:80%;">
      </ng-template>
    </div>


  </div>

  <!--INPROGRESS TASKS-->
  <div class="col-md-4" cdkDropList #progressList="cdkDropList" id="inprogress" [cdkDropListData]="inProgressTasks"
  [cdkDropListConnectedTo]="[todoList,doneList]" (cdkDropListDropped)="onTaskDrop($event)">
    <div class="kanbanheader kbn-working" cdkDragHandle>
      In Progress
    </div>
    <div *ngIf="isLoading$ | async">
      <div class="load-8">
        <h6><b>Loading Data...</b></h6>
        <div class="line"></div>
      </div>
    </div>
    <div *ngIf="!(isLoading$ | async)">
      <div *ngIf="this.inProgressTasks.length != 0; else noInProgressTasks;">
        <div *ngFor="let post of inProgressTasks" cdkDrag>

          <div class="card">
            <div class="card-block ">
              <div class="card-title">

                <div ngbDropdown #myDrop="ngbDropdown">

                  <img (click)="$event.stopPropagation(); myDrop.toggle();"
                       src="{{this.BASE_URL}}/uploads/{{this.post.task?._assigned_to?.profile_pic}}" id="dropdownToDo"
                       ngbDropdownAnchor (focus)="myDrop.open()" onerror="this.src='/assets/images/user.png'"
                       class="topnav-avatar float-left kbn">
                  <div class = 'row'>
                    <div class="kbn small lightgray col-sm-5">{{post.task?._assigned_to?.first_name}}
                      {{post.task?._assigned_to?.last_name}}
                    </div>
                    <div class = "col-sm-7 text-right">
                      <i class="material-icons small font-weight-bold text-right" [ngClass] = "checkOverdue(post) === true ? 'overdue' : 'due'">alarm</i>
                      <span class="small font-weight-bold" style="margin-top: 5px" *ngIf="post.task?.due_to != 'Invalid date'"
                            [ngClass] = "checkOverdue(post) === true ? 'overdue' : 'due'">
                      {{post.task?.due_to | date}}</span>
                    </div>
                  </div>

                  <div ngbDropdownMenu aria-labelledby="dropdownTodo">
                    <div *ngFor="let admin of group_admins">
                      <button class="dropdown-item" (click)="changeTaskAssignee(post._id, admin._id, post)">
                        {{admin?.first_name}}
                        {{admin?.last_name}}
                      </button>
                    </div>
                    <div *ngFor="let member of group_members">
                      <button class="dropdown-item" (click)="changeTaskAssignee(post._id, member._id, post)">
                        {{member?.first_name}}
                        {{member?.last_name}}
                      </button>
                    </div>

                  </div>

                </div>


              </div>
              <div class="card-body">



                <a style="text-decoration:none; color:inherit;"
                   [routerLink]="['/dashboard/group/', post._group?._id, 'post',post._id]">
                  <!-- To Do Post Title -->
                  <div class="col-md-12 innercard font-weight-bold" style="font-size: 18px;"
                       [innerHTML]="post?.title | safe: 'html'">
                  </div>
                </a>



                <ng-template #taskif>
                  <div class="col-md-4 text-right padding-topright">
                    <button class="btn btn-pink btn-sm" id="button_task_mark_completed" (click)="OnMarkTaskCompleted()">
                      Mark
                      complete
                    </button>
                    <p class="small font-weight-bold" style="margin-top: 5px"
                       *ngIf="post.task?.due_to != 'Invalid date'">
                      due {{post.task?.due_to
                      | date}}</p>
                  </div>
                </ng-template>
                <hr>
                <div class="row">
                    <div class="col-sm-10">
                        <span class="lightgray small"> Assigned by {{this.post._posted_by?.first_name}}
                            {{this.post._posted_by?.last_name}} in {{this.post._group?.group_name}}
                            group
                          </span>
                    </div>
                    <div class="col-sm-2">
                        <div ngbDropdown class="d-inline-block  status">
                            <button class="btn btn-sm kbn-working" id="dropdownDone" ngbDropdownToggle> </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownToDo">
                              <button class="dropdown-item" (click)="OnMarkTaskToDo(this.post._id, post)">To Do</button>
                              <button class="dropdown-item" (click)="OnMarkTaskInProgress(this.post._id, post)">In
                                Progress
                              </button>
                              <button class="dropdown-item" (click)="OnMarkTaskCompleted(this.post._id, post)">Done</button>
                            </div>
                          </div>

                    </div>

                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noInProgressTasks>
        <img src='../../../assets/images/empty-progress.svg' style="max-width:80%;">
      </ng-template>
    </div>

  </div>
  <!--COMPLETED TASKS-->
  <div class="col-md-4" cdkDropList id="completed" #doneList="cdkDropList" [cdkDropListData]="completedTasks"
  [cdkDropListConnectedTo]="[todoList,progressList]" (cdkDropListDropped)="onTaskDrop($event)">
    <div class="kanbanheader kbn-done" cdkDragHandle>Done</div>
    <div *ngIf="isLoading$ | async">
      <div class="load-8">
        <h6><b>Loading Data...</b></h6>
        <div class="line"></div>
      </div>
    </div>

    <div *ngIf="!(isLoading$ | async)">
      <div *ngIf="this.completedTasks.length != 0; else noCompletedTasks">
        <div class="card" *ngFor="let post of completedTasks" cdkDrag>
          <div class="card-block ">
            <div class="card-title">

              <div ngbDropdown #myDrop="ngbDropdown">

                <img (click)="$event.stopPropagation(); myDrop.toggle();"
                     src="{{this.BASE_URL}}/uploads/{{this.post.task?._assigned_to?.profile_pic}}" id="dropdownToDo"
                     ngbDropdownAnchor (focus)="myDrop.open()" onerror="this.src='/assets/images/user.png'"
                     class="topnav-avatar float-left kbn">
                <div class = 'row'>
                  <div class="kbn small lightgray col-sm-5">{{post.task?._assigned_to?.first_name}}
                    {{post.task?._assigned_to?.last_name}}
                  </div>
                  <div class = "col-sm-7 text-right" style="padding-top: 15px">
                    <i class="material-icons small font-weight-bold" [ngClass] = "checkOverdue(post) === true ? 'overdue' : 'due'" style="margin: 0px !important;">alarm</i>
                    <span style = "height: 10px" class="small font-weight-bold" style="margin-top: 5px" *ngIf="post.task?.due_to != 'Invalid date'"
                          [ngClass] = "checkOverdue(post) === true ? 'overdue' : 'due'">
                    {{post.task?.due_to | date}}</span>
                   <br> <span class="small complete"
                          style="margin: 0px !important;" *ngIf="post.task?.started_at && post.task?.completed_at"> done in
                      {{ getTaskTimeSpent(post) }} days</span>
                  </div>
                </div>

                <div ngbDropdownMenu aria-labelledby="dropdownTodo">
                  <div *ngFor="let admin of group_admins">
                    <button class="dropdown-item" (click)="changeTaskAssignee(post._id, admin._id, post)">
                      {{admin?.first_name}}
                      {{admin?.last_name}}
                    </button>
                  </div>
                  <div *ngFor="let member of group_members">
                    <button class="dropdown-item" (click)="changeTaskAssignee(post._id, member._id, post)">
                      {{member?.first_name}}
                      {{member?.last_name}}
                    </button>
                  </div>

                </div>

              </div>


            </div>
            <div class="card-body">



              <a style="text-decoration:none; color:inherit;"
                 [routerLink]="['/dashboard/group/', post._group?._id, 'post',post._id]">
                <!-- To Do Post Title -->
                <div class="col-md-12 innercard font-weight-bold" style="font-size: 16px;"
                     [innerHTML]="post?.title | safe: 'html'">
                </div>
              </a>



              <ng-template #taskif>
                <div class="col-md-4 text-right padding-topright">
                  <button class="btn btn-pink btn-sm" id="button_task_mark_completed" (click)="OnMarkTaskCompleted()">
                    Mark
                    complete
                  </button>
                  <p class="small font-weight-bold" style="margin-top: 5px"
                     *ngIf="post.task?.due_to != 'Invalid date'">
                    due {{post.task?.due_to
                    | date}}</p>
                </div>
              </ng-template>
              <hr>
              <div class="row">
                  <div class="col-sm-10">
                      <span class="lightgray small"> Assigned by {{this.post._posted_by?.first_name}}
                          {{this.post._posted_by?.last_name}} in {{this.post._group?.group_name}}
                          group
                        </span>
                  </div>
                  <div class="col-sm-2">
                      <div ngbDropdown class="d-inline-block status">
                          <button class="btn btn-sm kbn-done" id="dropdownDone" ngbDropdownToggle></button>
                          <div ngbDropdownMenu aria-labelledby="dropdownToDo">
                            <button class="dropdown-item" (click)="OnMarkTaskToDo(this.post._id, post)">To Do</button>
                            <button class="dropdown-item" (click)="OnMarkTaskInProgress(this.post._id, post)">In
                              Progress
                            </button>
                            <button class="dropdown-item" (click)="OnMarkTaskCompleted(this.post._id, post)">Done</button>
                          </div>
                        </div>

                  </div>

                </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noCompletedTasks>
        <img src='../../../assets/images/empty-done.svg' style="max-width:80%;">
      </ng-template>
    </div>

    <!--<button *ngIf="this.loadCount == 1;" type="button" (click)="OnFetchNextPosts()" class="btn btn-link">-->
    <!--Load More...-->
    <!--</button>-->
  </div>
</div>

<!-- ########## MODALS ########## -->

<!-- CREATE A NEW TASK MODAL -->

<ng-template #newTaskModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create a new task</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 text-right">
        <button type="button" class="btn btn-outline-warning task" (click)="openAssignPicker(assignContent)">
          <i class="material-icons">perm_identity</i> {{assignment}}
        </button>
        <button class="btn btn-outline-warning task" type="button" (click)="openDatePicker(dateContent)">
          <i class="material-icons">event</i>{{model_date?.day}}-{{model_date?.month}}-{{model_date?.year}}
        </button>
      </div>

    </div>

    <div class="card" style="margin-top:15px">
      <input id="post-title" type="text" name="postTitle" [(ngModel)]="post.title" placeholder="Insert title here ..."
        style="padding: 12px 15px; font-style: italic; width: 100%; outline: none;" />
      <quill-editor [modules]="modules" id="post-content" [(ngModel)]="post.content" (blur)="onEditorBlured($event)"
        [spellcheck]="true" name="postContent" (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)"
        (onEditorCreated)="onEditorCreated($event)" (change)="onContentChanged($event)"
        (onContentChanged)="onContentChanged($event)"></quill-editor>
    </div>

    <div class="row" style="margin-bottom: 15px;">
      <div class="col-md-8">
        <button type="button" class="btn btn-link">
          <input id="cin" #fileInput type="file" class="btn btn-outline-warning task" style="display: none"
            (change)="fileChangeEvent($event)" placeholder="File" multiple />
          <i class="material-icons" (click)="fileInput.click()">attach_file</i>
        </button>

        <button type="button" class="btn btn-link">
          <i class="material-icons" (click)="loadGoogleDrive();">
            cloud_upload
          </i>
        </button>
      </div>
      <!--  -->
      <!-- <div class="row">
      <div class="col-md-12" style="margin-left: 15px;">
        <input type="text" id="tags" [(ngModel)]="tag_search_words" (keyup)="tagListSearch()" (keydown)="addTags($event)" class="tags" placeholder="Add Tag here" name="tag" placement="top" ngbTooltip="Type & hit enter to add a tag">
      </div>
    </div> -->
      <!--  -->
    </div>
    <div class="row">
      <div class="col-md-4" style="margin-left: 15px">
        <div ngbDropdown #myTagsDrop="ngbDropdown" class="search">
          <input ngbDropdownAnchor type="text" id="tags" class="tags" placeholder="Add Tag here"
            ng-show="tags_search_words" (keyup)="tagListSearch(); $event.stopPropagation(); myTagsDrop.open();"
            (keydown)="addTags($event)" [(ngModel)]="tags_search_words" name="tag" placement="top"
            ngbTooltip="Type & hit enter to add a tag">
          <div class="search-dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownManual">
            <div class="w-100" style="display:inline-block" *ngIf="tags_search_result?.length > 0">
              <ul class=" list-tags">
                <li class="tags" *ngFor="let tag of tags_search_result; let i = index;">
                  <button class="bg-transparent border-0 col-lg-9 text-left"
                    (click)="clickedOnTag(i)">{{ tag?.tags }}</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 2%;">
      <div class="col-md-1">
        <button type="button" class="btn btn-link">
          <i class="material-icons" placement="top" ngbTooltip="Tags">
            local_offer
          </i>
        </button>
      </div>
      <div class="col-md-10">
        <button class="btn btn-sm btn-outline-primary" style="margin-right: 1rem;" (click)="removeTag(i)"
          *ngFor="let tag of tags; let i = index" placement="top" ngbTooltip="Click here to remove this tag"><b>X</b>
          {{tag}}</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-right">
        <button (click)="closeCreatePostModal()" class="btn btn-default" id="cancel-task">Cancel</button>
        <button [disabled]="readyToAddTask()" class="btn btn-primary" id="create-task" (click)="addNewTaskPost();">Post
          Task
        </button>


      </div>
    </div>
    <div class="row">
      <div class="col-md-8 ">

        <div id="google-drive-file" style="display:none;"></div>


        <div *ngFor="let file of filesToUpload">
          <p><b>Uploaded file(s): </b>{{file.name}}</p>
        </div>

      </div>

    </div>
  </div>

</ng-template>


<ng-template #editTaskModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit task</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 text-right">
        <button type="button" class="btn btn-outline-warning task" (click)="openAssignPicker(assignContent)">
          <i class="material-icons">perm_identity</i> {{assignment}}
        </button>

        <button class="btn btn-outline-warning task" type="button" (click)="openDatePicker(dateContent)">
          <i class="material-icons">event</i>{{model_date?.day}}-{{model_date?.month}}-{{model_date?.year}}
        </button>
      </div>

    </div>

    <div *ngIf="modulesLoaded" class="card" style="margin-top:15px">
      <input id="post-title" type="text" [(ngModel)]="edit_post_title"
        style="padding: 12px 15px; font-style: italic; width: 100%; outline: none;" />
      <quill-editor [modules]="modules" id="post-content" [(ngModel)]="edit_post_content"
        (blur)="onEditorBlured($event)" [spellcheck]="true" name="postContent" (focus)="onEditorFocused($event)"
        (ready)="onEditorCreated($event)" (onEditorCreated)="onEditorCreated($event)"
        (change)="onContentChanged($event)" (onContentChanged)="onContentChanged($event)"></quill-editor>
    </div>

    <div class="row">
      <div class="col-md-12" style="margin-left: 15px;">
        <input type="text" id="tags" (keydown)="addTags($event)" class="tags" placeholder="Add Tag here"
          [(ngModel)]="tag" name="tag" placement="top" ngbTooltip="Type & hit enter to add a tag">
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
        <button type="button" class="btn btn-link">
          <i class="material-icons" placement="top" ngbTooltip="Tags">
            local_offer
          </i>
        </button>
      </div>
      <div class="col-md-10">
        <button class="btn btn-sm btn-outline-primary" style="margin-right: 1rem;" (click)="removeTag(i)"
          *ngFor="let tag of tags; let i = index" placement="top" ngbTooltip="Click here to remove this tag"><b>X</b>
          {{tag}}</button>
      </div>
    </div>

    <div class="row" style="margin-bottom: 15px;">
      <div class="col-md-12 text-right">
        <button class="btn btn-default" id="cancel-task" (click)="this.editTaskModalRef.close();">Cancel</button>
        <button [disabled]="readyToEditTask()" class="btn btn-primary" id="create-task" (click)="editPost();">
          Edit Task
        </button>


      </div>
    </div>
  </div>
</ng-template>


<!-- Modal to pick a due date-->

<ng-template style="margin-top: 10px" #dateContent let-c="close" let-d="dismiss">

  <div style="width:100%" class="modal-header">
    <h4 class="modal-title">Select Due Date</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <ngb-datepicker #dp [(ngModel)]="model_date" (navigate)="date = $event.next"></ngb-datepicker>
  </div>

  <div class="modal-footer">
    <!-- in the personal workspace we don't use the assigned members function-->
    <button class="btn btn-primary mb-2 mr-2" (click)="c('Close click')">Done</button>

    <button type="button" class="btn btn-default mb-2 mr-2" (click)="c('Close click')">Cancel</button>
  </div>

</ng-template>

<!--  Modal to Assign calendar event or task to group member -->
<ng-template #assignContent let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Search User</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <angular2-multiselect [data]="groupUsersList" [(ngModel)]="selectedGroupUsers" [settings]="settings"
      (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
      (onDeSelectAll)="onDeSelectAll($event)">
      <c-search>
        <ng-template>
          <input type="text" (keyup)="onSearch($event)" placeholder="Name, Email, Username or Phone"
            style="border: none;width: 100%; height: 100%;outline: none;" />
        </ng-template>
      </c-search>
      <c-item>
        <ng-template let-item="item">
          <label style="color: #333;width: 150px;">{{item.full_name }}</label>
          <!--  <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;"/> -->

          <label>{{item.capital}}</label>
        </ng-template>
      </c-item>
    </angular2-multiselect>

  </div>
  <div class="modal-footer">
    <button [disabled]="selectedGroupUsers.length == 0 " class="btn btn-primary mb-2 mr-2" (click)="c('Close click')">
      Done
    </button>
    <button type="button" class="btn btn-default mb-2 mr-2" (click)="c('Close click')">Cancel</button>
  </div>

</ng-template>
