.l-8 {animation-delay: 1.32s;}

.load-8 .line {animation: loadingH 1.5s cubic-bezier(.17,.37,.43,.67) infinite;}

.line {
	display: inline-block;
	width: 50px;
	height: 18px;
	border-radius: 18px;
	background-color: #005fd5;
}
.card{
    margin-bottom: 10px;
}

.emoji-drop-transparent {

  color: transparent;
  background: transparent;

}

.dropdown-edit::after
{
  display:none;
}
.list-tags{
  max-height: 150px;
  margin-bottom: 5px;
  overflow:auto;
	overflow-x: hidden;
	padding: 0 !important;
  // -webkit-overflow-scrolling: touch;
}
.list-tags{
  .tags{
    margin-bottom: 5px;
    margin-top: 5px;
	}
}

.due{
  color: #4A90E2;
}

.overdue {
  color: #FF6584;
}
.complete{
  color: #4A90E2;
  text-align: right;
}

img{
  margin-top: 10px;
}

.container {
  display: flex;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
