<!--CREATE TASKS-->

<div class="row" style="margin-bottom: 1%;" *ngIf="!this.isItMyTasks">
  <div class="col-md-4">
    <button class="btn btn-primary stickybtn" id="task" (click)="openNewTaskModal(newTaskModal)"> <i
        class="material-icons">check</i> New Task</button>
  </div>
</div>

<!--CREATE TASKS-->
<div class="row">
  <!--TODO TASKS-->
  <div class="col-md-4" cdkDropList #todoList="cdkDropList" id="todo" [cdkDropListData]="toDoTasks"
  [cdkDropListConnectedTo]="[progressList,doneList]" (cdkDropListDropped)="onTaskDrop($event)">
    <div class="kanbanheader kbn-todo" cdkDragHandle>
      To Do
    </div>
    <div *ngIf="isLoading$ | async">
      <div class="load-8">
        <h6><b>Loading Data...</b></h6>
        <div class="line"></div>
      </div>
    </div>
    <div *ngIf="!(isLoading$ | async)">
      <div *ngIf="this.toDoTasks.length != 0; else noToDoTasks;">
        <div *ngFor="let post of toDoTasks" cdkDrag>
          <div class="card" *ngIf="post.task.status == 'to do'">
            <div class="card-block">
              <div class="card-title">

                <div ngbDropdown #myDrop="ngbDropdown">

                  <img (click)="$event.stopPropagation(); myDrop.toggle();"
                    src="{{this.BASE_URL}}/uploads/{{post.task?._assigned_to?.profile_pic}}" id="dropdownToDo"
                    ngbDropdownAnchor (focus)="myDrop.open()" onerror="this.src='/assets/images/user.png'"
                    class="topnav-avatar float-left kbn">
                  <div class = 'row'>
                    <div class="kbn small lightgray col-sm-5">{{post.task?._assigned_to?.first_name}}
                      {{post.task?._assigned_to?.last_name}}
                    </div>
                    <div class = "col-sm-7 text-right">
                      <i class="material-icons small font-weight-bold text-right" [ngClass] = "checkOverdue(post) === true ? 'overdue' : 'due'" >alarm</i>
                      <span class="small font-weight-bold" style="margin-top: 5px" *ngIf="post.task?.due_to != 'Invalid date'"
                            [ngClass] = "checkOverdue(post) === true ? 'overdue' : 'due'">
                      {{post.task?.due_to | date}}</span>
                    </div>
                  </div>

                  <div ngbDropdownMenu aria-labelledby="dropdownTodo">
                    <div *ngFor="let admin of group_admins">
                      <button class="dropdown-item" (click)="changeTaskAssignee(post._id, admin._id, post)">
                        {{admin?.first_name}}
                        {{admin?.last_name}}
                      </button>
                    </div>
                    <div *ngFor="let member of group_members">
                      <button class="dropdown-item" (click)="changeTaskAssignee(post._id, member._id, post)">
                        {{member?.first_name}}
                        {{member?.last_name}}
                      </button>
                    </div>

                  </div>

                </div>


              </div>
              <div class="card-body">



                <a style="text-decoration:none; color:inherit;"
                   [routerLink]="['/dashboard/group/', post._group?._id, 'post',post._id]">
                  <!-- To Do Post Title -->
                  <div class="col-md-12 innercard font-weight-bold" style="font-size: 16px;"
                       [innerHTML]="post?.title | safe: 'html'">
                  </div>
                </a>


                <ng-template #taskif>
                  <div class="col-md-4 text-right padding-topright">
                    <button class="btn btn-pink btn-sm" id="button_task_mark_completed" (click)="OnMarkTaskCompleted()">
                      Mark
                      complete
                    </button>
                    <p class="small font-weight-bold" style="margin-top: 5px"
                      *ngIf="post.task?.due_to != 'Invalid date'">
                      due {{post.task?.due_to
                      | date}}</p>
                  </div>
                </ng-template>
                <hr>
                <div class="row">
                  <div class="col-sm-10">
                      <span class="lightgray small"> Assigned by {{this.post._posted_by?.first_name}}
                          {{this.post._posted_by?.last_name}} in {{this.post._group?.group_name}}
                          group
                        </span>
                  </div>
                  <div class="col-sm-2">
                      <div ngbDropdown class="d-inline-block status">
                          <button class="btn btn-sm kbn-todo" id="dropdownDone" ngbDropdownToggle></button>
                          <div ngbDropdownMenu aria-labelledby="dropdownToDo">
                            <button class="dropdown-item" (click)="OnMarkTaskToDo(this.post._id, post)">To Do</button>
                            <button class="dropdown-item" (click)="OnMarkTaskInProgress(this.post._id, post)">In
                              Progress
                            </button>
                            <button class="dropdown-item" (click)="OnMarkTaskCompleted(this.post._id, post)">Done</button>
                          </div>
                        </div>

                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noToDoTasks>
        <img src='../../../assets/images/empty-todo.svg' style="max-width:80%;">
      </ng-template>
    </div>


  </div>

  <!--INPROGRESS TASKS-->
  <div class="col-md-4" cdkDropList #progressList="cdkDropList" id="inprogress" [cdkDropListData]="inProgressTasks"
  [cdkDropListConnectedTo]="[todoList,doneList]" (cdkDropListDropped)="onTaskDrop($event)">
    <div class="kanbanheader kbn-working" cdkDragHandle>
      In Progress
    </div>
    <div *ngIf="isLoading$ | async">
      <div class="load-8">
        <h6><b>Loading Data...</b></h6>
        <div class="line"></div>
      </div>
    </div>
    <div *ngIf="!(isLoading$ | async)">
      <div *ngIf="this.inProgressTasks.length != 0; else noInProgressTasks;">
        <div *ngFor="let post of inProgressTasks" cdkDrag>

          <div class="card">
            <div class="card-block ">
              <div class="card-title">

                <div ngbDropdown #myDrop="ngbDropdown">

                  <img (click)="$event.stopPropagation(); myDrop.toggle();"
                       src="{{this.BASE_URL}}/uploads/{{this.post.task?._assigned_to?.profile_pic}}" id="dropdownToDo"
                       ngbDropdownAnchor (focus)="myDrop.open()" onerror="this.src='/assets/images/user.png'"
                       class="topnav-avatar float-left kbn">
                  <div class = 'row'>
                    <div class="kbn small lightgray col-sm-5">{{post.task?._assigned_to?.first_name}}
                      {{post.task?._assigned_to?.last_name}}
                    </div>
                    <div class = "col-sm-7 text-right">
                      <i class="material-icons small font-weight-bold text-right" [ngClass] = "checkOverdue(post) === true ? 'overdue' : 'due'">alarm</i>
                      <span class="small font-weight-bold" style="margin-top: 5px" *ngIf="post.task?.due_to != 'Invalid date'"
                            [ngClass] = "checkOverdue(post) === true ? 'overdue' : 'due'">
                      {{post.task?.due_to | date}}</span>
                    </div>
                  </div>

                  <div ngbDropdownMenu aria-labelledby="dropdownTodo">
                    <div *ngFor="let admin of group_admins">
                      <button class="dropdown-item" (click)="changeTaskAssignee(post._id, admin._id, post)">
                        {{admin?.first_name}}
                        {{admin?.last_name}}
                      </button>
                    </div>
                    <div *ngFor="let member of group_members">
                      <button class="dropdown-item" (click)="changeTaskAssignee(post._id, member._id, post)">
                        {{member?.first_name}}
                        {{member?.last_name}}
                      </button>
                    </div>

                  </div>

                </div>


              </div>
              <div class="card-body">



                <a style="text-decoration:none; color:inherit;"
                   [routerLink]="['/dashboard/group/', post._group?._id, 'post',post._id]">
                  <!-- To Do Post Title -->
                  <div class="col-md-12 innercard font-weight-bold" style="font-size: 18px;"
                       [innerHTML]="post?.title | safe: 'html'">
                  </div>
                </a>


                <ng-template #taskif>
                  <div class="col-md-4 text-right padding-topright">
                    <button class="btn btn-pink btn-sm" id="button_task_mark_completed" (click)="OnMarkTaskCompleted()">
                      Mark
                      complete
                    </button>
                    <p class="small font-weight-bold" style="margin-top: 5px"
                       *ngIf="post.task?.due_to != 'Invalid date'">
                      due {{post.task?.due_to
                      | date}}</p>
                  </div>
                </ng-template>
                <hr>
                <div class="row">
                    <div class="col-sm-10">
                        <span class="lightgray small"> Assigned by {{this.post._posted_by?.first_name}}
                            {{this.post._posted_by?.last_name}} in {{this.post._group?.group_name}}
                            group
                          </span>
                    </div>
                    <div class="col-sm-2">
                        <div ngbDropdown class="d-inline-block  status">
                            <button class="btn btn-sm kbn-working" id="dropdownDone" ngbDropdownToggle> </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownToDo">
                              <button class="dropdown-item" (click)="OnMarkTaskToDo(this.post._id, post)">To Do</button>
                              <button class="dropdown-item" (click)="OnMarkTaskInProgress(this.post._id, post)">In
                                Progress
                              </button>
                              <button class="dropdown-item" (click)="OnMarkTaskCompleted(this.post._id, post)">Done</button>
                            </div>
                          </div>

                    </div>

                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noInProgressTasks>
        <img src='../../../assets/images/empty-progress.svg' style="max-width:80%;">
      </ng-template>
    </div>

  </div>
  <!--COMPLETED TASKS-->
  <div class="col-md-4" cdkDropList id="completed" #doneList="cdkDropList" [cdkDropListData]="completedTasks"
  [cdkDropListConnectedTo]="[todoList,progressList]" (cdkDropListDropped)="onTaskDrop($event)">
    <div class="kanbanheader kbn-done" cdkDragHandle>Done</div>
    <div *ngIf="isLoading$ | async">
      <div class="load-8">
        <h6><b>Loading Data...</b></h6>
        <div class="line"></div>
      </div>
    </div>

    <div *ngIf="!(isLoading$ | async)">
      <div *ngIf="this.completedTasks.length != 0; else noCompletedTasks">
        <div class="card" *ngFor="let post of completedTasks" cdkDrag>
          <div class="card-block ">
            <div class="card-title">

              <div ngbDropdown #myDrop="ngbDropdown">

                <img (click)="$event.stopPropagation(); myDrop.toggle();"
                     src="{{this.BASE_URL}}/uploads/{{this.post.task?._assigned_to?.profile_pic}}" id="dropdownToDo"
                     ngbDropdownAnchor (focus)="myDrop.open()" onerror="this.src='/assets/images/user.png'"
                     class="topnav-avatar float-left kbn">
                <div class = 'row'>
                  <div class="kbn small lightgray col-sm-5">{{post.task?._assigned_to?.first_name}}
                    {{post.task?._assigned_to?.last_name}}
                  </div>
                  <div class = "col-sm-7 text-right" style="padding-top: 15px">
                    <i class="material-icons small font-weight-bold" [ngClass] = "checkOverdue(post) === true ? 'overdue' : 'due'" style="margin: 0px !important;">alarm</i>
                    <span style = "height: 10px" class="small font-weight-bold" style="margin-top: 5px" *ngIf="post.task?.due_to != 'Invalid date'"
                          [ngClass] = "checkOverdue(post) === true ? 'overdue' : 'due'">
                    {{post.task?.due_to | date}}</span>
                   <br> <span class="small complete"
                          style="margin: 0px !important;" *ngIf="post.task?.started_at && post.task?.completed_at"> done in
                      {{ getTaskTimeSpent(post) }} days</span>
                  </div>
                </div>

                <div ngbDropdownMenu aria-labelledby="dropdownTodo">
                  <div *ngFor="let admin of group_admins">
                    <button class="dropdown-item" (click)="changeTaskAssignee(post._id, admin._id, post)">
                      {{admin?.first_name}}
                      {{admin?.last_name}}
                    </button>
                  </div>
                  <div *ngFor="let member of group_members">
                    <button class="dropdown-item" (click)="changeTaskAssignee(post._id, member._id, post)">
                      {{member?.first_name}}
                      {{member?.last_name}}
                    </button>
                  </div>

                </div>

              </div>


            </div>
            <div class="card-body">



              <a style="text-decoration:none; color:inherit;"
                 [routerLink]="['/dashboard/group/', post._group?._id, 'post',post._id]">
                <!-- To Do Post Title -->
                <div class="col-md-12 innercard font-weight-bold" style="font-size: 16px;"
                     [innerHTML]="post?.title | safe: 'html'">
                </div>
              </a>



              <ng-template #taskif>
                <div class="col-md-4 text-right padding-topright">
                  <button class="btn btn-pink btn-sm" id="button_task_mark_completed" (click)="OnMarkTaskCompleted()">
                    Mark
                    complete
                  </button>
                  <p class="small font-weight-bold" style="margin-top: 5px"
                     *ngIf="post.task?.due_to != 'Invalid date'">
                    due {{post.task?.due_to
                    | date}}</p>
                </div>
              </ng-template>
              <hr>
              <div class="row">
                  <div class="col-sm-10">
                      <span class="lightgray small"> Assigned by {{this.post._posted_by?.first_name}}
                          {{this.post._posted_by?.last_name}} in {{this.post._group?.group_name}}
                          group
                        </span>
                  </div>
                  <div class="col-sm-2">
                      <div ngbDropdown class="d-inline-block status">
                          <button class="btn btn-sm kbn-done" id="dropdownDone" ngbDropdownToggle></button>
                          <div ngbDropdownMenu aria-labelledby="dropdownToDo">
                            <button class="dropdown-item" (click)="OnMarkTaskToDo(this.post._id, post)">To Do</button>
                            <button class="dropdown-item" (click)="OnMarkTaskInProgress(this.post._id, post)">In
                              Progress
                            </button>
                            <button class="dropdown-item" (click)="OnMarkTaskCompleted(this.post._id, post)">Done</button>
                          </div>
                        </div>

                  </div>

                </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noCompletedTasks>
        <img src='../../../assets/images/empty-done.svg' style="max-width:80%;">
      </ng-template>
    </div>

    <!--<button *ngIf="this.loadCount == 1;" type="button" (click)="OnFetchNextPosts()" class="btn btn-link">-->
    <!--Load More...-->
    <!--</button>-->
  </div>
</div>

<!-- ########## MODALS ########## -->

<!-- CREATE A NEW TASK MODAL -->

<ng-template #newTaskModal let-modal>
<!--  <postbox></postbox>-->
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create a new task</h4>
  </div>
  <div class="modal-body">
    <postbox *ngIf="modules"[parent]="'group-tasks'" [modules]="modules" [modulesLoaded]="modulesLoaded" [isItMyWorkplace]="false"
             [user]="user" [group]="group" [socket]="socket" [allMembersId]="allMembersId" [user_data]="user_data"
             (newPost)="addNewPostToPosts($event)"
             (cancel) = "newTaskModalRef.close()" >
    </postbox>
  </div>
</ng-template>
