<div class="container">

  <!-- Empty State of tasks starts -->
  <div *ngIf="this.overdueAndTodayTasks.length == 0 && this.thisWeekTasks.length == 0">
    <img src='assets/images/placeholder_activity3.png' class="placeholder-img">
    <p class="muted text-center" i18n="@@mySpaceTasks.done">Done. That's a wrap! </p>
  </div>
  <!-- Empty State of tasks ends -->

  <h5 class="title-overview"
    *ngIf="this.overdueAndTodayTasks.length != 0"
    i18n="@@mySpaceTasks.today">
      Today
  </h5>

  <div *ngFor="let task of overdueAndTodayTasks; let i = index;">
    <a (click)="openModal(task)" appDebounceClick>
      <!-- My Space Today Tasks -->
      <div *ngIf="task.type== 'task'">
        <div class="media card-tile overview-task todo-bar" *ngIf="task.task.status === 'to do'" role="progressbar">
          <div class="row media-body">
            <div class="col-md-6">
              <div class="overview-item title-nowrap pl-0" [innerHTML]="task?.title"></div>
            </div>
            <div class="col-md-1" *ngIf="task?.task?.custom_fields && task?.task?.custom_fields['priority']">
              <div [ngClass]="getPriorityClass(task?.task?.custom_fields['priority'])">
                {{ task?.task?.custom_fields['priority'] }}
              </div>
            </div>
            <div class="col-md-1" *ngIf="!task?.task?.custom_fields || !task?.task?.custom_fields['priority']">
            </div>
            <div class="col-md-3">
              <div class=" grouplabel " [innerHTML]="task?._group?.group_name"></div>
            </div>

            <div class="col-md-2">
              <div *ngIf="task.overdue" class="overview-item small text-right overdue" i18n="@@mySpaceTasks.overdue">
                OVERDUE
              </div>
              <div *ngIf="!task.overdue" class="overview-item small text-muted text-right">
                {{ formateDate(task?.task?.due_to) }}
              </div>
            </div>

          </div>
        </div>

        <!-- task in progress -->

        <div class="media card-tile overview-task working-bar" *ngIf="task.task.status === 'in progress'"
          role="progressbar">
          <div class="row media-body">
            <div class="col-md-1"
              *ngIf="task.task.status.trim() === 'completed' || task.task.status.trim() === 'done' ">
              <div class="progress small-bar">
                <div class="progress-bar done-bar" role="progressbar"></div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="overview-item title-nowrap pl-0" [innerHTML]="task?.title"></div>
            </div>
            <div class="col-md-1" *ngIf="task?.task?.custom_fields && task?.task?.custom_fields['priority']">
              <div [ngClass]="getPriorityClass(task?.task?.custom_fields['priority'])">
                {{ task?.task?.custom_fields['priority'] }}
              </div>
            </div>
            <div class="col-md-1" *ngIf="!task?.task?.custom_fields || !task?.task?.custom_fields['priority']">
            </div>
            <div class="col-md-3">
              <div class=" grouplabel" [innerHTML]="task?._group?.group_name"></div>
            </div>

            <div class="col-md-2">
              <div *ngIf="task.overdue" class="overview-item small text-right overdue" i18n="@@mySpaceTasks.overdue">
                OVERDUE
              </div>
              <div *ngIf="!task.overdue" class="overview-item small text-muted text-right">
                {{ formateDate(task?.task?.due_to) }}
              </div>
            </div>

          </div>
        </div>

        <!-- done tasks -->

        <div class="media card-tile overview-task done-bar"
          *ngIf="task.task.status.trim() === 'completed' || task.task.status.trim() === 'done' " role="progressbar">
          <div class="row media-body">
            <div class="col-md-6">
              <div class="overview-item title-nowrap pl-0" [innerHTML]="task?.title"></div>
            </div>
            <div class="col-md-1" *ngIf="task?.task?.custom_fields && task?.task?.custom_fields['priority']">
              <div [ngClass]="getPriorityClass(task?.task?.custom_fields['priority'])">
                {{ task?.task?.custom_fields['priority'] }}
              </div>
            </div>
            <div class="col-md-1" *ngIf="!task?.task?.custom_fields || !task?.task?.custom_fields['priority']">
            </div>
            <div class="col-md-3">
              <div class="overview-item grouplabel" [innerHTML]="task?._group?.group_name"></div>
            </div>

            <div class="col-md-2">
              <div *ngIf="task.overdue" class="overview-item small text-right overdue" i18n="@@mySpaceTasks.overdue">
                OVERDUE
              </div>
              <div *ngIf="!task.overdue" class="overview-item small text-muted text-right">
                {{ formateDate(task?.task?.due_to) }}
              </div>
            </div>

          </div>
        </div>

      </div>
    </a>
  </div>

  <h5 class="title-overview" *ngIf="this.thisWeekTasks.length !=  0">This week</h5>

  <div *ngFor="let task of thisWeekTasks; let i = index;">
    <a (click)="openModal(task)" appDebounceClick>
      <!-- My Space This week Tasks -->


      <div *ngIf="task.type== 'task'">
        <div class="media card-tile overview-task todo-bar" *ngIf="task.task.status === 'to do'" role="progressbar">
          <div class="row media-body">
            <div class="col-md-6">
              <div class="overview-item title-nowrap pl-0" [innerHTML]="task?.title"></div>
            </div>
            <div class="col-md-1" *ngIf="task?.task?.custom_fields && task?.task?.custom_fields['priority']">
              <div [ngClass]="getPriorityClass(task?.task?.custom_fields['priority'])">
                {{ task?.task?.custom_fields['priority'] }}
              </div>
            </div>
            <div class="col-md-1" *ngIf="!task?.task?.custom_fields || !task?.task?.custom_fields['priority']">
            </div>
            <div class="col-md-3">
              <div class="overview-item grouplabel" [innerHTML]="task?._group?.group_name"></div>
            </div>

            <div class="col-md-2">
              <div *ngIf="task.overdue" class="overview-item small text-right overdue" i18n="@@mySpaceTasks.overdue">
                OVERDUE
              </div>
              <div *ngIf="!task.overdue" class="overview-item small text-muted text-right">
                {{ formateDate(task?.task?.due_to) }}
              </div>
            </div>

          </div>
        </div>

        <!-- task in progress -->

        <div class="media card-tile overview-task working-bar" *ngIf="task.task.status === 'in progress'"
          role="progressbar">
          <div class="row media-body">
            <div class="col-md-1"
              *ngIf="task.task.status.trim() === 'completed' || task.task.status.trim() === 'done' ">
              <div class="progress small-bar">
                <div class="progress-bar done-bar" role="progressbar"></div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="overview-item title-nowrap pl-0" [innerHTML]="task?.title"></div>
            </div>
            <div class="col-md-1" *ngIf="task?.task?.custom_fields && task?.task?.custom_fields['priority']">
              <div [ngClass]="getPriorityClass(task?.task?.custom_fields['priority'])">
                {{ task?.task?.custom_fields['priority'] }}
              </div>
            </div>
            <div class="col-md-1" *ngIf="!task?.task?.custom_fields || !task?.task?.custom_fields['priority']">
            </div>
            <div class="col-md-3">
              <div class="overview-item grouplabel" [innerHTML]="task?._group?.group_name"></div>
            </div>

            <div class="col-md-2">
              <div *ngIf="task.overdue" class="overview-item small text-right overdue" i18n="@@mySpaceTasks.overdue">
                OVERDUE
              </div>
              <div *ngIf="!task.overdue" class="overview-item small text-muted text-right">
                {{ formateDate(task?.task?.due_to) }}
              </div>
            </div>

          </div>
        </div>

        <!-- done tasks -->

        <div class="media card-tile overview-task done-bar"
          *ngIf="task.task.status.trim() === 'completed' || task.task.status.trim() === 'done' " role="progressbar">
          <div class="row media-body">
            <div class="col-md-6">
              <div class="overview-item title-nowrap pl-0" [innerHTML]="task?.title"></div>
            </div>
            <div class="col-md-1" *ngIf="task?.task?.custom_fields && task?.task?.custom_fields['priority']">
              <div [ngClass]="getPriorityClass(task?.task?.custom_fields['priority'])">
                {{ task?.task?.custom_fields['priority'] }}
              </div>
            </div>
            <div class="col-md-1" *ngIf="!task?.task?.custom_fields || !task?.task?.custom_fields['priority']">
            </div>
            <div class="col-md-3">
              <div class="overview-item grouplabel" [innerHTML]="task?._group?.group_name"></div>
            </div>

            <div class="col-md-2">
              <div *ngIf="task.overdue" class="overview-item small text-right overdue" i18n="@@mySpaceTasks.overdue">
                OVERDUE
              </div>
              <div *ngIf="!task.overdue" class="overview-item small text-muted text-right">
                {{ formateDate(task?.task?.due_to) }}
              </div>
            </div>

          </div>
        </div>
      </div>

    </a>
  </div>

  <h5 class="title-overview" *ngIf="this.nextWeekTasks.length !=  0" i18n="@@mySpaceTasks.nextWeek">Next week</h5>

  <div *ngFor="let task of nextWeekTasks; let i = index;">
    <a (click)="openModal(task)" appDebounceClick>
      <!-- My Space This week Tasks -->
      <div *ngIf="task.type== 'task'">
        <div class="media card-tile overview-task todo-bar" *ngIf="task.task.status === 'to do'" role="progressbar">
          <div class="row media-body">

            <div class="col-md-6">
              <div class="overview-item title-nowrap pl-0" [innerHTML]="task?.title"></div>
            </div>
            <div class="col-md-1" *ngIf="task?.task?.custom_fields && task?.task?.custom_fields['priority']">
              <div [ngClass]="getPriorityClass(task?.task?.custom_fields['priority'])">
                {{ task?.task?.custom_fields['priority'] }}
              </div>
            </div>
            <div class="col-md-1" *ngIf="!task?.task?.custom_fields || !task?.task?.custom_fields['priority']">
            </div>
            <div class="col-md-3">
              <div class="overview-item grouplabel" [innerHTML]="task?._group?.group_name"></div>
            </div>

            <div class="col-md-2">
              <div *ngIf="task.overdue" class="overview-item small text-right overdue" i18n="@@mySpaceTasks.overdue">
                OVERDUE
              </div>
              <div *ngIf="!task.overdue" class="overview-item small text-muted text-right">
                {{ formateDate(task?.task?.due_to) }}
              </div>
            </div>

          </div>
        </div>

        <!-- task in progress -->

        <div class="media card-tile overview-task working-bar" *ngIf="task.task.status === 'in progress'"
          role="progressbar">
          <div class="row media-body">
            <div class="col-md-1"
              *ngIf="task.task.status.trim() === 'completed' || task.task.status.trim() === 'done' ">
              <div class="progress small-bar">
                <div class="progress-bar done-bar" role="progressbar"></div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="overview-item title-nowrap pl-0" [innerHTML]="task?.title"></div>
            </div>
            <div class="col-md-1" *ngIf="task?.task?.custom_fields && task?.task?.custom_fields['priority']">
              <div [ngClass]="getPriorityClass(task?.task?.custom_fields['priority'])">
                {{ task?.task?.custom_fields['priority'] }}
              </div>
            </div>
            <div class="col-md-1" *ngIf="!task?.task?.custom_fields || !task?.task?.custom_fields['priority']">
            </div>
            <div class="col-md-3">
              <div class="overview-item grouplabel" [innerHTML]="task?._group?.group_name"></div>
            </div>

            <div class="col-md-2">
              <div *ngIf="task.overdue" class="overview-item small text-right overdue" i18n="@@mySpaceTasks.overdue">
                OVERDUE
              </div>
              <div *ngIf="!task.overdue" class="overview-item small text-muted text-right">
                {{ formateDate(task?.task?.due_to) }}
              </div>
            </div>

          </div>
        </div>

        <!-- done tasks -->

        <div class="media card-tile overview-task done-bar"
          *ngIf="task.task.status.trim() === 'completed' || task.task.status.trim() === 'done' " role="progressbar">
          <div class="row media-body">
            <div class="col-md-6">
              <div class="overview-item title-nowrap pl-0" [innerHTML]="task?.title"></div>
            </div>
            <div class="col-md-1" *ngIf="task?.task?.custom_fields && task?.task?.custom_fields['priority']">
              <div [ngClass]="getPriorityClass(task?.task?.custom_fields['priority'])">
                {{ task?.task?.custom_fields['priority'] }}
              </div>
            </div>
            <div class="col-md-1" *ngIf="!task?.task?.custom_fields || !task?.task?.custom_fields['priority']">
            </div>
            <div class="col-md-3">
              <div class="overview-item grouplabel" [innerHTML]="task?._group?.group_name"></div>
            </div>

            <div class="col-md-2">
              <div *ngIf="task.overdue" class="overview-item small text-right overdue">
                OVERDUE
              </div>
              <div *ngIf="!task.overdue" class="overview-item small text-muted text-right">
                {{ formateDate(task?.task?.due_to) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>



  <h5 class="title-overview" *ngIf="this.futureTasks.length !=  0" i18n="@@mySpaceTasks.futureTasks">Future Tasks</h5>

  <div *ngFor="let task of futureTasks; let i = index;">
    <a (click)="openModal(task)" appDebounceClick>
      <!-- My Space future Tasks -->


      <div *ngIf="task.type== 'task'">
        <div class="media card-tile overview-task todo-bar" *ngIf="task.task.status === 'to do'" role="progressbar">
          <div class="row media-body">
            <div class="col-md-6">
              <div class="overview-item title-nowrap pl-0" [innerHTML]="task?.title"></div>
            </div>
            <div class="col-md-1" *ngIf="task?.task?.custom_fields && task?.task?.custom_fields['priority']">
              <div [ngClass]="getPriorityClass(task?.task?.custom_fields['priority'])">
                {{ task?.task?.custom_fields['priority'] }}
              </div>
            </div>
            <div class="col-md-1" *ngIf="!task?.task?.custom_fields || !task?.task?.custom_fields['priority']">
            </div>
            <div class="col-md-3">
              <div class="overview-item grouplabel" [innerHTML]="task?._group?.group_name"></div>
            </div>

            <div class="col-md-2">
              <div *ngIf="task.overdue" class="overview-item small text-right overdue" i18n="@@mySpaceTasks.overdue">
                OVERDUE
              </div>
              <div *ngIf="!task.overdue" class="overview-item small text-muted text-right">
                {{ formateDate(task?.task?.due_to) }}
              </div>
            </div>

          </div>
        </div>

        <!-- task in progress -->

        <div class="media card-tile overview-task working-bar" *ngIf="task.task.status === 'in progress'"
          role="progressbar">
          <div class="row media-body">
            <div class="col-md-1"
              *ngIf="task.task.status.trim() === 'completed' || task.task.status.trim() === 'done' ">
              <div class="progress small-bar">
                <div class="progress-bar done-bar" role="progressbar"></div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="overview-item title-nowrap pl-0" [innerHTML]="task?.title"></div>
            </div>
            <div class="col-md-1" *ngIf="task?.task?.custom_fields && task?.task?.custom_fields['priority']">
              <div [ngClass]="getPriorityClass(task?.task?.custom_fields['priority'])">
                {{ task?.task?.custom_fields['priority'] }}
              </div>
            </div>
            <div class="col-md-1" *ngIf="!task?.task?.custom_fields || !task?.task?.custom_fields['priority']">
            </div>
            <div class="col-md-3">
              <div class="overview-item grouplabel" [innerHTML]="task?._group?.group_name"></div>
            </div>

            <div class="col-md-2">
              <div *ngIf="task.overdue" class="overview-item small text-right overdue" i18n="@@mySpaceTasks.overdue">
                OVERDUE
              </div>
              <div *ngIf="!task.overdue" class="overview-item small text-muted text-right">
                {{ formateDate(task?.task?.due_to) }}
              </div>
            </div>

          </div>
        </div>

        <!-- done tasks -->

        <div class="media card-tile overview-task done-bar"
          *ngIf="task.task.status.trim() === 'completed' || task.task.status.trim() === 'done' " role="progressbar">

          <div class="row media-body">
            <div class="col-md-6">
              <div class="overview-item title-nowrap pl-0" [innerHTML]="task?.title"></div>
            </div>
            <div class="col-md-1" *ngIf="task?.task?.custom_fields && task?.task?.custom_fields['priority']">
              <div [ngClass]="getPriorityClass(task?.task?.custom_fields['priority'])">
                {{ task?.task?.custom_fields['priority'] }}
              </div>
            </div>
            <div class="col-md-1" *ngIf="!task?.task?.custom_fields || !task?.task?.custom_fields['priority']">
            </div>
            <div class="col-md-3">
              <div class="overview-item grouplabel" [innerHTML]="task?._group?.group_name"></div>
            </div>

            <div class="col-md-2">
              <div *ngIf="task.overdue" class="overview-item small text-right overdue" i18n="@@mySpaceTasks.overdue">
                OVERDUE
              </div>
              <div *ngIf="!task.overdue" class="overview-item small text-muted text-right">
                {{ formateDate(task?.task?.due_to) }}
              </div>
            </div>
          </div>
        </div>

      </div>

    </a>
  </div>
</div>
