
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../assets/scss/variables.scss';
@import '~ng-pick-datetime/assets/style/picker.min.css';
.blue {
  color: $blue;
}

.white {
  color: #fff !important;
}

.icon-octo-logo {
  color: #fff;
  margin-right: 30px;
}