@import "src/assets/scss/variables";

.kanban-card-title {
  // margin-top: 15%;
  // margin-left: -80px;
  font-weight: 400;
  font-size: 15px;
  color: #242d3a;
  cursor: pointer;
  width: 100%;
  white-space: normal;
}

.task {
  // display: flex;
  padding: 8px;
  background: white;
  border: 1px solid $border-color;
  border-radius: 4px;
  margin-bottom: 8px;
  // width: 320px;
  transition: box-shadow 0.3s ease-in-out;
}

.task:hover {
  box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.1);
}

.status-todo {
    border-left: 3px solid $pumpkin-orange;
}
.status-inprogress {
    border-left: 3px solid $turquoise;
}
.status-done {
    border-left: 3px solid $dark-sky-blue;
}
