<div class="task media" [ngClass]="getTaskClass(task?.task?.status, task?.task?.isNorthStar, task?.task?.is_milestone, (task?.task?.shuttle_type && task?.task?._shuttle_group == groupId), task?.task?.shuttle_status)">
  <div style="display: flex;">
    <div class="media-body">
        <h5 class="mt-0 mb-1 kanban-card-title">{{ task?.title }}</h5>
        <span class="small"
            *ngIf="task?.task?.due_to != 'Invalid date' && task?.task?.status != 'done'"
            [ngClass]="checkOverdue(task) === true ? 'overdue' : 'due'">
          {{ formateDate(task?.task?.due_to, "MMM D, YYYY") }}
          <i *ngIf="isProject && isDelay" class="material-icons" style="color: #eb5757;">error</i>
        </span>
        <div class="badges-bar">
          <div class="badge-idea" *ngIf="isIdeaModuleAvailable && task?.task?.is_idea">
            <i class="material-icons-outlined ml-1">emoji_objects</i>
            {{ (task?.task?.idea?.positive_votes?.length || 0) - (task?.task?.idea?.negative_votes?.length || 0) }}
          </div>

          <div [ngClass]="getPriorityClass(task?.task?.custom_fields['priority'])"
              *ngIf="task?.task?.custom_fields && task?.task?.custom_fields['priority']">
            {{ task?.task?.custom_fields['priority'] }}
          </div>
          <div *ngFor="let cf of task?.task?.custom_fields | keyvalue">
            <div *ngIf="cf.key != 'priority' && cf.value && displayCustomField(cf.key)"
                class="badge-cf" [ngStyle]="{ 'background-color': getCustomFieldBadgeColor(cf.key) }">
              {{ cf.value }}
            </div>
          </div>
        </div>
    </div>
    <app-assignee-avatar [post]="task" [userData]="userData" style="margin-right: 10px;"></app-assignee-avatar>
  </div>
</div>
