@import "src/assets/scss/variables";

.kanban-card-title {
  font-weight: 400;
  font-size: 15px;
  color: #242d3a;
  cursor: pointer;
  width: 100%;
  white-space: normal;
}

.task {
  padding: 8px;
  background: white;
  border: 1px solid $border-color;
  border-radius: 4px;
  margin-bottom: 8px;
  transition: box-shadow 0.3s ease-in-out;
  display: block;
}

.task:hover {
  box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.1);
}

.north-star {
  background: #e5defb;
  border-left: 3px solid #5e2fe5;

  .due {
      color: #ffffff;
  }

  .overdue {
      color: #ffffff;
  }
}

.status-todo {
    border-left: 3px solid $pumpkin-orange;
}
.status-inprogress {
    border-left: 3px solid $turquoise;
}
.status-done {
    border-left: 3px solid $dark-sky-blue;
}

.badge-idea {
  margin: 0 5px !important;
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px;
  align-items: center;
  color: #ffffff;
  background-color: #FBB732;
  border-radius: 10px;
  padding: 0 5px !important;
  .material-icons-outlined{
    font-size:18px;
  }
}

.badges-bar{
  display: flex;
  justify-content:flex-start;
  .label-priority{
    align-self: center;
  }
}

.badge-cf {
  margin: 0 5px !important;
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-size: 12px;
  align-items: center;
  color: $muted-color;
  background-color: #e4edf8;
  border-radius: 10px;
  padding: 0 5px !important;
}