<!-- Assignee section for tasks starts -->
<section style="display: flex;">
  <img *ngFor="let assignee of post?._assigned_to" (click)="unassign(assignee._id)"
    src="{{ baseUrl }}/{{ assignee.profile_pic }}"
    onerror="this.src='assets/images/user.png'" class="feed-avatar">
  <p *ngIf="!post?._assigned_to || post?._assigned_to.length === 0" style="padding-top: 5px;">
    Unassigned
  </p>

  <button mat-button [matMenuTriggerFor]="assigneeSearch" #trigger="matMenuTrigger" class="btn tagslabel">add assignee</button>
  <mat-menu #assigneeSearch="matMenu">
    <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
      <div class="card">
        <div class="form-group">
          <label for="search-text">Search Text</label>
          <input type="email" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
            placeholder="Enter text to search" autofocus>
        </div>
        <ul class="list-group list-group-flush">
          <li appHighlight class="list-group-item" *ngFor="let member of groupMembers | appFilter: searchText"
              (click)="getMemberDetails(member)"
              [searchedWord]="searchText"
              [content]="member">
            {{ member.first_name }} {{ member.last_name }}
          </li>
        </ul>
      </div>
    </div>
  </mat-menu>
</section>
<!-- Assignee section for tasks ends -->
