<ul class="nav mr-auto">
  <li class="nav-item mr-3">
    <!-- <i class="material-icons-outlined float-left mr-2">dashboard</i> -->
    <app-secured-image
      [imgURL]="workspaceData?.workspace_avatar"
      [service]="'workspace'"
      [styleClass]="'mr-3 feed-avatar'"
      style="float: left;"></app-secured-image>
    <h2>Work</h2>
    <!-- <h2>{{workspaceData?.workspace_name}} </h2> -->
  </li>

  <!-- All Groups Route starts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/dashboard/work/groups/all" routerLinkActive="active">Groups
      <span class="sr-only">(current)</span>
    </a>
  </li>
  <!-- All Groups Route ends -->

  <!-- North Star Route starts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/dashboard/work/northstar" routerLinkActive="active">North Star
      <span class="sr-only">(current)</span>
    </a>
  </li>
  <!-- North Star Route ends -->

  <!-- Dashboard Page Route starts -->
  <li class="nav-item" *ngIf="canSeeDashboard()">
    <a class="nav-link" routerLink="/dashboard/work/dashboard" routerLinkActive="active">Dashboard
      <span class="sr-only">(current)</span>
    </a>
  </li>
  <!-- Dashboard Page Route ends -->

  <!-- Pulse Group Route starts
  <li class="nav-item">
    <a class="nav-link" routerLink="/dashboard/work/pulse" routerLinkActive="active">Pulse
      <span class="sr-only">(current)</span>
    </a>
  </li>
  <!-- Pulse Group Route ends -->
</ul>
