<div class="container-fluid" style="margin-top: 30px;margin-left: 20px;">
  <div class="row">
    <h5 class="title">
      {{ workspaceData?.company_name }}
    </h5>
  </div>

  <div class="row">
    <div mat-dialog-title class="inner-addon">
      <div class="left-addon">
        <i class="material-icons">search</i>
        <input type="text" name="search" id="" placeholder="Search deeper..." class="search-input" autocomplete="false"
          [(ngModel)]="searchQuery" (ngModelChange)="search()" style="width: 90%;">
      </div>

      <div class="right-addon">
        <i class="material-icons muted" style="cursor: pointer;" (click)="showAdvancedFilters=!showAdvancedFilters">tune</i>
      </div>
    </div>
  </div>

  <div *ngIf="showAdvancedFilters" class="filterwrapper">
    <div class="advanced-filters">
      <div class="filter-label" i18n="@@organization.skill">Skill</div>
      <div class="filter-cell">

          <div *ngFor="let skill of advancedFilters?.skills; let i = index;">

              <button type="button" name="button" class="btn tagslabel" (click)="removeSkill(i)">
                {{skill}}
                <i class="material-icons" matTooltipPosition="above" matTooltip="Delete this skill">close</i>
              </button>
            </div>


        <app-component-search-input-box
          [placeholder]="'Add skill'"
          [type]="'skill'"
          [tagList]="advancedFilters?.skills"
          (skill)="addNewSkill($event)">
        </app-component-search-input-box>
      </div>
    </div>

    <div class="advanced-filters" *ngIf="customFields && customFields?.length > 0">
      <div class="filter-label" i18n="@@organization.customFields">Custom Fields</div>
      <div class="filter-cell">
        <mat-select [(value)]="advancedFilters.cfName" (selectionChange)="selectCFName($event)" appearance="fill" style="width: 20%;">
          <mat-option [value]="cf.name" *ngFor="let cf of customFields">{{ cf.title }}</mat-option>
        </mat-select>
      </div>
    </div>

    <div class="advanced-filters" *ngIf="customFields && customFields?.length > 0 && selectedCustomField">
      <div class="filter-label"></div>
      <div class="filter-cell">
        <mat-select *ngIf="!selectedCustomField.input_type && !selectedCustomField.input_type_number && !selectedCustomField.input_type_text && !selectedCustomField.input_type_date"
            [(value)]="advancedFilters.cfValue" (selectionChange)="selectCFValue($event)" appearance="fill" style="width: 20%;">
          <mat-option [value]="cfValue" *ngFor="let cfValue of selectedCustomField.values">{{ cfValue }}</mat-option>
        </mat-select>

        <input *ngIf="selectedCustomField.input_type || selectedCustomField.input_type_number || selectedCustomField.input_type_text || selectedCustomField.input_type_date"
            type="search" id="keyword" autocomplete="off" placeholder="Search Content" class="input-search"
          [(ngModel)]="advancedFilters.cfValue" (ngModelChange)="selectCFValue($event)"/>
      </div>
    </div>

    <div class="actions">
      <button class="btn btn-outline-danger" (click)="clear()" i18n="@@organization.clear">
        Clear
      </button>
      &nbsp;&nbsp;
      <button class="btn btn-primary" (click)="showAdvancedFilters = !showAdvancedFilters" i18n="@@organization.close">
        Close
      </button>
    </div>
  </div>

  <div class="media-body">
    <div *ngIf="searchedUsers && searchedUsers.length > 0" class="results row" style="overflow: hidden;">
      <div class="col-md-4" style="border-right: 2px solid #E4EDF8;">
        <p *ngIf="searchedUsers.length > 0" class="octo-search-category">
          <span class="material-icons">supervisor_account</span>
          <span i18n="@@organization.users">USERS</span>
        </p>
        <a *ngFor="let user of searchedUsers"
          (click)="selectedUser=user" class="octo-search-results">{{ user.first_name }} {{ user.last_name }}</a>
      </div>

      <div class="col-md-8">
        <app-organization-search-results *ngIf="selectedUser" [data]="selectedUser"></app-organization-search-results>
      </div>
    </div>

    <div *ngIf="!searchedUsers || searchedUsers.length == 0" class="row cards-list" style="margin-top: 50px;">
      <div class="card">
        <div class="img-fluid" [routerLink]="['/dashboard', 'work', 'organization', 'directory']">
          <img src="assets/images/people_directory.png" alt="" class="card-img-top">

          <div class="card-img-overlay">
            <div class="title-overlay">
              <h2 class="card-title" i18n="@@organization.peopleDirectory">People Directory</h2>
            </div>
          </div>
        </div>
      </div>

      <!--
      <div class="card">
        <div class="img-fluid" [routerLink]="['/dashboard', 'work', 'organization', 'chart']">
          <img src="assets/images/organization-chart.png" alt="" class="card-img-top">

          <div class="card-img-overlay">
            <div class="title-overlay">
              <h2 class="card-title" i18n="@@organization.organizationChart">Organization Chart</h2>
            </div>
          </div>
        </div>
      </div>
      -->
      <!-- People Directory Card Starts -->
      <app-people-directory-card [isDashboard]="false" class="card"></app-people-directory-card>
      <!-- People Directory Card Ends -->
    </div>
  </div>
</div>
