.user-filter, .tags-filter {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #007bff;
  width: 90%;
  margin: 0 auto;
}

.squaredFour {
  justify-self: left;
  // width: 20px;
  position: relative;
	margin-right: 15px;
	margin-bottom: 5px;
	span{
		margin-left: 15px;
		position: relative;
	}
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 4px;
		border: 1px solid #E4EDF8;
		margin-right: 15px;
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.5;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
