# Node.js packages
node_modules/

# MongoDB development database
data/

# Package lock files
package-lock.json
# yarn.lock


# Octonius uploaded files on development
uploads/

# Large tar files
scripts/octoniusapp/*.tar
scripts/mhart/*.tar

# Code editor related files and dirs
.idea/
.vscode/
*.vim

# Error Logs
yarn-error.log

# Tar files
*.tar

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

*.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### VS Code ###
.vscode/
.DS_Store


# K8s stuff #
.terraform/*
scripts/acceptance/k8s/kube-hetzner/.terraform/**
scripts/production/k8s/kube-hetzner/.terraform/**
client/src/environments/environment.ts
