# Node.js packages
node_modules/
# MongoDB development database
data/

# Octonius uploaded files on development
uploads/

# Code editor related files and dirs
.idea/
.vscode/
*.vim

stack-deploy-octonius.yml
