# Node.js packages
node_modules/
# MongoDB development database
data/

/api/yarn.lock
/client/yarn.lock

package-lock.json
yarn.lock

public/

# Octonius uploaded files on development
uploads/

# Code editor related files and dirs
.idea/
.vscode/
*.vim

stack-deploy-octonius.yml
