image: atlassian/default-image:2

pipelines:
  branches:
    "{sqshdocker}":
    - step:
        name: Deploy to test
        deployment: test   # can be test, staging or production.
        script:
          - echo "Deploying to test environment"
          # build the Docker dev image to test
          - docker build -t octoniusapp/octonius-api -f ./src/Dockerfile.dev ./src
          # run tests
          - docker run octoniusapp/octonius-api yarn test -- --coverage

    - step:
        name: Deploy to dockerhub
        services:
          - docker
        script: # Modify the commands below to build your repository.
          # Set $DOCKER_HUB_USERNAME and $DOCKER_HUB_PASSWORD as environment variables in repository settings
          - export CLIENT_IMAGE_NAME=octoniusapp/octonius-client:$BITBUCKET_COMMIT
          - export API_IMAGE_NAME=octoniusapp/octonius-api:$BITBUCKET_COMMIT
          - export NGINX_IMAGE_NAME=octoniusapp/octonius-nginx:$BITBUCKET_COMMIT
          # build the Docker image (this will use the Dockerfile in the root of the repo)
          - docker build -t $CLIENT_IMAGE_NAME ./client
          - docker build -t $API_IMAGE_NAME ./src
          - docker build -t $NGINX_IMAGE_NAME ./nginx
          # authenticate with the Docker Hub registry
          - docker login --username $DOCKER_ID --password $DOCKER_PASSWORD
          # push the new Docker image to the Docker registry
          - docker push $CLIENT_IMAGE_NAME
          - docker push $API_IMAGE_NAME
          - docker push $NGINX_IMAGE_NAME


