image: atlassian/default-image:2

options:
  size: 2x

pipelines:
  branches:
    "{master}":
    - step:
        caches:
          - docker
        name: Deploy to dockerhub
        services:
          - docker

        # can be test, staging or production.
        deployment: production
        script: 
        
          # Modify the commands below to build your repository.
          
          # Set $DOCKER_HUB_USERNAME and $DOCKER_HUB_PASSWORD as environment variables in repository settings
          - export CLIENT_IMAGE_NAME=octoniusapp/octonius:client
          - export MAILS_IMAGE_NAME=octoniusapp/octonius:mailing-server
          - export AUTHS_IMAGE_NAME=octoniusapp/octonius:auths-server
          - export GROUPS_IMAGE_NAME=octoniusapp/octonius:groups-server
          - export WORKSPACES_IMAGE_NAME=octoniusapp/octonius:workspaces-server
          - export USERS_IMAGE_NAME=octoniusapp/octonius:users-server
          - export POSTS_IMAGE_NAME=octoniusapp/octonius:posts-server
          - export NOTIFICATIONS_IMAGE_NAME=octoniusapp/octonius:notifications-server
          - export UTILITIES_IMAGE_NAME=octoniusapp/octonius:utilities-server
          - export FOLIO_IMAGE_NAME=octoniusapp/octonius:folio-server
          - export QUERY_IMAGE_NAME=octoniusapp/octonius:query-server
          - export NGINX_IMAGE_NAME=octoniusapp/octonius:nginx

          # build the Docker image (this will use the Dockerfile in the root of the repo)
          - docker build -t $CLIENT_IMAGE_NAME --compress=true --force-rm=true ./client
          - docker build -t $MAILS_IMAGE_NAME --compress=true --force-rm=true ./services/mailing/server
          - docker build -t $AUTHS_IMAGE_NAME --compress=true --force-rm=true ./services/authentication/server
          - docker build -t $GROUPS_IMAGE_NAME --compress=true --force-rm=true ./services/groups/server
          - docker build -t $WORKSPACES_IMAGE_NAME --compress=true --force-rm=true ./services/workspaces/server
          - docker build -t $USERS_IMAGE_NAME --compress=true --force-rm=true ./services/users/server
          - docker build -t $POSTS_IMAGE_NAME --compress=true --force-rm=true ./services/posts/server
          - docker build -t $NOTIFICATIONS_IMAGE_NAME --compress=true --force-rm=true ./services/notifications/server
          - docker build -t $UTILITIES_IMAGE_NAME --compress=true --force-rm=true ./services/utilities/server
          - docker build -t $FOLIO_IMAGE_NAME --compress=true --force-rm=true ./services/folio/server
          - docker build -t $QUERY_IMAGE_NAME --compress=true --force-rm=true ./services/query-service
          - docker build -t $NGINX_IMAGE_NAME --compress=true --force-rm=true ./nginx

          # Clear unnecessary Image build
          - docker image prune -f 
          
          # authenticate with the Docker Hub registry
          - docker login --username $DOCKER_ID --password $DOCKER_PASSWORD

          # push the new Docker image to the Docker registry
          - docker push $CLIENT_IMAGE_NAME
          - docker push $MAILS_IMAGE_NAME
          - docker push $AUTHS_IMAGE_NAME
          - docker push $GROUPS_IMAGE_NAME
          - docker push $WORKSPACES_IMAGE_NAME
          - docker push $USERS_IMAGE_NAME
          - docker push $POSTS_IMAGE_NAME
          - docker push $NOTIFICATIONS_IMAGE_NAME
          - docker push $UTILITIES_IMAGE_NAME
          - docker push $FOLIO_IMAGE_NAME
          - docker push $QUERY_IMAGE_NAME
          - docker push $NGINX_IMAGE_NAME

    "{staging}":
    - step:
        name: Deploy to Server
        image: ubuntu:latest
        deployment: staging
        script:
          - apt-get update && apt-get install -y sshpass
          - sshpass -p $HOST_PASSWORD ssh -t -t $HOST_ADDRESS "cd /home/ubuntu/flash; echo $PWD" 
    # - step:
    #     name: Deploy to dockerhub
    #     services:
    #       - docker
    #       - ubuntu

    #     # can be test, staging or production.
    #     deployment: staging   
    #     script: 
        
    #       # Modify the commands below to build your repository.
          
    #       # Set $DOCKER_HUB_USERNAME and $DOCKER_HUB_PASSWORD as environment variables in repository settings
    #       - export CLIENT_IMAGE_NAME=octoniusapp/octonius-alpha:client
    #       - export MAILS_IMAGE_NAME=octoniusapp/octonius-alpha:mailing-server
    #       - export AUTHS_IMAGE_NAME=octoniusapp/octonius-alpha:auths-server
    #       - export GROUPS_IMAGE_NAME=octoniusapp/octonius-alpha:groups-server
    #       - export WORKSPACES_IMAGE_NAME=octoniusapp/octonius-alpha:workspaces-server
    #       - export USERS_IMAGE_NAME=octoniusapp/octonius-alpha:users-server
    #       - export POSTS_IMAGE_NAME=octoniusapp/octonius-alpha:posts-server
    #       - export NOTIFICATIONS_IMAGE_NAME=octoniusapp/octonius-alpha:notifications-server
    #       - export UTILITIES_IMAGE_NAME=octoniusapp/octonius-alpha:utilities-server
    #       - export FOLIO_IMAGE_NAME=octoniusapp/octonius-alpha:folio-server
    #       - export QUERY_IMAGE_NAME=octoniusapp/octonius-alpha:query-server
    #       - export NGINX_IMAGE_NAME=octoniusapp/octonius-alpha:nginx

    #       # build the Docker image (this will use the Dockerfile in the root of the repo)
    #       - docker build -t $CLIENT_IMAGE_NAME --compress=true --force-rm=true ./client
    #       - docker build -t $MAILS_IMAGE_NAME --compress=true --force-rm=true ./services/mailing/server
    #       - docker build -t $AUTHS_IMAGE_NAME --compress=true --force-rm=true ./services/authentication/server
    #       - docker build -t $GROUPS_IMAGE_NAME --compress=true --force-rm=true ./services/groups/server
    #       - docker build -t $WORKSPACES_IMAGE_NAME --compress=true --force-rm=true ./services/workspaces/server
    #       - docker build -t $USERS_IMAGE_NAME --compress=true --force-rm=true ./services/users/server
    #       - docker build -t $POSTS_IMAGE_NAME --compress=true --force-rm=true ./services/posts/server
    #       - docker build -t $NOTIFICATIONS_IMAGE_NAME --compress=true --force-rm=true ./services/notifications/server
    #       - docker build -t $UTILITIES_IMAGE_NAME --compress=true --force-rm=true ./services/utilities/server
    #       - docker build -t $FOLIO_IMAGE_NAME --compress=true --force-rm=true ./services/folio/server
    #       - docker build -t $QUERY_IMAGE_NAME --compress=true --force-rm=true ./services/query-service
    #       - docker build -t $NGINX_IMAGE_NAME --compress=true --force-rm=true ./nginx

    #       # Clear unnecessary Image build
    #       - docker image prune -f 
          
    #       # authenticate with the Docker Hub registry
    #       - docker login --username $DOCKER_ID --password $DOCKER_PASSWORD

    #       # push the new Docker image to the Docker registry
    #       - docker push $CLIENT_IMAGE_NAME
    #       - docker push $MAILS_IMAGE_NAME
    #       - docker push $AUTHS_IMAGE_NAME
    #       - docker push $GROUPS_IMAGE_NAME
    #       - docker push $WORKSPACES_IMAGE_NAME
    #       - docker push $USERS_IMAGE_NAME
    #       - docker push $POSTS_IMAGE_NAME
    #       - docker push $NOTIFICATIONS_IMAGE_NAME
    #       - docker push $UTILITIES_IMAGE_NAME
    #       - docker push $FOLIO_IMAGE_NAME
    #       - docker push $QUERY_IMAGE_NAME
    #       - docker push $NGINX_IMAGE_NAME
          
definitions:
   services:
      docker:
         memory: 6000

