image: atlassian/default-image:2

options:
  size: 2x

pipelines:
  branches:
    "{master}":
    - step:
        name: Deploy to test
        services:
          - docker
        deployment: production   # can be test, staging or production.
        script:
          - echo "Deploying to production environment"
          # build the Docker dev image to test
          - docker build -t octoniusapp/octonius:api -f ./api/Dockerfile.dev ./api
          # run tests
          - docker run octoniusapp/octonius:api yarn test -- --coverage

    - step:
        name: Deploy to dockerhub
        services:
          - docker
        script: # Modify the commands below to build your repository.
          # Set $DOCKER_HUB_USERNAME and $DOCKER_HUB_PASSWORD as environment variables in repository settings
          - export CLIENT_IMAGE_NAME=octoniusapp/octonius:client
          - export API_IMAGE_NAME=octoniusapp/octonius:api
          - export NGINX_IMAGE_NAME=octoniusapp/octonius:nginx
          # build the Docker image (this will use the Dockerfile in the root of the repo)
          - docker build -t $CLIENT_IMAGE_NAME ./client
          - docker build -t $API_IMAGE_NAME ./api
          - docker build -t $NGINX_IMAGE_NAME ./nginx
          # authenticate with the Docker Hub registry
          - docker login --username $DOCKER_ID --password $DOCKER_PASSWORD
          # push the new Docker image to the Docker registry
          - docker push $CLIENT_IMAGE_NAME
          - docker push $API_IMAGE_NAME
          - docker push $NGINX_IMAGE_NAME
          
definitions:
   services:
      docker:
         memory: 3072

