.l-8 {animation-delay: 1.32s;}

.load-8 .line {animation: loadingH 1.5s cubic-bezier(.17,.37,.43,.67) infinite;}

.line {
	display: inline-block;
	width: 50px;
	height: 18px;
	border-radius: 18px;
	background-color: #005fd5;
}
.card{
    margin-bottom: 10px;
}

.emoji-drop-transparent {

  color: transparent;
  background: transparent;

}

.dropdown-edit::after
{
  display:none;
}
.list-tags{
  max-height: 150px;
  margin-bottom: 5px;
  overflow:auto;
	overflow-x: hidden;
	padding: 0 !important;
  // -webkit-overflow-scrolling: touch;
}
.list-tags{
  .tags{
    margin-bottom: 5px;
    margin-top: 5px;
	}
}

.card-main{
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-main-body{
  width:100%;
  box-sizing: border-box;
  padding-bottom:20px;
}

.main-box{
  flex-wrap: nowrap; 
  overflow-x: scroll; 
  overflow-y: scroll; 
  height:800px; 
  margin-bottom: 50px;
}

.cross{
  background: none; 
  border:none;  
  float:right; 
  margin-top:-14px;
  margin-left:11px;
  color:#fff;
  width:13px;
  height:13px;
  border-radius:50%;
  background-color: rgba(0,0,0,0.5);
}
.cross .material-icons{
  font-size: 10px;
  margin-top:-2px;
  margin-left:-4px;
}

::-webkit-scrollbar {
  width: 5px;
  height:5px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 15px;
  width:5px;
  height:5px;
}
 
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.5); 
  border-radius: 15px;
  width:5px;
  height:5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.7); 
}

.cdk-drag-animating, .cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
} 

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.dragging-cover{
  width:91.5%;
  height:100%;
  background:#000;
  position: absolute;
  top: 5.25%;
  opacity:0.6;
  border-radius: 5px;
  border-width: 5px;
  border-style: solid dashed;
}