@import "src/assets/scss/variables";

.suggestions {
	background-color: $body-bg;
	opacity: 1;
	width: 100%;
	z-index: 1;
	margin-bottom: -10px;

	ul {
		margin: 0px;
		padding: 0px;

		li {
			list-style: none;
			border-bottom: 1px solid $border-gray;
			height: 30px;
			margin: 10px 0px;
			padding: 5px 20px;
			cursor: pointer;
		}
	
		li:hover {
			background-color: $lightgray;
		}
	}
}

.sent-text {
	width: 85%;
	float: left;
	margin-left: 5px;
	height: 60px;
}

.send-button {
	position: absolute;
	bottom: 24px;
	width: 20px;
	margin-left: 10px;
	font-size: 32px;
}