<div class="suggestions" *ngIf="(showSuggestMembers && suggestValues.length > 0) || (showSuggestFiles && suggestValues.length > 0)">
  <ul *ngIf="showSuggestMembers">
    <li (click)="mentionMember(member)" *ngFor="let member of suggestValues">{{ member?.value }}</li>
  </ul>

  <!--
  <ul *ngIf="showSuggestFiles">
    <li *ngFor="let file of suggestValues">{{ file?.value }}</li>
  </ul>
  -->
</div>

<div>
  <div class="sent-text">
    <!-- Message Content starts -->
    <!--
    <app-quill-editor [editorId]="'chat-message-editor'" [toolbar]="true" [readOnly]="false"
      [chat]="true" (content)="getQuillData($event)"></app-quill-editor>
    -->
    <input #inputField class="form-control" type="text" placeholder="Enter text..." [(ngModel)]="newMessage"
      (keyup.enter)="sendMessage()" (keyup)="suggest($event)" />
    <!-- Message Content ends -->
  </div>

  <i *ngIf="!newMessage" class="material-icons send-button">send</i>
  <i *ngIf="newMessage" class="material-icons send-button" style="color:blue; cursor: pointer;" (click)="sendMessage()">send</i>
</div>