<div ngbDropdown [autoClose]="true">
  <div *ngIf="task.task.unassigned == 'No'">
      <span class="assigned">
          <img ngbDropdownToggle src="{{this.BASE_URL}}/uploads/{{task.task._assigned_to?.profile_pic}}"
              onerror="this.src = '/assets/images/user.png'" class="feed-avatar">
          <span class="modal-view" *ngIf="isModalView">Assigned to</span> {{task.task._assigned_to?.first_name}}
      </span>
  </div>
  <div *ngIf="task.task.unassigned == 'Yes'">
      <span class="assigned">
          <!-- <i class="material-icons assign-icons" ngbDropdownToggle>perm_identity</i> -->
          <img ngbDropdownToggle src="/assets/images/perm_identity-24px.svg" 
          onerror="this.src = '/assets/images/user.png'" class="assign-icons feed-avatar">
          Unassigned
      </span>
  </div>
  <div ngbDropdownMenu>
      <div ngbDropdownItem><span>Search member to assign</span></div>
      <div class="input-group input-group-sm">
          <input type="text" class="form-control" (keyup)="onSearchMember($event)">
      </div>
      <button class="btn dropdown-item" *ngFor="let member of usersInGroup"
          (click)="onSelectUser(task, member)">
          <img src="{{this.BASE_URL}}/uploads/{{member?.profile_pic}}"
              onerror="this.src = '/assets/images/user.png'" class="feed-avatar">
          {{member?.first_name}} {{member?.last_name}}<br> <span
              class="small muted">{{member?.email}}</span>
      </button>
  </div>
</div>