.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
i.icon-blue {
	color: blue;
}

.search-results {
	height: 100%;
  }

.line {
	display: inline-block;
	width: 50px;
	height: 18px;
	border-radius: 18px;
	background-color: #005fd5;
}


.l-8 {animation-delay: 1.32s;}

.load-8 .line {animation: loadingH 1.5s cubic-bezier(.17,.37,.43,.67) infinite;}


@keyframes loadingH {
	0% {width: 50px;}
	50% {width: 110px; padding: 4px;}
	100% {width: 50px;}
}

@keyframes loadingI {
	100% {transform: rotate(360deg);}
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
    height: 0%;
	}
	100% {
		opacity: 1;
    height: 100%;
	}
}
.slider {
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */
  box-sizing: border-box;

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;
}
.slider.closed {
	max-height: 0;
}
