<div class="sidecontent">
    <div class="card sideinnercard">

        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="card-title font-weight-bold" *ngIf="!myWorkplace" i18n="@@groupTaskProgress.teamAssignments"> Team Assignments</h6>
                    <h6 class="card-title font-weight-bold" *ngIf="myWorkplace" i18n="@@groupTaskProgress.yourAssignments"> Your Assignments</h6>
                    <hr />
                </div>
            </div>
        </div>

        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <span class="bold" style="font-size: 20px;">{{ totalTasksCount }}</span> <span i18n="@@groupTaskProgress.assignmentsWeek">assignment(s) this week.</span>
                    <br>
                    <span class="overdue bold" style="font-size: 20px;">{{ undoneTasksCount }}</span> <span i18n="@@groupTaskProgress.overdueAssignmentsWeek">overdue assignment(s) this week.</span>
                </div>
            </div>

            <div class="row mt-2" *ngIf="percentageTodo >= 0">
                <div class="col-md-6">
                    <h6 class="todo">
                      <b>{{todoTasksCount}} <span i18n="@@groupTaskProgress.toDo">To do</span></b>
                    </h6>
                    <!--
                    <app-progress-bar [preset]="'line'" [value]="percentageTodo" [stroke]="'#fd7714'"></app-progress-bar>
                    -->
                </div>
                <div class="col-md-12">

                </div>
            </div>

            <div class="row mt-2 mb-2" *ngIf="percentageInProgress >= 0">
                <div class="col-md-6">
                    <h6 class="working">
                      <b>{{inprogressTasksCount}} <span i18n="@@groupTaskProgress.inProgress">In progress</span></b>
                    </h6>
                </div>
                <!--
                <div class="col-md-12">
                    <app-progress-bar style="width: 100%;" [preset]="'line'" [value]="percentageInProgress" [stroke]="'#0bc6a0'"></app-progress-bar>
                </div>
                -->
            </div>

            <div class="row mt-2" *ngIf="percentageDone >=0">
                <div class="col-md-12">
                    <h6 class="done">
                      <b>{{doneTasksCount}} <span i18n="@@groupTaskProgress.done">Done</span></b>
                    </h6>
                </div>
                <!--
                <div class="col-md-12">
                    <app-progress-bar [preset]="'line'" [value]="percentageDone" [stroke]="'#005FD5'"></app-progress-bar>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
