<ul class="list-group ">
  <!-- Normal post -->
  <li class="list-group-item " *ngIf="this.post?.type== 'normal'">
    <div class="card ">
      <div class="card-block ">
        <div class="card-title ">
          <img src="/uploads/{{this.post._posted_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'" class="feed-avatar float-left">
          <h6>{{this.post._posted_by?.first_name}} {{this.post._posted_by?.last_name}} <br> <span class="small lightgray date">
              {{this.post?.created_date | date : 'medium' }}</span></h6>
        </div>

        <div class="card-body">
          <div class="innercard" style="border: none;" [innerHTML]="this.post.content | safe: 'html'">
          </div>
          <div class="innercard" *ngFor="let file of this.post?.files">
            <div class="event-title">Attachment:</div>
            <div class="col-md-12">
              <a role="button" href="javascript:void(null);">{{file?.orignal_name}}</a></div>
          </div>

        </div>
        <div class="col-md-12 text-right " style="display: none; padding-bottom: 1em;">
          <button class="btn btn-primary btn-sm" contenteditable="false" (click)="OnSaveEditPost(i, post._id,post?.content)">Save</button>
        </div>
        <div class="col-md-12 innercard">
          <quill-editor [modules]="modules" type="text" [(ngModel)]="this.post.content" [spellcheck]="true" value="this.post?.content"
            style="display: none;" (blur)="onEditorBlured($event)" (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)"
            (change)="onContentChanged($event)"></quill-editor>
        </div>




        <div class="card-footer action-post innercard clearfix">
          <hr>
          <div class="row ">
            <div class="col-md-6 ">
              <span [ngbPopover]="likepopcontent"><b>{{this.post?._liked_by.length}}</b> Likes </span>
              <span style="cursor: pointer;" (click)="loadComments(post._id); normalCommentBoxToggle();"><b>{{commentCount}}</b> Comments</span>
            </div>
            <div class="col-md-6 text-right">

              <span>
                <button class="btn btn-link">
                  <i class="material-icons muted" (click)="this.showComments.id = this.post._id; this.showComments.normal =! this.showComments.normal;">mode_comment</i>
                </button>
              </span>

              <span>
                <button class="btn btn-link" (click)="likepost();">
                  <i class="material-icons muted" *ngIf="this.post._liked_by.includes(this.user_data.user_id)==false; else likeif">thumb_up</i>
                  <ng-template #likeif><i class="material-icons active">thumb_up</i></ng-template>
                </button>
              </span>

              <span>
                <ng-template #editpostif>
                </ng-template>
              </span>
            </div>
          </div>
          <ng-template #likepopcontent>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let liked_member of this.post._liked_by;">{{liked_member.first_name}}</li>
            </ul>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- post comment block make this invisible -->


    <div *ngIf="showComments.id == this.post._id && showComments.normal">
      <div class="card muted margin5">
        <form [formGroup]="commentForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group ">
                <h6>Add a comment</h6>

                <quill-editor [modules]="modules" [(ngModel)]="comment.content" (blur)="onEditorBlured($event)"
                  [spellcheck]="true" class="form-control" name="commentContent" (focus)="onEditorFocused($event)"
                  formControlName="commentContent" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)"></quill-editor>
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-12 text-right ">
              <button type="button " name="button " class="btn btn-default " (click)="showComments.id=this.post._id;showComments.normal=!showComments.normal;">Cancel</button>
              <button [disabled]="commentForm.invalid" type="button " name="button" (click)="onAddNewComment(this.post._id)"
                class="btn btn-primary">Comment</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- load more comments button -->

    <div class="load-more-comments" *ngIf="comments.length < commentCount && normalComments?.style.display === 'block'">
      <p (click)="loadPreviousComments()" class="load-more-comments-btn">Load more comments...</p>
      <p class="comments-count">{{comments.length}} of {{commentCount}} comments</p>
    </div>


    <!-- post comment block-->

            <!-- all comments block-->

            <div #normalComments id="normalComments" style="display: none;">
              <div class="card muted comment" id="normalComment-{{j}}" *ngFor="let comment of this.comments; let j = index;">
                <div class="card-block">
                  <div class="row card-title ">
                    <div class="col-md-1">
                      <img src="/uploads/{{comment._commented_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"
                        class="feed-avatar">
                    </div>
                    <div class="col-md-7 ">
                      <h6>{{comment._commented_by?.first_name}} {{comment._commented_by?.last_name}} replied
                      <br> <span class="small lightgray date">
                        {{comment.created_date | date : 'medium'}}</span>
                      </h6>
                    </div>
                  </div>
                  <div class="col-md-12 text-right " id="button_edit_comment{{j}}" style="display: none; padding-bottom: 1em;">
                      <button class="btn btn-primary btn-sm" contenteditable="false" (click)="OnSaveEditComment(j, comment._id, comment._post)">Save</button>
                    </div>
                    <div class="col-md-12 innercard">
                      <quill-editor [modules]="modules" id="edit-comment-{{j}}" type="text" [(ngModel)]="comment.content"
                        [spellcheck]="true" value="comment?.content" style="display: none;" (blur)="onEditorBlured($event)"
                        (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)">
                      </quill-editor>
                    </div>
                  <div class="col-md-12 innercard " id="commentContent-{{j}}" [innerHTML]="comment?.content" style="color:black;">

                  </div>


                  <div class="row card-footer innercard action-post clearfix">

                    <div class="col-md-6">
                        <span [ngbPopover]="likepopcommentcontent" triggers="mouseenter:mouseleave" *ngIf="comment._liked_by?.length !== 0"><b>{{comment._liked_by?.length}}</b> Likes</span>
                    </div>
                    <div class="col-md-6 text-right">

                      <span>
                      <button class="btn btn-link btn-like-comment" (click)="onClickLikeComment(comment)">

                        <i class="material-icons muted" *ngIf="!userLikedComment(i,j); else likeif"
                           id="icon_like_post_{{i}}">thumb_up</i>
                        <ng-template #likeif><i class="material-icons active" id="icon_like_post_{{i}}">thumb_up</i></ng-template>
                      </button>
                    </span>
                    <span style="margin-right: -12px">
                        <div ngbDropdown class="d-inline-block" #commentsDrop="ngbDropdown"
                             (openChange)="toggled($event)" *ngIf="comment?._commented_by?._id == user_data.user_id; else editpostif">
                          <i class="material-icons action" id="dropdownComment" ngbDropdownToggle>more_horiz</i>
                          <div ngbDropdownMenu aria-labelledby="dropdownComment">
                              <button class="dropdown-item" (click)="OnEditComment(j)">Edit Comment</button>
                            <button class="dropdown-item" (click)="OnDeleteComment(comment._id)">Delete Comment</button>
                          </div>
                        </div>
                      </span>
                  </div>
                  </div>
                </div>
              </div>
              </div>

              <!-- all comments block-->
  </li>

  <li class="list-group-item" *ngIf="this.post?.type=='task'">
    <div class="card">
      <div class="card-block ">
        <div class="row card-title ">
          <div class="col-md-10">
            <img src="/uploads/{{this.post._posted_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"
              class="feed-avatar float-left">
            <!--<img src="assets/images/user.png" class="feed-avatar">-->


            <h6>{{post._posted_by?.first_name}} {{post._posted_by?.last_name}} </h6>
            <p class="small lightgray date ">
              {{post?.created_date | date : 'medium'}}</p>
            <span class="assigned"> Assigned to {{post.task._assigned_to.first_name}}
              {{this.post.task?._assigned_to?.last_name}}
            </span>
          </div>





          <div class="col-md-2 float-right text-right padding-topright">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-sm kbn-todo" *ngIf="post.task.status == 'to do'" id="dropdownDone" style=" color: white;"
                ngbDropdownToggle>{{post.task.status}}</button>
                <button class="btn btn-sm kbn-working" *ngIf="post.task.status == 'in progress'" id="dropdownDone" style=" color: white;"
                ngbDropdownToggle>{{post.task.status}}</button>
                <button class="btn btn-sm kbn-done" *ngIf="post.task.status == 'done'" id="dropdownDone" style=" color: white;"
                ngbDropdownToggle>{{post.task.status}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownToDo">
                <button class="dropdown-item" (click)="OnMarkTaskToDo(this.post._id)">To Do</button>
                <button class="dropdown-item" (click)="OnMarkTaskInProgress(this.post._id)">In Progress</button>
                <button class="dropdown-item" (click)="OnMarkTaskCompleted(this.post._id)">Done</button>
              </div>
            </div>
            <p class="small font-weight-bold" style="margin-top: 5px" *ngIf="post.task?.due_to != 'Invalid date'"> due {{post.task?.due_to | date}}</p>
          </div>
          <ng-template #taskif>
            <div class="col-md-4 text-right padding-topright">
              <button class="btn btn-pink btn-sm" id="button_task_mark_completed" (click)="OnMarkTaskCompleted()">Mark
                complete</button>
              <p class="small font-weight-bold" style="margin-top: 5px" *ngIf="post.task?.due_to != 'Invalid date'"> Due- {{post.task?.due_to | date}}</p>
              <p class="small font-weight-bold" style="margin-top: 5px"> Status - {{post.task?.status}}</p>
            </div>
          </ng-template>
        </div>

        <div class="card-body">
          <div class="col-md-12 innercard " [innerHTML]="post?.content | safe: 'html'">
            <!--<pre class="card-text ">{{post?.content}}
                    </pre>-->
          </div>
          <div class="col-md-12 innercard" *ngFor="let file of this.post.files">
            <div class="col-md-12 event-title">Attachment:</div>
            <div class="col-md-12"> <a role="button" href="javascript:void(null);" (click)="onDownlaodFile(file.modified_name,file.orignal_name)">{{file?.orignal_name}}</a></div>
          </div>

        </div>





        <div class="card-footer action-post innercard clearfix ">
          <hr>
          <div class="row ">
            <div class="col-md-6 ">
              <span [ngbPopover]="likepopcontent"><b>{{post?._liked_by.length}}</b> Likes</span>
              <span style="cursor: pointer;" (click)="loadComments(post._id); taskCommentBoxToggle(i);"><b>{{commentCount}}</b> Comments</span>
              <ng-template #likepopcontent>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let liked_member of this.post._liked_by;">{{liked_member.first_name}}</li>
                </ul>
              </ng-template>
            </div>
            <div class="col-md-6 text-right">
              <span>
                <button class="btn btn-link" (click)="showComments.id=post._id;showComments.task=!showComments.task;">
                  <i class="material-icons muted">mode_comment</i>
                </button>
              </span>
              <span>
                <button class="btn btn-link" (click)="likepost();">
                  <i class="material-icons muted" *ngIf="this.post._liked_by.includes(this.user_data.user_id)==false; else likeif">thumb_up</i>
                  <ng-template #likeif><i class="material-icons active">thumb_up</i></ng-template>
                </button>
              </span>
              <span>

                <ng-template #edittaskif>
                </ng-template>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- post comment block make this invisible -->


    <div *ngIf="showComments.id == post._id && showComments.task">
      <div class="card muted margin5">
        <form [formGroup]="commentForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group ">
                <h6>Add a comment</h6>
                <!--<textarea class="form-control" id="post-content" rows="3" [(ngModel)]="comment.content" name="commentContent" formControlName="commentContent"></textarea>-->
                <quill-editor [modules]="modules" [(ngModel)]="comment.content" (blur)="onEditorBlured($event)"
                  [spellcheck]="true" class="form-control" name="commentContent" (focus)="onEditorFocused($event)"
                  formControlName="commentContent" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)"></quill-editor>
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-12 text-right ">
              <button type="button " name="button " class="btn btn-default " (click)="showComments.id=post._id;showComments.task=!showComments.task;">Cancel</button>
              <button [disabled]="commentForm.invalid" type="button " name="button" (click)="onAddNewComment(post._id);"
                class="btn btn-primary">Comment</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- load more comments button -->

    <div class="load-more-comments" *ngIf="comments.length < commentCount && taskComments?.style.display === 'block'">
      <p (click)="loadPreviousComments()" class="load-more-comments-btn">Load more comments...</p>
      <p class="comments-count">{{comments.length}} of {{commentCount}} comments</p>
    </div>


    <!-- post comment block-->

    <!-- all comments block-->

    <div #taskComments id="taskComments" style="display: none;">
      <div class="card muted comment" id="taskComment-{{j}}" *ngFor="let comment of this.comments; let j = index;">
        <div class="card-block">
          <div class="row card-title ">
            <div class="col-md-1">
              <img src="/uploads/{{comment._commented_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"
                class="feed-avatar">
              <!--<img [src]="profileImage" class="feed-avatar">-->
              <!--<img src="assets/images/user.png" class="feed-avatar">-->
            </div>
            <div class="col-md-7 ">
              <h6>{{comment._commented_by?.first_name}} {{comment._commented_by?.last_name}} replied</h6>
              <p class="small lightgray date">
                {{comment.created_date | date : 'medium'}}</p>
            </div>
          </div>
          <div class="col-md-12 text-right " id="button_edit_comment{{j}}" style="display: none; padding-bottom: 1em;">
              <button class="btn btn-primary btn-sm" contenteditable="false" (click)="OnSaveEditComment(j, comment._id, comment._post)">Save</button>
            </div>
            <div class="col-md-12 innercard">
              <quill-editor [modules]="modules" id="edit-comment-{{j}}" type="text" [(ngModel)]="comment.content"
                [spellcheck]="true" value="comment?.content" style="display: none;" (blur)="onEditorBlured($event)"
                (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)">
              </quill-editor>
            </div>
          <div class="col-md-12 innercard " id="commentContent-{{j}}" [innerHTML]="comment?.content" style="color:black;">

          </div>

          <div class="row card-footer innercard action-post clearfix">

            <div class="col-md-6">
                <span [ngbPopover]="likepopcommentcontent" triggers="mouseenter:mouseleave" *ngIf="comment._liked_by?.length !== 0"><b>{{comment._liked_by?.length}}</b> Likes</span>
            </div>
            <div class="col-md-6 text-right">

              <span>
              <button class="btn btn-link btn-like-comment" (click)="onClickLikeComment(comment)">

                <i class="material-icons muted" *ngIf="!userLikedComment(i,j); else likeif"
                   id="icon_like_post_{{i}}">thumb_up</i>
                <ng-template #likeif><i class="material-icons active" id="icon_like_post_{{i}}">thumb_up</i></ng-template>
              </button>
            </span>
            <span style="margin-right: -12px">
                <div ngbDropdown class="d-inline-block" #commentsDrop="ngbDropdown"
                     (openChange)="toggled($event)" *ngIf="comment?._commented_by?._id == user_data.user_id; else editpostif">
                  <i class="material-icons action" id="dropdownComment" ngbDropdownToggle>more_horiz</i>
                  <div ngbDropdownMenu aria-labelledby="dropdownComment">
                      <button class="dropdown-item" (click)="OnEditComment(j)">Edit Comment</button>
                    <button class="dropdown-item" (click)="OnDeleteComment(comment._id)">Delete Comment</button>
                  </div>
                </div>
              </span>
          </div>
          </div>
        </div>
      </div>
      </div>

    <!-- all comments block-->

  </li>

  <li class="list-group-item" id="card-event-post" *ngIf="this.post?.type=='event'">
    <div class="card">
      <div class="card-block ">
        <div class="card-title ">

          <img src="/uploads/{{post._posted_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'" class="feed-avatar float-left">

          <h6>{{post._posted_by?.first_name}} {{post._posted_by?.last_name}}</h6>
          <p class="small lightgray date ">
            {{post?.created_date| date : 'medium'}}</p>
          <span class="assigned" [ngbPopover]="eventassignedmembers">Assigned to {{post.event._assigned_to.length}}
            MEMBERS
          </span>
          <ng-template #eventassignedmembers>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let element of post.event._assigned_to; let j = index;">
                {{element.first_name}}</li>
            </ul>
          </ng-template>
        </div>

        <div class="card-body">
          <div class="col-md-12 innercard ">
            <div class="row">
              <div class="col-md-2 dateblock">
                <span class="bigdate">{{post?.event.due_to | date :'dd' }}</span>
                <br>
                <span class="time">{{post?.event.due_to | date: 'MMMM' }}</span>
                <br>
                <span class="time">{{post.event.due_to | date:'hh:mm'}}</span>
              </div>
              <div class="col-md-9 event-title" [id]="(i)" [innerHTML]="post?.content | safe: 'html' ">
              </div>
            </div>
          </div>
          <div class="col-md-12 innercard" *ngFor="let file of post.files">
              <div class="col-md-12 event-title">Attachment:</div>
              <div class="col-md-12"> <a role="button" href="javascript:void(null);" (click)="onDownlaodFile(file.modified_name,file.orignal_name)">{{file?.orignal_name}}</a></div>
            </div>
        </div>



      </div>



      <div class="card-footer action-post innercard clearfix ">
        <hr>
        <div class="row">
          <div class="col-md-6 ">
            <span [ngbPopover]="likepopcontent"><b>{{post?._liked_by.length}}</b> Likes</span>
            <span style="cursor: pointer;" (click)="loadComments(post._id); eventCommentBoxToggle(i);"><b>{{commentCount}}</b> Comments</span>
            <ng-template #likepopcontent>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let liked_member of post._liked_by;">{{liked_member.first_name}}</li>
              </ul>
            </ng-template>
          </div>
          <div class="col-md-6 text-right">

            <span>
              <button class="btn btn-link" (click)="showComments.id=post._id;showComments.event=!showComments.event;">
                <i class="material-icons muted ">mode_comment</i>
              </button>
            </span>
            <span>
              <button class="btn btn-link" (click)="likepost()">
                <i class="material-icons muted" *ngIf="this.post._liked_by.includes(this.user_data.user_id)==false; else likeif"
                  id="icon_like_post">thumb_up</i>
                <ng-template #likeif><i class="material-icons active" id="icon_like_post">thumb_up</i></ng-template>
              </button>
            </span>
            <span>

              <ng-template #editeventif>
              </ng-template>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- post comment block make this invisible -->


    <div *ngIf="showComments.id == post._id && showComments.event">
      <div class="card muted margin5">
        <form [formGroup]="commentForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group ">
                <h6>Add a comment</h6>
                <!--<textarea class="form-control" id="post-content" rows="3" [(ngModel)]="comment.content" name="commentContent" formControlName="commentContent"></textarea>-->
                <quill-editor id="comment-content" [modules]="modules" [(ngModel)]="comment.content" (blur)="onEditorBlured($event)"
                  [spellcheck]="true" class="form-control" name="commentContent" (focus)="onEditorFocused($event)"
                  formControlName="commentContent" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)"></quill-editor>
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-12 text-right ">
              <button type="button " name="button " class="btn btn-default " (click)="showComments.id=post._id;showComments.event=!showComments.event;">Cancel</button>
              <button [disabled]="commentForm.invalid" type="button " name="button" (click)="onAddNewComment(post._id)"
                class="btn btn-primary">Comment</button>
            </div>
          </div>
        </form>
      </div>
    </div>


    <!-- load more comments button -->

    <div class="load-more-comments" *ngIf="comments.length < commentCount && eventComments.style.display === 'block'">
      <p (click)="loadPreviousComments()" class="load-more-comments-btn">Load more comments...</p>
      <p class="comments-count">{{comments.length}} of {{commentCount}} comments</p>
    </div>

    <!-- post comment block-->

    <!-- all comments block-->

    <div #eventComments id="eventComments" style="display: none;">
      <div class="card comment"  id="eventComment-{{j}}" *ngFor="let comment of comments; let j = index;">
        <div class="card-block">
          <div class="row card-title ">
            <div class="col-md-1">
              <img src="/uploads/{{comment._commented_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"
                class="feed-avatar">
              <!--<img [src]="profileImage" class="feed-avatar">-->
            </div>
            <div class="col-md-7 ">
              <h6>{{comment._commented_by?.first_name}} {{comment._commented_by?.last_name}} replied <br>
              <span class="small lightgray date">
                {{comment.created_date | date : 'medium'}}</span>
              </h6>
            </div>
          </div>
          <div class="col-md-12 text-right " id="button_edit_comment{{j}}" style="display: none; padding-bottom: 1em;">
              <button class="btn btn-primary btn-sm" contenteditable="false" (click)="OnSaveEditComment(j, comment._id, comment._post)">Save</button>
            </div>
            <div class="col-md-12 innercard">
              <quill-editor [modules]="modules" id="edit-comment-{{j}}" type="text" [(ngModel)]="comment.content"
                [spellcheck]="true" value="comment?.content" style="display: none;" (blur)="onEditorBlured($event)"
                (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)">
              </quill-editor>
            </div>
          <div class="col-md-12 innercard " id="commentContent-{{j}}" [innerHTML]="comment?.content" style="color:black;">

          </div>
          <div class="row card-footer innercard action-post clearfix">

            <div class="col-md-6">
                <span [ngbPopover]="likepopcommentcontent" triggers="mouseenter:mouseleave" *ngIf="comment._liked_by?.length !== 0"><b>{{comment._liked_by?.length}}</b> Likes</span>
            </div>
            <div class="col-md-6 text-right">

              <span>
              <button class="btn btn-link btn-like-comment" (click)="onClickLikeComment(comment)">

                <i class="material-icons muted" *ngIf="!userLikedComment(i,j); else likeif"
                   id="icon_like_post_{{i}}">thumb_up</i>
                <ng-template #likeif><i class="material-icons active" id="icon_like_post_{{i}}">thumb_up</i></ng-template>
              </button>
            </span>
            <span style="margin-right: -12px">
                <div ngbDropdown class="d-inline-block" #commentsDrop="ngbDropdown"
                     (openChange)="toggled($event)" *ngIf="comment?._commented_by?._id == user_data.user_id; else editpostif">
                  <i class="material-icons action" id="dropdownComment" ngbDropdownToggle>more_horiz</i>
                  <div ngbDropdownMenu aria-labelledby="dropdownComment">
                      <button class="dropdown-item" (click)="OnEditComment(j)">Edit Comment</button>
                    <button class="dropdown-item" (click)="OnDeleteComment(comment._id)">Delete Comment</button>
                  </div>
                </div>
              </span>
          </div>
          </div>
        </div>
      </div>
      </div>
  </li>

</ul>
