<div class="board">
    <div class="board-wrapper" *ngIf="!isMobile"
        cdkDropList [cdkDropListData]="columns" cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropColumn($event)">

        <!-- ALL COLUMN DETAILS FOR NO-MOBILE STARTS -->
        <div class="board-columns" cdkDropListGroup *ngIf="columns">

            <div class="board-column" id="column._id" cdkDrag *ngFor="let column of columns; let i = index;">
                <!-- COLUMN TITLE AND EDIT/DELETE DETAILS STARTS -->
                <div class="column-title" cdkDragHandle>
                    <p class="text-capitalize" [matTooltip]="column?.title">
                      <img src="assets/images/Icon/icon_project.svg" alt="" class="mr-2" *ngIf="column?.project_type">
                      {{ column?.title | truncatetext:20 }}
                    </p>
                    <div class="inline-block">
                        <div class="dropdown">
                            <i class="material-icons action dropdown-toggle"
                                data-toggle="dropdown">more_horiz</i>

                            <!-- Menu Drawer Starts -->
                            <ul class="dropdown-menu">
                                <li class="dropdown-item" (click)="column.editColumn = !column.editColumn">
                                  <span class="material-icons-outlined">create</span>
                                  Edit
                                </li>
                                <li class="dropdown-item" *ngIf="columns.length > 1" (click)="deleteColumn(column)">
                                  <span class="material-icons-outlined">delete</span>
                                  Delete
                                </li>
                                <li class="dropdown-item" *ngIf="groupData?.project_type" (click)="makeColumnProjectDialog(column)">
                                  <img src="assets/images/Icon/icon_launch_project.svg" alt="" >
                                  Launch Project
                                </li>
                            </ul>
                            <!-- Menu Drawer Ends -->
                        </div>
                    </div>
                </div>
                <!-- COLUMN TITLE AND EDIT/DELETE DETAILS ENDS -->

                <!-- EDIT COLUMN STARTS -->
                <app-edit-column *ngIf="column" [column]="column" (column)="editColumn(column, $event)">
                </app-edit-column>
                <!-- EDIT COLUMN ENDS -->

                <!-- COLUMN STATS SECTION STARTS -->
                <div class="project-container">
                  {{ column?.tasks?.length }} Tasks
                  <span class="float-right done">
                    {{ column?.numDoneTasks || 0 }} Done
                  </span>
                </div>
                <!-- COLUMN STATS SECTION ENDS -->

                <!-- COLUMN PROJECT SECTION STARTS -->
                <app-column-project-section *ngIf="column?.project_type"
                  [column]="column"
                  [userData]="userData"
                  [groupData]="groupData"></app-column-project-section>
                <!-- COLUMN PROJECT SECTION ENDS -->

                <!-- TASK CONTAINER STARTS -->
                <div class="tasks-container" [id]="column._id"
                    cdkDropList [cdkDropListData]="column.tasks"
                    (cdkDropListDropped)="drop($event)">

                    <!-- CREATE TASK STARTS -->
                    <app-new-task [groupData]="groupData" [userData]="userData" [column]="column"
                        (post)="getPost($event, column)"></app-new-task>
                    <!-- CREATE TASK ENDS -->

                    <!-- TASK DETAILS STARTS -->
                    <app-kanban-task-card cdkDrag *ngFor="let task of column.tasks; let j = index;"
                        (click)="openFullscreenModal(task)"
                        [isProject]="column?.project_type"
                        [isDelay]="isDelay(task?.task?.due_to, column?.due_date)"
                        [task]="task">
                      <div *cdkDragPlaceholder></div>
                    </app-kanban-task-card>
                    <!-- TASK DETAILS ENDS -->
                </div>
                <!-- TASK CONTAINER ENDS -->
            </div>

            <!-- CREATE NEW COLUMN START -->
            <app-create-column (column)="addColumn($event)"></app-create-column>
            <!-- CREATE NEW COLUMN ENDS -->

        </div>
        <!-- ALL COLUMN DETAILS FOR NO-MOBILE ENDS -->
      </div>
      <div class="board-wrapper" *ngIf="isMobile">
        <!-- ALL COLUMN DETAILS FOR MOBILE STARTS -->
        <div class="board-columns" *ngIf="columns && isMobile">

            <div class="board-column" *ngFor="let column of columns; let i = index;">
                <!-- COLUMN TITLE AND EDIT/DELETE DETAILS STARTS -->
                <div class="column-title">
                    <p class="text-capitalize" [matTooltip]="column?.title">
                      <img src="assets/images/Icon/icon_project.svg" alt="" class="mr-2" *ngIf="column?.project_type">
                      {{ column?.title | truncatetext:20 }}
                    </p>
                    <div class="inline-block">
                        <div class="dropdown">
                            <i class="material-icons action dropdown-toggle"
                                data-toggle="dropdown">more_horiz</i>

                            <!-- Menu Drawer Starts -->
                            <ul class="dropdown-menu">
                                <li class="dropdown-item" (click)="column.editColumn = !column.editColumn">
                                  <span class="material-icons-outlined">create</span>
                                  Edit
                                </li>
                                <li class="dropdown-item" *ngIf="columns.length > 1" (click)="deleteColumn(column)">
                                  <span class="material-icons-outlined">delete</span>
                                  Delete
                                </li>
                                <li class="dropdown-item" *ngIf="groupData?.project_type" (click)="makeColumnProjectDialog(column)">
                                  <img src="assets/images/Icon/icon_launch_project.svg" alt="" >
                                  Launch Project
                                </li>
                            </ul>
                            <!-- Menu Drawer Ends -->
                        </div>
                    </div>
                </div>
                <!-- COLUMN TITLE AND EDIT/DELETE DETAILS ENDS -->

                <!-- EDIT COLUMN STARTS -->
                <app-edit-column *ngIf="column" [column]="column" (column)="editColumn(column, $event)">
                </app-edit-column>
                <!-- EDIT COLUMN ENDS -->

                <!-- COLUMN STATS SECTION STARTS -->
                <div class="project-container">
                  {{ column?.tasks?.length }} Tasks
                  <span class="float-right done">
                    {{ column?.numDoneTasks || 0 }} Done
                  </span>
                </div>
                <!-- COLUMN STATS SECTION ENDS -->

                <!-- COLUMN PROJECT SECTION STARTS -->
                <app-column-project-section *ngIf="column?.project_type"
                  [column]="column"
                  [userData]="userData"
                  [groupData]="groupData"></app-column-project-section>
                <!-- COLUMN PROJECT SECTION ENDS -->

                <!-- TASK CONTAINER STARTS -->
                <div class="tasks-container" [id]="column._id">
                    <!-- CREATE TASK STARTS -->
                    <app-new-task [groupData]="groupData" [userData]="userData" [column]="column"
                        (post)="getPost($event, column)"></app-new-task>
                    <!-- CREATE TASK ENDS -->

                    <!-- TASK DETAILS STARTS -->
                    <app-kanban-task-card *ngFor="let task of column.tasks; let j = index;"
                      (click)="openFullscreenModal(task)"
                      [isProject]="column?.project_type"
                      [isDelay]="isDelay(task?.task?.due_to, column?.due_date)"
                      [task]="task">
                    </app-kanban-task-card>
                    <!-- TASK DETAILS ENDS -->
                </div>
                <!-- TASK CONTAINER ENDS -->
            </div>

            <!-- CREATE NEW COLUMN START -->
            <app-create-column (column)="addColumn($event)"></app-create-column>
            <!-- CREATE NEW COLUMN ENDS -->

        </div>
        <!-- ALL COLUMN DETAILS FOR MOBILE ENDS -->
    </div>
</div>
