$box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.1);
$border-color: #e4edf8;

.has-gradient-text {
    background: -webkit-linear-gradient(#13f7f4, #2af598);
    -webkit-text-fill-color: transparent;
}

.board {
    display: flex;
    flex-direction: column;
    // flex-grow: 1;

    // Override Automatic Minimum Size
    // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
    min-width: 0;
    min-height: 0;

    .board-wrapper {
        // display: flex;
        // flex-grow: 1;
        margin-top: 2rem;
        // overflow-x: auto;
        // white-space: nowrap;

        .board-columns {
            display: flex;
            flex-grow: 1;
            position: absolute;

            .board-column {
                display: flex;
                // cursor: grab;
                flex-direction: column;
                flex-grow: 1;
                flex-basis: 0; // to force the columns to all be the same size, regardless of content
                width: 340px;
                margin: 0px;
                padding: 0px;

                // border-radius: 4px;

                // background: rgba(white, 0.5);

                &:not(:first-child) {
                    margin-left: 0;
                }

                .column-title {
                    display: flex;
                    justify-content: space-between;
                    margin: 24px 0;
                    width: 310px;
                    p {
                        font-size: 15px;
                        font-weight: 400;
                        text-transform: uppercase !important;
                    }
                }
            }
        }
    }
}

.column-title.create-column:hover {
    color: #005fd5;
}

.delete-column {
    color: black;
    float: right;
    cursor: pointer;
    :hover {
        color: red;
    }
}

.create-task {
    cursor: pointer;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    span {
        color: #ff6584;
    }
}

.project-container {
  width: 310px;
  border-bottom: 1px solid $border-color;
  margin-bottom: 16px;
}

.tasks-container {
    flex-grow: 1;
    overflow-y: auto;
    height: 70vh;
    overflow-x: hidden;
    width: 310px;
}
// to fix the annoying scroll bar but still being able to scroll vertically
.tasks-container::-webkit-scrollbar {
    width: 0 !important;
}

.task {
    // display: flex;
    padding: 8px;
    background: white;
    border: 1px solid $border-color;
    border-radius: 4px;
    margin-bottom: 8px;
    // width: 320px;
    transition: box-shadow 0.3s ease-in-out;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.kanban-card-title {
    // margin-top: 15%;
    // margin-left: -80px;
    font-weight: 400;
    font-size: 15px;
    color: #242d3a;
    cursor: pointer;
    width: 100%;
    white-space: normal;
}

.due-date {
    margin-left: auto;
}

.dropdown-toggle:after {
    content: none;
}

$pumpkin-orange: #ffab00;
$turquoise: #0bc6a0;
$dark-sky-blue: #4a90e2;

.status-todo {
    border-left: 3px solid $pumpkin-orange;
}
.status-inprogress {
    border-left: 3px solid $turquoise;
}
.status-done {
    border-left: 3px solid $dark-sky-blue;
}

.milestone {
    background: #AADBC9;
}

.north-star {
    // background: linear-gradient(90.01deg, rgba(94, 47, 229, 0.71) 0.01%, #5a206b 99.99%),
    //     url(/assets/images/bg-north-star.jpg);
    // background-size: cover;
    background: #E5DEFB;
    border-left: 3px solid #5E2FE5;



    .due {
        color: #ffffff;
    }

    .overdue {
        color: #ffffff;
    }
}

section {
    margin-bottom: 10px;
    vertical-align: middle;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
        margin-top: auto !important;
    }
}

img {
    cursor: pointer;
    transition: transform 0.2s ease;
}

img:hover {
    transform: scale(1.1);
}

.task:hover {
    box-shadow: $box-shadow;
}

.dropdown-menu {
    top: 20px !important;
    transform: none !important;
}

.feed-avatar {
    width: 30px !important;
    height: 30px !important;
    margin: 0;
}

.caption{
    font-size: 12px;
}
.blue{
    color: #005fd5;
}