<div class="container-fluid">

    <div class="row">
        <ng-container *ngIf="userData && workspaceData && userData?.role != 'guest'">
            <app-create-group class="col-md-3" [userData]="userData" [workspaceData]="workspaceData"
                (group)="receiveGroupUpdates($event)">
            </app-create-group>
        </ng-container>
    </div>

    <!-- STARTS USER GROUPS -->
    <div class="media-body">


    <div class="row">
      <ng-container *ngFor="let group of userGroups">
          <div class="cards-list">
              <div *ngIf="group.group_name !== 'private'" class="card img-fluid"
                  [routerLink]="['/dashboard', 'work', 'groups', 'activity']"
                  [queryParams]="{ group: group?._id, myWorkplace: false  }">

                  <app-secured-image [imgURL]="group?.group_avatar" [service]="'group'"
                      [styleClass]="'card-img-top'"></app-secured-image>



                  <div class="card-img-overlay">
                    <span class="badge badge-members">{{ (group?._members.length + group?._admins.length) || 0 }}
                        <span i18n="@@groupList.members">Members</span></span>

                    <a *ngIf="group?.type == 'agora'" class="btn btn-light btn-public"><i
                            class="material-icons">account_balance</i></a>
                    <a *ngIf="group?.type == 'smart'" class="btn btn-info btn-smart"><i
                            class="material-icons">fingerprint</i></a>

                      <div class="title-overlay">
                        <a>
                            <h2 class="card-title">{{group?.group_name}}</h2>
                        </a>
                      </div>

                  </div>
              </div>
          </div>
      </ng-container>
    </div>
    <!-- ENDS USER GROUPS -->

    <!-- INFINITE SCROLL STARTS FOR USER GROUPS -->
    <!--
    <app-infinite-scroll (scrolled)="onScroll()">
        <div class="row">
            <ng-container *ngFor="let group of userGroups">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div *ngIf="group.group_name !== 'private'" class=" card"
                        [routerLink]="['/dashboard', 'work', 'groups', 'activity']"
                        [queryParams]="{ group: group?._id, myWorkplace: false  }">
                        <span class="badge badge-members">{{ (group?._members.length + group?._admins.length) || 0 }}
                            <span i18n="@@groupList.members">Members</span></span>
                        <app-secured-image [imgURL]="group?.group_avatar" [service]="'group'"
                            [styleClass]="'card-img-top'"></app-secured-image>
                        <a *ngIf="group?.type == 'agora'" class="btn btn-light btn-public"><i
                                class="material-icons">account_balance</i></a>
                        <a *ngIf="group?.type == 'smart'" class="btn btn-info btn-smart"><i
                                class="material-icons">fingerprint</i></a>

                        <div class="card-body">
                            <a>
                                <h2 class="card-title">{{group?.group_name}}</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </app-infinite-scroll>
    -->
    <!-- INFINITE SCROLL ENDS FOR USER GROUPS -->

    <!-- STARTS NOT JOINED AGORA GROUPS -->
    <div *ngIf="agoraGroups.length>0 && userData.role != 'guest'">
      <h2 class="section-title" i18n="@@groupList.agora">AGORA</h2>
      <div class="row">
        <ng-container *ngFor="let group of agoraGroups">
            <div class="cards-list">
                <div *ngIf="group.group_name !== 'private'" class="card img-fluid">

                    <app-secured-image [imgURL]="group?.group_avatar" [service]="'group'"
                        [styleClass]="'card-img-top'"></app-secured-image>


                    <div class="card-img-overlay">
                        <span class="badge badge-members">{{ (group?._members.length + group?._admins.length) || 0 }} <span i18n="@@groupList.members">Members</span></span>
                        <a *ngIf="group?.type == 'agora'" class="btn btn-warning btn-public"
                            (click)="joinGroup(group._id)" i18n="@@groupList.join">JOIN</a>

                        <div class="title-overlay">
                            <a>
                                <h2 class="card-title">{{group?.group_name}}</h2>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </ng-container>
      </div>
    </div>
</div>
    <!-- ENDS NOT JOINED AGORA GROUPS -->

    <!-- INFINITE SCROLL STARTS FOR AGORA GROUPS -->
    <!--
    <app-infinite-scroll (scrolled)="onAgoraScroll()" *ngIf="agoraGroups.length>0 && userData.role != 'guest'">
        <h2 class="section-title" i18n="@@groupList.agora">AGORA</h2>
        <div class="row">
            <ng-container *ngFor="let group of agoraGroups">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div *ngIf="group.group_name !== 'private'" class=" card">
                        <span class="badge badge-members">{{ (group?._members.length + group?._admins.length) || 0 }} <span i18n="@@groupList.members">Members</span></span>
                        <app-secured-image [imgURL]="group?.group_avatar" [service]="'group'"
                            [styleClass]="'card-img-top'"></app-secured-image>
                        <a *ngIf="group?.type == 'agora'" class="btn btn-warning btn-public"
                            (click)="joinGroup(group._id)" i18n="@@groupList.join">JOIN</a>

                        <div class="card-body">
                            <a>
                                <h2 class="card-title">{{group?.group_name}}</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </app-infinite-scroll>
    -->
    <!-- INFINITE SCROLL ENDS FOR AGOORA GROUPS -->

    <!-- LOADING SPINNER STARTS -->
    <ng-container *ngIf="isLoading$ | async">
        <app-loading-spinner></app-loading-spinner>
    </ng-container>
    <!-- LOADING SPINNER ENDS -->
</div>
