<div class="container">
    <div class="row">
        <ng-container *ngIf="userData && workspaceData && userData?.role != 'guest'">
            <app-create-group
                class="col-md-3"
                [userData]="userData"
                [workspaceData]="workspaceData"
                (group)="receiveGroupUpdates($event)">
            </app-create-group>
        </ng-container>
    </div>
    <!-- INFINITE SCROLL STARTS FOR USER GROUPS -->
    <app-infinite-scroll (scrolled)="onScroll()">
        <div class="row">

            <ng-container *ngFor="let group of userGroups; trackBy: utilityService.trackByIndex">

                <div class="col-md-3 col-sm-6 col-xs-12">
                <div *ngIf="group.group_name !== 'private'" class=" card"  [routerLink]="['/dashboard', 'work', 'groups', 'activity']"
                [queryParams]="{ group: group?._id, myWorkplace: false  }">
                    <span class="badge badge-members">{{ group?._members.length + group?._admins.length  }} Members</span>
                    <app-secured-image
                        [src]="group?.group_avatar"
                        [service]="'group'"
                        [styleClass]="'card-img-top'"></app-secured-image>
                        <a *ngIf="group?.type == 'agora'" class="btn btn-light btn-public"><i
                            class="material-icons">account_balance</i></a>
                    <a *ngIf="group?.type == 'smart'" class="btn btn-info btn-smart"><i
                            class="material-icons">fingerprint</i></a>

                    <div class="card-body">
                        <a>
                            <h2 class="card-title">{{group?.group_name}}</h2>
                        </a>
                    </div>
                  </div>


                </div>
            </ng-container>
        </div>
    </app-infinite-scroll>
    <!-- INFINITE SCROLL ENDS FOR USER GROUPS -->

    <!-- INFINITE SCROLL STARTS FOR AGORA GROUPS -->
    <app-infinite-scroll (scrolled)="onAgoraScroll()" *ngIf="agoraGroups.length>0 && userData.role != 'guest'">
        <h2 class="section-title">AGORA</h2>
        <div class="row">


            <ng-container *ngFor="let group of agoraGroups; trackBy: utilityService.trackByIndex">

                <div class="col-md-3 col-sm-6 col-xs-12">
                <div *ngIf="group.group_name !== 'private'" class=" card">
                    <span class="badge badge-members">{{ group?._members.length + group?._admins.length }} Members</span>
                    <app-secured-image
                        [src]="group?.group_avatar"
                        [service]="'group'"
                        [styleClass]="'card-img-top'"></app-secured-image>
                        <a *ngIf="group?.type == 'agora'" class="btn btn-warning btn-public" (click)="joinGroup(group._id)">JOIN</a>

                    <div class="card-body">
                        <a>
                            <h2 class="card-title">{{group?.group_name}}</h2>
                        </a>
                    </div>
                  </div>


                </div>
            </ng-container>
        </div>
    </app-infinite-scroll>
    <!-- INFINITE SCROLL ENDS FOR AGOORA GROUPS -->

    <!-- LOADING SPINNER STARTS -->
    <ng-container *ngIf="isLoading$ | async">
        <app-loading-spinner></app-loading-spinner>
    </ng-container>
    <!-- LOADING SPINNER ENDS -->
</div>

