.no-margin{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.container {
    margin-top: 30px;
  }

.badge-members{
    background: #fff;
    padding:5px;
    font-weight: 500;
    text-align: center;
    color: #005FD5;
    position: absolute;
    right:20px;
    top:20px;
    box-shadow: 0 4px 10px 0 rgba(37, 38, 94, 0.1); 
}

.groups-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-img-top{
    width: 100%;
    object-fit: cover;
}

app-loading-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-join {
    position: absolute;
    right: 20px;
    bottom: 80px;
    width: 80px;
    font-weight: bold;
    color: #fff !important;
}

.btn-public {
    position: absolute;
    left: 5px;
    top: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn-smart {
    position: absolute;
    right: 20px;
    bottom: 80px;
    font-weight: bold;
    color: #fff !important;
    cursor: default;
}


.cards-list{
    display: flex;
    flex-wrap: wrap;
  }
.card {
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 8px #33333351;
    margin: 10px;
    width: 200px;

    .card-img-top{
      width: 100%;
      border-radius: 4px !important;
      object-fit: cover;
    }

    .badge-members{
      background: #fff;
      padding:5px;
      font-weight: 500;
      text-align: center;
      color: #005FD5;
      position: absolute;
      right:20px;
      top:20px;
      box-shadow: 0 4px 10px 0 rgba(37, 38, 94, 0.1);
    }

    .card-title{
        color: #fff;
      }

   
    .title-overlay{
      background: rgba(34, 48, 68, 0.44);
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0;
      padding: 10px;
      border-radius: 0 0 10px 10px;
    }

  }




h2{
    font-weight: 400 !important;
    font-size: 15px !important;
}
.col-md-3{
    padding: 8px;
}

.section-title{
    font-family: "Nunito", sans-serif;
    font-size: 16px !important;
    font-weight: 700 !important;
    margin-top: 24px;
}