<div class="container">



<div *ngIf="storyData" class="category">
  <div class="header-hero" [ngStyle]="{'cursor': canEditStory ? 'pointer' : 'auto'}" style="background-image: url({{storyData?.header_pic}});"
      (click)="openImageSelector('header_pic')">

    <div *ngIf="canEditStory" (click)="openImageSelector('header_pic')"
      style=" cursor: pointer; width: 300px; text-align:center; margin-left: auto; margin-right: auto; margin-top: 70px;">
        <span *ngIf="!storyData?.header_pic" i18n="@@storyDetails.addImage" class="btn btn-warning"><span class="material-icons">
          add_photo_alternate
          </span> Add image</span>
        <span *ngIf="storyData?.header_pic" i18n="@@storyDetails.changeImage" class="btn btn-warning"><span class="material-icons">
          add_photo_alternate
          </span> Change image</span>
    </div>
  </div>

  <app-story-actions-bar class="row"
    [storyData]="storyData"
    [workspaceData]="workspaceData"
    [userData]="userData"
    [isManager]="isManager"
    [canEditStory]="canEditStory"
    [showComments]="showComments"
    (onEditActionEvent)="canEditStory = !canEditStory"
    (onShowCommentsActionEvent)="showCommentsAction($event)"></app-story-actions-bar>

  <div class="media-body">
    <div class="category-body row">
      <app-quill-editor *ngIf="storyData.content && !canEditStory"
        [editorId]="'story_viewer'"
        [toolbar]="false"
        [readOnly]="true"
        [contents]="storyData.content">
      </app-quill-editor>

      <app-quill-editor style="height: 300px;" *ngIf="canEditStory"
        [editorId]="'story_editor'"
        [toolbar]="true"
        [readOnly]="false"
        [workspaceId]="storyData._workspace._id || storyData._workspace"
        [contents]="storyData.content"
        (content)="getQuillData($event)">
      </app-quill-editor>
    </div>

    <div class="row" style="margin-top: 45px;">
      <button type="button" *ngIf="canEditStory" class="btn btn-md btn-primary"
        (click)="saveStory()" style="width: 100px;"
        i18n="@@storyDetails.save">
          Save
      </button>
    </div>

    <!-- COMMENTS SECTION STARTS -->
    <div class="row">
      <comment-section *ngIf="userData && storyData && showComments"
        [userData]="userData"
        [editorId]="'_new_comment'"
        [storyId]="storyData?._id"
        [workspaceId]="storyData?._workspace?._id || storyData?._workspace"
        (comment)="newCommentReceived($event)">
      </comment-section>

      <app-comment-list style="width: 90%;"
        [storyId]="storyData?._id"
        [userData]="userData"
        [length]="(storyData?._comments?.length || 0)"
        [newComment]="newComment"
        (removeCommentEvent)="onRemoveComment($event)"></app-comment-list>
    </div>
    <!-- COMMENTS SECTION ENDS -->
  </div>

  <!-- LOADING SPINNER STARTS -->
  <ng-container *ngIf="isLoading$ | async">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>
  <!-- LOADING SPINNER ENDS -->
</div>

</div>
