.cards-list {
	display: flex;
	flex-wrap: wrap;
	height: 250px;
}

table {
	width: 100%;
}

.mat-mdc-form-field {
	font-size: 14px;
	width: 100%;
}

td, th {
	width: 25%;
}

.mat-column-photo {
	width: 20px;
	padding-left: 0 !important;
	text-align: center;
}