<div class="smart-card" style="padding: 10px;">
  <div class="row" style="margin: 0 0 20px; justify-content: space-between;">
    <div class="card-title mt-1">
      Pulse
    </div>
    <div class="icon">
      <i class="material-icons-outlined mr-2">whatshot</i>
    </div>
  </div>

  <div class="row">
      <div class="card-first-column col-md-12">
        <div class="agoras_count"> {{ num_updates }} </div>
        &nbsp;updates
      </div>
  </div>

  <div class="row">
      <div class="card-first-column col-md-12">
        <div class="agoras_count"> {{ num_updates }} </div>
        &nbsp;updates
    </div>
  </div>
</div>
