// Define Variables
$box-shadow:0 4px 24px 0 rgba(37,38,94,.1);
$border-color:#E4EDF8;

.task-box {
  padding: 0px;
  background: white;
  border: 1px solid $border-color;
  border-radius: 4px;
  margin-bottom: 15px;
  transition: color .2s ease;
  background: rgba(white, 1.0);
  display: flex;
  justify-content: space-between;

  .task {
    text-transform: capitalize;
    text-align: left;
    cursor: pointer;
  }
}

input {
  margin-left: auto;
  margin-right: auto;
}

.task:hover {
  color: #fff;
  background: #4a90e2;
}

.add-task{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.north-star {
  background-color: #5E2FE5;
}

.idea {
  background-color: #FBB732;
}
