<div *ngIf="!subtask">
  <div class="task-box" *ngIf="!column.addTask">
    <button class="btn btn-block task muted" (click)="column.addTask = true">
      <i class="material-icons-outlined">add</i>
      <span *ngIf="!saveAsNorthStar && !saveAsIdea" i18n="@@newTask.newTask">New Task</span>
      <span *ngIf="saveAsNorthStar" i18n="@@newTask.newNorthStar">New Target</span>
      <span *ngIf="saveAsIdea" i18n="@@newTask.newIdea">New Idea</span>
      <span *ngIf="saveAsCRMLead" i18n="@@newTask.newLead">New Lead</span>
    </button>

    <i class="material-icons-outlined ml-2" *ngIf="saveAsNorthStar" style="color: #5E2FE5; line-height: 38px;">explore</i>
    <i class="material-icons-outlined ml-2" *ngIf="saveAsIdea" style="color: #FBB732; line-height: 38px;">emoji_objects</i>

    <i class="material-icons-outlined ml-2" [matMenuTriggerFor]="menu" style="cursor: pointer; line-height: 38px;">expand_more</i>
    <mat-menu #menu="matMenu">
      <a mat-menu-item (click)="changeTaskType(false, false, false)">
        <span i18n="@@newTask.task">Task</span>
      </a>
      <li class="dropdown-divider"></li>
      <a mat-menu-item (click)="changeTaskType(true, false, false)">
        <span i18n="@@newTask.northStar">Target</span>
      </a>
      <li class="dropdown-divider" *ngIf="isIdeaModuleAvailable"></li>
      <a mat-menu-item (click)="changeTaskType(false, true, false)" *ngIf="isIdeaModuleAvailable">
        <span i18n="@@newTask.idea">Idea</span>
      </a>
      <li class="dropdown-divider" *ngIf="groupData.type == 'crm'"></li>
      <a mat-menu-item (click)="changeTaskType(false, false, true)" *ngIf="groupData.type == 'crm'">
        <span i18n="@@newTask.crmLead">CRM Lead</span>
      </a>
    </mat-menu>
  </div>

  <div class="add-task" *ngIf="column.addTask">
    <input class="form-control" type="text" placeholder="Enter title"
      [(ngModel)]="postTitle"
      (keyup.enter)="newTask()"
      (keyup.esc)="column.addTask = false">

    <i class="material-icons-outlined ml-2" *ngIf="saveAsNorthStar" style="color: #5E2FE5; line-height: 38px;">explore</i>
    <i class="material-icons-outlined ml-2" *ngIf="saveAsIdea" style="color: #FBB732; line-height: 38px;">emoji_objects</i>
  </div>
</div>

<div *ngIf="subtask">
  <button class="btn btn-block task muted" (click)="addSubTask = true" *ngIf="subtask && !addSubTask">
    <i class="material-icons-outlined" *ngIf="!parentNS">add</i> <span i18n="@@newTask.newTask" *ngIf="!parentNS">New Task</span>
    <i class="material-icons-outlined ml-2" *ngIf="parentNS" style="color: #5E2FE5; line-height: 38px;">explore</i><span i18n="@@newTask.newTarget" *ngIf="parentNS">New Target</span>
  </button>
  <div class="add-task" *ngIf="subtask && addSubTask">
    <input class="form-control" type="text" placeholder="Enter task title"
      [(ngModel)]="postTitle"
      (keyup.enter)="newTask()"
      (keyup.esc)="addSubTask = false">
  </div>
</div>
