<nav class="navbar">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav">
      <li class="nav-item mr-3 d-none d-sm-block">
        <!-- My user avatar starts -->
        <app-secured-image *ngIf="userData"
            [imgURL]="userData?.profile_pic"
            [service]="'user'"
            [styleClass]="'mr-3 feed-avatar'"
            [placement]="'right'"
            [tooltip]="'Change your avatar'"
            appDebounceClick (click)="openDetails(userContent)"></app-secured-image>
        <!-- My user avatar ends -->


      </li>

      <li class="nav-item">
        <a class="nav-link"
            [routerLink]="['/dashboard', 'user', 'profile']"
            routerLinkActive="active"
            [ngClass]="activeState == 'profile'?'nav-link active-nav':'nav-link'" appDebounceClick (click)="changeState('profile')">
              <span i18n="@@userAccountNavbar.profile">Profile</span>
              <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link"
              [routerLink]="['/dashboard', 'user', 'clouds']"
              routerLinkActive="active"
              [ngClass]="activeState == 'clouds'?'nav-link active-nav':'nav-link'"
              appDebounceClick (click)="changeState('clouds')">
                <span i18n="@@userAccountNavbar.integrations">Integrations</span>
                <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link"
              [routerLink]="['/dashboard', 'user', 'workload']"
              routerLinkActive="active"
              [ngClass]="activeState == 'workload'?'nav-link active-nav':'nav-link'"
              appDebounceClick (click)="changeState('workload')">
                <span i18n="@@userAccountNavbar.timeOff">Time off</span>
                <span class="sr-only">(current)</span>
          </a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #userContent let-modal>
  <app-user-image-details [userData]="userData" [baseUrl]="baseUrl" [workspaceData]="workspaceData">
  </app-user-image-details>
</ng-template>
