@import "src/assets/scss/_variables";

.navbar {
  display: block;
}

.header {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  padding: 20px;

  .avatar {
    margin: 10px;
  }

  .user-info {
    width: 100%;

    .name {
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      display: flex;
      align-items: center;

      margin: 10px;
    }

    .bio {
      margin: 10px;
    }
  }

  .options {
    margin: 10px;

    a {
      cursor: pointer;
    }
  }
}

.nav-link {
  font-family: $poppins;
  font-weight: 400;
  font-size: 14px;
  color:#1B1D1F;
  text-align: center;
  line-height: 44px;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    // background: #ffffff;
    color: $brand-primary !important;
  }
}

// Adding pointer to image
img {
  cursor: pointer;
  transition: transform .2s ease;
}

img:hover {
  transform: scale(1.1);
}

h2 {
  float: left;
  line-height: 60px;
  .material-icons{
    font-size: 30px;
    color:#E0E3E6;
  }
}
.feed-avatar {
  float: left;
}
