<nav class="navbar">
  <div class="header">
    <div class="avatar">
      <!-- My user avatar starts -->
      <app-secured-image *ngIf="userData" [imgURL]="userData?.profile_pic" [service]="'user'"
        [workspaceId]="workspaceData?._id"
        [styleClass]="'mr-3 peoplecard-avatar'" [placement]="'right'" [tooltip]="'Change your avatar'"
        (click)="openDetails(userContent)"></app-secured-image>
      <!-- My user avatar ends -->
    </div>

    <div class="user-info ml-3">
      <div class="name">
        {{ userData?.first_name }} {{ userData?.last_name }}
      </div>

      <div class="bio">
        {{ userData?.bio }}
      </div>
    </div>

    <div class="options" *ngIf="isCurrentUser">
      <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons-outlined muted">more_horiz</i></button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openUpdateModel()">
          <i class="material-icons-outlined ml-2">edit</i>
          <span i18n="@@userAccountNavbar.edit">Edit</span>
        </button>

        <button mat-menu-item (click)="getLDAPUserInformation()" *ngIf="isCurrentUser && workspaceData?.integrations?.is_ldap_connected && workspaceData?.ldapPropertiesMap">
          <i class="material-icons ml-2">cable</i>
          <span i18n="@@userAccountNavbar.syncLDAP">Sync LDAP</span>
        </button>

        <!-- <app-user-google-sync *ngIf="isCurrentUser && workspaceData?.integrations?.is_google_connected && workspaceData?.googlePropertiesMap"
          [workspaceData]="workspaceData" [userData]="userData"></app-user-google-sync> -->

        <button mat-menu-item *ngIf="isCurrentUser" (click)="openUpdatePasswordModal()">
            <i class="material-icons ml-2">lock</i>
            <span i18n="@@userAccountNavbar.changePassword">Change Password</span>
        </button>

        <button mat-menu-item *ngIf="isCurrentUser && userData?.role !='owner'" (click)="removeUser(userData._id)">
          <i class="material-icons ml-2">delete</i>
          <span i18n="@@userAccountNavbar.deleteAccount">Delete Account</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link"
            [routerLink]="['/dashboard', 'user', 'profile']"
            routerLinkActive="active"
            [ngClass]="activeState == 'profile'?'nav-link active-nav':'nav-link'" (click)="changeState('profile')">
              <span i18n="@@userAccountNavbar.profile">Profile</span>
              <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item" *ngIf="isOrganizationModuleAvailable">
          <a class="nav-link"
              [routerLink]="['/dashboard', 'user', 'hive']"
              routerLinkActive="active"
              [ngClass]="activeState == 'hive'?'nav-link active-nav':'nav-link'"
              (click)="changeState('hive')">
                <span i18n="@@userAccountNavbar.hiveHR">Hive HR</span>
                <span class="sr-only">(current)</span>
          </a>
      </li>

      <li class="nav-item">
          <a class="nav-link"
              [routerLink]="['/dashboard', 'user', 'clouds']"
              routerLinkActive="active"
              [ngClass]="activeState == 'clouds'?'nav-link active-nav':'nav-link'"
              (click)="changeState('clouds')">
                <span i18n="@@userAccountNavbar.integrations">Integrations</span>
                <span class="sr-only">(current)</span>
          </a>
      </li>

      <li class="nav-item">
          <a class="nav-link"
              [routerLink]="['/dashboard', 'user', 'workload']"
              routerLinkActive="active"
              [ngClass]="activeState == 'workload'?'nav-link active-nav':'nav-link'"
              (click)="changeState('workload')">
                <span i18n="@@userAccountNavbar.timeOff">Time off</span>
                <span class="sr-only">(current)</span>
          </a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #userContent let-modal>
  <app-user-image-details [userData]="userData" [workspaceData]="workspaceData">
  </app-user-image-details>
</ng-template>
