
// Define Variables
$box-shadow:0 4px 24px 0 rgba(37,38,94,.1);
$border-color:#E4EDF8;


.board-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0; // to force the sections to all be the same size, regardless of content
    border-bottom: 1px solid $border-color;

    &:not(:first-child) {
        margin-left: 0;

    }
}

.create-section {
    cursor: pointer;
    background-color: #fafafa;
    padding: 8px 15px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #969A9E;
}

.create-section:hover{
    color: #ffffff;
    background-color:#4a90e2 ;
}

.add-section{

    input{
        margin: 10px 0;
    }
}
