<mat-dialog-actions align="end">
  <i mat-dialog-close class="material-icons" (click)="closeDialog()" style="cursor: pointer">close</i>
</mat-dialog-actions>

<mat-dialog-content>
  <div class="new-record-form">
    <div class="row">
      <div class="col-md-12">
        <h2 *ngIf="!!tte">{{ entryTask?.title }}</h2>
        <mat-select ngDefaultControl appearance="fill" class="form-control" *ngIf="!tte" [(ngModel)]="entryTask"
          (openedChange)="taskSearchText = ''" (selectionChange)="onTaskSelected()">
          <input type="text"(openedChange)="taskSearchText = ''"  class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="taskSearchText"
            [placeholder]="taskSearchPlaceholder" autofocus
            (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
          <mat-option *ngFor="let task of userTasks | appFilter: taskSearchText" [value]="task">{{ task.title }}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-date-picker class="form-control" name="entryDate"
          [styleClass]="'input-date'" [canEdit]="!!entryTaskId && !tte"
          (date)="getDate($event)" [selectedDate]="entryDate">
        </app-date-picker>
      </div>

      <div class="col-md-3">
        <div class="form-control">
          <i class="material-icons-outlined muted">timer</i>

          <app-time-input style="border: none;" [value]="entryTime" [canEdit]="true"
            (timeEvent)="getTime($event)"></app-time-input>
        </div>
      </div>

      <div class="col-md-3">
        <span *ngIf="!!tte">{{ entryCategory }}</span>
        <mat-select *ngIf="!tte" ngDefaultControl appearance="fill" class="form-control"
          [disabled]="!categories || categories.length == 0 || !entryTaskId" [(ngModel)]="entryCategory">
          <mat-option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</mat-option>
        </mat-select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 form-control" style="width: 400px;">
        <textarea rows="4" style="border: none;" [(ngModel)]="entryComment"
          [placeholder]="commentPlaceholder" [disabled]="!entryTaskId || !!tte"></textarea>
      </div>
    </div>

    <div class="actions" *ngIf="!tte">
      <button class="btn btn-primary btn-md float-left" *ngIf="!entryId" (click)="saveEntry()" [disabled]="!isValidEntry()">
        <i class="material-icons-outlined">add</i>
        <span i18n="@@newTimeTrackingDialog.addEntry">Add entry</span>
      </button>

      <button class="btn btn-outline-danger btn-md float-left" style="margin-left: 30px;" (click)="closeDialog()">
        <span i18n="@@newTimeTrackingDialog.cancel">X Cancel</span>
      </button>

      <div *ngIf="entryAlreadyExists">
        <span>❌</span>
        &nbsp;
        <span i18n="@@newTimeTrackingDialog.alreadyHasTTE">The user already has time for this task on {{ formateDate(entryDate) }} for the category you selected.</span>
      </div>
    </div>
  </div>
</mat-dialog-content>
