.new-record-form {
	margin: 20px;

	.actions {
		margin-top: 20px;
	}
}

.list-records {
	margin-top: 50px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
	background: none;
	display: none;
}

input[type="time"]::-webkit-datetime-edit-ampm-field {
	display: none;
}