<div class="container">
  <app-groups-page-header></app-groups-page-header>

  <ul>
    <li *ngFor="let group of allGroups index as i" class="group-elem">
      <div class="row">
      <span class="col-md-1"></span>
      <span class="group-name col-md-2"> {{ group.group_name }} </span>
      <span class="group-total-tasks col-md-2"> {{ pulseTotalTasks[group._id] }} Tasks this week  </span>
      <span class="group-todo-tasks col-md-2"> {{ pulseTodoTasks[group._id] }} to do  </span>
      <span class="group-in-progress-tasks col-md-2"> {{ pulseInProgressTasks[group._id] }} in progress  </span>
      <span class="group-done-tasks col-md-2"> {{ pulseDoneTasks[group._id] }} done  </span>
      <span class="col-md-1"></span>
      </div>
    </li>
  </ul>

</div>
