
  <app-groups-page-header></app-groups-page-header>

  
    <div *ngFor="let group of allGroups index as i" class="group-elem">
      <div class="row">
    
      <div class="col-md-1"> <img src ="{{this.BASE_URL}}/uploads/{{group?.group_avatar}}" onerror="this.src='/assets/images/group.png'" width="50px" height="50px" alt="group_avatar"> </div>
      <div class="group-name col-md-1"> {{ group.group_name }} </div>
      <div class="pulse-desc col-md-4"> {{ group.pulse_description ? group.pulse_description : "Waiting for a new Pulse..." }} </div>
      
      
      <div class="col-md-2"></div>
      <div class="col-md-2"> <div class="group-total-tasks">{{ pulseTotalTasks[group._id] }} Tasks this week  </div></div>
      <div class="col-md-2"> 
        <div class="group-todo-tasks float-left"> {{ pulseTodoTasks[group._id] }}</div>
      
        <div class="group-in-progress-tasks float-left">{{ pulseInProgressTasks[group._id] }}</div> 
     
     
        <div class="group-done-tasks float-left ">{{ pulseDoneTasks[group._id] }}</div>
        
      </div>
    </div>
    </div>
  


