.group-elem {
  background: #ffffff;
  margin: 15px;
  padding: 15px;
  list-style-type: none;
}

.group-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #4a90e2;
}

.group-total-tasks {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #242d3a;
}

.group-todo-tasks {
  color: #ffffff;
  background: #fd7714;
  border-radius: 4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px 5px;
}

.group-in-progress-tasks {
  color: #ffffff;
  background: #0bc6a0;
  border-radius: 4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px 5px;
}

.group-done-tasks {
  color: #ffffff;
  background: #4a90e2;
  border-radius: 4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px 5px;
}

.pulse-desc {
  color: #787878;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
