
<nav id="sidebar">
  <div class="sidebar-header">
    <!-- MENU BUTTON STARTS -->
    <button type="button" id="sidebarCollapse" class="btn dismiss" (click)="switchSideBar()" >
      <i class="material-icons">menu</i>
      <!-- <i class="material-icons">left_panel_open</i> -->
    </button>
    <!-- MENU BUTTON ENDS -->

    <div *ngIf="userWorkspaces?.length > 0" class="components" style="margin-top: -5px; width: 78%;">
      <a href="#pageWorkspacesSubmenu" data-toggle="collapse" aria-expanded="true" style="padding: 10px 0;" (click)="toggleCollapsed()"
        [matTooltip]="workspaceData?.workspace_name" [matBadge]="(!isExpanded) ? totalNotifications : workspaceData?.numNotifications" [matBadgeHidden]="totalNotifications == 0" matBadgePosition="before" matBadgeColor="warn">
        <app-secured-image [imgURL]="workspaceData?.workspace_avatar" [service]="'workspace'" [workspaceId]="workspaceData?._id" [styleClass]="'avatar'">
        </app-secured-image>
        <i class="material-icons-outlined carret">keyboard_arrow_down</i>
      </a>
    
      <ul class="collapse list-unstyled" id="pageWorkspacesSubmenu">
        <li *ngFor="let workspace of userWorkspaces" style="margin-top: 15px;">
          <a (click)="goToWorkspace(workspace?._id || workspace)" style="padding: 10px 0;" [matTooltip]="workspace?.workspace_name"
            [matBadge]="workspace.numNotifications" [matBadgeHidden]="workspace.numNotifications == 0" matBadgePosition="before" matBadgeColor="warn">
            <app-secured-image [imgURL]="workspace?.workspace_avatar" [service]="'workspace'" [workspaceId]="workspace?._id" [styleClass]="'avatar'">
            </app-secured-image>
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="userWorkspaces?.length <= 0" class="components" style="margin-top: -25px; width: 78%;">
      <a (click)="changeToPersonalGroup()" routerLinkActive="router-link-active" style="padding: 10px 0;"
        [matTooltip]="workspaceData?.workspace_name" [matBadge]="workspaceData?.numNotifications" [matBadgeHidden]="workspaceData?.numNotifications == 0" matBadgePosition="before" matBadgeColor="warn">
        <app-secured-image [imgURL]="workspaceData?.workspace_avatar" [service]="'workspace'" [workspaceId]="workspaceData?._id" [styleClass]="'avatar'">
        </app-secured-image>
      </a>
    </div>
  </div>

  <div class="menu-options">
    <ul class="list-unstyled components">
      <li>
          <a (click)="changeToPersonalGroup()" routerLinkActive="router-link-active">
            <i class="material-icons-outlined">home</i>
          </a>
      </li>

      <li> <hr class="divider-line"></li>

      <li *ngIf="!isIndividualSubscription && userGroups && userGroups.length > 0">
        <a href="#pageSubmenuGroups" data-toggle="collapse" aria-expanded="true">
          <i class="material-icons-outlined carret">account_balance</i>
        </a>
      
        <ul class="collapse list-unstyled show" id="pageSubmenuGroups">
          <li *ngFor="let group of userGroups">
            <a (click)="goToGroup(group)" routerLinkActive="active">
              <app-secured-image [imgURL]="group?.group_avatar" [service]="'group'" [workspaceId]="workspaceData?._id"
                [styleClass]="'avatar'"></app-secured-image>
            </a>
          </li>
        </ul>
      </li>
      
      <li *ngIf="!isIndividualSubscription && userPortfolios && userPortfolios.length > 0"><hr class="divider-line"></li>
      
      <li *ngIf="!isIndividualSubscription && userPortfolios && userPortfolios.length > 0">
        <a href="#pageSubmenuPortfolios" data-toggle="collapse" aria-expanded="true">
          <i class="material-icons-outlined carret">bookmarks</i>
        </a>
      
        <ul class="collapse list-unstyled show" id="pageSubmenuPortfolios">
          <li *ngFor="let portfolio of userPortfolios">
            <a (click)="goToPortfolio(portfolio)" routerLinkActive="active">
              <app-secured-image [imgURL]="portfolio?.portfolio_avatar" [service]="'group'" [workspaceId]="workspaceData?._id"
                [styleClass]="'avatar'"></app-secured-image>
            </a>
          </li>
        </ul>
      </li>
      
      <li *ngIf="!isIndividualSubscription && userCollections && userCollections.length > 0"><hr class="divider-line"></li>
      
      <li *ngIf="!isIndividualSubscription && userCollections && userCollections.length > 0">
        <a href="#pageSubmenuCollections" data-toggle="collapse" aria-expanded="true">
          <i class="material-icons-outlined carret">book</i>
        </a>
      
        <ul class="collapse list-unstyled show" id="pageSubmenuCollections">
          <li *ngFor="let collection of userCollections">
            <a (click)="goToCollection(collection)" routerLinkActive="active">
              <app-secured-image [imgURL]="collection?.collection_avatar" [service]="'group'" [workspaceId]="workspaceData?._id"
                [styleClass]="'avatar'"></app-secured-image>
            </a>
          </li>
        </ul>
      </li>
      
      <li *ngIf="isIndividualSubscription">
        <ul class="collapse list-unstyled show" id="pageSubmenuGroups">
          <li *ngFor="let group of userGroups">
            <a (click)="goToGroup(group)" routerLinkActive="active">
              <app-secured-image [imgURL]="group?.group_avatar" [service]="'group'" [workspaceId]="workspaceData?._id"
                [styleClass]="'avatar'"></app-secured-image>
            </a>
          </li>
        </ul>
      </li>

      <li *ngIf="!isIndividualSubscription"> <hr class="divider-line"></li>

      <li *ngIf="!isIndividualSubscription">
        <a routerLinkActive="active" routerLink="/dashboard/work/groups/all" class="explore-work">
          <i class="material-icons-outlined carret">groups</i>
        </a>
      </li>

      <li> <hr class="divider-line"></li>
      
      <li *ngIf="userData?.role === 'admin' || userData?.role === 'owner'">
          <a (click)="changeState('general')" class="nav-link" [routerLink]="['/dashboard', 'admin', 'general']" routerLinkActive="active">
            <i class="material-icons">settings</i>
          </a>
      </li>

      <li>
        <!-- USER PROFILE BADGE STARTS -->
        <a class="nav-link" *ngIf="this.userData"
            [routerLink]="['/dashboard', 'user', 'profile']"
            (click)="changeState('profile')">
            <app-secured-image
              [imgURL]="userData?.profile_pic"
              [service]="'user'"
              [workspaceId]="workspaceData?._id"
              [styleClass]="'avatar'"></app-secured-image>
        </a>
        <!-- USER PROFILE BADGE ENDS -->
      </li>

      <li>
        <!-- LOGOUT FUNCTION STARTS-->
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" (click)="logout()">
            <i class="material-icons-outlined carret">logout</i>
        </a>
        <!-- LOGOUT FUNCTION ENDS-->
      </li>
    </ul>
  </div>
</nav>
