/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
@import "src/assets/scss/_variables";

#sidebar {
  min-height: 100vh;
  background: #005FD5;
  color: #FFFFFF;
  padding: 0;
  width: 70px;

  a {
    cursor: pointer;
  }
}

.sidebar-header {
  padding: 20px 0 0 10px;
  background: #fff;
  //width: 90%;
  // height: 70px;
  // position: absolute;
  // z-index: 10;
  background: inherit;

}

.octonius-logo{
  margin-left: 6px;
  margin-top: 16px;
}

.components {
  padding: 10px;
  li a{
      padding: 10px;
      font-size: 15px;
      font-weight: 700;
      display: block;
      color: $border-color;
      &:hover{
          color: #E4EDF8 !important;
          text-decoration: none !important;
          background: rgba(0, 28, 71, 0.2);
          border-radius: 4px;
      }
      i{
          margin-top: -5px;
      }
  }
  .static{
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    display: block;
    color: $border-color;
}

}


.avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  //margin-right: 8px;
}

.carret{
 vertical-align: text-bottom;
}


.dismiss {
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  opacity: 0.7;
  text-decoration: none;

  &:hover{
      color: $border-color;
  }
}


.menu-options {
  margin-top: 50px;
  z-index: 5;
  overflow: auto;
}
ul ul{
  width: 100%;
}

.badge-primary{
  padding: 8px;
  border-radius: 50%;
  background: #E4EDF8;
  color: #005FD5;
}

.divider-line{
  border-top: 1px solid rgba(0, 28, 71, 0.07);
}

.explore-work{
  color: #fff !important;
  text-decoration: none !important;
  background: rgba(0, 28, 71, 0.2);
  border-radius: 4px;
  border: 1px solid rgba(228, 237, 248, 0.6);
}
