/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  height: 100vh;
  background: #005FD5;
  color: #FFFFFF;
  padding: 0 24px;
}

#sidebar.active {
  left: 0;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #fff;
  //width: 90%;
  height: 70px;
  position: absolute;
  z-index: 10;
  background: inherit;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #FFFFFF;
  padding: 10px;
}

#sidebar ul li {
  padding: 10px;
  font-size: 15px;
  display: block;
  color: #FFFFFF;
}

#sidebar ul li a:hover {
  color: #005fd5 !important;
  background: #fff;
  text-decoration: none !important;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #FFFFFF;

}

a[data-toggle="collapse"] {
  position: relative;
}

ul ul a {
  font-size: 15px !important;
  padding-left: 12px !important;
  /* background: #6d7fcc; */
  color: #FFFFFF !important;
}

.avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  //margin-right: 8px;
}

.carret{
 vertical-align: text-bottom;
}


#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  color: #FFFFFF;
}

.menu-options {
  margin-top: 50px;
  z-index: 5;
  overflow: auto;
}
ul ul{
  width: 100%;
}
