
<nav id="sidebar">
  <div class="sidebar-header">
   <!-- MENU BUTTON STARTS -->
   <button type="button" id="sidebarCollapse" class="btn dismiss" (click)="switchSideBar()" >
    <i class="material-icons">menu_open</i>
  </button>
  <!-- MENU BUTTON ENDS -->

      <a [routerLink]="['/dashboard', 'myspace', 'inbox']" routerLinkActive="router-link-active">
          <img src="assets/images/white_logo.svg" alt="" class="octonius-logo">
      </a>




  </div>

  <div class="menu-options">
      <ul class="list-unstyled components">
          <li>
              <a [routerLink]="['/dashboard', 'myspace', 'inbox']">
                  <i class="material-icons-outlined">home</i>
              </a>
          </li>
          <li> <hr class="divider-line"></li>

          <li class="static">

            <i class="material-icons-outlined">star_outline</i>
          </li>

          <li *ngFor="let group of userGroups">
            <a [routerLink]="['/dashboard', 'work', 'groups', 'activity']"
                [queryParams]="{ group: group?._id, myWorkplace: false  }">
                <app-secured-image
                    [imgURL]="group?.group_avatar"
                    [service]="'group'"
                    [tooltip]="group?.group_name"
                    [styleClass]="'avatar'"></app-secured-image>
            </a>
        </li>
        <li> <hr class="divider-line"></li>
        <li>
          <a routerLinkActive="active" routerLink="/dashboard/work/groups/all" class="explore-work">
            <i class="material-icons-outlined carret">groups</i>

          </a>
        </li>
        <li> <hr class="divider-line"></li>
        <li *ngIf="this.userData?.role === 'admin' || this.userData?.role === 'owner'">
            <a class="nav-link" [routerLink]="['/dashboard', 'admin', 'general']" routerLinkActive="active">
              <i class="material-icons">settings</i>
            </a>
        </li>

        <li>
            <!-- USER PROFILE BADGE STARTS -->
            <a class="nav-link" *ngIf="this.userData"
                [routerLink]="['/dashboard', 'user', 'profile']">
                <app-secured-image
                  [imgURL]="userData?.profile_pic"
                  [service]="'user'"
                  [styleClass]="'avatar'"></app-secured-image>
            </a>
            <!-- USER PROFILE BADGE ENDS -->
        </li>

        <li>
            <!-- LOGOUT FUNCTION STARTS-->
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" (click)="logout()">
                <i class="material-icons-outlined carret">logout</i>
            </a>
            <!-- LOGOUT FUNCTION ENDS-->
        </li>
      </ul>
  </div>
</nav>
