.chats-home-fab {
	position: fixed;
	z-index: 1;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	width: 70px;
	height: 70px;
	background-color: #005fd5;
}

.chats-home {
	position: fixed;
	z-index: 1;
	bottom: 0px;
	right: 20px;
	max-height: 685px;
	min-height: 685px;
	background: #fff;
	width: 480px;
	// border: 1px solid #e4edf8;
  	overflow: auto;
	border-radius: 8px;
	box-shadow: 3px 6px 10px 10px rgba(60,64,67,.3);
	.action-box {
		min-height: 50px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 24px;
		background: #005fd5;
		color: #fff;
	}
}