
<button class="chats-home-fab" mat-fab *ngIf="!showChatsList" (click)="showHideChats()">
  <app-chat-notification-icon [userData]="userData"></app-chat-notification-icon>
</button>

<div *ngIf="showChatsList" class="chats-home">
  <div *ngIf="!openChat">
    <div class="action-box">
      <a (click)="showHideChats()">
        <i class="material-icons" style="cursor: pointer">close</i>
      </a>

      <i class="material-icons-outlined" (click)="openChatDetails(null)">create</i>
    </div>
    <app-direct-chats-home [chats]="directChats" [userData]="userData" [workspaceData]="workspaceData" (chatSelectedEvent)="openChatDetails($event)" (chatDeletedEvent)="deleteChat()"></app-direct-chats-home>

    <app-group-chats-home [chats]="groupChats" [userData]="userData" [workspaceData]="workspaceData" (chatSelectedEvent)="openChatDetails($event)"></app-group-chats-home>
  </div>

  <div *ngIf="openChat">
    <app-chat-details [userData]="userData" [workspaceData]="workspaceData" [chatData]="openChat" (chatClosedEvent)="closeChat($event)"></app-chat-details>
  </div>
</div>