.chats-home-fab {
	position: fixed;
	z-index: 1;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	width: 70px;
	height: 70px;
	background-color: #005fd5;
}

.chats-home {
	position: fixed;
	z-index: 1;
	bottom: 0px;
	right: 20px;
	
	max-height: 685px;
	min-height: 685px;
	background: #fff;
	width: 300px;
	border: 1px solid #e4edf8;
  	overflow: auto;

	.action-box {
		min-height: 40px;
	}
}