<div class="smart-card" style="padding: 10px;">
    <div class="row" style="margin: 0 0 20px; justify-content: space-between;">
      <div class="card-title mt-1" i18n="@@organizationalStructureCard.organizationalStructure">
        Organizational structure
      </div>
      <div class="icon">
        <i class="material-icons-outlined mr-2">location_city</i>
      </div>
    </div>
    <div class="row">
      <div class="card-first-column col-md-12">
        <div class="groups_count"> {{ num_groups }} </div>
        &nbsp;<span i18n="@@organizationalStructureCard.groups">groups</span>
      </div>
    </div>
    <div class="row">
      <div class="card-first-column col-md-12">
        <div class="agoras_count"> {{ num_agoras }} </div>
        &nbsp;<span i18n="@@organizationalStructureCard.agoras">agoras</span>
      </div>
    </div>
</div>
