<!-- Normal post -->

<li class="list-group-item" id="card-normal-post-{{i}}" data-show="????">
  <div class="card ">
    <div class="card-block ">
      <div class="row card-title ">
        <div class="col-md-1 ">
          <!--<img [src]="profileImage" class="feed-avatar">-->
          <img src="/uploads/{{post._posted_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"
               class="feed-avatar">
        </div>
        <div class="col-md-7">
          <h6>{{post._posted_by?.first_name}} {{post._posted_by?.last_name}} <br>
            <span class="small lightgray date"> {{post?.created_date | date : 'medium' }}</span>
          </h6>
        </div>
      </div>
      <!-- Editing Post part-->
      <div class="col-md-12 text-right " id="button_edit_post{{i}}" style="display: none; padding-bottom: 1em;">
        <button class="btn btn-primary btn-sm" contenteditable="false" (click)="OnSaveEditPost(i, post._id,post?.content, post.type)">Save</button>
      </div>
      <div class="col-md-12 innercard">
        <quill-editor id="edit-content-{{i}}" [modules]="modules" type="text" [(ngModel)]="post.content"
                      [spellcheck]="true" value="post?.content" style="display: none;" (blur)="onEditorBlured($event)"
                      (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)"></quill-editor>
      </div>

      <!-- ACTUAL POST CONTENT -->
      <div class="col-md-12 innercard" [id]="(i)" style="border: none;" [innerHTML]="post?.content | safe: 'html'">
      </div>

      <!-- POST FILES -->
      <div class="col-md-12 innercard" *ngFor="let file of post.files">
        <div class="col-md-12 event-title">Attachment:</div>
        <div class="col-md-12"> <a role="button" href="javascript:void(null);" (click)="onDownloadFile(file.modified_name,file.orignal_name)">{{file?.orignal_name}}</a></div>
      </div>

      <post-actions
        *ngIf="user"
        [post]="post"
        [commentCount]="commentCount"
        [commentsDisplayed]="commentsDisplayed"
        [user]="user"
        (toggleComments)="toggleComments()"
        (sendComments)="setComments($event)"
        (togglePostCommentEditor)="togglePostCommentEditor()"
        (editPost)="editPost()"
        (deletePost)="deletePost()">
      </post-actions>
    </div>
  </div>

  <!-- post comment block make this invisible -->

  <comment-section
    [post]="post"
    [(commentsDisplayed)]="commentsDisplayed"
    [modules]="modules"
    [user]="user"
    [allMembersId]="allMembersId"
    [user_data]="user_data"
    [socket]="socket"
    [group]="group"
    [comments]="comments"
    [(commentCount)]="commentCount">
  </comment-section>
</li>
