<div class="container-fluid" style="margin-top: 30px; margin-left: 20px;">
  <div class="row cards-list">
    <app-time-off-card [userData]="userData" [workspaceData]="workspaceData"></app-time-off-card>

    <app-pending-tasks-card [userData]="userData" [workspaceData]="workspaceData"></app-pending-tasks-card>
    
    <app-hive-reports-card [userData]="userData" [workspaceData]="workspaceData"></app-hive-reports-card>
    
    <app-payroll-setup-card [userData]="userData" [workspaceData]="workspaceData"></app-payroll-setup-card>
  </div>
</div>
