<div class="notification-item" *ngFor="let log of logs; let index = index">
  <div class="notification_actor">
    <app-secured-image
      [imgURL]="log?._actor?.profile_pic"
      [service]="'user'"
      [styleClass]="'avatar'"
      style="margin-right:15px"></app-secured-image>
  </div>

  <div class="notification_title">
    <span class="muted" *ngIf="log?._actor && (log?._actor?.first_name || log?._actor?.last_name)"> {{ log?._actor?.first_name }} {{ log?._actor?.last_name }}</span>
    <span class="muted" *ngIf="!log?._actor || (!log?._actor?.first_name && !log?._actor?.last_name)" i18n="@@postLogs.deletedUser">Deleted User</span>

    <span *ngIf="log?.action === 'created'" class="approval-created ml-2" i18n="@@postLogs.created">Created this item</span>
    <span *ngIf="log?.action === 'commented'" class="approval-created ml-2" i18n="@@postLogs.commented">Commented this item</span>
    <span *ngIf="log?.action === 'comment_removed'" class="approval-created ml-2" i18n="@@postLogs.commented">Removed a comment on this item</span>
    <span *ngIf="log?.action === 'change_content'" class="approval-deleted ml-2" i18n="@@postLogs.changedContent">Changed the content of item</span>
    <span *ngIf="log?.action === 'make_ns'" class="approval-deleted ml-2" i18n="@@postLogs.makeNS">Changed the item to a North Star</span>
    <span *ngIf="log?.action === 'make_no_ns'" class="approval-deleted ml-2" i18n="@@postLogs.makeNoNS">Changed the item to a normal task</span>
    <span *ngIf="log?.action === 'update_ns'" class="approval-deleted ml-2" i18n="@@postLogs.updateNS">Updated the North Star value</span>
    <span *ngIf="log?.action === 'make_idea'" class="approval-deleted ml-2" i18n="@@postLogs.makeIdea">Changed the item to an Idea</span>
    <span *ngIf="log?.action === 'make_no_idea'" class="approval-deleted ml-2" i18n="@@postLogs.makeNoIdea">Changed the item to a normal task</span>
    <span *ngIf="log?.action === 'make_milestone'" class="approval-deleted ml-2" i18n="@@postLogs.makeMilestone">Changed the item to a Milestone</span>
    <span *ngIf="log?.action === 'make_no_milestone'" class="approval-deleted ml-2" i18n="@@postLogs.makeNoMilestone">Removed the Milestone from the item</span>
    <span *ngIf="log?.action === 'change_status'" class="approval-deleted ml-2" i18n="@@postLogs.changedStatus">Changed the status of item to </span> <span *ngIf="log?.action === 'change_status' && log?.new_status">{{ log?.new_status }}</span>
    <span *ngIf="log?.action === 'change_section'" class="approval-deleted ml-2" i18n="@@postLogs.movedToSection">Moved the item to the section </span> <span *ngIf="log?.action === 'change_section' && log?._new_section">{{ log?._new_section?.title }}</span>
    <span *ngIf="log?.action === 'assigned_to'" class="approval-deleted ml-2" i18n="@@postLogs.assigned">Assigned the item to </span> <span *ngIf="log?.action === 'assigned_to' && log?._assignee">{{ log?._assignee?.first_name || 'Deleted' }} {{ log?._assignee?.last_name || 'User' }}</span>
    <span *ngIf="log?.action === 'removed_assignee'" class="approval-deleted ml-2" i18n="@@postLogs.unassigned">Unassigned the item from </span> <span *ngIf="log?.action === 'removed_assignee' && log?._assignee">{{ log?._assignee?.first_name || 'Deleted' }} {{ log?._assignee?.last_name || 'User' }}</span>
    <span *ngIf="log?.action === 'new_due_date'" class="approval-deleted ml-2" i18n="@@postLogs.dueDate">Changed the Due date of the item to </span> <span *ngIf="log?.action === 'new_due_date' && log?.new_date">{{ log?.new_date | date: 'MMM dd, yyyy' }}</span>
    <span *ngIf="log?.action === 'new_start_date'" class="approval-deleted ml-2" i18n="@@postLogs.startDate">Changed the Start date of the item to </span> <span *ngIf="log?.action === 'new_start_date' && log?.new_date">{{ log?.new_date | date: 'MMM dd, yyyy' }}</span>
    <span *ngIf="log?.action === 'new_tag'" class="approval-deleted ml-2" i18n="@@postLogs.addedTag">Added to the item the tag </span> <span *ngIf="log?.action === 'new_tag' && log?.tag">{{ log?.tag }}</span>
    <span *ngIf="log?.action === 'remove_tag'" class="approval-deleted ml-2" i18n="@@postLogs.removedTag">Removed to the item the tag </span> <span *ngIf="log?.action === 'remove_tag' && log?.tag">{{ log?.tag }}</span>
    <span *ngIf="log?.action === 'change_cf'" class="approval-deleted ml-2" i18n="@@postLogs.changedCF">Changed the item Custom Field </span> <span *ngIf="log?.action === 'change_cf' && log?.cf_title">{{ log?.cf_title }}</span>
    <span *ngIf="log?.action === 'change_cf'" class="approval-deleted ml-2" i18n="@@postLogs.cfTo"> to </span> <span *ngIf="log?.action === 'change_cf' && log?.cf_value">{{ log?.cf_value }}</span>
    <span *ngIf="log?.action === 'copy_to'" class="approval-deleted ml-2" i18n="@@postLogs.copiedTo">Copied the item to the group </span> <span *ngIf="log?.action === 'copy_to' && log?._group">{{ log?._group?.group_name }}</span>
    <span *ngIf="log?.action === 'moved_to'" class="approval-deleted ml-2" i18n="@@postLogs.movedTo">Moved the item to the group </span> <span *ngIf="log?.action === 'moved_to' && log?._group">{{ log?._group?.group_name }}</span>
    <span *ngIf="log?.action === 'make_dependency'" class="approval-deleted ml-2" i18n="@@postLogs.dependencyOf">Made the item a dependency of </span> <span *ngIf="log?.action === 'make_dependency' && log?._task">{{ log?._task?.title }}</span>
    <span *ngIf="log?.action === 'make_dependent'" class="approval-deleted ml-2" i18n="@@postLogs.dependentOf">Made the item a dependent of </span> <span *ngIf="log?.action === 'make_dependent' && log?._task">{{ log?._task?.title }}</span>
    <span *ngIf="log?.action === 'remove_dependency'" class="approval-deleted ml-2" i18n="@@postLogs.removeDependencyOf">Removed the item a dependency of </span> <span *ngIf="log?.action === 'remove_dependency' && log?._task">{{ log?._task?.title }}</span>
    <span *ngIf="log?.action === 'remove_dependent'" class="approval-deleted ml-2" i18n="@@postLogs.removeDependentOf">Removed the item a dependent of </span> <span *ngIf="log?.action === 'remove_dependent' && log?._task">{{ log?._task?.title }}</span>
    <span *ngIf="log?.action === 'set_parent'" class="approval-deleted ml-2" i18n="@@postLogs.setParent">Made the item a child of </span> <span *ngIf="log?.action === 'set_parent' && log?._task">{{ log?._task?.title }}</span>
    <span *ngIf="log?.action === 'save_allocation'" class="approval-deleted ml-2" i18n="@@postLogs.saveAllocation">Changed the Allocation of the item to </span> <span *ngIf="log?.action === 'save_allocation' && log?.allocation">{{ log?.allocation }}</span>
    &nbsp;
    <span i18n="@@postLogs.on">on</span>
    &nbsp;
    <span class="muted">{{ log?.action_date | date: 'MMM dd, yyyy HH:mm' }}</span>
  </div>
</div>
