<!-- 
<span *ngIf="(!isLocalImg && (dataUrl$ | async))">
  <img *ngIf="dataUrl$ | async as url"
    [src]="url"
    [style]="inlineStyle"
    class="{{ styleClass }}"
    onerror="this.src=this.onErrorUrl"
    matTooltipPosition="{{ placement }}"
    matTooltip="{{ tooltip }}"
    alt="{{ alt }}"
    (load)="hideLoader()" (error)="hideLoader()"/>
</span>

<ng-template #locaImg>
  <img [src]="onErrorUrl"
    class="{{ styleClass }}"
    onerror="this.src=this.onErrorUrl"
    alt="{{ alt }}"
    [style]="inlineStyle" />
</ng-template>
-->
<span *ngIf="isLoading && service !== 'user'">
  <img [src]="onErrorUrl" [style]="inlineStyle" class="{{ styleClass }}" onerror="this.src=this.onErrorUrl" alt="{{ alt }}" />
</span>

<span *ngIf="service !== 'user'" [ngStyle]="{'display': (isLoading) ? 'none' : '' }">
  <img *ngIf="dataUrl$ | async as url"
    [src]="url"
    [style]="inlineStyle"
    class="{{ styleClass }}"
    matTooltipPosition="{{ placement }}"
    matTooltip="{{ tooltip }}"
    alt="{{ alt }}"
    onerror="this.src=this.onErrorUrl"
    (load)="hideLoader()" (error)="hideLoader()" />
</span>

<app-user-avatar *ngIf="service === 'user'" [photoUrl]="imgURL"
  [userData]="userData"
  [tooltip]="tooltip" [placement]="placement" [alt]="alt" [inlineStyle]="inlineStyle" [noAuth]="noAuth"
  [styleClass]="styleClass"></app-user-avatar>