<span *ngIf="(!isLocalImg && (dataUrl$ | async));else locaImg">
  <img *ngIf="dataUrl$ | async as url"
    [src]="url"
    class="{{ styleClass }}"
    onerror="this.src=this.onErrorUrl"
    matTooltipPosition="{{ placement }}"
    matTooltip="{{ tooltip }}"
    alt="{{ alt }}"
    [style]="inlineStyle" />
</span>

<ng-template #locaImg>
  <!--
  <div *ngIf="isLoading" class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  -->

  <img [src]="onErrorUrl"
    class="{{ styleClass }}"
    onerror="this.src=this.onErrorUrl"
    alt="{{ alt }}"
    [style]="inlineStyle" />
</ng-template>