.user-form {
    padding: 90px 30px;
    max-height: 100vh;
}

.forgot-password {
  color: #005fd5;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.card {
  width: 45%;
  padding: 0;
  margin: 0 10px 10px 0;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 0 #005fd521;

  .card-body {
    padding: 10px;
    object-fit: cover;
  }
}
