<div class="user-form">
        <!-- HEADING FOR NEW WORKPLACE FORM COMPONENT -->
        <h3 *ngIf="routerState === 'new-workplace'">Create your workplace</h3>
        <!-- HEADING FOR NEW WORKPLACE FORM COMPONENT -->

        <!-- HEADING FOR SIGNIN FORM COMPONENT -->
        <h3 *ngIf="routerState === 'sign-in'">Sign in</h3>
        <!-- HEADING FOR NEW SIGNIN FORM COMPONENT -->

        <!-- HEADING FOR SIGNIN FORM COMPONENT -->
        <h3 *ngIf="routerState === 'select-workspace'">Select workplace</h3>
        <!-- HEADING FOR NEW SIGNIN FORM COMPONENT -->

        <!-- HEADING FOR NEW SIGNUP FORM COMPONENT -->
        <h3 *ngIf="routerState === 'sign-up'">Join a workplace</h3>
        <!-- HEADING FOR NEW SIGNUP FORM COMPONENT -->

        <!-- HEADING FOR NEW SIGNUP FORM COMPONENT -->
        <h3 *ngIf="routerState === 'reset-password'">Reset your password</h3>
        <!-- HEADING FOR NEW SIGNUP FORM COMPONENT -->

        <!-- FORM FIELD FOR NEW WORKPLACE, & SIGNUP COMPONENT -->
        <div class="form-group" *ngIf=" routerState === 'new-workplace' && !newWorkplaceNextState">
                <label for="companyName">Company name</label>
                <input type="text" [(ngModel)]="user.company" class="form-control" name="companyName">
        </div>
        <!-- FORM FIELD FOR NEW WORKPLACE, & SIGNUP COMPONENT -->

        <!-- FORM FIELD FOR NEW WORKPLACE, SIGNIN, & SIGNUP COMPONENT -->
        <div class="form-group" *ngIf="routerState === 'new-workplace' || routerState === 'sign-up'">
                <label for="workplaceName" *ngIf="routerState === 'sign-up' || !newWorkplaceNextState">Workplace
                        name</label>
                <input type="text" *ngIf="routerState === 'new-workplace' && !newWorkplaceNextState"
                        (focusout)="checkWorkspaceAvailability(user?.company, user?.workspace)"
                        [(ngModel)]="user.workspace" class="form-control" name="workplaceName">
                <input type="text" *ngIf="routerState == 'sign-up'" [(ngModel)]="user.workspace" class="form-control"
                        name="workplaceName">
        </div>
        <!-- FORM FIELD FOR NEW WORKPLACE, SIGNIN, & SIGNUP COMPONENT -->

        <!-- FORM FIELD FOR NEW WORKPLACE, SIGNIN, & SIGNUP COMPONENT -->
        <div class="form-group" *ngIf="newWorkplaceNextState || routerState === 'sign-up' || routerState === 'sign-in'">
                <label for="workEmail">Work Email</label>
                <input type="email" [(ngModel)]="user.email" (focusout)="validateEmail($event)" class="form-control"
                        name="workEmail" (keyup.enter)="executeSignIn()">
        </div>
        <!-- FORM FIELD FOR NEW WORKPLACE, SIGNIN, & SIGNUP COMPONENT -->

        <!-- FORM FIELD FOR NEW WORKPLACE, SIGNIN & SIGNUP COMPONENT -->
        <div class="form-group" *ngIf="newWorkplaceNextState || routerState === 'sign-up' || routerState === 'sign-in' || routerState === 'reset-password'">
                <label for="password">Password</label>
                <input type="password" [(ngModel)]="user.password" class="form-control" name="password"
                        (keyup.enter)="executeSignIn()">
        </div>
        <!-- FORM FIELD FOR NEW WORKPLACE, SIGNIN & SIGNUP COMPONENT -->

        <!-- FORM FIELD FOR NEW WORKPLACE & SIGNUP COMPONENT -->
        <div class="form-group" *ngIf="newWorkplaceNextState || routerState === 'sign-up' || routerState === 'reset-password'">
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" (focusout)="matchUserPassword($event)" [(ngModel)]="user.repeatPassword"
                        class="form-control" name="repeatPassword">
        </div>
        <!-- FORM FIELD FOR NEW WORKPLACE & SIGNUP COMPONENT -->

        <!-- FORM FIELD FOR NEW WORKPLACE & SIGNUP COMPONENT -->
        <div class="form-group" *ngIf="newWorkplaceNextState || routerState === 'sign-up'">
                <label for="firstName">First Name</label>
                <input type="text" [(ngModel)]="user.firstName" class="form-control" name="firstName">
        </div>
        <!-- FORM FIELD FOR NEW WORKPLACE & SIGNUP COMPONENT -->

        <!-- FORM FIELD FOR NEW WORKPLACE & SIGNUP COMPONENT -->
        <div class="form-group" *ngIf="newWorkplaceNextState || routerState === 'sign-up'">
                <label for="lastName">Last Name</label>
                <input type="text" [(ngModel)]="user.lastName" class="form-control" name="lastName">
        </div>
        <!-- FORM FIELD FOR NEW WORKPLACE & SIGNUP COMPONENT -->

        <!-- SELECT A WORKPLACE -->
        <div class="form-group" *ngIf="routerState == 'select-workspace'">
                <div *ngFor="let workspace of userWorkspaces" (click)="selectWorkspace(workspace.workspace_name)"
                        class="card">
                        <h3 class="card-title"> <img src="{{ this.baseUrl }}/{{workspace.workspace_avatar}}"
                                        style="height: 30px; width:30px" class="feed-avatar"
                                        onerror="this.src='assets/images/icon-new-group.svg'">

                                {{workspace?.workspace_name}}</h3>

                </div>
        </div>
        <!-- SELECT A WORKPLACE -->

        <!-- FORGOT PASSWORD MODULE STARTS
        <p (click)="openForgotPassword(content)" class="forgot-password" *ngIf="routerState === 'sign-in'">Forgot
                password?</p>
        <ng-template #content let-modal>
                <forgot-password></forgot-password>
        </ng-template>
        FORGOT PASSWORD MODULE ENDS -->

        <!-- SUBMIT BUTTON FOR NEW WORKPLACE COMPONENT -->
        <button type="submit" class="btn btn-primary" *ngIf="routerState === 'new-workplace' && !newWorkplaceNextState"
                (click)="continueToCreateWorkspace(user?.company, user?.workspace)">Continue</button>
        <!-- SUBMIT BUTTON FOR NEW WORKPLACE -->

        <!-- SUBMIT BUTTON FOR NEW WORKPLACE COMPONENT -->
        <button type="submit" class="btn btn-primary" *ngIf="routerState === 'new-workplace' && newWorkplaceNextState"
                (click)="createNewWorkplace(user?.workspace, user?.company, user?.email, user?.password, user?.firstName, user?.lastName)">Continue</button>
        <!-- SUBMIT BUTTON FOR NEW WORKPLACE -->

        <!-- SUBMIT BUTTON FOR SIGN IN COMPONENT-->
        <button type="submit" class="btn btn-primary" *ngIf="routerState === 'sign-in'"
                (click)="signIn(user?.email, user?.password)">Sign In</button>
        <!-- SUBMIT BUTTON SIGN IN COMPONENT -->

        <!-- SUBMIT BUTTON SIGN UP COMPONENT -->
        <button type="submit" class="btn btn-primary" *ngIf="routerState === 'sign-up'"
                (click)="signUp(user?.workspace, user?.email, user?.password, user?.firstName, user?.lastName)">Done</button>
        <!-- SUBMIT BUTTON SIGN UP COMPONENT -->

        <!-- SUBMIT BUTTON SIGN UP COMPONENT -->
        <button type="submit" class="btn btn-primary" *ngIf="routerState === 'reset-password'" (click)="resetPassword(resetPwdId, user?.password, user?.repeatPassword)">Reset password</button>
        <!-- SUBMIT BUTTON SIGN UP COMPONENT -->

</div>
