<div class="user-form">
        <!-- HEADING FOR NEW WORKPLACE FORM COMPONENT -->
        <h3 *ngIf="routerState === 'new-workplace'">Create Your Workplace</h3>
        <!-- HEADING FOR NEW WORKPLACE FORM COMPONENT -->

        <!-- HEADING FOR SIGNIN FORM COMPONENT -->
        <h3 *ngIf="routerState === 'sign-in'">Sign In</h3>
        <!-- HEADING FOR NEW SIGNIN FORM COMPONENT -->

        <!-- HEADING FOR NEW SIGNUP FORM COMPONENT -->
        <h3 *ngIf="routerState === 'sign-up'">Join your workplace</h3>
        <!-- HEADING FOR NEW SIGNUP FORM COMPONENT -->

        <!-- FORM FIELD FOR NEW WORKPLACE, & SIGNUP COMPONENT -->
        <div class="form-group"
                *ngIf=" routerState === 'new-workplace' && !newWorkplaceNextState">
                <label for="companyName">Company name</label>
                <input type="text" [(ngModel)]="user.company" class="form-control" name="companyName">
        </div>
        <!-- FORM FIELD FOR NEW WORKPLACE, & SIGNUP COMPONENT -->

        <!-- FORM FIELD FOR NEW WORKPLACE, SIGNIN, & SIGNUP COMPONENT -->
        <div class="form-group" *ngIf="routerState === 'new-workplace' || routerState === 'sign-up' || routerState === 'sign-in'">
                <label for="workplaceName" *ngIf="routerState === 'sign-up' || routerState == 'sign-in' || !newWorkplaceNextState" >Workplace name</label>
                <input 
                type="text" 
                *ngIf="routerState === 'new-workplace' && !newWorkplaceNextState" 
                (keyup)="checkWorkspaceAvailability(user?.company, user?.workspace)" 
                [(ngModel)]="user.workspace" 
                class="form-control" 
                name="workplaceName">
                <input type="text" *ngIf="routerState == 'sign-up' || routerState == 'sign-in'" [(ngModel)]="user.workspace" class="form-control" name="workplaceName">
        </div>
        <!-- FORM FIELD FOR NEW WORKPLACE, SIGNIN, & SIGNUP COMPONENT -->

        <!-- FORM FIELD FOR NEW WORKPLACE, SIGNIN, & SIGNUP COMPONENT -->
        <div class="form-group" *ngIf="newWorkplaceNextState || routerState === 'sign-up' || routerState === 'sign-in'">
                <label for="workEmail">Work Email</label>
                <input type="email" [(ngModel)]="user.email" (keyup)="validateEmail($event)" class="form-control"
                        name="workEmail">
        </div>
        <!-- FORM FIELD FOR NEW WORKPLACE, SIGNIN, & SIGNUP COMPONENT -->

        <!-- FORM FIELD FOR NEW WORKPLACE, SIGNIN & SIGNUP COMPONENT -->
        <div class="form-group" *ngIf="newWorkplaceNextState || routerState === 'sign-up' || routerState === 'sign-in'">
                <label for="password">Password</label>
                <input type="password" [(ngModel)]="user.password" class="form-control" name="password">
        </div>
        <!-- FORM FIELD FOR NEW WORKPLACE, SIGNIN & SIGNUP COMPONENT -->

        <!-- FORM FIELD FOR NEW WORKPLACE & SIGNUP COMPONENT -->
        <div class="form-group" *ngIf="newWorkplaceNextState || routerState === 'sign-up'">
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" (keyup)="matchUserPassword($event)" [(ngModel)]="user.repeatPassword"
                        class="form-control" name="repeatPassword">
        </div>
        <!-- FORM FIELD FOR NEW WORKPLACE & SIGNUP COMPONENT -->

        <!-- FORM FIELD FOR NEW WORKPLACE & SIGNUP COMPONENT -->
        <div class="form-group" *ngIf="newWorkplaceNextState || routerState === 'sign-up'">
                <label for="firstName">First Name</label>
                <input type="text"  [(ngModel)]="user.firstName" class="form-control" name="firstName">
        </div>
        <!-- FORM FIELD FOR NEW WORKPLACE & SIGNUP COMPONENT -->

        <!-- FORM FIELD FOR NEW WORKPLACE & SIGNUP COMPONENT -->
        <div class="form-group" *ngIf="newWorkplaceNextState || routerState === 'sign-up'">
                <label for="lastName">Last Name</label>
                <input type="text" [(ngModel)]="user.lastName" class="form-control" name="lastName">
        </div>
        <!-- FORM FIELD FOR NEW WORKPLACE & SIGNUP COMPONENT -->

        <!-- FORGOT PASSWORD MODULE STARTS -->
        <p (click)="openForgotPassword(content)" class="forgot-password" *ngIf="routerState === 'sign-in'">Forgot
                password?</p>
        <ng-template #content let-modal>
                <forgot-password></forgot-password>
        </ng-template>
        <!-- FORGOT PASSWORD MODULE ENDS -->

        <!-- SUBMIT BUTTON FOR NEW WORKPLACE COMPONENT -->
        <button type="submit" class="btn btn-primary" *ngIf="routerState === 'new-workplace' && !newWorkplaceNextState"
                (click)="continueToCreateWorkspace(user?.company, user?.workspace)">Continue</button>
        <!-- SUBMIT BUTTON FOR NEW WORKPLACE -->

        <!-- SUBMIT BUTTON FOR NEW WORKPLACE COMPONENT -->
        <button type="submit" class="btn btn-primary" *ngIf="routerState === 'new-workplace' && newWorkplaceNextState"
        (click)="createNewWorkplace(user?.workspace, user?.company, user?.email, user?.password, user?.firstName, user?.lastName)">Continue</button>
        <!-- SUBMIT BUTTON FOR NEW WORKPLACE -->

        <!-- SUBMIT BUTTON FOR SIGN IN COMPONENT-->
        <button type="submit" class="btn btn-primary" *ngIf="routerState === 'sign-in'"
                (click)="signIn(user?.workspace, user?.email, user?.password)">Sign In</button>
        <!-- SUBMIT BUTTON SIGN IN COMPONENT -->

        <!-- SUBMIT BUTTON SIGN UP COMPONENT -->
        <button type="submit" class="btn btn-primary" *ngIf="routerState === 'sign-up'"
        (click)="signUp(user?.workspace, user?.email, user?.password, user?.firstName, user?.lastName)">Done</button>
        <!-- SUBMIT BUTTON SIGN UP COMPONENT -->

</div>