.user-form {
    padding: 90px 30px;
    max-height: 90vh;
    overflow: auto;
}

.forgot-password {
  color: #005fd5;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.card {
  padding: 10px;
  margin: 0 10px 10px 0;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 0 #005fd521;
}
