<table mat-table matSort [dataSource]="sortedData" (matSortChange)="sortData($event)" class="">
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef></th>

    <td mat-cell *matCellDef="let timeTrackingEntity">
      <app-secured-image [imgURL]="timeTrackingEntity?._user?.profile_pic" [service]="'user'" [workspaceId]="(userData?._workspace?._id || userData?._workspace)"
        [styleClass]="'avatar'"></app-secured-image>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@taskTimeTrackingList.name"> Name </th>

    <td mat-cell *matCellDef="let timeTrackingEntity">
      <span>{{ timeTrackingEntity?._user?.first_name + ' ' + timeTrackingEntity?._user?.last_name }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@taskTimeTrackingList.time"> Time </th>

    <td mat-cell *matCellDef="let timeTrackingEntity">
      <span>{{ timeTrackingEntity?.hours + ':' + timeTrackingEntity?.minutes }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef i18n="@@taskTimeTrackingList.comment"> Comment </th>

    <td mat-cell *matCellDef="let timeTrackingEntity">
      <span>{{ timeTrackingEntity?.comment }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@taskTimeTrackingList.date"> Date </th>

    <td mat-cell *matCellDef="let timeTrackingEntity">
      <span>{{ formateDate(timeTrackingEntity?.date) }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@taskTimeTrackingList.category"> category </th>

    <td mat-cell *matCellDef="let timeTrackingEntity">
      <span>{{ timeTrackingEntity?._category }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="star">
    <th mat-header-cell *matHeaderCellDef style="text-align: right;">
    </th>

    <td mat-cell *matCellDef="let timeTrackingEntities" style="text-align: right;">
      <i class="material-icons-outlined ml-2 muted pointer"
        [matMenuTriggerFor]="menu">more_horiz</i>
      <mat-menu #menu="matMenu">
        <!-- <a mat-menu-item (click)="openEditEntry(timeTrackingEntities)">
          <span i18n="@@taskTimeTrackingList.edit">Edit</span>
        </a> -->
        <a mat-menu-item (click)="deleteEntry(timeTrackingEntities?._id, timeTrackingEntities?.timeId)">
          <span i18n="@@taskTimeTrackingList.delete">Delete</span>
        </a>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let timeTrackingEntity; columns: displayedColumns;"></tr>
</table>
