<div class="card-tile">
    <div class="card-block">
        
        <!-- Template Heading starts -->
        <h6 class="card-title"><b>Your skills</b></h6>
        <!-- Template Heading ends -->

        <!-- Search skill component starts -->
        <app-component-search-input-box 
        *ngIf="userData && checkDataExist(userData) && currentUser"
        [placeholder]="'Type to add'" 
        [userData] = "userData"
        [type]="'skill'"
        (skill)="addNewSkill($event)">
        </app-component-search-input-box>
        <!-- Search skill component ends -->

        <hr />

        <!-- Iterate over all the skills present for a particular user starts -->
        <ul class="skills">
            <li *ngFor="let skill of userData?.skills; let i = index; trackBy: utilityService.trackByIndex;">
                {{skill}}
                <button type="button" name="button" class="btn btn-link" (click)="removeSkill(skill, i)">
                    <i *ngIf="currentUser" class="material-icons" placement="top" ngbTooltip="Delete this skill">
                        delete_sweep
                    </i>
                </button>
            </li>
        </ul>
        <!-- Iterate over all the skills present for a particular user ends -->

    </div>
</div>