@import "../../../../assets/scss/variables";

.card {
  margin-bottom: 10px;
}

.l-8 {
  animation-delay: 1.32s;
}

.load-8 .line {
  animation: loadingH 1.5s cubic-bezier(.17, .37, .43, .67) infinite;
}

.date {
  font-size: 24px;
  margin-top: -5px;
  border: 1px solid white;
  padding: 5px;
}

.event-title {
  color: white;
  font-weight: 400;
}

.overview-timeline-event {
  color: $dark-text !important;
}


.card-tile {
  padding: 0;
  margin: 0px 2px 0px 2px;

  .media-body {
    padding: 10px;
  }

  &:hover {
    background: #F1F1F3;
    cursor: pointer;
  }

  p {
    font-size: 14px !important;
    color: #9B9B9B;
  }
}

.card-tile-event {
  border-radius: 4px 4px 4px 4px;
  margin: 2px;

  .media-body {
    padding: 10px;
  }

  p {
    font-size: 14px !important;
  }
}

.title-overview {
  font-size: 16px;
  font-weight: 700 !important;
  margin: 15px 0;
}

.box {
  display: flex;
  height: 35px;
  flex-direction: row;
}

.box-child {
  margin-right: 15px;
}

.feed-avatar { //avatar image for in-feed display
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin: 5px 10px;
}

.calendar-glyph {
  width: 130px;
}

.overview-item {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #242D3A;
}

.overview-item2 {
  width: auto;
  font-size: 14px;
  line-height: 35px;
  padding: 0 5px;

  p {
    font-size: 14px !important;

    span {
      p {
        font-size: 14px !important;
      }
    }
  }
}

.avtar-name-child {
  width: 80px;
  border-right: 10px solid transparent;
}

.small-blue-text {
  color: $dark-sky-blue;
  font-size: 12px !important;
  font-weight: 700;
}

.small {
  font-size: 12px;
}

.timestamp {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #9B9B9B;
}

.mb-2 {
  margin-bottom: 0rem !important;
  margin-top: 0rem !important;
}

.flex {
  display: flex;
}

.event-current-hour {
  background: #FFC107;
  color: white;
}

.event-future-or-expired-hour {
  background: white;
  color: #005FD5;
}

.timeline-hour-box {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: white;
  width: 59px;
  height: 29px;
  padding: 4px;
  padding-left: 12px;
  border-radius: 4px 4px 4px 4px;
}

.event-expired-hour-box {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #005FD5;
  width: 59px;
  height: 29px;
  padding: 4px;
  padding-left: 12px;
  border-radius: 4px 4px 4px 4px;
  opacity: 0.5;
}

.event-future-hour-box {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #005FD5;
  width: 59px;
  height: 29px;
  padding: 4px;
  padding-left: 12px;
  border-radius: 4px 4px 4px 4px;
}

.chevron-right {
  position: absolute;
  left: 49.17%;
  right: 9.46%;
  top: -25.5%;
  bottom: 24.44%;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #9B9B9B;
}

.opacity {
  color: #9B9B9B;
  opacity: 0.5;
}
