<div class="customFieldsDialog">
    <mat-dialog-actions class="d-flex justify-content-end" align="end">
        <i mat-dialog-close class="material-icons" (click)="onCloseDialog()" style="cursor: pointer">close</i>
    </mat-dialog-actions>

    <div style="margin-bottom: 50px;">
      <div style="float: left; width: 50%; text-align: left;">
        <h2 mat-dialog-title>
          <span class="badge badge-cf">
              <i class="material-icons">vpn_lock</i>
          </span>
          <span i18n="@@permissionDialog.permissions">Permissions</span>
        </h2>

        <div>
          <p i18n="@@permissionDialog.decideWhoCan">
            Decide who can view and edit this element.
          </p>
          <p class="muted mt-3" i18n="@@permissionDialog.default">
            Default: everyone can make changes.
          </p>
        </div>
      </div>

      <img src="assets/images/placeholder_permissions.svg" alt="" style="width: 142px; margin-bottom: 24px;">
    </div>

    <div *ngIf="!editMode">
      <div *ngFor="let permission of permissionsList" class="rag">
          <div class="">
            <span class="permission-label mr-3"> <i class="material-icons mr-1">vpn_lock</i>{{ permission?.right }}</span>
            
            <span i18n="@@permissionDialog.for">for</span>
          </div>

          <div class="d-flex">
            <div *ngFor="let member of permission._members">
                <app-secured-image
                  [imgURL]="member?.profile_pic"
                  [service]="'user'"
                  [userData]="member"
                  [workspaceId]="(groupData?._workspace?._id || groupData?._workspace)"
                  [tooltip]="member?.first_name + ' ' + member?.last_name"
                  [styleClass]="'feed-avatar'"></app-secured-image>
            </div>

            <div *ngFor="let tag of permission.rags; let i = index" class="tagrow">
              
                <span class="tag">
                  {{ tag }}
                </span>

            </div>

            <div class="toolbox">
              <i (click)="editPermission(permission)" class="material-icons text-success" style="cursor: pointer;">mode</i>
              &nbsp;&nbsp;
              <i (click)="removePermission(permission?._id)" class="material-icons text-danger" style="cursor: pointer;">delete</i>
            </div>
          </div>
        </div>

        <div style="margin-top: 20px;">
          <button class="btn btn-primary" (click)="addNewPermission()">
            <i class="material-icons">add</i>
            <span i18n="@@permissionDialog.addPermission">Add permission</span>
          </button>
        </div>
    </div>

    <div *ngIf="editMode && permissionToEdit" style="padding-top: 20px;">
      <div style="padding-top: 20px; margin-bottom: 20px; flex-direction: column;" class="d-flex">
        <div class="d-flex">
          <mat-form-field appearance="fill">
            <mat-label>Select permission</mat-label>
          <mat-select [(value)]="permissionToEdit.right"
              (selectionChange)="selectPermissionRight(permissionToEdit._id, $event.value)">
            <mat-option *ngFor="let right of permissionRights" [value]="right._id">{{ right.title }}</mat-option>
          </mat-select>
        </mat-form-field>
          <span i18n="@@permissionDialog.for" *ngIf="permissionToEdit?._id" style="line-height: 50px;" class="ml-3">for</span>
        </div>

        <div class="d-flex" *ngIf="permissionToEdit?._id">
          <div class="useravatar" *ngFor="let member of permissionToEdit?._members">
              <app-secured-image
                [imgURL]="member?.profile_pic"
                [service]="'user'"
                [userData]="member"
                [workspaceId]="(groupData?._workspace?._id || groupData?._workspace)"
                [tooltip]="member?.first_name + ' ' + member?.last_name"
                [styleClass]="'feed-avatar'"
                (click)="removeMemberFromPermission(member, permissionToEdit?._id)"></app-secured-image>
          </div>

          <app-component-search-input-box class="ml-2" *ngIf="groupData && permissionToEdit?._id"
              [placeholder]="'add member'"
              [groupId]="groupId" [groupData]="groupData" [type]="'ragMembers'"
              [ragMemberList]="permissionToEdit._members"
              [rag]="permissionToEdit.rags"
              (member)="addNewUserToPermission($event, permissionToEdit)">
          </app-component-search-input-box>
        </div>

        <div *ngIf="permissionToEdit?._id" class="d-flex">
          <div *ngFor="let tag of permissionToEdit.rags; let i = index">
            <div>
              <span class="tag">
                {{ tag }}
                <i (click)="removePermissionTag(permissionToEdit._id, tag)" class="material-icons" style="color: red; cursor: pointer;">clear</i>
              </span>
            </div>
          </div>

          <app-component-search-input-box
                *ngIf="groupData"
                [placeholder]="'Add rag tag'"
                [groupData]="groupData"
                [type]="'ragTag'"
                [groupId]="groupId"
                [tagList]="item?.rags"
                (ragTag)="addTagToPermission(permissionToEdit._id, $event.rag_tag)">
            </app-component-search-input-box>
        </div>
      </div>

      <div style="margin-top: 20px;">
        <button class="col-md-4 btn btn-primary" (click)="save()" i18n="@@permissionDialog.save">
          OK
        </button>
      </div>
    </div>
</div>
