<div class="card comment">
    <div class="card-block">
        <div class="row card-title ">
            <div class="col-md-1">

              <app-secured-image
                  [imgURL]="comment?._commented_by?.profile_pic"
                  [service]="'user'"
                  [styleClass]="'feed-avatar'"></app-secured-image>
            </div>
            <div class="col-md-11 ">
                <h6 class="ml-2"> {{comment?._commented_by?.first_name || 'Deleted'}} {{comment?._commented_by?.last_name || 'User'}}
                    <br>
                    <span class="small lightgray date"> {{comment?.created_date | date: 'medium'}}</span>
                </h6>
            </div>
        </div>

        <!-- Edit comment Content starts -->
        <ng-container *ngIf="displayCommentEditor">

            <!-- Save Button starts -->
            <div class="col-md-12 text-right padding-bottom-md mb-2">
                <button class="btn btn-primary btn-sm"
                (click)="saveCommentData()">Save</button>
            </div>
            <!-- Save Button ends -->

            <!-- Comment Edit starts -->
            <div class="col-md-12 innercard">
                <app-quill-editor *ngIf="comment.content"
                    [editorId]="('comment_view_edit_'+ index + comment?._id) || 'editor'" [toolbar]="true" [readOnly]="false"
                    [contents]="comment.content" [groupId]="groupId" (content)="getQuillData($event)">
                </app-quill-editor>
            </div>
            <!-- Comment Edit ends -->

        </ng-container>
        <!-- Edit comment Content starts -->

        <!-- Comment Content starts -->
        <div class="col-md-12 innercard " *ngIf="!displayCommentEditor">
            <app-quill-editor *ngIf="comment.content" [editorId]="('comment_view_'+ index + comment?._id) || 'editor'"
                [toolbar]="false" [readOnly]="true" [groupId]="groupId" [contents]="comment.content">
            </app-quill-editor>
        </div>
        <!-- Comment Content ends -->

        <div class="col-md-12 innercard">
          <!-- Attach files starts -->
          <div class="attach-files">
              <app-attach-files
                  [comment]="comment"
                  [showIcons]="displayCommentEditor"
                  (files)="onAttach($event)"
                  (cloudFiles)="onCloudFileAttach($event)">
              </app-attach-files>
          </div>
          <!-- Attach files ends -->
        </div>

        <!-- Comment Action Starts -->
        <!-- TODO -> this 'if' will be removed when we fix that new comments are added with the ID to the array -->
        <div *ngIf="comment._id" class="row card-footer innercard action-post clearfix ml-0 mr-0">
            <!-- Likes Placeholder starts -->
            <ng-template #likedContent>
              <p *ngFor="let liked_by of likedByUsers">{{ liked_by }}</p>
            </ng-template>
            <div class="col-md-6">
                <span class="stats" [ngbTooltip]="likedContent"><b>{{likedByUsers.length || 0 }}</b> Likes </span>
            </div>
            <!-- Likes Placeholder ends -->

            <div class="col-md-6 text-right">

                <!-- Like Comment starts -->
                <app-like-comment [userData]="userData" [comment]="comment" (commentLikedEmiter)="onCommentLiked($event)"></app-like-comment>
                <!-- Like Comment ends -->

                <!-- Comment Utils starts -->
                <span class="mr-n12">

                    <!-- Three dotted button starts -->
                    <button class="btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="material-icons-outlined action">more_horiz</i>
                        <span class="caret"></span>
                    </button>
                    <!-- Three dotted button ends -->

                    <!-- Menu Drawer Starts -->
                    <ul class="dropdown-menu">

                        <!-- Edit Comment starts -->
                        <li class="dropdown-item" (click)="this.displayCommentEditor = true">
                            <span>Edit</span>
                        </li>
                        <!-- Edit Comment ends -->

                        <li class="dropdown-divider"></li>

                        <!-- Delete Comment starts -->
                        <li class="dropdown-item" (click)="deleteComment(index)">
                            <span>Delete</span>
                        </li>
                        <!-- Delete Comment ends-->

                    </ul>
                    <!-- Menu Drawer Ends -->
                </span>
                <!-- Comment Utils ends -->

            </div>
        </div>
        <!-- Comment Action Ends -->
    </div>
</div>
