.responses-container {
  font-family: Nunito,sans-serif;
  font-style: normal;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 5px;

  .response-list{
    border-right: 1px solid #E4EDF8;
  }

  .responses-container-active {
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background-color:#005fd5;
    border-bottom: 1px solid #005fd5;
    color: #fff;
    font-weight: 700;
  }
  .responses-container-inactive {
    cursor: pointer;
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background-color:#f3f4f6;
    border-bottom: 1px solid #E4EDF8;
    font-weight: 400 !important;
  }

  .answer-container {
    width: 100%;
    height: 100%;
    padding: 30px;
    text-align: center;
}

  .active-answer-container {

    .active-answer-header {
      margin-top: -23px;
      margin-bottom: 20px;
      padding-bottom: 15px;
      border-bottom: 1px solid #E4EDF8;
    }

    .active-answer-body {
      margin-bottom: 20px;

      .sort-text {
        width: 100px;
        background-color:#2a8ada;
        color: #fff;
        padding: 5px;
        border-radius: 4px;
      }
      .yes-no {
        width: 100px;
        background-color:#db9214;
        color: #fff;
        padding: 5px;
        border-radius: 4px;
      }
      .scale {
        width: 100px;
        background-color:#008a00;
        color: #fff;
        padding: 5px;
        border-radius: 4px;
      }
      .dropdown {
        width: 100px;
        background-color:#a70486;
        color: #fff;
        padding: 5px;
        border-radius: 4px;
      }

      .question {
        text-align: left;
        padding: 0px;

        .question-title {
          margin-bottom: 10px;
        }

        .answer-short-text {
          padding: 10px;
        }
        .answer-yes-no {
          padding: 10px;
        }
        .answer-scale {
          padding: 10px;
        }
        .answer-dropdown {
          padding: 10px;
        }
      }
    }

  }
}
