.responses-container {
  font-family: Nunito,sans-serif;
  font-style: normal;
  font-weight: 700!important;
  font-size: 12px;

  width: 94%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;


  .responses-container-active {
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background-color:#818283;
    border-bottom: 1px solid #000000;
  }
  .responses-container-inactive {
    cursor: pointer;
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background-color:#f3f4f6;
    border-bottom: 1px solid #000000;
  }

  .answer-container {
    width: 100%;
    height: 100%;
    padding: 30px;
    text-align: center;
}

  .active-answer-container {

    .active-answer-header {
      margin-top: -23px;
      margin-bottom: 20px;
      padding-bottom: 15px;
      border-bottom: 1px solid #000000;
    }

    .active-answer-body {
      margin-bottom: 20px;

      .sort-text {
        width: 75%;
        background-color:#2a8ada;
      }
      .yes-no {
        width: 75%;
        background-color:#db9214;
      }
      .scale {
        width: 75%;
        background-color:#008a00;
      }
      .dropdown {
        width: 75%;
        background-color:#a70486;
      }

      .question {
        text-align: left;
        padding: 0px;

        .question-title {
          margin-bottom: 10px;
        }

        .answer-short-text {
          padding: 10px;
        }
        .answer-yes-no {
          padding: 10px;
        }
        .answer-scale {
          padding: 10px;
        }
        .answer-dropdown {
          padding: 10px;
        }
      }
    }

  }
}
