<!-- Recurring tasks starts -->
<div>
	<p class="box-title">
		<span i18n="@@postRecurrency.recurrent">Recurrent task</span>
		<mat-slide-toggle color="primary" style=" margin-left: 15px;" [checked]="postData?.is_recurrent" [name]="'recurrent'"
			(change)="transformToRecurrent()">
		</mat-slide-toggle>
	</p>

	<!-- Frequency starts -->
	<p *ngIf="postData?.is_recurrent" class="box-title">
		<span i18n="@@postRecurrency.frequency">Frequency</span>
		<mat-select [(value)]="postData.recurrent.frequency" (selectionChange)="updateRecurrentFrequency($event)">
			@for (frequency of frequencies; track frequency; let i = $index) {
			<mat-option [value]="frequency.value">
				{{ frequency.title }}
			</mat-option>
			}
		</mat-select>
	</p>
	<!-- Frequency ends -->

	<!-- Frequency starts -->
	<p *ngIf="postData?.is_recurrent && postData?.recurrent?.frequency == 'weekly'">
		<span i18n="@@postRecurrency.onTheseDays" class="box-title">On these days</span>
		<br/>
		<mat-checkbox [checked]="isDaySelected('Sunday')" (change)="onTheseDaysSelected($event)" [name]="'Sunday'" class="inline-checkbox" i18n="@@postRecurrency.su">S</mat-checkbox>
		<mat-checkbox [checked]="isDaySelected('Monday')" (change)="onTheseDaysSelected($event)" [name]="'Monday'" class="inline-checkbox" i18n="@@postRecurrency.m">M</mat-checkbox>
		<mat-checkbox [checked]="isDaySelected('Tuesday')" (change)="onTheseDaysSelected($event)" [name]="'Tuesday'" class="inline-checkbox" i18n="@@postRecurrency.tu">T</mat-checkbox>
		<mat-checkbox [checked]="isDaySelected('Wednesday')" (change)="onTheseDaysSelected($event)" [name]="'Wednesday'" class="inline-checkbox" i18n="@@postRecurrency.w">W</mat-checkbox>
		<mat-checkbox [checked]="isDaySelected('Thursday')" (change)="onTheseDaysSelected($event)" [name]="'Thursday'" class="inline-checkbox" i18n="@@postRecurrency.th">T</mat-checkbox>
		<mat-checkbox [checked]="isDaySelected('Friday')" (change)="onTheseDaysSelected($event)" [name]="'Friday'" class="inline-checkbox" i18n="@@postRecurrency.f">F</mat-checkbox>
		<mat-checkbox [checked]="isDaySelected('Saturday')" (change)="onTheseDaysSelected($event)" [name]="'Saturday'" class="inline-checkbox" i18n="@@postRecurrency.sa">S</mat-checkbox>
	</p>
	<!-- Frequency ends -->

	<!-- Date Picker starts -->
	<div *ngIf="postData?.is_recurrent && (postData?.recurrent?.frequency == 'monthly' ||  postData?.recurrent?.frequency == 'yearly' ||  postData?.recurrent?.frequency == 'periodically')">
		<span i18n="@@postRecurrency.on" class="box-title">On</span>
		<app-date-picker *ngIf="postData?.recurrent?.frequency == 'monthly' ||  postData?.recurrent?.frequency == 'yearly'"
			(date)="getDate($event, 'recurrency_on')" [selectedDate]="postData?.recurrent?.recurrency_on"
			[lowerLimit]=" postData?.task?.due_to" [upperLimit]="(!!postData?.recurrent?.end_date) ? postData?.recurrent?.end_date : ''"
			class="btn-group input-date" [canEdit]="canEdit" [customDateFormat]="(postData?.recurrent?.frequency == 'yearly') ? 'dd LLLL' : 'dd'">
		</app-date-picker>

		<app-date-picker *ngIf="postData?.recurrent?.frequency == 'periodically'"
			(date)="getDate($event, 'periodically_on')"
			[lowerLimit]=" postData?.task?.due_to"
			[upperLimit]="(!!postData?.recurrent?.end_date) ? postData?.recurrent?.end_date : ''" class="btn-group input-date"
			[canEdit]="canEdit" [customDateFormat]="(postData?.recurrent?.frequency == 'yearly') ? 'dd LLLL' : 'dd'">
		</app-date-picker>
	</div>
	<!-- Date Picker ends -->

	<!-- Periodically Date Picker starts -->
	<div *ngIf="postData?.is_recurrent && postData?.recurrent?.frequency == 'daily'">
		<span i18n="@@postRecurrency.on" class="box-title">On</span>
		<app-date-picker (date)="getDate($event, 'end_date')" [selectedDate]="postData?.recurrent?.end_date"
			[lowerLimit]=" postData?.task?.due_to"
			class="btn-group input-date" [canEdit]="canEdit">
		</app-date-picker>
	</div>
	<!-- Periodically Picker ends -->

	<!-- Date Picker starts -->
	<div *ngIf="postData?.is_recurrent">
		<span i18n="@@postRecurrency.endsOn" class="box-title">Ends on</span>
		<app-date-picker (date)="getDate($event, 'end_date')" [selectedDate]="postData?.recurrent?.end_date"
			[lowerLimit]=" postData?.task?.due_to"
			class="btn-group input-date" [canEdit]="canEdit">
		</app-date-picker>
	</div>
	<!--Date Picker ends -->
</div>
<!-- Recurring tasks ends -->
