
.modal1{
    padding-top: 90px;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

table, tr, td {
    border: none;
}

.modal-container{
    padding: 2%;
    z-index: 2;
    position: fixed;
    width: 30%;
    background: white;
    border-radius: 5px;
    border: 1px solid #f3f4f6;

    
}

.contain-elements {
    display: flex;
    flex-direction: column;
}

.element {
    margin: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.close {
    color: rgb(172, 83, 83);
    float:right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }


.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.submit{
    padding  : 8px;
    border: 1px solid #f3f4f6;
    border-radius: 4px;
    &:hover{
        border: 1px solid rgb(99, 99, 99);
        background: #f3f4f6;
    }
    width:fit-content;
    cursor: pointer;
    font-size: medium;
}
