<div class="dialog-content">
  <div class="content">

    <div class="modal-title" i18n="@@showCustomFieldsColumnDialog.cfToShow">Custom Fields To Show</div>
    <p i18n="@@showCustomFieldsColumnDialog.cfToShowDescription">This will display statistics for selected Custom Fields in the header of the section.</p>

    <div class="content-box" *ngIf="!!customFields && customFields.length > 0">
      <div *ngFor="let cf of customFields" style="display: flex; justify-content: space-between">
        <div> {{ cf.title }} </div>
        <div>
          <mat-slide-toggle color="primary"
            [checked]="cf.showInColumn"
            [name]="cf.name"
            (change)="showCFInColumn(cf)">
          </mat-slide-toggle>
        </div>
      </div>
    </div>

    <div class="content-box" *ngIf="!customFields || customFields.length == 0">
      <div style="display: flex; justify-content: space-between">
        <div>
          <span class="material-icons-outlined">info</span>
          &nbsp;
          <span i18n="@@showCustomFieldsColumnDialog.noCFInfo">You need to create Input type Custom Fields in order to display them in your section.</span>
        </div>
      </div>
    </div>

    <div class="conten-box save-content">
      <button
          class="btn btn-danger btn-md"
          (click)="closeDialog()"
          i18n="@@showCustomFieldsColumnDialog.close">
        Close
      </button>
    </div>
  </div>
</div>
