

.card-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, #0066cc, #001f3e);

  .white{
    color:#fff !important;
    font-family: 'Poppins', sans-serif;;
    font-weight: 600;
  }

  .logo-container {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    .icon-octo-logo{
      color: #005FD5;
      margin-right: 30px;
    }
  }

  .card {
    box-shadow: 0 1.5rem 3rem rgba(#000, .3);
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1.5rem;

    .card-header {
      border-radius: 50%;

      &--err {
        background-color: #fff;
        border-radius: 0;
      }

      .img-container{
        .card-image {
          background-size: cover;
        }
      }
    }
    .card-body {
      width: 100%;

      .name {
        text-align: center;
        font-size: 1.1rem;
      }

      .btn {
        display: block;
        margin: 1.5rem auto 0 auto;
      }
    }
  }
}

.card:after {
  content: '';
  right: 0;
  bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, black, transparent);
  -webkit-transform: rotateY( 180deg );
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}
