<mat-accordion *ngIf="tasks?.length > 0" class="tasks-container">
  <mat-expansion-panel id="DONE" >
    <mat-expansion-panel-header class="column-title">
      <!-- COLUMN TITLE -->
      <mat-panel-title>
        <p class="done-title">
          <i class="material-icons-outlined">archive</i>
           {{tasks?.length}} <span i18n="@@doneTasksListView.doneArchived"></span>DONE (archived)
          <i class="material-icons-outlined">expand_more</i>
        </p>

      </mat-panel-title>
      <!-- COLUMN TITLE -->
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <table mat-table [dataSource]="tasks" class="tasks-container">
      <!-- title Column -->
      <ng-container matColumnDef="title" sticky>
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let task">
          <div class="">
            {{ task?.title | truncatetext:60 }}
          </div>
        </td>
      </ng-container>

      <!-- percentage Column -->
      <ng-container matColumnDef="nsPercent">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let task">
        </td>
      </ng-container>

      <!-- tags Column -->
      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef i18n="@@doneTasksListView.tags"> Tags </th>
        <td mat-cell *matCellDef="let task">
          <div class="">
            <div class="tags" *ngIf="task?.tags.length <= 1">
                <span class="badge" *ngFor="let tag of task?.tags">
                    {{ tag }}
                </span>
            </div>
            <div class="tags" *ngIf="task?.tags.length > 1">
                <span class="badge">
                    {{ task?.tags[0] }}
                </span>
                <span class="badge">
                    +{{ task?.tags.length-1 }}
                </span>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Assignee Column -->
      <ng-container matColumnDef="asignee">
        <th mat-header-cell *matHeaderCellDef i18n="@@doneTasksListView.assignee"> Assignee </th>
        <td mat-cell *matCellDef="let task">
          <app-assignee-avatar [post]="task" [userData]="userData"></app-assignee-avatar>
        </td>
      </ng-container>

      <!-- Due date Column -->
      <ng-container matColumnDef="due_to">
        <th mat-header-cell *matHeaderCellDef i18n="@@doneTasksListView.dueDate"> Due Date </th>
        <td mat-cell *matCellDef="let task">
          <div class="">
            {{ task?.task?.due_to | date:'MMM dd, yyyy' }}
        </div>
      </ng-container>

      <!-- CUSTOM FIELDS START -->
      <ng-container [matColumnDef]="cf.name" *ngFor="let cf of customFieldsToShow">
        <th mat-header-cell *matHeaderCellDef> {{ cf.title }} </th>
        <td mat-cell *matCellDef="let task">
          <div class="task_cell_cf">
            {{ (task?.task?.custom_fields) ? task?.task?.custom_fields[cf.name] : '' }}
          </div>
        </td>
      </ng-container>
      <!-- CUSTOM FIELDS ENDS -->

      <!-- Star Column -->
      <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let task">
          <div class="">
            <i class="material-icons-outlined ml-2 muted" [matMenuTriggerFor]="menu" style="cursor: pointer;">more_horiz</i>
            <mat-menu #menu="matMenu">
                <a mat-menu-item (click)="openFullscreenModal(task)">
                    <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">visibility</i>
                    <span i18n="@@doneTasksListView.view">View</span>
                </a>
            </mat-menu>
          </div>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let task; columns: displayedColumns;" class="task_row">
      </tr>
    </table>

  </mat-expansion-panel>
</mat-accordion>
