$border-color: #e4edf8;
$dark-sky-blue: #4a90e2;

.mat-expansion-panel:not([class*="mat-elevation-z"]){
  box-shadow: none !important;
  background: transparent !important;
}

.mat-expansion-panel-body, .mat-expansion-panel-content{
  padding: 0 !important;
}
.mat-expansion-panel-body{
  padding: 0 !important;
}

td.mat-cell {
  border: none !important;
}

td.mat-column-title {
  width: 450px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

.tags {
  text-align: center;
  border: none !important;
}

.badge {
  background-color: $dark-sky-blue;
  margin: 0 1px !important;
  display: inline;
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px;
  align-items: center;
  color: #005fd5;
  background-color: #e4edf8;
  border-radius: 10px;
  padding: 2px 10px !important;
}

.feed-avatar {
  //avatar image for in-feed display
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin: 5px 10px;
}

.done-title {
    color: #4A90E2;
    cursor: pointer;
}

.column-title{
    padding: 0 10px;
    border-bottom: 1px solid $border-color;

    p{
        font-size: 14px !important;
        text-transform: uppercase;
    }

}

.tasks-container{
    width: 100%;
}

.task_row {
  border-left: 3px solid $dark-sky-blue;
  height: 40px;
  padding: 0;
  background: #fff;
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 2px auto;
  transition: box-shadow .3s ease-in-out;
  font-size: 14px!important;
  font-family: Nunito,sans-serif;
}

.input-date{
    margin-top: 0 !important;
}
