<div class="publish-container">
    <div class="row">
        <div class="col-md-6">
            <img class="publish-image" src="assets/images/publish_flamingo.svg"/>
        </div>
        <div class="col-md-6">
            <p class="publish-note">Done?<br/> When you are ready, you can click this button to PUBLISH the FORM and <br/> let people answer.<br/> When it’s done, come back here and click UNPUBLISH in order to stop data <br/>collection.</p>
            <button class="btn btn-primary btn-style" >PUBLISH</button>
        </div>
    </div>
</div>
