.publish-container{
    padding-top: 10%;
    width: 100%;
    height: 100%;
}
.publish-note{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    margin-top: 7%;
}
.publish-image{
    margin-left: 40%;
}
.btn-style{
    width: 105px;
    height: 28px;
    font-size: 13px;
    margin-top: 5%;
}

.url-box {
  width: 50%;
  float: left;
  margin-top: 10px;
  padding: 10px;
  background-color: #d6d5d5;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: ellipsis;
}
