.publish-container{
    padding-top: 10%;
    width: 100%;
    height: 100%;
}
.publish-note{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    margin-top: 7%;
}
.publish-image{
    margin-left: 40%;
}
.btn-style{
    width: 105px;
    height: 28px;
    font-size: 13px;
    margin-top: 10%;
}
