<mat-drawer-container style="height: 100vh;" autosize>
  <mat-drawer *ngIf="showSideBar() && myAuthCheck()" opened="true" mode="side" #sidenav disableClose autosize >

    <!-- SIDE MENU ICON STARTS -->
    <app-sidebar *ngIf="!iconsSidebar" class="nav navbar-nav navbar-left" [userGroups]="userGroups" [sideNav]="sidenav" [iconsSidebar]="iconsSidebar" (sidebarChange)="switchSideBar()"></app-sidebar>
    <!-- SIDE MENU ICON ENDS -->

    <!-- ICONS SIDE MENU ICON STARTS -->
    <app-icons-sidebar *ngIf="iconsSidebar" class="nav navbar-nav navbar-left" [userGroups]="userGroups" [sideNav]="sidenav" [iconsSidebar]="iconsSidebar" (sidebarChange)="switchSideBar()"></app-icons-sidebar>
    <!-- ICONS SIDE MENU ICON ENDS -->

  </mat-drawer>


    <nav class="navbar navbar-expand-md supersticky" *ngIf="myAuthCheck()">
      <div class="container-fluid">

        <!-- COLLAPSABLE MENU STARTS -->

        <!-- MENU BUTTON STARTS -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="material-icons-round">more_horiz</i>
          </span>
        </button>
        <!-- MENU BUTTON ENDS -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- MENU ITEMS STARTS -->

          <app-common-navbar *ngIf="isAdminNavbar$ | async" [routerFromEvent]="routerFromEvent"></app-common-navbar>
          <app-user-account-navbar *ngIf="isUserAccountNavbar$ | async" [routerFromEvent]="routerFromEvent"></app-user-account-navbar>
          <app-group-navbar *ngIf="isGroupNavbar$ | async" (favoriteGroupSaved)="onFavoriteGroupSaved()" [groupId]="groupId" [routerFromEvent]="routerFromEvent"></app-group-navbar>
          <app-work-navbar *ngIf="isWorkNavbar$ | async"></app-work-navbar>
          <!-- MENU ITEMS ENDS -->

          <ul class="navbar-nav search-nav">
            <li class="nav-item">

              <!-- SEARCH starts -->
              <a class="nav-link" (click)="openModal(search)">
                <span class="material-icons">
                  search
                </span>
              </a>
              <!-- SEARCH ends -->

            </li>
          </ul>

        </div>
        <!-- COLLAPSABLE MENU ENDS -->
      </div>
  </nav>
    <router-outlet *ngIf="myAuthCheck()"></router-outlet>
    <!-- Search Modal -->
    <ng-template #search let-modal>
      <app-search-header (close)="closeModal()"></app-search-header>
    </ng-template>

</mat-drawer-container>
