<button type="button" class="btn btn-link" *ngIf="showIcons">
    <input #fileInput type="file" class="btn btn-outline-warning file-input" (input)="onAttach($event)" placeholder="File" multiple />
    <i class="material-icons" matTooltipPosition="above" (click)="fileInput.click()">attach_file</i>
</button>

<!-- Cloud Files Starts -->
<!-- TODO -> this part is commented until we fix the save of the cloud files
<button type="button" class="btn btn-link" *ngIf="showIcons">
  <i class="material-icons" matTooltipPosition="above"
      matTooltip="Upload Google Drive files" (click)="loadGoogleCloudFiles()">
      cloud_upload
    </i>
</button>
-->
<!-- Cloud Files Ends -->


<!-- Attached Files Starts -->
<div *ngIf="post" class="ml-2 mt-2">
    <p><strong *ngIf="post.files">Attached Files </strong></p>
    <div *ngFor="let file of post.files; let index = index">
      <a href="{{ baseUrl }}/{{ file?.modified_name }}?authToken={{authToken}}" target="_blank">
          {{ file?.original_name }}
      </a>
      <span class="material-icons" (click)="removeFile(index)">
        highlight_off
      </span>
    </div>
</div>
<!-- Attached Files Ends -->


<!-- Attached Files Starts -->
<div *ngIf="comment" class="ml-2 mt-2">
  <p><strong *ngIf="comment.files">Attached Files </strong></p>
  <div *ngFor="let file of comment.files; let index = index">
    <a href="{{ baseUrl }}/{{ file?.modified_name }}?authToken={{authToken}}" target="_blank">
        {{ file?.original_name }}
    </a>
    <span *ngIf="showIcons" class="material-icons" (click)="removeFile(index)">
      highlight_off
    </span>
  </div>
</div>
<!-- Attached Files Ends -->

<!-- Selected Files Starts -->
<div *ngIf="(!post || !post.files) && (!comment || !comment.files)"  class="ml-2 mt-2">
  <div *ngFor="let file of filesArray; let index = index">
    <p>
      <strong>Selected File: </strong>
      {{ file?.name }}
      <span class="material-icons" (click)="removeTmpFile(index)">
          highlight_off
      </span>
    </p>
  </div>
</div>


<!-- Google Drive Attached File Starts -->
<div class="ml-2 mt-2" id="google-drive-file" style="display:none;"></div>
<!-- Google Drive Attached File Ends -->

<!-- Selected Files Ends -->
