<div class="container">
  <button (click)="createNS()" class="btn new-ns-button mb-3 mt-3">
    <i class="material-icons">add</i>
    <span i18n="@@northStarPage.newNS">New North Star</span>
  </button>

  <!-- Empty State of tasks starts -->
  <div *ngIf="!globalNorthStarTasks || globalNorthStarTasks?.length === 0" class="tile">
    <h5 class="title-overview media-body" i18n="@@northStarPage.noMission">There are no missions here... Let's create one.</h5>
    <div class="media" style="margin-top: 20px; margin-bottom: 20px;">
      <img src="assets/images/ns_placeholder1.svg" class="mr-3" style="width: 200px">
      <div class="media-body" style="color: #242d3a;">
        <h5 class="mt-0 mb-3" style="font-weight: 700 !important;">
          <i class="material-icons-round" style="vertical-align: bottom;">explore</i>
          <span i18n="@@northStarPage.whatIsNS"> Set and achieve strategic goals.</span>
        </h5>
        <span i18n="@@northStarPage.setAndAchieveStrategic">
         Align your organization. <br>
          Connect your company goals and the work to support them in one place. <br>You can see progress to keep teams on track. And teams can work wisely to get the right things done.
        </span>
      </div>
    </div>
  </div>
  <!-- Empty State of tasks ends -->

<div class="ns-wrapper">
  <div *ngFor="let task of globalNorthStarTasks; let i = index; trackBy: utilityService.trackByIndex">
    <a (click)="openGlobalNSModal(task?._id)">
      <!-- My Space Today Tasks -->

        <div class="media tile overview-task">
          <div class="row media-body">
            <div class="col-md-5">
              <app-assignee-avatar [post]="task" [userData]="task?._assigned_to"></app-assignee-avatar>

              <div class="overview-item title-nowrap pl-0 ml-2" [innerHTML]="task?.title"></div>
            </div>

            <div class="col-md-4" style="text-align-last: center;">

              {{ getProgressPercent(task?.northStarValues) | percent: '.2-2'}}

              <mat-progress-bar
                mode="determinate"
                [appProgressBarColor]="getNSStatusColor(task?.northStarValues)"
                [value]="getProgressPercent(task?.northStarValues) * 100"
                style="height: 10px; border-radius: 20px;"></mat-progress-bar>
            </div>

            <div class="col-md-2" *ngIf="task?._group">
              <div class="grouplabel">
                {{ task?._group?.group_name | truncatetext: 20 }}
              </div>
            </div>

            <div class="col-md-1">
              <div class="overview-item small">
                {{task.task.due_to | date:'MMM d' }}
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
