<div class="container">
  <div class="media" style="margin-top: 40px; margin-bottom: 30px;">
    <img src="assets/images/northstar-hero.svg" class="mr-3" style="width: 200px">
    <div class="media-body" style="color: #242d3a;">
      <h5 class="mt-0" style="font-weight: 700 !important;">
        <i class="material-icons-round" style="vertical-align: bottom;">explore</i>
        <span i18n="@@northStarPage.whatIsNS">What is a North Star?</span>
      </h5>
      <span i18n="@@northStarPage.setAndAchieveStrategic">
        Set and achieve strategic goals. Align your organization. <br>
        Connect your company goals and the work to support them in one place. <br>You can see progress to keep teams on track. And teams can work wisely to get the right things done.
      </span>
    </div>
  </div>

  <button (click)="createNS()" class="btn new-ns-button">
    <i class="material-icons">add</i>
    <span i18n="@@northStarPage.newNS">New North Star</span>
  </button>

  <!-- Empty State of tasks starts -->
  <div *ngIf="!northStarTasks || northStarTasks?.length === 0" class="card-tile">
    <h5 class="title-overview media-body" i18n="@@northStarPage.noMission">There are no missions here... Let's create one.</h5>
  </div>
  <!-- Empty State of tasks ends -->

  <div *ngFor="let task of northStarTasks; let i = index;">

    <a (click)="openFullscreenModal(task)">
      <!-- My Space Today Tasks -->
      <div>
        <div class="media card-tile overview-task">
          <div class="row media-body">
            <div class="col-md-7">
              <div class="overview-item title-nowrap pl-0" [innerHTML]="task?.title"></div>
            </div>

            <div class="col-md-1">
              <div [ngClass]="getNSStatusClass(task?.task?.northStar)">
                {{ getProgressPercent(task?.task?.northStar) | percent: '.2-2'}}
              </div>
            </div>

            <div class="col-md-2">
              <div class="grouplabel">
                {{ task?._group.group_name | truncatetext: 20 }}
              </div>
            </div>

            <div class="col-md-1">
              <app-assignee-avatar [post]="task" [userData]="userData"></app-assignee-avatar>
            </div>

            <div class="col-md-1">
              <div class="overview-item small">
                {{task.task.due_to | date:'MMM d' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
