.colors-box {

  .color {
    width: 20px;
    height: 20px;
    margin: 1px;
    float: left;
    cursor: pointer;
  }

  .selected {
    border: 3px solid #005FD5;
  }
}

.input {
  width: 75%;
  height: 38px;
  font-size: 24px;
  line-height: 33px;
  border: none;
  border-bottom: 1px solid #242d3a;
  background-color: transparent;
  margin-right: 10px;
}
