<div class="card-tile invite-users">
  <h6>
    <b i18n="@@workspaceProfileCF.profileFields">Profile Fields</b>
  </h6>

  <hr />

  <p i18n="@@workspaceProfileCF.profileFieldsWillShowUp">Profile Fields will show up in user profile to help create rich details, according to your organizational structure. Example: Department - Marketing, Sales etc.</p>

  <button class="btn btn-primary mt-3" (click)="openProfileCustomFieldsDialog()" i18n="@@workspaceProfileCF.manageFields">Manage Fields</button>
</div>
