.l-8 {animation-delay: 1.32s;}

.load-8 .line {animation: loadingH 1.5s cubic-bezier(.17,.37,.43,.67) infinite;}


@keyframes loadingH {
	0% {width: 50px;}
	50% {width: 110px; padding: 4px;}
	100% {width: 50px;}
}

.line {
	display: inline-block;
	width: 50px;
	height: 18px;
	border-radius: 18px;
	background-color: #005fd5;
}