<div *ngIf="group" class="media user-sticky-card">

  <img class="mr-3 feed-avatar-big" [src]="groupImageUrl" onerror="this.src='/assets/images/group.png'">

  <div class="media-body">
    <div>
      <h2>{{ group.group_name }}</h2>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/group/',group_id,'activity' ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Activity
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard/group/',group_id,'tasks' ]" routerLinkActive="active">Tasks
              <span class="sr-only">(current)</span>
            </a>
          </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/group/',group_id,'files' ]" routerLinkActive="active">Files
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/group/',group_id,'calendar']" routerLinkActive="active">Calendar
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/group/',group_id,'members']" routerLinkActive="active">Members
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/group/',group_id,'admin' ]" routerLinkActive="active">Admin
            <span class="sr-only">(current)</span>
          </a>
        </li>


      </ul>
    </div>

  </div>
  <ng-container *ngIf="user">
    <div *ngIf="user.role === 'admin' || user.role === 'owner'" class="col-md-3 text-right">
      <button type="button" name="button" class="btn pink btn-link" (click)="openLg(contentEditGroup)">
        <i class="material-icons">create</i>
      </button>
    </div>
  </ng-container>


  <!-- ##### MODALS ##### -->

  <ng-template #contentEditGroup let-c="close" let-dd="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Group Update</h4>
      <button type="button" class="close" aria-label="Close" (click)="dd('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!--         <ngb-alert *ngIf="alert.message" [type]="alert.class" (close)="successMessage = null">{{alert.message}}</ngb-alert>
       -->
      <div class="form-group">

        <!-- <img [src]="groupImageUrl" style="width:15% ; height:15%;">
        <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)" name="profile_image"> -->
        <img *ngIf="!croppedImage" [src]="groupImageUrl" style="border-radius: 50%; width:15% ; height:15%;">
        <img *ngIf="croppedImage" [src]="croppedImage" #Image accept="image/*" style="border-radius: 50%; width:15% ; height:15%;">
        <input type="file" (change)="fileChangeEvent($event)" />

        <div>
          <br><br>
          <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="1 / 1"
              [resizeToWidth]="300"
              [cropperMinWidth]="300"
              [onlyScaleDown]="true"
              [roundCropper]="false"
              format="png,jpeg,webp,bmp,ico"
              outputType="file"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()"
          ></image-cropper>
        </div>
        <!-- <img [src]="croppedImage" /> -->
      </div>
      <div class="form-group">
        <label for="groupName">Group Name:</label>
        <input class="form-control" [(ngModel)]="group.group_name" type="text" id="groupName" name="groupName">
      </div>

      <div class="form-group">
        <label for="description">Group Description:</label>
        <textarea class="form-control" [(ngModel)]="group.description" rows="5" id="description" name="description"></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="onUpdateGroup()">Save</button>
      <button type="button" class="btn btn-primary" (click)="c('Close click')">Cancel</button>
    </div>

  </ng-template>
</div>
