
    <div class="modal-header">
        <h4 class="modal-title">Workspace Update</h4>
    </div>
    <div class="modal-body" style=" max-height: calc(100vh - 200px);overflow-y: auto">

        <div class="form-group">
            <img *ngIf="!croppedImage" src="{{ baseUrl }}/uploads/{{ workspaceData?.workspace_avatar }}">
            <app-crop-image (outputImage)="getCroppedImage($event)"></app-crop-image>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-primary">Cancel</button>
    </div>