  app-loading-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}

h5{
  font-weight: 700 !important;
}
h2{
  font-weight: 400 !important;
  font-size: 15px !important;
}

.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.header-hero{
  width: 100%;
  height: 250px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  overflow: hidden;
  background-size: cover;
  background-image:url(/assets/images/lounge_header.jpg);
}


.img-header{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.media img {
  float: left;
}

.media-header {
  position: absolute;
  color: white;
  width: 42%;
  background: #22304470;
  height: 250px;
  padding: 30px 30px;

  .title {
    color: white;
    font-size: 30px;
  }

  .quote {
    font-style: italic;
  }
}

.new-element {
  align-items: center;
  margin: 6px 30px;
}

.media-body {
  align-items: left;
  margin: 15px 15px;
  width: 100%;
}

.category {
  margin: 0px;

  .category-name {

    .name {
      float: left;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      display: flex;
      align-items: center;
      letter-spacing: 0.25px;
      color: #223044;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .category-body {
    // float: left;
    .cards-list{
      display: flex;
      flex-wrap: wrap;
    }
    .card {
      padding: 0;
      margin: 0;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      box-shadow: 0 3px 8px #33333351;
      margin: 6px;
      width: 200px;

      .card-img-top{
        width: 100%;
        object-fit: cover;
      }

      .badge-members{
        background: #fff;
        padding:5px;
        font-weight: 500;
        text-align: center;
        color: #005FD5;
        position: absolute;
        right:20px;
        top:20px;
        box-shadow: 0 4px 10px 0 rgba(37, 38, 94, 0.1);
      }

      .card-title{
        color: #fff;
      }

   
    .title-overlay{
      background: rgba(34, 48, 68, 0.44);
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0;
      padding: 10px;
      border-radius: 0 0 10px 10px;
    }
    
    }
  }
}

