@import "src/assets/scss/variables";
@import "src/assets/scss/main";

.container {
	margin-top: 30px;
}

table {
  width: 100%;

  th:not(:first-child) {
	text-align: center;
  }

  td:not(:first-child) {
	text-align: center;
  }

  td {
	border: 1px solid #0000001f;
  }
}

.actions {
  margin: 10px 0;
}