@import "src/assets/scss/variables";
@import "src/assets/scss/main";

.pointer {
  cursor: pointer;
}

table {
  width: 100%;
}

input[type="time"]::-webkit-calendar-picker-indicator {
	background: none;
	display: none;
}