.page {
	background: #FFFFFF;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
	border-radius: 8px;
	padding: 20px;
	margin-top: 20px;
	display: flex;
	width: 100%;
}

.page-info{
	width: 95%;
	display: flex;
}

.options{
	display: flex;
	align-self: flex-end;
}