<div>
  <div class="project-container">
    <span i18n="@@columnProjectSection.planned">Planned</span>
    <span class="float-right">
      {{ formateDate(column?.start_date, "Do, MMM") }}
      <i class="material-icons">arrow_right_alt</i>
      {{ formateDate(column?.due_date, "Do, MMM") }}
    </span>
  </div>

  <div class="project-container bold" *ngIf="column?.real_due_date">
    <span i18n="@@columnProjectSection.real">Real</span>
    <span *ngIf="column?.real_due_date" class="float-right">
      <i *ngIf="isDelay(column?.real_due_date, column?.due_date)" class="material-icons-outlined" style="color: #eb5757;">arrow_right_alt</i>
      {{ formateDate(column?.real_due_date, "Do, MMM") }}
      <i *ngIf="isDelay(column?.real_due_date, column?.due_date)" class="material-icons-outlined" style="color: #eb5757; margin-top: -6px;">error</i>
    </span>
  </div>

  <div class="project-container" style="height: 40px;" *ngIf="canSeeBudget && column?.project_type && !(column?.budget?.amount_planned)">
    <button class="btn muted" (click)="column.addBudget = true" *ngIf="!column.addBudget" style="width: 90%; text-align: left;">
      <i class="material-icons-outlined">add</i>
      <span i18n="@@columnProjectSection.addBudget">Add budget</span>
    </button>
    <div style="width: 75%;" class="float-left" *ngIf="column.addBudget">
        <input class="form-control" type="text" placeholder="Enter initial planned budget"
          [(ngModel)]="column.initial_budget" (keyup.enter)="newBudget(column._id, $event.target.value)" (keyup.esc)="column.addBudget = false">
    </div>
    <span class="float-right">
      <span class="material-icons" style="line-height: 35px;">monetization_on</span>
    </span>
  </div>

  <div class="project-container budget" style="cursor: pointer;" (click)="openBudgetDialog(column)"
      *ngIf="canSeeBudget && column?.project_type && column?.budget?.amount_planned">
    <span i18n="@@columnProjectSection.currentBalance">Current Balance</span>
    <span class="float-right" [ngClass]="getBudgetStyle()">
      {{ (column?.budget.amount_planned - column?.budget?.totalSpent)| currency: (column?.budget?.currency || 'USD') }}
      <!-- <span class="material-icons" style="line-height: 1px;">monetization_on</span> -->
    </span>
  </div>
</div>
