@import "src/assets/scss/variables";

.project-header{
  padding: 10px;
  background:#fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14); 
  border-radius: 8px;
}

.project-container {
  width: 310px;
  border-bottom: 1px solid $border-color;
  margin-bottom: 16px;
  padding: 10px;
}

.over-budget {
  background-color: #F67B99;
}

.under-budget {
  background-color: #2AA578;
}