.btn-outline-warning{
  width: 34px;
  height:34px;
  object-fit: cover;
  border-radius: 50%;
  color: #FD7714;
  border: 1px solid #FD7714;
  box-sizing:border-box;
  margin: 0 10px;
}


.selected{
  width: 34px;
  height: 34px;
  object-fit: cover;
  border-radius: 50%;
  color: #005FD5;
  border: 1px solid #005FD5;
  box-sizing: border-box;
  margin: 0 10px;
}

.material-icons{
  padding: 0;
  margin-left: -6px;
  font-size: 24px;
}