<button [matMenuTriggerFor]="cloneTaskSearchMenu" #trigger="matMenuTrigger" style="cursor: pointer;" class="dropdownbtn">
    Users
    <img [src]="picsUrl" onerror="this.src='assets/images/user.png'" class="feed-avatar" [ngStyle]="{'display': filterfor==='users'?'inherit':'none'}">
</button>
<mat-menu #cloneTaskSearchMenu="matMenu" class="user-filter-menu">
    <div style="padding: 10px;">
        <div class="users-card">
            <div class="form-group" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                <label for="search-text">Filter Task For</label>
                <input type="email" class="form-control" id="search-text" aria-describedby="search-text"
                    [(ngModel)]="searchText" placeholder="Search group member" autofocus>
            </div>
            <ul class="assignee-list">
                <li appHighlight class="assignee-list-item" *ngFor="let member of groupMembers | appFilter: searchText"
                    (click)="getMemberDetails(member._id)" [searchedWord]="searchText" [content]="member">
                    {{ member.first_name }} {{ member.last_name }}
                </li>
            </ul>
        </div>
    </div>
</mat-menu>