<button [matMenuTriggerFor]="cloneTaskSearchMenu" #trigger="matMenuTrigger"
  *ngIf="menuFor==='Filter'"
  [ngStyle]="{'cursor': 'pointer','color':filterfor==='users'?'green':'black'}"
  class="dropdownbtn">
    <span i18n="@@memberListMenu.users">Users</span>
    <app-secured-image *ngIf="filterfor==='users'"
      [imgURL]="picsUrl"
      [service]="'user'"
      [userData]="member"
      [workspaceId]="workspaceId"
      [styleClass]="'feed-avatar'"></app-secured-image>
</button>
<button mat-menu-item [matMenuTriggerFor]="cloneTaskSearchMenu" *ngIf="menuFor==='Task'">
    <i class="material-icons-outlined">recent_actors</i>
    <span i18n="@@memberListMenu.cloneTask" class="ml-1">Clone task</span>
</button>
<mat-menu #cloneTaskSearchMenu="matMenu" class="user-filter-menu">
    <div style="padding: 10px;">
        <div class="users-card">
            <div class="form-group" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                <label for="search-text">{{menuLable}}</label>
                <input type="text" class="form-control" id="search-text" aria-describedby="search-text"
                    [(ngModel)]="searchText" placeholder="Search group member" autofocus>
            </div>
            <ul class="assignee-list">
                <li class="assignee-list-item" *ngFor="let member of groupMembers | appFilter: searchText; trackBy: utilityService.trackByIndex"
                    (click)="getMemberDetails(member._id)">
                    <app-avatar style="width:30px !important;height:30px !important;"
                        [photoUrl]="member.profile_pic"
                        [userData]="member"
                        [styleClass]="'feed-avatar-small'"
                        [noAuth]="true"></app-avatar>

                    {{ member.first_name }} {{ member.last_name }}
                </li>
            </ul>
        </div>
    </div>
</mat-menu>
