<app-start-subscription *ngIf="!subscriptionActive"
  [userData]="userData"
  [workspaceData]="workspaceData"
  [publicFunctions]="publicFunctions"
  [subscription]="subscription"
  (subscriptionCreated)="onSubscriptionChanges($event)">
</app-start-subscription>

<div *ngIf="subscriptionActive" class="card-tile" style="margin-top: 20px;">

  <div class="row" *ngIf="workspaceData && userData">
    <div class="col-md-4">
      <app-workplace-information [workspaceData]="workspaceData" [routerState]="'billing'"></app-workplace-information>
    </div>
  
    <div class="col-md-8">
      <h4>
        <span i18n="@@stripePayment.octoniusPartnersWithStripe">Octonius partners with Stripe to manage your payments.</span>
        <br>
        <img src="assets/images/stripe_pay.svg" alt="" style="width: 240px; margin-top: 30px;">
      </h4>
      
      <button (click)="createCustomerPortalSession()" class="btn btn-md btn-primary mt-4"
        i18n="@@stripePayment.mangaeSubscription">
        Manage subscription
      </button>
    </div>
  </div>
</div>

<ng-container *ngIf="isLoading$ | async">
  <app-loading-spinner></app-loading-spinner>
</ng-container>
