<!-- <app-start-subscription *ngIf="!workspaceData?.billing?.current_period_end || !subscription; else subscriptionTemp" -->
<app-start-subscription *ngIf="!workspaceData?.billing?.current_period_end || !subscription; else createCustomerPortalSession()"
  [userData]="userData"
  [workspaceData]="workspaceData"
  [publicFunctions]="publicFunctions"
  [subscription]="subscription"
  (subscriptionCreated)="onSubscriptionChanges($event)">
</app-start-subscription>

<ng-container *ngIf="isLoading$ | async">
  <app-loading-spinner></app-loading-spinner>
</ng-container>

<!--
<ng-template #subscriptionTemp>
  <app-subscription-details *ngIf="subscription"
    [publicFunctions]="publicFunctions"
    [subscription]="subscription"
    [workspaceData]="workspaceData"
    (subscriptionCanceled)="onSubscriptionChanges($event)"
    (subscriptionResume)="onSubscriptionChanges($event)">
  </app-subscription-details>
</ng-template>

<div *ngIf="charges.length > 0" class="card-tile">
  <h3 class="s-payments-title">Payments:</h3>
  <ul class="list-group">
    <li *ngFor="let payment of charges" class="list-group-item disabled">
      <span>
        {{ payment.created | amFromUnix | amDateFormat:'MMMM Do YYYY' }}
      </span>
      <span>{{ payment.amount/100 | currency: '$': 'symbol': '.2-2' }}</span>
      <span>{{ payment.status }}</span>
    </li>
  </ul>
</div>
-->
