
<app-start-subscription *ngIf="!subscription || subscription.ended_at; else subscriptionTemp"
  [userData]="userData"
  [workspaceData]="workspaceData"
  [publicFunctions]="publicFunctions"
  [subscription]="subscription"
  (subscriptionCreated)="onSubscriptionCreated($event)">
</app-start-subscription>

<ng-container *ngIf="isLoading$ | async">
  <app-loading-spinner></app-loading-spinner>
</ng-container>

<ng-template #subscriptionTemp>
  <app-subscription-details *ngIf="subscription"
    [publicFunctions]="publicFunctions"
    [subscription]="subscription"
    (subscriptionCanceled)="onSubscriptionCanceled()">
  </app-subscription-details>
</ng-template>

<div *ngIf="charges.length > 0" class="card-tile">
  <h3 class="s-payments-title">Payments:</h3>
  <ul class="list-group">
    <li *ngFor="let payment of charges" class="list-group-item disabled">
      <span>
        {{ payment.created | amFromUnix | amDateFormat:'MMMM Do YYYY' }}
        <!-- - {{ payment.period_end | amFromUnix | amDateFormat:'MMMM Do YYYY' }}-->
      </span>
      <span>{{ payment.amount | currency: '$': 'symbol': '.2-2' }}</span>
      <span>{{ payment.outcome.seller_message }}</span>
    </li>
  </ul>
</div>
