<section>
  <div>
    <input [formControl]="queryField" type="search" id="keyword" placeholder="Type a name to search"
           class="input-search"/>
  </div>

  <div class="media card-tile user-list mb-0" *ngFor=" let item of itemList">

    <img src="{{BASE_URL}}/uploads/{{item?.profile_pic}}" onerror="this.src='/assets/images/user.png'"
         class="feed-avatar-search">
    <div class="media-body mt-2">
      <div class="float-left ml-0 mt-1">
        <h4 class="mt-0 full-name-text">{{item?.full_name}}</h4>
      </div>
      <div class="btn-group mr-3 ml-2 float-right">

        <div *ngIf="!isGroupMember(item)">
          <button [hidden]="memberJustAddedToGroup(item)" (click)="onAddNewMember(item)"
                  class="btn btn-primary dropdown-toggle-split btn-sm">add
          </button>
          <i [hidden]="!memberJustAddedToGroup(item)" class="material-icons mr-1 dropdown-toggle-split btn-sm working">check_circle</i>
        </div>
        <div *ngIf="isGroupMember(item)">
          <p class="btn btn-sm btn-text">joined</p>
        </div>
      </div>

    </div>
  </div>
</section>
