.box-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #242d3a;
  margin-bottom: 12px !important;
}

.feed-avatar-small{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin:5px 10px;
}



.tagslabel{
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px !important;
  align-items: center;
  background-color: #e4edf8;
  border-radius: 10px;
  padding: 2px 10px;
  width: fit-content;
  margin:0 5px !important;
}

.mat-menu-panel {
  max-width: none !important;
}

.users-card {
  padding: 10px 10px 0px 10px;
  border: none;
}

.form-group {
  margin-bottom: 1rem;

  label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .form-control {
    display: block;
    width: -webkit-fill-available;
    height: calc(1em + 0.75rem);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    input {
      margin: 0;
      font-family: inherit;
      overflow: visible;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      text-align: start;
      -webkit-appearance: textfield;
      cursor: text;
    }
  }
}

.assignee-list {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;

  .assignee-list-item {
    position: relative;
    display: block;
    padding: 2px 15px 3px 0px;
    background-color: #fff;
    // border: 1px solid rgba(0, 0, 0, 0.125);
    cursor: pointer;
  }
}

.assignee-row {
  display: flex;
  justify-content: space-between;

  .assignee {

  }

  .action {
    line-height: 35px;

    .approved {
      color: #2AA578;
    }

    .rejected {
      color: #EE5D5D;
    }

    .pending {
      color: #FBB732;
    }

    .approve {
      background: #2AA578;
      color: #FFFFFF;
    }

    .reject {
      background: #EE5D5D;
      color: #FFFFFF;
    }

    .toggle-button {
      border-radius: 20px;
      align-items: center;
      padding: 0px 18px;
      width: 110px;
    }

    .action-button {
      border-radius: 20px;
      align-items: center;
      padding: 6px 14px;
      width: 150px;
    }
  }

  .confirm-btn{
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 12px !important;
    align-items: center;
    background-color: #e4edf8;
    border-radius: 10px;
    padding: 2px 10px;
    width: fit-content;
    margin:0 5px !important;
  }
}
