

.customFieldsDialog {
  text-align: center;
  margin: 0 auto;
}

.customFieldsDialogContent {
  align-items: center;
}

.select-field {
  // box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #E4EDF8;
}
