<div class="customFieldsDialog">
    <mat-dialog-actions align="end">
        <i mat-dialog-close class="material-icons" style="cursor: pointer">close</i>
    </mat-dialog-actions>

    <h2 mat-dialog-title>
      <span class="muted">
        Filter by Custom Fields
      </span>
    </h2>

    <mat-dialog-content class="customFieldsDialogContent">
      <mat-form-field>
        <mat-select ngDefaultControl class="select-field"
            (selectionChange)="customFieldSelected($event.value)"
            (click)="$event.stopPropagation()"
            [(value)]="cfName"
            name="names">
          <mat-option *ngFor="let cf of customFields" [value]="cf.name">{{ cf.title }}</mat-option>
        </mat-select>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-select ngDefaultControl class="select-field"
            (click)="$event.stopPropagation()"
            [(value)]="cfValue"
            [disabled]="cfValues.length <= 0"
            name="values">
          <mat-option *ngFor="let value of cfValues" [value]="value">{{ value }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div style="display: flex; justify-content: center;">
        <div class="cancel" (click)="cancel()">X Cancel</div>
        <div class="save" (click)="filter()">Filter</div>
      </div>
    </mat-dialog-content>
</div>
