$dark-sky-blue: #4a90e2;

.customFieldsDialog {
  text-align: center;
  margin: 0 auto;
}

.customFieldsDialogContent {
  align-items: center;
}

.select-field {
  padding: 15px 10px 10px 25px;

  width: 370px;
  height: 41px;

  background: #FAFAFA;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.save {
  cursor: pointer;

  margin: 30px auto !important;

  align-items: center;
  padding: 10px 20px;
  color: #ffffff;
  background: #005FD5;
  box-shadow: 0px 4px 5px rgba(66, 66, 66, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
}

.cancel {
  cursor: pointer;
  margin: 30px auto !important;
  font-weight: 700;

  padding: 10px 14px 9px 12px;

  border: 2px solid #EE5D5D;
  border-radius: 28px;
  color: #EE5D5D;
}
