<!-- Create new file starts -->
<button class="btn btn-warning stickybtn mb-3 mt-2 dropdown-toggle" type="button" data-toggle="dropdown">
    <i class="material-icons">add</i> New
</button>
<!-- Create new file ends -->

<!-- Menu Drawer Starts -->
<ul class="dropdown-menu">
    <li class="dropdown-item">
        <span>Folder</span>
    </li>
    <li class="dropdown-item">
        <span>File</span>
    </li>
    <li class="dropdown-item">
        <span>Folder Upload</span>
    </li>
    <li class="dropdown-divider"></li>
    <li class="dropdown-item">
        <span>Folio</span>
    </li>
</ul>
<!-- Menu Drawer Ends -->