<div class="card sideinnercard">

  <h6 class="card-title"><b>Hi {{user?.first_name}},</b></h6>
  <hr />

  <div class="row">
    <div class="col-md-12">
      <div *ngIf="!isItMyWorkplace; else personalmetrics" class="card-block">
        <p>
          Your team has <span class="todo bold">{{ totalTasks }}</span> assignment(s) this week.
        </p>
        <p>
          Your team has <span class="overdue bold">{{ undoneLastWeekTasks }}</span> overdue assignment(s) this week.
        </p>
      </div>
      <ng-template #personalmetrics>
        <div>
          <p>
            You have <span class="todo bold">{{ totalTasks }}</span> assignments this week.
          </p>
          <p>

            You have <span class="overdue bold">{{ undoneLastWeekTasks }}</span> incomplete assignments last week.
          </p>
        </div>
      </ng-template>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6"><h4 class="todo" style="margin-top:30px"><b>{{todoTasks}} To do</b></h4></div>
    <div class="col-md-12">
      <b><ngx-skill-bar
        [percentage]="todoPercent || 0"
        bgColor="#cccccc"
        color="#53a9ff"
        showFigures="true"></ngx-skill-bar></b>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6"><h4 class="working" style="margin-top:30px"><b>{{inProgressTasks}} In progress</b></h4></div>
    <div class="col-md-12">
      <b><ngx-skill-bar
        [percentage]="inProgressPercent || 0"
        bgColor="#cccccc"
        color="#53a9ff"
        showFigures="true"></ngx-skill-bar></b>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12"><h4 class="done" style="margin-top:30px"><b>{{doneTasks}} Done</b></h4></div>
    <div class="col-md-12">
      <b><ngx-skill-bar
        [percentage]="donePercent || 0"
        bgColor="#cccccc"
        color="#53a9ff"
        showFigures="true"></ngx-skill-bar></b>
    </div>


  </div>
</div>