@import "src/assets/scss/variables";

.smart-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.estimation {
  color: #FBB732;
}
.project_stats {
  margin-top: 45px
}

.project_stats > div {
  margin: 5px 0px;
}

.task_counts {
  display: flex;
}


.kpi-todo-tasks {
  color: #ffffff;
  background: #FFAB00;
  border-radius: 20px;
  font-style: normal;
  font-weight: bold;
  width: 20px;
  height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px 7px;
  padding: 0px 6px;
}

.kpi-in-progress-tasks {
  color: #ffffff;
  background: #26A69A;
  border-radius: 20px;
  font-style: normal;
  font-weight: bold;
  width: 20px;
  height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px 7px;
  padding: 0px 6px;
}

.kpi-done-tasks {
  color: #ffffff;
  background: #4A90E2;
  border-radius: 20px;
  font-style: normal;
  font-weight: bold;
  width: 20px;
  height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px 7px;
  padding: 0px 6px;
}

.kpi-overdue-tasks {
  color: #ffffff;
  background: #FF6584;
  border-radius: 20px;
  font-style: normal;
  font-weight: bold;
  width: 20px;
  height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px 7px;
  padding: 0px 6px;
}

.badge {
  background-color: $dark-sky-blue;
  margin: 0 1px !important;
  display: inline;
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px;
  align-items: center;
  color: #005fd5;
  background-color: #e4edf8;
}

.badge_not_started {
  background-color: #FFAB00;
  color: #F3F4F6;
}

.badge_on_track {
  background-color: #26A69A;
  color: #F3F4F6;
}

.badge_in_danger {
  background-color: #EB5757;
  color: #F3F4F6;
}

.badge_achieved {
  background-color: #4A90E2;
  color: #F3F4F6;
}

.not_started {
  color: #FFAB00;
}

.on_track {
  color: #26A69A;
}

.in_danger {
  color: #FF6584;
}
