<nav class="navbar navbar-expand-md fixed-top" style="min-height: 86px;">

    <!-- Go Back starts -->
    <span *ngIf="!this.readOnly" class="navbar-brand ml-5 mr-5" ngbTooltip="Go Back to Files" placement="bottom"
        (click)="goBackToFiles()">
        <i class="material-icons">
            arrow_back
        </i>
    </span>
    <!-- Go Back ends -->

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto ml-4">
            <li class="nav-item active" *ngIf="file">

                <!-- Flamingo Static Title starts -->
                <span *ngIf="!editTitle" (click)="enableEdit()" ngbTooltip="Click me to rename"
                    placement="bottom">{{file?.original_name}}
                </span>
                <!-- Flamingo Static Title ends -->

                <!-- Flamingo edit title name starts -->
                <input *ngIf="editTitle" type="search" autocomplete="off" [(ngModel)]="file.original_name"
                    (keyup)="changeTitle($event)" placeholder="Give me a name" class="input-search" />
                <!-- Flamingo edit title name ends -->
            </li>
        </ul>
    </div>

    <ul class="nav center-align">
        <li class="nav-item">
            <a [ngClass]="activeState == 'create_form'?'nav-link active-nav':'nav-link'"
                (click)="changeState('create_form')" routerLink="/flamingo/{{fileId}}" [queryParams]="{ group:groupId}"
                routerLinkActive="active">Create</a>
        </li>
        <li class="nav-item">
            <a [ngClass]="activeState == 'publish_form'?'nav-link active-nav':'nav-link'"
                (click)="changeState('publish_form')" routerLink="#" [queryParams]="{myWorkplace: true }">Publish</a>
        </li>
        <li class="nav-item">
            <a [ngClass]="activeState == 'result_form'?'nav-link active-nav':'nav-link'"
                (click)="changeState('result_form')" routerLink="#" [queryParams]="{myWorkplace: true }">Results</a>
        </li>
    </ul>

    <ul class="nav right-align">
        <li class="nav-item">
            <a class="nav-link" routerLink="/flamingo/preview/{{fileId}}" [queryParams]="{group: groupId,readOnly: true}" routerLinkActive="active">
                <i class="material-icons icons-color" >remove_red_eye</i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="#" [queryParams]="{myWorkplace: true }">
                <i class="material-icons icons-color" >cloud_download</i>
            </a>
        </li>
    </ul>


</nav>

<router-outlet></router-outlet>