@import "src/assets/scss/_variables";
span {
    cursor: pointer;
}
.input-search {
    width: auto;
    height: 38px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    border: none;
    border-bottom: 1px solid #000000;
}

input:focus {
    outline: none;
    border-bottom: 1px solid royalblue;
}

nav {
    min-height: 80px;
    background-color: #fff;
    box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.1);
}

.nav-link {
    font-family: $poppins;
    font-weight: 400 !important;
    font-size: 14px;
    color:#1B1D1F;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      background: #ffffff;
      color: $brand-primary !important;
    }

}

.center-align{
    position: absolute;
    left: 45%;
}

.right-align{
    position: absolute;
    left: 90%;
}

.icons-color{
    color: #9D9FA2;
}

.icons-color:hover{
    color: #005fd5 !important;
}
