<div class="card-tile">
  <div class="card-block">
      <h6><b>Settings</b></h6>

      <div class="mt-5 mb-5 pt-3">
        <mat-slide-toggle color="primary"
            [checked]="groupData.share_files"
            [name]="'share_files'"
            (change)="saveSettings($event)">
          <h6><b i18n="@@groupSettings.shareFiles">Share files with the organization</b></h6>
          <p class="card-text" i18n="@@groupSettings.makesAllFilesAccessible">This option makes all the files from this group accessible to the entire organization</p>
        </mat-slide-toggle>
      </div>

      <div class="mt-5 mb-5 pt-3">
        <mat-slide-toggle color="primary"
            [checked]="groupData.enabled_rights"
            [name]="'enabled_rights'"
            (change)="saveSettings($event)"
            [(ngModel)]="enabledRights">
          <h6><b i18n="@@groupSettings.enableRAG">Enable restricted access groups</b></h6>
          <p class="card-text" i18n="@@groupSettings.RAGAllowAdminsToChose">RAG is the option for creating special bulks of users inside a group, in order to give them fine-grained control over something.<br> If you want only a certain group of users to see a task, or to edit a board section, or view/edit/delete a file etc.</p>
          <button button class="btn btn-primary btn-sm" (click)="openRAGModal()" *ngIf="enabledRights" i18n="@@groupSettings.manageRAG">Manage RAG</button>
        </mat-slide-toggle><br>
      </div>

      <div class="mt-5 mb-5 pt-3">
        <mat-slide-toggle color="primary"
            [checked]="groupData.project_type"
            [name]="'enabled_project_type'"
            (change)="saveSettings($event)"
            [(ngModel)]="enabledProjectType">
          <h6><b i18n="@@groupSettings.enableProjectFeatures">Enable Project Features</b></h6>
          <p class="card-text" i18n="@@groupSettings.enableAdvancedProjectFunctionalities"> This will enable all advanced project related functionalities like: timeline, project planning etc.</p>
        </mat-slide-toggle><br>
      </div>

      <div class="mt-5 mb-5 pt-3">
        <mat-slide-toggle color="primary"
            [checked]="groupData.enable_allocation"
            [name]="'enable_allocation'"
            (change)="saveSettings($event)"
            [(ngModel)]="enableAllocation">
          <h6><b i18n="@@groupSettings.enableTaskAllocation">Enable Tasks Allocation</b></h6>
          <p class="card-text" i18n="@@groupSettings.enableAllocationsFeaturesOnTasks"> This will enable allocation features on the tasks and resource management.</p>
        </mat-slide-toggle><br>
      </div>

      <!-- Campaign Module -->
      <div class="mt-5 mb-5 pt-3" *ngIf="campaignModuleAvailable">
        <mat-slide-toggle color="primary"
            [checked]="groupData.enabled_campaign"
            [name]="'enabled_campaign'"
            (change)="saveSettings($event)"
            [(ngModel)]="enabledCampaign">
          <h6><b i18n="@@groupSettings.enableCampaignFeature">Enable Campaign Features?</b></h6>
          <p class="card-text" i18n="@@groupSettings.enableAllCampaign"> This will enable all the campaign related functionalities.</p>
        </mat-slide-toggle><br>
      </div>
      <!-- Campaign Module -->

      <!-- Enable Task Shuttle -->
      <div class="mt-5 mb-5 pt-3" *ngIf="shuttleTasksModuleAvailable">
        <mat-slide-toggle color="primary"
            [checked]="groupData.shuttle_type"
            [name]="'enabled_shuttle_type'"
            (change)="saveSettings($event)"
            [(ngModel)]="enabledShuttleType">
          <h6><b i18n="@@groupSettings.enableTaskShuttle">Enable Task Shuttle</b></h6>
          <p class="card-text"> <img src="assets/images/icon-task-shuttle.svg" style="width: 32px">
            <span i18n="@@groupSettings.taskShuttleAllowYourGroup">Task Shuttle allows your group to receive tasks from other groups. Select the section that will receive all Shuttle Tasks.</span>
          </p>
        </mat-slide-toggle>

        <br *ngIf="groupData?.shuttle_type" /><br *ngIf="groupData?.shuttle_type && shuttleTasksModuleAvailable && groupSections" />

        <mat-form-field appearance="fill" style="margin-left: 40px;" *ngIf="groupData?.shuttle_type && shuttleTasksModuleAvailable && groupSections">
          <mat-select
              (selectionChange)="selectShuttleSection($event.value)"
              [(value)]="groupData._shuttle_section">
            <mat-option *ngFor="let section of groupSections; let j=index" [value]="section._id">{{ section.title }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Enable Task Shuttle -->

      <!-- Switch to Agora/Normal -->
      <div class="mt-5 mb-5 pt-3" *ngIf="groupData?.group_name != 'Global'">
        <mat-slide-toggle color="primary"
            [checked]="switchAgora"
            [name]="'switch-agora'"
            (change)="saveSettings($event)"
            [(ngModel)]="switchAgora">
          <h6><b i18n="@@groupSettings.convertAgora">Convert Group To Agora</b></h6>
          <p class="card-text" i18n="@@groupSettings.switchAgoraDescription"> This will switch the group type to Agora and all members of the workplace will be able to see it.</p>
        </mat-slide-toggle><br>
      </div>
      <!-- Switch to Agora/Normal -->

      <!-- Freeze Dates Starts -->
      <div class="mt-5 mb-5 pt-3">
        <mat-slide-toggle color="primary"
            [checked]="freezeDates"
            [name]="'freeze_dates'"
            (change)="saveSettings($event)"
            [(ngModel)]="freezeDates">
          <h6><b i18n="@@groupSettings.freezeDueDate">FREEZE Date change for other members?</b></h6>
          <p class="card-text" i18n="@@groupSettings.freezeDueDateDescription"> When this is ON, only GM and task creator will be able to change the dates of a task.</p>
        </mat-slide-toggle><br>
      </div>
      <!-- Freeze Dates Ends -->

      <!-- Background-image Starts -->
      <div class="mt-5 mb-5 pt-3" style="padding-left: 44px;">
        <h6><b i18n="@@groupSettings.backgroundImage">Select an image to be used as background in the group.</b></h6>

        <div>
          <button class="btn btn-primary" (click)="openDetails(content)" i18n="@@groupSettings.selectImageº">
            Select Image
          </button>
        </div>

        <div *ngIf="groupData?.background_image">
          <app-secured-image
              [imgURL]="groupData?.background_image"
              [service]="'group'" [inlineStyle]="'width: 30px;height: 30px;'"></app-secured-image>
          <button class="btn removeImageBtn" style="width: 30px;height: 30px;margin: 0px !important;"
              (click)="removeImage()">
              <b>X</b>
          </button>
        </div>
      </div>
      <!-- Background-image Ends -->

      <!-- Background-color Starts -->
      <div class="mt-5 mb-5 pt-3" style="padding-left: 44px;">
        <h6><b i18n="@@groupSettings.backgroundColor">Select a color to be used as background in the group.</b></h6>

        <div>
          <span i18n="@@groupSettings.selectColor">Select Color</span>
          <i class="material-icons icons-color" (click)="openColorPicker()">color_lens</i>
        </div>

        <div *ngIf="groupData.background_color">
          <div [ngStyle]="{'float': 'left', 'width': '30px', 'height': '30px', 'background-color': groupData.background_color }">
          </div>
          <button class="btn removeImageBtn"
              (click)="saveBackgroundColor(null)">
              <b>X</b>
          </button>
        </div>
      </div>
      <!-- Background-color Ends -->
  </div>

</div>


<ng-template #content let-modal>
  <app-group-background-image-details [groupData]="groupData">
  </app-group-background-image-details>
</ng-template>
