.icons-color{
  cursor: pointer;
  color: #9D9FA2;
}

.icons-color:hover{
  color: #005fd5 !important;
}

.removeImageBtn{
  font-weight: 700 !important;
  font-size: 12px !important;
  align-items: center;
  background-color: #e4edf8;
  color: #ff0000;
  padding: 2px 10px;
  width: fit-content;
  margin:0 5px !important;
}

.pages {
  margin-top: 10px;
  mat-checkbox {
    margin-right: 20px;
  }
}