<div class="sidecontent">
    <div class="card sideinnercard">
        <div class="card-block">
            <h6 class="card-title" *ngIf="routerState === 'general'"><b>Workplace Info</b></h6>
            <h6 class="card-title" *ngIf="routerState === 'billing'"><b>Company Stats</b></h6>
            <hr />
            <p class="card-text" *ngIf="routerState === 'billing'">Company Name:
                {{ workspaceData?.company_name }}</p>
            <p class="card-text">Workspace Name:
                <span *ngIf="!editWorkspaceName">
                    {{ workspaceData?.workspace_name }}
                    <span (click)="editWorkspaceName = !editWorkspaceName" class="material-icons-outlined" style="cursor: pointer; font-size: 15px; margin-left: 10px; margin-bottom: 10px;">mode_edit</span>
                </span>
                <!-- Workspace Name Input starts -->
                <input *ngIf="editWorkspaceName"
                    type="text"
                    name="workspaceName"
                    placeholder="✍🏻 Workspace Name"
                    [ngModel]="workspaceData?.workspace_name"
                    (blur)="workspaceNameChange($event)"
                    (keyup.enter)="workspaceNameChange($event)" />
                <!-- Workspace Name Input ends -->
            </p>
            <p class="card-text">Owner Name:
                {{ workspaceData?.owner_first_name }} {{ workspaceData?.owner_last_name }}</p>
            <p class="card-text">Total Members:
                {{ workspaceData?.company_members_count + workspaceData?.guests_count }}</p>
            <p class="card-text">Company Members:
                {{ workspaceData?.company_members_count }}</p>
            <p class="card-text">Invited Guests:
                {{ workspaceData?.guests_count }}</p>
            <p class="card-text">Invite Access Code:
                {{ workspaceData?.access_code }}</p>
        </div>
    </div>
</div>
