<div class="container-fluid h-100 welcome">
   <div class="row h-100">

      <!-- OCTONIUS LEFT BRANDING PANEL STARTS -->
      <app-branding-panel [routerState]="'home'" class="col-md-8 overlay"></app-branding-panel>
      <!-- OCTONIUS LEFT BRANDING PANEL ENDS -->

      <!-- HOME PANEL STARTS -->
      <div class="col-md-4 shaddow">
        <div style="padding:100px 30px;">

          <div style="width: 100%; margin:0 auto; align-items: center; text-align: center; height: 30vh;">

            <h4 class="text-center">
              Log in to your account
            </h4>

            <div class="form-group">
              <label for="email">Enter your work email address</label>
              <input type="email" name="email" (focusout)="validateEmail()" class="form-control"
                [(ngModel)]="account.email" (keyup.enter)="signIn()">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password"
                [(ngModel)]="account.password" (keyup.enter)="signIn()">
            </div>

            <button type="submit" class="btn btn-primary" (click)="signIn()">Log In</button>
          </div>

          <div style="width: 100%; margin:80px auto; align-items: center; text-align: center; border-top: 1px solid #005fd521;">
            <h4 class="text-center" style="margin-top: 50px;">
              First time here? Create your account.
            </h4>
            <button type="button" class="btn btn-outline-primary"
                [routerLink]="['/authentication', 'sign-up']" routerLinkActive="router-link-active">
              SIGN UP
            </button>
          </div>
        </div>
    </div>
    <!-- HOME PANEL ENDS -->
   </div>
</div>
