<div class="container-fluid h-100 welcome">
   <div class="row h-100">

      <!-- OCTONIUS LEFT BRANDING PANEL STARTS -->
      <app-branding-panel [routerState]="'home'" class="col-md-8 overlay"></app-branding-panel>
      <!-- OCTONIUS LEFT BRANDING PANEL ENDS -->

      <!-- HOME PANEL STARTS -->
      <div class="col-md-4 shaddow">
         <div style="padding:100px 30px;">

           <div style="width: 100%; margin:0 auto; align-items: center; text-align: center; border-bottom: 1px solid #005fd521; height: 30vh;">

            <h4 class="text-center">
               Welcome back!
            </h4>
            <button type="submit" class="btn btn-primary" [routerLink]="['/authentication', 'sign-in']"
              routerLinkActive="router-link-active">
              Sign in
            </button>
           </div>

           <div style="width: 100%; margin:80px auto; align-items: center; text-align: center;">
            

            <h4 class="text-center">
               First time here? Join your organization.
            </h4>
            <div class="text-center">
               <button type="button" [disabled]="isLoadingJoinWorkspace$ | async" class="btn btn-primary"
                  [routerLink]="['/authentication', 'sign-up']" routerLinkActive="router-link-active"
                  (click)="nextLoadingJoinWorskpaceState()">
                  <ng-container *ngIf="isLoadingJoinWorkspace$ | async">
                     <app-loading-spinner-small></app-loading-spinner-small>
                  </ng-container>
                  <ng-container *ngIf="!(isLoadingJoinWorkspace$ | async)">Join a workplace</ng-container>
               </button>
               <h4 class="text-center" style="margin-top: 50px;">
                  Starting up? Add your organization.
               </h4>
               <button type="button" class="btn" [ngClass]="{'btn-primary': (isLoadingCreateWorkspace$ | async) === true,
               'btn-outline-primary': !(isLoadingCreateWorkspace$ | async)}"
                  [disabled]="isLoadingCreateWorkspace$ | async" (click)="nextLoadingCreateWorskpaceState()"
                  [routerLink]="['/authentication', 'new-workplace']" routerLinkActive="router-link-active">
                  <ng-container *ngIf="isLoadingCreateWorkspace$ | async">
                     <app-loading-spinner-small></app-loading-spinner-small>
                  </ng-container>
                  <ng-container *ngIf="!(isLoadingCreateWorkspace$ | async)">Create new workplace</ng-container>
               </button>


            </div>
            </div>
         </div>
      </div>


      <!-- HOME PANEL ENDS -->

   </div>
</div>
