<div class="smart-card" style="padding: 10px;">
  <div class="row" style="margin: 0 0 20px; justify-content: space-between;">
    <div class="card-title mt-1" i18n="@@pulseCard.pulse">
      Pulse
    </div>
    <div class="icon">
      <i class="material-icons-outlined mr-2">whatshot</i>
    </div>
  </div>

  <div class="row">
      <div class="card-first-column col-md-12">
        <div class="agoras_count"> {{ num_updates }} </div>
        &nbsp;<span i18n="@@pulseCard.updatesToday">updates today</span>
      </div>
  </div>

  <div class="row">
      <div class="card-first-column col-md-12">
        <div class="agoras_count"> {{ num_updates_period }} </div>
        <div *ngIf="period === 7">&nbsp;<span i18n="@@pulseCard.updatesLastWeek">updates last week</span></div>
        <div *ngIf="period === 30">&nbsp;<span i18n="@@pulseCard.updatesLastMonth">updates last month</span></div>
        <div *ngIf="period === 365">&nbsp;<span i18n="@@pulseCard.updatesLastYear">updates last year</span></div>
    </div>
  </div>
</div>
