<div class="smart-card" style="padding: 10px;">
  <div class="row" style="margin: 0 0 20px; justify-content: space-between;">
    <div class="card-title mt-1" i18n="@@pulseCard.pulse">
      Pulse
    </div>
    <div class="icon">
      <i class="material-icons-outlined mr-2">whatshot</i>
    </div>
  </div>

  <div class="row">
      <div class="card-first-column col-md-12" i18n="@@pulseCard.updatesToday">
        <div class="agoras_count"> {{ num_updates }} </div>
        &nbsp;updates today
      </div>
  </div>

  <div class="row">
      <div class="card-first-column col-md-12">
        <div class="agoras_count"> {{ num_updates_period }} </div>
        <div *ngIf="period === 7" i18n="@@pulseCard.updatesLastWeek">&nbsp;updates last week</div>
        <div *ngIf="period === 30" i18n="@@pulseCard.updatesLastMonth">&nbsp;updates last month</div>
        <div *ngIf="period === 365" i18n="@@pulseCard.updatesLastYear">&nbsp;updates last year</div>
    </div>
  </div>
</div>
