<span [class]="projectStatusClass" i18n="@@projectBudget.budgetTitle">
  Budget
</span>
&nbsp;
<span [class]="completitionPercentageClass">
  {{ completitionPercentage }} %
</span>
<div class="smart-card">
  <div>
    <div class="project_stats">
      <div class="muted">
        <span i18n="@@projectBudget.budget">Budget</span>:
        <span *ngIf="project?.budget?.currency == 'EUR'">{{ project?.budget?.amount_planned | currency: '€'}}</span>
        <span *ngIf="project?.budget?.currency == 'USD'">{{ project?.budget?.amount_planned | currency: '$'}}</span>
        <span *ngIf="project?.budget?.currency != 'USD' && project?.budget?.currency != 'EUR'">{{ project?.budget?.amount_planned}}</span>
      </div>
      <div class="real_cost" [class]="projectStatusClass">
        <span i18n="@@projectBudget.realCost">Real cost</span>:
        <span *ngIf="project?.budget?.currency == 'EUR'">{{ project?.budget?.real_cost | currency: '€'}}</span>
        <span *ngIf="project?.budget?.currency == 'USD'">{{ project?.budget?.real_cost | currency: '$'}}</span>
        <span *ngIf="project?.budget?.currency != 'USD' && project?.budget?.currency != 'EUR'">{{ project?.budget?.real_cost}}</span>
      </div>
    </div>
  </div>

  <div class="" *ngIf="chartReady">
    <canvas
      baseChart
      height="150"
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
      [options]="doughnutChartOptions"
      [colors]="doughnutChartColors"
      [plugins]="doughnutChartPlugins"></canvas>
  </div>
</div>
