<div class="form-container">
    <!-- row start -->
    <div class="row" style="height: 100%;width: 100%;">
        <!-- question list and add new question start -->
        <div class="col-md-4"
            [ngStyle]="{'border-right': '1px solid #E4EDF8','padding': '0px','height': questionListHeight,'overflow-y':'auto','overflow-x':'hidden'}">

            <!-- Questions list container start -->
            <div *ngFor="let question of questions; let i = index;"
                [ngClass]="i==activeQuestionIndex?'questions-container-active':'questions-container'"
                (click)="changeActiveIndex(i)" style="position: relative;">
                <!-- question icon div -->
                <div class="question-icon"></div>

                <!-- question text input and others settings start-->
                <div class="question-txt">
                    {{i+1}} -
                    <!-- question text input -->
                    <span *ngIf="flamingo?.publish">{{ question.text }}</span>

                    <input *ngIf="!flamingo?.publish" [(ngModel)]="question.text" placeholder="Please Enter question text"
                        (change)="changeQuestionText($event,i)"
                        [ngClass]="i==activeQuestionIndex?'input-search-active input-search':'input-search'"/>
                    <br/>
                    <br/>
                    <!-- question image remove start-->
                    <app-secured-image *ngIf="i==activeQuestionIndex && question?.image_url"
                        [imgURL]="question?.image_url"
                        [service]="'flamingo'" [inlineStyle]="'width: 30px;height: 30px;'"></app-secured-image>
                    <button *ngIf="i==activeQuestionIndex && question?.image_url && !flamingo?.publish" class="btn removeImageBtn" style="width: 30px;height: 30px;margin: 0px !important;"
                        (click)="removeImage(i)">
                       <b>X</b>
                     </button>
                    <!-- question image remove end-->

                    <!-- yes/no question button text input fields start-->
                    <div *ngIf="question.type==='Yes/No' && i==activeQuestionIndex">
                        <div *ngIf="flamingo?.publish">{{ question.positive_option_text }}</div>
                        <div *ngIf="flamingo?.publish">{{ question.negative_option_text }}</div>

                        <input *ngIf="!flamingo?.publish" [(ngModel)]="question.positive_option_text" placeholder="Please Enter Positive Option"
                            (change)="changeYesNoText($event,i,'yes')"
                            [ngClass]="i==activeQuestionIndex?'input-search-active input-search':'input-search'" />

                        <input *ngIf="!flamingo?.publish" [(ngModel)]="question.negative_option_text" placeholder="Please Enter Negative Option"
                            (change)="changeYesNoText($event,i,'no')"
                            [ngClass]="i==activeQuestionIndex?'input-search-active input-search':'input-search'" />
                    </div>
                    <!-- yes/no question button text input fields end-->

                    <!-- question dropdown option input fields start-->
                    <div *ngIf="question.type==='Dropdown' && i==activeQuestionIndex">
                        <div *ngFor="let currentOption of question.options; let j=index">
                            -
                              <span *ngIf="flamingo?.publish">{{ currentOption }}</span>
                              <input *ngIf="!flamingo?.publish"
                                [value]="currentOption" placeholder="Enter Option"
                                (change)="changeOptionText($event,i,j)"
                                [ngClass]="i==activeQuestionIndex?'input-search-active input-search':'input-search'" />
                        </div>

                        <div *ngIf="question.type==='Dropdown' && !flamingo?.publish">
                            - <input [(ngModel)]="newOption" (change)="changeOptionText($event,i,null)"
                                placeholder="Enter Option"
                                [ngClass]="i==activeQuestionIndex?'input-search-active input-search':'input-search'" />
                        </div>
                    </div>
                    <!-- question dropdown option input fields end -->

                    <!-- question scale scale size and scale label settings start -->
                    <div *ngIf="question.type==='Scale' && i==activeQuestionIndex" class="scale-setting">

                        <div class="form-group row">
                            <label for="Steps" class="col-sm-4 col-form-label">Steps</label>
                            <div class="col-sm-8" style="padding-right: 20px;">
                                <mat-slider [max]="11" [min]="5" [value]="question?.scale?.size || 5"
                                    (change)="setScaleSize($event,i)" [disabled]="flamingo?.publish"></mat-slider>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Steps" class="col-sm-4 col-form-label">Show Label</label>
                            <div class="col-sm-8" style="padding-right: 20px;">
                                <mat-slide-toggle [color]="'#9B9B9B'"
                                    [disabled]="flamingo?.publish"
                                    [checked]="(question?.show_scale_labels)? true: false"
                                    (change)="enabelDisableLabel($event,i)"></mat-slide-toggle>
                            </div>
                        </div>
                        <div *ngIf="question?.show_scale_labels">
                            <span *ngIf="flamingo?.publish"> - {{ question?.scale?.left_side_label || '' }}</span>
                            <input *ngIf="!flamingo?.publish" placeholder="left label" (change)="setLable($event,i,'left')"
                                [value]="question?.scale?.left_side_label || '' "
                                [ngClass]="i==activeQuestionIndex?'input-search-active input-search':'input-search'" />
                            <br />
                            <span *ngIf="flamingo?.publish"> - {{ question?.scale?.center_label || '' }}</span>
                            <input *ngIf="!flamingo?.publish" placeholder="centre label" (change)="setLable($event,i,'centre')"
                                [value]="question?.scale?.center_label || '' "
                                [ngClass]="i==activeQuestionIndex?'input-search-active input-search':'input-search'" />
                            <br />
                            <span *ngIf="flamingo?.publish"> - {{ question?.scale?.right_side_label || '' }}</span>
                            <input *ngIf="!flamingo?.publish" placeholder="right label" [value]="question?.scale?.right_side_label || '' "
                                (change)="setLable($event,i,'right') "
                                [ngClass]="i==activeQuestionIndex?'input-search-active input-search':'input-search'" />
                        </div>
                    </div>
                    <!-- question scale scale size and scale label settings end -->

                </div>
                <!-- question text input and others settings end-->

                <!-- Question delete and image upload button start -->
                <div class="settings" *ngIf="i==activeQuestionIndex && !flamingo?.publish">
                    <div class="setting-icons-div">
                        <i class="material-icons icons-color" (click)="openDetails(content)">image_outlined</i>
                    </div>
                    <div class="setting-icons-div" (click)="deleteQuestion(question._id)">
                        <i class="material-icons icons-color">delete_sweep_outlined</i>
                    </div>
                </div>
                <!-- Question delete and image upload button end -->
            </div>

            <!-- Questions list container start -->

            <!-- upload image template start -->
            <ng-template #content let-modal>
                <app-question-image-details [groupId]="groupId" [flamingoId]="flamingo._id"
                    [activeQuestion]="activeQuestion" [workspaceId]="workspaceId"
                    (uploadImageEmitter)='onUploadImageEmitter($event)'>
                </app-question-image-details>
            </ng-template>
            <!-- upload image template end -->

            <!-- Add new question dropdown start -->
            <div class="btn-menu-container" *ngIf="!flamingo?.publish">
                <button class="menu-button" mat-button [matMenuTriggerFor]="myMenu">
                    <span>
                        <i class="material-icons">add_circle</i>
                    </span>
                    <span> NEW QUESTION</span>
                </button>
                <mat-menu #myMenu="matMenu" class="question-menu">
                    <div style="position: relative;">
                        <p style="height: 45px;padding-top: 10px;padding-left: 15px;color: #9B9B9B;">Choose a question
                            type</p>
                        <div class="welcome-screen" (click)="createQuestion('Welcome')">
                            <div class="btn-icon"></div>
                            <div class="btn-txt">Welcome screen</div>
                            <div class="hovered-welcome">
                                <p style="margin-left: 10%;margin-top: 25%;">
                                    <strong>Welcome screen</strong>
                                    <br />
                                    It is a long established
                                    <br />
                                    fact that a reader will be
                                    <br />
                                    distracted by the readable
                                    <br />
                                    content of a page when
                                    <br />
                                    looking at its layout.
                                </p>
                            </div>
                        </div>
                        <div class="thank-screen" (click)="createQuestion('Thanks')">
                            <div class="btn-icon"></div>
                            <div class="btn-txt">Thank you screen</div>
                            <div class="hovered-thank">
                                <p style="margin-left: 10%;margin-top: 25%;">
                                    <strong>Thank you screen</strong>
                                    <br />
                                    It is a long established
                                    <br />
                                    fact that a reader will be
                                    <br />
                                    distracted by the readable
                                    <br />
                                    content of a page when
                                    <br />
                                    looking at its layout.
                                </p>
                            </div>
                        </div>
                        <div class="short-text" (click)="createQuestion('ShortText')">
                            <div class="btn-icon"></div>
                            <div class="btn-txt">Short text</div>
                            <div class="hovered-short">
                                <p style="margin-left: 10%;margin-top: 25%;">
                                    <strong>Short text</strong>
                                    <br />
                                    It is a long established
                                    <br />
                                    fact that a reader will be
                                    <br />
                                    distracted by the readable
                                    <br />
                                    content of a page when
                                    <br />
                                    looking at its layout.
                                </p>
                            </div>
                        </div>
                        <div class="yes-no" (click)="createQuestion('Yes/No')">
                            <div class="btn-icon"></div>
                            <div class="btn-txt">YES/NO</div>
                            <div class="hovered-yes-no">
                                <p style="margin-left: 10%;margin-top: 25%;">
                                    <strong>YES/NO</strong>
                                    <br />
                                    It is a long established
                                    <br />
                                    fact that a reader will be
                                    <br />
                                    distracted by the readable
                                    <br />
                                    content of a page when
                                    <br />
                                    looking at its layout.
                                </p>
                            </div>
                        </div>
                        <div class="scale" (click)="createQuestion('Scale')">
                            <div class="btn-icon"></div>
                            <div class="btn-txt">Scale</div>
                            <div class="hovered-scale">
                                <p style="margin-left: 10%;margin-top: 25%;">
                                    <strong>Scale</strong>
                                    <br />
                                    It is a long established
                                    <br />
                                    fact that a reader will be
                                    <br />
                                    distracted by the readable
                                    <br />
                                    content of a page when
                                    <br />
                                    looking at its layout.
                                </p>
                            </div>
                        </div>
                        <div class="dropdown-question" (click)="createQuestion('Dropdown')">
                            <div class="btn-icon"></div>
                            <div class="btn-txt">Dropdown</div>
                            <div class="hovered-dropdown">
                                <p style="margin-left: 10%;margin-top: 25%;">
                                    <strong>Dropdown</strong>
                                    <br />
                                    It is a long established
                                    <br />
                                    fact that a reader will be
                                    <br />
                                    distracted by the readable
                                    <br />
                                    content of a page when
                                    <br />
                                    looking at its layout.
                                </p>
                            </div>
                        </div>
                    </div>
                </mat-menu>
            </div>
            <!-- Add new question dropdown end -->
        </div>
        <!---- question list and add new question end -->

        <!-- questions preview side  start-->
        <div class="col-md-8">

            <!-- welcome and thanks question type preview div start-->
            <div *ngIf="activeQuestion?.type==='Welcome' || activeQuestion?.type==='Thanks'" class="preview-container">

                <app-secured-image *ngIf="activeQuestion?.image_url"
                  [imgURL]="activeQuestion?.image_url"
                  [service]="'flamingo'" [styleClass]="'welcome-img'"></app-secured-image>

                <h2>{{activeQuestion?.text}}</h2>

                <button *ngIf="activeQuestion?.type==='Thanks'"
                    class="btn btn-success">Submit</button>
                <button *ngIf="activeQuestion?.type==='Welcome'"
                    class="btn btn-primary">Start</button>
            </div>
            <!-- welcome and thanks question type preview div end-->

            <!-- all other questions except welcome and thanks div start -->
            <!-- Background image div -->
            <div *ngIf="activeQuestion?.type !=='Welcome' && activeQuestion?.type!=='Thanks'"
                style="background-image: url({{FLAMINGO_UPLOADS}}/{{activeQuestion?.image_url}}?noAuth=true);"
                class="image-wrapper-container">

                <div *ngIf="activeQuestion?.type !=='Welcome' && activeQuestion?.type!=='Thanks'"
                    class="question-preview-container">

                    <!-- question text -->
                    <h2 style="margin-bottom: 50px;">{{activeQuestion?.text}}</h2>
                    <!-- short question input field -->
                    <input *ngIf="activeQuestion?.type==='ShortText'" placeholder="Type your answer here..."
                        class="input-answer" />
                    <!-- yes/no question button -->
                    <div *ngIf="activeQuestion?.type==='Yes/No'">
                        <button class="btn btn-success">{{activeQuestion?.positive_option_text || 'Positive'}}</button>
                        <br />
                        <br />
                        <button class="btn btn-danger">{{activeQuestion?.negative_option_text || 'Negative'}}</button>
                    </div>

                    <!-- question scale scale buttons and labels -->
                    <div *ngIf="activeQuestion?.type==='Scale'">
                        <button *ngIf="activeQuestion?.scale?.size > 0" class="scale-button" ng>0</button>
                        <button *ngIf="activeQuestion?.scale?.size > 1" class="scale-button">1</button>
                        <button *ngIf="activeQuestion?.scale?.size > 2" class="scale-button">2</button>
                        <button *ngIf="activeQuestion?.scale?.size > 3" class="scale-button">3</button>
                        <button *ngIf="activeQuestion?.scale?.size > 4" class="scale-button">4</button>
                        <button *ngIf="activeQuestion?.scale?.size > 5" class="scale-button">5</button>
                        <button *ngIf="activeQuestion?.scale?.size > 6" class="scale-button">6</button>
                        <button *ngIf="activeQuestion?.scale?.size > 7" class="scale-button">7</button>
                        <button *ngIf="activeQuestion?.scale?.size > 8" class="scale-button">8</button>
                        <button *ngIf="activeQuestion?.scale?.size > 9" class="scale-button">9</button>
                        <button *ngIf="activeQuestion?.scale?.size > 10" class="scale-button">10</button>

                        <div *ngIf="activeQuestion.show_scale_labels"
                            [ngStyle]="{'position':'relative','width': (activeQuestion.scale.size * 63)+'px'}">
                            <p style="left: 0px;position: absolute;">{{activeQuestion?.scale?.left_side_label}}</p>
                            <p style="left: 46%;position: absolute;">{{activeQuestion?.scale?.center_label}}</p>
                            <p style="right: 0px;position: absolute;">{{activeQuestion?.scale?.right_side_label}}</p>
                        </div>
                    </div>

                    <!-- question dropdown dropdown -->
                    <button *ngIf="activeQuestion?.type === 'Dropdown'"
                        class="btn btn-primary mb-3 mt-3 dropdown-toggle" type="button" data-toggle="dropdown">
                        Please Select an Option
                    </button>
                    <ul *ngIf="activeQuestion?.type === 'Dropdown'" class="dropdown-menu">
                        <li *ngFor="let currentOption of activeQuestion?.options; let j=index" class="dropdown-item">
                            {{currentOption}}
                        </li>
                    </ul>
                </div>
            </div>
            <!-- all other questions except welcome and thanks div start -->

        </div>
         <!-- question preview side end -->
    </div>
    <!-- row end -->
</div>
