<div class="form-container">
    <div class="row" style="height: 100%;width: 100%;">
        <div class="col-md-4" style="border-right: 1px solid #E4EDF8;padding: 0px;">
            <div *ngFor="let question of questions; let i = index;" 
            [ngClass]="i==activeQuestionIndex?'questions-container-active':'questions-container'"
            (click)="changeActiveIndex(i)"
            style="position: relative;"
            >
                <div class="question-icon"></div>
                <div class="question-txt">
                    {{i+1}} - 
                    <input [(ngModel)]="question.text"
                    placeholder="Please Enter question text" 
                    [ngClass]="i==activeQuestionIndex?'input-search-active input-search':'input-search'" />
                    <!-- ...... -->
                    <div *ngFor="let currentOption of question.options; let j=index">
                       - <input [(ngModel)]="updatedOption"
                        value="currentOption"
                        placeholder="Enter Option" 
                        [ngClass]="i==activeQuestionIndex?'input-search-active input-search':'input-search'" />
                    </div>
                    <!-- /....... -->
                    <div *ngIf="question.type==='Dropdown'">
                        - <input [(ngModel)]="newOption" (change)="changeOptionText($event,i,null)" 
                        placeholder="Enter Option" 
                        [ngClass]="i==activeQuestionIndex?'input-search-active input-search':'input-search'" />
                    </div>
                   
                </div>
                <div class="settings" *ngIf="i==activeQuestionIndex" >
                    <div class="setting-icons-div">
                        <i class="material-icons icons-color" >image_outlined</i>
                    </div>
                    <div class="setting-icons-div">
                        <i class="material-icons icons-color" >delete_sweep_outlined</i>
                    </div>
                </div>
            </div>
            <div class="btn-menu-container">
                <button class="menu-button" mat-button [matMenuTriggerFor]="menu">
                    <span>
                        <i class="material-icons">add_circle</i>
                    </span>
                    <span> NEW QUESTION</span>
                </button>
                <mat-menu #menu="matMenu" class="question-menu">
                    <div>
                        <p style="height: 45px;padding-top: 10px;padding-left: 15px;color: #9B9B9B;">Choose a question
                            type</p>
                        <div class="welcome-screen">
                            <div class="btn-icon"></div>
                            <div class="btn-txt">Welcome screen</div>
                            <div class="hovered-welcome">
                                <p style="margin-left: 10%;margin-top: 25%;">
                                    <strong>Welcome screen</strong>
                                    <br />
                                    It is a long established
                                    <br />
                                    fact that a reader will be
                                    <br />
                                    distracted by the readable
                                    <br />
                                    content of a page when
                                    <br />
                                    looking at its layout.
                                </p>
                            </div>
                        </div>
                        <div class="thank-screen">
                            <div class="btn-icon"></div>
                            <div class="btn-txt">Thank you screen</div>
                            <div class="hovered-thank">
                                <p style="margin-left: 10%;margin-top: 25%;">
                                    <strong>Thank you screen</strong>
                                    <br />
                                    It is a long established
                                    <br />
                                    fact that a reader will be
                                    <br />
                                    distracted by the readable
                                    <br />
                                    content of a page when
                                    <br />
                                    looking at its layout.
                                </p>
                            </div>
                        </div>
                        <div class="short-text">
                            <div class="btn-icon"></div>
                            <div class="btn-txt">Short text</div>
                            <div class="hovered-short">
                                <p style="margin-left: 10%;margin-top: 25%;">
                                    <strong>Short text</strong>
                                    <br />
                                    It is a long established
                                    <br />
                                    fact that a reader will be
                                    <br />
                                    distracted by the readable
                                    <br />
                                    content of a page when
                                    <br />
                                    looking at its layout.
                                </p>
                            </div>
                        </div>
                        <div class="yes-no">
                            <div class="btn-icon"></div>
                            <div class="btn-txt">YES/NO</div>
                            <div class="hovered-yes-no">
                                <p style="margin-left: 10%;margin-top: 25%;">
                                    <strong>YES/NO</strong>
                                    <br />
                                    It is a long established
                                    <br />
                                    fact that a reader will be
                                    <br />
                                    distracted by the readable
                                    <br />
                                    content of a page when
                                    <br />
                                    looking at its layout.
                                </p>
                            </div>
                        </div>
                        <div class="scale">
                            <div class="btn-icon"></div>
                            <div class="btn-txt">Scale</div>
                            <div class="hovered-scale">
                                <p style="margin-left: 10%;margin-top: 25%;">
                                    <strong>Scale</strong>
                                    <br />
                                    It is a long established
                                    <br />
                                    fact that a reader will be
                                    <br />
                                    distracted by the readable
                                    <br />
                                    content of a page when
                                    <br />
                                    looking at its layout.
                                </p>
                            </div>
                        </div>
                        <div class="dropdown-question">
                            <div class="btn-icon"></div>
                            <div class="btn-txt">Dropdown</div>
                            <div class="hovered-dropdown">
                                <p style="margin-left: 10%;margin-top: 25%;">
                                    <strong>Dropdown</strong>
                                    <br />
                                    It is a long established
                                    <br />
                                    fact that a reader will be
                                    <br />
                                    distracted by the readable
                                    <br />
                                    content of a page when
                                    <br />
                                    looking at its layout.
                                </p>
                            </div>
                        </div>
                    </div>
                </mat-menu>
            </div>
        </div>
        <div class="col-md-8">
            <div class="question-preview-container">
                <h2 style="margin-bottom: 50px;">{{activeQuestion.text}}</h2>
                <input *ngIf="activeQuestion.type==='ShortText'" placeholder="Type your answer here..." class="input-answer" />
                <div *ngIf="activeQuestion.type==='Yes/No'">
                    <button>Yes</button>
                    <br/>
                    <br/>
                    <button>No</button>
                </div>
                <div *ngIf="activeQuestion.type==='Scale'">
                    <button *ngIf="activeQuestion.scale.size > 0" class="scale-button" ng>0</button>
                    <button *ngIf="activeQuestion.scale.size > 1" class="scale-button">1</button>
                    <button *ngIf="activeQuestion.scale.size > 2" class="scale-button">2</button>
                    <button *ngIf="activeQuestion.scale.size > 3" class="scale-button">3</button>
                    <button *ngIf="activeQuestion.scale.size > 4" class="scale-button">4</button>
                    <button *ngIf="activeQuestion.scale.size > 5" class="scale-button">5</button>
                    <button *ngIf="activeQuestion.scale.size > 6" class="scale-button">6</button>
                    <button *ngIf="activeQuestion.scale.size > 7" class="scale-button" >7</button>
                    <button *ngIf="activeQuestion.scale.size > 8" class="scale-button">8</button>
                    <button *ngIf="activeQuestion.scale.size > 9" class="scale-button">9</button>
                    <button *ngIf="activeQuestion.scale.size > 10" class="scale-button">10</button>  
                </div>
            </div>
        </div>
    </div>
</div>