<span *ngIf="userData && storyData">
  <button appDebounceClick class="btn btn-link">
    <i *ngIf="!followedByUser" class="material-icons-outlined muted" matTooltipPosition="above"
      matTooltip="Follow Story" (click)="followStory()">star_outline</i>
    <i *ngIf="followedByUser" class="material-icons text-warning" matTooltipPosition="above"
      matTooltip="Unfollow Story" (click)="unfollowStory()">star</i>
  </button>
 <span class="metrics"> {{ storyData?._followers?.length || 0 }}</span>
</span>
