<nav class="navbar navbar-expand-md fixed-top">
  <div class="container">

    <a class="navbar-brand" routerLink="/dashboard/overview">
      <i class="icon-octo-logo"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav mr-auto" id="example-one">
        <li class="nav-item" id="li_overview">
          <a class="nav-link" routerLink="/dashboard/overview" (click)="underline_navbar_overview()" routerLinkActive="active"><i class="material-icons">whatshot</i> <br> Overview
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" id="li_group">
          <a class="nav-link" routerLink="/dashboard/groups" (click)="underline_navbar_group()" routerLinkActive="active"><i class="material-icons">group</i><br>  Groups
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li *ngIf="user?.role=='admin' || user?.role=='owner'" id="li_admin" class="nav-item">
          <a class="nav-link" routerLink="/dashboard/admin/general" (click)="underline_navbar_admin()" routerLinkActive="active"><i class="material-icons">settings</i> <br> Admin
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>


        <!-- <i class="fa form-control-feedback fa-microphone" aria-hidden="true"></i> -->


      <div class="wrap">
        <div ngbDropdown #myDrop="ngbDropdown" class="search">
          <input id="dropdownManual" ngbDropdownAnchor type="text" class="searchTerm" [(ngModel)]="search_value" (click)="myDrop.open(); loadRecentSearches()" (keyup)="search()" (keydown.enter)="displayAllSearchResults(); myDrop.close()" placeholder="Search...">
          <button [disabled]="search_value === ''" (click)="displayAllSearchResults();" type="submit" class="searchButton">
            <i class="material-icons">search</i>
          </button>
          <div class="search-dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownManual">
            <div class="search-dropdown-menu-container">
              <h4 class="search-title">Search for: </h4>
              <div class="person-search search-option">
                <i class="material-icons">people</i>
                <h4 class="search-option__title">Users</h4>
                <div class="squaredFour">
                  <input (click)="$event.stopPropagation(); myDrop.open(); toggleCheckbox('users')" [checked]="checked_filter === 'users'" type="checkbox" value="None" id="squaredFour" name="check" />
                  <label (click)="$event.stopPropagation(); myDrop.open()" for="squaredFour"></label>
                </div>
              </div>
              <div class="content-search search-option">
                <i class="material-icons">assignment</i>
                <h4 class="search-option__title">Posts</h4>
                <div class="squaredFour">
                  <input (click)="$event.stopPropagation(); myDrop.open(); toggleCheckbox('posts')" [checked]="checked_filter === 'posts'" type="checkbox" value="None" id="squaredFour2" name="check" />
                  <label (click)="$event.stopPropagation(); myDrop.open();" for="squaredFour2"></label>
                </div>
              </div>
              <div class="skills-search search-option">
                <i class="material-icons">build</i>
                <h4 class="search-option__title">Skills</h4>
                <div class="squaredFour">
                  <input (click)="$event.stopPropagation(); myDrop.open(); toggleCheckbox('skills')" [checked]="checked_filter === 'skills'" type="checkbox" value="None" id="squaredFour3" name="check" />
                  <label (click)="$event.stopPropagation(); myDrop.open()" for="squaredFour3"></label>
                </div>
              </div>

              <hr>

              <div *ngIf="search_value !== ''; else recentSearches" class="search-results">
                <div *ngIf="search_results_users.length > 0" class="search-results__users">
                  <h4 class="search-results__title">Matched users:</h4>
                  <ul class="search-results__list">
                      <user-search-result
                        *ngFor="let user of search_results_users"
                        [user]="user"
                        (saveSearch)="saveSearch($event)"
                      ></user-search-result>
                  </ul>
                </div>
                <div *ngIf="search_results_posts.length > 0" class="search-results__users">
                  <h4 class="search-results__title">Matched content:</h4>
                  <ul class="search-results__list">
                    <!-- /dashboard/group/5c6f56ec53a7802ab09895b4/post/5c6f582053a7802ab09895c5 -->
                   <content-search-result
                     *ngFor="let post of search_results_posts"
                     [post]="post"
                     (saveSearch)="saveSearch($event)"
                   ></content-search-result>
                  </ul>
                </div>
                <div *ngIf="search_results_skills.length > 0" class="search-results__skills">
                  <h4 class="search-results__title">Matched users with skills:</h4>
                  <ul class="search-results__list">
                    <user-search-result
                      *ngFor="let user of search_results_skills"
                      [user]="user"
                      (saveSearch)="saveSearch($event)"
                      (deleteSearchResult)="deleteSearchResult($event)"
                    ></user-search-result>
                  </ul>
                </div>
                <div (click)="displayAllSearchResults()" class="all-results">
                  <h4 class="all-results-text"> Display all results for "{{ search_value }}"</h4>
                </div>

              </div>
              <ng-template #recentSearches>
              <div class="recent-searches">
                <h4 *ngIf="recent_searches.length > 0;" class="recent-searches__title">Recent:</h4>
                <ng-container *ngFor="let search of recent_searches">
                  <user-search-result
                    *ngIf="search.type === 'user'"
                    [user]="search.user"
                    [deleteable]="true"
                    (saveSearch)="saveSearch($event)"
                    (deleteSearchResult)="deleteSearchResult($event)"
                  ></user-search-result>
                  <content-search-result
                    *ngIf="search.type === 'content'"
                    [post]="search.content"
                    [deleteable]="true"
                    (saveSearch)="saveSearch($event)"
                    (deleteSearchResult)="deleteSearchResult($event)"
                  ></content-search-result>
                </ng-container>
              </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
  <div class="btn-group nav-item" placement="bottom-left"  ngbDropdown  #notificationDrop="ngbDropdown" (openChange)="toggled($event)">
    <a class="notifications btn dropdown-toggle-split" ngbDropdownToggle>
      <div class="notif-bullet" *ngIf="this.notifications_data?.unreadNotifications.length > 0"></div>
      <div class="notif-bullet notif-bullet-transparent" *ngIf="this.notifications_data?.unreadNotifications.length == 0"></div>
      <i class="material-icons">notifications</i>
    </a>
           <!-- <button class="btn btn-primary dropdown-toggle-split btn-sm" ngbDropdownToggle>Manage user </button>-->

            <div class="dropdown-menu dropdown-menu-right pull-right"  ngbDropdownMenu aria-labelledby="notificationDrop">
                <div class="triangle"></div>
                <button class="dropdown-item" style="pointer-events: none;"><b>Notifications</b></button>
                <div class="dropdown-divider"></div>
                <div *ngIf="this.notifications_data?.unreadNotifications?.length != 0">
                <button class="dropdown-item" *ngFor="let notifications of this.notifications_data?.unreadNotifications">
                    <a style="text-decoration:none; color:inherit;"  (click)="gotToPostPage(notifications?._origin_post?._group, notifications?._origin_post?._id)">
                      <img src="/uploads/{{notifications?._actor?.profile_pic}}" onerror="this.src='/assets/images/user.png'" alt="" class="topnav-avatar" style="margin-right:15px">
                  {{notifications?._actor?.first_name}} {{notifications?.message}}
                    </a>
                    <br />
                    <span class="muted text-small float-right">{{notifications?.created_date | timeAgo}}</span>
                </button>
                </div>
                <div *ngIf="this.notifications_data?.unreadNotifications?.length == 0">
                  <button class="dropdown-item">All up to date</button>
                </div>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" style="pointer-events: none;"><b>Older notifications</b></button>
                <div class="dropdown-divider"></div>
                <div *ngIf="this.notifications_data?.readNotifications?.length != 0">
                  <button class="dropdown-item" *ngFor="let notifications of this.notifications_data?.readNotifications">
                    <a style="text-decoration:none; color:inherit;" (click)="gotToPostPage(notifications?._origin_post?._group, notifications?._origin_post?._id)">
                      <img src="/uploads/{{notifications?._actor?.profile_pic}}" onerror="this.src='/assets/images/user.png'" alt="" class="topnav-avatar" routerLink="/dashboard/profile/profile" style="margin-right:15px">
                  {{notifications?._actor?.first_name}} {{notifications?.message}}
                    </a>
                    <br />
                    <span class="muted text-small float-right">{{notifications?.created_date | timeAgo}}</span>
                  </button>
                  </div>
                  <div *ngIf="this.notifications_data?.readNotifications?.length == 0">
                    <button class="dropdown-item">Nothing new as of now.</button>
                  </div>
                <!---->
                <!---->


                      <div class="dropdown-divider"></div>
                      <a routerLink="/dashboard/overview" class="dropdown-item">View all notifications</a>
                    <!--</div>-->
                </div>


            </div>
            <a class="nav-link"  [routerLink]="['/dashboard/profile', user_data.user_id, 'profile']">
                <img [src]="userProfileImage" onerror="this.src='/assets/images/user.png'"  class="topnav-avatar">
            </a>




      <a class="nav-link" routerLink="/dashboard/admin" (click)="onSignOut()">Logout
        <span class="sr-only">(current)</span>
      </a>
    </div>
  </div>
  <ngb-alert *ngIf="alert.message" [type]="alert.class" (close)="closeAlert()">{{alert.message}}</ngb-alert>

</nav>

