@import "../../../../assets/scss/variables.scss";
.navbar {
  min-height: 80px;
  flex-direction: row !important;
  background-color: #fff;
  box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.1);
}

.nav-link {
  font-family: $poppins;
  font-weight: 500;
  font-size: 14px;
  color:#787878;
  text-align: center;
  &:hover {
    text-decoration: none;
    background: #ffffff;
    color: $brand-primary !important;
    border-radius: 6px;
  }
}

.active {
  text-decoration: none;
}
a:active{
  text-decoration: none;
}

.form-inline {
  span {
    position: absolute;
    margin-right: 5px;
    height: 25px;
    display: flex;
    align-items: center;
  }
  .form-control{
    margin-right: 10px;
  }
}

.navbar-brand .icon-octo-logo {
  color:$brand-primary;
}

.triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #787878;
	top: -8px;
	left: 6%;
	margin-left: -8px;
}

.notif-bullet-transparent {

  color: transparent;
  background: transparent;

}

.notification-back {
  background: #005fd5;
  color: inherit;
}

a.notifications.btn.dropdown-toggle-split.dropdown-toggle::after
{
  color: transparent;
}
.text-small{
  font-size: 10px;
}