<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container">

    <a class="navbar-brand" routerLink="/dashboard/overview">
      <i class="icon-octo-logo"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav mr-auto" id="example-one">
        <li class="nav-item" id="li_overview">
          <a class="nav-link" routerLink="/dashboard/overview" (click)="underline_navbar_overview()"><i class="material-icons">whatshot</i> <br> Overview
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" id="li_group">
          <a class="nav-link" routerLink="/dashboard/groups" (click)="underline_navbar_group()"><i class="material-icons">group</i><br>  Groups
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li *ngIf="user?.role=='admin' || user?.role=='owner'" id="li_admin" class="nav-item">
          <a class="nav-link" routerLink="/dashboard/admin/general" (click)="underline_navbar_admin()"><i class="material-icons">settings</i> <br> Admin
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <!-- <li class="nav-item ">
          <a class="nav-link" routerLink="/login">Files <span class="sr-only">(current)</span></a>
        </li> -->
      </ul>
      
      
        <!-- <i class="fa form-control-feedback fa-microphone" aria-hidden="true"></i> -->
       
    

  <div class="btn-group nav-item" placement="bottom-left"  ngbDropdown  #notificationDrop="ngbDropdown" (openChange)="toggled($event)">
    <a class="notifications btn dropdown-toggle-split" ngbDropdownToggle>             
      <div class="notif-bullet" *ngIf="this.notifications_data?.unreadNotifications.length > 0"></div>
      <div class="notif-bullet notif-bullet-transparent" *ngIf="this.notifications_data?.unreadNotifications.length == 0"></div>
      <i class="material-icons">notifications</i> 
    </a> 
           <!-- <button class="btn btn-primary dropdown-toggle-split btn-sm" ngbDropdownToggle>Manage user </button>-->
       
            <div class="dropdown-menu dropdown-menu-right pull-right"  ngbDropdownMenu aria-labelledby="notificationDrop">
                <div class="triangle"></div>
                <button class="dropdown-item" style="pointer-events: none;"><b>Unseen Notifications</b></button>
                <div class="dropdown-divider"></div>
                <div *ngIf="this.notifications_data?.unreadNotifications.length != 0">
                <button class="dropdown-item" *ngFor="let notifications of notifications_data?.unreadNotifications"> 
                    <a style="text-decoration:none; color:inherit;" target="_blank" href="/#/dashboard/group/{{notifications._origin_post._group}}/post/{{notifications._origin_post._id}}">
                      <img src="/uploads/{{notifications._actor.profile_pic}}" onerror="this.src='/assets/images/user.png'" alt="" class="topnav-avatar" style="margin-right:15px">
                  {{notifications._actor.first_name}} {{notifications.message}}
                    </a>
                </button>
                </div>
                <div *ngIf="this.notifications_data?.unreadNotifications.length == 0">
                  <button class="dropdown-item">Nothing new as of now.</button>
                </div>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" style="pointer-events: none;"><b>Seen Notifications</b></button>
                <div class="dropdown-divider"></div>
                <div *ngIf="this.notifications_data?.readNotifications.length != 0">
                  <button class="dropdown-item" *ngFor="let notifications of notifications_data?.readNotifications"> 
                    <a style="text-decoration:none; color:inherit;" target="_blank" href="/#/dashboard/group/{{notifications._origin_post._group}}/post/{{notifications._origin_post._id}}">
                      <img src="/uploads/{{notifications._actor.profile_pic}}" onerror="this.src='/assets/images/user.png'" alt="" class="topnav-avatar" routerLink="/dashboard/profile/profile" style="margin-right:15px">
                  {{notifications._actor.first_name}} {{notifications.message}}
                    </a>
                    
                  </button>
                  </div>
                  <div *ngIf="this.notifications_data?.readNotifications.length == 0">
                    <button class="dropdown-item">Nothing new as of now.</button>
                  </div>
                <!---->
                <!---->

        
                      <div class="dropdown-divider"></div>
                      <a routerLink="/dashboard/overview" class="dropdown-item">View all notifications</a>
                    <!--</div>-->
                </div>


            </div>
            <a class="nav-link"  routerLink="/dashboard/profile/profile">
                <img [src]="userProfileImage" onerror="this.src='/assets/images/user.png'" alt="" class="topnav-avatar" style="margin-right:15px">
            </a>
       
        
     

      <a class="nav-link" routerLink="/dashboard/admin" (click)="onSignOut()">Logout
        <span class="sr-only">(current)</span>
      </a>
    </div>
  </div>
  <ngb-alert *ngIf="alert.message" [type]="alert.class" (close)="closeAlert()">{{alert.message}}</ngb-alert>

</nav>
