@import "../../../../assets/scss/variables.scss";

// resets
h4 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.navbar {
  min-height: 80px;
  flex-direction: row !important;
  background-color: #fff;
  box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.1);
}

.nav-link {
  font-family: $poppins;
  font-weight: 500;
  font-size: 14px;
  color:#787878;
  text-align: center;
  &:hover {
    text-decoration: none;
    background: #ffffff;
    color: $brand-primary !important;
    border-radius: 6px;
  }
}

.active {
  text-decoration: none;
}
a:active{
  text-decoration: none;
}

.form-inline {
  span {
    position: absolute;
    margin-right: 5px;
    height: 25px;
    display: flex;
    align-items: center;
  }
  .form-control{
    margin-right: 10px;
  }
}

.navbar-brand .icon-octo-logo {
  color:$brand-primary;
}

.triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #787878;
	top: -8px;
	left: 6%;
	margin-left: -8px;
}

.notif-bullet-transparent {

  color: transparent;
  background: transparent;

}

.notification-back {
  background: #005fd5;
  color: inherit;
}

a.notifications.btn.dropdown-toggle-split.dropdown-toggle::after
{
  color: transparent;
}
.text-small{
  font-size: 10px;
}

.search {
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: 3%;
}

.searchTerm {
  float: left;
  width: 80%;
  border: 2px solid #787878;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 20%;
  height: 35px;
  border: 1px solid #787878;
  background: #787878;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 45%;
  display: flex;
  align-items: center;
}

.search-dropdown-menu {
min-width: 600px;
  .search-dropdown-menu-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: [first] repeat(3, 1fr) [end];

    .search-title {
      margin-bottom: 10px;
    }

    .search-option {
      margin-bottom: 5px;
      grid-column: first / end;
      display: grid;
      grid-template-columns: min-content min-content 1fr;
      grid-column-gap: .7rem;
      align-items: center;

      i {
        color: #005FD5;
      }

      &__title {
        margin-bottom: 0;
      }
      .squaredFour {
        justify-self: end;
        width: 20px;
        position: relative;
        label {
          width: 20px;
          height: 20px;
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          background: #fcfff4;
          background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
          border-radius: 4px;
          box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
          &:after {
            content: '';
            width: 9px;
            height: 5px;
            position: absolute;
            top: 4px;
            left: 4px;
            border: 3px solid #333;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
          }
          &:hover::after {
            opacity: 0.5;
          }
        }
        input[type=checkbox] {
          visibility: hidden;
          &:checked + label:after {
            opacity: 1;
          }
        }
      }
    }

    hr {
      border-top: 1px solid #aaa;
      width: 66%;
      grid-column: 1 /4;
    }

    .search-results {
      grid-column: 1 / 4;
      &__title {
text-decoration: underline;
      }

      &__list {
        padding-left: 0;
        .search-result {
          padding: 5px;
          display: grid;
          grid-template-columns: min-content 1fr;
          align-items: center;
          border-radius: 5px;
          transition: .2s background-color;

          &:hover {
            background-color: #ddd;
          }
          &__img {
            height: 30px;
            width: 30px;
          }
          &__text {
            grid-column: 2/4;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

