@import "../../../../assets/scss/variables.scss";
.navbar {
  min-height: 80px;
  flex-direction: row !important;
  background-color: $brand-primary;
  box-shadow: $card-shadow;
}

.nav-link {
  font-family: $poppins;
  // font-weight: 600;
  font-size: 14px;
  color: #ffffff !important;
  text-align: center;
  &:hover {
    text-decoration: none;
    background: #ffffff;
    color: $brand-primary !important;
    border-radius: 6px;
  }
}

.active {
  text-decoration: none;
}
a:active{
  text-decoration: none;
}

.form-inline {
  span {
    position: absolute;
    margin-right: 5px;
    height: 25px;
    display: flex;
    align-items: center;
  }
  .form-control{
    margin-right: 10px;
  }
}

.navbar-brand .icon-octo-logo {
  color: #ffffff;
}

.triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	top: -8px;
	left: 5%;
	margin-left: -8px;
}