<!-- CARD FOOTER starts -->

<div class="card-footer action-post" *ngIf="post">
    <div class="row ">
        <div class="col-md-6">
            <span class="stats" customToolTip [contentArray]="likedByUsers"><b>{{post?._liked_by.length || 0 }}</b> Likes </span>
            <span class="stats" *ngIf="!fullscreen" (click)="displayComments(!showComments)"><b>{{ post?.comments_count || 0 }}</b> Comments</span>
            <span class="stats" customToolTip [contentArray]="followedByUsers"><b>{{post?._followers?.length || 0 }}</b> Followers</span>
        </div>
        <div class="col-md-6 text-right">

            <app-idea-actions *ngIf="isIdeaModuleAvailable && post?.task?.is_idea"
              [post]="post"
              [userData]="userData"></app-idea-actions>

            <app-comment-on-post (showCommentEditor)="showCommentEditor($event)"></app-comment-on-post>

            <!-- Like Post starts-->
            <app-like-post *ngIf="post && userData"
                [post]="post"
                [userData]="userData"
                (postLiked)="onPostLikedEmitter($event)"
                (postUnLiked)="onPostUnLikedEmitter($event)"></app-like-post>
            <!-- Like Post ends-->

            <!-- Follow Post starts -->
            <app-follow-post *ngIf="post"
                [post]="post"
                [userData]="userData"
                (postLiked)="onPostFollowEmitter($event)"
                (postUnLiked)="onPostUnFollowEmitter($event)"></app-follow-post>
            <!-- Follow Post ends -->

            <app-post-utils *ngIf="!fullscreen"
                [post]="post"
                [userData]="userData"
                [groupData]="groupData"
                (delete)="deletePost($event)"
                (pinEvent)="onPostPin($event)"
                (closeModalEvent)="postModalCloseEvent($event)">
            </app-post-utils>
        </div>
    </div>

</div>

<comment-section *ngIf="showCommentQuillEditor && userData && post" [userData]="userData" [editorId]="post._id" [postId]="post?._id"
    [groupId]="post._group || post._group._id" (comment)="newCommentReceived($event)" (close)="hideCommentEditor($event)">
</comment-section>


<section *ngIf="showComments && post && userData && !fullscreen">
  <!-- COMMENTS -->
  <app-comment-list
    [postId]="post?._id"
    [userData]="userData"
    [groupId]="post?._group?._id || post?._group"
    [length]="post?.comments_count"
    [newComment]="newComment"
    (removeCommentEvent)="onCommentRemoved($event)"></app-comment-list>
</section>

<!-- END CARD FOOTER and footer component-->
