  <ul class="nav mr-auto" id="example-one">
    <li class="nav-item" id="li_overview">
      <button class="nav-link btn btn-link" routerLink="/dashboard/overview/inbox" routerLinkActive="active" (click)="underline_navbar_overview()">
        <div class="svg-images">
          <img src="/assets/images/icon_my_space.svg" alt="">
          <img class="img-hover" src="/assets/images/icon_my_space_active.svg" alt="">
        </div>
        <br> My Space
        <span class="sr-only">(current)</span>
      </button>
    </li>
    <li class="nav-item" id="li_group">
      <button class="nav-link btn btn-link" routerLinkActive="active" routerLink="/dashboard/groups" (click)="underline_navbar_group()">
        <div class="svg-images">
          <img src="/assets/images/icon_work.svg" alt="">
          <img class="img-hover" src="/assets/images/icon_work_active.svg" alt="">
        </div>
        <br> Work
        <span class="sr-only">(current)</span>
      </button>
    </li>
    <li *ngIf="user?.role=='admin' || user?.role=='owner'" id="li_admin" class="nav-item">
      <button class="nav-link btn btn-link"  routerLinkActive="active" routerLink="/dashboard/admin/general" (click)="underline_navbar_admin()">
        <div class="svg-images">
          <img src="/assets/images/icon_admin.svg" alt="">
          <img class="img-hover" src="/assets/images/icon_admin_active.svg" alt="">
        </div>
        <br> Admin
        <span class="sr-only">(current)</span>
      </button>
    </li>
  </ul>
