// resets
h4 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}


.search {
  position: relative;
  margin-left: auto;
  margin-right: 3%;
}

.searchTerm {
  float: left;
  width: 80%;
  border: 2px solid #787878;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #787878;
  transition: .3s all;

  &:focus {
    border: 2px solid #005FD5;
  }

  &:focus ~ .searchButton {
    background: #005FD5;
    border: 1px solid #005FD5;
  }
}

.searchButton {
  width: 20%;
  height: 35px;
  border: 1px solid #787878;
  background: #787878;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*Resize the wrap to see the search bar change!*/
.wrap{
  display: flex;
  align-items: center;
}

.search-dropdown-menu {
  min-width: 200%;
  max-width: 400%;
  padding: 0 !important;
  .search-dropdown-menu-container {
    display: grid;
    grid-template-columns: [first] repeat(3, 1fr) [end];
    grid-column-gap: 3%;

    .search-title {
      margin-top: 10px;
      padding: .4rem 1rem;
      font-weight: 500 !important;
    }

    .search-option {
      padding: .2rem 1rem;
      grid-column: first / end;
      display: grid;
      grid-template-columns: min-content min-content 1fr;
      grid-column-gap: .7rem;
      align-items: center;

      i {
        color: #005FD5;
        font-size: 28px;
      }

      &__title {
        margin-bottom: 0;
      }
      .squaredFour {
        justify-self: end;
        width: 20px;
        position: relative;
        label {
          width: 20px;
          height: 20px;
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          background: #fcfff4;
          background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
          border-radius: 4px;
          box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
          &:after {
            content: '';
            width: 9px;
            height: 5px;
            position: absolute;
            top: 4px;
            left: 4px;
            border: 3px solid #333;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
          }
          &:hover::after {
            opacity: 0.5;
          }
        }
        input[type=checkbox] {
          visibility: hidden;
          &:checked + label:after {
            opacity: 1;
          }
        }
      }
    }

    hr {
      border-top: 1px solid #aaa;
      width: 100%;
      height: 1px;
      grid-column: 1 /4;
    }

    .search-results {
      grid-column: 1 / 4;
      &__title {
        padding: .4rem 1rem;
        font-weight: 500 !important;
      }

      &__list {
        padding-left: 0;
        .search-result {
          cursor: pointer;
          padding: .4rem 1rem;
          display: grid;
          grid-template-columns: min-content 1fr;
          grid-column-gap: 3%;
          align-items: center;
          transition: .2s background-color;

          &:hover {
            background-color: #ddd;
          }
          &__img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
          }
          &__text {
            grid-column: 2/4;
            white-space: wrap;
          }
        }

      }
      .all-results {
        border-top: 2px solid #ddd;
        padding: 1rem 1rem;
        font-weight: 500 !important;
        color: #005FD5;
        grid-column: 1 / 4;
        letter-spacing: .5px;
        cursor: pointer;

        &:hover {
          background-color: #ddd;
        }

        .all-results-text {
          color: #005FD5;
        }
      }
    }
    .recent-searches {
      grid-column: 1 / 4;

      &__title {
        padding: .5rem 1rem;
        font-weight: 500 !important;
      }
    }
  }
}
