@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Nunito-Regular.ttf); /* For IE6-8 */
    src:
      url(../fonts/Nunito-Regular.ttf) format('woff2'),
      url(../fonts/Nunito-Regular.ttf) format('woff'),
      url(../fonts/Nunito-Regular.ttf) format('truetype');

  }

  @font-face {
    font-family: 'Nunito';
    font-weight: 700;
    src: url(../fonts/Nunito-Bold.ttf); /* For IE6-8 */
    src:
      url(../fonts/Nunito-Bold.ttf) format('woff2'),
      url(../fonts/Nunito-Bold.ttf) format('woff'),
      url(../fonts/Nunito-Bold.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Nunito';
    font-weight: 300;
    src: url(../fonts/Nunito-Light.ttf); /* For IE6-8 */
    src:
      url(../fonts/Nunito-Light.ttf) format('woff2'),
      url(../fonts/Nunito-Light.ttf) format('woff'),
      url(../fonts/Nunito-Light.ttf) format('truetype');
  }

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.ttf); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(../fonts/MaterialIcons-Regular.ttf) format('woff2'),
      url(../fonts/MaterialIcons-Regular.ttf) format('woff'),
      url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
  }


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIconsOutlined-Regular.otf); /* For IE6-8 */
    src: local('Material Icons outlined'),
      local('MaterialIcons-Outlined'),
      url(../fonts/MaterialIconsOutlined-Regular.otf) format('woff2'),
      url(../fonts/MaterialIconsOutlined-Regular.otf) format('woff'),
      url(../fonts/MaterialIconsOutlined-Regular.otf) format('truetype');
  }


.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


@font-face {
    font-family: 'Material Icons Round';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIconsRound-Regular.otf); /* For IE6-8 */
    src: local('Material Icons Round'),
      local('MaterialIcons-Round'),
      url(../fonts/MaterialIconsRound-Regular.otf) format('woff2'),
      url(../fonts/MaterialIconsRound-Regular.otf) format('woff'),
      url(../fonts/MaterialIconsRound-Regular.otf) format('truetype');
  }


.material-icons-round {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.to-do-task {
  background: #FFAB00 !important;
}
.in-progress-task {
  background: #0bc6a0 !important;
}
.done-task {
  background: #4a90e2 !important;
}
.overdue-task {
  background: #FF6584 !important;
}
.pointer {
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.assignee-avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin: 5px 10px;
}

.feed-avatar-small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px 10px;
}

.group-avatar {
  border-radius: 8px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.peoplecard-avatar {
  width: 120px !important;
  height: 120px !important;
  border-radius: 50% !important;
  object-fit: cover;
}