// @import "~bootstrap/scss/_functions.scss";
// @import "~bootstrap/scss/_variables.scss";
// @import "~bootstrap/scss/mixins/_breakpoints.scss";
// @import "~bootstrap/scss/mixins/_gradients.scss";
// @import "~bootstrap/scss/_custom-forms.scss";
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

//font override

// $font-family-sans-serif: 'Poppins', sans-serif;
// $font-family-monospace: 'Poppins', sans-serif;
$font-family-base: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
$headings-font-family: 'Poppins', sans-serif;
// $font-size-base: 14px !important;



// variables
$brand-primary: #005FD5;
$pumpkin-orange: #fd7714;
$turquoise: #0bc6a0;
$dark-sky-blue: #4a90e2;
$card-radius: 4px;
$border-gray: 1px solid #D9D7DA;
$dark-text: #242D3A;
$poppins: 'Poppins', sans-serif;;
$roboto:'Poppins', sans-serif;;
$border-color:#E4EDF8;
$pink:#9F55FF;
$lightgray:#9B9B9B;
$box-shadow:0 0 0 1px rgba(0,0,0,.15), 0 6px 9px rgba(0,0,0,.2);
$headings-color: #313131;
$border-radius: 1rem;

.pumpkin-orange-bg{
  background: $pumpkin-orange;
}

.pink{
  color:$pink;
}
.todo{
  color: $pumpkin-orange;
}
.working{
  color: $turquoise;
}
.done{
  color: $dark-sky-blue;
}
.pink-border{
  border: 3px solid $pink !important;
}

.bold{
  font-weight: 700;
}

.gray-border{
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2);
}

.blue{
  color:$brand-primary;
}

.blue-border{
  border: 3px solid $brand-primary !important;
}
.bluebg{
  background-color: $brand-primary !important;
  //color: white !important
}

.comment{
  background: #F3F4F6 !important;
  margin:5px !important;
  width: auto !important;
}
.margin5{
  margin:5px !important;
  width: auto !important;
}
.padding-topright{
  margin: 5px 5px 5px -5px !important;
}

.lightgray{
  color:$lightgray !important;
}

.date{
  margin: 0 !important;
}

// shadows
$card-shadow: 0 3px 5px -1px rgba(0,0,0,.2);

.card-tile{
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
}

// global stuff

hr{
  border-top: 1px solid #E4EDF8;
}

.icon-octo-logo{
  color: $brand-primary;
  margin-right: 30px;
}


.white{
  color:#fff !important;
  font-family: $headings-font-family;
  font-weight: 600;
}

.welcome{
  background: #005FD5;
  // height: stretch;
  min-height: 100vh;
@include media-breakpoint-down(sm) {
  height: auto !important;
}
}
.overlay {
  position: relative; }
  .overlay:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 95, 213, 0.6);
    background-image: linear-gradient(-135deg, rgba(16, 20, 128, 0.7) 25%, rgba(2, 143, 255, 0.7) 100%);
    opacity: 1;
    z-index: 0; }
  .overlay [class^='container'],
  .overlay > .content {
    position: relative;
    z-index: 1; }
  .overlay > .content {
    position: relative; }

.btn-outline-blue{
  background: #fff !important;
  color: $brand-primary;
}


//date picker fix
[_nghost-c6], .ngb-dp-month[_ngcontent-c6]{
  width: 100% !important;
}
.ngb-dp-day[_ngcontent-c11], .ngb-dp-weekday[_ngcontent-c11], .ngb-dp-week-number[_ngcontent-c11]{
  margin: 0 1rem !important;
}

.innercard img{
    width: 100% !important;
    height: auto;
  }
