.center {
  width: 30%;
  margin-top: 100px;
}
@media (max-width: 574px) {
  .center {
    width: 90%;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .center {
    width: 80%;
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .center {
    width: 60%;
    margin-top: 30px;
  }
}

.placeholder{
  width: 120px;
  margin-bottom: 30px;
}
.shaddow{
  box-shadow: -13px 0px 20px rgba(0, 0, 0, 0.24);
  background-color: rgba(255, 255, 255, 0.95);
}
