[class^="icon-"], [class*=" icon-"] {
  font-family: 'fontello2';
  font-style: normal;
  font-weight: normal;
  /* fix buttons height */
  line-height: 1em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.icon-octo-logo {
  *zoom: expression( this.runtimeStyle['zoom']='1', this.innerHTML='&#xe800;&nbsp;');
}

.icon-octo-logo-smile {
  *zoom: expression( this.runtimeStyle['zoom']='1', this.innerHTML='&#xe801;&nbsp;');
}

.icon-octo-logo-grim {
  *zoom: expression( this.runtimeStyle['zoom']='1', this.innerHTML='&#xe802;&nbsp;');
}
