<div class="customFieldsDialog">

    <mat-dialog-actions align="end">
        <i mat-dialog-close class="material-icons" (click)="onCloseDialog()" style="cursor: pointer">close</i>
    </mat-dialog-actions>

    <h2 mat-dialog-title>
        <span class="badge badge-cf">
            <i class="material-icons">label</i>
        </span>
       <span i18n="@@profileCFDialog.profileFields">Profile Fields</span>
    </h2>

    <mat-dialog-content>
        <div class="description">
            <img src="assets/images/placeholder_profile_fields.svg" alt="" style="width: 300px; margin-bottom: 24px">
            <p i18n="@@profileCFDialog.createProfileFieldsToImprove">Create Profile Fields to improve how you organize your teams based on user's profile.</p>
        </div>

        <div class="customFieldsList" *ngIf="customFields.length <= 0">
            <h3 class="text-center muted" i18n="@@profileCFDialog.thereAreNoCF">🌵 There are no custom fields...</h3>
        </div>


        <div class="customFieldsList" *ngIf="customFields.length > 0">

            <div class="customFieldsBody">
                <div class="field" *ngFor="let field of customFields">
                    <div class="title">
                        <i class="material-icons" style="color: #005FD5">label</i>
                        {{ field.title }}
                        <i class="material-icons" *ngIf="field.name != 'priority'"
                            (click)="removeCustomField(field)"
                            style="color: red; cursor: pointer; margin-left: 20px;">highlight_off</i>
                    </div>

                    <div class="values" *ngIf="!field.user_type">
                        <span class="badge" *ngFor="let value of field.values">
                            {{ value }}
                            <i class="material-icons" *ngIf="field.name != 'priority'"
                                (click)="removeValue(field, value)"
                                style="cursor: pointer;">highlight_off</i>
                        </span>
                        <div class="newValue" *ngIf="field.name != 'priority'">
                            <input type="text" autocomplete="off" placeholder="Add value and hit ENTER..."
                                class="newValueInput"
                                (keyup.enter)="addValue(field, $event)"/>
                        </div>
                    </div>

                    <div class="values" *ngIf="field.user_type" i18n="@@profileCFDialog.isAnUserCF">
                      Is an User Custom Field
                    </div>
                </div>
            </div>
        </div>
        <div class="newCustomFieldForm" style="padding: 10px; margin-top: 30px">
            <button appDebounceClick class="btn badge-cf" (click)="showNewCustomField = !showNewCustomField">
                <i class="material-icons">label</i> <span i18n="@@profileCFDialog.addProfileField">ADD PROFILE FIELD</span>
             </button>
             <div class="add-field" *ngIf="showNewCustomField">
                 <input class="form-control" type="text" placeholder="Enter field name" [(ngModel)]="newCustomFieldTitle" (keyup.enter)="createCustomField()">

                 <br/>

                 <input type="checkbox" name="inputType" [(ngModel)]="newCustomFieldUserType">
                 <label class="onoffswitch-label" style="margin-left: 10px; margin-right: 10px;" for="inputType" i18n="@@profileCFDialog.userField">User Field</label>

                 <br/>

                 <input type="checkbox" name="inputType" [(ngModel)]="hideInBusinessCard">
                 <label class="onoffswitch-label" style="margin-left: 10px; margin-right: 10px;" for="inputType" i18n="@@profileCFDialog.hideInBusinessCard">Hide in Business Card</label>

                 <div class="actions">
                     <button appDebounceClick class="col-md-4 btn btn-primary" (click)="createCustomField()" i18n="@@profileCFDialog.save">
                         Save
                     </button>
                     <button appDebounceClick class="col-md-4 btn btn-danger" (click)="showNewCustomField = false; this.newCustomFieldTitle = ''" i18n="@@profileCFDialog.cancel">
                         Cancel
                     </button>
                 </div>
             </div>
        </div>

    </mat-dialog-content>
</div>
