<div class="container" style="margin-bottom: 30px">
    <div class="media user-sticky-card">

        <!-- Workspace Avatar Image  starts -->
        <img *ngIf="workspaceData" class="mr3 feed-avatar" src="{{ baseUrl }}/{{ workspaceData?.workspace_avatar }}"
            onerror="this.src='/assets/images/icon-new-group.svg'">
        <!-- Workspace Avatar Image  ends -->

        <div class="media-body">

            <!-- Groups List Header starts -->
            <h2>My Groups</h2>
            <!-- Groups List Header ends -->

            <ul class="nav">

                <!-- All Groups Route starts -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/groups/all" routerLinkActive="active">Groups
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <!-- All Groups Route ends -->

                <!-- Pulse Group Route starts -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/groups/pulse" routerLinkActive="active">Pulse
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <!-- Pulse Group Route ends -->

            </ul>

        </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>