<div class="container" style="margin-bottom: 30px">
    <div class="media user-sticky-card">

        <img class="mr3 feed-avatar-big" src="{{ baseUrl }}/{{ workspaceData?.workspace_avatar }}"
            onerror="this.src='/assets/images/group.png'">
        <div class="media-body">
            <div>
                <h2>All groups</h2>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard/groups/all" routerLinkActive="active">Everything
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard/groups/pulse" routerLinkActive="active">Pulse
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>