.mat-mdc-dialog-content{
overflow: hidden;
}

.dialog-content {
  background-color: #F3F4F6;
  width: 100%;
  padding-bottom: 1px;

  .bold{
    font-weight: 700 !important;
  }

  .action-box {
    color: #969A9E;
    background: #FFFFFF;
    border: 1px solid #E4EDF8;
    border-radius: 5px;
    padding: 5px;
  }

  .content {
    padding: 0px 20px;

    .modal-header {
        border: none;
    }


    .content-box {
        background: #FFFFFF;
        border: 1px solid #E4EDF8;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 8px;
        //display: flex;
        .widget-img{
          width: 60px;
          display: flex;
        }
    }
  }
}
