<div class="root">
  <app-crm-setup-board-bar class="board-bar"
    [isAdmin]="isAdmin" [groupData]="groupData"
    (companyCreated)="onCompanyCreated($event)" (companyEdited)="onCompanyEdited($event)"
    (contactCreated)="onContactCreated($event)" (contactEdited)="onContactEdited($event)">
  </app-crm-setup-board-bar>
  
  
  <mat-tab-group mat-align-tabs="start">
    <!-- subtasks STARTS-->
    <mat-tab>
      <ng-template mat-tab-label>
        <span i18n="@@groupContactsView.contacts">Contacts</span>
      </ng-template>
  
      <ng-template matTabContent>
        <app-crm-contact-list [contacts]="contacts" (contactEdited)="onContactEdited($event)" (contactDeleted)="onContactDeleted($event)"></app-crm-contact-list>
      </ng-template>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <span i18n="@@groupContactsView.companies">Companies</span>
      </ng-template>
  
      <ng-template matTabContent>
        <app-crm-company-list [companies]="companies" (companyEdited)="onCompanyEdited($event)" (companyDeleted)="onCompanyDeleted($event)"></app-crm-company-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- Loading Spinner Starts -->
<ng-container *ngIf="isLoading$">
    <app-loading-spinner class="media"></app-loading-spinner>
</ng-container>
<!-- Loading Spinner Ends -->
