<div class="col-md-8" *ngIf="googleUser && workspaceData?.integrations?.is_google_connected">
  <app-google-account-details *ngIf="googleUser && workspaceData?.integrations?.is_google_connected" [googleUser]="googleUser"></app-google-account-details>
</div>

<div class="col-md-8" *ngIf="boxUser && workspaceData?.integrations?.is_box_connected">
  <app-box-account-details *ngIf="boxUser && workspaceData?.integrations?.is_box_connected" [boxUser]="boxUser"></app-box-account-details>
</div>

<div class="col-md-8" *ngIf="slackAuthSuccessful && workspaceData?.integrations?.is_slack_connected">
    <app-slack-account-details *ngIf="slackAuthSuccessful && workspaceData?.integrations?.is_slack_connected" [slackAuthSuccessful]="slackAuthSuccessful"></app-slack-account-details>
</div>

<div class="col-md-8">
    <app-team-account-details></app-team-account-details>
</div>

<div class="col-md-8" *ngIf="!!ms365User && workspaceData?.integrations?.is_ms_365_connected && !!userData?.integrations?.ms_365 && !!userData?.integrations?.ms_365?.token && !!userData?.integrations?.ms_365?.user_account_id">
    <app-ms-365-account-details (ms365Disconnected)="onMS365Disconnected($event)"></app-ms-365-account-details>
</div>
