h4 {
  margin-bottom: 0;
}

.search-result {
  cursor: pointer;
  padding: .4rem 1rem;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-column-gap: 3%;
  align-items: center;
  transition: .2s background-color;

  &:hover {
    background-color: #ddd;
  }
  &__img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  &__text {
    grid-column: 2/3;
    white-space: nowrap;
  }

  .close {
    grid-column: 3/4;

    &:hover {
      color: #007bff;
    }
  }

}
