.search {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
  }

  .searchTerm {
    width: 100%;
    border: 3px solid #E4EDF8;
    border-right: none;
    padding: 5px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }

  .searchTerm:focus{
    color: #005FD5;
    border: 3px solid #005FD5
  }
// #00B4CC
  .searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 40px;
    // height: 36px;
    border: 1px solid #005FD5;
    background: #005FD5;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;

  }

  app-loading-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}

// Adding pointer to image
img{
  cursor: pointer;
  transition: transform .2s ease;
}

img:hover{
  transform: scale(1.1);
}

.input-search {
  width: auto;
  height: 38px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  border: none;
  border-bottom: 1px solid #000000;
}

.fileover {
  border: 3px dashed #ffab00;
}
