<div class="container" dragDropFile (fileDropped)="fileDropped($event)">

    <div class="card-tile">

        <!-- Heading of the component starts -->
        <h4>Your files. Ready when you are.</h4>
        <p>Drag and drop files here for easy upload. <br>Or use the NEW button for folders uploading.</p>
        <!-- Heading of the component ends -->

        <!-- Group New File starts -->
        <app-group-new-file *ngIf="groupId && userData && checkDataExist(userData)"
          [groupId]="groupId" [userData]="userData" [folderId]="currentFolder?._id" [workspaceId]="workspaceId"
          (file)="getFile($event)" (folder)="getFolder($event)">
        </app-group-new-file>
        <!-- Group New File ends -->

        <div style="width: 200px; margin-top: -40px;" class="float-right">
          <img src="assets/images/files_placeholder.svg" alt="">
        </div>

        <div *ngIf="currentFolder" class="mt-n30">
          <!-- Folder Static Title starts -->
          <span *ngIf="!editFolderTitle"
              (click)="editFolderTitle = !editFolderTitle"
              ngbTooltip="Click me to rename"
              placement="bottom">
            <h5>
              {{currentFolder?.folder_name}}
              <i class="material-icons muted" style="cursor: pointer; font-size: 14px;">mode</i>
            </h5>
          </span>
          <!-- Folder Static Title ends -->

          <!-- Folder edit title name starts -->
          <input *ngIf="editFolderTitle" type="search"
              autocomplete="off"
              [(ngModel)]="currentFolder.folder_name"
              (keyup)="changeFolderTitle($event)"
              class="input-search" />
          <!-- Folder edit title name ends -->
        </div>

        <br class="clearfix">


        <div class="search mb-3">

            <!-- Component search bar starts -->
            <input type="text" [ngModel]="query" (ngModelChange)="fileSearchQuery($event)" class="searchTerm"
                [placeholder]="'File search'">
            <button type="submit" class="searchButton">
                <i class="material-icons">
                    search
                </i>
            </button>
            <!-- Component search bar ends -->

        </div>


        <!-- Files array template starts -->
        <app-infinite-scroll (scrolled)="onScroll()">
            <!-- Folder details start -->
            <div class="media card-tile user-list" style="border-bottom: 1px solid #e4edf8;"
                *ngFor="let folder of folders; let index = index; trackBy: utilityService.trackByIndex;">

                <a class="mt-0" style="cursor: pointer" (click)="openFolder(folder?._id)">
                    <img src="assets/images/add-folder-icon.png"
                      onerror="this.src='assets/images/add-folder-icon.png'" class="file-type mt-3 mr-1" style="vertical-align: bottom;">
                    {{folder?.folder_name}}
                </a>

                <div class="media-body">
                    <div class="float-right" *ngIf="folder?.folder_name != '../'">
                        <img src="{{ userBaseUrl }}/{{folder?._created_by?.profile_pic}}"
                            routerLink="/dashboard/user/profile" [queryParams]="{ userId: folder?._created_by?._id || folder?._created_by?._id }"
                            onerror="this.src='assets/images/user.png'" class="feed-avatar">
                        <i class="material-icons-outlined ml-2" [matMenuTriggerFor]="menu" style="cursor: pointer;">more_horiz</i>
                        <mat-menu #menu="matMenu">
                            <a mat-menu-item (click)="deleteItem(folder?._id, folder?.type)">
                                <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">delete</i>
                                <span>Delete</span>
                            </a>
                        </mat-menu>
                    </div>
                </div>
            </div>
            <!-- Folder Details Ends -->

            <!-- File Details Starts -->
            <div class="media card-tile user-list" style="border-bottom: 1px solid #e4edf8;"
                *ngFor="let file of files; let index = index; trackBy: utilityService.trackByIndex;">
                <a *ngIf="file?.type === 'file'" class="mt-0" target="_blank"
                  href="{{filesBaseUrl}}/{{file?.modified_name}}">
                    <img [src]="getFileIcon(file?.original_name)"
                      onerror="this.src='assets/images/icon_file.svg'" class="file-type mt-3 mr-1" style="vertical-align: bottom;">
                    {{file?.original_name}}
                </a>

                <a *ngIf="file?.type === 'folio'" class="mt-0"
                  routerLink="/document/{{file?._id}}" [queryParams]="{ group: file?._group?._id, myWorkplace: myWorkplace }">
                    <img src="assets/images/icon_folio.svg"
                      onerror="this.src='assets/images/icon_file.svg'" class="file-type mt-3 mr-1" style="vertical-align: bottom;">
                    {{file?.original_name}}
                </a>

                <div class="media-body">
                    <div class="float-right">
                        <img src="{{ userBaseUrl }}/{{file?._posted_by?.profile_pic}}"
                            routerLink="/dashboard/user/profile" [queryParams]="{ userId: file?._posted_by?._id || file?._created_by?._id }"
                            onerror="this.src='assets/images/user.png'" class="feed-avatar">
                        <i class="material-icons-outlined ml-2" [matMenuTriggerFor]="menu" style="cursor: pointer;">more_horiz</i>
                        <mat-menu #menu="matMenu">
                            <a *ngIf="file?.type === 'folio'" mat-menu-item (click)="copyToClipboard(file?._id)">
                                <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">content_copy</i>
                                <span>Copy Link</span>
                            </a>

                            <div *ngIf="file?.type == 'folio'">
                              <!--
                              <a mat-menu-item [matMenuTriggerFor]="transferMenu" (mouseover)="saveTransferAction('copy')">
                                <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">content_copy</i>
                                Copy to Group
                              </a>
                              -->
                              <a mat-menu-item [matMenuTriggerFor]="transferMenu" (mouseover)="saveTransferAction('move')">
                                <i class="material-icons">arrow_forward</i>
                                Move to Group
                              </a>

                              <mat-menu #transferMenu="matMenu">
                                <ng-container *ngFor="let group of userGroups; let index = index">
                                  <button mat-menu-item (click)="transferToGroup(file._id, userGroups[index]?._id, file?.type)">{{ group.group_name }}</button>
                                </ng-container>
                              </mat-menu>
                            </div>

                            <a *ngIf="file?.type === 'file'" mat-menu-item (click)="openViewFileDialog(filesBaseUrl + '/' + file?.modified_name)">
                                <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">visibility</i>
                                <span>View</span>
                            </a>
                            <a *ngIf="file?.type === 'folio'" mat-menu-item (click)="openViewFolioDialog(file?._id)">
                                <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">visibility</i>
                                <span>View</span>
                            </a>
                            <a mat-menu-item (click)="deleteItem(file?._id, file?.type, file?.modified_name)">
                                <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">delete</i>
                                <span>Delete</span>
                            </a>
                        </mat-menu>
                    </div>
                </div>
            </div>
            <!-- File Details Ends -->
        </app-infinite-scroll>
        <!-- Files array template ends -->

        <!-- Loading Spinner Starts -->
        <ng-container *ngIf="isLoading$ | async">
            <app-loading-spinner></app-loading-spinner>
        </ng-container>
        <!-- Loading Spinner Ends -->
    </div>
</div>
