<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Receive email to reset your password</h4>
</div>

<div class="modal-body">
      <div class="form-group">
        <label for="emailReset">Email</label>
        <input type="email" class="form-control" [(ngModel)]="user.email" (keyup)="emailChange($event)" name="emailReset">
      </div>
      <div class="form-group">
        <label for="workspaceReset">Workspace</label>
        <input type="text" class="form-control" [(ngModel)]="user.workspace" name="workspaceReset">
      </div>
</div>

<div class="modal-footer">
    <button (click)="sendMail(user?.email, user?.workspace)" class="btn btn-primary">Send Email</button>
</div>