<div class="post-dialog-content">
    <mat-dialog-actions align="end">
        <div class="action-box">
            <a (click)="onCloseDialog()" mat-dialog-close>
            <i  class="material-icons" style="cursor: pointer">close</i>
            </a>
        </div>
    </mat-dialog-actions>

    <div class="post-content">
        <div class="content-box">
            <div class="modal-header">
                <!-- Event Post Header starts -->
                <h4 class="modal-title">
                    <!-- Post Title starts -->
                    <input
                        name="postTitle"
                        type="text"
                        [ngModel]="title"
                        (blur)="titleChange($event)"
                        class="post-title"
                        placeholder="✍🏻 Title" />
                    <!-- Post Title ends -->
                </h4>

                <app-post-utils
                    [post]="postData"
                    [userData]="userData"
                    mode="fullscreen"
                    (delete)="deletePost()">
                </app-post-utils>
            </div>
            <!-- Post Header Title ends -->

            <!-- Post Content starts -->
            <app-quill-editor
                [editorId]="'postbox-editor'"
                [toolbar]="true"
                [readOnly]="false"
                [contents]="postData.content"
                [groupId]="groupId"
                (content)="quillContentChanged($event)">
            </app-quill-editor>
            <!-- Post Content ends -->

            <!-- Attach files starts -->
            <div class="attach-files">
                <app-attach-files
                    [post]="postData"
                    (files)="onAttach($event)"
                    (cloudFiles)="onCloudFileAttach($event)">
                </app-attach-files>
            </div>
            <!-- Attach files ends -->

            <div class="clearfix"></div>

            <app-post-actions
                [post]="postData"
                [userData]="userData"
                [fullscreen]="true"
                (newCommentEmitter)="newCommentAdded($event)">
            </app-post-actions>

        </div>

        <div class="clearfix save-content">
            <button [disabled]="!contentChanged"
                    class="btn float-right btn-primary btn-md"
                    (click)="updateDetails()">
                Save
            </button>
        </div>

        <app-north-star-stats *ngIf="postData?.task?.isNorthStar"
          [isNorthStar]="(postData?.task?.isNorthStar) ? true : false"
          [northStar]="postData?.task?.northStar">
        </app-north-star-stats>

        <div class="content-box" *ngIf="comments.length > 0">
            <section *ngFor="let comment of comments; let index = index;">
                <post-comment [comment]="comment" [index]="index" [userData]="userData"
                    [groupId]="postData._group || postData._group._id" (remove)="removeComment($event)"></post-comment>
            </section>
        </div>
    </div>

    <!-- Top Right Section starts -->
    <div class="post-properties">

        <!-- Is North Start starts -->
        <app-north-star *ngIf="postData.type === 'task'"
          [isNorthStar]="(postData?.task?.isNorthStar) ? true : false"
          [northStar]="postData.task.northStar"
          (transformIntoNorthStarEmitter)="transformToNorthStart()"
          (saveInitialNorthStarEmitter)="saveNorthStar($event)"
          (addProgressNorthStarEmitter)="saveNorthStar($event)">
        </app-north-star>
        <!-- Is North Start ends -->

        <!-- Status starts -->
        <div class="content-box" *ngIf="!postData?.task?.isNorthStar && postData.type === 'task'">
            <p class="box-title">Status</p>
            <!-- Change task status starts -->
            <app-task-status
                class="ml-3"
                [post]="postData"
                (status)="changeTaskStatus($event)">
            </app-task-status>
            <!-- Change task status ends -->

            <br />
            <p *ngIf="groupData && groupData.enabled_rights" class="box-title">BAR</p>
            <div *ngIf="groupData && groupData.enabled_rights" class="ml-3">
                <div (click)="removeBarTag(i, barTag)" *ngFor="let barTag of barTags; let i = index">
                <div><span class="tag"> {{ barTag }}</span> <i class="material-icons" style="color: red;">clear</i></div>
                </div>

                <app-component-search-input-box
                    *ngIf="groupData && checkDataExist(groupData)"
                    [placeholder]="'Add bar tag'"
                    [groupData] = "groupData"
                    [type]="'barTag'"
                    [groupId]="groupId"
                    (barTag)="addNewBarTag($event)">
                </app-component-search-input-box>
            </div>
            <br *ngIf="groupData && groupData.enabled_rights" />

            <p class="box-title">Section</p>
            <!-- Change task column starts -->
            <app-change-column
                class="ml-3"
                *ngIf="columns"
                [post]="postData"
                [columns]="columns"
                (moveTask)="moveTaskToColumn($event)">
            </app-change-column>
            <!-- Change task column ends -->
        </div>
        <!-- Status ends -->

        <!-- Dates starts -->
        <div class="content-box" *ngIf="postData.type === 'task' || postData.type === 'event'">
            <p class="box-title">Due date</p>
            <div *ngIf="postData.type === 'task'">
              <!-- Date Picker Start-Date starts -->
              <app-date-picker *ngIf="groupData?.project_type"
                (date)="getDate($event, 'start_date')"
                [dueDate]="postData?.task.start_date"
                [styleClass]="'btn-group input-date ' +  (checkOverdue(postData?.task) === true ? 'overdue' : 'due')">
              </app-date-picker>
              <!--Date Picker Start-Date ends -->

              <!-- Date Picker End-Date starts -->
              <app-date-picker *ngIf="groupData?.project_type"
                (date)="getDate($event, 'end_date')"
                [dueDate]="postData?.task.end_date"
                [styleClass]="'btn-group input-date ' +  (checkOverdue(postData?.task) === true ? 'overdue' : 'due')">
              </app-date-picker>
              <!--Date Picker End-Date ends -->


              <!-- Date Picker starts -->
              <app-date-picker
                (date)="getDate($event, 'due_date')"
                [dueDate]="postData?.task.due_to"
                [styleClass]="'btn-group input-date ' +  (checkOverdue(postData?.task) === true ? 'overdue' : 'due')">
              </app-date-picker>
              <!--Date Picker ends -->
            </div>
            <div *ngIf="postData.type === 'event'" class="btn-group">
              <!-- Date Picker starts -->
              <app-date-picker
                (date)="getDate($event, 'due_date')"
                [dueDate]="postData?.event.due_to"
                [styleClass]="'input-date ' +  (checkOverdue(postData?.task) === true ? 'overdue' : 'due')">
              </app-date-picker>
              <!--Date Picker ends -->
            </div>

            <!-- Time Picker starts -->
            <app-time-picker
                class="ml-3"
                *ngIf="postData.type === 'event'"
                [time]="this.dueTime"
                (time)="getTime($event)">
            </app-time-picker>
            <!-- Time Picker ends -->
        </div>
        <!-- Dates ends -->

        <!-- Assignee Modal starts -->
        <div class="content-box" *ngIf="postData.type === 'task' || postData.type === 'event'">
            <p class="box-title">Assignee</p>
            <app-inline-input *ngIf="postData.type === 'task'"
                [(ngModel)]="postData.task._assigned_to"
                [domainObject]="postData"
                [required]="true"
                [workspaceId]="userData._workspace"
                [userData]="userData"
                [groupId]="groupId"
                [showAssigneeName]="true"
                type="assignee">
            </app-inline-input>

            <p *ngIf="postData.type === 'event'" style="padding-top: 20px;">{{ eventAssignedToCount }} member(s)</p>
            <app-component-search-input-box
                *ngIf="postData.type === 'event' && userData && checkDataExist(userData)"
                [placeholder]="'Assign...'"
                [groupId]="groupId"
                [workspaceId]="userData._workspace"
                [userData]="userData"
                [type]="'event'"
                (member)="getMemberDetails($event)">
            </app-component-search-input-box>
        </div>
        <!-- Assignee Modal ends -->

        <div class="content-box">
            <p class="box-title">Tags</p>
            <!-- Post Tags starts -->
            <app-post-tags
                [post]="postData"
                [userData]="userData"
                [groupId]="groupId"
                (tags)="getTags($event)">
            </app-post-tags>
            <!-- Post Tags ends -->
        </div>

        <div class="content-box" *ngIf="postData.type === 'task'">
            <p class="box-title">Custom fields</p>
            <div *ngFor="let cf of customFields" class="d-flex custom-field justify-content-start mb-3 row">
                <p class="ml-3 mt-2 mb-0">{{ cf.title }}</p>
                <mat-select ngDefaultControl
                    [(value)]="selectedCFValues[cf.name]"
                    (selectionChange)="onCustomFieldChange($event, cf.name)"
                    appearance="fill"
                    class="ml-2 col-4"
                    >
                    <mat-select-trigger>{{ selectedCFValues[cf.name] }}</mat-select-trigger>
                    <mat-option *ngFor="let val of cf.values" [value]="val">{{ val }}</mat-option>
                </mat-select>
            </div>
        </div>
    </div>
    <!-- Top Right Section ends -->
</div>
