<div class="post-dialog-content">
    <mat-dialog-actions align="end">
        <div class="action-box">
            <i mat-dialog-close class="material-icons" style="cursor: pointer"
                (click)="onCloseDialog()">close</i>
        </div>
    </mat-dialog-actions>

    <div class="post-content">
        <div class="content-box">
            <div class="modal-header">
                <!-- Event Post Header starts -->
                <h4 class="modal-title">
                    <!-- Post Title starts -->
                    <input
                        name="postTitle"
                        type="text"
                        [ngModel]="title"
                        (blur)="titleChange($event)"
                        class="post-title"
                        placeholder="✍🏻 Title" />
                    <!-- Post Title ends -->
                </h4>

                <app-post-utils
                    [post]="postData"
                    [userData]="userData"
                    mode="fullscreen"
                    (delete)="deletePost()">
                </app-post-utils>
            </div>
            <!-- Post Header Title ends -->

            <!-- Post Content starts -->
            <app-quill-editor
                [editorId]="'postbox-editor'"
                [toolbar]="true"
                [readOnly]="false"
                [contents]="postData.content"
                [groupId]="groupId"
                (content)="quillContentChanged($event)">
            </app-quill-editor>
            <!-- Post Content ends -->

            <!-- Attach files starts -->
            <div class="attach-files">
                <app-attach-files
                    [post]="postData"
                    (files)="onAttach($event)"
                    (cloudFiles)="onCloudFileAttach($event)">
                </app-attach-files>
            </div>
            <!-- Attach files ends -->

            <div class="clearfix"></div>

            <app-post-actions
                [post]="postData"
                [userData]="userData"
                [fullscreen]="true"
                (newCommentEmitter)="newCommentAdded($event)">
            </app-post-actions>

        </div>

        <div class="clearfix save-content">
            <button [disabled]="!contentChanged"
                    class="btn float-right btn-primary btn-md"
                    (click)="updateDetails()">
                Save
            </button>
        </div>

        <div class="content-box" *ngIf="comments.length > 0">
            <section *ngFor="let comment of comments; let index = index;">
                <post-comment [comment]="comment" [index]="index" [userData]="userData"
                    [groupId]="postData._group || postData._group._id" (remove)="removeComment($event)"></post-comment>
            </section>
        </div>
    </div>

    <div class="post-properties">
        <div class="content-box" *ngIf="postData.type === 'task'">
            <p class="box-title">Status</p>
            <!-- Change task status starts -->
            <app-task-status
                class="ml-3"
                [post]="postData"
                (status)="changeTaskStatus($event)">
            </app-task-status>
            <!-- Change task status ends -->

            <br />

            <p class="box-title">Section</p>
            <!-- Change task column starts -->
            <app-change-column
                class="ml-3"
                *ngIf="columns"
                [post]="postData"
                [columns]="columns"
                (moveTask)="moveTaskToColumn($event)">
            </app-change-column>
            <!-- Change task column ends -->
        </div>

        <!-- Top Right Section starts -->
        <div class="content-box" *ngIf="postData.type === 'task' || postData.type === 'event'">
            <p class="box-title">Due date</p>
            <div *ngIf="postData.type === 'task'" class="btn-group">
              <!-- Date Picker starts -->
              <input matInput
                [matDatepicker]='taskDate'
                (dateChange)="getDate($event)"
                [value]="postData?.task.due_to"
                [ngClass]="'input-date ' +  (checkOverdue(postData?.task) === true ? 'overdue' : 'due')" disabled>
              <mat-datepicker-toggle matSuffix [for]="taskDate"></mat-datepicker-toggle>
              <mat-datepicker #taskDate disabled="false"></mat-datepicker>
              <!--Date Picker ends -->
            </div>
            <div *ngIf="postData.type === 'event'" class="btn-group">
              <!-- Date Picker starts -->
              <input matInput
                [matDatepicker]='eventDate'
                (dateChange)="getDate($event)"
                [value]="postData?.event.due_to"
                [ngClass]="'input-date'" disabled>
              <mat-datepicker-toggle matSuffix [for]="eventDate"></mat-datepicker-toggle>
              <mat-datepicker #eventDate disabled="false"></mat-datepicker>
              <!--Date Picker ends -->
            </div>

            <!-- Time Picker starts -->
            <app-time-picker
                class="ml-3"
                *ngIf="postData.type === 'event'"
                [time]="this.dueTime"
                (time)="getTime($event)">
            </app-time-picker>
            <!-- Time Picker ends -->
        </div>
        <!-- Top Right Section ends -->

        <!-- Assignee Modal starts -->
        <div class="content-box" *ngIf="postData.type === 'task' || postData.type === 'event'">
            <p class="box-title">Assigned member</p>
            <app-inline-input *ngIf="postData.type === 'task'"
                [(ngModel)]="postData.task._assigned_to"
                [domainObject]="postData"
                [required]="true"
                [workspaceId]="userData._workspace"
                [userData]="userData"
                [groupId]="groupId"
                [showAssigneeName]="true"
                type="assignee">
            </app-inline-input>

            <p *ngIf="postData.type === 'event'" style="padding-top: 20px;">Assigned to {{ eventAssignedToCount }} member(s)</p>
            <app-component-search-input-box
                *ngIf="postData.type === 'event' && userData && checkDataExist(userData)"
                [placeholder]="'Assign...'"
                [groupId]="groupId"
                [workspaceId]="userData._workspace"
                [userData]="userData"
                [type]="'event'"
                (member)="getMemberDetails($event)">
            </app-component-search-input-box>
            <!--
            <div id="avatar-assignee" *ngIf="!eventAssignedToAll()">
                <img  *ngFor="let assignee of eventAssignees"
                    [src]="profilePicURL(assignee.profile_pic)"
                    onerror="this.src='assets/images/user.png'"
                    alt="{{ assignee.first_name }} {{ assignee.last_name }}"
                    [ngClass]="'feed-avatar'">
            </div>
            <p *ngIf="!eventAssignees" style="padding-top: 20px;">
                Unassigned
            </p>
            -->
        </div>
        <!-- Assignee Modal ends -->

        <div class="content-box">
            <p class="box-title">Tags</p>
            <!-- Post Tags starts -->
            <app-post-tags
                [post]="postData"
                [userData]="userData"
                [groupId]="groupId"
                (tags)="getTags($event)">
            </app-post-tags>
            <!-- Post Tags ends -->
        </div>

        <div class="content-box" *ngIf="postData.type === 'task'">
            <p class="box-title">Custom fields</p>
            <div *ngFor="let cf of customFields" class="d-flex custom-field justify-content-start mb-3 row">
                <p class="ml-3 mt-2 mb-0">{{ cf.title }}</p>
                <mat-select ngDefaultControl
                    [(value)]="selectedCFValues[cf.name]"
                    (selectionChange)="onCustomFieldChange($event, cf.name)"
                    appearance="fill"
                    class="ml-2 col-4"
                    >
                    <mat-select-trigger>{{ selectedCFValues[cf.name] }}</mat-select-trigger>
                    <mat-option *ngFor="let val of cf.values" [value]="val">{{ val }}</mat-option>
                </mat-select>
            </div>
        </div>
    </div>
</div>
