<mat-dialog-actions align="end">
  <div class="action-box">
      <a (click)="onCloseDialog()" mat-dialog-close>
        <i class="material-icons" style="cursor: pointer">close</i>
      </a>
  </div>
</mat-dialog-actions>
<div class="post-dialog-content">


    <div class="post-content">
        <div class="content-box">
            <div class="modal-header">
                <!-- Event Post Header starts -->
                <h4 class="modal-title">
                    <!-- Post Title starts -->
                    <input
                        name="postTitle"
                        type="text"
                        [ngModel]="title"
                        (blur)="titleChange($event)"
                        class="post-title"
                        placeholder="✍🏻 Title" />
                    <!-- Post Title ends -->
                </h4>

                <i class="material-icons-outlined ml-2" *ngIf="isIdeaModuleAvailable && postData?.task?.is_idea" style="color: #FBB732;">emoji_objects</i>

                <app-post-utils
                    [post]="postData"
                    [userData]="userData"
                    [groupData]="groupData"
                    mode="fullscreen"
                    (delete)="deletePost()">
                </app-post-utils>
            </div>
            <!-- Post Header Title ends -->

            <!-- Post Content starts -->
            <app-quill-editor
                *ngIf="edit"
                [editorId]="'postbox-editor'"
                [toolbar]="true"
                [readOnly]="false"
                [contents]="postData.content"
                [groupId]="groupId"
                (content)="quillContentChanged($event)">
            </app-quill-editor>

            <app-quill-editor
                *ngIf="!edit"
                [editorId]="'postbox-editor'"
                [toolbar]="false"
                [readOnly]="true"
                [contents]="postData.content"
                [groupId]="groupId"></app-quill-editor>
            <!-- Post Content ends -->

            <!-- Attach files starts -->
            <div class="attach-files">
                <app-attach-files
                    [post]="postData"
                    (files)="onAttach($event)"
                    (cloudFiles)="onCloudFileAttach($event)">
                </app-attach-files>
            </div>
            <!-- Attach files ends -->

            <!-- <div class="clearfix"></div> -->

            <app-post-actions
                [post]="postData"
                [userData]="userData"
                [fullscreen]="true"
                [groupData]="groupData"
                [isIdeaModuleAvailable]="isIdeaModuleAvailable"
                (pinEvent)="onPostPin($event)"
                (newCommentEmitter)="newCommentAdded($event)">
            </app-post-actions>

        </div>

        <div class="clearfix save-content">
            <button *ngIf="edit" [disabled]="!contentChanged"
              class="btn float-right btn-primary btn-md"
              (click)="updateDetails()" i18n="@@groupCreatePostDialog.save">
                Save
            </button>

            <button *ngIf="!showSubtasks && !postData?.task?._parent_task && postData?.type === 'task' && (!postData?.task?.shuttle_type || groupData?._id == postData?._group?._id)"
              class="btn float-left btn-warning btn-md"
              (click)="prepareToAddSubtasks()"
              i18n="@@groupCreatePostDialog.addSubtask">
                + Add Subtasks
            </button>
        </div>

        <div class="content-box" *ngIf="showSubtasks && (!postData?.task?.shuttle_type || groupData?._id == postData?._group?._id)">
          <app-subtasks
            [subtasks]="subtasks"
            [groupData]="groupData"
            [userData]="userData"
            [parentId]="postData?._id"
            (openSubtaskEmitter)="onOpenSubtask($event)"></app-subtasks>
        </div>

        <app-north-star-stats *ngIf="postData?.task?.isNorthStar"
          [isNorthStar]="(postData?.task?.isNorthStar) ? true : false"
          [northStar]="postData?.task?.northStar">
        </app-north-star-stats>

        <!-- COMMENTS -->
        <app-comment-list
          [postId]="postData?._id"
          [userData]="userData"
          [groupId]="postData?._group?._id || postData?._group"
          [length]="postData?.comments_count"
          [newComment]="newComment"></app-comment-list>

    </div>

    <!-- Top Right Section starts -->
    <div class="post-properties">
        <!-- Parent Task starts -->
        <div *ngIf="postData?.task?._parent_task && postData?.type === 'task' && groupData?._id == postData?._group?._id" class="content-box">
          <p class="box-title"i18n="@@groupCreatePostDialog.parentTask"> Parent task</p>

          <div class="parent-task">
            <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;" (click)="openParentTask(postData?.task?._parent_task._id)">
              <div class="parent-title">
                {{ postData?.task?._parent_task.title | truncatetext:40 }}
              </div>

              <app-assignee-avatar [post]="postData?.task?._parent_task" [userData]="userData" style="margin-right: 10px;"></app-assignee-avatar>
            </div>
          </div>
        </div>
        <!-- Parent Task ends -->

        <!-- Is North Start starts -->
        <app-north-star *ngIf="postData?.type === 'task'"
          [isNorthStar]="(postData?.task?.isNorthStar) ? true : false"
          [northStar]="postData.task.northStar"
          (saveInitialNorthStarEmitter)="saveNorthStar($event)"
          (addProgressNorthStarEmitter)="saveNorthStar($event)">
        </app-north-star>
        <!-- Is North Start ends -->

        <!-- Status starts -->
        <div class="content-box" *ngIf="!postData?.task?.isNorthStar && postData?.type === 'task'">
          <p class="box-title"i18n="@@groupCreatePostDialog.taskStatus"> Task Status</p>

          <div class="shuttle-box mb-2">
            <p class=" mt-1" style="width:70px" i18n="@@groupCreatePostDialog.status">Status</p>

            <!-- Change task status starts -->
            <app-task-status class="ml-2"
                *ngIf="myWorkplace || groupData?._id == postData?._group?._id"
                [postId]="postData?._id"
                [groupId]="postData?._group?._id || postData?._group"
                [userId]="userData?._id"
                [status]="postData?.task?.status"
                [disabled]="postData?.archived"
                [shuttleType]="false"
                (status)="changeTaskStatus($event)">
            </app-task-status>

            <app-task-status class="ml-2"
                *ngIf="!myWorkplace && groupData?._id != postData?._group?._id"
                [postId]="postData?._id"
                [groupId]="shuttle?._shuttle_group?._id || shuttle?._shuttle_group"
                [userId]="userData?._id"
                [status]="shuttle?.shuttle_status"
                [disabled]="postData?.archived"
                [shuttleType]="true"
                (status)="changeShuttleTaskStatus($event)">
            </app-task-status>
            <!-- Change task status ends -->
            </div>

          <div class="shuttle-box" *ngIf="columns">
            <p class="mt-1" *ngIf="(((shuttle?._shuttle_group?._id || shuttle?._shuttle_group) != groupId) && !postData?.task?._parent_task) || ((shuttle?._shuttle_group?._id || shuttle?._shuttle_group) == groupId)"
                style="margin-top: 18px; width:70px" i18n="@@groupCreatePostDialog.section">
              Section
            </p>

            <!-- Change task column starts -->
            <app-change-column class="ml-2"
                *ngIf="!postData?.task?.shuttle_type || (groupData?._id == postData?._group?._id && !postData?.task?._parent_task)"
                [sectionId]="(postData?.task?._column?._id || postData?.task?._column)"
                [columns]="columns"
                [disabled]="postData?.archived"
                (moveTask)="moveTaskToColumn($event)">
            </app-change-column>

            <app-change-column class="ml-2"
                *ngIf="(postData?.task?.shuttle_type && groupData?._id != postData?._group?._id)"
                [sectionId]="(shuttle?._shuttle_section?._id || shuttle?._shuttle_section)"
                [columns]="columns"
                [disabled]="postData?.archived"
                (moveTask)="moveShuttleTaskToSection($event)">
            </app-change-column>
            <!-- Change task column ends -->
          </div>

          <p *ngIf="groupData && groupData.enabled_rights" class="box-title" style="margin-top: 18px;" i18n="@@groupCreatePostDialog.rag">RAG</p>
          <div *ngIf="groupData && groupData.enabled_rights" class="ml-1">
              <div (click)="removeRagTag(i, ragTag)" *ngFor="let ragTag of ragTags; let i = index">
                <div>
                  <span class="tag"> {{ ragTag }}</span>
                  <i class="material-icons" style="color: red;">clear</i>
                </div>
              </div>

              <app-component-search-input-box
                  *ngIf="groupData && checkDataExist(groupData)"
                  [placeholder]="'Add rag tag'"
                  [groupData] = "groupData"
                  [type]="'ragTag'"
                  [groupId]="groupId"
                  [ragList] = "ragTags"
                  (ragTag)="addNewRagTag($event)">
              </app-component-search-input-box>
          </div>
          <br *ngIf="groupData && groupData.enabled_rights" />
        </div>
        <!-- Status ends -->

        <!-- Shuttle Task starts -->
        <app-shuttle-task *ngIf="isShuttleTasksModuleAvailable && groupData?.shuttle_type && postData?.task?.shuttle_type"
          [postData]="postData"
          [groupData]="groupData"
          [userData]="userData"
          [isShuttleTasksModuleAvailable]="isShuttleTasksModuleAvailable"></app-shuttle-task>
        <!-- Shuttle Task ends -->

        <!-- Dates starts -->
        <div class="content-box" *ngIf="postData?.type === 'task' || postData.type === 'event'">
          <p *ngIf="groupData && groupData.project_type && !postData?.task?.is_milestone"
            class="box-title" i18n="@@groupCreatePostDialog.startDate">Start date</p>

          <div *ngIf="groupData && postData?.type === 'task' && groupData.project_type && !postData?.task?.is_milestone">
            <!-- Date Picker starts -->
            <app-date-picker (date)="getDate($event, 'start_date')"
              [selectedDate]="formateDate(postData?.task.start_date)"
              [upperLimit]="formateDate(postData?.task.due_to)"
              [styleClass]="'btn-group input-date ' +  (checkOverdue(postData?.task) === true ? 'overdue' : 'due')">
            </app-date-picker>
            <!--Date Picker ends -->

            <!-- Clean field starts -->
            <i (click)="updateDate(null, 'start_date')" class="material-icons muted" style="cursor: pointer; font-size: 14px;">remove_circle_outline</i>
            <!-- Clean field ends -->
          </div>
          <div *ngIf="postData.type === 'event'" class="btn-group">
            <!-- Date Picker starts -->
            <app-date-picker (date)="getDate($event, 'start_date')"
              [selectedDate]="postData?.event.start_date"
              [upperLimit]="postData?.event.due_to"
              [styleClass]="'input-date ' +  (checkOverdue(postData?.task) === true ? 'overdue' : 'due')">
            </app-date-picker>
            <!--Date Picker ends -->
          </div>

          <!-- Time Picker starts -->
          <app-time-picker class="ml-1" *ngIf="postData.type === 'event'" [time]="this.dueTime" (time)="getTime($event)">
          </app-time-picker>
          <!-- Time Picker ends -->
          <p class="box-title" i18n="@@groupCreatePostDialog.dueDate">Due date</p>
          <div *ngIf="postData?.type === 'task'">
            <!-- Date Picker starts -->
            <app-date-picker
              (date)="getDate($event, 'due_date')"
              [selectedDate]="formateDate(postData?.task.due_to)"
              [lowerLimit]=" (postData?.task?.is_milestone)? '' : formateDate(postData?.task.start_date)"
              [styleClass]="'btn-group input-date ' +  (checkOverdue(postData?.task) === true ? 'overdue' : 'due')">
            </app-date-picker>
            <!--Date Picker ends -->

            <!-- Clean field starts -->
            <i (click)="updateDate(null, 'due_date')" class="material-icons muted" style="cursor: pointer; font-size: 14px;">remove_circle_outline</i>
            <!-- Clean field ends -->
          </div>
          <div *ngIf="postData.type === 'event'" class="btn-group">
            <!-- Date Picker starts -->
            <app-date-picker
              (date)="getDate($event, 'due_date')"
              [selectedDate]="postData?.event.due_to"
              [lowerLimit]="postData?.event.start_date"
              [styleClass]="'input-date ' +  (checkOverdue(postData?.task) === true ? 'overdue' : 'due')">
            </app-date-picker>
            <!--Date Picker ends -->
          </div>

          <!-- Time Picker starts -->
          <app-time-picker
              class="ml-1"
              *ngIf="postData.type === 'event'"
              [time]="this.dueTime"
              (time)="getTime($event)">
          </app-time-picker>
          <!-- Time Picker ends -->
        </div>
        <!-- Dates ends -->

        <!-- Assignee Modal starts -->
        <div class="content-box" *ngIf="postData?.type === 'task' || postData.type === 'event'">
            <p class="box-title" i18n="@@groupCreatePostDialog.assignee">Assignee</p>

            <app-multiple-assignments
              [groupId]="groupId"
              [userData]="userData"
              [post]="postData"
              [type]="'post'"
              (assigneeAddedEmiter)="onAssigned($event)">
            </app-multiple-assignments>

            <div *ngIf="lastAssignedBy" id="avatar-assignee" style="margin-bottom: 30px;">
              <p class="box-title" style="padding-top: 20px;" i18n="@@groupCreatePostDialog.assignedBy">Assigned by</p>

              <app-secured-image
                [imgURL]="lastAssignedBy.profile_pic"
                [service]="'user'"
                [styleClass]="'feed-avatar-small'"
                style="float: left; cursor: auto;"></app-secured-image>

              <div style="padding-top: 10px;" class="ml-1">
                {{lastAssignedBy?.first_name}}
                {{ lastAssignedBy?.last_name }}
              </div>
            </div>

        </div>
        <!-- Assignee Modal ends -->

        <div class="content-box">
            <p class="box-title" i18n="@@groupCreatePostDialog.tags">Tags</p>

            <!-- Post Tags starts -->
            <app-post-tags
                [post]="postData"
                [userData]="userData"
                [groupId]="groupId"
                (tags)="getTags($event)">
            </app-post-tags>
            <!-- Post Tags ends -->
        </div>

        <div class="content-box" *ngIf="postData?.type === 'task'">
            <p class="box-title" i18n="@@groupCreatePostDialog.customFields">Custom fields</p>

            <div *ngFor="let cf of customFields" class="d-flex custom-field justify-content-start mb-3 row">
                <p class="col">{{ cf.title }}</p>
                <mat-select ngDefaultControl *ngIf="!cf.input_type"
                    [(value)]="selectedCFValues[cf.name]"
                    (selectionChange)="onCustomFieldChange($event, cf.name)"
                    appearance="fill"
                    class="col">
                    <mat-select-trigger>{{ selectedCFValues[cf.name] }}</mat-select-trigger>
                    <mat-option *ngFor="let val of cf.values" [value]="val">{{ val }}</mat-option>
                </mat-select>

                <div *ngIf="cf.input_type" class="col" style="display: flex; float: left; width: 125px;">
                  <input type="text" [name]="cf.name" [(ngModel)]="selectedCFValues[cf.name]"
                      class="col" style="width: 94px;" [value]="selectedCFValues[cf.name]"
                      (keyup.enter)="saveInputCustomField($event, cf.name)" />
                  <i (click)="saveCustomField(cf.name, selectedCFValues[cf.name]);" class="material-icons muted mr-5"
                    style="cursor: pointer; font-size: 14px; margin-left: 10px;color: #0bc6a0;">save</i>
                </div>

                <!-- Clean field starts -->
                <i (click)="saveCustomField(cf.name, null);"
                  class="material-icons muted mr-5"
                  style="cursor: pointer; font-size: 14px; margin-left: 10px;">remove_circle_outline</i>
                <!-- Clean field ends -->
            </div>
        </div>

        <app-task-actions *ngIf="postData?.type === 'task'"
          [postData]="postData"
          [groupData]="groupData"
          [userData]="userData"
          [tasks]="tasks"
          [isNorthStar]="(postData?.task?.isNorthStar) ? postData?.task?.isNorthStar : false"
          [isIdea]="(postData?.task?.is_idea) ? postData?.task?.is_idea : false"
          [isIdeaModuleAvailable]="isIdeaModuleAvailable"
          [isShuttleTasksModuleAvailable]="isShuttleTasksModuleAvailable"
          [isMilestone]="(postData?.task?.is_milestone) ? postData?.task?.is_milestone : false"
          (parentTaskSelectedEmitter)="onParentTaskSelected($event)"
          (dependencyTaskSelectedEmitter)="onDependencyTaskSelected($event)"
          (taskClonedEmitter)="onTaskClonned($event)"
          (taskFromTemplateEmitter)="openParentTask($event)"
          (taskAllocationEmitter)="onAllocationChanged($event)"
          (transformIntoNorthStarEmitter)="transformToNorthStart($event)"
          (transformIntoMilestoneEmitter)="transformToMileStone($event)"
          (transformIntoIdeaEmitter)="transformToIdea($event)"
          (shuttleGroupEmitter)="setShuttleGroup($event)">
        </app-task-actions>
    </div>
    <!-- Top Right Section ends -->
</div>

<!-- Loading Spinner Starts -->
<ng-container *ngIf="isLoading$ | async">
  <app-loading-spinner class="media"></app-loading-spinner>
</ng-container>
<!-- Loading Spinner Ends -->
