<!-- WORKSPACE DETAIL MODAL STARTS -->

<!-- WORKSPACE HEADER STARTS -->
<div class="modal-header">
    <h4 class="modal-title" i18n="@@workspaceDetails.workspaceUpdate">Workspace Update</h4>
</div>
<!-- WORKSPACE HEADER ENDS -->

<!-- WORKSPACE MODAL CHANGE IMAGE STARTS -->
<div class="modal-body">
    <div class="form-group">
        <app-secured-image *ngIf="workspaceData"
          [imgURL]="workspaceData?.workspace_avatar"
          [service]="'workspace'"
          [workspaceId]="workspaceData?._id"></app-secured-image>
        <app-crop-image class="container" [resizeToWidth]="300" [cropperMinWidth]="300" (outputImage)="getCroppedImage($event)"></app-crop-image>
    </div>
</div>
<!-- WORKSPACE MODAL CHANGE IMAGE ENDS -->

<!-- WORKSPACE FOOTER STARTS -->
<div class="modal-footer">
    <button type="button" class="btn btn-success"
      (click)="updateWorkplaceDetails( workspaceData?._id, croppedImage )"
      i18n="@@workspaceDetails.save">
        Save
    </button>
</div>
<!-- WORKSPACE FOOTER ENDS -->

<!-- WORKSPACE DETAIL MODAL ENDS -->
