<!-- GROUP DETAIL MODAL STARTS -->

<!-- GROUP HEADER STARTS -->
<div class="modal-header">
    <h4 class="modal-title" i18n="@@crmCompanyImageDialog.updateCompanyImage">Update company image</h4>
</div>
<!-- GROUP HEADER ENDS -->

<!-- GROUP MODAL CHANGE IMAGE STARTS -->
<div class="modal-body">
    <div class="form-group">
        <app-secured-image
          [imgURL]="companyData?.company_pic"
          [service]="'group'" [workspaceId]="(groupData?._workspace?._id || groupData?._workspace)"></app-secured-image>
        <app-crop-image class="container" [resizeToWidth]="300" [cropperMinWidth]="300" (outputImage)="getCroppedImage($event)"></app-crop-image>
    </div>
</div>
<!-- GROUP MODAL CHANGE IMAGE ENDS -->

<!-- GROUP FOOTER STARTS -->
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="updateImage()" i18n="@@crmCompanyImageDialog.updateImage">Update Image!</button>
</div>
<!-- GROUP FOOTER ENDS -->

<!-- GROUP DETAIL MODAL ENDS -->
