@import "src/assets/scss/variables";
@import "src/assets/scss/global";

a{
    text-decoration: none !important;
    color: inherit;
}

img{
    display:block;
    width: 100%;
}

.smart-card {
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 3px 0 #005fd521;
  min-height: 260px;
  // height: 100%;
  background: #fff url('/assets/images/events-smart-card.svg') no-repeat bottom right;
}


.card-title{
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
  color: #242D3A;
}

.group-tasks {
  color: #ffffff;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  margin: 0px 2px 0px 2px;
  padding: 10px;
}

.overdue-total-tasks {

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FF6584;
}

.card-first-column {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.post-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  margin-left: -5px;
}

.title-nowrap {
  width: 90%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.card-icon {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 10px;
}

.badge {
  background-color: #969A9E;
  margin: 0 5px !important;
  display: inline;
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
  padding: 3px 6px !important;
}
