<div class="modal-header">
  <h4 class="modal-title" *ngIf="type === 'task'">New Task</h4>
  <h4 class="modal-title" *ngIf="type === 'event'">New Event</h4>
  <h4 class="modal-title" *ngIf="type === 'normal'">New Post</h4>

  <div class="float-right">
    <i *ngIf="type === 'normal'" class="material-icons">comment</i>
    <i *ngIf="type === 'task'" class="material-icons">check_box</i>
    <i *ngIf="type === 'event'" class="material-icons">event</i>
  </div>
</div>

<div class="modal-body">
  <div class="form-group">
    <div class="row">
      <div class="col-md-7" *ngIf="type === 'task' || type ==='event'">

        <section *ngIf="type === 'task'">
          <img src="{{baseUrl}}/uploads/{{taskAssignee?.profile_pic}}" onerror="this.src='/assets/images/user.png'"
            class="feed-avatar">
          <p *ngIf="assigned"><strong>Assigned to {{taskAssignee?.first_name}}</strong></p>
          <p *ngIf="!assigned"><strong>Not assigned</strong></p>
          <app-component-search-input-box *ngIf="type === 'task' && userData && checkDataExist(userData)"
          [placeholder]="'Search a member to assign this task...'" [groupId]="groupId"
          [workspaceId]="userData._workspace" [userData]="userData" [type]="type" (member)="getMemberDetails($event)">
        </app-component-search-input-box>
        </section>

        <section *ngIf="type === 'event'">
          <p><strong>Assigned to {{ eventMembersMap.size }} member(s)</strong></p>
          <app-component-search-input-box *ngIf="type === 'event' && userData && checkDataExist(userData)"
          [placeholder]="'Search members to assign this event...'" [groupId]="groupId"
          [workspaceId]="userData._workspace" [userData]="userData" [type]="type" (member)="getMemberDetails($event)">
        </app-component-search-input-box>
        </section>



      </div>
    </div>
    <input name="postTitle" type="text" class="post-title" placeholder="Insert title here ..." />
    <app-quill-editor (content)="getQuillData($event)"></app-quill-editor>
    <div class="btn-group attach-files">
      <button type="button" class="btn btn-link">
        <input #fileInput type="file" class="btn btn-outline-warning file-input" placeholder="File" multiple />
        <i class="material-icons" placement="top" (click)="fileInput.click()">attach_file</i>
      </button>
      <button type="button" class="btn btn-link">
        <i class="material-icons" placement="top">
          cloud_upload
        </i>
      </button>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-md btn-danger" (click)="this.closeModal()">Cancel</button>
  <button type="button" class="btn btn-md btn-primary">Post</button>
</div>