<div class="modal-header">
  <h4 class="modal-title" *ngIf="type === 'task'">New Task</h4>
  <h4 class="modal-title" *ngIf="type === 'event'">New Event</h4>
  <h4 class="modal-title" *ngIf="type === 'normal'">New Post</h4>

  <div class="float-right">
    <i *ngIf="type === 'normal'" class="material-icons">comment</i>
    <i *ngIf="type === 'task'" class="material-icons">check_box</i>
    <i *ngIf="type === 'event'" class="material-icons">event</i>
  </div>
</div>

<div class="modal-body">
  <div class="form-group">
    <div class="row post-header"  *ngIf="type === 'task' || type ==='event'">
      <div class="col-md-6">

        <section *ngIf="type === 'task'">
          <img src="{{baseUrl}}/uploads/{{taskAssignee?.profile_pic}}" onerror="this.src='/assets/images/user.png'"
            class="feed-avatar">
          <p *ngIf="assigned"><strong>Assigned to {{taskAssignee?.first_name}}</strong></p>
          <p *ngIf="!assigned"><strong>Not assigned</strong></p>
          <app-component-search-input-box *ngIf="type === 'task' && userData && checkDataExist(userData)"
            [placeholder]="'Search a member to assign this task...'" [groupId]="groupId"
            [workspaceId]="userData._workspace" [userData]="userData" [type]="type" (member)="getMemberDetails($event)">
          </app-component-search-input-box>
        </section>

        <section *ngIf="type === 'event'">
          <p><strong>Assigned to {{ eventMembersMap.size }} member(s)</strong></p>
          <app-component-search-input-box *ngIf="type === 'event' && userData && checkDataExist(userData)"
            [placeholder]="'Search members to assign this event...'" [groupId]="groupId"
            [workspaceId]="userData._workspace" [userData]="userData" [type]="type" (member)="getMemberDetails($event)">
          </app-component-search-input-box>
        </section>
      </div>

      <div class="col-md-6">
        <section>
          <p class="due-date"><strong>{{ dueDate | date:'mediumDate' || 'Date Not Selected' }}</strong></p>
          <app-date-picker (date)="getDate($event)"></app-date-picker>
          <app-time-picker *ngIf="type === 'event'"></app-time-picker>
        </section>
      </div>
    </div>
    <input name="postTitle" type="text" [(ngModel)]="title" class="post-title" placeholder="Insert title here ..." />
    <app-quill-editor [editorId]="'postbox-editor'" [toolbar]="true" [readOnly]="false" (content)="getQuillData($event)"></app-quill-editor>
    <div class="btn-group attach-files">
      <app-attach-files (files)="onAttach($event)"></app-attach-files>
      <app-attach-cloud-files></app-attach-cloud-files>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-md btn-danger" (click)="this.closeModal()">Cancel</button>
  <button type="button" class="btn btn-md btn-primary" (click)="createPost()">Post</button>
</div>