$border-color: #e4edf8;
$pumpkin-orange: #ffab00;
$turquoise: #0bc6a0;
$dark-sky-blue: #4a90e2;

.list {
    overflow-x: auto;

    .list-wrapper {
        margin-top: 2rem;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: auto;


        .taskStatus {
            width: 10%;
            text-align: center;
        }
    }
}

.header {
    background-color: #fafafa !important;
    border-radius: 0px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.newColumnMatMenu {
    padding: 20px;
}

.task_row_header {
    height: 70px;
    padding: 0;
    background: none;
    // border: 1px solid $border-color;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 2px auto;
    transition: box-shadow 0.3s ease-in-out;
    // line-height: 25px;
    // height: 40px;
    // cursor: pointer;
    .task_content {
        display: flex;
        // line-height: 60px;
        margin: 0;
        align-items: center;
        height: 100%;
        .task_title {
            flex: 0 0 320px;
            will-change: transform;
            flex-basis: 320px;
            padding: 0 10px
        }

        .task_cell_asignee {
            flex-basis: 80px;
            max-width: 80px;
            flex: 0 0;
            text-align: center;

            .feed-avatar {
                width: 35px;
                height: 35px;
                margin: 0;
            }
        }

        .task_cell_date {
            flex-basis: 140px;
            max-width: 140px;
            min-width: 140px;
            flex: 0 0;
            text-align: center;
        }
        .task_cell_tag {
            flex-basis: 160px;
            max-width: 160px;
            min-width: 160px;
            flex: 0 0;
            .tags {
                text-align: center;
                border: none !important;
            }
        }

        .task_cell_cf {
            flex-basis: 140px;
            max-width: 140px;
            min-width: 140px;
            flex: 0 0;
            background-color:#fafafa ;
            height: 100%;
            line-height: 70px;
            text-align: center;
        }
        .task_cell_more {
            // flex-basis: 100px;
            // max-width: 10px;
            // min-width: 100px;
            flex: 0 0;
            text-align: right;

        }
    }
}



.task_row {
    height: 70px;
    padding: 0;
    background: white;
    // border: 1px solid $border-color;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 2px auto;
    transition: box-shadow 0.3s ease-in-out;
    // line-height: 25px;
    // height: 40px;
    // cursor: pointer;
    .task_content {
        display: flex;
        // line-height: 60px;
        margin: 0;
        align-items: center;
        height: 100%;
        .task_title {
            flex: 0 0 320px;
            will-change: transform;
            flex-basis: 320px;
            padding: 0 10px
        }

        .task_cell_asignee {
            flex-basis: 80px;
            max-width: 80px;
            flex: 0 0;
            text-align: center;

            .feed-avatar {
                width: 35px;
                height: 35px;
                margin: 0;
            }
        }

        .task_cell_date {
            flex-basis: 140px;
            max-width: 140px;
            min-width: 140px;
            flex: 0 0;
            text-align: center;
        }
        .task_cell_tag {
            flex-basis: 160px;
            max-width: 160px;
            min-width: 160px;
            flex: 0 0;
            .tags {
                text-align: center;
                border: none !important;
            }
        }

        .task_cell_cf {
            flex-basis: 140px;
            max-width: 140px;
            min-width: 140px;
            flex: 0 0;
            background-color:#fafafa ;
            height: 100%;
            line-height: 70px;
            text-align: center;
        }
        .task_cell_more {
            // flex-basis: 100px;
            // max-width: 10px;
            // min-width: 100px;
            flex: 0 0;
            text-align: right;

        }
    }
}



.badge {
    background-color: $dark-sky-blue;
    margin: 0 1px !important;
    display: inline;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 12px;
    align-items: center;
    color: #005fd5;
    background-color: #e4edf8;
    border-radius: 10px;
    padding: 2px 10px !important;
}

.badge-todo {
    background-color: $pumpkin-orange;
    color: white;
    border-radius: 10px;
    padding: 2px 10px !important;
}
.badge-inprogress {
    background-color: $turquoise;
    color: white;
    border-radius: 10px;
    padding: 2px 10px !important;
}
.badge-done {
    background-color: $dark-sky-blue;
    color: white;
    border-radius: 10px;
    padding: 2px 10px !important;
}

.status-todo {
    border-left: 3px solid $pumpkin-orange;
}
.status-inprogress {
    border-left: 3px solid $turquoise;
}
.status-done {
    border-left: 3px solid $dark-sky-blue;
}
