$border-color: #e4edf8;
$pumpkin-orange: #ffab00;
$turquoise: #0bc6a0;
$dark-sky-blue: #4a90e2;

.list {
    overflow-x: auto;
    overflow-y: auto;

    .list-wrapper {
        margin-top: 2rem;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: auto;

        .taskStatus {
            width: 10%;
            text-align: center;
        }
        .list-columns{
            width: 100%;
        }

    }
}

.header {
    background-color: #fafafa !important;
    border-radius: 0px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.column-title{
    margin: 0 0 16px 0;
    border-bottom: 1px solid $border-color;
    p{
        font-size: 14px !important;
        text-transform: uppercase;
    }

}

.newColumnMatMenu {
    padding: 20px;
}

.tasks-container{
    width: 100%;
}

.task_row_header {
    height: 30px;
    padding: 0;
    background: none;
    // border: 1px solid $border-color;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 2px auto;
    transition: box-shadow 0.3s ease-in-out;
    // line-height: 25px;
    // height: 40px;
    // cursor: pointer;
    color: #9b9b9b !important;
    font-size: 14px !important;
    .task_content {
        display: flex;
        // line-height: 60px;
        margin: 0;
        align-items: center;
        height: 100%;
        padding: 0 24px;

        .task_title {
            flex: 0 0 320px;
            will-change: transform;
            flex-basis: 320px;
            padding: 0 10px
        }

        .task_cell_asignee {
            flex-basis: 80px;
            max-width: 80px;
            flex: 0 0;
            text-align: center;

            .feed-avatar {
                width: 35px;
                height: 35px;
                margin: 0;
            }
        }

        .task_cell_date {
            flex-basis: 160px;
            max-width: 160px;
            min-width: 160px;
            flex: 0 0;
            text-align: center;
        }
        .task_cell_tag {
            flex-basis: 160px;
            max-width: 160px;
            min-width: 160px;
            flex: 0 0;
            .tags {
                text-align: center;
                border: none !important;
            }
        }

        .task_cell_cf {
            flex-basis: 140px;
            min-width: 140px;
            max-width: 140px;
            flex: 0 0;
            background-color:#fafafa ;
            height: 100%;
            text-align: center;
        }
        .task_cell_more {
            // flex-basis: 100px;
            // max-width: 10px;
            min-width: 100px;
            flex: 0 0;
            text-align: center;

        }

    }
}

.task_row {
    height: 70px;
    padding: 0;
    background: white;
    width: 100%;
    // border: 1px solid $border-color;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 2px auto;
    transition: box-shadow 0.3s ease-in-out;
    // line-height: 25px;
    // height: 40px;
    // cursor: pointer;
    .task_content {
        display: flex;
        // line-height: 60px;
        margin: 0;
        align-items: center;
        height: 100%;
        .task_title {
            flex: 0 0 320px;
            will-change: transform;
            flex-basis: 320px;
            padding: 0 10px
        }

        .task_cell_asignee {
            flex-basis: 80px;
            max-width: 80px;
            flex: 0 0;
            text-align: center;

            .feed-avatar {
                width: 35px;
                height: 35px;
                margin: 0;
            }
        }

        .task_cell_date {
            flex-basis: 160px;
            max-width: 160px;
            min-width: 160px;
            flex: 0 0;
            text-align: center;

        }
        .task_cell_tag {
            flex-basis: 160px;
            max-width: 160px;
            min-width: 160px;
            flex: 0 0;
            .tags {
                text-align: center;
                border: none !important;
            }
        }

        .task_cell_cf {
            flex-basis: 140px;
            max-width: 140px;
            min-width: 140px;
            flex: 0 0;
            border: 1px solid #fafafa;
            border-top: 0;
            border-bottom: 0;
            height: 100%;
            line-height: 70px;
            text-align: center;
        }
        .task_cell_more {
            flex-basis: 100px;
            // max-width: 10px;
            min-width: 100px;
            flex: 0 0;
            text-align: right;
            padding-right: 8px;
            flex: auto;
            height: 70px;
            line-height: 70px;
        }
    }
}



.badge {
    background-color: $dark-sky-blue;
    margin: 0 1px !important;
    display: inline;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 12px;
    align-items: center;
    color: #005fd5;
    background-color: #e4edf8;
    border-radius: 10px;
    padding: 2px 10px !important;
}

.badge-todo {
    background-color: $pumpkin-orange;
    color: white;
    border-radius: 10px;
    padding: 2px 10px !important;
}
.badge-inprogress {
    background-color: $turquoise;
    color: white;
    border-radius: 10px;
    padding: 2px 10px !important;
}
.badge-done {
    background-color: $dark-sky-blue;
    color: white;
    border-radius: 10px;
    padding: 2px 10px !important;
}

.status-todo {
    border-left: 3px solid $pumpkin-orange;
}
.status-inprogress {
    border-left: 3px solid $turquoise;
}
.status-done {
    border-left: 3px solid $dark-sky-blue;
}
.nsdone{
    border-left: none !important;
}
.input-date{
    margin-top: 0 !important;
}

.north-star {
    // background: linear-gradient(90.01deg, rgba(94, 47, 229, 0.71) 0.01%, #5a206b 99.99%),
    //     url(/assets/images/bg-north-star.jpg);
    // background-size: cover;
    // background: #5E2FE5;
    color: #ffffff;

    height: 70px;
    padding: 0;
    width: 100%;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 2px auto;
    transition: box-shadow 0.3s ease-in-out;
    background: linear-gradient(90.01deg, #5E2FE5 0.01%, #5E2FE5 99.99%);


    .card-tile {
      padding: 0;
      align-items: center;
      box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
      border-radius: 5px;

      .media-body {
        padding: 10px;
      }

      &:hover {
        cursor: pointer;
      }

      p {
        font-size: 14px !important;
      }
    }

    .title-overview {
      font-size: 15px;
      margin: 15px 0;
      font-weight: bold;
      line-height: 23px;
      text-transform: uppercase;
      color: #969A9E;
    }

    .feed-avatar {
      //avatar image for in-feed display
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
      margin: 5px 10px;
    }

    .overview-task {
      padding-top: 17px;
    }

    .overview-item {
      width: auto;
      font-size: 16px;
      padding-left: 15px;
      font-family: "Nunito", sans-serif;
      font-style: normal;
      font-weight: 400;
      align-items: center;
    }

    .small {
      font-size: 12px;
    }

    .title-nowrap {
      width: 55%;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }

    .row {
      margin-left: 0;
      margin-right: 0;
      align-items: center;
    }

    .percentlabel {
      font-family: "Nunito", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      align-items: center;
      color: #ffffff;
      border-radius: 10px;
      padding: 2px 10px;
      width: fit-content;
    }

    .not_started {
      background-color: #FFAB00 !important;
    }

    .on_track {
      background-color: #26A69A !important;
    }

    .in_danger {
      background-color: #EB5757 !important;
    }

    .achieved {
      background-color: #4A90E2 !important;
    }

    .grouplabel{
      font-family: "Nunito", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      align-items: center;
      background-color: #26A69A;
      color: #ffffff;
      border-radius: 10px;
      padding: 2px 10px;
      width: fit-content;
    }
}
