$border-color:#E4EDF8;
$pumpkin-orange: #FFAB00;
$turquoise: #0bc6a0;
$dark-sky-blue: #4a90e2;

.list {
    .list-wrapper {
        margin-top: 2rem;
        .list-columns {
            .list-column {
                &:not(:first-child) {
                    margin-top: 0;
                }
                .column-title {
                    justify-content: space-between;
                    margin: 24px 0 10px 0;
                    p {
                        font-size: 15px;
                        font-weight: 400;
                        text-transform: uppercase !important;

                    }
                }
            }
        }
    }
}

.header {
    background-color: #fafafa !important;
    border-radius: 0px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.task {
    padding: 0px;
    background: white;
    // border: 1px solid $border-color;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 2px auto;
    transition: box-shadow 0.3s ease-in-out;
    // line-height: 25px;
    // height: 40px;
    //cursor: pointer;
    
    .media {
        // vertical-align: middle;
        align-items: center;
        padding: 10px;

        .list-card-title {
            font-weight: 400;
            font-size: 15px;
            color: #242D3A;
            width: 100%;
            white-space: normal;
        }

        .tags {
            width: 10%;
            text-align: center;
            border: none !important;

            .badge {
                background-color: $dark-sky-blue;
                margin: 0 1px !important;
                display: inline;
                font-family: Nunito,sans-serif;
                font-style: normal;
                font-weight: 700!important;
                font-size: 12px;
                align-items: center;
                color: #005fd5;
                background-color: #e4edf8;
                border-radius: 10px;
                padding: 2px 10px !important;
            }
        }

        .taskStatus {
            width: 10%;
            text-align: center;
        }

        .assignee {
            width: 10%;
            text-align: center;
            
            .feed-avatar{
                width: 35px;
                height: 35px;
                margin: 0;
            }
        }

        .taskDate {
            width: 10%;
            text-align: center;
        }

        .newProperty {
            width: 5%;
            text-align: center;
        }
    }
}

.status-todo{
    border-left: 3px solid $pumpkin-orange;
}
.status-inprogress{
    border-left: 3px solid $turquoise;
}
.status-done{
    border-left: 3px solid $dark-sky-blue;
}


.badge {
    background-color: $dark-sky-blue;
    margin: 0 1px !important;
    display: inline;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 700!important;
    font-size: 12px;
    align-items: center;
    color: #005fd5;
    background-color: #e4edf8;
    border-radius: 10px;
    padding: 2px 10px !important;
}

.badge-todo {
    background-color: $pumpkin-orange;
    color: white;
    border-radius: 10px;
    padding: 2px 10px !important;
}
.badge-inprogress {
    background-color: $turquoise;
    color: white;
    border-radius: 10px;
    padding: 2px 10px !important;
}
.badge-done {
    background-color: $dark-sky-blue;
    color: white;
    border-radius: 10px;
    padding: 2px 10px !important;
}