<div class="list">
    <div class="list-wrapper">
        <!-- HEADER ROW -->
        <div class="list-view-header">
            <div class="header task">
                <div class="media">
                    <div class="media-body">
                        <p>Title</p>
                    </div>

                    <div class="tags">
                        <p>Tags</p>
                    </div>
                    
                    <div class="assignee">
                        <p>Assignee</p>
                    </div>

                    <div class="taskDate">
                        <p>Due Date</p>
                    </div>

                    <div class="customFields" *ngFor="let field of customFieldsToShow" >
                        <p>{{ field.title }}
                            <i class="material-icons"
                                (click)="removeColumn(field)"
                                style="cursor: pointer;">highlight_off</i>
                        </p>
                    </div>

                    <div class="newProperty">
                        <i class="material-icons-outlined" style="cursor: pointer;" [matMenuTriggerFor]="addColumn">add</i>
                    </div>
                    <mat-menu #addColumn="matMenu">
                        <div class="newColumnMatMenu">
                            <p>Add custom field</p>
                            <mat-form-field>
                                <mat-select ngDefaultControl
                                        (selectionChange)="addNewColumn($event)"
                                        (click)="$event.stopPropagation()"
                                        [(ngModel)]="newColumnSelected"
                                        name="new_column">
                                    <mat-option *ngFor="let f of customFields" [value]="f">{{f.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-menu>
                </div>
            </div>
        </div>
        <!-- HEADER ROW -->

        <!-- ALL COLUMN DETAILS STARTS -->
        <div class="list-columns" *ngIf="this.columns">
            <div class="list-column" id="column.title" *ngFor="let column of columns; let i = index;">
                <!-- COLUMN TITLE -->
                <div class="column-title">
                    <p class="text-capitalize"> {{ column?.title }}</p>
                </div>
                <!-- COLUMN TITLE -->

                <!-- TASK CONTAINER STARTS -->
                <div class="tasks-container" [id]="column.title">

                    <!-- CREATE TASK STARTS -->
                    <app-new-task [groupData]="groupData" [userData]="userData" [column]="column"
                        (post)="getPost($event, column)"></app-new-task>
                    <!-- CREATE TASK ENDS -->

                    <!-- TASK DETAILS STARTS -->
                    <div class="task"
                        [ngClass]="{'status-todo': task?.task?.status === 'to do', 'status-inprogress': task?.task?.status === 'in progress', 'status-done': task?.task?.status === 'done'}"
                        *ngFor="let task of column.tasks; let j = index;">
                        
                        <!-- <div class="media" (click)="openModal(content)"> -->
                        <div class="media">
                            <div class="title">
                                <app-inline-input 
                                    [(ngModel)]="task.title"
                                    label="Name"
                                    [domainObject]="task"
                                    [required]="true"
                                    type="text">
                                </app-inline-input>
                            </div>

                            <div class="tags" *ngIf="task?.tags.length <= 1">
                                <span class="badge" *ngFor="let tag of task?.tags">
                                    {{ tag }}
                                </span>
                            </div>
                            <div class="tags" *ngIf="task?.tags.length > 1">
                                <span class="badge">
                                    {{ task?.tags[0] }}
                                </span>
                                <span class="badge">
                                    +{{ task?.tags.length-1 }}
                                </span>
                            </div>

                            <div class="assignee">
                                <app-inline-input
                                    [(ngModel)]="task.task._assigned_to"
                                    [domainObject]="task"
                                    [required]="true"
                                    [workspaceId]="groupData._workspace._id"
                                    [userData]="userData"
                                    [groupId]="groupData._id"
                                    type="assignee">
                                </app-inline-input>
                            </div>

                            <div class="taskDate">
                                <app-inline-input
                                    *ngIf="task.task.due_to != 'Invalid date'"
                                    [(ngModel)]="task.task.due_to"
                                    [ngClass]="checkOverdue(task) === true ? 'overdue' : 'due'"
                                    [domainObject]="task"
                                    [required]="true"
                                    type="date">
                                </app-inline-input>
                            </div>

                            <div class="customFields" *ngFor="let field of customFieldsToShow" >
                                <!--
                                <app-inline-input
                                    [(ngModel)]="task.customFields[field.name]"
                                    [domainObject]="task"
                                    [required]="true"
                                    [options]="customFieldValues(field.name)"
                                    type="customField">
                                </app-inline-input>
                                -->
                                {{ field.name }}
                            </div>

                            <div class="newProperty">
                                <i class="material-icons-outlined ml-2 muted" [matMenuTriggerFor]="menu" style="cursor: pointer;">more_horiz</i>
                                <mat-menu #menu="matMenu">
                                    <a mat-menu-item (click)="openModal(content)">
                                        <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">visibility</i>
                                        <span>View</span>
                                    </a>
                                </mat-menu>

                                <!-- TASK DETAILS STARTS -->
                                <ng-template #content let-modal>
                                    <app-group-create-post *ngIf="userData && checkDataExist(userData)"
                                        [edit]="true" [post]="task" [columns]="columns"
                                        [userData]="userData" [groupId]="groupId" [type]="'task'"
                                        (close)="closeModal()" (moveTask)="moveTaskToColumn($event)"
                                        (taskStatus)="changeStatus(task, $event)"
                                        (member)="changeAssignee(task, $event)"
                                        (date)="changeDueDate(task, $event)"
                                        (post)="changeDetails(task, $event)"
                                        (delete)="removeTask(column, $event)">
                                    </app-group-create-post>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <!-- TASK DETAILS ENDS -->
                </div>
                <!-- TASK CONTAINER ENDS -->
            </div>
        </div>
    </div>
</div>