<div class="list">
    <div class="list-wrapper">
        <!-- ALL COLUMN DETAILS STARTS -->
        <div class="list-columns" *ngIf="sections">

          <mat-accordion multi>
            <mat-expansion-panel class="list-column" style="background-color: #fafafa; box-shadow: none;"  id="column._id" *ngFor="let section of sections; first as isFirst" [expanded]="isFirst" >
              <mat-expansion-panel-header class="column-title">
                <!-- COLUMN TITLE -->
                <mat-panel-title>
                  <!-- SHUTTLE COLUMN -->
                  <i *ngIf="section?._id == (groupData?._shuttle_section?._id || groupData?._shuttle_section)" class="material-icons-outlined">published_with_changes</i>

                  <p class="muted"> {{ section?.title }}</p>
                </mat-panel-title>
                <!-- COLUMN TITLE -->
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <!-- TASK CONTAINER STARTS -->
              <div [id]="section.title">

                <!-- CREATE TASK STARTS -->
                <app-new-task [groupData]="groupData" [userData]="userData" [column]="section" (post)="getPost($event, section)"></app-new-task>
                <!-- CREATE TASK ENDS -->

                <!-- TASKS TABLE STARTS -->
                <app-tasks-table
                  [tasks]="section.tasks"
                  [groupData]="groupData"
                  [userData]="userData"
                  [sections]="sections"
                  [section]="section"
                  [isAdmin]="isAdmin"
                  [customFields]="customFields"
                  [sortingBit]="sortingBit"
                  [filteringBit]="filteringBit"
                  [filteringData]="filteringData"
                  (taskChangeSectionEmitter)="onTaskChangeSection($event)"
                  (taskClonnedEvent)="onTaskClonned($event)"></app-tasks-table>
                <!-- TASKS TABLE ENDS -->
              </div>
              <!-- TASK CONTAINER ENDS -->

            </mat-expansion-panel>
          </mat-accordion>

          <!-- CREATE NEW SECTION START -->
          <app-create-section (section)="addSection($event)"></app-create-section>
          <!-- CREATE NEW SECTION ENDS -->
        </div>
    </div>
</div>
