<!--CREATE TASKS-->

<div class="row" style="margin-bottom: 1%;">
  <div class="col-md-4">
    <button class="btn btn-primary stickybtn" id="task" (click)="openNewTaskModal(newTaskModal)">  <i class="material-icons">check</i> New Task</button>
  </div>
</div>

<!--CREATE TASKS-->
<div class="row">
  <!--TODO TASKS-->
  <div class="col-md-4">
    <div class="kanbanheader kbn-todo">
      To Do
    </div>
    <div *ngIf="isLoading$ | async">
      <div class="load-8">
        <h6><b>Loading Data...</b></h6>
        <div class="line"></div>
      </div>
    </div>
    <div *ngIf="!(isLoading$ | async)">
      <div *ngIf="pendingToDoTaskCount == 1; else noToDoTasks;">
        <div *ngFor="let post of pendingTasks">
          <div class="card" *ngIf="post.task.status == 'to do'">
            <div class="card-block ">
              <div class="card-title">

                <div ngbDropdown #myDrop="ngbDropdown">

                  <img (click)="$event.stopPropagation(); myDrop.toggle();"
                       src="/uploads/{{this.post.task?._assigned_to?.profile_pic}}"
                       id="dropdownToDo" ngbDropdownAnchor (focus)="myDrop.open()"
                       onerror="this.src='/assets/images/user.png'"
                       class="topnav-avatar float-left kbn">
                  <h6 class="kbn">{{post.task?._assigned_to?.first_name}}
                    {{post.task?._assigned_to?.last_name}} <br><span class="small lightgray date">
                                            {{post?.created_date | date : 'medium'}}</span>
                  </h6>
                  <p class="small font-weight-bold" style="margin-top: 5px" *ngIf="post.task?.due_to != 'Invalid date'">
                    due {{post.task?.due_to | date}}</p>

                  <div ngbDropdownMenu aria-labelledby="dropdownTodo">
                    <div *ngFor="let admin of group_admins">
                      <button class="dropdown-item" (click)="changeTaskAssignee(post._id, admin._id)">
                        {{admin?.first_name}}
                        {{admin?.last_name}}
                      </button>
                    </div>
                    <div *ngFor="let member of group_members">
                      <button class="dropdown-item" (click)="changeTaskAssignee(post._id, member._id)">
                        {{member?.first_name}}
                        {{member?.last_name}}
                      </button>
                    </div>

                  </div>

                </div>
                <!--<img src="assets/images/user.png" class="feed-avatar">-->


              </div>
              <div class="card-body">

                                <span class="assigned"> Assigned by {{this.post._posted_by?.first_name}}
                                    {{this.post._posted_by?.last_name}}<br/> in {{this.post._group?.group_name}}
                                    group
                                </span>

                <div ngbDropdown class="d-inline-block float-right status">
                  <button class="btn btn-sm kbn-todo" id="dropdownDone" ngbDropdownToggle>{{post.task.status}}</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownToDo">
                    <button class="dropdown-item" (click)="OnMarkTaskToDo(this.post._id)">To Do</button>
                    <button class="dropdown-item" (click)="OnMarkTaskInProgress(this.post._id)">In
                      Progress
                    </button>
                    <button class="dropdown-item" (click)="OnMarkTaskCompleted(this.post._id)">Done</button>
                  </div>
                </div>


                <ng-template #taskif>
                  <div class="col-md-4 text-right padding-topright">
                    <button class="btn btn-pink btn-sm" id="button_task_mark_completed" (click)="OnMarkTaskCompleted()">
                      Mark
                      complete
                    </button>
                    <p class="small font-weight-bold" style="margin-top: 5px"
                       *ngIf="post.task?.due_to != 'Invalid date'">
                      due {{post.task?.due_to
                      | date}}</p>
                  </div>
                </ng-template>
                <hr>
                <a style="text-decoration:none; color:inherit;"
                href="/#/dashboard/group/{{post._group?._id}}/post/{{post._id}}">
                  <!-- To Do Post Title -->
                  <div class="col-md-12 innercard font-weight-bold" style="font-size: 18px;" [innerHTML]="post?.title | safe: 'html'">
                  </div>
                  <!-- To Do Post Content -->
                  <div class="col-md-12 innercard " [innerHTML]="post?.content | safe: 'html'">
                    <!--<pre class="card-text ">{{post?.content}}
                  </pre>-->
                  </div>
                </a>
                <div class="col-md-12 innercard" *ngFor="let file of post.files">
                  <div class="col-md-12 event-title">Attachment:</div>
                  <div class="col-md-12"> <a role="button" href="javascript:void(null);" (click)="onDownlaodFile(file.modified_name,file.orignal_name)">{{file?.orignal_name}}</a></div>
                </div>
                <div class="row">
                  <div class="col-md-6 text-left">
<span [ngbPopover]="likepopcontent" triggers="mouseenter:mouseleave"><b>{{post?._liked_by.length}}</b>
                        Likes</span>
                    <ng-template #likepopcontent>
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let liked_member of post._liked_by;">
                          {{liked_member.first_name}}
                        </li>
                      </ul>
                    </ng-template>
                  </div>
                  <div class="col-md-6 text-right">

                     <span>
                        <button [routerLink]="['/dashboard/group/', post._group?._id, 'post',post._id]" class="btn btn-link">

                          <i class="material-icons muted" id="icon_comment_post_{{i}}">mode_comment</i>
                        </button>
                      </span>
                    <span>
                        <button class="btn btn-link" (click)="onClickLikePost(i, post)">
                          <i *ngIf="!userLikedPost(post); else likeif" class="material-icons muted"
                             id="icon_like_post_{{i}}">thumb_up</i>
                          <ng-template #likeif><i class="material-icons active"
                                                  id="icon_like_post_{{i}}">thumb_up</i></ng-template>
                        </button>
                      </span>
                    <span>
                        <div ngbDropdown class="d-inline-block"
                             *ngIf="post?._posted_by._id == user_data.user_id || user?.role === 'owner' || user?.role === 'admin'; else editevenif">
                          <i class="material-icons action dropdown-edit" id="dropdownBasic1" ngbDropdownToggle>more_horiz</i>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button (click)="openEditTaskModal(editTaskModal, post)"
                                    class="dropdown-item">Edit Task</button>
                            <button (click)="deleteTask(post)" class="dropdown-item">Delete Task</button>
                          </div>
                        </div>
                        <ng-template #editeventif>
                        </ng-template>
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noToDoTasks>
        <img src='../../../assets/images/empty-todo.svg' style="max-width:80%;">
      </ng-template>
    </div>


  </div>

  <!--INPROGRESS TASKS-->
  <div class="col-md-4">
    <div class="kanbanheader kbn-working">
      In Progress
    </div>
    <div *ngIf="isLoading$ | async">
      <div class="load-8">
        <h6><b>Loading Data...</b></h6>
        <div class="line"></div>
      </div>
    </div>
    <div *ngIf="!(isLoading$ | async)">
      <div *ngIf="pendingInProgressTaskCount == 1; else noInProgressTasks;">
        <div *ngFor="let post of pendingTasks">

          <div class="card" *ngIf="post.task.status == 'in progress'">
            <div class="card-block ">
              <div class="card-title">


                <div ngbDropdown #myDrop="ngbDropdown">

                  <img (click)="$event.stopPropagation(); myDrop.toggle();"
                       src="/uploads/{{this.post.task?._assigned_to?.profile_pic}}"
                       id="dropdownToDo" ngbDropdownAnchor (focus)="myDrop.open()"
                       onerror="this.src='/assets/images/user.png'"
                       class="topnav-avatar float-left kbn">
                  <h6 class="kbn">{{post.task?._assigned_to?.first_name}}
                    {{post.task?._assigned_to?.last_name}} <br><span class="small lightgray date">
                                            {{post?.created_date | date : 'medium'}}</span>
                  </h6>
                  <p class="small font-weight-bold" style="margin-top: 5px" *ngIf="post.task?.due_to != 'Invalid date'">
                    due {{post.task?.due_to | date}}</p>

                  <div ngbDropdownMenu aria-labelledby="dropdownTodo">
                    <div *ngFor="let admin of group_admins">
                      <button class="dropdown-item" (click)="changeTaskAssignee(post._id, admin._id)">
                        {{admin?.first_name}}
                        {{admin?.last_name}}
                      </button>
                    </div>
                    <div *ngFor="let member of group_members">
                      <button class="dropdown-item" (click)="changeTaskAssignee(post._id, member._id)">
                        {{member?.first_name}}
                        {{member?.last_name}}
                      </button>
                    </div>

                  </div>

                </div>

              </div>
              <div class="card-body">

                                <span class="assigned"> Assigned by {{this.post._posted_by?.first_name}}
                                    {{this.post._posted_by?.last_name}}<br/> in {{this.post._group?.group_name}}
                                    group
                                </span>

                <div ngbDropdown class="d-inline-block float-right status">
                  <button class="btn btn-sm kbn-working" id="dropdownDone" ngbDropdownToggle>{{post.task.status}}
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownToDo">
                    <button class="dropdown-item" (click)="OnMarkTaskToDo(this.post._id)">To Do</button>
                    <button class="dropdown-item" (click)="OnMarkTaskInProgress(this.post._id)">In
                      Progress
                    </button>
                    <button class="dropdown-item" (click)="OnMarkTaskCompleted(this.post._id)">Done</button>
                  </div>
                </div>


                <ng-template #taskif>
                  <div class="col-md-4 text-right padding-topright">
                    <button class="btn btn-pink btn-sm" id="button_task_mark_completed" (click)="OnMarkTaskCompleted()">
                      Mark
                      complete
                    </button>
                    <p class="small font-weight-bold" style="margin-top: 5px"
                       *ngIf="post.task?.due_to != 'Invalid date'">
                      due {{post.task?.due_to
                      | date}}</p>
                  </div>
                </ng-template>
                <hr>
                <a style="text-decoration:none; color:inherit;"
                   href="/#/dashboard/group/{{post._group?._id}}/post/{{post._id}}">

                  <!-- IN PROGRESS POST TITLE -->
                  <div class="col-md-12 innercard font-weight-bold" style="font-size: 18px;" [innerHTML]="post?.title | safe: 'html'">
                  </div>
                  <!-- IN PROGRESS POST CONTENT -->
                  <div class="col-md-12 innercard " [innerHTML]="post?.content | safe: 'html'">
                    <!--<pre class="card-text ">{{post?.content}}
              </pre>-->
                  </div>
                  <div class="col-md-12 innercard" *ngFor="let file of post.files">
                    <div class="col-md-12 event-title">Attachment:</div>
                    <div class="col-md-12"> <a role="button" href="javascript:void(null);" (click)="onDownlaodFile(file.modified_name,file.orignal_name)">{{file?.orignal_name}}</a></div>
                  </div>
                </a>
                <div class="row">
                  <div class="col-md-6 text-left">
<span [ngbPopover]="likepopcontent" triggers="mouseenter:mouseleave"><b>{{post?._liked_by.length}}</b>
                        Likes</span>
                    <ng-template #likepopcontent>
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let liked_member of post._liked_by;">
                          {{liked_member?.first_name}}
                        </li>
                      </ul>
                    </ng-template>
                  </div>
                  <div class="col-md-6 text-right">
                    <span>
                        <button [routerLink]="['/dashboard/group/', post._group?._id, 'post',post._id]" class="btn btn-link">

                          <i class="material-icons muted" id="icon_comment_post_{{i}}">mode_comment</i>
                        </button>
                      </span>
                    <span>
                        <button class="btn btn-link" (click)="onClickLikePost(i, post)">
                          <i *ngIf="!userLikedPost(post); else likeif" class="material-icons muted"
                             id="icon_like_post_{{i}}">thumb_up</i>
                          <ng-template #likeif><i class="material-icons active"
                                                  id="icon_like_post_{{i}}">thumb_up</i></ng-template>
                        </button>
                      </span>
                    <span>
                        <div ngbDropdown class="d-inline-block"
                             *ngIf="post?._posted_by._id == user_data.user_id || user?.role === 'owner' || user?.role === 'admin'; else editevenif">
                          <i class="material-icons action dropdown-edit" id="dropdownBasic1" ngbDropdownToggle>more_horiz</i>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button (click)="openEditTaskModal(editTaskModal, post)"
                                    class="dropdown-item">Edit Task</button>
                            <button (click)="deleteTask(post)" class="dropdown-item">Delete Task</button>
                          </div>
                        </div>
                        <ng-template #editeventif>
                        </ng-template>
                      </span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <ng-template #noInProgressTasks>
        <img src='../../../assets/images/empty-progress.svg' style="max-width:80%;">
      </ng-template>
    </div>

  </div>
  <!--COMPLETED TASKS-->
  <div class="col-md-4">
    <div class="kanbanheader kbn-done">Completed</div>
    <div *ngIf="isLoading$ | async">
      <div class="load-8">
        <h6><b>Loading Data...</b></h6>
        <div class="line"></div>
      </div>
    </div>

    <div *ngIf="!(isLoading$ | async)">
      <div *ngIf="this.completedTasks.length != 0; else noCompletedTasks">
        <div class="card" *ngFor="let post of completedTasks">
          <div class="card-block ">
            <div class="card-title">


              <div ngbDropdown #myDrop="ngbDropdown">

                <img (click)="$event.stopPropagation(); myDrop.toggle();"
                     src="/uploads/{{this.post.task?._assigned_to?.profile_pic}}"
                     id="dropdownToDo" ngbDropdownAnchor (focus)="myDrop.open()"
                     onerror="this.src='/assets/images/user.png'"
                     class="topnav-avatar float-left kbn">
                <h6 class="kbn">{{post.task?._assigned_to?.first_name}}
                  {{post.task?._assigned_to?.last_name}} <br><span class="small lightgray date">
                                        {{post?.created_date | date : 'medium'}}</span>
                </h6>
                <p class="small font-weight-bold" style="margin-top: 5px" *ngIf="post.task?.due_to != 'Invalid date'">
                  due {{post.task?.due_to | date}}<br /><span class="small kbn-working-color font-weight-bold" style="margin-left: 4rem;"
                  *ngIf="post.task?.started_at && post.task?.completed_at"> time spent:
                  {{ getTaskTimeSpent(post) }} days</span></p>


                <div ngbDropdownMenu aria-labelledby="dropdownTodo">
                  <div *ngFor="let admin of group_admins">
                    <button class="dropdown-item" (click)="changeTaskAssignee(post._id, admin._id)">
                      {{admin?.first_name}}
                      {{admin?.last_name}}
                    </button>
                  </div>
                  <div *ngFor="let member of group_members">
                    <button class="dropdown-item" (click)="changeTaskAssignee(post._id, member._id)">
                      {{member?.first_name}}
                      {{member?.last_name}}
                    </button>
                  </div>

                </div>

              </div>

            </div>
            <div class="card-body">

                            <span class="assigned"> Assigned by {{this.post._posted_by?.first_name}}
                                {{this.post._posted_by?.last_name}}<br/> in {{this.post._group?.group_name}} group
                            </span>

              <div ngbDropdown class="d-inline-block float-right status">
                <button class="btn btn-sm kbn-done" id="dropdownDone" ngbDropdownToggle>{{post.task.status}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownToDo">
                  <button class="dropdown-item" (click)="OnMarkTaskToDo(this.post._id)">To Do</button>
                  <button class="dropdown-item" (click)="OnMarkTaskInProgress(this.post._id)">In
                    Progress
                  </button>
                  <button class="dropdown-item" (click)="OnMarkTaskCompleted(this.post._id)">Done</button>
                </div>
              </div>

              <ng-template #taskif>
                <div class="col-md-4 text-right padding-topright">
                  <button class="btn btn-pink btn-sm" id="button_task_mark_completed" (click)="OnMarkTaskCompleted()">
                    Mark
                    complete
                  </button>
                  <p class="small font-weight-bold" style="margin-top: 5px" *ngIf="post.task?.due_to != 'Invalid date'">
                    due {{post.task?.due_to
                    | date}}</p> <br /><span class="small kbn-working-color font-weight-bold"
                    *ngIf="post.task?.started_at && post.task?.completed_at"> time spent:
                    {{ getTaskTimeSpent() }} days</span>
                </div>
              </ng-template>
              <hr>
              <a style="text-decoration:none; color:inherit;"
                 href="/#/dashboard/group/{{post._group?._id}}/post/{{post._id}}">
                <!-- COMPLETED POST TITLE -->
                <div class="col-md-12 innercard font-weight-bold" style="font-size: 18px;" [innerHTML]="post?.title | safe: 'html'">
                </div>
                <!-- COMPLETE POST CONTENT -->
                <div class="col-md-12 innercard " [innerHTML]="post?.content | safe: 'html'">
                  <!--<pre class="card-text ">{{post?.content}}
                </pre>-->
                </div>
              </a>
              <div class="row">
                <div class="col-md-6 text-left">
<span [ngbPopover]="likepopcontent" triggers="mouseenter:mouseleave"><b>{{post?._liked_by.length}}</b>
                        Likes</span>
                  <ng-template #likepopcontent>
                    <ul class="list-group">
                      <li class="list-group-item" *ngFor="let liked_member of post._liked_by;">
                        {{liked_member.first_name}}
                      </li>
                    </ul>
                  </ng-template>
                </div>
                <div class="col-md-6 text-right">
                            <span>
                        <button [routerLink]="['dashboard','group', post._group?._id, 'post',post._id]" class="btn btn-link">

                          <i class="material-icons muted" id="icon_comment_post_{{i}}">mode_comment</i>
                        </button>
                      </span>
                  <span>
                        <button class="btn btn-link" (click)="onClickLikePost(i, post)">
                          <i *ngIf="!userLikedPost(post); else likeif" class="material-icons muted"
                             id="icon_like_post_{{i}}">thumb_up</i>
                          <ng-template #likeif><i class="material-icons active"
                                                  id="icon_like_post_{{i}}">thumb_up</i></ng-template>
                        </button>
                      </span>
                  <span>
                        <div ngbDropdown class="d-inline-block"
                             *ngIf="post?._posted_by?._id === this.user_data?.user_id || user?.role === 'owner' || user?.role === 'admin'; else editevenif">
                          <i class="material-icons action dropdown-edit" id="dropdownBasic1" ngbDropdownToggle>more_horiz</i>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button (click)="openEditTaskModal(editTaskModal, post)"
                                    class="dropdown-item">Edit Task</button>
                            <button (click)="deleteTask(post)" class="dropdown-item">Delete Task</button>
                          </div>
                        </div>
                        <ng-template #editeventif>
                        </ng-template>
                      </span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <ng-template #noCompletedTasks>
        <img src='../../../assets/images/empty-done.svg' style="max-width:80%;">
      </ng-template>
    </div>

    <!--<button *ngIf="this.loadCount == 1;" type="button" (click)="OnFetchNextPosts()" class="btn btn-link">-->
      <!--Load More...-->
    <!--</button>-->
  </div>
</div>

<!-- ########## MODALS ########## -->

<!-- CREATE A NEW TASK MODAL -->

<ng-template #newTaskModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create a new task</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 text-right">
        <button type="button" class="btn btn-outline-warning task"
                (click)="openAssignPicker(assignContent)">
          <i class="material-icons">perm_identity</i> {{assignment}}
        </button>
        <button class="btn btn-outline-warning task" type="button"
                (click)="openDatePicker(dateContent)">
          <i class="material-icons">event</i>{{model_date?.day}}-{{model_date?.month}}-{{model_date?.year}}
        </button>
      </div>

    </div>

    <div class="card" style="margin-top:15px">
      <input id="post-title" type="text" name="postTitle" [(ngModel)]="post.title" placeholder="Insert title here ..." style="padding: 12px 15px; font-style: italic; width: 100%; outline: none;" />
      <quill-editor [modules]="modules" id="post-content" [(ngModel)]="post.content" (blur)="onEditorBlured($event)"
                    [spellcheck]="true" name="postContent" (focus)="onEditorFocused($event)"
                    (ready)="onEditorCreated($event)" (onEditorCreated)="onEditorCreated($event)"
                    (change)="onContentChanged($event)"
                    (onContentChanged)="onContentChanged($event)"></quill-editor>
    </div>

    <div class="row" style="margin-bottom: 15px;">
      <div class="col-md-8">
        <button type="button" class="btn btn-link">
          <input id="cin" #fileInput type="file" class="btn btn-outline-warning task" style="display: none"
                 (change)="fileChangeEvent($event)" placeholder="File" multiple />
          <i class="material-icons" (click)="fileInput.click()">attach_file</i>
        </button>

       <button type="button" class="btn btn-link">
         <i class="material-icons" (click)="loadGoogleDrive();">
           cloud_upload
         </i>
       </button>
     </div>

     <div class="row">
      <div class="col-md-12" style="margin-left: 15px;">
        <input type="text" id="tags" (keydown)="addTags($event); this.postboxDisplayed = true" class="tags" placeholder="Add Tag here" name="tag" placement="top" ngbTooltip="Type & hit enter to add a tag">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-1">
        <button type="button" class="btn btn-link">
            <i class="material-icons" placement="top" ngbTooltip="Tags">
                local_offer
                </i>
        </button>
    </div>
    <div class="col-md-10">
    <button class="btn btn-sm btn-outline-primary" style="margin-right: 1rem;" (click)="removeTag(i)" *ngFor="let tag of tags; let i = index" placement="top" ngbTooltip="Click here to remove this tag"><b>X</b> {{tag}}</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="closeCreatePostModal()" class="btn btn-default" id="cancel-task">Cancel</button>
    <button [disabled]="readyToAddTask()" class="btn btn-primary" id="create-task"
            (click)="addNewTaskPost();">Post Task
    </button>


  </div>
  </div>
    <div class="row">
      <div class="col-md-8 ">

        <div id="google-drive-file" style="display:none;"></div>


        <div *ngFor="let file of filesToUpload">
          <p><b>Uploaded file(s): </b>{{file.name}}</p>
        </div>

      </div>

    </div>
  </div>

</ng-template>


<ng-template #editTaskModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit task</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 text-right">
        <button type="button" class="btn btn-outline-warning task"
                (click)="openAssignPicker(assignContent)">
          <i class="material-icons">perm_identity</i> {{assignment}}
        </button>

        <button class="btn btn-outline-warning task" type="button"
                (click)="openDatePicker(dateContent)">
          <i class="material-icons">event</i>{{model_date?.day}}-{{model_date?.month}}-{{model_date?.year}}
        </button>
      </div>

    </div>

    <div *ngIf="modulesLoaded" class="card" style="margin-top:15px">
      <input id="post-title" type="text" [(ngModel)]="edit_post_title" style="padding: 12px 15px; font-style: italic; width: 100%; outline: none;" />
      <quill-editor [modules]="modules" id="post-content" [(ngModel)]="edit_post_content"
                    (blur)="onEditorBlured($event)"
                    [spellcheck]="true" name="postContent" (focus)="onEditorFocused($event)"
                    (ready)="onEditorCreated($event)" (onEditorCreated)="onEditorCreated($event)"
                    (change)="onContentChanged($event)"
                    (onContentChanged)="onContentChanged($event)"></quill-editor>
    </div>

    <div class="row">
      <div class="col-md-12" style="margin-left: 15px;">
        <input type="text" id="edit_tags" (keydown)="addTags($event)" class="tags" placeholder="Add Tag here" [(ngModel)]="tag" name="tag" placement="top" ngbTooltip="Type & hit enter to add a tag">
      </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <button type="button" class="btn btn-link">
                <i class="material-icons" placement="top" ngbTooltip="Tags">
                    local_offer
                    </i>
            </button>
        </div>
        <div class="col-md-10">
        <button class="btn btn-sm btn-outline-primary" style="margin-right: 1rem;" (click)="removeTag(i)" *ngFor="let tag of tags; let i = index" placement="top" ngbTooltip="Click here to remove this tag"><b>X</b> {{tag}}</button>
        </div>
      </div>

    <div class="row" style="margin-bottom: 15px;">
      <div class="col-md-12 text-right">
          <button class="btn btn-default" id="cancel-task" (click)="this.editTaskModalRef.close();">Cancel</button>
        <button [disabled]="readyToEditTask()" class="btn btn-primary" id="create-task" (click)="editPost();">
          Edit Task
        </button>


      </div>
    </div>
  </div>
</ng-template>


<!-- Modal to pick a due date-->

<ng-template style="margin-top: 10px" #dateContent let-c="close" let-d="dismiss">

  <div style="width:100%" class="modal-header">
    <h4 class="modal-title">Select Due Date</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <ngb-datepicker #dp [(ngModel)]="model_date" (navigate)="date = $event.next"></ngb-datepicker>
  </div>

  <div class="modal-footer">
    <!-- in the personal workspace we don't use the assigned members function-->
    <button class="btn btn-primary mb-2 mr-2" (click)="c('Close click')">Done</button>

    <button type="button" class="btn btn-default mb-2 mr-2" (click)="c('Close click')">Cancel</button>
  </div>

</ng-template>

<!--  Modal to Assign calendar event or task to group member -->
<ng-template #assignContent let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Search User</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <angular2-multiselect [data]="groupUsersList" [(ngModel)]="selectedGroupUsers" [settings]="settings"
                          (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                          (onSelectAll)="onSelectAll($event)"
                          (onDeSelectAll)="onDeSelectAll($event)">
      <c-search>
        <ng-template>
          <input type="text" (keyup)="onSearch($event)" placeholder="Name, Email, Username or Phone"
                 style="border: none;width: 100%; height: 100%;outline: none;"/>
        </ng-template>
      </c-search>
      <c-item>
        <ng-template let-item="item">
          <label style="color: #333;width: 150px;">{{item.full_name }}</label>
          <!--  <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;"/> -->

          <label>{{item.capital}}</label>
        </ng-template>
      </c-item>
    </angular2-multiselect>

  </div>
  <div class="modal-footer">
    <button [disabled]="selectedGroupUsers.length == 0 " class="btn btn-primary mb-2 mr-2" (click)="c('Close click')">
      Done
    </button>
    <button type="button" class="btn btn-default mb-2 mr-2" (click)="c('Close click')">Cancel</button>
  </div>

</ng-template>
