* {
    box-sizing: border-box;
  }
  
  h3, h3 code {
    font-size: 20px;
  }
  
  .flex {
    display: flex;
    padding: 8px;
    background: rgba(255, 255, 255, 0.4);
  }
  
  .container {
    flex: 1;
  }
  .container:not(:last-child) {
    margin-right: 8px;
  }
  
  .vamp {
    background: rgba(255, 255, 255, 0.4);
    list-style: none;
    padding: 8px;
    color: #222;
  }
  
  .vamp:not(:last-child) {
    border-bottom: 1px solid #777;
  }
  
  a:link, a:visited, a:hover, a:active { color: lightblue; }
/* Dragula CSS  */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
	list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}
