.content-box {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  background:#fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
}

.tile {
  padding: 0;
  align-items: center;
  border-bottom: 1px solid #E4EDF8;

  .media-body {
    padding: 10px;
  }

  &:hover {
    cursor: pointer;
  }

  p {
    font-size: 14px !important;
  }
}

.title-nowrap {
  width: 55%;
  display: inline-block;
  white-space: nowrap;
  // overflow: hidden !important;
  text-overflow: ellipsis;
  line-height: 40px;
}

.grouplabel {
  font-weight: bold;
  font-size: 12px;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
  padding: 2px 10px;
  width: fit-content;
  display: inline-block;
  margin-left: 20px;
}
