.edit-column {
    margin-bottom: 5%;
    .container{
        display: flex;
        justify-content: space-around;
        button{
            margin-left: auto;
            margin-right: auto;
        }
    }
}

input{
    margin-bottom: 3%;
}