version: "3.3"

services:

  mongodb:
    container_name: auths-mongo
    image: mongo:latest
    restart: always
    volumes:
      - data:/data/db
    ports:
      - 27017:27017

  auths-server:
    container_name: auths-server
    image: auths:server
    restart: always
    build:
      dockerfile: Dockerfile
      context: ./server
    volumes:
      # Avoid overwriting container's node_modules folder
      - /usr/app/node_modules
    depends_on:
      - mongodb
    links:
      - mongodb

volumes:
  data:
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/data/db
      o: bind