<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2> These are uncharted waters...
          </h2>
        <div class="error-details">
          404 Not Found
        </div>
        <div class="error-actions">
          <a routerLink="/home" class="btn btn-primary btn-lg">
            <i class="material-icons">
              home
              </i>
            Take Me Home </a>
          <a href="https://www.octonius.com/contact/" target="_blank" class="btn btn-dark btn-lg">
            <i class="material-icons">
              contact_support
              </i> Contact Support </a >
        </div>
        <img src="assets/images/404.svg" alt="" style="width:70%">

      </div>
    </div>
  </div>
</div>
