.navbar{
    padding: 0px;
    display: flex;
    // height: 28px;
    font-size: 12px;
    font-weight: 400;
    justify-content: flex-end;
    background: #fff;
    top: 84px;
    box-shadow: 0 4px 6px rgba(37, 38, 94, 0.1);
}

.rightside{
  margin-right: 30px;
}

a {
    cursor: pointer;
}

.badge-cf {
  font-size: 12px;
  color: #005fd5;
  span{
    color: #9D9FA1;
    &:hover{
      color: #005fd5;
    }
  }
}

.badge-boardviews {
  font-size: 12px;
  color: #ff6584;
  span{
    color: #9D9FA1;
    &:hover{
      color: #ff6584;
    }
  }
}

.badge-automator {
  font-size: 12px;
  color: #FFAB00;
  span{
    color: #9D9FA1;
    &:hover{
      color: #FFAB00;
    }
  }
}


.badge-filters {
  font-size: 12px;
  color: #9D9FA1;
  span{
    color: #9D9FA1;
    &:hover{
      color: #005fd5;
    }
  }
}

.separator {
  width: 5px;
  border-left: 1px solid #E4EDF8;
}

.cursordefault {
  cursor: default !important;
  width: 200px;
}
.overflowvisible{
  overflow: unset;
}

.selectedPriority{
  position: absolute;
  top:0px;
  right:10px;
}

.dropdownbtn{
  width: 100% !important;
  text-align: left !important;
  border: none !important;
  background: #ffffff !important;
  padding: 0px !important;

}
.dropdownbtn:focus{
  outline: none !important;
}
.dropdownbtn:hover{
  background: rgba(0, 0, 0, 0.001) !important;
}

.label-priority{
  // line-height: 20px;
  // margin-top: 15px;
  width:auto;
}
