.navbar{
    padding: 0px;
    display: flex;
    // height: 28px;
    font-size: 12px;
    font-weight: 400;
    justify-content: flex-end;
    background: #fff;
    top: 85px;
    box-shadow: 0 4px 6px rgba(37, 38, 94, 0.1);
}

.container{
  justify-content: flex-end;
}

a {
    cursor: pointer;
}

.badge-cf{
    // background: $border-color;
    // color: $brand-primary;
    // box-shadow: 0 6px 10px #005fd521;
    font-size: 12px;
    color: #9D9FA1;
  
  }
.separator{
  width: 5px;
  border-left: 1px solid #E4EDF8;
}

  .badge-boardviews{
    // background: #ff6584;
    // color: #fff;
    // box-shadow: 0 6px 10px #005fd521;
    // margin: 5px;
    font-size: 12px;
    color: #9D9FA1;
  }