.board-bar {
    padding: 10px 15px;
 
}

a {
    cursor: pointer;
}

.row {
    float: right;
    margin-bottom: 10px;
}

.createCustomFieldsLink {
    margin-right: .7rem;
    background-color: #E4EDF8;
    padding: 7px;
    line-height: 36px;
    min-width: 36px;
    border-radius: 4px;
}