<nav class="navbar fixed-top">
  <div class="container">
    <div class="rightside">

      <button class="btn badge-cf" *ngIf="isAdmin" [matMenuTriggerFor]="menuSort">
        <i class="material-icons-outlined"> import_export</i> <span>Sort</span>
      </button>

      <span class="separator"></span>

      <button class="btn badge-cf" [matMenuTriggerFor]="menuFilter" *ngIf="isAdmin">
        <i class="material-icons-outlined"> filter_list</i> <span>Filter</span>
      </button>

      <span class="separator"></span>

      <button class="btn badge-cf" *ngIf="isAdmin" (click)="openCustomFieldsDialog()">
        <i class="material-icons-outlined">label</i> <span>Custom Fields</span>
      </button>

      <span class="separator"></span>

      <button class="btn badge-automator" *ngIf="isAdmin" (click)="openAutomatorDialog()">
        <i class="material-icons-outlined">offline_bolt</i> <span>Automator</span>
      </button>

      <span class="separator"></span>

      <button [matMenuTriggerFor]="menu" class="btn badge-boardviews">
        <i class="material-icons-outlined">dashboard</i> <span>Board Views</span>
      </button>

      <mat-menu #menu="matMenu">
        <a mat-menu-item (click)="changeView('kanban')">
          <i class="material-icons-outlined ml-2"  style="margin-right: .7rem;">dashboard</i>
          <span>Kanban Board</span>
        </a>
        <a mat-menu-item (click)="changeView('list')">
          <i class="material-icons-outlined ml-2"  style="margin-right: .7rem;">list</i>
          <span>Table</span>
        </a>
        <a mat-menu-item (click)="changeView('calendar')">
          <i class="material-icons-outlined ml-2"  style="margin-right: .7rem;">calendar_today</i>
          <span>Calendar</span>
        </a>

        <a *ngIf="groupData.project_type" mat-menu-item (click)="changeView('gantt')">
          <i class="material-icons-outlined ml-2"  style="margin-right: .7rem;">align_horizontal_left</i>
          <span>Timeline</span>
        </a>

      </mat-menu>

      <mat-menu #menuSort="matMenu">
        <a mat-menu-item (click)="sortTasks('none')" [ngStyle]="{'color' : (sortby==='none') ? 'green' : 'black'}">
          <i class="material-icons-outlined ml-2"  style="margin-right: .7rem;">import_export</i>
          <span>None</span>
        </a>
        <a mat-menu-item (click)="sortTasks('due_date')"
          [ngStyle]="{'color' : (sortby==='due_date') ? 'green' : 'black'}">
          <i class="material-icons-outlined ml-2"  style="margin-right: .7rem;">import_export</i>
          <span>Due Date</span>
        </a>
        <a mat-menu-item (click)="sortTasks('proirity')"
          [ngStyle]="{'color' : (sortby==='proirity') ? 'green' : 'black'}">
          <i class="material-icons-outlined ml-2"  style="margin-right: .7rem;">import_export</i>
          <span>Priority</span>
        </a>

        <a mat-menu-item (click)="sortTasks('tags')" [ngStyle]="{'color' : (sortby==='tags') ? 'green' : 'black'}">
          <i class="material-icons-outlined ml-2"  style="margin-right: .7rem;">import_export</i>
          <span>Tags</span>
        </a>

        <a mat-menu-item (click)="sortTasks('status')" [ngStyle]="{'color' : (sortby==='status') ? 'green' : 'black'}">
          <i class="material-icons-outlined ml-2"  style="margin-right: .7rem;">import_export</i>
          <span>Status</span>
        </a>

      </mat-menu>

      <mat-menu #menuFilter="matMenu" style="overflow: visible !important;" class="filter-menu">
        <a mat-menu-item (click)="filterTask('none')" [ngStyle]="{'color' : (filterfor==='none') ? 'green' : 'black'}">
          <span>None</span>
        </a>
        <a mat-menu-item (click)="filterTask('mytask')" [ngStyle]="{'color' : (filterfor==='mytask') ? 'green' : 'black'}">
          <span>My Tasks</span>
        </a>
        <span mat-menu-item class="cursordefault overflowvisible" [ngStyle]="{'color' : (filterfor==='users') ? 'green' : 'black'}">
          <!-- <span >Users</span> -->
          <div (click)="$event.stopPropagation();">
            <app-member-list-menu 
            [groupMembers]="groupMembers" 
            [filterfor]="filterfor"
            (userSelctionEmitter)="onUserSelctionEmitter($event)">
            </app-member-list-menu>
          </div>

          <!-- <button mat-button [matMenuTriggerFor]="assigneeSearch" #trigger="matMenuTrigger" class="btn tagslabel">add assignee</button> -->
        </span>

        <span mat-menu-item class="cursordefault overflowvisible" [ngStyle]="{'color' : (filterfor==='due_before_today' || 
        filterfor==='due_today' || 
        filterfor==='due_tomorrow'|| 
        filterfor==='due_week' || 
        filterfor==='due_next_week' || 
        filterfor==='due_14_days') ? 'green' : 'black'}">
          <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
            <span [matMenuTriggerFor]="menuDueDate">
              <span style="cursor: pointer;">Due Date</span>
              <span>
                <div class="label-priority low selectedPriority" [ngStyle]="{'display':(filterfor==='due_before_today' || 
                filterfor==='due_today' || 
                filterfor==='due_tomorrow'|| 
                filterfor==='due_week' || 
                filterfor==='due_next_week' || 
                filterfor==='due_14_days')?'inherit':'none'}">
                {{
                  filterfor==='due_before_today'?"Before today":
                  filterfor==='due_today'?"Today":
                  filterfor==='due_tomorrow'?"Tomorrow":
                  filterfor==='due_week'?"This week":
                  filterfor==='due_next_week'?"Next week":
                  filterfor==='due_14_days'?"Next 14 days":""
                }}</div>
              </span>
            </span>
            <mat-menu #menuDueDate="matMenu">

              <a mat-menu-item (click)="filterTask('due_before_today')" style="margin: 10px;text-decoration: none;">
                <span>Before today</span>
              </a>

              <a mat-menu-item (click)="filterTask('due_today')" style="margin: 10px;text-decoration: none;">
                <span>Today</span>
              </a>

              <a mat-menu-item (click)="filterTask('due_tomorrow')" style="margin: 10px;text-decoration: none;">
                <span>Tomorrow</span>
              </a>

              <a mat-menu-item (click)="filterTask('due_week')" style="margin: 10px;text-decoration: none;">
                <span>This week</span>
              </a>

              <a mat-menu-item (click)="filterTask('due_next_week')" style="margin: 10px;text-decoration: none;">
                <span>Next week</span>
              </a>

              <a mat-menu-item (click)="filterTask('due_14_days')" style="margin: 10px;text-decoration: none;">
                <span>Next 14 days</span>
              </a>

            </mat-menu>
          </div>
        </span>

        <span mat-menu-item class="cursordefault overflowvisible" [ngStyle]="{'color' : (filterfor==='priority_high' || 
        filterfor==='priority_medium' || 
        filterfor==='priority_low') ? 'green' : 'black'}">
          <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
            <span [matMenuTriggerFor]="menuPriority">
              <span style="cursor: pointer;">Priority</span>
              <span>
                <div class="label-priority high selectedPriority" [ngStyle]="{'display':filterfor==='priority_high'?'inherit':'none'}">High</div>
                <div class="label-priority medium selectedPriority" [ngStyle]="{'display':filterfor==='priority_medium'?'inherit':'none'}">Medium</div>
                <div class="label-priority low selectedPriority" [ngStyle]="{'display':filterfor==='priority_low'?'inherit':'none'}">Low</div>
              </span>
            </span>

            <mat-menu #menuPriority="matMenu">

              <a mat-menu-item (click)="filterTask('priority_high')" style="margin: 10px;text-decoration: none;">
                <span>
                  <div class="label-priority high" (click)="filterTask('priority_high')">
                    High
                  </div>
                </span>
              </a>

              <a mat-menu-item (click)="filterTask('priority_medium')" style="margin: 10px;text-decoration: none;">
                <span>
                  <div class="label-priority medium" (click)="filterTask('priority_medium')">
                    Medium
                  </div>
                </span>
              </a>

              <a mat-menu-item (click)="filterTask('priority_low')" style="margin: 10px;text-decoration: none;">
                <span>
                  <div class="label-priority low" (click)="filterTask('priority_low')">
                    Low
                  </div>
                </span>
              </a>
            </mat-menu>
          </div>



          <!-- <span >Priority</span>
          <button class="btn btn-sm text-capitalize dropdown-toggle focus" type="button" id="dropdown"
            data-toggle="dropdown" style="width: 182px;margin-left: 15px;box-shadow: none;">Select</button>
          
            <ul class="dropdown-menu">
            <li class="dropdown-item">
              <span>
                <div class="label-priority high" (click)="filterTask('priority_high')">
                  High
                </div>
              </span>
            </li>
            <li class="dropdown-item">
              <span>
                <div class="label-priority medium" (click)="filterTask('priority_medium')">
                  Medium
                </div>
              </span>
            </li>
            <li class="dropdown-item">
              <span>
                <div class="label-priority low" (click)="filterTask('priority_low')">
                  Low
                </div>
              </span>
            </li>
          </ul> -->
        </span>

      </mat-menu>
    </div>
  </div>
</nav>