.block {
    padding: 10px;
  
}

.header {
    justify-content: space-between;
    margin: 10px;
    align-items: baseline;
}

.mat-mdc-header-row {
    border-radius: 4px;
    background: #F5F5F5;
}