<div class="smart-card" style="padding: 10px;">
  <div *ngIf="!northStar" class="row" style="margin: 0 0 20px; justify-content: space-between;">
    <div class="card-title mt-1" i18n="@@workStatisticsCard.workStatistics">
      Work statistics
    </div>
  </div>
  <div *ngIf="northStar" class="row" style="margin: 0 0 20px; justify-content: space-between;">
    <div class="card-title mt-1" i18n="@@workStatisticsCard.companyObjectives">
      Company Objectives
    </div>
    <div class="icon">
      <i class="material-icons-outlined mr-2">explore</i>
    </div>
  </div>

  <div class="card-icon" *ngIf="!northStar">
    <span class="number">{{ task_count }}</span>&nbsp;<span i18n="@@workStatisticsCard.totalTasks">total tasks</span>
  </div>
  <div class="card-icon" *ngIf="northStar">
    <span class="north_star_number">{{ task_count }}</span>&nbsp;<span i18n="@@workStatisticsCard.northStars">North Stars</span>
  </div>
  <div class="col-12 d-none d-sm-block" style="padding-top: 15px;" *ngIf="chartReady">
    <canvas
      baseChart
      height="250"
      [data]="barChartData"
      [labels]="barChartLabels"
      [chartType]="barChartType"
      [options]="barChartOptions"
      [colors]="barChartColors"
      [plugins]="barChartPlugins"></canvas>
  </div>
</div>
