.media-body {
  width: 100%;
  height: 200px;
}

.level {
  height: 100%;
  overflow: scroll;
  white-space: nowrap;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.has-next-level {
  border-bottom: 1px solid #005FD5;
}

.level::-webkit-scrollbar {
  display: none;
}

.box {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 25px 10px 10px 10px;
  margin: 30px 10px 10px 10px;
  height: 100px;
  min-height: 100px;
  line-height: 0px;
  width: 142px;
  cursor: pointer;
}

.advanced-filters {
  width: 50%;
  margin: 10px 0px;
  display: flex;
  justify-content: left;
}

.filter-label {
  display: flex;
  width: 50%;
}
.filter-cell {
  display: flex;
  width: 50%;
}
