 <!-- Folio wrapper starts here -->

<app-create-table *ngIf="tableShow" (dataToSubmit)="dataFromTableModal($event)"></app-create-table>

<div [ngClass]="{'hide-modal' : !commentBool}" class="comment-modal center">
  <div class="comment-container center">
    <a class="close" (click)="closeComment()">
      <i  class="material-icons" style="cursor: pointer">close</i>
    </a>

    <div class="to-comment-text">
      <h2><span i18n="@@folioEditor.selectedText">Selected Text</span>: </h2>
      <textarea readonly cols="30" rows="4">
        {{ selectedText }}
      </textarea>
    </div>

    <h2><span i18n="@@folioEditor.comment">Comment</span>:</h2>

    <div style="border: 1px solid #7e7b7b; padding: 10px; margin-bottom: 10px;">
      <div #editable2></div>
    </div>

    <button type="submit" class="btn btn-primary btn-block btn_login"
        (click)="submitComment()" i18n="@@folioEditor.submit">
      Submit
    </button>
  </div>
</div>

<div class="folio-container">
  <!-- Quill Editor Component Starts -->
  <div class="editor-section">
    <div #editable class="folio"></div>
  </div>
  <!-- Quill Editor Component Ends -->

  <!-- Comments Starts -->
  <div class="comments-section" *ngIf="metaData && metaData.length > 0">
    <div class="comment-head">
      <h5 class="center" i18n="@@folioEditor.comments"><i class="material-icons">comment</i> COMMENTS</h5>
    </div>

    <div class="comment-area">
      <div class="commentmsg" [ngClass]="{'commentmsg-highlight' : commentsToDisplay.includes(ind)}" (click)="highlight(meta.range)" *ngFor="let meta of metaData;let ind = index">
        <div class="comment-profile">
          <div class="profile">
            
              <app-secured-image *ngIf="meta.profile_pic"
                [imgURL]="meta.profile_pic" [service]="'user'" [inlineStyle]='"cursor: default; height:30px; width:30px"'  [styleClass]="'feed-avatar'"></app-secured-image>


            <h6>{{meta.user_name}}</h6>
          </div>

          <a class="close" (click)="deleteComment(ind)">
            <i  class="material-icons muted" style="cursor: pointer">close</i>
          </a>
        </div>

        <div [innerHTML]="meta.comment"></div>
      </div>
    </div>
  </div>
  <!-- Comments Ends -->
</div>
<!-- Folio wrapper ends here -->
