<form>
    <div mat-dialog-content>
        <p>Add custom field</p>
        <mat-form-field>
            <mat-select ngDefaultControl [(ngModel)]="data.field" name="new_column">
                <mat-option *ngFor="let f of fields" [value]="f">{{f.title}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="data.field" cdkFocusInitial>Add</button>
    </div>
</form>