<div class="block">
    <div class="row">
        <div class="col-md-4">
            <span i18n="@@crmCompanyInformation.name">Name</span>
        </div>
    
        <div class="col-md-8">
            <input type="text" class="form-control" [(ngModel)]="newName" (blur)="fieldEdited('name')" name="name">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <span i18n="@@crmCompanyInformation.description">Description</span>
        </div>
    
        <div class="col-md-8">
            <textarea rows="5" [(ngModel)]="newDescription" class="form-control" (blur)="fieldEdited('description')" name="description"></textarea>
        </div>
    </div>
</div>
