<nav class="navbar navbar-expand-md fixed-top">
  <div class="row" style="margin-left: 2rem;" >

    <a class="navbar-brand" (click)="clickOnBack()" style="cursor: pointer;">
      <i class="material-icons">
        arrow_back
        </i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="material-icons">menu</i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav mr-auto" id="example-one">
        <li class="nav-item" id="li_overview">
          <a style="color: black;" routerLinkActive="active">
            <p style="font-size: 20px; font-weight: bold;" *ngIf="!editing_title" (click)="editing_title= true">            
              <i class="material-icons">
              insert_drive_file
              </i>  {{ document_name }}</p>
              <p style="font-size: 20px; font-weight: bold;">
                <input *ngIf="editing_title" [(ngModel)]="document_name" type="text" id="title" class="tags" (keyup.enter)="saveTitle()" placeholder="Your Doc title here" name="title" placement="right" ngbTooltip="Type & hit enter to add your title"></p>
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
  <div class="row" style="position: fixed; float: right; margin-left: 70%;">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Authors
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li class="dropdown-item" *ngFor = "let author of authorsList"><div class="dot" [ngStyle]="{'background-color': author.color}"></div> {{ author?.name }}</li>
      </ul>
    </div>
  </div>
  <div class="row" style="position: fixed; float:right; margin-left:87%;">
  <b style="color: #00c853; font-size: 16px;">Status: <b style="color: black;">{{ docStatus }}</b></b>    </div>
  <div class="row" style="position: fixed; float: right; margin-left: 79%;">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Export
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li class="dropdown-item" (click)="exportPDF()">Export as (.pdf) File</li>
        <li class="dropdown-item" (click)="exportDOC()">Export as (.doc) File</li>
        <li class="dropdown-item" (click)="exportDOCX()">Export as (.docx) File</li>
      </ul>
    </div>
  </div>
</nav>

