<!-- Normal post -->

<li class="list-group-item" data-show="????">
  <div class="card ">
    <div class="card-block ">
      <div class="row card-title ">
        <div class="col-md-1 ">
          <!--<img [src]="profileImage" class="feed-avatar">-->
          <img src="/uploads/{{post._posted_by?.profile_pic}}" 
               onerror="this.src='/assets/images/user.png'"
               class="feed-avatar"
               [routerLink]="['/dashboard/profile', post._posted_by?._id, 'profile']"/>
        </div>
        <div class="col-md-7">
          <h6>{{post._posted_by?.first_name}} {{post._posted_by?.last_name}} <br>
            <span class="small lightgray date"> {{post?.created_date | date : 'medium' }}</span>
          </h6>
        </div>
      </div>

      <!-- POST TITLE -->

      <div class="col-md-12 innercard font-weight-bold" style="font-size: 18px;">
        <p [style.color]="post.type === 'document' ? '#005fd5' : '#9b9b9b'"><i
        [style.color]="post.type === 'document' ? '#005fd5' : '#9b9b9b'"
        class="material-icons muted"
        id="icon_check_box">insert_drive_file
      </i> <u>Document File:</u></p> 
      </div>

    <div class="col-md-12 innercard font-weight-bold" style="font-size: 24px;" [innerHTML]="post?.title | safe: 'html'">
 
    </div>

      <post-actions
        *ngIf="user"
        [post]="post"
        [user]="user"
        (editPost)="editPost()"
        (deletePost)="deletePost()">
      </post-actions>
    </div>
  </div>
</li>
