<!-- Normal post -->

<li class="list-group-item" data-show="????">
  <div class="card ">
    <div class="card-block ">
      <div class="row card-title ">
        <div class="col-md-1 ">
          <!--<img [src]="profileImage" class="feed-avatar">-->
          <img src="/uploads/{{post._posted_by?.profile_pic}}" 
               onerror="this.src='/assets/images/user.png'"
               class="feed-avatar"
               [routerLink]="['/dashboard/profile', post._posted_by?._id, 'profile']"/>
        </div>
        <div class="col-md-7">
          <h6>{{post._posted_by?.first_name}} {{post._posted_by?.last_name}} <br>
            <span class="small lightgray date"> {{post?.created_date | date : 'medium' }}</span>
          </h6>
        </div>
      </div>
      <!-- Editing Post part-->
      <ng-container *ngIf="displayEditPostSection">
        <div class="col-md-12" style="padding-bottom: 2rem;">
          <button class="btn btn-primary" style="float: right;" contenteditable="false" (click)="OnSaveEditPost()">Save</button>
          <button class="btn btn-default" style="float: right;" contenteditable="false"(click)="displayEditPostSection = false;"> Cancel</button>
          <br />
        </div>
        <div class="col-md-12 innercard">
          <input type="text" [(ngModel)]="edit_title" value="post?.title" style="padding: 12px 15px; font-style: italic; width: 100%; outline: none;" />
          <quill-editor [modules]="modules" type="text" [(ngModel)]="edit_content"
                        [spellcheck]="true" value="post?.content">

          </quill-editor>
        </div>
        <div class="innercard">

            <div class="col-md-6">
                <input type="text" id="tags" (keydown)="addTags($event)" class="tags" placeholder="Add Tag here" [(ngModel)]="tag" name="tag" placement="top" ngbTooltip="Type & hit enter to add a tag">
              </div>
              <br />
            </div>

          <div class="row innercard">
              <div class="col-md-1">
                  <button type="button" class="btn btn-link">
                      <i class="material-icons" placement="top" ngbTooltip="Tags">
                          local_offer
                          </i>
                  </button>
              </div>
              <div class="col-md-10">
              <button class="btn btn-sm btn-outline-primary" style="margin-right: 1rem;" (click)="removeTag(i)" *ngFor="let tag of post?.tags; let i = index" placement="top" ngbTooltip="Click here to remove this tag"><b>X</b> {{tag}}</button>
              </div>
            </div>
      </ng-container>

      <!-- POST TITLE -->
      <div class="col-md-12 innercard font-weight-bold" style="font-size: 18px;" [innerHTML]="post?.title | safe: 'html'">
      </div>

      <!-- ACTUAL POST CONTENT -->
      <div class="col-md-12 innercard" style="border: none;" [innerHTML]="applyZoom(post?.content)  | safe: 'html'">
      </div>

      <post-actions
        *ngIf="user"
        [post]="post"
        [user]="user"
        (editPost)="editPost()"
        (deletePost)="deletePost()">
      </post-actions>
    </div>
  </div>
</li>
