<!-- CARD FOOTER starts -->

<div class="card-footer action-post">
    <div class="row ">
        <div class="col-md-6">
            <span class="stats"><b>{{post?._liked_by.length || 0 }}</b>
                Likes </span>
            <span class="stats" (click)="fetchComments()"><b>{{ post?.comments.length || 0 }}</b> Comments</span>
            <span class="stats"><b>{{post?._followers?.length || 0 }}</b> Followers</span>
        </div>
        <div class="col-md-6 text-right">

            <app-comment-on-post (showCommentEditor)="showCommentditor($event)"></app-comment-on-post>

            <!-- Like Post starts-->
            <app-like-post *ngIf="post && userData" [post]="post" [userData]="userData"></app-like-post>
            <!-- Like Post ends-->

            <!-- Follow Post starts -->
            <app-follow-post *ngIf="post" [post]="post" [userData]="userData"></app-follow-post>
            <!-- Follow Post ends -->

            <app-post-utils *ngIf="post" [post]="post" [userData]="userData" (delete)="deletePost($event)">
            </app-post-utils>
        </div>
    </div>

</div>

<!-- END CARD FOOTER and footer component-->