<!-- CARD FOOTER starts -->

<div class="card-footer action-post innercard">
    <div class="row ">
        <div class="col-md-6" style="display: flex; justify-content: space-between; align-items: flex-start;">
            <span><b>{{post?._liked_by.length || 0 }}</b>
                Likes </span>
            <span><b>{{ post?.comments.length || 0 }}</b> Comments</span>
            <span><b>{{post?._followers?.length || 0 }}</b> Followers</span>
        </div>
        <div class="col-md-6" style="display: flex; justify-content: flex-end; align-items: stretch;">

            <app-comment-on-post></app-comment-on-post>

            <!-- Like Post starts-->
            <app-like-post *ngIf="post && userData" [post]="post" [userData]="userData"></app-like-post>
            <!-- Like Post ends-->

            <!-- Follow Post starts -->
            <app-follow-post *ngIf="post" [post]="post" [userData]="userData"></app-follow-post>
            <!-- Follow Post ends -->

            <app-post-utils *ngIf="post" [post]="post" [userData]="userData" (delete)="deletePost($event)">
            </app-post-utils>
        </div>
    </div>

</div>

<!-- END CARD FOOTER and footer component-->