<div class="container" style="margin-top: 20px">
    <div class="row main-actvity" *ngIf="userData">

        <div class="col-md-4">
            <app-user-information [userData]="userData" [currentUser]="isCurrentUser" ></app-user-information>
        </div>

        <div class="col-md-8">
            <app-user-professional-information [userData]="userData" [currentUser]="isCurrentUser"></app-user-professional-information>

            <app-user-skills [userData]="userData" [currentUser]="isCurrentUser"></app-user-skills>
        </div>
    </div>
</div>