$border-color: #e4edf8;
$pumpkin-orange: #ffab00;
$turquoise: #0bc6a0;
$dark-sky-blue: #4a90e2;

.table-container{
  width: auto;
  max-width: 100%;
  overflow: auto;
  padding-left: 3px;
}

table{
  width: 100%;
}

.mat-column-title{
  width: 300px;
  left: 3px;
}

td.mat-column-star {
  width: 20px !important;
  padding-right: 8px !important;
}

.status-todo {
  border-left: 3px solid $pumpkin-orange;
}

.status-inprogress {
  border-left: 3px solid $turquoise;
}

.tags {
  text-align: center;
  border: none !important;
}

.badge {
  background-color: $dark-sky-blue;
  margin: 0 1px !important;
  display: inline;
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px;
  align-items: center;
  color: #005fd5;
  background-color: #e4edf8;
  border-radius: 10px;
  padding: 2px 10px !important;
}

.feed-avatar {
  //avatar image for in-feed display
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin: 5px 10px;
}

.percentlabel {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
  padding: 2px 10px;
  width: fit-content;
}

.not_started {
  background-color: #FFAB00 !important;
}

.on_track {
  background-color: #26A69A !important;
}

.in_danger {
  background-color: #EB5757 !important;
}

.achieved {
  background-color: #4A90E2 !important;
}


.north-star {
  height: 40px;
  padding: 0;
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 2px auto;
  transition: box-shadow 0.3s ease-in-out;
  background: #E5DEFB;
  border-left: 3px solid #5E2FE5;
}


.cf_cell{
  width: 120px;
}