$border-color: #e4edf8;
$pumpkin-orange: #ffab00;
$turquoise: #0bc6a0;
$dark-sky-blue: #4a90e2;

.table-container{
  max-width: 100%;
  overflow: auto;
  padding-left: 0px;
}

.table-container::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
  display: none;
}


.small{
  font-size: 14px;
}

table{
  width: 100%;
}

.mat-column-title{
  min-width: 300px;
  left:0;
  background: transparent;
}

.mat-column-asignee{
  width: 80px;
}

td.mat-cell:first-of-type{
  padding-left: 0;
}

td.mat-column-star {
  width: 20px !important;
  padding-right: 8px !important;
}

.status-todo {
  border-left: 3px solid $pumpkin-orange;
}

.status-inprogress {
  border-left: 3px solid $turquoise;
}

.status-done {
  border-left: 3px solid $dark-sky-blue;
}

.status-north-star {
  border-left: 3px solid #5E2FE5;
}

.status-milestone {
  border-left: 3px solid #5E2FE5;
}

.statusbar{
  height: 47px;
  line-height: 47px;
  padding-left: 5px;
}


.list-card-title{
  align-self: center;
}

.tags {
  text-align: left;
  border: none !important;
}

.badge {
  background-color: $dark-sky-blue;
  margin: 0 1px !important;
  display: inline;
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px;
  align-items: center;
  color: #005fd5;
  background-color: #e4edf8;
  border-radius: 10px;
  padding: 2px 10px !important;
}

.percentlabel {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
  padding: 2px 10px;
  width: fit-content;
}

.not_started {
  background-color: #FFAB00 !important;
}

.on_track {
  background-color: #26A69A !important;
}

.in_danger {
  background-color: #EB5757 !important;
}

.achieved {
  background-color: #4A90E2 !important;
}


.north-star {
  height: 40px;
  padding: 0;
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 2px auto;
  transition: box-shadow 0.3s ease-in-out;
  background: #E5DEFB;
}

.milestone {
  height: 40px;
  padding: 0;
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 2px auto;
  transition: box-shadow 0.3s ease-in-out;
  background: #E5DEFB;
}


.input-date{
  font-family: "Nunito", sans-serif !important;
}
.cf_cell{
  width: 120px;
  min-width: 120px;
  text-align: center;
}

.ns_cell{
  width: 80px;
}
.newColumnMatMenu{
  padding: 8px 20px;
}

