<li class="list-group-item">
  <div class="card">
    <div class="card-block ">
      <div class="row card-title ">
        <div class="col-md-1 ">
          <img src="/uploads/{{post._posted_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"
               class="feed-avatar">
        </div>
        <div class="col-md-7 ">
          <h6>{{post._posted_by?.first_name}} {{post._posted_by?.last_name}} <br>
            <span class="small lightgray date ">
                      {{post?.created_date| date : 'medium'}}</span>
          </h6>

          <span class="assigned" [ngbPopover]="eventassignedmembers" triggers="mouseenter:mouseleave">Assigned
                      to {{post.event._assigned_to.length}} MEMBERS
                    </span>
          <ng-template #eventassignedmembers>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let element of post.event._assigned_to; let j = index;">
                {{element.first_name}}</li>
            </ul>
          </ng-template>
        </div>
      </div>

      <!-- EDIT EVENT POST -->

      <ng-container *ngIf="displayEditPostSection">
        <div class="col-md-12" style="padding-bottom: 1em;">
          <assign-users-modal
            *ngIf="(post.type === 'event' || post.type === 'task') && !isItMyWorkplace"
            [selectedGroupUsers]="selectedGroupUsers"
            (usersSelected)="usersSelected($event)"
            [settings]="settings"
            [type]="post.type"
            [group]="group">
          </assign-users-modal>
          <date-picker-modal [model_date]="model_date" (picked_date)="setDate($event)"></date-picker-modal>
          <time-picker [model_time]="model_time" (picked_time)="setTime($event)"></time-picker>
          <button class="btn btn-primary" style="float: right;" contenteditable="false" (click)="OnSaveEditPost()">Save</button>
          <button class="btn btn-default" style="float: right;" contenteditable="false"(click)="displayEditPostSection = false;"> Cancel</button>
        </div>
        <div class="col-md-12 innercard">
          <quill-editor [modules]="modules" type="text" [(ngModel)]="edit_content"
                        [spellcheck]="true" value="post?.content" (blur)="onEditorBlured($event)"
                        (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)"></quill-editor>
        </div>
        <div class="innercard">
            <div class="col-md-6">
              <input type="text" id="tags" (keydown)="addTags($event)" class="tags" placeholder="Add Tag here" [(ngModel)]="tag" name="tag" placement="top" ngbTooltip="Type & hit enter to add a tag">
            </div>
            <br />
          </div>

          <div class="row innercard">
              <div class="col-md-1">
                  <button type="button" class="btn btn-link">
                      <i class="material-icons" placement="top" ngbTooltip="Tags">
                          local_offer
                          </i>
                  </button>
              </div>
              <div class="col-md-10">
              <button class="btn btn-sm btn-outline-primary" style="margin-right: 1rem;" (click)="removeTag(i)" *ngFor="let tag of post?.tags; let i = index" placement="top" ngbTooltip="Click here to remove this tag"><b>X</b> {{tag}}</button>  
              </div>
            </div>
      </ng-container>


      <!-- event post content -->
      <div class="col-md-12 innercard ">
        <div class="row" style="margin-top:10px">
          <div class="col-md-2 dateblock">
            <span class="bigdate">{{post?.event.due_to | amLocal | date :'dd' }}</span>
            <br>
            <span class="time">{{post?.event.due_to | amLocal | date: 'MMMM' }}</span>
            <br>
            <span class="time">{{post.event.due_to | amLocal | date:'HH:mm'}}</span>
          </div>
          <div class="col-md-9 event-title" [innerHTML]="post?.content | safe: 'html' ">

          </div>

        </div>

      <div class="col-md-12 innercard" *ngFor="let file of post.files">
        <div class="col-md-12 event-title">Attachment:</div>
        <div class="col-md-12"> <a role="button" href="javascript:void(null);" (click)="onDownloadFile(file.modified_name,file.orignal_name)">{{file?.orignal_name}}</a></div>
      </div>

            <!--POST TAGS-->
            <div class="row innercard" style="margin-top: 2rem;" *ngIf="post?.tags?.length > 0">
                <div class="col-md-12">
                    <span> <i class="material-icons tagslabel" placement="bottom" ngbTooltip="Tags">
                       local_offer
                       </i></span>
                     <span class="tagsbtn" style="margin-right: 0.5rem;" *ngFor="let tag of tags; let i = index">{{tag}}</span>  
                     </div>
              </div> 
      
            </div>

      <!-- POST ACTIONS -->

      <post-actions
        *ngIf="user"
        [post]="post"
        [commentCount]="commentCount"
        [commentsDisplayed]="commentsDisplayed"
        [user]="user"
        (toggleComments)="toggleComments()"
        (sendComments)="setComments($event)"
        (togglePostCommentEditor)="togglePostCommentEditor()"
        (editPost)="editPost()"
        (deletePost)="deletePost()">
      </post-actions>
    </div>
  </div>

  <!-- EVENT POST COMMENT SECTION -->

  <comment-section
    [post]="post"
    [(commentsDisplayed)]="commentsDisplayed"
    [modules]="modules"
    [user]="user"
    [allMembersId]="allMembersId"
    [user_data]="user_data"
    [socket]="socket"
    [group]="group"
    [comments]="comments"
    [(commentCount)]="commentCount">
  </comment-section>
</li>

