<!-- Graph Settings -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Graph Settings
      </mat-panel-title>
      <mat-panel-description>
        Customise the graph by your own way for better visualisation
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Select Chart Type</mat-label>
        <mat-select [(value)]="chartType" (valueChange)="changeChartType($event)">
            <mat-option [value]="'bar'">Bar Chart</mat-option>
            <mat-option [value]="'doughnut'">Doughnut Chart</mat-option>
            <mat-option [value]="'line'">Line Chart</mat-option>
            <mat-option [value]="'pie'">Pie Chart</mat-option>
            <mat-option [value]="'radar'">Radar Chart</mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Select Label (Base) Column</mat-label>
        <mat-select placeholder="Select the base column for your chart" (valueChange)="changeBaseColumn($event)">
            <mat-option *ngFor="let column of columns" [value]="column">
              {{ column }}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Select Values Column</mat-label>
        <mat-select  placeholder="Select the corresponding numeric values column for your chart" (valueChange)="changeValueColumn($event)">
            <mat-option *ngFor="let column of columns" [value]="column">
              {{ column }}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <mat-action-row>
        <button mat-raised-button color="primary" (click)="compute(); this.showGraph = true">Compute Graph</button>
      </mat-action-row>
  </mat-expansion-panel>
  <!-- Graph Settings -->

  <!-- Graph Display -->
  <div style="display: block" *ngIf="showGraph">
    <canvas baseChart
                [datasets]="datasets"  
                [data]="data"
                [labels]="labels"
                [chartType]="chartType"
                [options]="options">
    </canvas>
  </div>
  <!-- Graph Display -->