<!-- Graph Settings -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n="@@genericGraph.graphSettings">
        Graph Settings
      </mat-panel-title>
      <mat-panel-description i18n="@@genericGraph.customiseGraphYourWay">
        Customise the graph by your own way for better visualisation
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label i18n="@@genericGraph.selectChartType">Select Chart Type</mat-label>
        <mat-select [(value)]="chartType" (valueChange)="changeChartType($event)">
            <mat-option [value]="'bar'" i18n="@@genericGraph.barChart">Bar Chart</mat-option>
            <mat-option [value]="'doughnut'" i18n="@@genericGraph.doughnutChart">Doughnut Chart</mat-option>
            <mat-option [value]="'line'" i18n="@@genericGraph.lineChart">Line Chart</mat-option>
            <mat-option [value]="'pie'" i18n="@@genericGraph.pieChart">Pie Chart</mat-option>
            <mat-option [value]="'radar'" i18n="@@genericGraph.radarChart">Radar Chart</mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label i18n="@@genericGraph.selectlabelColumn">Select Label (Base) Column</mat-label>
        <mat-select placeholder="Select the base column for your chart" (valueChange)="changeBaseColumn($event)">
            <mat-option *ngFor="let column of columns; trackBy: utilityService.trackByIndex" [value]="column">
              {{ column }}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label i18n="@@genericGraph.selectValuesColumn">Select Values Column</mat-label>
        <mat-select  placeholder="Select the corresponding numeric values column for your chart" (valueChange)="changeValueColumn($event)">
            <mat-option *ngFor="let column of columns; trackBy: utilityService.trackByIndex" [value]="column">
              {{ column }}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <mat-action-row>
        <button mat-raised-button color="primary"
          (click)="compute(); this.showGraph = true"
          i18n="@@genericGraph.computeGraph">Compute Graph
        </button>
      </mat-action-row>
  </mat-expansion-panel>
  <!-- Graph Settings -->

  <!-- Graph Display -->
  <div style="display: block" *ngIf="showGraph">
    <canvas baseChart
                [datasets]="datasets"
                [data]="data"
                [labels]="labels"
                [type]="chartType"
                [options]="options">
    </canvas>
  </div>
  <!-- Graph Display -->
