.new-record-form {
	margin: 20px;

	.actions {
		margin-top: 20px;
	}
}

.list-records {
	margin-top: 50px;
}

.flexform{
	display: flex;
	width: 100%;
	height: 44px;
	padding: 2px 12px;
	align-items: center;
	.calendar{
		width: 210px;
		padding: 6px;
	}
	.time_spent{
		border:1px solid #ced4da;
		border-radius: 4px;
		padding: 6px;
	}
	
	.category{
		width: 200px;	
	}
	.user{
		width: auto;
		
	}
}

