.dialog-content {
  background-color: #F3F4F6;
  width: 100%;
  padding-bottom: 1px;

  .action-box {
      color: #969A9E;
      background: #FFFFFF;
      border: 1px solid #E4EDF8;
      border-radius: 5px;
      padding: 5px;
  }

  .content {
    width: 90%;
    margin-top: -21px;

    p.title {
      font-family: Nunito;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #242d3a;
      margin-bottom: 12px !important;
    }

    .save-content {
        margin-bottom: 10px;
    }
  }
}
