<!-- GROUP DETAIL MODAL STARTS -->

<!-- GROUP HEADER STARTS -->
<div class="modal-header">
    <h4 class="modal-title" i18n="@@groupImageDetails.updateYourGroupAvatar">Update your group avatar</h4>
</div>
<!-- GROUP HEADER ENDS -->

<!-- GROUP MODAL CHANGE IMAGE STARTS -->
<div class="modal-body">
    <div class="form-group">
        <app-secured-image
          [imgURL]="groupData?.group_avatar"
          [service]="'group'"></app-secured-image>
        <app-crop-image class="container" [resizeToWidth]="300" [cropperMinWidth]="300" (outputImage)="getCroppedImage($event)"></app-crop-image>
    </div>
</div>
<!-- GROUP MODAL CHANGE IMAGE ENDS -->

<!-- GROUP FOOTER STARTS -->
<div class="modal-footer">
    <button appDebounceClick type="button" class="btn btn-success" (click)="updateImage()" i18n="@@groupImageDetails.updateYourImage">Update your Image!</button>
</div>
<!-- GROUP FOOTER ENDS -->

<!-- GROUP DETAIL MODAL ENDS -->
