.content-box {
  font-family: Nunito;
  background: #5E2FE5;
  color: #F3F4F6;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;

  .box-title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 10px;
    color: #F3F4F6;
  }

  p {
    font-size: 13px;
  }

  .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }

  .timeline:before {
      top: 40px;
      bottom: 30px;
      position: absolute;
      content: " ";
      width: 1px;
      background-color: #f3f4f6;
      left: 5%;
      margin-left: -1.5px;
  }

  .timeline > li {
      position: relative;
  }

  .timeline > li:before,
  .timeline > li:after {
      content: " ";
      display: table;
  }

  .timeline > li:after {
      clear: both;
  }

  .timeline > li:before,
  .timeline > li:after {
      content: " ";
      display: table;
  }

  .timeline > li:after {
      clear: both;
  }

  .timeline > li > .timeline-panel {
      width: 90%;
      position: relative;
      left: 7%;
      display: inline-flex;
  }

  .timeline > li > .timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
  }

  .timeline > li > .timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
  }

  .timeline > li > .timeline-badge {
      color: #fff;
      width: 10px;
      height: 10px;
      line-height: 50px;
      font-size: 1.4em;
      text-align: center;
      position: absolute;
      top: 16px;
      left: 7.1%;
      margin-left: -25px;
      background-color: #3f903f !important;
      z-index: 100;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
  }


  .timeline-status {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    align-items: center;
    color: #ffffff;
    border-radius: 10px;
    padding: 2px 10px;
    width: fit-content;
  }

  .not_started {
    background-color: #FFAB00 !important;
  }

  .on_track {
    background-color: #26A69A !important;
  }

  .in_danger {
    background-color: #EB5757 !important;
  }

  .achieved {
    background-color: #4A90E2 !important;
  }

  .timeline-date {
    margin-right: 250px;
    margin-top: 10px;
  }

  .timeline-value {
    margin-right: 300px;
    margin-top: 10px;
  }

  .timeline-status {
      margin-top: 10px;
  }

  @media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
  }
}

.not_started {
  background-color: #FFAB00 !important;
}

.on_track {
  background-color: #26A69A !important;
}

.in_danger {
  background-color: #EB5757 !important;
}

.achieved {
  background-color: #4A90E2 !important;
}
