.block {
    padding: 10px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    text-align: left;

    h2 {
        /* Big title 24 */
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
    }

}

.row {
    margin: 10px;
}