
@import "../../../assets/scss/variables";

.navig {
    padding-top: 30px;
    margin: auto;
}
.card {
    padding: 0;
    border-radius: $card-radius;
}
.card-img-top{
  width: 100%;
  height: 160px;
  border-radius: $card-radius;
}
