
@import "../../../assets/scss/variables";

.navig {
    padding-top: 30px;
    margin: auto;
}
.card {
    padding: 5px;
    border-radius: $card-radius;
    border: none !important;
    margin:0;
    background: transparent !important;
    .card-body{
        background: #fff;
    }
}
.card-img-top{
  width: 100%;
  height: 110px;
  border-radius: $card-radius;
  object-fit: cover;
}
