
@import "../../../assets/scss/variables";

.navig {
    padding-top: 30px;
    margin: auto;
}
.card {
    padding: 5px;
    border-radius: $card-radius;
    border: none !important;
    margin:0;
    background: transparent !important;
    .card-body{
        background: #fff;
    }
    .card-title{
        margin-bottom: 0px !important!;
    }
}
.card-img-top{
  width: 100%;
  height: 180px;
  border-radius: $card-radius;
  object-fit: cover;
}

.badge-members{
background: #fff;
font-weight: 700;
text-align: center;
color: #005fd5;
position: absolute;
right:20px;
top:20px;
}