<div class="container-fluid h-100 welcome">

  <div class="row h-100">

      <!-- OCTONIUS BRANDING PANEL STARTS -->
      <app-branding-panel [routerState]="'reset-password'" class="col-md-8 overlay"></app-branding-panel>
      <!-- OCTONIUS BRANDING PANEL ENDS -->

      <!-- FORM STARTS -->
      <div class="col-md-4 shaddow">
        <div class="user-form">
          <!-- HEADING FOR NEW SIGNUP FORM COMPONENT -->
          <h3 i18n="@@resetPassword.resetYourPassword">Reset your password</h3>
          <!-- HEADING FOR NEW SIGNUP FORM COMPONENT -->

          <!-- FORM FIELD FOR NEW WORKPLACE, SIGNIN & SIGNUP COMPONENT -->
          <div class="form-group">
            <label for="password" i18n="@@resetPassword.password">Password</label>
            <input type="password" [(ngModel)]="user.password" class="form-control" name="password">
          </div>
          <!-- FORM FIELD FOR NEW WORKPLACE, SIGNIN & SIGNUP COMPONENT -->

          <!-- FORM FIELD FOR NEW WORKPLACE & SIGNUP COMPONENT -->
          <div class="form-group">
              <label for="repeatPassword" i18n="@@resetPassword.repeatPassword">Repeat Password</label>
              <input type="password" (focusout)="matchUserPassword()" [(ngModel)]="user.repeatPassword"
                      class="form-control" name="repeatPassword">
          </div>
          <!-- FORM FIELD FOR NEW WORKPLACE & SIGNUP COMPONENT -->


          <!-- SUBMIT BUTTON SIGN UP COMPONENT -->
          <button appDebounceClick type="submit" class="btn btn-primary"
            (click)="resetPassword(resetPwdId, user?.password, user?.repeatPassword)"
            i18n="@@resetPassword.resetPassword">
              Reset password
          </button>
          <!-- SUBMIT BUTTON SIGN UP COMPONENT -->
        </div>

      </div>
      <!-- FORM ENDS -->
  </div>
</div>
