<div class="btn-group">
    <!-- Time Picker Toggle starts -->
    <button appDebounceClick class="btn btn-outline-primary dropdown-toggle btn-sm"
        type="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false" [disabled]="!canEdit">
        {{ timeModal.hour + ":" + timeModal.minute }}
    </button>
    <!-- Time Toggler ends -->

    <!-- Input Placeholder for date picker starts -->
    <div class="dropdown-menu">
        <div class="time-picker" (click)="$event.stopPropagation()">
            <ngb-timepicker
                [ngModel]="timeModal"
                (ngModelChange)="emitTime($event)">
            </ngb-timepicker>
        </div>
    </div>
    <!-- Input Placeholder for date picker ends -->
</div>
