@import "src/assets/scss/variables";
@import "src/assets/scss/main";

.container {

  margin-top: 120px;

  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 25%;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.workspace-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }

  tr.workspace-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .workspace-row td {
    border-bottom-width: 0;
  }

  .workspace-detail {
    overflow: hidden;
    display: flex;
    margin-left: 50px;

    span {
      font-weight: bold;
    }
  }

  .workspace-description {
    padding: 16px;
    margin-left: 100px;
  }
}
