<div class="container">

  <app-admin-page-header></app-admin-page-header>
  <div class="jumbotron jumbotron-fluid">
    <div class="admin-info">
      <h4>company status</h4>
      <p>12 Admin users</p>
      <p>1200 Members</p>
      <p>30 Guests</p>
      <p>3 Groups</p>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="workspace-signupmode">
      <h4>Workspace signup mode</h4>
      <p>Choose to make your workspace signup process invition only,or allow anyone else with a certain email adress format
        to signup</p>

      <div class="form-group">
        <label for="email">Using the WORKSPACE NAME,any email adress from these domain can signup:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
        <label for="email">To allow eamil address from mulltiple domains,separate them commas. </label>
      </div>
    </div>
  </div>


  <div class="jumbotron jumbotron-fluid">
    <div class="invite-users">
      <h4>Invite individual users by email</h4>
      <p>The option is mainly for inviting super-admins,group admins and external guests.</p>

      <div class="form-group">
        <label for="usr">Email:</label>
        <input type="text" class="form-control" id="usr">
      </div>

      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          select role
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">admin</a>
          <a class="dropdown-item" href="#">member</a>
        </div>
      </div>
      <br>
      <button type="button" class="btn btn-primary">Invite</button>


    </div>
  </div>
</div>
