<div class="container">

  <app-admin-page-header></app-admin-page-header>

  <div class="row main-actvity">
    <div class="col-md-4">
      <div class="row sidecontent">

        <div class="card sideinnercard">
          <div class="card-block">
            <h6 class="card-title">Workplace Info</h6>
            <hr/>
            <p class="card-text">{{workspace?.members.length}} Members</p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-8">
      <div class="card-tile workspace-signupmode">
        <h4>Workspace signup mode</h4>
        <p>Choose to make your workspace signup process invition only,or allow anyone else with a certain email adress format
          to signup</p>
        <div style="position: fixed; margin-top: 20px">
          <flash-messages></flash-messages>
        </div>
        <div class="form-group">
          <label for="email">Using the WORKSPACE NAME,any email adress from these domain can signup:</label>
          <textarea class="form-control" rows="5" id="domains" [(ngModel)]="data.domains" name="domains"></textarea>
          <label for="domains">To allow eamil address from mulltiple domains,separate them commas.</label>
        </div>
        <button class="btn btn-primary" (click)="onDoaminsSave()">Save</button>
      </div>




      <div class="card-tile invite-users">
        <h4>Invite individual users by email</h4>
        <p>The option is mainly for inviting super-admins,group admins and external guests.</p>

        <div class="form-group">
          <label for="usr">Email:</label>
          <input type="text" class="form-control" id="usr" [(ngModel)]="invitionData.email" name="email">
        </div>

    
        <button type="button" class="btn btn-primary" (click)="onInviteNewUserViaEmail()">Invite</button>

      </div>

    <div class="card-tile">
      <h4>Users</h4>
    <div class="media card-tile user-list" *ngFor="let member of workspace.members">
      <img class="mr-3" src="https://randomuser.me/api/portraits/med/women/49.jpg" alt="Generic placeholder image">
      <div class="media-body">
        <div class="float-left">
          <h4 class="mt-0">{{member?.first_name}}  {{member?.last_name}}</h4>
          <p>Role: {{member?.role}}</p>
        </div>

        <div class="dropdown">
          <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons float-right">more_horiz</i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>


      </div>
    </div>
    </div>


    </div>
  </div>
