<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 welcome">

      <h1 class="white">
        <i class="icon-octo-logo"></i>Octonius</h1>
      <h4 class="white">Everything happening in your organizzation happens here.</h4>

      <div style="margin-top:30px">
        <p class="white">If you already have an account</p>
        <button type="submit" class="btn btn-outline-light" routerLink="/signin">Sign in</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="signup-form" style="padding-top:100px">
        <form>
          <h4>Create a new workspace</h4>

          <div class="form-group">
            <label for="work-email">Enter your wrok email</label>
            <input type="email" class="form-control" id="work-email">
          </div>

          <div class="form-group">
            <label for="password">Enter your password</label>
            <input type="password" class="form-control" id="password">
          </div>


          <div class="form-group">
            <label for="repeat-password">Repeat your password</label>
            <input type="password" class="form-control" id="repeat-password">
          </div>

          <div class="form-group">
            <label for="first-name">Enter your first name</label>
            <input type="text" class="form-control" id="first-name">
          </div>

          <div class="form-group">
            <label for="last-name">Enter your last name</label>
            <input type="text" class="form-control" id="last-name">
          </div>

          <button type="submit" class="btn btn-primary btn-block" routerLink="">Done</button>
        </form>
      </div>
    </div>



  </div>
