.no-margin{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.container {
  margin-top: 30px;
}

.card-img-top{
  width: 100%;
  object-fit: cover;
}

input {
  display: none;
}