<div class="card-tile">
    <div class="card-block">
      <!-- Template Heading starts -->
      <h6 class="card-title"><b i18n="@@userprofileCF.profileFileds">Profile Fields</b></h6>
      <!-- Template Heading ends -->

      <hr />

      <!-- Iterate over all the skills present for a particular user starts -->
      <div *ngFor="let cf of customFields" class="d-flex custom-field justify-content-start mb-3 row">
        <p class="col">{{ cf.title }}</p>

        <div *ngIf="!cf.user_type" class="col">
          <mat-select ngDefaultControl
              *ngIf="currentUser"
              [(value)]="selectedCFValues[cf.name]"
              (selectionChange)="onCustomFieldChange($event, cf.name)"
              appearance="fill" class="col">
              <mat-select-trigger>{{ selectedCFValues[cf.name] }}</mat-select-trigger>
              <mat-option *ngFor="let val of cf.values" [value]="val">{{ val }}</mat-option>
          </mat-select>

          <span *ngIf="!currentUser">{{ selectedCFValues[cf.name] }}</span>
        </div>

        <div *ngIf="cf.user_type" class="col">
          <app-select-assignee
            [userData]="selectedCFValues[cf.name]"
            [workspaceData]="workspaceData"
            [showBar]="currentUser"
            type="workspaceMembers"
            (member)="selectUser(cf.name, $event)"></app-select-assignee>
        </div>
        <!-- Clean field starts -->
        <i (click)="saveCustomField(cf.name, null);" class="material-icons muted mr-5" style="cursor: pointer; font-size: 14px; margin-left: 10px;">remove_circle_outline</i>
        <!-- Clean field ends -->
      </div>
      <!-- Iterate over all the skills present for a particular user ends -->
    </div>
</div>
