li {
    display: flex;
    justify-items: flex-start;
    justify-content: space-between;
}

.custom-field {
    display: table;
    margin-bottom: 10px;

    p {
        color: #5E6268;
        font-size: 15px;
        display: table-cell;
        vertical-align: middle;
    }
    /*TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
    mat-select{
        background-color: rgba(0,0,0,0.04);
        border-radius: 4px 4px 0 0;
        padding: 5px;
        //display: table-cell;
        vertical-align: middle;
    }
}
