<div style="margin-top: 40px">
  <div class="row header">
    <h4 i18n="@@crmCompanyUpdates.updates">Updates</h4>

    <button class="btn btn-warning btn-sm" (click)="addNewUpdate()">
      <i class="material-icons-outlined">add</i>
      <span i18n="@@crmCompanyUpdates.newUpdate">Add</span>
    </button>
  </div>

  <div
    class="row pointer updates"
    *ngFor="
      let update of companyData?.updates;
      trackBy: utilityService.trackByIndex
    "
    (click)="openUpdateDialog(update)"
  >
    <div class="col-md-11" style="display: flex;">
      <app-avatar [photoUrl]="update?._created_user?.profile_pic" [userData]="userData" [tooltip]="update._created_user.first_name + ' ' + update._created_user.last_name"
        [alt]="update._created_user.first_name + ' ' + update._created_user.last_name" [styleClass]="'assignee-avatar'"
        ></app-avatar>
      <div>
        <span>{{ update?.description }}</span>
        <div class="small lightgray date" >{{ formateDate(update?.date) }}</div>
      </div>
      
    </div>
     
      
      
     
    
    <div class="col-md-1" style="display: flex; align-items: center;">
      <span (click)="$event.stopPropagation(); deleteUpdate(update?._id)">
        <i class="material-icons-outlined muted">delete</i>
      </span>
    </div>
  </div>
</div>
