.chat-header {
    position: absolute;
    top: 0;
    background-color: #ffffff;
    opacity: 1;
    width: 100%;
    z-index: 1;
}

.chat-content {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 390px;
    min-height: 390px;
    bottom: 40px;
    position: absolute;
    width: 100%;
}
.chat-input {
    bottom: 0px;
    position: absolute;
    width: 100%;
}
.social-icons{
    font-size: 24px;
}
.content-box{
    padding: 16px;
}
