.postbox{
    outline: none; 
    box-shadow: none !important; 
    margin-top: 12px;
    border: 0px solid #ccc !important; 
    text-align: left; 
    cursor: pointer;
}

// Adding pointer to image
img{
    cursor: pointer;
    margin-top: 8px;
    transition: transform .2s ease;
  }
  
  img:hover{
    transform: scale(1.1);
  }

  .noborder-btn{
    border:0 !important;
    :focus{
      border: 0! important;
    }
  }

.show-container {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.hide-container {
  display: none;
}