<div class="card" (click)="openModal()" style="padding:0">
    <div class="card-block">
        <div class="postboxheader card-title">
            <div class="d-none d-sm-block">
              <app-secured-image
                [imgURL]="userData?.profile_pic"
                [service]="'user'"
                [styleClass]="'feed-avatar'"></app-secured-image>
            </div>

            <div *ngIf="!showPostBox">
              <button type="text"
                  class="form-control btn-md noborder-btn postbox"
                  placeholder="What are you working on?"
                  i18n="@@groupPostbox.whatAreYouWorkingOn">
                  What are you working on, <strong>{{ userData?.first_name }}</strong>?
              </button>
            </div>
            <!--
            <section  [ngClass]="(showPostBox) ? 'show-container' : 'hide-container'">
                <app-group-post-selection  *ngIf="userData && checkDataExist(userData)"
                    [userData]="userData"
                    [groupId]="groupId"
                    (post)="getPost($event)"
                    (edited)="editedPost($event)">
                </app-group-post-selection>
            </section>
            -->
        </div>

        <!-- Modal Template for post creation starts -->
        <!-- <ng-template #content let-modal>
          <app-group-post *ngIf="userData && checkDataExist(userData)" [userData]="userData" [groupId]="groupId"
            [type]="'normal'" (post)="getPost($event)" (edited)="editedPost($event)" (close)="closeModal()">
          </app-group-post>
        </ng-template> -->
        <!-- Modal Template for post creation ends -->
    </div>
</div>
