<div class="btn-group">
    <!-- Date Picker Toggle starts -->
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        {{ selectedDate | date:'fullDate' }}
    </button>
    <!-- Date Picker Toggle ends -->

    <!-- Input Placeholder for date picker starts -->
    <div class="dropdown-menu">
        <ngb-datepicker 
            [(ngModel)]="model" 
            (ngModelChange)="emitDate($event)" 
            (click)="$event.stopPropagation()">
        </ngb-datepicker>
    </div>
    <!-- Input Placeholder for date picker ends -->
</div>