<div class="container-fluid h-100">
   <div class="row h-100">

      <!-- OCTONIUS LEFT BRANDING PANEL STARTS -->
      <app-branding-panel [routerState]="'home'" class="col-md-8 overlay welcome"></app-branding-panel>
      <!-- OCTONIUS LEFT BRANDING PANEL ENDS -->

      <!-- HOME PANEL STARTS -->
      <div class="col-md-4">
         <div style="padding:100px 30px;">
            <div style="width: 100%; margin:0 auto; align-items: center; text-align: center; border-bottom: 1px solid #005fd521;">
              <button type="submit" class="btn btn-primary btn-block" [routerLink]="['/authentication', 'sign-in']"
                routerLinkActive="router-link-active">
                Sign in
              </button>
            </div>
         </div>
      </div>
      <!-- HOME PANEL ENDS -->
   </div>
</div>
