<div class="card-tile">
    <div class="card-block">
        <h6 class="card-title"><b>User Skills</b></h6>
        <hr />
        <ul class="skills" style="clear:both">
            <li class="tags" *ngFor="let skill of user?.skills; let i = index; trackBy: utilityService.trackByIndex;">
                {{skill}}
                <button type="button" name="button" class="btn btn-link">
                    <i class="material-icons" placement="top" ngbTooltip="Delete this skill">
                        delete_sweep
                    </i>
                </button>
            </li>

        </ul>
    </div>
</div>