.customFieldsDialog {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.rag{
    padding: 14px 0;
    border-bottom: 1px solid #E4EDF8;
    width: 70%;
    margin: 0 auto;
    text-align: left;
    border-radius: 0 !important;
}
.md-36{
    font-size: 36px;
}
.tag{
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 23px;
    color: #005FD5;
    background: #E4EDF8;
    border-radius: 20px;
    padding: 5px;
}
.text-blue{
    padding-top: 60px;
    color: #005FD5;
    font-size: 15px;
    line-height: 23px;
    cursor: pointer;
    padding-bottom: 20px;
}
.icon-border-blue{
    background: #E4EDF8;
    border-radius: 10px;
    color: #005FD5;
}
.blue-icon{
    cursor: pointer;
    color: #005FD5;
}
.ragnew{
    margin: 10px auto;
    width: 300px;
}
.useravatar{
    width: 50px;
    text-align: center;
    .feed-avatar{
        width: 30px;
        height: 30px;
        margin: 0 auto;
    }
}
