<!-- FORGOT PASSWORD MODAL STARTS -->
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" i18n="@@forgotPassword.recievieEmailToReset">Receive email to reset your password</h4>
</div>

<div class="modal-body">
        <div class="form-group">
            <app-email-input
                [email]="user.email"
                [label]="label"
                [placeholder]="placeholder"
                (outputEmail)="getValidEmail($event)">
            </app-email-input>
        </div>
        <!--
        <div class="form-group">
            <label for="workspaceReset" i18n="@@forgotPassword.workspace">Workspace</label>
            <input type="text" class="form-control" [(ngModel)]="user.workspace" name="workspaceReset">
        </div>
        -->
</div>

<div class="modal-footer">
    <button (click)="sendMail(user?.email)" class="btn btn-primary" i18n="@@forgotPassword.sendEmail">Send Email</button>
</div>
<!-- FORGOT PASSWORD MODAL ENDS -->
