<!-- Assignee section for tasks starts -->
<section [id]="post?._id" *ngIf="type === 'task'">
    <img src="{{baseUrl}}/uploads/{{taskAssignee?.profile_pic}}" onerror="this.src='/assets/images/user.png'"
        class="feed-avatar">
    <p *ngIf="assigned"><span *ngIf="showBar">Assigned to</span> {{taskAssignee?.first_name}} <span *ngIf="!showBar">{{ taskAssignee?.last_name }}</span></p>
    <p *ngIf="!assigned">Unassigned</p>
    <app-component-search-input-box
        *ngIf="type === 'task' && userData && checkDataExist(userData) && showBar"
        [placeholder]="'Search a member to assign this task...'" 
        [groupId]="groupId" 
        [workspaceId]="userData._workspace"
        [userData]="userData" 
        [type]="type" 
        (member)="getMemberDetails($event)">
    </app-component-search-input-box>
</section>
<!-- Assignee section for tasks ends -->

<!-- Assignee section for events starts -->
<section [id]="post?._id" *ngIf="type === 'event'">
    <p *ngIf="!eventAssignedToAll(eventMembersMap)"><strong>Assigned to {{ eventMembersMap.size }} member(s)</strong></p>
    <p *ngIf="eventAssignedToAll(eventMembersMap)"><strong>Assigned to all team member(s)</strong></p>
    
    <app-component-search-input-box 
        *ngIf="type === 'event' && userData && checkDataExist(userData) && showBar"
        [placeholder]="'Search members to assign this event...'" 
        [groupId]="groupId" 
        [workspaceId]="userData._workspace"
        [userData]="userData" 
        [type]="type" 
        (member)="getMemberDetails($event)">
    </app-component-search-input-box>
</section>
<!-- Assignee section for events ends -->