@import "src/assets/scss/variables";

a{
    text-decoration: none !important;
    color: inherit;
}

img{
    display:block;
    width: 100%;
}

.smart-card {
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
box-shadow: 0px 1px 1px rgb(0 0 0 / 14%);
  min-height: 260px;
  height: 100%;
}

.card-first-column {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.card-icon {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 10px;
}

.card-content {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card-box {
    display: inline-block;
    width: 50%;
  }
}

.card-content {
  &::-webkit-scrollbar {
    display: none;
  }
}

.social_card{
  padding: 20px 30px 0px 30px;
  margin: 2px auto;
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #E4EDF8;
  box-sizing: border-box;

  .row {
    .column {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.badge {
  background-color: $dark-sky-blue;
  margin: 0 10px 0 1px !important;
  display: inline;
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px;
  align-items: center;
  color: #005fd5;
  background-color: #e4edf8;
  border-radius: 10px;
  padding: 2px 10px !important;
}

.badge_posts {
  background-color: #26A69A;
  color: #F3F4F6;
}

.badge_comments {
  background-color: #FFAB00;
  color: #F3F4F6;
}

.badge_likes {
  background-color: #005fd5;
  color: #F3F4F6;
}
