.advanced-filters {
  width: 100%;
  margin: 10px;
  padding: 10px;
  justify-content: left;
  text-align: center;
}

.filter-label {
  margin: 20px;
  width: 90%;
}
.filter-cell {
  margin: 20px;
  width: 75%;
}
