<div *ngIf="today_task_count == 0 && overdueTasks.length == 0" class="smart-card" style="padding: 10px;">
  
  <a (click)="changeState('myspace_tasks')" routerLink="/dashboard/myspace/tasks" [queryParams]="{myWorkplace: true }" routerLinkActive="active">
 
    <div class="row" style="margin: 0 0 20px;">
      <div class="card-title mt-1">
        Tasks
      </div>
      <div class="card-icon">
        <span class="badge">{{ today_task_count }}</span> for today
      </div>
    </div>
    <div class="row">
        <div class="card-first-column col-md-12">You're all done. Get some fresh air.</div>
    </div>



    <div class="row mt-4 d-none d-sm-block">
        <div class="col-7"></div>
        <div class="col-5">
            <img src='assets/images/inbox-tasks-card-empty.svg'>
        </div>
    </div>
  
  </a>
 
</div>

<div *ngIf="today_task_count != 0 || overdueTasks.length != 0">
  <div class="smart-card" style="padding: 10px;">
    
    <a (click)="changeState('myspace_tasks')" routerLink="/dashboard/myspace/tasks">
   
      <div class="row" style="margin: 0 0 20px;">
        <div class="card-title mt-1">
          Tasks
        </div>
        <div class="card-icon">
          <span class="badge">{{ today_task_count }}</span> for today
        </div>
      </div>

      <div class="row">
        <div class="col-6">
        <ul class="tasks-list">
          <li><span class="badge overdue-task">{{ overdueTasks.length }}</span> overdue</li>
          <li><span class="badge to-do-task">{{ to_do_task_count }}</span> to do</li>
          <li><span class="badge in-progress-task">{{ in_progress_task_count }}</span> in progress</li>
          <li><span class="badge done-task">{{ done_task_count }}</span> done</li>
        </ul>
      </div>

        <div class="col-6 d-none d-sm-block" style="padding-top: 15px;">
          <canvas
            baseChart
            height="200"
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [options]="doughnutChartOptions"
            [colors]="doughnutChartColors"
            [plugins]="doughnutChartPlugins"></canvas>
        </div>
      </div>
    
    </a>
   
  </div>
</div>
