@import "src/assets/scss/variables";

a{
    text-decoration: none !important; 
    color: inherit;
}

img{
    display:block; 
    width: 100%;
}

.smart-card {
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 3px 0 #005fd521;
}

.card-title{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #242D3A;
}

.group-tasks {
  color: #ffffff;
  border-radius: 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  margin: 1px;
  padding: 5px;
}

.to-do-task {
  background: #fd7714;
}


.in-progress-task {
  background: #0bc6a0;
}


.done-task {
  background: #4a90e2;
}

.overdue-task {
  background: #FF6584;
}

.overdue-total-tasks {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FF6584;
}

.card-first-column {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.post-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;

}

.title-nowrap {
  width: 90%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.card-icon {
  font-size: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
}

.card-tile{
  padding: 0 !important;
}