<div class="root">
	<app-resources-bar *ngIf="!!groupData"
		[groupData]="groupData"
		[userData]="userData"
		[isAdmin]="isAdmin"
		[customFields]="customFields"
		(customFieldEmitter)="onCustomFieldEmitter($event)"
		(exportToEmitter)="onExportToEmitter($event)"
		>
		<!-- [viewType]="viewType"
		(changeViewEmitter)='onChangeViewEmitter($event)'
		(sortTaskEmitter)="onSortTaskEmitter($event)"
		(filterTaskEmitter)="onFilterTaskEmitter($event)" -->
	</app-resources-bar>

	<div class="clearfix"></div>

	<div style="margin-top: 80px; position: absolute; width: 90%;">
		<h6 style="float: left;">
			<strong i18n="@@groupResourceManagement.currentInventory">Current inventory</strong>
		</h6>
		<!-- Heading of the component ends -->
		
		<button class="btn btn-md btn-primary mt-4" (click)="openResourceDetailsDialog()" style="float:right; margin-top: 0 !important;">
			<span class="material-icons-outlined">add</span>
			<span i18n="@@groupResourceManagement.addNew">Add new</span>
		</button>

		<div class="clearfix"></div>

		<div style="margin-top: 20px;">
			<table mat-table matSort [dataSource]="sortedData" (matSortChange)="sortData($event)" class="" style="width: 100%;">
				<ng-container matColumnDef="item">
					<th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@groupResourceManagement.item"> Item </th>
			
					<td mat-cell *matCellDef="let resource">
						{{ resource.title }}
					</td>
				</ng-container>
			
				<ng-container matColumnDef="quantity">
					<th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@groupResourceManagement.name"> Quantity </th>
			
					<td mat-cell *matCellDef="let resource">
						<span class="badge" [ngClass]="getBadgeClass(resource)">{{ (resource?.total_stock || 0) - (resource?.used_stock || 0) }}</span>
					</td>
				</ng-container>
			
				<!-- <ng-container matColumnDef="packaging">
					<th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@groupResourceManagement.packaging"> Packaging</th>
			
					<td mat-cell *matCellDef="let resource">
						<span>{{ resource?.packaging }}</span>
					</td>
				</ng-container>
			
				<ng-container matColumnDef="category">
					<th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@groupResourceManagement.category"> Category </th>
			
					<td mat-cell *matCellDef="let resource">
						<span>{{ resource?._category }}</span>
					</td>
				</ng-container> -->

				<ng-container matColumnDef="updated">
					<th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@groupResourceManagement.updated"> Updated </th>
			
					<td mat-cell *matCellDef="let resource">
						<span>{{ formateDate(resource?.last_updated_date) }}</span>
					</td>
				</ng-container>
			
				<!-- <ng-container matColumnDef="location">
					<th mat-header-cell *matHeaderCellDef i18n="@@groupResourceManagement.location"> Location </th>
			
					<td mat-cell *matCellDef="let resource">
						<span>{{ resource?.location }}</span>
					</td>
				</ng-container> -->
			
				<ng-container matColumnDef="description">
					<th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@groupResourceManagement.description"> Description </th>
			
					<td mat-cell *matCellDef="let resource">
						<span>{{ resource?.description }}</span>
					</td>
				</ng-container>

				<!-- CUSTOM FIELDS START -->
				<ng-container [matColumnDef]="cf.name" *ngFor="let cf of customFieldsToShow">
					<th mat-header-cell *matHeaderCellDef>
						<div class="cf_cell" >
						{{ cf.title }}
						<i class="material-icons small" *ngIf="isAdmin && cf.name != 'priority'" (click)="removeColumn(cf)"
							style="cursor: pointer;">close</i>
						</div>
					</th>
					<td mat-cell *matCellDef="let resource">
						<div class="cf_cell">
							{{ resource?.custom_fields[cf.name] }}
						</div>
					</td>
				</ng-container>
				<!-- CUSTOM FIELDS ENDS -->
			
				<ng-container matColumnDef="star">
					<th mat-header-cell *matHeaderCellDef>
						<div class="">
						<i class="material-icons-outlined" style="cursor: pointer;"
							*ngIf="isAdmin" [matMenuTriggerFor]="addColumn">add</i>
						</div>
						<mat-menu #addColumn="matMenu">
							<div class="newColumnMatMenu">
								<span i18n="@@asksTableView.addCF">Add custom field</span>
								<mat-form-field>
								<mat-label i18n="@@asksTableView.selectOption">Select an option</mat-label>
									<mat-select ngDefaultControl
										(selectionChange)="addNewColumn($event)"
										(click)="$event.stopPropagation()"
										[(ngModel)]="newColumnSelected"
										name="new_column">
									<mat-option *ngFor="let f of customFields" [value]="f">{{ f.title }}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</mat-menu>
					</th>
			
					<td mat-cell *matCellDef="let resource">
						<i class="material-icons-outlined ml-2 muted pointer" [matMenuTriggerFor]="menu">more_horiz</i>
						<mat-menu #menu="matMenu">
							<a mat-menu-item (click)="openResourceDetailsDialog(resource)">
								<span class="material-icons-outlined">create</span>
								<span i18n="@@groupResourceManagement.edit">Edit</span>
							</a>
			
							<a mat-menu-item (click)="deleteResource(resource?._id)">
								<span class="material-icons-outlined">delete</span>
								<span i18n="@@groupResourceManagement.delete">Delete</span>
							</a>
						</mat-menu>
					</td>
				</ng-container>
			
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let resource; columns: displayedColumns;"></tr>
			</table>
		</div>
	</div>

</div>