.badge {
	margin: 0 1px !important;
	display: inline;

	font-style: normal;
	font-weight: 700 !important;
	font-size: 12px;
	align-items: center;
	color: #ffffff;
	background-color: #2aa578;
	border-radius: 10px;
	padding: 2px 10px !important;
}

.warning {
	background-color: #fbb732;
}

.danger {
	background-color: #ee5d5d;
}
