<app-collaborative-doc-group-navbar 
(clickBack)="backClicked()" [post]="post" [docStatus]="docStatus" (docTitle)="getPostTitle($event)">
</app-collaborative-doc-group-navbar>

<div class="row" style="margin-top: 110px; margin-left: 15px">
  <div class="col-md-8"> 
      <div id="editor" style="background: white;">
      </div>
    </div>

    <div class="col-md-4">
      <app-collaborative-doc-group-comments
      [post]="post"
      [user_data]="user_data"
      [user]="user_data"
      [comments]="comments"
      [comments_count]="comment_count">
      
    </app-collaborative-doc-group-comments>
    </div>
  </div>
