.content-box {
  background: #FFFFFF;
  border: 1px solid #E4EDF8;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 12px;
  font-family: "Nunito", sans-serif;

  .box-title {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #242d3a;
    margin-bottom: 12px !important;
  }

  .set-parent {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-left: 15px;
  }

  .input-search {
    width: 120px;
    height: 38px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    background: #fff;
    border: none;
    border-bottom: 1px solid #000000;
    margin-left: 15px;
  }

  .results{
    width: max-content;
    padding: 0;
    // position: absolute;
    z-index: 1000;
    background: #fff !important;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 6px 9px rgba(0, 0, 0, 0.2);

    .task-item {
      padding: 0;
      align-items: center;
      // background: linear-gradient(90.01deg, #5E2FE5 0.01%, #5E2FE5 99.99%);
      // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      background: #ffffff;
      border: 1px solid #E4EDF8;
      margin-bottom: 5px !important;

      .media-body {
        padding: 5px 10px;;

        .full-name-text {
          font-size: 12px;
          line-height: 18px;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: #F3F4F6;
      }

      p {
        font-size: 14px !important;
      }
    }
  }
}

.save-template {
  border-top: 1px solid #E4EDF8;
  margin-top: 10px;
  padding-top: 10px;
}
