<div class="content-box">
  <p class="box-title">Actions</p>
  <div *ngIf="!postData?.task?._parent_task">
    <button mat-menu-item [matMenuTriggerFor]="transferMenu" (click)="saveTransferAction('copy')">
      <i  class="material-icons">content_copy</i>
      COPY TO GROUP
    </button>
    <button mat-menu-item [matMenuTriggerFor]="transferMenu" (click)="saveTransferAction('move')">
      <i class="material-icons">arrow_forward</i>
      MOVE TO GROUP
    </button>

    <mat-menu #transferMenu="matMenu">
      <ng-container *ngFor="let group of userGroups; let index = index">
        <button mat-menu-item [matMenuTriggerFor]="columnsMenu">{{ group.group_name }}</button>
        <mat-menu #columnsMenu="matMenu">
          <button *ngFor="let section of userGroups[index]?.sections" mat-menu-item (click)="transferToGroup(userGroups[index]?._id, section)">{{ section.title }}</button>
        </mat-menu>
      </ng-container>
    </mat-menu>
  </div>

  <div>
    <app-member-list-menu
    [groupMembers]="groupMembers"
    [menuLable]="menuLable"
    [menuFor]="menuFor"
    (userSelctionEmitter)="onUserSelctionEmitter($event)"
    >
    </app-member-list-menu>
  </div>


  <div *ngIf="!postData?.task?._parent_task">
    <button mat-menu-item [matMenuTriggerFor]="templateTaskMenu">
      <i class="material-icons-outlined">playlist_add</i>
      TEMPLATES
    </button>
    <mat-menu #templateTaskMenu="matMenu">
      <div>
        <div class="users-card" style="width: 200px">
          <ul class="assignee-list">
            <button mat-menu-item  class="assignee-list-item" style="line-height: inherit;" *ngFor="let template of groupTemplates" (mouseover)="saveTemplateAction('')" (click)="selectTemplate(template._id)">
              {{ template.task.template_name }}
            </button>

            <!-- <li class="assignee-list-item save-template" (click)="createTemplate()">Save as template</li> -->
            <button class="assignee-list-item save-template" style="line-height: inherit;" mat-menu-item [matMenuTriggerFor]="templatesMenu" (mouseover)="saveTemplateAction('save')" (click)="saveTemplateAction('save')">
              <i class="material-icons-outlined">save_alt</i>
              Save template
            </button>

            <button class="assignee-list-item save-template" style="line-height: inherit;" mat-menu-item [matMenuTriggerFor]="templatesMenu" (mouseover)="saveTemplateAction('delete')" (click)="saveTemplateAction('delete')"
                *ngIf="userData?.role == 'admin' || userData?.role == 'owner' || postData?._posted_by == userData?._id">
              <i class="material-icons-outlined">delete</i>
              Delete template
            </button>

            <mat-menu #templatesMenu="matMenu">
              <div>
                <div class="users-card">
                  <ul class="assignee-list">
                    <li class="assignee-list-item" *ngFor="let template of groupTemplates" (click)="selectTemplate(template._id, template.task.template_name)">
                      {{ template.task.template_name }}
                    </li>

                    <li *ngIf="templateAction == 'save'" class="assignee-list-item save-template" (click)="createTemplate()">Save new template</li>
                  </ul>
                </div>
              </div>
            </mat-menu>

          </ul>
        </div>
      </div>
    </mat-menu>
  </div>

  <div *ngIf="postData?._assigned_to?.length < 2" class="set-parent">
    <i class="material-icons">hourglass_top</i> ALLOCATION

    <!-- INPUT STARTS -->
    <input type="text" name="allocation" [ngModel]="allocation" (blur)="allocationChange($event)" class="input-search" placeholder="Allocation" />
    <!-- INPUT ENDS -->
  </div>



  <div *ngIf="!parentTask && !isDependent && !isMilestone" class="set-parent">
   MAKE SUBTASK OF

    <!-- INPUT BAR STARTS -->
    <input type="search" id="keyword" autocomplete="off" placeholder="Search task" class="input-search"
      [(ngModel)]="itemValue" (keyup)="onSearch($event)" (ngModelChange)="modelChange($event)" />
    <!-- INPUT BAR ENDS -->
    <div *ngIf="searchingOn === 'keyword'">
      <section id="results" *ngIf="!(isLoadingAction$ | async)" class="results" onfocusout="">
        <div class="media task-item user-list mb-0" *ngFor=" let task of tasksList; let index = index;">
          <div class="media-body mt-2">
            <!-- Display full name of the member starts -->
            <h4 class="mt-0 full-name-text" (click)="setParentTask(task._id)">
              {{ task?.title | truncatetext: 50 }}
            </h4>
            <!-- Display full name of the member ends -->
          </div>
        </div>
      </section>


        <!-- LOADING SPINNER STARTS -->
        <ng-container *ngIf="(isLoadingAction$ | async)">
          <app-loading-spinner class="media"></app-loading-spinner>
        </ng-container>
        <!-- LOADING SPINNER ENDS -->
    </div>
  </div>

  <div *ngIf="groupData && groupData?.project_type && !isChild" class="set-parent">
    MAKE DEPENDENCY OF

    <button *ngFor="let task of dependencyTask; let i = index" class="btn dependencylabel" style="margin-right: 1rem;"
       (click)="removeDependencyTask(i)">
      <b>X</b> {{ task.title | truncatetext: 50 }}
    </button>
    <!-- INPUT BAR STARTS -->
    <input type="search" id="dependencyKeyword" autocomplete="off" placeholder="Search task" class="input-search"
      [(ngModel)]="dependencyItemValue" (keyup)="onSearch($event)" (ngModelChange)="modelChangeForDependency($event)" />
    <!-- INPUT BAR ENDS -->
    <div *ngIf="searchingOn === 'dependencyKeyword'">
    <section id="results" *ngIf="!(isLoadingAction$ | async)" class="results" onfocusout="">
      <div class="media task-item user-list mb-0" *ngFor=" let task of tasksList; let index = index;">
        <div class="media-body mt-2" >
          <!-- Display full name of the member starts -->
          <h4 class="mt-0 full-name-text" (click)="setDependencyTask(task._id)">
            {{ task?.title | truncatetext: 50 }}
          </h4>
          <!-- Display full name of the member ends -->
        </div>
      </div>
    </section>

      <!-- LOADING SPINNER STARTS -->
      <ng-container *ngIf="isLoadingAction$ | async">
        <app-loading-spinner class="media"></app-loading-spinner>
      </ng-container>
      <!-- LOADING SPINNER ENDS -->
    </div>
  </div>




  <!-- North Start Switch starts -->
  <div class="set-parent" style="margin-top:16px; padding-top: 16px; border-top: 1px solid #e4edf8;">
    <i _ngcontent-bbh-c36="" class="material-icons-outlined" style="vertical-align: middle;"> explore </i>
    MAKE NORTH STAR
    <mat-slide-toggle color="primary" style=" margin-left: 15px;"
      [checked]="isNorthStar"
      [name]="'north_star'"
      (change)="transformToNorthStart()">
    </mat-slide-toggle>


    <p>North Stars are goals for you or your team.</p>
  </div>
  <!-- North Start Switch ends -->

  <!-- Idea Switch starts -->
  <div *ngIf="isIdeaModuleAvailable" class="set-parent" style="margin-top:16px; padding-top: 16px; border-top: 1px solid #e4edf8;">
    <i _ngcontent-bbh-c36="" class="material-icons-outlined" style="vertical-align: middle;">emoji_objects</i>
    Idea
    <mat-slide-toggle color="primary" style=" margin-left: 15px;"
      [checked]="isIdea"
      [name]="'idea'"
      (change)="transformToIdea()">
    </mat-slide-toggle>
  </div>
  <!-- Idea Switch ends -->


  <!-- Milestone Switch starts -->
  <div *ngIf="groupData && groupData.project_type" class="set-parent" style="margin-top:16px; padding-top: 16px; border-top: 1px solid #e4edf8;">
    <img src="assets/images/Icon/icon_milestone.svg" alt="Flag"/>
   MAKE MILESTONE
    <mat-slide-toggle color="primary" style=" margin-left: 15px;"
      [checked]="isMilestone"
      [name]="'milestone'"
      (change)="transformToMilestone()">
    </mat-slide-toggle>
    <p>Milestones mark specific points in time along a project timeline in order to track major progress points that must be reached to achieve success</p>
  </div>
  <!-- Milestone Switch ends -->


  <!-- Select Shuttle group starts -->
  <div *ngIf="isShuttleTasksModuleAvailable && groupData?.shuttle_type" style="margin-top:16px; padding-top: 16px; border-top: 1px solid #e4edf8;">
    <i class="material-icons-outlined">published_with_changes</i>
    <mat-form-field appearance="fill" style="margin-left: 40px;">
      <mat-select
          [disabled]="postData?.task?._shuttle_group == groupData._id"
          (selectionChange)="shuttleTask($event.value)"
          [(value)]="postData.task._shuttle_group">
        <mat-option *ngFor="let group of shuttleGroups; let j=index" [value]="group._id">{{ group.group_name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Clean field starts -->
    <i *ngIf="postData?.task?._shuttle_group" (click)="shuttleTask(null)" class="material-icons muted" style="cursor: pointer; font-size: 14px;">remove_circle_outline</i>
    <!-- Clean field ends -->
  </div>
  <!-- Select Shuttle group ends -->
</div>
