<div class="card" (click)="showPostBox = !showPostBox" style="padding:0">
    <div class="card-block" style="padding: 0;">
        <div class="row card-title">
            <div class="col-md-1">
                <img src="{{baseUrl}}/{{userData?.profile_pic}}"
                    [routerLink]="['/dashboard', 'user', 'profile']" [queryParams]="{ userId: userData?._id}"
                    onerror="this.src='assets/images/user.png'" class="feed-avatar">
            </div>
            <div class="col-md-11" *ngIf="!showPostBox">
                <button type="text" class="form-control btn-md noborder-btn postbox"
                    placeholder="What are you working on?">What are you working on, {{ userData?.first_name }}?</button>
            </div>
            <section  [ngClass]="(showPostBox) ? 'show-container' : 'hide-container'">
                <app-group-post-selection  *ngIf="userData && checkDataExist(userData)" 
                    [userData]="userData" 
                    [groupId]="groupId"
                    (post)="getPost($event)"
                    (edited)="editedPost($event)">
                </app-group-post-selection>
            </section>
        </div>

        
    </div>
</div>