
<div class="card-tile">

  <div class="row">
    <h4 class = "col-md-9 mt-3">Add Files</h4>
    <div class="col-md-3 text-right">
        <button type="button" class="btn btn-link" style="margin-right: 15px" (click)="fileInput.click()">
            <input id="cin" #fileInput type="file" class="btn btn-outline-warning task" style="display: none"
                   (change)="addFileEvent($event)" placeholder="File" multiple />
                   <img src= "/assets/images/add-file-icon.png" style="height:45px; width:45px">
          </button>
     </div>
  </div>
  <div class="row">
      <h4 class = "col-md-9 mt-3">Add Folders</h4>
      <div class="col-md-3 text-right">
          <button type="button" class="btn btn-link" style="margin-right: 12px" (click)="folderInput.click()">
              <input id="cin" #folderInput type="file" class="btn btn-outline-warning task" style="display: none"
                     (change)="addFolderEvent(folderInput.files)" placeholder="File" webkitDirectory />
                     <img src= "/assets/images/add-folder-icon.png" >
            </button>
       </div>
    </div>


</div>
<div class="card-tile">
  <h4>Everything uploaded by your team </h4>
  <hr>
    <div *ngIf="isLoading$ | async">
      <div class="load-8">
        <h6><b>Loading Data...</b></h6>
          <div class="line"></div>
      </div>
  </div>
  <div *ngIf="!(isLoading$ | async)">
    <div *ngIf="this.has_file == true; else svg">
      <div *ngFor="let post of allFiles; let i = index">
        <div  *ngIf="post?.files">
        <div class="media card-tile user-list" *ngFor="let file of post.files; let x = index" >

              <div class="media-body" >
                <div *ngIf = "file?.mimeType">
                    <img src= "/assets/images/{{file.mimeType}}-file-icon.png" onerror="this.src='/assets/images/file-icon.png'"class="feed-avatar float-left">
                </div>
                  
                <div class="mt-3 float-left">
                    <div class = "imagePreview" *ngIf = "file?.mimeType == 'jpg' || file?.mimeType == 'jpeg' || file?.mimeType == 'png' ">
                        <a id = "imagePreviewLink" role="button" href="javascript:void(0)" (click) = "imagePreviewClicked(file.modified_name)" >{{file?.orignal_name}}</a>
                    </div>
                    <div *ngIf = "file?.mimeType == 'pdf' ">
                        <a role="button" href="javascript:void(0)" (click) = "pdfPreviewClicked(file.modified_name)" >{{file?.orignal_name}}</a>
                    </div>
                    <div *ngIf = "file?.mimeType == 'docx' || file?.mimeType == 'doc' || file?.mimeType == 'ppt' || file?.mimeType == 'pptx' || file?.mimeType == 'xls' || file?.mimeType == 'xlsx' ">
                        <a role="button" href="javascript:void(0)" (click) = "officeMimeTypeclick(file.modified_name)" >{{file?.orignal_name}}</a>
                    </div>
                    <div *ngIf = "
                    file?.mimeType == 'gif' 
                    || file?.mimeType == 'tiff' 
                    || file?.mimeType == 'mpeg4'
                    || file?.mimeType == 'mov'
                    || file?.mimeType == 'avi'
                    || file?.mimeType == 'mpegps'
                    || file?.mimeType == 'wmv'
                    || file?.mimeType == 'flv'
                    || file?.mimeType == 'txt'
                    || file?.mimeType == 'css'
                    || file?.mimeType == 'html'
                    || file?.mimeType == 'pages'
                    || file?.mimeType == 'ai'
                    || file?.mimeType == 'psd'
                    || file?.mimeType == 'svg'
                    ">
                      <a role="button" href="javascript:void(0)" (click) = "googleMimeTypeclick(file.modified_name)" >{{file?.orignal_name}}</a>
                  </div>
                    <div *ngIf = "
                    file?.mimeType != 'jpg' 
                    && file?.mimeType !== 'jpeg' 
                    && file?.mimeType != 'png' 
                    && file?.mimeType != 'pdf' 
                    && file?.mimeType != 'docx' 
                    && file?.mimeType != 'doc' 
                    && file?.mimeType != 'ppt' 
                    && file?.mimeType != 'pptx' 
                    && file?.mimeType != 'xls' 
                    && file?.mimeType != 'xlsx'
                    && file?.mimeType == 'gif' 
                    &&  file?.mimeType == 'tiff' 
                    &&  file?.mimeType == 'mpeg4'
                    &&  file?.mimeType == 'mov'
                    &&  file?.mimeType == 'avi'
                    &&  file?.mimeType == 'mpegps'
                    &&  file?.mimeType == 'wmv'
                    &&  file?.mimeType == 'flv'
                    &&  file?.mimeType == 'txt'
                    &&  file?.mimeType == 'css'
                    &&  file?.mimeType == 'html'
                    &&  file?.mimeType == 'pages'
                    &&  file?.mimeType == 'ai'
                    &&  file?.mimeType == 'psd'
                    &&  file?.mimeType == 'svg'
                    ">
                        <p ><a role="button" href="javascript:void(0)" href="{{this.BASE_URL}}/uploads/{{file.modified_name}}" >{{file?.orignal_name}}</a></p>
                    </div>
                 
                </div>
                <div class="mt-5 mr-5 float-right" style="margin-top:13px !important">
                          
                    <div ngbDropdown #postActionsDrop="ngbDropdown" class="d-inline-block">
                        <i class="material-icons action" ngbDropdownToggle>more_vert</i>
                        <div ngbDropdownMenu aria-labelledby="postActionsDrop">
                            <li> 
                           
                                    <div class = "imagePreview" *ngIf = "file?.mimeType == 'jpg' || file?.mimeType == 'jpeg' || file?.mimeType == 'png' ">
                                        <a class="btn btn-link" role="button" href="javascript:void(0)" (click) = "imagePreviewClicked(file.modified_name)" ><i class="material-icons">
                                            visibility
                                            </i>Preview</a>
                                    </div>
                                    <div *ngIf = "file?.mimeType == 'pdf' ">
                                        <a class="btn btn-link" role="button" href="javascript:void(0)" (click) = "pdfPreviewClicked(file.modified_name)" ><i class="material-icons">
                                            visibility
                                            </i>Preview</a>
                                    </div>
                                    <div *ngIf = "file?.mimeType == 'docx' || file?.mimeType == 'doc' || file?.mimeType == 'ppt' || file?.mimeType == 'pptx' || file?.mimeType == 'xls' || file?.mimeType == 'xlsx' ">
                                        <a  class="btn btn-link" role="button" href="javascript:void(0)" (click) = "officeMimeTypeclick(file.modified_name)" ><i class="material-icons">
                                            visibility
                                            </i>Preview</a>
                                    </div>
                                    <div *ngIf = "
                                    file?.mimeType == 'gif' 
                                    || file?.mimeType == 'tiff' 
                                    || file?.mimeType == 'mpeg4'
                                    || file?.mimeType == 'mov'
                                    || file?.mimeType == 'avi'
                                    || file?.mimeType == 'mpegps'
                                    || file?.mimeType == 'wmv'
                                    || file?.mimeType == 'flv'
                                    || file?.mimeType == 'txt'
                                    || file?.mimeType == 'css'
                                    || file?.mimeType == 'html'
                                    || file?.mimeType == 'pages'
                                    || file?.mimeType == 'ai'
                                    || file?.mimeType == 'psd'
                                    || file?.mimeType == 'svg'
                                    ">
                                      <a  class="btn btn-link" role="button" href="javascript:void(0)" (click) = "googleMimeTypeclick(file.modified_name)" ><i class="material-icons">
                                          visibility
                                          </i>Preview</a>
                                  </div>
                                    <div *ngIf = "
                                    file?.mimeType != 'jpg' 
                                    && file?.mimeType !== 'jpeg' 
                                    && file?.mimeType != 'png' 
                                    && file?.mimeType != 'pdf' 
                                    && file?.mimeType != 'docx' 
                                    && file?.mimeType != 'doc' 
                                    && file?.mimeType != 'ppt' 
                                    && file?.mimeType != 'pptx' 
                                    && file?.mimeType != 'xls' 
                                    && file?.mimeType != 'xlsx'
                                    && file?.mimeType == 'gif' 
                                    &&  file?.mimeType == 'tiff' 
                                    &&  file?.mimeType == 'mpeg4'
                                    &&  file?.mimeType == 'mov'
                                    &&  file?.mimeType == 'avi'
                                    &&  file?.mimeType == 'mpegps'
                                    &&  file?.mimeType == 'wmv'
                                    &&  file?.mimeType == 'flv'
                                    &&  file?.mimeType == 'txt'
                                    &&  file?.mimeType == 'css'
                                    &&  file?.mimeType == 'html'
                                    &&  file?.mimeType == 'pages'
                                    &&  file?.mimeType == 'ai'
                                    &&  file?.mimeType == 'psd'
                                    &&  file?.mimeType == 'svg'
                                    ">
                                        <a class="btn btn-link" role="button" href="javascript:void(0)" href="{{this.BASE_URL}}/uploads/{{file.modified_name}}" ><i class="material-icons">
                                            visibility
                                            </i>Preview</a>
                                    </div>          
                            </li>
                            <li> 
                                <button class="btn btn-link" (click)="onDownlaodFile(file.modified_name,file.orignal_name)">
                                  <i class="material-icons">
                                    cloud_download
                                    </i>
                                    Download
                                  </button> 
                              </li>
                              <li>
                                  <button class="btn btn-link" (click)="onDeleteGroupFiles(post,file,'group_file')">
                                      <i class="material-icons">
                                        delete
                                      </i>
                                      Delete
                                  </button>
                                </li>
                        </div>
                      </div>
                </div>
                <div class="mt-3 mr-5 float-right">
                    <h4>{{post._posted_by?.first_name}} {{post._posted_by?.last_name}}</h4>
                </div>
                <div class="mr-1 float-right">
                    <img src="{{this.BASE_URL}}/uploads/{{post._posted_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"class="feed-avatar float-left">
                </div>
              </div>
          </div>
        </div>
          <div class="media card-tile user-list" *ngIf="post?._name" >

            <div class="media-body" >
                <img src= "/assets/images/agora-file-icon.png" onerror="this.src='/assets/images/file-icon.png'"class="feed-avatar float-left">
                <div class="mt-3 float-left">
                        <p><a role="button" [routerLink]="['/dashboard', 'group', post?._group_id, 'files', post?._post_id]" routerLinkActive="router-link-active" >{{post._name}}</a></p>
                  </div>
                  <div class="mt-5 mr-5 float-right" style="margin-top:13px !important">
                          
                          <div ngbDropdown (openChange)="toggled($event)" #postActionsDrop="ngbDropdown" class="d-inline-block">
                              <i class="material-icons action" ngbDropdownToggle>more_vert</i>
                              <div ngbDropdownMenu aria-labelledby="postActionsDrop">
                                  <li> 
                                      <a role="button" class="btn btn-link text-center" [routerLink]="['/dashboard', 'group', post?._group_id, 'files', post?._post_id]" routerLinkActive="router-link-active" > 
                                        <i class="material-icons">
                                          visibility
                                        </i>Preview</a>            
                                  </li>
                                  <li> 
                                      <button class="btn btn-link" >
                                        <i class="material-icons">
                                          cloud_download
                                          </i> Download</button>    
                                    </li>
                                    <li>
                                        <button class="btn btn-link" (click)="onDeleteGroupFiles(post,'filename','agora_file')" >
                                          <i class="material-icons">
                                            delete
                                          </i >Delete</button>
                                      </li>
                              </div>
                            </div>
                </div>
                <div class="mt-3 mr-5 float-right">
                    <h4>{{post._posted_by?.first_name}} {{post._posted_by?.last_name}}</h4>
                </div>
                <div class="mr-1 float-right">
                    <img src="{{this.BASE_URL}}/uploads/{{post._posted_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"class="feed-avatar float-left">
                </div>
          </div>
        </div>
          <ng-template #svg>
              <img src='../../../../../assets/images/emptyfiles.svg' style=" margin: 0 auto; display:block; width: 600px">
          </ng-template>
      </div>
    </div>
  </div>
</div>

<div class= "outer-overlay" *ngIf = "pdfSourceLinks || iFrameSourceLinks || imageSourceLinks.length > 0">
    <div class = "overlay-navbar" *ngIf = "pdfSourceLinks" >
        <div class="row" style="margin-left: 0.5rem;" >
            <a class="navbar-brand" (click) = "overlayRemoval('pdf')" style="cursor: pointer;">
              <i class="material-icons" style = "color:white !important ; margin-top: 5px">
                arrow_back
                </i>
              </a>
        </div>  
      </div>
    <div class = "overlay-navbar" *ngIf = "iFrameSourceLinks" >
        <div class="row" style="margin-left: 0.5rem;" >
            <a class="navbar-brand" (click) = "overlayRemoval('otherFilesForiFrame')" style="cursor: pointer;">
              <i class="material-icons" style = "color:white !important ; margin-top: 5px">
                arrow_back
                </i>
              </a>
        </div>  
      </div>
    <div class = "overlay-navbar" *ngIf = "imageSourceLinks.length > 0" >
        <div class="row" style="margin-left: 0.5rem;" >
            <a class="navbar-brand" (click) = "overlayRemoval('images')" style="cursor: pointer;">
              <i class="material-icons" style = "color:white !important ; margin-top: 5px">
                arrow_back
                </i>
              </a>
        </div>  
    </div>
      

    <div class = "pdf-source-container" *ngIf = "pdfSourceLinks">
        <div class ="overlayPDF" >
            <pdf-viewer
            class = "overlay-content"
            [src]="pdfSourceLinks" 
            [render-text]="true"
            ></pdf-viewer>
        </div>
    </div>
    <div id = "overlay-iframe" *ngIf = "iFrameSourceLinks">
            <iframe id = "iframe-file" (load)="onLoad()" [src]='iFrameSourceLinks' style="width:100%;height:100%;"></iframe>
    </div>
    <div class ="overlayImages" >
        <app-image-viewer *ngIf = "imageSourceLinks.length > 0" 
            [images]="imageSourceLinks"
            [idContainer]="'imageOverLay'"
            [loadOnInit]="true"
            [showPDFOnlyOption]="false">
        </app-image-viewer>
    </div>

</div>