.dropdown-toggle::after {
    display:none;
}

.delete-dropdown-menu button:hover{
    background-color:#eaeaea;
 }

 .media {
    justify-content: center;
  }
  .label{
      font-size: 16px;
      padding: 3px;
  }

  .user-list:hover{
      box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 6px 9px rgba(0,0,0,.2);
      cursor: pointer;
  }
