<div class="card-tile">
  <h4>Everything uploaded by your team </h4>
  <hr>
  <!--<div *ngIf="isLoading$ | async">  
      <div class="load-8">
        <h6><b>Loading Data...</b></h6>
          <div class="line"></div>
      </div>
  </div>-->
  <!--<div *ngIf="!(isLoading$ | async)">-->
    <div *ngIf="this.has_file == true; else svg">
  <div *ngFor="let post of posts">
<div class="media card-tile user-list" *ngIf="post.files.length != 0" >
      
      <div class="media-body" >
          <img src="/uploads/{{post._posted_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"class="feed-avatar float-left">
        <div class="float-left">
          <h4 class="mt-0">{{post._posted_by?.first_name}} {{post._posted_by?.last_name}}</h4>
              
              <p *ngFor="let file of post.files"><b>Attachment: </b><a role="button" href="javascript:void(null);" >{{file?.orignal_name}}</a></p>     
            
        </div>
        <div class="mr-3 float-right">
  
            <button class="btn btn-link" (click)= "showPreview(post._id)"><i class="material-icons">
                visibility
                </i></button>
              <a role="button" class="btn btn-link" href="/uploads/{{post.files[0].modified_name}}" target="_blank"> <i class="material-icons">
                visibility
                </i></a>
            <button class="btn btn-link" (click)="onDownlaodFile(post.files[0].modified_name,post.files[0].orignal_name)"><i class="material-icons">
              cloud_download
              </i></button>
            
         
        </div>
  
      </div>
 
  </div>

</div>
<!--</div>-->

</div>
<ng-template #svg>
    <img src='../../../../../assets/images/emptyfiles.svg' style=" margin: 0 auto; display:block; width: 600px">
</ng-template>

</div>

<!-- <dialog-overview-example-dialog *ngIf = "previewbool" [receivedParentMessage] = "testpreview" (closeView11) = "closePreview($event)" > -->
    <div *ngIf = "previewbool" style="position: absolute;top:0;left:0;background:black; z-index: 99999">
        <dialog-overview-example-dialog *ngIf = "previewbool" [receivedParentMessage] = "testpreview" (closeView11) = "closePreview($event)" >
        </dialog-overview-example-dialog>
      </div>
