.card {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 10px;
	box-shadow: 0 3px 8px #33333351;
	margin: 6px;
	width: 400px;

	.card-title {
		color: #000000;
		font-weight: 700 !important;
		font-size: 20px !important;
		border-bottom: 1px solid #E4EDF8;
		height: 50px;
		line-height: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-transform: uppercase;
	}

	.card-content {
		min-height: 300px;
		padding: 20px;

		.card-img-top {
			object-fit: contain;
			margin: 20px;
		}
	}

	.card-footer {
		color: #000000;
		font-weight: 400 !important;
		font-size: 14px !important;
		border-top: 1px solid #E4EDF8;
		height: 50px;
		line-height: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
	}
}