.octo-search-category{
    font-size: 16px;
    font-weight: 700;
    padding: 4px;
    color: #4A90E2;
    margin-bottom: 14px !important;
}

.octo-search-results{
    font-size: 16px;
    font-weight: 400;
    color: #242D3A;
    margin-bottom: 1rem !important;
}
.label{
    font-size: 12px;
    padding: 4px 10px;
    color: #fff;
    border-radius: 10px;
    display: inline;
    margin-right: 8px;
  }
  .ql-image img{
      width: 100% !important;
  }
  .search-content{
    img .ql-image {

          width: 100% !important;

    }
  }

.user-list {
  cursor: pointer;
}
