.content-box {
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 10px;

  .portfolio-header {
    border-radius: 8px;
    padding: 20px;

    .portfolio-content {
      width: 69%;
      float: left;
      padding: 16px;
    }

    .graph {
      width: 29%;
      align-self: center;
      float: right;
    }

    .change-color {
      margin-top: 20px;

      span {
        background: #FAFAFA;
        border-radius: 6px;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
      }
    }
  }

  .modal-header {
      border: none;
  }

  .modal-title {
    width: 100%;
    cursor: pointer;

    .portfolio-title {
      width: 95% !important;
      box-shadow: none;
      border: none;
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
    }
  }

  p.box-title {
    font-family: Nunito;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #242d3a;
    // padding-bottom: 10px;
    // padding-top: 10px;
    margin-bottom: 12px !important;
  }

  input.input-date {
    border: none;
    background-color: white;
    width: 100%;
  }
}