<div class="card-tile">

  <!-- Header Starts -->
  <h6><b>Welcome to your workspace!</b></h6>
  <h6>To start using your workspace, please start a subscription.</h6>
<h6>Octonius partners with Stripe to manage your payments. <br>
  <img src="assets/images/stripe_pay.svg" alt="" style="width: 240px; margin-top: 30px;">
</h6>

  <!-- Header Ends -->

  <hr>

  <!-- Start the Subscription -->
  <div *ngFor="let price of subscription_prices">
    <h6>
      <!-- <button (click)="handlePayment(price.id, price.amount)" class="ml-3 btn btn-md btn-primary"> -->
      <button (click)="startStripeCheckoutSession(price.id)" class="ml-3 btn btn-md btn-primary">
        Purchase
      </button>
      {{ price.unit_amount/100 | currency: '$': 'symbol': '.2-2' }} / seat / {{ price?.recurring?.interval }}
    </h6>
  </div>


  <!-- Start the subscription -->

</div>
