<div class="card-tile">

  <!-- Header Starts -->
  <h6><b>Welcome to your workspace!</b></h6>
  <h6>To start using your workspace, please start a subscription.</h6>
<h6>Octonius partners with Stripe to manage your payments. <br>
  <img src="assets/images/stripe_pay.svg" alt="" style="width: 240px; margin-top: 30px;">
</h6>

  <!-- Header Ends -->

  <hr>

  <!-- Plan Details Starts -->
  <!--
  <h6><b>Current Plan </b></h6>
  <h6><b>{{ subscription?.plan?.nickname }}</b></h6>
  {{ subscription?.plan?.unit_amount/100 | currency: '$': 'symbol': '.2-2' }}/user.&nbsp;
  Billed Every {{ subscription?.plan?.recurring?.interval_count }} Month(s).

  <hr />
  -->
  <!-- Plan Details Ends -->

  <!-- Start the Subscription -->
  <div *ngFor="let price of subscription_prices">
    <h6>
      <button (click)="handlePayment(price.id, price.amount)" class="ml-3 btn btn-md btn-primary">Purchase</button>
      {{price.unit_amount/100 | currency: '$': 'symbol': '.2-2'}}/seat monthly
      
    </h6>
  </div>

  
  <!-- Start the subscription -->

</div>
