
<div class="card-tile">
  <div class="row" *ngIf="workspaceData && userData">
    <div class="col-md-4">
      <app-workplace-information [workspaceData]="workspaceData" [routerState]="'billing'"></app-workplace-information>
    </div>
  
    <div class="col-md-8">
      <h6>
        <b i18n="@@startSubscription.welcomeToYourWorkspace">Welcome to your workspace!</b>
      </h6>
      <h6 i18n="@@startSubscription.toStartUsing">To start using your workspace, please start a subscription.</h6>
      <h6>
        <span i18n="@@startSubscription.octoniusPartnersWithStripe">Octonius partners with Stripe to manage your
          payments.</span>
        <br>
        <img src="assets/images/stripe_pay.svg" alt="" style="width: 240px; margin-top: 30px;">
      </h6>
    </div> 
  </div>

  <hr>

  <!-- Start the Subscription -->
  <!--
  <div *ngFor="let price of subscription_prices">
    <h6>
      <button (click)="startStripeCheckoutSession(price.id)"
        class="ml-3 btn btn-md btn-primary"
        i18n="@@startSubscription.purchase">
          Purchase
      </button>
      {{ price.unit_amount/100 | currency: '$': 'symbol': '.2-2' }} / <span i18n="@@startSubscription.seat">seat</span> / {{ price?.recurring?.interval }}
    </h6>
  </div>
  -->

  <!-- <div *ngFor="let product of subscription_products">
    <h6>
      <button (click)="startStripeCheckoutSession(product.id)" class="ml-3 btn btn-md btn-primary"
        i18n="@@startSubscription.purchase">
        Purchase
      </button>

      <p>{{ product.name }}</p>
      <p>{{ product.description }}</p>
      {{ product.price.unit_amount/100 | currency: '$': 'symbol': '.2-2' }} / <span i18n="@@startSubscription.seat">seat</span> /
      {{ product.price?.recurring?.interval }}
    </h6>
  </div>
  -->

  <stripe-pricing-table [attr.pricing-table-id]="PRICING_TABLE_ID" [attr.publishable-key]="STRIPE_PK"></stripe-pricing-table>
  <!-- Start the subscription -->
</div>
