<div class="dialog-content">
  <div class="content">

    <div class="modal-title" i18n="@@createProjectColumnDialog.projectSetup">Project Setup</div>

    <div class="content-box">
      <mat-slide-toggle color="primary"
        [checked]="this.column.project_type"
        [name]="'project_type'"
        (change)="changeColumnProjectType($event)">
        <h6><b i18n="@@createProjectColumnDialog.launchProject">Launch as Project</b></h6>

      </mat-slide-toggle>
      <p class="card-text" i18n="@@createProjectColumnDialog.allowsYouToPlan">Allows you to plan and manage this section as a project.</p>
    </div>

    <div class="content-box" *ngIf="column?.project_type">
      <p class="card-text" i18n="@@createProjectColumnDialog.selectStartDueDate">Select a START and DUE DATE for your project.</p>
      <app-date-picker class="input-date due"
        (date)="getDate($event, 'start_date')" [selectedDate]="column?.start_date">
      </app-date-picker>
      <!-- Clean field starts -->
      <i (click)="getDate(null, 'start_date')" class="material-icons muted" style="cursor: pointer; font-size: 14px;">remove_circle_outline</i>
      <!-- Clean field ends -->

      <br/><br/>

      <app-date-picker class="input-date due"
        (date)="getDate($event, 'due_date')" [selectedDate]="column?.due_date">
      </app-date-picker>

      <!-- Clean field starts -->
      <i (click)="getDate(null, 'due_date')" class="material-icons muted" style="cursor: pointer; font-size: 14px;">remove_circle_outline</i>
      <!-- Clean field ends -->
    </div>



    <div class="conten-box save-content" *ngIf="column?.project_type">
        <!-- Update Details Button starts -->
        <button appDebounceClick
            class="btn btn-danger btn-md"
            (click)="cancel()"
            i18n="@@createProjectColumnDialog.cancel">
          Cancel
        </button>
        <!-- Update Details Button ends -->

      <!-- Update Details Button starts -->
        <button appDebounceClick
            class="btn float-right btn-primary btn-md"
            (click)="saveColumnProjectDates()"
            i18n="@@createProjectColumnDialog.save">
          Save
      </button>
      <!-- Update Details Button ends -->
    </div>
  </div>
</div>
