.mainDiv{
    border: 1px solid #E4EDF8;
    box-sizing: border-box;
    box-shadow: 0px 4px 5px rgba(66, 66, 66, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 60%;
    height: 600px;
    position: absolute;
    top: 20%;
    left: 20%;
    display: block !important;
    background-color: #ffffff;
}

.rootDiv{
    width: 100%; 
    background-color: #325fd5;
    height: 100%;
    margin: 0px;
}