.mainDiv{
    border: 1px solid #E4EDF8;
    box-sizing: border-box;
    box-shadow: 8px 12px 24px rgba(2, 2, 2,  0.60);
    border-radius: 10px;
    width: 40%;
    height: 400px;
    background-color: #ffffff;
    margin-top: 150px;
    padding: 20px;
}

.rootDiv{
    width: 100%; 
    background-color: #005fd5;
    height: 100%;
    margin: 0px;
    background-image: url("/assets/images/logo-white.svg");  
          background-size: 40px 40px;
          background-repeat: no-repeat;
          background-position: 50% 100px;
}