<div class="d-flex justify-content-center rootDiv">
<div class="mainDiv">
    <img src="assets/images/zapierlogo.png" alt="" style="float:left;margin-top: 5%;">
    <h3 style="line-height: 1.1;margin-top: 6%;font-size: 22px;">Zapier is requesting permission to access your Octonius account</h3>
    <h4 style="margin-top: 30px;margin-bottom: 30px;">If you authorize this app, you will give it
        permission to:</h4>
    <ul style="margin-bottom: 45px;">
        <li>Access your name and email address.</li>
        <li>Access your tasks, projects, and workplace.</li>
        <li>Create and modify tasks, projects, and comments on your behalf.</li>
    </ul>

    <div class="d-flex justify-content-around">

        <button class="btn btn-primary" (click)="alloweded()">Allow</button>
        <button class="btn btn-danger" (click)="cancel()">Cancel</button>

    </div>
</div>
</div>