<div class="container">
    <h2 mat-dialog-title>
        <span i18n="@@workspaceRolesInformationDialog.workspaceRoles">Workspace Roles</span>
    </h2>

    <div mat-dialog-content>
        <div class="row">
        <div class="col-md-4">
        <h6 i18n="@@workspaceRolesInformationDialog.WA">Workplace Admin (WA)</h6>

        <ul i18n="@@workspaceRolesInformationDialog.WADef1">
            <li>manage the workplace settings, manually invite people, handle payments etc </li>
            <li>restore or archive groups</li>
            <li>create private groups</li>
            <li>access the global dashboard</li>
            <li>assign roles to other members</li>
        </ul>
    </div>


        <div class="col-md-4">
            <h6 i18n="@@workspaceRolesInformationDialog.WM">WORK Managers - WM</h6>

            <ul i18n="@@workspaceRolesInformationDialog.WMDef1">
                <li> create private groups</li>
                <li>manage users and roles inside the groups they create</li>
                <li>access the global dashboard</li>
                <li>delete their groups</li>
            </ul>

        </div> 

      
       <div class="col-md-4">
        <h6 i18n="@@workspaceRolesInformationDialog.GM">Group Managers - GM</h6>

        <ul i18n="@@workspaceRolesInformationDialog.GMDef1">
            <li>they are created by the WM, inside a group</li>
            <li>manage users and roles inside the group they belong</li>
            <li>can access the group dashboard</li>
            <li>can't create other groups</li>
            <li>can delete their groups</li>
        </ul>

       </div>


       <div class="col-md-4">
        <h6 i18n="@@workspaceRolesInformationDialog.M">Members - M</h6>

        <ul i18n="@@workspaceRolesInformationDialog.MDef1">
            <li>they can create AGORAs</li>
                <li>can create content inside the groups</li>
        </ul>


       </div>


        <div class="col-md-4">
            <h6 i18n="@@workspaceRolesInformationDialog.G"> Guests - G</h6>

        <ul i18n="@@workspaceRolesInformationDialog.GDef1">
            <li>isolated to the Group they are invited</li>
                <li>can't access any Agora(Public Groups)</li>
        </ul> 
        </div>
    </div>
    </div>
</div>