.lg-outer #lg-share {
  display:none !important;
  }
  .outer-overlay{
    background: rgba(0,0,0,0.5);
    top: 0; right: 0; left: 0; 
    position: fixed; 
    z-index: 9998;
    height: 100%;
  }
  
  .overlayImages{
    // position: fixed; 
    overflow-y: scroll;
    overscroll-behavior: contain;
    width:100%;
    z-index: 9998;
    margin-top: 35px;
    top: 0; bottom: 0; 
  }
  .overlayImages:after{
    background-color: transparent !important;
    background-image: none !important;
  }
  .overlayPDF { 
    position: fixed; 
    overflow-y: scroll;
    overscroll-behavior: contain;
    width:100%;
    z-index: 9998;
    margin-top: 50px;
    top: 0; bottom: 0; 
  }
  
  .overlayPDF:after{
     background-color: transparent !important;
     background-image: none !important;
  }
  #overlay-iframe { 
    position: fixed; 
    width:100%;
    z-index: 9998;
    margin-top: 47px;
    top: 0; bottom: 0; 
  }
  
  :ng-deep .ng2-pdf-viewer-container{
     background-color: black;
  }
  
  .overlay-navbar{
    background: rgba(0,0,0,0.8);
    position: fixed; 
    z-index: 9998;
    top: 0; right: 0; left: 0; 
    height:47px;
    width: 100%;
  }