$dark-sky-blue: #4a90e2;
$pumpkin-orange: #ffab00;
$turquoise: #0bc6a0;

.flowStepsDialog {
    text-align: center;
    width: 100%;
    margin: 0 auto;

    .flow-name {
      box-shadow: none;
      border:none;
      font-family: Nunito;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      vertical-align: middle;
      padding-top: 4px;
    }

    .flowStepsList {
        margin: 0 auto;
        width: 100%;

        h3 {
            text-align: left;
        }

        .flowStepsBody {
          width: 100%;
          margin: 0  auto;

          .step {
            border-bottom: 1px solid #e4edf8 !important;
            padding: 15px;
            display: flex;
            justify-content: space-between;
          

            .values {
              text-align: left;
              display: inherit;
              line-height: 48px;

              .feed-avatar {
                width: 25px !important;
                height: 25px !important;
              }
              button{
                margin-left: 8px;
              }
            }

            .index {
              margin:  0 1px !important;
              width: 30px;
              display: inline;
              font-family: Nunito, sans-serif;
              font-style: normal;
              font-weight: 700!important;
              font-size: 12px;
              align-items: center;
              color: #005FD5;
              padding: 0px 15px !important;
              line-height: 48px;
              border-right: 2px solid #E4EDF8;
            }
          }

        }
    }

    .newFlowStepForm {
      margin: 0 auto;
      width: 80%;

      button{
        i{
          margin-top: -4px;
        }
        &:hover{
          text-decoration: none !important;
          color: initial;
        }
      }
    }
}

.status-todo {
  background-color: $pumpkin-orange;
}
.status-inprogress {
  background-color:  $turquoise;
}
.status-done {
  background-color:  $dark-sky-blue;
}
.badge-status {
  margin: 0 1px !important;
  display: inline;
  font-family: Nunito,sans-serif;
  font-style: normal;
  font-weight: 700!important;
  font-size: 12px;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
  padding: 2px 10px !important;
}

.badge-section {
  margin: 0 1px !important;
  display: inline;
  font-family: Nunito,sans-serif;
  font-style: normal;
  font-weight: 700!important;
  font-size: 12px;
  align-items: center;
  color: #ffffff;
  background-color: #005FD5;
  border-radius: 10px;
  padding: 2px 10px !important;
}

.badge-cf {
  font-family: Nunito,sans-serif;
  font-style: normal;
  font-weight: 700!important;
  font-size: 12px;
  align-items: center;
  color: #005FD5;
  border-radius: 10px;
  padding: 2px 10px !important;
  border: 1px solid #005FD5;
  line-height: 20px;

}

.badge-automator {
  background: #FFAB00;
  color: #fff;
  margin: 5px;
}

.step-separator{
  margin: 0 10px;
}

.remove-separator{
  margin: 0 10px;
}
.add-step{
  margin: 0 10px;
}
.step-element{
  border-right: 2px solid #E4EDF8;
  padding: 0 5px;
}