@import "src/assets/scss/variables";

a{
    text-decoration: none !important;
    color: inherit;
}

img{
    display:block;
    width: 100%;
}

.smart-card {
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 14%);
  min-height: 260px;
  height: 100%;
}



.row  {
  margin-bottom: 5px;
}

.icon {
  margin: 5px 0 0 0;
  color: #26A69A;
}

.card-first-column {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;

  .users_count {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #5E6268;
  }

  .members_count {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #FF6584;
  }

  .global_managers_count {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #5E2FE5;
  }

  .group_managers_count {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #26A69A;
  }

  .guests_count {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #FFAB00;
  }
}

.card-icon {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 10px;
}

.card-content {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card-box {
    display: inline-block;
    width: 50%;
  }
}

.card-content {
  &::-webkit-scrollbar {
    display: none;
  }
}
