<div class="smart-card" style="padding: 10px;">
    <div class="row" style="margin: 0 0 20px; justify-content: space-between;">
      <div class="card-title mt-1" i18n="@@peopleDirectoryCard.peopleDirectory">
        People directory
      </div>
      <div class="icon">
        <i class="material-icons-outlined mr-2">contacts</i>
      </div>
    </div>
    <div class="row">
      <div class="card-first-column col-md-12">
        <div class="users_count"> {{ num_users }} </div>
        &nbsp;<span i18n="@@peopleDirectoryCard.users">users</span>
      </div>
    </div>
    <div class="row">
      <div class="card-first-column col-md-12">
        <div class="global_managers_count"> {{ num_global_managers }} </div>
        &nbsp;<span i18n="@@peopleDirectoryCard.globalManagers">global managers</span>
      </div>
    </div>
    <div class="row">
      <div class="card-first-column col-md-12">
        <div class="group_managers_count"> {{ num_group_managers }} </div>
        &nbsp;<span i18n="@@peopleDirectoryCard.groupManagers">group managers</span>
      </div>
    </div>
    <div class="row">
      <div class="card-first-column col-md-12">
        <div class="members_count"> {{ num_members }} </div>
        &nbsp;<span i18n="@@peopleDirectoryCard.members">members</span>
      </div>
    </div>
    <div class="row">
      <div class="card-first-column col-md-12">
        <div class="guests_count"> {{ num_guests }} </div>
        &nbsp;<span i18n="@@peopleDirectoryCard.guests">guests</span>
      </div>
    </div>
</div>
