<div class="flowStepsDialog">

  <mat-dialog-actions align="end">
    <i mat-dialog-close class="material-icons" (click)="onCloseDialog()" style="cursor: pointer">close</i>
  </mat-dialog-actions>

  <h2 mat-dialog-title style="margin-bottom: 30px">
    <span class="badge badge-automator">
      <i class="material-icons">offline_bolt</i>
    </span>

    <!-- Flow Name starts -->
    <input
      name="flowName"
      type="text"
      [ngModel]="flowName"
      (blur)="flowNameChange($event)"
      class="flow-name" />
    <!-- Flow Name ends -->
    <i (click)="deleteFlow()" class="material-icons text-danger" style="cursor: pointer">delete</i>
  </h2>

  <mat-dialog-content>
    <div class="flowStepsList" *ngIf="flowSteps.length <= 0">
      <h3 class="text-center muted">💪 Let's add some steps...</h3>
    </div>

    <div class="flowStepsList" *ngIf="flowSteps.length > 0">
      <div class="flowStepsBody">
        <div class="step row" *ngFor="let step of flowSteps; let index = index">
          <div class="col-md-1">
            <div class="index">{{ index + 1 }}</div>
          </div>

          <!-- TRIGGER SECTION -->
          <div class="values col-md-5" *ngIf="!step.trigger">
            WHEN
            <!-- TRIGGER OPTIONS SECTION -->
            <button mat-menu-item [matMenuTriggerFor]="triggerMenu">
              Select trigger
            </button>
            <mat-menu #triggerMenu="matMenu">
              <ng-container>
                <button mat-menu-item *ngFor="let trigger of triggerOptions" (click)="selectTrigger(trigger, index)">{{ trigger }}</button>
              </ng-container>
            </mat-menu>
          </div>

          <div class="values col-md-5" *ngIf="step.trigger">
            <span style="margin-right: 10px;">
              {{ step.trigger.name }}
            </span>

            <div *ngIf="step.trigger.name === 'Assigned to'">
              <div *ngIf="step.trigger._user">
                <img src="{{ baseUrl }}/{{ step.trigger._user.profile_pic }}"
                  onerror="this.src='assets/images/user.png'" class="feed-avatar">
              </div>

              <app-component-search-input-box
                *ngIf="!step.trigger._user" class="feed-avatar"
                [placeholder]="'User...'"
                [groupId]="groupId"
                [workspaceId]="workspaceId"
                [userData]="userData"
                [type]="'task'"
                (member)="getMemberDetails($event, 'trigger', index)">
              </app-component-search-input-box>
            </div>

            <div *ngIf="step.trigger.name === 'Status is'">
              <div *ngIf="step.trigger.status" [ngClass]="getStatusClass(step.trigger.status)">
                {{ step.trigger.status }}
              </div>

              <button *ngIf="!step.trigger.status" mat-menu-item [matMenuTriggerFor]="statusMenu">
                Select Status
              </button>
              <mat-menu #statusMenu="matMenu">
                <ng-container>
                  <button mat-menu-item *ngFor="let status of statusOptions" (click)="statusTriggerSelected(status, index)">{{ status }}</button>
                </ng-container>
              </mat-menu>
            </div>

            <div *ngIf="step.trigger.name === 'Section is'">
              <div *ngIf="step.trigger.section" class="badge-section">
                {{ step.trigger.section }}
              </div>

              <button *ngIf="!step.trigger.section" mat-menu-item [matMenuTriggerFor]="sectionTriggerMenu">
                Select Section
              </button>
              <mat-menu #sectionTriggerMenu="matMenu">
                <ng-container>
                  <button mat-menu-item *ngFor="let section of groupSections" (click)="sectionTriggerSelected(section.title, index)">{{ section.title }}</button>
                </ng-container>
              </mat-menu>
            </div>

            <div *ngIf="step.trigger.name === 'Custom Field'">
              <button *ngIf="!step?.trigger?.custom_field?.title" mat-menu-item [matMenuTriggerFor]="customFieldTitleMenu">
                Select CF
              </button>
              <mat-menu #customFieldTitleMenu="matMenu">
                <ng-container>
                  <button mat-menu-item *ngFor="let cf of customFieldOptions" (click)="customFieldTitleTriggerSelected(cf, index)">{{ cf }}</button>
                </ng-container>
              </mat-menu>

              <div *ngIf="step?.trigger?.custom_field?.title" style="display: flex;">
                <div style="margin-right: 10px;">
                  {{ step.trigger.custom_field.title }}
                </div>

                <div *ngIf="!step.trigger.custom_field.value">
                  <button *ngIf="!step?.trigger?.custom_field?.value" mat-menu-item [matMenuTriggerFor]="customFieldValueMenu">
                    Select Value
                  </button>
                  <mat-menu #customFieldValueMenu="matMenu">
                    <ng-container>
                      <button mat-menu-item *ngFor="let cfv of getCustomFieldsValues(step?.trigger?.custom_field?.title)" (click)="customFieldValueTriggerSelected(cfv, index)">{{ cfv }}</button>
                    </ng-container>
                  </mat-menu>
                </div>

                <div *ngIf="step?.trigger?.custom_field?.value">
                  is
                  <div class="badge-section">
                    {{ step.trigger.custom_field.value }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-1">
            <i class="material-icons" style="color: #005FD5; line-height: 48px;">offline_bolt</i>
          </div>

          <!-- ACTION SECTION -->
          <div class="values col-md-4" *ngIf="!step.action">
            THEN
            <!-- ACTION OPTIONS SECTION -->
            <button mat-menu-item [matMenuTriggerFor]="actionMenu">
              Select action
            </button>
            <mat-menu #actionMenu="matMenu">
              <ng-container>
                <button mat-menu-item *ngFor="let action of actionOptions" (click)="selectAction(action, index)">{{ action }}</button>
              </ng-container>
            </mat-menu>
          </div>

          <div class="values col-md-4" *ngIf="step.action">
            <span style="margin-right: 10px;">
              {{ step.action.name }}
            </span>

            <div *ngIf="step.action.name === 'Assign to'">
              <div *ngIf="step.action._user">
                <img src="{{ baseUrl }}/{{ step.action._user.profile_pic }}"
                  onerror="this.src='assets/images/user.png'" class="feed-avatar">
              </div>

              <app-component-search-input-box
                *ngIf="!step.action._user" class="feed-avatar"
                [placeholder]="'User...'"
                [groupId]="groupId"
                [workspaceId]="workspaceId"
                [userData]="userData"
                [type]="'task'"
                (member)="getMemberDetails($event, 'action', index)">
              </app-component-search-input-box>
            </div>

            <div *ngIf="step.action.name === 'Move to'">
              <div *ngIf="step.action.section" class="badge-section">
                {{ step.action.section }}
              </div>

              <button *ngIf="!step.action.section" mat-menu-item [matMenuTriggerFor]="sectionActionMenu">
                Select Section
              </button>
              <mat-menu #sectionActionMenu="matMenu">
                <ng-container>
                  <button mat-menu-item *ngFor="let section of groupSections" (click)="sectionActionSelected(section.title, index)">{{ section.title }}</button>
                </ng-container>
              </mat-menu>
            </div>

            <div *ngIf="step.action.name === 'Change Status to'">
              <div *ngIf="step.action.status" [ngClass]="getStatusClass(step.action.status)">
                {{ step.action.status }}
              </div>

              <button *ngIf="!step.action.status" mat-menu-item [matMenuTriggerFor]="statusActionMenu">
                Select Status
              </button>
              <mat-menu #statusActionMenu="matMenu">
                <ng-container>
                  <button mat-menu-item *ngFor="let status of statusOptions" (click)="statusActionSelected(status, index)">{{ status }}</button>
                </ng-container>
              </mat-menu>
            </div>
          </div>

          <!-- DELETE STEP -->
          <div class="values col-md-1">
            <i class="material-icons text-danger" (click)="removeStep(step._id)"
              style=" cursor: pointer; margin-left: 20px;">delete</i>
          </div>
        </div>
      </div>
    </div>

    <!-- ADD STEP -->
    <div class="newFlowStepForm" style="padding: 10px; margin-top: 30px; width: 70%;">
      <button class="btn btn-link" style="margin: 10px 0;" (click)="createStep()">
        <i class="material-icons" style="color: #FFAB00">offline_bolt</i>
         ADD STEP
      </button>
    </div>
  </mat-dialog-content>
</div>
