<div class="dialog-content">
  <mat-dialog-actions align="end">
      <div class="action-box">
          <a (click)="cancel()" mat-dialog-close>
          <i  class="material-icons" style="cursor: pointer">close</i>
          </a>
      </div>
  </mat-dialog-actions>

  <div class="content">
    <div class="">
        <div class="modal-header">
          <h4 class="modal-title">
            Customize your dashboard
          </h4>
        </div>

        <p class="ml-3">Select what widgets should be displayed in the dashboard.</p>
        <div class="clearfix"></div>
    </div>

    <div style="margin-top: 30px;">
      <div class="content-box" style="cursor: pointer;" *ngFor="let widget of availableWidgets" (click)="selectWidget(widget)">
        <span class="material-icons-outlined float-left" style="color:#119b11;" *ngIf="isSelected(widget.code)">check_circle</span>
        <div>
          {{ widget.name }}
        </div>
      </div>
    </div>

    <button class="btn btn-danger float-left" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary float-right" (click)="save()">Update settings</button>

  </div>
  <!-- Top Right Section ends -->
</div>
