<div class="sidecontent">
  <div class="card sideinnercard">
    <div class="card-block">
      <h6 class="card-title" *ngIf="routerState === 'general'">
        <b i18n="@@workplaceIntegrations.workspaceInfo">Workplace Integrations</b>
      </h6>

      <div style="margin-top: 20px;">
        <button class="btn btn-primary" (click)="openWorkplaceIntegrationsDialog(workspaceData?._id)" i18n="@@workspaceAddDomain.manageIntegrations">Manage Integrations</button>
      </div>
    </div>
  </div>
</div>
