<div class="sidecontent">
  <div class="card sideinnercard">
    <div class="card-block">
      <h6 class="card-title" *ngIf="routerState === 'general'">
        <b i18n="@@workplaceIntegrations.workspaceIntegrations"> <i class="material-icons">cable</i> Workplace Integrations</b>
      </h6>

      <p i18n="@@workplaceIntegrations.workspaceIntegrationsDescription">
        Manage integrations with third party applications.
      </p>

      <div style="margin-top: 10px;">
        <button class="btn btn-primary" (click)="openWorkplaceIntegrationsDialog()" i18n="@@workspaceAddDomain.manageIntegrations">Manage Integrations</button>
      </div>
    </div>

    <div class="card-block" style="margin-top: 20px;" *ngIf="workspaceData?.integrations?.is_ldap_connected">
      <p>
        <b i18n="@@workspaceAddDomain.fetchInfo">Fetch Information from LDAP </b>
      </p>

      <div style="margin-top: 10px;">
        <button class="btn btn-primary" (click)="getUserInformation()" i18n="@@workspaceAddDomain.syncLDAP">Sync LDAP</button>
      </div>
    </div>
  </div>
</div>
