div.inline-edit {
    text-decoration: none;
    border-bottom: #A8B9CE dashed 1px;
    cursor: pointer;
    text-align: left;
    padding: .5em 0;
    color: #444 !important;
    width: auto;
}

input {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 4px 10px;
    margin-top: -6px;
}

.dropdown-menu{
    padding: 0;
    border:none !important;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 6px 9px rgba(0, 0, 0, 0.2);
}

.mat-form-field {
    display: block;
}

.assignee-avatar {
    float: left;
}