<div class="block">
    <table mat-table matSort [dataSource]="sortedData" (matSortChange)="sortData($event)" class="">
        <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@crmContactList.name"> Name </th>
        
            <td mat-cell *matCellDef="let contact">
                <span>{{ contact?.name }}</span>
            </td>
        </ng-container>

        <!--
        <ng-container matColumnDef="description">
            <th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@crmContactList.description"> Description </th>
        
            <td mat-cell *matCellDef="let contact">
                <span>{{ contact?.description }}</span>
            </td>
        </ng-container>
        -->

        <ng-container matColumnDef="company">
            <th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@crmContactList.company"> Company </th>
        
            <td mat-cell *matCellDef="let contact">
                <span>{{ contact?.company_history[0]?._company?.name }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@crmContactList.phone"> Phone </th>
        
            <td mat-cell *matCellDef="let contact">
                <span>{{ contact?.phones[0] }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@crmContactList.email"> E-Mail </th>
        
            <td mat-cell *matCellDef="let contact">
                <span>{{ contact?.emails[0] }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="link">
            <th mat-header-cell mat-sort-header *matHeaderCellDef i18n="@@crmContactList.link"> Link </th>
        
            <td mat-cell *matCellDef="let contact">
                <span>{{ contact?.links[0] }}</span>
            </td>
        </ng-container>

        <!-- CUSTOM FIELDS START -->
        <ng-container [matColumnDef]="cf.name" *ngFor="let cf of crmCustomFieldsToShow">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                <div class="cf_cell">
                    {{ cf.title }}
                    <i class="material-icons small" *ngIf="isAdmin" (click)="removeColumn(cf)"
                        style="cursor: pointer;">close</i>
                </div>
            </th>
            <td mat-cell *matCellDef="let contact">
                <div class="cf_cell" *ngIf="!!contact?.crm_custom_fields">
                    {{ contact?.crm_custom_fields[cf.name] }}
                </div>
            </td>
        </ng-container>
        <!-- CUSTOM FIELDS ENDS -->

        <ng-container matColumnDef="star">
            <th mat-header-cell *matHeaderCellDef style="text-align: right;">
                <div class="">
                    <i class="material-icons-outlined" style="cursor: pointer;" *ngIf="isAdmin"
                        [matMenuTriggerFor]="addColumn">add</i>
                </div>
                <mat-menu #addColumn="matMenu">
                    <div class="newColumnMatMenu">
                        <span i18n="@@asksTableView.addCF">Add custom field</span>
                        <mat-form-field>
                            <mat-label i18n="@@asksTableView.selectOption">Select an option</mat-label>
                            <mat-select ngDefaultControl (selectionChange)="addNewColumn($event)"
                                (click)="$event.stopPropagation()" [(ngModel)]="newColumnSelected" name="new_column">
                                <mat-option *ngFor="let f of crmCustomFields" [value]="f">{{ f.title }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-menu>
            </th>
        
            <td mat-cell *matCellDef="let contact" style="text-align: right;">
                <i class="material-icons-outlined ml-2 muted pointer" [matMenuTriggerFor]="menu">more_horiz</i>
                <mat-menu #menu="matMenu">
                    <a mat-menu-item (click)="openNewContactDialog(contact?._id)">
                        <span i18n="@@crmContactList.edit">Edit</span>
                    </a>
                    <a mat-menu-item (click)="deleteContact(contact?._id)">
                        <span i18n="@@crmContactList.delete">Delete</span>
                    </a>
                </mat-menu>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let contact; columns: displayedColumns;"></tr>
    </table>
</div>
