
input {
    outline: none;
    padding-right: 10px;
}

.search-input{
    width: 100%;
    border: none;
}

.inner-addon {
  position: relative;
  height: 100%;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

/* style icon */
.inner-addon .material-icons {
  position: absolute;
  padding: 3px;
  pointer-events: none;
}

/* align icon */
.left-addon .material-icons  { left:  0px;}
.right-addon .material-icons { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

a{
    display: block;
    text-decoration-line: none;
}



.octo-search-category{
    font-size: 14px;
    font-weight: 400;
    padding: 4px;
    background-color: #E4EDF8;
    color: #4A90E2;
    margin-bottom: 1rem !important;
}

.octo-search-results{
    font-size: 16px;
    font-weight: 400;
    color: #242D3A;
    margin-bottom: 1rem !important;
}

.col-md-4{
    max-height: 500px;
    overflow-y: auto;
}
