
input {
    outline: none;
    padding-right: 10px;
}

.search-input{
    width: 100%;
    border: none;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    color: #005fd5;
    font-size: 24px;
}

.inner-addon {
  position: relative;
  height: 100%;
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-bottom: 1px solid #E4EDF8;
  margin-bottom: 0;
}

/* style icon */


.left-addon{
  width: 60%;
}

/* align icon */
.left-addon .material-icons  { left:  0px;}
.right-addon .material-icons { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.filterwrapper{
  display: flex;
  width: 60%;
  justify-content: left;
  margin: 0 auto 30px auto;
  border: 1px solid #E4EDF8;
  border-radius: 4px;
  padding: 18px;
  flex-direction: column;
}
.filter-item{
  display: flex;
  width: 100%;
  justify-content: left;
  margin: 10px 0px;
}

.advanced-filters {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  justify-content: left;
}

.filter-label{
  display: flex;
  width: 20%;
}
.filter-cell{
  display: flex;
  width: 80%;
}

a{
    display: block;
    text-decoration-line: none;
}

.octo-search-category{
    font-size: 14px;
    font-weight: 400;
    padding: 4px;
    background-color: #E4EDF8;
    color: #4A90E2;
    margin-bottom: 1rem !important;
}

.octo-search-results{
    font-size: 16px;
    font-weight: 400;
    color: #242D3A;
    margin-bottom: 1rem !important;
    padding: 4px;
}

.octo-search-results:active, .octo-search-results:focus{
  background: #E4EDF8;
}

.col-md-4{
    max-height: 500px;
    overflow-y: auto;
}



.results {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.input-search {
  width: 100%;
  height: 38px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background: #fff;
  border: none;
  border-bottom: 1px solid #000000;
}

.actions {
  margin-top: 20px;
}

.tagslabel{
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px !important;
  align-items: center;
 background-color: #e4edf8;
  // text-align: right;
  border-radius: 10px;
  padding: 2px 10px;
  width: fit-content;
  margin:0 5px !important;
}

.search-placeholder{
  width: 30%;
  margin: 32px auto;
  text-align: center;
  img{
    width: 250px;
  }
}