<div>
  <mat-dialog-actions class="d-flex justify-content-end" align="end">
    <i mat-dialog-close class="material-icons" style="cursor: pointer">close</i>
  </mat-dialog-actions>

  <div mat-dialog-title class="inner-addon">
    <div class="left-addon">
      <i class="material-icons">search</i>
      <input type="text" name="search" id="" placeholder="Search deeper..." class="search-input" autocomplete="false"
        [(ngModel)]="searchQuery" (ngModelChange)="search()" style="width: 90%;">
    </div>
    <div class="right-addon">
      <i class="material-icons muted" style="cursor: pointer;" (click)="showAdvancedFilters=!showAdvancedFilters">tune</i>
    </div>
  </div>

  <div *ngIf="showAdvancedFilters" class="filterwrapper">
    <div class="filter-item">
      <div class="filter-label" i18n="@@searchHeader.type">Type</div>
      <div class="filter-cell">
        <mat-select [(value)]="advancedFilters.type" appearance="fill" (selectionChange)="advancedFiltersTypeChanged()" style="width: 20%;">
          <mat-option value="all" i18n="@@searchHeader.everything">Everything</mat-option>
          <mat-option value="file" i18n="@@searchHeader.file">File</mat-option>
          <mat-option value="post" i18n="@@searchHeader.post">Post</mat-option>
          <mat-option value="user" i18n="@@searchHeader.user">User</mat-option>
        </mat-select>
      </div>
    </div>

    <div class="advanced-filters" *ngIf="advancedFilters.type == 'file' || advancedFilters.type == 'post'">
      <div class="filter-label" i18n="@@searchHeader.tag">Tag</div>
      <div class="filter-cell">

          <div *ngFor="let tag of advancedFilters?.tags; let i = index">
            <button class="btn tagslabel"
                style="margin-right: 1rem;"
                (click)="removeTag(i)">
                {{ tag }}
                <i class="material-icons" matTooltipPosition="above" matTooltip="Delete this tag">close</i>

            </button>

          </div>

        <app-component-search-input-box
          [placeholder]="'Add tag'"
          [type]="'tag'"
          [tagList]="advancedFilters?.tags"
          (tag)="addNewTag($event)">
        </app-component-search-input-box>
      </div>
    </div>

    <div class="advanced-filters" *ngIf="advancedFilters.type == 'user'">
      <div class="filter-label" i18n="@@searchHeader.skill">Skill</div>
      <div class="filter-cell">

          <div *ngFor="let skill of advancedFilters?.skills; let i = index;">

              <button type="button" name="button" class="btn tagslabel" (click)="removeSkill(i)">

                {{skill}}
                <i class="material-icons" matTooltipPosition="above" matTooltip="Delete this skill">close</i>
              </button>
            </div>


        <app-component-search-input-box
          [placeholder]="'Add skill'"
          [type]="'skill'"
          [tagList]="advancedFilters?.skills"
          (skill)="addNewSkill($event)">
        </app-component-search-input-box>
      </div>
    </div>

    <div class="advanced-filters" *ngIf="advancedFilters.type == 'file' || advancedFilters.type == 'post'">
      <div class="filter-label" i18n="@@searchHeader.owner">Owner</div>
      <div class="filter-cell">
        <div class="useravatar" *ngFor="let member of advancedFilters.owners">
          <app-secured-image
            [imgURL]="member?.profile_pic"
            [service]="'user'"
            [tooltip]="member?.first_name + ' ' + member?.last_name"
            [styleClass]="'feed-avatar'"
            (click)="removeMemberSearch(member._id)"></app-secured-image>
        </div>
        <app-component-search-input-box class="ml-2" *ngIf="workplaceData"
            [placeholder]="'Member'" [ragMemberList]="advancedFilters?.owners"
            [workspaceData]="workplaceData?._id" [workspaceData]="workplaceData" [type]="'workspaceMembers'"
            (member)="addNewMember($event)">
        </app-component-search-input-box>
      </div>
    </div>

    <div class="advanced-filters" *ngIf="advancedFilters.type == 'file'">
      <div class="filter-label" i18n="@@searchHeader.fileMetadata" *ngIf="advancedFilters.type == 'file'">File metadata</div>
      <div class="filter-cell">
        <input type="search" id="keyword" autocomplete="off" placeholder="Search Content" class="input-search"
          [(ngModel)]="advancedFilters.metadata" (ngModelChange)="search()"/>
      </div>
    </div>

    <div class="actions">
      <button class="btn btn-outline-danger" (click)="clear()" i18n="@@searchHeader.clear">
        Clear
      </button>
      &nbsp;&nbsp;
      <button class="btn btn-primary" (click)="showAdvancedFilters = !showAdvancedFilters" i18n="@@searchHeader.close">
        Close
      </button>
    </div>
  </div>

  <div class="results row" style="overflow: hidden;">
    <div class="col-md-4" style="border-right: 2px solid #E4EDF8;">
      <p *ngIf="searchedPosts.length > 0" class="octo-search-category" i18n="@@searchHeader.posts"><span class="material-icons">
        message
        </span>
        
        POSTS</p>
      <a *ngFor="let post of searchedPosts" href="#" onclick="return false"
        (click)="selected=post; selectedType='post'" class="octo-search-results">{{ post.title }}</a>

      <p *ngIf="searchedUsers.length > 0" class="octo-search-category" i18n="@@searchHeader.users"><span class="material-icons">
        supervisor_account
        </span>USERS</p>
      <a *ngFor="let user of searchedUsers" href="#" onclick="return false"
        (click)="selected=user; selectedType='user'" class="octo-search-results">{{ user.first_name }} {{ user.last_name }}</a>

      <p *ngIf="searchedFiles.length > 0" class="octo-search-category" i18n="@@searchHeader.files"><span class="material-icons">
        insert_drive_file
        </span>FILES</p>
      <a *ngFor="let file of searchedFiles" href="#" onclick="return false"
        (click)="selected=file; selectedType='file'" class="octo-search-results">{{ file.original_name }}</a>
    </div>

    <div class="col-md-8">
      <app-search-results *ngIf="selected" [data]="selected" [type]='selectedType'></app-search-results>
    </div>
  </div>

  <div class="search-placeholder" *ngIf="searchedPosts.length == 0 && searchedUsers.length == 0 && searchedFiles.length == 0">
    <img src="assets/images/placeholder_search.svg">
  </div>
</div>
