<div class="container-fluid h-100 welcome">
  <div class="row h-100">

    <!-- OCTONIUS LEFT BRANDING PANEL STARTS -->
    <app-branding-panel [routerState]="'select-workspace'" class="col-md-8 overlay"></app-branding-panel>
    <!-- OCTONIUS LEFT BRANDING PANEL ENDS -->

    <!-- HOME PANEL STARTS -->
    <div class="col-md-4 shaddow">
      <div style="padding:100px 30px;">


        <div style="width: 100%; margin:0 auto; align-items: center; height: 30vh;">

          <h4 class="muted not_bold" i18n="@@selectWorkspace.welcome">
            Welcome, {{ accountData?.first_name }} {{ accountData?.last_name }}!
          </h4>

          <h1 style="margin-bottom: 30px;" i18n="@@selectWorkspace.selectAWorkspace">
            Select a workplace to start.
          </h1>

          <!-- SELECT A WORKPLACE -->
          <div class="form-group">
            <div *ngFor="let workspace of accountData?._workspaces"
                class="workplace-cells" (click)="selectWorkspace(workspace._id)">
              <div class="btn-select-workplace">
                <img src="{{ this.baseUrl }}/{{workspace.workspace_avatar}}?noAuth=true"
                    style="height: 100%; width:100%"
                    onerror="this.src='assets/images/icon-new-group.svg'" />
                <!--
                <app-secured-image
                    [imgURL]="workspace?.workspace_avatar"
                    [service]="'workspace'"
                    [inlineStyle]="'height: 100%; width:100%'"
                    [noAuth]="true"></app-secured-image>
                -->
              </div>

              <h3 class="card-title ml-3">
                  {{workspace?.workspace_name}}
              </h3>
            </div>
          </div>
          <!-- SELECT A WORKPLACE -->

          <!-- CREATE A NEW WORKPLACE -->
          <div class="form-group" *ngIf="canCreateNewWorkplaces">
            <div [routerLink]="['/authentication', 'new-workplace']" routerLinkActive="router-link-active" class="workplace-cells">
                <div class="btn-create-workplace">
                  <i class="material-icons"> add</i>
                </div>

              <h3 class="card-title ml-3" i18n="@@selectWorkspace.createNewWorkspace">
                  Create a new workplace
              </h3>
            </div>
          </div>
          <!-- CREATE A NEW WORKPLACE -->

          <!-- JOIN AN EXISTING WORKPLACE -->
          <div class="form-group">
            <div [routerLink]="['/authentication', 'join-workplace']" routerLinkActive="router-link-active"
                class="workplace-cells">
                <div class="btn-join-workplace">
                  <i class="material-icons"> login</i>
                </div>
              <h3 class="card-title ml-3" i18n="@@selectWorkspace.joinAnotherWorkspace">
                  Join another workplace
              </h3>
            </div>
          </div>
          <!-- JOIN AN EXISTING WORKPLACE -->
        </div>

      </div>
   </div>
   <!-- HOME PANEL ENDS -->
  </div>
</div>
