f-payments-title {
  margin-bottom: 1.5rem;
}

.list-group-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
}
