<div class="row main-actvity">

  <div class="col-md-4">
    <div class="row sidecontent">

      <div class="card sideinnercard">
        <div class="card-block">
          <h6 class="card-title"><b>Company Stats</b></h6>
          <hr/>
          <p class="card-text">{{ admins_count}} Admin Users</p>
          <p class="card-text">{{ members_count }} Members</p>
          <p class="card-text">{{ guests_count }} Guests</p>
          <p class="card-text">{{ groups_count }} Groups</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card-tile">

      <h4><b>Currently Plan </b></h4>
      <h4>1 user - 10 EUR(€)/month</h4>
      <hr/>
      <p><b>Price</b><br /> 10 Eur(€)/seat - Per Month. Billed Monthly.</p>
      <button (click)="handlePayment()" class="btn btn-lg btn-primary">Start a monthly subscription</button>
      <div class="row" style="margin-top: 10%; margin-bottom: 20%; margin-left:1%; ">
      <img src="src/assets/images/powered_by_stripe@2x.png">
      </div>

    </div>
  </div>

</div>

