.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/* styles */
body {
  font: 15px/1.7em "open sans", Arial, sams-serif;
}

section.comments {
  width: 380px;
  //margin: 0px auto 0 auto;
}

section.comments .thumbnail {
  width: 50px;
  float: left;
}

section.comments .thumbnail img {
  top: 50%;
  width: 50px;
  box-shadow: 0 0 5px rgba(0,0,0,.6);
}

section.comments .comment-contents {
  position: relative;
  background: white;
  color: #b69696;
  padding: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
  float: right;
  width: 300px;
}

section.comments .comment-contents:before,
section.comments .comment-contents:after
{
  position: absolute;
  width: 0; height: 0; top: 30px;
  left: -20px;
  content: '';
  border: 10px solid transparent;
  border-right-color: white;
}

section.comments .comment-contents:after {
  top: 31px;
  border-right-color: #ccc;
  z-index: -1;
}

section.comments .comment-contents .comment-author h2 {
  margin: 0;
  margin-top: 5px;
  font: normal 25px/1em "droid serif", serif;
}

section.comments .comment-contents p {
  text-shadow: 0 2px 2px rgba(0,0,0,.2);
}

section.comments .comment-contents a.comment-author,
section.comments .comment-contents a {
  color: #846d6d;
  text-decoration: none;
  transition: color .3s ease-in-out;
}

section.comments .comment-contents a.comment-author:hover,
section.comments .comment-contents p a:hover {
  color: #222;
  text-decoration: underline;
}

section.comments .comment-infos .comment-date {
  width: 200px;
  float: left;
  color: #aeadad;
}

section.comments .comment-infos .comment-date .likes-counter {
  margin-left: 10px;
}

section.comments .comment-infos .comment-reply {
  text-align: right;
}

section.comments .comment-infos .comment-reply a,
section.comments .comment-infos .comment-date .likes-counter a
{
  color: #71c6ee;
  text-decoration: none;
  transition: color .3s ease-in-out;
}

section.comments .comment-infos .comment-reply a:hover,
section.comments .comment-infos .comment-date .likes-counter a:hover {
  color: #4587a5;
}
