<div class="container">
    <app-collaborative-doc-group-post-comment
    [post]="post"
    [user_data]="user_data"
    [user]="user"
    (newCommentReceived)="commentReceived($event)">
    </app-collaborative-doc-group-post-comment> 
</div>  

<div class="container">
    <button class="btn btn-default" style="margin-bottom: 10px; margin-top:10px; margin-left: 60px" *ngIf="!toggle_comments && comments_count > 0" (click)="getComments(); toggle_comments = !toggle_comments">Show all {{comments_count}} Comment(s)</button>
    <button class="btn btn-dark" style="margin-bottom: 10px; margin-top:10px; margin-left: 60px" *ngIf="toggle_comments && comments_count > 0" (click)="deselectAllTheComments(comments); toggle_comments = !toggle_comments">Hide Comments</button>
    
    
    <div *ngIf="toggle_comments">
        <section class="comments" *ngFor="let comment of comments">
            <div class="thumbnail cf">        
                <img src="{{this.BASE_URL}}/uploads/{{comment?._commented_by?.profile_pic}}" 
                onerror="this.src='/assets/images/user.png'"
                class="feed-avatar"
                [routerLink]="['/dashboard/profile', post?._posted_by?._id, 'profile']"/>
            </div>
            <div class="comment-contents">
             <h6>   {{ comment?._commented_by?.first_name }} {{ comment?._commented_by?.last_name }}</h6>
             <div class="small lightgray date">
              {{ comment?.created_date | date:'mediumDate' }}
              
            </div>
             <div style="cursor: pointer" (click)="selectHighlightedText(comment?._highlighted_content_range)">{{ comment?.content }}</div>
              <div class="comment-infos">
                
                <div class="comment-reply">
                  <button class="btn btn-sm btn-danger" *ngIf="user?.role == 'admin' || comment?._commented_by?._id == user?._id " (click)="deleteComment(comment?._id)">Delete</button>
                </div>
              </div>
            </div>
          </section>  
    </div>
    <button class="btn btn-primary btn-sm" style="margin-bottom: 10px; margin-left: 50%" *ngIf="toggle_comments && comments_count > 5 && nextCommentCount > 0" (click)="loadPreviousComments()">Show Next {{nextCommentCount}} Comments</button>

</div>
