.mainDiv{
    border: 1px solid #E4EDF8;
    box-sizing: border-box;
    box-shadow: 0px 4px 5px rgba(66, 66, 66, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
    // margin-left: 10%;
    height: 650px;
    margin-top: 2%;
    display: block !important;
    background-color: #ffffff;
}

nav {
    min-height: 80px;
    height: 650px;
    background-color: #fff;
    box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.1);
  }