.mainDiv{
    border: 1px solid #E4EDF8;
    box-sizing: border-box;
    box-shadow: 0px 4px 5px rgba(66, 66, 66, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 98%;
    // margin-left: 10%;
    height: 375px;
    margin-top: 2%;
    display: block !important;
    background-color: #ffffff;
}
