
        <div class="container-fluid mainDiv">
            <img src="assets/images/teamsToOctonius.png" alt="" style="width: 240px; margin-top: 30px;margin-left: 25%;">
            <h3 style="text-align: center;line-height: 1.1;margin-top: 10px;font-size: 22px;">Octonius for Microsoft Teams is requesting permission to access your Octonius account</h3>
            <h4 style="text-align: center;margin-top: 40px;margin-bottom: 34px;">If you authorize this app, you will give it permission to:</h4>
            <ul style="margin-left: 5%;margin-bottom: 10%;">
                <li>Access your name and email address.</li>
                <li>Access your tasks, projects, and workplace.</li>
                <li>Create and modify tasks, projects, and comments on your behalf.</li>
            </ul>
        
            <button style="margin-left: 32%;margin-right: 5%;" (click)="alloweded()">Allow</button>
            <button (click)="cancel()">Cancel</button>
        </div>




<!-- Asana for Microsoft Teams is requesting permission to use Asana Connect to access your Asana account.

If you authorize this app, you will give it permission to:

The app is already authorized to:

Access your name and email address.
Access your tasks, projects, and workspaces.
Create and modify tasks, projects, and comments on your behalf.
You can deauthorize the app completely from the Apps tab under My Profile Settings. -->