.triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 8px solid #005fd5;
  top: -8px;
  margin-left: 12px;
}

.triangle-event {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 8px solid #005fd5;
  top: -8px;
  margin-left: 70px;
}


.triangle-task {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 8px solid #005fd5;
  top: -8px;
  margin-left: 122px;
}

.dropdown-edit::after
{
  display:none;
}
.list-tags{
  max-height: 150px;
  margin-bottom: 5px;
  overflow:auto;
	overflow-x: hidden;
	padding: 0 !important;
  // -webkit-overflow-scrolling: touch;
}
.list-tags{
  .tags{
    margin-bottom: 5px;
    margin-top: 5px;
	}
}

div.search-dropdown-menu.dropdown-menu.show{
  top: 0px;
  left: 0px;
}
div.collab-dropdown-menu.dropdown-menu.show{
  top: 35px !important;
  left: 17px !important;
}
.dropdown-toggle::after{
  display:none;
}

.custom-class {
  color: #ccc;
}
.custom-class .c-token{
  background: #38d574 !important;
}
.custom-class .pure-checkbox label::before {
  border-color: #38d574 !important;
}
.custom-class .pure-checkbox input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
  background: #38d574 !important;
}

c-icon {
  display: none;
}
