<!-- postbox-->

<!-- Only display when the group has been loaded -->
<div *ngIf="group" class="card" style="margin-bottom: 10px">
  <div class="card-block">
    <form [formGroup]="postForm">
      <div class="row card-title" style="padding:5px">
        <div class="col-md-1">
          <!--/uploads/user.png-->
          <img [src]="this.profilePic" onerror="this.src='/assets/images/user.png'" class="feed-avatar">
        </div>
        <div class="col-md-11">

          <button type="text" class="form-control btn-md noborder-btn" style="outline: none; box-shadow: none !important; margin-top: 12px;border: 0px solid #ccc !important; text-align: left; cursor: pointer;"
                  placeholder="What are you working on?" (click)="togglePostbox()">What are you working on?</button>
        </div>
      </div>
      <div *ngIf="postboxDisplayed" class="col-md-12 innercard">
        <div class="row">
          <div class="col-md-6">
            <ul class="nav nav-pills">

              <li class="nav-item">
                <button
                  (click)="onSelectPostType('normal')"
                  class="btn btn-link cool" placement="top" ngbTooltip="Create a post">
                  <i
                    [style.color]="post.type === 'normal' ? '#005fd5' : '#9b9b9b'"
                    class="material-icons muted" id="icon_comment" style="color: #005fd5; ">
                    comment
                  </i>

                </button>

              </li>

              <li class="nav-item">
                <button
                  (click)="onSelectPostType('event')"
                  class="btn btn-link cool" placement="top"
                  ngbTooltip="Create event">
                  <i
                    [style.color]="post.type === 'event' ? '#005fd5' : '#9b9b9b'"
                    class="material-icons muted" id="icon_event">event
                  </i>
                </button>
              </li>
              <li class="nav-item">
                <button
                  (click)="onSelectPostType('task')"
                  class="btn btn-link cool" placement="top" ngbTooltip="Create task">
                  <i
                    [style.color]="post.type === 'task' ? '#005fd5' : '#9b9b9b'"
                    class="material-icons muted"
                    id="icon_check_box">check_box
                  </i>
                </button>
              </li>
              <li class="nav-item" ngbDropdown autoClose="outside" #myCollabDrop="ngbDropdown" >
                  <button  ngbDropdownToggle  (click) ="myCollabDrop.open()" class="btn btn-link cool" placement="top" ngbTooltip="Collaborative editing">
                    <i
                    [style.color]="post.type === 'document' ? '#005fd5' : '#9b9b9b'"
                    class="material-icons muted"
                    id="icon_check_box">insert_drive_file
                    </i>
                      <div class="collab-dropdown-menu" ngbDropdownMenu aria-labelledby="myCollabDrop">
                        <div class="w-100" style="display:inline-block">
                          <ul class="list-tags" >
                            <li class="collabDrop">
                                <button
                                (click)="onSelectPostType('document'); myCollabDrop.close()"
                                class="btn btn-link cool" placement="top" ngbTooltip="New Collaborative Doc">
                                <i
                                  [style.color]="post.type === 'document' ? '#005fd5' : '#9b9b9b'"
                                  class="material-icons muted"
                                  id="icon_check_box">insert_drive_file
                                </i>
                              </button>
                              <label (click)="onSelectPostType('document'); myCollabDrop.close()" style = "cursor:pointer">
                                  New Doc
                              </label>
                            </li>
                            <li>
                                <button type="button" class="btn btn-link">
                                    <input id="cin2" #fileInput2  type="file" class="btn btn-outline-warning task" style="display: none"
                                            (change)="docFileImportEvent($event); myCollabDrop.close()" placeholder="File"/>
                                    <i class="material-icons" placement="top"
                                    ngbTooltip="Import local .Docx file " (click)="fileInput2.click()">attach_file</i>
                                  </button>
                                  <label style = "cursor:pointer">
                                      <input id="cin2" #fileInput2  type="file" class="btn btn-outline-warning task" style="display: none"
                                      (change)="docFileImportEvent($event);myCollabDrop.close()" placeholder="File"/>
                                      Import Doc
                                  </label>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </button>
              </li>
            </ul>

          </div>
          <div class="col-md-6 text-right">


            <assign-users-modal
              *ngIf="(post.type === 'event' || post.type === 'task') && !isItMyWorkplace"
              [selectedGroupUsers]="selectedGroupUsers"
              (usersSelected)="usersSelected($event)"
              [settings]="settings"
              [group]="group">
            </assign-users-modal>
            <date-picker-modal [model_date]="model_date" (picked_date)="setDate($event)" *ngIf="post.type === 'event'|| post.type ==='task'"></date-picker-modal>
            <time-picker *ngIf="post.type === 'event'" [model_time]="model_time" (picked_time)="setTime($event)"></time-picker>

          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-md-12">
           <div  class="form-group editor">  <!-- *ngIf="modulesLoaded" -->
              <div class="triangle" *ngIf="post.type=='normal'"></div>
              <div class="triangle-event" *ngIf="post.type=='event'"></div>
              <div class="triangle-task" *ngIf="post.type=='task'"></div>

              <input id="post-title" name="postTitle" type="text" formControlName="postTitle" [(ngModel)]="post.title" placeholder="Insert title here ..." style="padding: 12px 15px; font-style: italic; width: 100%; outline: none; box-shadow: none"/>

              <quill-editor id="post-content" [modules]="modules" [(ngModel)]="post.content"
                            [spellcheck]="true" name="postContent" formControlName="postContent"
                            (ready)="onEditorCreated($event)" (onEditorCreated)="onEditorCreated($event)" (change)="onContentChanged($event)"
                            (onContentChanged)="onContentChanged($event)">
              </quill-editor>

              <div ngbDropdown class="btn-group" style="width:100%">

                <button type="button" class="btn btn-link">
                  <input id="cin" #fileInput type="file" class="btn btn-outline-warning task" style="display: none"
                         (change)="fileChangeEvent($event)" placeholder="File" multiple />
                  <i class="material-icons" placement="top"
                  ngbTooltip="Upload local files" (click)="fileInput.click()">attach_file</i>
                </button>
                <button type="button" class="btn btn-link">
                  <i class="material-icons" placement="top"
                  ngbTooltip="Upload Google Drive files" (click)="loadGoogleDrive();">
                    cloud_upload
                  </i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div ngbDropdown autoClose="outside" #myTagsDrop="ngbDropdown">
              <input ngbDropdownToggle
              type="text"
              id="tags"
              class="tags"
              placeholder="Add Tag here"
              ng-show="tags_search_words"
              (keyup)="tagListSearch(); $event.stopPropagation(); myTagsDrop.open();"
              (keydown)="addTags($event); myTagsDrop.close();"
              [(ngModel)]="tags_search_words"
              name="tag"
              formControlName="tag"
              placement="top"
              ngbTooltip="Type & hit enter to add a tag">
                <div class="search-dropdown-menu" ngbDropdownMenu aria-labelledby="myTagsDrop" >
                  <div class="w-100" style="display:inline-block" *ngIf="tags_search_result?.length > 0">
                      <ul class=" list-tags" >
                        <li class="tags" *ngFor="let tag of tags_search_result; let i = index;">
                          <button class="btn btn-light btn-block" (click)="clickedOnTag(i); myTagsDrop.close();">{{ tag?.tags }}</button>
                        </li>
                      </ul>
                    </div>
              </div>
            </div>
          </div>
        </div>


 <!--POST TAGS-->
 <div class="row innercard" >
  <div class="col-xs" style="margin-left: 20px">  <i class="material-icons tagslabel" ngbTooltip="Tags">
      local_offer
      </i></div>
      <div class="col-md-10" style="margin-left: -20px">


    <button class="btn badge badge-primary" style="margin-right: 1rem;" (click)="removeTag(i)" *ngFor="let tag of tags; let i = index" placement="top" ngbTooltip="Click here to remove this tag"><b>X</b> {{tag}}</button>
  </div>
</div>
        <div class="row">
          <div class="col-md-8 ">
            <div id="google-drive-file" style="display:none;"></div>
            <div *ngFor="let file of filesToUpload">
              <p><b>Uploaded file(s): </b>{{file.name}}</p>
            </div>
          </div>

          <div class="col-md-4 text-right ">
            <button type="button " name="button" class="btn btn-default " (click)="togglePostbox()">Cancel</button>
            <button [disabled]="(this.postForm.invalid && this.post.type === 'normal' )
    || this.processing
    || (this.selectedGroupUsers.length === 0 && this.post.type === 'event' && !this.isItMyWorkplace)"
                    type="button " name="button" (click)="OnAddNewPost()" class="btn btn-primary">Post</button>
          </div>
        </div>
        <br>
      </div>
    </form>
  </div>

