<div class="create-task task" (click)="column.addTask = !column.addTask">
    + New Task
</div>
<div class="add-task" *ngIf="column.addTask">
    <input class="form-control" type="text" placeholder="Enter task title" [(ngModel)]="postTitle">
    <div class="container">
        <button class="col-md-4 btn btn-primary" (click)="column.addTask = false; createPost()">
            Save
        </button>
        <button class="col-md-4 btn btn-danger" (click)="column.addTask = false;">
            Cancel
        </button>
    </div>
</div>