<div class="root">
        <app-board-bar *ngIf="groupData"
            [groupData]="groupData"
            [isAdmin]="isAdminUser()"
            (changeViewEmitter)='onChangeViewEmitter($event)'
            (customFieldEmitter)="onCustomFieldEmitter()">
        </app-board-bar>

        <app-group-kanban-boards *ngIf="viewType ==='kanban'"
            [groupData]="groupData"
            [userData]="userData"
            [columns]="columns"
            [tasks]="tasks">
        </app-group-kanban-boards>

        <app-group-tasks-list-view *ngIf="viewType ==='list'"
            [groupData]="groupData"
            [userData]="userData"
            [columns]="columns"
            [tasks]="tasks"
            [customFields]="customFields"
            [isAdmin]="isAdminUser()">
        </app-group-tasks-list-view>

</div>

<!-- Loading Spinner Starts -->
<app-loading-spinner class="media"></app-loading-spinner>
<!-- Loading Spinner Ends -->
