.tagslabel{
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 12px !important;
    align-items: center;
   background-color: #e4edf8;
    // text-align: right;
    border-radius: 10px;
    padding: 2px 10px;
    width: fit-content;
    margin:0 5px !important;
  }
  