.step {
    text-align: center;
    width: 32px;
    height: 32px;
    color: #000000;
    background-color: #FBB732;
    font-size: 22px;
    margin-right: 10px;
    border-radius: 4px;
}

.row {
    margin-bottom:100px;
    align-items: baseline;
}

.group-types {
    border-bottom: 1px solid #E4EDF8;
    margin-bottom: 10px;
    padding-bottom: 20px;
}