.step {
    text-align: center;
    width: 25px;
    height: 25px;
    color: #000000;
    background-color: #FBB732;
    font-size: 20px;
    margin-right: 10px;
}

.row {
    margin-bottom: 50px;
}

.group-types {
    border-bottom: 1px solid #E4EDF8;
    margin-bottom: 10px;
    padding-bottom: 20px;
}