.step {
    text-align: center;
    width: 25px;
    height: 25px;
    color: #000000;
    background-color: #D9D9D9;
    font-size: 20px;
    margin-right: 10px;
}

.row {
    margin-bottom: 50px;
}

.mat-radio-button {
    border-bottom: 1px solid #E4EDF8;
}