<div class="card muted comment" id="normalComment-{{j}}">
  <div class="card-block">
    <div class="row card-title ">
      <div class="col-md-1">

        <img src="/uploads/{{comment._commented_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"
             class="feed-avatar">
        <!--<img [src]="profileImage" class="feed-avatar">-->
        <!--<img src="assets/images/user.png" class="feed-avatar">-->
      </div>
      <div class="col-md-11 ">
        <h6>{{comment._commented_by?.first_name}} {{comment._commented_by?.last_name}} replied
          <br> <span class="small lightgray date">
                      {{comment.created_date | date : 'medium'}}</span>
        </h6>
      </div>
    </div>
    <ng-container *ngIf="displayCommentEditor">
      <div class="col-md-12 text-right " id="button_edit_comment{{j}}" style="padding-bottom: 1em;">
        <button class="btn btn-primary btn-sm" contenteditable="false" (click)="OnSaveEditComment()">Save</button>
      </div>
      <div class="col-md-12 innercard">
        <quill-editor [modules]="modules" id="edit-comment-{{j}}" type="text" [(ngModel)]="comment_content"
                      [spellcheck]="true" value="comment?.content" (blur)="onEditorBlured($event)"
                      (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)">
        </quill-editor>
      </div>
    </ng-container>

    <div class="col-md-12 innercard " id="commentContent-{{j}}" [innerHTML]="comment?.content" style="color:black;">

    </div>
    <div class="row card-footer innercard action-post clearfix">

      <div class="col-md-6">
        <span [ngbPopover]="likepopcommentcontent" triggers="mouseenter:mouseleave" *ngIf="comment._liked_by?.length !== 0"><b>{{comment._liked_by?.length}}</b> Likes</span>
      </div>
      <div class="col-md-6 text-right">

                        <span>
                        <button class="btn btn-link btn-like-comment" (click)="onClickLikeComment()">

                          <i class="material-icons muted" *ngIf="!userLikedComment(); else likeif"
                             id="icon_like_post_{{i}}">thumb_up</i>
                          <ng-template #likeif><i class="material-icons active" id="icon_like_post_{{i}}">thumb_up</i></ng-template>
                        </button>
                      </span>
        <span style="margin-right: -12px">
                          <div ngbDropdown class="d-inline-block" #commentsDrop="ngbDropdown"
                               *ngIf="
                               comment?._commented_by?._id == user._id
                               || user.role === 'admin'
                               || user.role === 'owner'; else editpostif">
                            <i class="material-icons action" id="dropdownComment" (click)="toggleCommentEditList()" ngbDropdownToggle>more_horiz</i>
                            <div #commentEditList ngbDropdownMenu aria-labelledby="dropdownComment">
                                <button class="dropdown-item" (click)="OnEditComment()">Edit Comment</button>
                              <button class="dropdown-item" (click)="OnDeleteComment()">Delete Comment</button>
                            </div>
                          </div>
                        </span>
      </div>
    </div>
  </div>
  <ng-template #likepopcommentcontent>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let liked_member of comment._liked_by;">{{liked_member.first_name}}</li>
    </ul>
  </ng-template>
</div>
