<!-- Group Activity feed starts (Shared Module) -->
<!-- <app-group-activity-feed *ngIf="userData"></app-group-activity-feed> -->
<!-- Group Activity feed ends (Shared Module) -->

<div class="container">
  <div class="row main-actvity">

      <div class="col-md-6 box">
        <!-- Task Smart Card Starts -->
        <app-task-smart-card></app-task-smart-card>
        <!-- Task Smart Card Ends -->
      </div>


      <div class="col-md-6 box">
        <!-- Recent Groups Starts -->
        <app-recent-groups></app-recent-groups>
        <!-- Recent Groups Ends -->
      </div>
  </div>

  <div class="row">
    <div class="col-md-12 box">
      <app-recent-activity></app-recent-activity>
    </div>
  </div>
</div>
