@import "src/assets/scss/variables";

.box {
  margin: 0;
  display: inline-block;
  padding: 5px;
  margin-bottom: 20px;
}

.badge {
  background-color: $dark-sky-blue;
  margin: 0 1px !important;
  display: inline;
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px;
  align-items: center;
  color: #005fd5;
  background-color: #e4edf8;
  border-radius: 10px;
  padding: 2px 10px !important;
}


.small{
  font-size: 12px;
}

.container{
  margin-top: 110px;
}

.card-title{
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px;
  color: #242D3A;
}
