<!-- Group Activity feed starts (Shared Module) -->
<!-- <app-group-activity-feed *ngIf="userData"></app-group-activity-feed> -->
<!-- Group Activity feed ends (Shared Module) -->

<div class="container">
  <div class="row main-actvity">

      <div class="col-md-6 box">
        <!-- Task Smart Card Starts -->
        <app-task-smart-card></app-task-smart-card>
        <!-- Task Smart Card Ends -->
      </div>


      <div class="col-md-6 box">
        <!-- Recent Groups Starts -->
        <app-recent-groups></app-recent-groups>
        <!-- Recent Groups Ends -->
      </div>
  </div>

  <div class="row">

    <div class="col-md-12 box">
      <!-- Empty State starts -->
      <div *ngIf="notificationsData.unreadNotifications.length === 0 && !(isLoading$ | async)" style="text-align: center; margin-top: 30px;">
        <img src='assets/images/overview-empty-state.svg' style="width: 50%;">
      </div>
      <!-- Empty State ends -->

      <div class="notifications" *ngIf="notificationsData.unreadNotifications.length > 0 && !(isLoading$ | async)" >

        <div class="notification-item">
          <h6 class="card-title mt-1">Recent activities</h6>
          <div class="notification_more">
            <i class="material-icons-outlined ml-2 muted" [matMenuTriggerFor]="general_menu" style="cursor: pointer;">more_horiz</i>
            <mat-menu #general_menu="matMenu">
              <a mat-menu-item (click)="markAllNotificationAsRead()">
                <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">check_circle_outline</i>
                <span>Mark All As Read</span>
              </a>
            </mat-menu>
          </div>
        </div>
        <!-- NOTIFICATION ITEM STARTS-->
        <div class="notification-item" *ngFor="let notification of notificationsData?.unreadNotifications; let index = index">
          <div class="notification_actor">
            <app-secured-image
              [src]="notification?._actor?.profile_pic"
              [service]="'user'"
              [styleClass]="'avatar'"
              style="margin-right:15px"></app-secured-image>
          </div>

          <div class="notification_title">
            {{ notification?._actor?.first_name || 'Deleted' }} {{ notification?._actor?.last_name || 'User' }}
            <span
            [ngClass]="{
              'assignment_notification': notification?.type === 'assignment',
              'mention_notification': (notification?.type === 'mention' || notification?.type === 'mention_folio'),
              'completed_notification': notification?.type === 'completed',
              'started_notification': notification?.type === 'started',
              'like_notification': (notification?.type === 'like_comment' || notification?.type === 'like'),
              'follow_notification': notification?.type === 'follow',
              'comment_notification': notification?.type === 'comment'
            }">
              {{ notification?.message }}
            </span>
            <span class="notification_post_title" *ngIf="notification?.type !== 'mention_folio'">{{ notification?._origin_post?.title | truncatetext: 20 }}</span>
            <span class="notification_post_title" *ngIf="notification?.type === 'mention_folio'">{{ notification?._origin_folio?.original_name | truncatetext: 20 }}</span>
          </div>

          <div class="notification_date_time">
            <span class="muted small float-right">{{ notification?.created_date | date: 'MMM d, y' }}</span>
          </div>

          <div class="notification_tag d-none d-sm-block">
            <div class="tags">
              <span class="badge" *ngIf="notification?._origin_post?._group?.group_name">
                {{ notification?._origin_post?._group?.group_name }}
              </span>
            </div>
          </div>

          <div class="notification_more">
            <i class="material-icons-outlined ml-2 muted" [matMenuTriggerFor]="menu" style="cursor: pointer;">more_horiz</i>
            <mat-menu #menu="matMenu">
              <a mat-menu-item *ngIf="notification?.type !== 'mention_folio'"
                (click)="viewNotification(notification?._id, notification?._origin_post?._id, notification?._origin_post?.type, notification?._origin_post?._group?._id)">
                <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">visibility</i>
                <span>View</span>
              </a>
              <a mat-menu-item *ngIf="notification?.type === 'mention_folio'"
                (click)="viewFolioNotification(notification?._id, notification?._origin_folio?._id, notification?._origin_folio?._group?._id)">
                <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">visibility</i>
                <span>View</span>
              </a>
              <a mat-menu-item (click)="markNotificationAsRead(notification._id, userData._id, index)">
                <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">check_circle_outline</i>
                <span>Mark As Read</span>
            </a>
            </mat-menu>
          </div>
        </div>
        <!-- NOTIFICATION ITEM ENDS-->
      </div>

      <!-- Loading Spinner Starts -->
      <ng-container *ngIf="isLoading$ | async">
        <app-loading-spinner class="media"></app-loading-spinner>
      </ng-container>
      <!-- Loading Spinner Ends -->
    </div>
  </div>
</div>
