<div class="smart-card" style="padding: 10px;">
    <div class="row" style="margin: 0 0 20px; justify-content: space-between;">
      <div class="card-title mt-1">
        Velocity over time
      </div>
      <div class="card-icon">
        <span class="badge"></span>
      </div>
    </div>
    <div class="row">
        <div class="card-first-column col-md-12">You're all done.</div>
    </div>
    <div class="row">
        <div class="card-first-column col-md-12">Get some fresh air.</div>
    </div>


    <div class="row mt-4 d-none d-sm-block">
        <div class="col-7"></div>
        <div class="col-5">
            <img src='assets/images/inbox-tasks-card-empty.svg'>
        </div>
    </div>
</div>
