@import "../../../../../assets/scss/variables.scss";

.navbar {
  min-height: 80px;
  flex-direction: row !important;
  background-color: #fff;
  box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.1);
}

.nav-link {
  font-family: $poppins;
  color: #787878;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;


  &:hover {
    text-decoration: none;
    background: #ffffff;
    color: $brand-primary !important;
    border-radius: 6px;
  }
}
