<div *ngIf="group" class="media container">

  <img class="mr-3 feed-avatar-big" [src]="groupImageUrl" onerror="this.src='/assets/images/group.png'">

  <div class="media-body">
    <div>
      <div class="pl-3 group-title">{{ group.group_name }}</div>
      <ul class="nav">
        <li class="nav-item" *ngIf="!isItMyWorkplace">
          <a class="nav-link" [routerLink]="['/dashboard/group/',group_id,'activity' ]" routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">Activity
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item" *ngIf="isItMyWorkplace">
          <a class="nav-link" routerLink="/dashboard/overview/myworkplace" [queryParams]="{myworkplace: true}"
             routerLinkActive="active">Activity
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/group/',group_id,'kanban' ]" routerLinkActive="active"
             (click)=" sendGroupData();">Tasks
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/group/',group_id,'files' ]" routerLinkActive="active">Files
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/group/',group_id,'calendar']" routerLinkActive="active">Calendar
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item" *ngIf="!isItMyWorkplace">
          <a class="nav-link" [routerLink]="['/dashboard/group/',group_id,'members']" routerLinkActive="active">Members
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item" *ngIf="!isItMyWorkplace">
          <a class="nav-link" [routerLink]="['/dashboard/group/',group_id,'admin' ]" routerLinkActive="active">Admin
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
