<div class="user-sticky-card clearfix">
    <div class="col-md-12">
      <div class="inner">
        <h2>My Workplace</h2>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/dashboard/profile/profile">Profile <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Activity <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Files<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
              <a class="nav-link" >Calendar <span class="sr-only">(current)</span></a>
            </li>
        </ul>
      </div>

    </div>
</div>
