<div class="row">
  <div class="col-md-12 select-post">
        <button class="btn btn-lg btn-link cool" placement="top" ngbTooltip="Create a post" (click)="openModal(content); type = 'normal'">
          <i [style.color]="type === 'normal' ? '#005fd5' : '#9b9b9b'" class="material-icons muted"
            id="icon_comment" style="color: #005fd5; ">
            comment
          </i>

        </button>

        <button class="btn btn-lg btn-link cool" placement="top" ngbTooltip="Create event" (click)="openModal(content); ; type = 'event'">
          <i [style.color]="type === 'event' ? '#005fd5' : '#9b9b9b'" class="material-icons muted"
            id="icon_event">event
          </i>
        </button>

        <button class="btn btn-lg btn-link cool" placement="top" ngbTooltip="Create task" (click)="openModal(content); ; type = 'task'">
          <i [style.color]="type === 'task' ? '#005fd5' : '#9b9b9b'" class="material-icons muted"
            id="icon_check_box">check_box
          </i>
        </button>

  </div>
</div>

<ng-template #content let-modal>

<app-group-create-post  *ngIf="userData && checkDataExist(userData)" [userData]="userData" [groupId]="groupId" [type]="type" (close)="closeModal()"></app-group-create-post>

</ng-template>