<div class="form-container">
<div class="row" style="height: 100%;width: 100%;">
    <div class="col-md-4" style="border-right: 1px solid #E4EDF8;padding: 0px;">
        <div class="questions-container">
            <div class="question-icon"></div>
            <div class="question-txt">1 What is your name?</div> 
        </div>
        <div class="questions-container-active">
            <div class="question-icon"></div>
            <div class="question-txt">2 Is this your first job?</div> 
        </div>
        <div class="btn-menu-container">
        <button class="menu-button" mat-button [matMenuTriggerFor]="menu">
            <span>
                <i class="material-icons">add_circle</i>
            </span>
            <span> NEW QUESTION</span>
        </button>
        <mat-menu #menu="matMenu" class="question-menu">
            <div>
                <p style="height: 45px;padding-top: 10px;padding-left: 15px;color: #9B9B9B;">Choose a question type</p>
                <div class="welcome-screen">
                    <div class="btn-icon"></div>
                    <div class="btn-txt">Welcome screen</div> 
                    <div class="hovered-welcome">
                        <p style="margin-left: 10%;margin-top: 25%;">
                            <strong>Welcome screen</strong>
                            <br/>
                            It is a long established
                            <br/>
                            fact that a reader will be
                            <br/>
                            distracted by the readable
                            <br/>
                            content of a page when
                            <br/>
                            looking at its layout.
                        </p>
                    </div>
                </div>
                <div class="thank-screen">
                    <div class="btn-icon"></div>
                    <div class="btn-txt">Thank you screen</div> 
                    <div class="hovered-thank">
                        <p style="margin-left: 10%;margin-top: 25%;">
                            <strong>Thank you screen</strong>
                            <br/>
                            It is a long established
                            <br/>
                            fact that a reader will be
                            <br/>
                            distracted by the readable
                            <br/>
                            content of a page when
                            <br/>
                            looking at its layout.
                        </p>
                    </div>
                </div>
                <div class="short-text">
                    <div class="btn-icon"></div>
                    <div class="btn-txt">Short text</div> 
                    <div class="hovered-short">
                        <p style="margin-left: 10%;margin-top: 25%;">
                            <strong>Short text</strong>
                            <br/>
                            It is a long established
                            <br/>
                            fact that a reader will be
                            <br/>
                            distracted by the readable
                            <br/>
                            content of a page when
                            <br/>
                            looking at its layout.
                        </p>
                    </div>
                </div>
                <div class="yes-no">
                    <div class="btn-icon"></div>
                    <div class="btn-txt">YES/NO</div> 
                    <div class="hovered-yes-no">
                        <p style="margin-left: 10%;margin-top: 25%;">
                            <strong>YES/NO</strong>
                            <br/>
                            It is a long established
                            <br/>
                            fact that a reader will be
                            <br/>
                            distracted by the readable
                            <br/>
                            content of a page when
                            <br/>
                            looking at its layout.
                        </p>
                    </div>
                </div>
                <div class="scale">
                    <div class="btn-icon"></div>
                    <div class="btn-txt">Scale</div> 
                    <div class="hovered-scale">
                        <p style="margin-left: 10%;margin-top: 25%;">
                            <strong>Scale</strong>
                            <br/>
                            It is a long established
                            <br/>
                            fact that a reader will be
                            <br/>
                            distracted by the readable
                            <br/>
                            content of a page when
                            <br/>
                            looking at its layout.
                        </p>
                    </div>
                </div>
                <div class="dropdown-question">
                    <div class="btn-icon"></div>
                    <div class="btn-txt">Dropdown</div> 
                    <div class="hovered-dropdown">
                        <p style="margin-left: 10%;margin-top: 25%;">
                            <strong>Dropdown</strong>
                            <br/>
                            It is a long established
                            <br/>
                            fact that a reader will be
                            <br/>
                            distracted by the readable
                            <br/>
                            content of a page when
                            <br/>
                            looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
        </mat-menu>
        </div>
    </div>
    <div class="col-md-8"></div>
</div>
</div>