<div class="sidecontent">

    <div class="card sideinnercard">
        <div class="card-block">
            <h2>Available Clouds</h2>
            <hr>
            <app-connect-google-cloud (googleUser)="emitGoogleUser($event)"></app-connect-google-cloud>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <p class="card-text">
                        <strong class="float-left"> Dropbox</strong>
                    </p>
                </div>
                <div class="col-md-6 push-right">
                    <button class="btn btn-primary btn-sm">Connect</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <p class="card-text">
                        <strong class="float-left"> Slack</strong>
                    </p>
                </div>
                <div class="col-md-6 push-right">
                    <a href="https://slack.com/oauth/v2/authorize?client_id=2561616476.1145669381443&scope=channels:join,channels:read,chat:write,chat:write.public,commands,emoji:read,groups:write,im:write,incoming-webhook,team:read,users:read,users:read.email,users:write,channels:history&user_scope=groups:history,channels:history"><button class="btn btn-primary btn-sm">Connect</button></a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <p class="card-text">
                        <strong class="float-left">One Drive</strong>
                    </p>
                </div>
                <div class="col-md-6 push-right">
                    <button class="btn btn-primary btn-sm">Connect</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <p class="card-text">
                        <strong class="float-left">Box</strong>
                    </p>
                </div>
                <div class="col-md-6 push-right">
                    <button class="btn btn-primary btn-sm">Connect</button>
                </div>
            </div>
        </div>
    </div>
</div>