<nav class="navbar navbar-expand-md fixed-top">
  <div class="container">

    <a *ngIf="navbarLevel == 0" class="navbar-brand" routerLink="/dashboard/overview/inbox">
      <i class="icon-octo-logo"></i>
    </a>

    <a *ngIf="navbarLevel != 0" class="navbar-brand" (click)="goBack()" style="cursor: pointer;">
      <a class="navbar-brand navbar-go-back">
        <i class="material-icons">arrow_back </i>
      </a>
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="material-icons">menu</i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <main-navbar *ngIf="navbarLevel == 0" [user]="user" class="mr-auto"></main-navbar>
      <second-level-navbar *ngIf="navbarLevel == 1" class="mr-auto"></second-level-navbar>

      <!-- SEARCH BAR -->
      
      <search-bar [user]="user"></search-bar>

      <!-- SEARCH BAR -->

      <notifications-bar></notifications-bar>

      <a class="nav-link" [routerLink]="['/dashboard/profile', user_data.user_id, 'profile']">
        <img [src]="userProfileImage" onerror="this.src='/assets/images/user.png'" class="topnav-avatar">
      </a>


      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="onSignOut()">Logout
        <span class="sr-only">(current)</span>
      </a>
    </div>
  </div>
  <ngb-alert *ngIf="alert.message" [type]="alert.class" (close)="closeAlert()">{{alert.message}}</ngb-alert>

</nav>

