@import "../../../../assets/scss/variables.scss";

// resets
h4 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.navbar {
  min-height: 80px;
  flex-direction: row !important;
  background-color: #fff;
  box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.1);
}

.nav-link {
  font-family: $poppins;
  font-weight: 500;
  font-size: 14px;
  color: #787878;
  text-align: center;

  &:hover {
    text-decoration: none;
    background: #ffffff;
    color: $brand-primary !important;
    border-radius: 6px;
  }
}

.active {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.form-inline {
  span {
    position: absolute;
    margin-right: 5px;
    height: 25px;
    display: flex;
    align-items: center;
  }

  .form-control {
    margin-right: 10px;
  }
}

.navbar-brand .icon-octo-logo {
  color: $brand-primary;
}

.navbar-go-back {
  color: black;
}




