



  .input-container {
    width: 100%;
    margin-bottom: 1.5rem;
    }

    .form-control {
      padding: 15px 10px;
      line-height: 23px;
      border-radius: 5px !important;
    }
  

  .filterlist {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      text-align: center;

      li{
        padding: 1rem;
        font-size: 1rem;
        cursor: pointer;
        color: #888;
        width: 100%;
        display: flex;
        justify-content: start;
        transition: .3s all;
  
        &:hover {
          color: #005FD5 !important;
          background-color: #eee;
        }
  
        i {
          font-size: 30px;
          margin-left: 20%;
          margin-right: 5%;
        }
      }
    }

   
  

  

    .load-more {
      color: blue;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  


.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity: 1;
  }
}

.active-filter {
  color: #005FD5 !important;
}

