.feed-avatar {
    //avatar image for in-feed display
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px 10px;
    position: absolute;
    top: 0px;
  }
  
  .assigneeinfo{
    position: absolute;
    top: 0px;
    .mat-badge-content{
      background-color: #9D9FA1;
    }
  }


.first_month{
    position:absolute;
    top: 0px;
    left:0px;
    font-family:'Nunito';
    font-size:16px
}

#main_container{
    position: relative;
    background-color:#fafafafa
}
.date_div{
    position:absolute;
    top: 30px;
    font-family:'Nunito';
    font-size:16px;
    width: 50px;
}

.task_card{
    position:absolute;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 6px 0px 0px;

    /* pure white */

    background: #FFFFFF;
    /* border color */

    border: 1px solid #E4EDF8;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.11);
    border-radius: 4px;
}

.status_bar{
    background-color: #ffab00;
    width: 5px;
    height: 39px;
}

.task_title_text{
    position: absolute;
    top: 10px;
    left: 55px;
}