.feed-avatar {
    //avatar image for in-feed display
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px 10px;
    position: absolute;
    top: 0px;
    left: -3px;
  }
  .assigneeinfo{
    position: absolute;
    top: 0px;
    .mat-badge-content{
      background-color: #9D9FA1;
    }
  }
.first_month{
    position:absolute;
    top: 0px;
    left:0px;
    font-family:'Nunito';
    font-size:16px;
}
.vl{
    border-left: 2px solid #4a90e2;
    position: absolute;
    top:47px;
    height: 100%;
}
#main_container{
    position: relative;
    background-color:#fafafafa;
    height:90vh;
}
.date_div{
    position:absolute;
    top: 30px;
    font-family:'Nunito';
    font-size:16px;
    width: 50px;
}
.task_card{
    position:absolute;
    cursor: pointer;
    /* pure white */
    height: 40px;
    background: #FFFFFF;
    /* border color */
    border: 1px solid #E4EDF8;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.11);
    border-radius: 4px;
    z-index: 100;
}
.task_title_text{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 15px;
    color: #242D3A;
    width: 100%;
    white-space: normal;
}

$pumpkin-orange: #ffab00;
$turquoise: #0bc6a0;
$dark-sky-blue: #4a90e2;

.status-todo {
    border-left: 3px solid $pumpkin-orange;
}
.status-inprogress {
    border-left: 3px solid $turquoise;
}
.status-done {
    border-left: 3px solid $dark-sky-blue;
}
.curretn_date{
    color: white !important;
    background: rgb(74, 144, 226);
    width: 30px;
    height: 30px;
    top: -6px;
    padding-left: 5px;
    padding-top: 4px;
    position: absolute;
    border-radius: 4px;
}
.menu_icon{
    position: absolute;
    right: -7px;
    top: 0%;
    cursor: all-scroll;
    /* muted text */
    color: #9D9FA2;
    /* Inside Auto Layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 6px 0px;
}


//
.rectangle {
    position: relative;
    // top: 200px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // width: 300px;
    // height: 150px;
    // background-color: #fd4140;
    // border: solid 1px #121621;
    // color: #121621;
    // margin: auto;
  }

  mwlResizable {
    box-sizing: border-box; // required for the enableGhostResize option to work
  }

  .resize-handle-top,
  .resize-handle-bottom {
    position: absolute;
    height: 5px;
    cursor: row-resize;
    width: 100%;
  }

  .resize-handle-top {
    top: 0;
  }

  .resize-handle-bottom {
    bottom: 0;
  }

  .resize-handle-left,
  .resize-handle-right {
    position: absolute;
    height: 100%;
    cursor: col-resize;
    width: 5px;
  }

  .resize-handle-left {
    left: -5px;
    z-index: 100;
  }

  .resize-handle-right {
    right: 0;
    right: -3px;
    z-index: 100;
  }
  .cdk-drop-list-dragging {
    display: none;
  }

  .task_card:active{
    cursor: all-scroll;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-preview{
    cursor: all-scroll;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  