.load-more-comments {
  display: flex;
  justify-content: space-between;
  .load-more-comments-btn {
    color: var(--blue);
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  .comments-count {
    color: var(--blue);
    padding: 1rem;
    margin-bottom: 0;
  }
}
