<div class="new-record-form">
  <div *ngIf="showAddActivityForm">
    <div class="flexform form-group">
      <div class="time_spent mr-2">
        <i class="material-icons-outlined">inventory_2</i>

        <input type="number" [(ngModel)]="activityQuantity" [placeholder]="quantityPlaceholder"
          (input)="onQuantityUpdated($event)" (blur)="onQuantityUpdated($event)"
          style="border: none;"/>
      </div>

      <div class="mr-2">
        <mat-select ngDefaultControl appearance="fill" class="form-control" [(ngModel)]="activityAddInventory"
          (selectionChange)="changeActivityAddInventory($event)" [placeholder]="reasonPlaceholder">
          <mat-option value=""></mat-option>
          <mat-option [value]="true" i18n="@@resourceActivity.addInventory">Add new inventory</mat-option>
          <mat-option [value]="false" i18n="@@resourceActivity.useInventory">Use inventory</mat-option>
        </mat-select>
      </div>

      <div class="category mr-2">
        <mat-select ngDefaultControl appearance="fill" class="form-control" [(ngModel)]="activityProject"
          (selectionChange)="changeActivityProject($event)" [placeholder]="projectPlaceholder">
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let project of projects" [value]="project.name">{{ project.name }}</mat-option>
        </mat-select>
      </div>

      <div class="calendar mr-2">
        <app-date-picker class="" name="activityDate" [styleClass]="'input-date calendar'"
          (date)="getDate($event)" [selectedDate]="activityDate">
        </app-date-picker>
      </div>

      <div class="user" *ngIf="userData?.role == 'manager' || userData?.role == 'owner' || isGroupManager(userData?._id)">
          <app-multiple-assignments [workspaceData]="workspaceData" [assigned_to]="activityUserArray" [type]="'time-tracking'" [groupId]="groupData?._id"
            (assigneeAddedEmiter)="onAssignedAdded($event)" (assigneeRemovedEmiter)="onAssignedRemoved($event)">
          </app-multiple-assignments>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 form-control" style="width: 400px;">
        <textarea rows="4" [(ngModel)]="activityComment" [placeholder]="commentPlaceholder"
          (blur)="onEditComment()" style="border: none;"></textarea>
      </div>
    </div>
  </div>

  <div class="actions">
    <button class="btn btn-primary btn-md float-left" style="margin-right: 30px;" *ngIf="!activityId && (isAssignedToUser || userData?.role == 'manager' || userData?.role == 'owner' || isGroupManager(userData?._id))" (click)="saveEntry()" [disabled]="!isValidEntry()">
      <i class="material-icons-outlined">add</i>
      <span i18n="@@resourceActivity.addEntry">Add entry</span>
    </button>

    <button class="btn btn-outline-danger btn-md float-left" (click)="cancelNewEntry()" *ngIf="showAddActivityForm">
      <span i18n="@@resourceActivity.cancel" *ngIf="!activityId">X Cancel</span>
      <span i18n="@@resourceActivity.close" *ngIf="!!activityId">X Close</span>
    </button>
  </div>
</div>

<div class="clearfix"></div>

<div class="list-records">
  <app-resource-activity-list
    [activityList]="resourceData?.activity" [resourceId]="resourceData?._id" [userData]="userData"
    [isAdmin]="userData?.role == 'manager' || userData?.role == 'owner' || isGroupManager(userData?._id)"
    (editTimeTrackingEntitEmitter)="onEditActivityEntryEvent($event)"></app-resource-activity-list>
</div>

