<div class="content-box">
  <!-- Is Not North Start starts -->
  <div *ngIf="!isNorthStar">
    <mat-slide-toggle color="primary" style="float:left; margin-right: 10px;"
      [checked]="isNorthStar"
      [name]="'north_star'"
      (change)="transformToNorthStart()">
    </mat-slide-toggle>
    <p class="box-title">North Start</p>
    <p>Convert this task into a North Star.<br/>North Stars are goals for you or your team.</p>
  </div>
  <!-- Is Not North Start ends -->

  <!-- Is Not North Start starts -->
  <div *ngIf="isNorthStar">
    <p class="box-title">North Start</p>
    <p>North Stars are goals for you or your team.</p>
    <img src="assets/images/icon-north-star.svg" alt="North Star" style="float: right; margin-top: -75px;"/>
    <br/>
    <!-- Setting Initial Value starts -->
    <div class="focus" *ngIf="updatingInitialValues">
      <p class="title">Focus</p>
      <label for="target">Set target</label>
      <mat-form-field style="width: 100px;">
        <mat-select ngDefaultControl
          [disabled]="northStar.values.length > 1"
          (selectionChange)="changeType($event)"
          (click)="$event.stopPropagation()"
          [(ngModel)]="northStar.type"
          name="new_type">
            <mat-option *ngFor="let t of types" [value]="t">{{ t }}</mat-option>
        </mat-select>
      </mat-form-field>

      <input class="target" name="target" type="text" [(ngModel)]="northStar.target_value">

      <div class="value_input">
        <label for="value">Initial Value:</label>
        <input name="value" type="text" [(ngModel)]="initialValue">
      </div>
      <div class="save" (click)="saveInitial()">Save</div>
    </div>
    <!-- Setting Initial Value ends -->

    <!-- Updating Initial Value starts -->
    <div class="focus" *ngIf="!updatingInitialValues">
      <p class="title">Focus
        <i class="material-icons update" (click)="updatingInitialValues = true; this.updateProgress = false;">settings</i>
      </p>
      <p class="target_value" *ngIf="northStar.type !== 'Percent'">
        {{ northStar.target_value | currency: currency_symbol }}
      </p>
      <p class="target_value" *ngIf="northStar.type === 'Percent'">
        {{ northStar.target_value/100 | percent: '.2-2' }}
      </p>
      <p class="value" *ngIf="northStar.type !== 'Percent'"> {{ northStar.values[northStar.values.length - 1].value | currency }}</p>
      <p class="value" *ngIf="northStar.type === 'Percent'"> {{ northStar.values[northStar.values.length - 1].value/100 | percent: '.2-2' }}</p>
      <div>
        <span>Status: </span>
        <span class="status">{{ northStar.values[northStar.values.length - 1].status }}</span>
      </div>

      <div class="open_update_progress" (click)="openUpdateProgress()">Update progress</div>

      <div class="update_progress" *ngIf="updateProgress">
        <label for="newValue">Progress update:</label>
        <input name="newValue" type="text" [(ngModel)]="newValue.value">

        <label for="new_status">Status update:</label>
        <mat-form-field>
          <mat-select ngDefaultControl name="new_status"
            [ngClass]="status_class"
            [(ngModel)]="newValue.status"
            (selectionChange)="changeStatus($event)"
            (click)="$event.stopPropagation()">
              <mat-option *ngFor="let s of status_types" [value]="s">{{ s }}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="save" (click)="addUpdateProgress()">Save</div>
      </div>
    </div>
    <!-- Updating Initial Value ends -->
  </div>
  <!-- Is Not North Start ends -->
</div>
