.content-box {
  background: #5E2FE5;
  color: #F3F4F6;
  border: 1px solid #E4EDF8;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;

  .box-title {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 10px;
    color: #F3F4F6;
  }

  p {
    font-size: 13px;
  }

  .focus {
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;

    .title {
      font-weight: bold;
    }

    span {
      font-family: Nunito;
      font-style: normal;

    }

    span.target_value {
      font-weight: bold;
      font-size: 30px;
      line-height: 23px;
    }

    span.status {
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
    }

    span.value {
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      align-items: center;
      background-color: #e4edf8;
      color: #5E2FE5;
      border-radius: 10px;
      padding: 2px 10px;
      width: fit-content;
      margin:0 5px !important;
    }
  }

  mat-select{
      background-color: #F3F4F6;
      border-radius: 4px;
      padding: 5px;
      margin-left: 10px;
      vertical-align: middle;
      color: #969A9E;
  }

  input {
    width: 88px;
    background-color: #5E2FE5;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #F3F4F6 thin;
    color: #F3F4F6;
    margin-left: 10px;
  }

  input.target {
    float: right;
    margin-top: 20px;
  }

  p.save {
    cursor: pointer;
    text-decoration: underline;
  }
}
