<div class="container">
    <div class="row main-actvity">

        <div class="col-md-4">

            <!-- Group Information starts -->
            <app-group-information
                *ngIf="groupData && userData && checkDataExist(groupData) && checkDataExist(userData) && !globalFeed"
                [userData]="userData"
                [groupData]="groupData"
                [myWorkplace]="myWorkplace">
            </app-group-information>
            <!-- Group Information ends -->

            <!-- Task Progress Count starts -->
            <app-group-task-progress *ngIf="groupId && globalFeed == false" [groupId]="groupId"
                [myWorkplace]="myWorkplace"></app-group-task-progress>
            <!-- Task Progress Count ends -->

              <!-- Send pulse starts -->
              <app-activity-filters *ngIf="groupData && globalFeed == false" [group]="groupData" (filterPostsEmitter)="applyFilters($event)">
              </app-activity-filters>
              <!-- Send pulse ends -->

            <!-- Send pulse starts
            <app-send-pulse *ngIf="groupId && myWorkplace === false && globalFeed == false" [groupId]="groupId">
            </app-send-pulse>
            <!-- Send pulse ends -->



            <!-- Task Smart Card Starts -->
            <app-task-smart-card *ngIf="globalFeed"></app-task-smart-card>
            <!-- Task Smart Card Ends -->

            <!-- Agenda Smart Card Starts -->
            <app-agenda-smart-card *ngIf="globalFeed" [routerLink]="'/dashboard/myspace/agenda'"></app-agenda-smart-card>
            <!-- Agenda Smart Card Ends -->
        </div>

        <div class="col-md-8">

            <!-- News Feed Pill -->
            <app-news-pill *ngIf="showNewPosts==true" (click)="newPosts()"></app-news-pill>
            <!-- News Feed Pill -->

            <!-- Group activity postbox starts -->
            <app-group-postbox *ngIf="userData && checkDataExist(userData) && this.globalFeed == false"
                [userData]="userData" [groupId]="groupId" (post)="getPost($event)" (edited)="editedPost($event)"></app-group-postbox>
            <!-- Group activity postbox ends -->

            <!-- Activity posts section starts -->
            <!-- Pinned posts starts -->
            <mat-accordion>
              <mat-expansion-panel style="background-color: #FBB732; margin-top: 10px;">
                <mat-expansion-panel-header class="column-title">
                  <mat-panel-title>
                    <div style="color: #FFFFFF;">
                      <i class="material-icons-outlined">push_pin</i>
                      {{ pinnedPosts?.length }} Pinned posts
                    </div>
                  </mat-panel-title>

                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div *ngIf="pinnedPosts.length > 0"
                    style="width: 98%; margin-left: auto; margin-right: auto;"
                    [ngClass]="{'mt-3': this.globalFeed === false }">
                  <ul class="list-group" *ngFor="let post of pinnedPosts | keyvalue: compare; let index = index ; trackBy: this.utilityService.trackByIndex">
                    <app-post-view *ngIf="post && userData && checkDataExist(userData)"
                      [post]="post.value"
                      [userData]="userData"
                      [globalFeed]="globalFeed"
                      [groupData]="groupData"
                      (delete)="deletePost($event)"
                      (pinEvent)="onPostPin($event)"
                      (closeModalEvent)="editedPost($event)"></app-post-view>
                  </ul>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <!-- Pinned posts ends -->

            <!-- Infinite scroll for posts starts -->
            <app-infinite-scroll (scrolled)="onScroll()">
                <div *ngIf="posts.size > 0" [ngClass]="{'mt-3': this.globalFeed === false }">
                    <ul class="list-group"
                        *ngFor="let post of posts | keyvalue: compare; let index = index ; trackBy: this.utilityService.trackByIndex">
                        <app-post-view *ngIf="post && userData && checkDataExist(userData)"
                            [post]="post.value"
                            [userData]="userData"
                            [globalFeed]="globalFeed"
                            [groupData]="groupData"
                            (delete)="deletePost($event)"
                            (pinEvent)="onPostPin($event)"
                            (closeModalEvent)="editedPost($event)"></app-post-view>
                    </ul>
                </div>
            </app-infinite-scroll>
            <!-- Infinite scroll for posts ends -->

            <!-- Empty State starts -->
            <div class="mt-3">
                <ng-container *ngIf="posts.size === 0 && !(isLoading$ | async)">
                  <img src='assets/images/placeholder_activity.png' class="placeholder-img">
                  <p class="muted text-center">Nothing here. Create something. </p>
                </ng-container>
            </div>
            <!-- Empty State ends -->

            <!-- Activity posts section ends -->

            <!-- Loading Spinner Starts -->
            <ng-container *ngIf="isLoading$ | async">
                <app-loading-spinner class="media"></app-loading-spinner>
            </ng-container>
            <!-- Loading Spinner Ends -->

        </div>
    </div>
</div>
