img{
    border-radius: 50%; 
    width:15% ; 
    height:50%;
    margin-bottom: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto
}