<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-8 welcome">

      <h1 class="white">
        <i class="icon-octo-logo"></i>Octonius</h1>
      <h4 class="white">
        Everything happening in your organization,
        <br> right here, in your digital workplace.
      </h4>
    </div>
    <div class="col-md-4">

      <div style="margin-top:100px">

        <button type="button" class="btn btn-primary btn-block" routerLink="/signup">Join your workplace</button>
        <br>
        <button type="button" class="btn btn-outline-primary btn-block" routerLink="/create-new-Workspace-page1">Create new workplace
        </button>
      </div>
    </div>
  </div>

</div>
