<div class="container-fluid h-100">
  
  <div class="row h-100">
    <div class="col-md-8 welcome">

      <h1 class="white">
        <i class="icon-octo-logo white"></i>Octonius</h1>
      <h1 class="slim white">
        Your smart workplace. <br>
Single source of truth for your team.
      </h1>
      <div style="margin-top:30px">
        <h3 class="white">Continue your work</h3>
        <button type="submit" class="btn btn-outline-light" routerLink="/signin">Sign in</button>
      </div>
    </div>
    <div class="col-md-4">
     
      <div style="margin-top:100px">
        <h3>
          Are you new here? <br> Let's get you started! <br><br>

        </h3>
        <button type="button" class="btn btn-primary btn-block" routerLink="/signup">Join your workplace</button>
        <br>
        <button type="button" class="btn btn-outline-primary btn-block" routerLink="/create-new-Workspace-page1">Create new workplace
        </button>
      </div>
    </div>
  </div>

</div>
