<div class="row">
    <div class="col-md-6">
        <p class="card-text">
            <strong class="float-left" i18n="@@connectSlack.slack"> Slack</strong>
        </p>
    </div>
    <div class="col-md-6 push-right">
        <button appDebounceClick *ngIf="!slackAuthSuccessful" id="slack-connect" class="btn btn-primary btn-sm" (click) ="slackAuth()" i18n="@@connectSlack.connect">Connect</button>
        <button appDebounceClick *ngIf="slackAuthSuccessful" class="btn btn-success btn-sm" i18n="@@connectSlack.connected">Connected</button>
    </div>
</div>
