@import "src/assets/scss/variables";

.circle {
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 5px 10px;
	letter-spacing: 0.2625px;
	color: #000000;
	// background-color: $brand-primary;
}

.circle-default-size {
	width: 50px;
	height: 50px;
	font-size: 20px;
	line-height: 19px;
}