<div class="user-sticky-card groups-list">
    <div class="col-md-12">
      <div class="inner">
        <h2>All Groups</h2>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="./mygroups">My Groups <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="./suggestions">Suggestions <span class="sr-only">(current)</span></a>
          </li>

        </ul>
      </div>

    </div>

</div>
