.dialog-content {
  // padding: 10px;
  background-color: #F3F4F6;
  // height: 95%;
  width: 100%;
  padding-bottom: 1px;

  .modal-header {
      border: none;
  }

  .action-box {
      color: #969A9E;
      background: #FFFFFF;
      border: 1px solid #E4EDF8;
      border-radius: 5px;
      padding: 5px;
  }

  .content {
    width: 70%;
    margin-top: -21px;
    margin-left: auto;
    margin-right: auto;

    .attach-files {
        width: 100%;
        box-shadow: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 24px auto;
    }

    .save-content {
        margin-bottom: 10px;
    }
}
}
