<div class="dialog-content">
  <mat-dialog-actions align="end">
      <div class="action-box">
        <a mat-dialog-close>
          <i  class="material-icons" style="cursor: pointer">close</i>
        </a>
      </div>
  </mat-dialog-actions>

  <div class="content">
    <div class="container">
      <div class="row inner-content" *ngIf="userData">

          <div class="col-md-4">


                  <div class="card-block">
                      <app-secured-image
                        [imgURL]="userData?.profile_pic"
                        [service]="'user'"
                        [styleClass]="'peoplecard-avatar'"
                        [placement]="'below'"></app-secured-image>
                      <h6 class="user-name">
                        <b>{{ userData?.first_name }} {{ userData?.last_name }}</b>
                      </h6>
                      <p class="card-text blue job-title">
                        <span id="userData_current_position"> {{ userData?.current_position}} </span></p>

                      <hr />

                      <p class="card-text blue"><strong i18n="@@memberDialog.email">Email:</strong>
                          {{ userData?.email}} </p>
                      <p class="card-text blue"><strong i18n="@@memberDialog.phone">Phone:</strong>
                          <span id="userData_phone_number"> {{ userData?.phone_number }} </span></p>
                      <p class="card-text blue"><strong i18n="@@memberDialog.mobile">Mobile:</strong>
                          <span id="userData_mobile_number"> {{ userData?.mobile_number }}</span></p>
                      <p class="card-text blue"><strong i18n="@@memberDialog.company">Company:</strong>
                          <span id="userData_company_name"> {{ userData?.company_name }} </span></p>
                      <p class="card-text blue"><strong i18n="@@memberDialog.role">Role:</strong>
                          {{ userData?.role }}</p>
                          <p class="card-text blue"><strong i18n="@@memberDialog.joined">Joined:</strong>
                            <span id="userData_company_join_date"> {{ userData?.company_join_date | date: 'longDate' }} </span></p>
                  </div>


          </div>

          <div class="col-md-8">
            <div class="card-tile">
              <div class="card-block">
                <p class="card-text"><strong i18n="@@memberDialog.biography">Biography:</strong></p>
                  <span id="userData_bio" class="muted">  {{ userData?.bio }} </span>




              </div>
            </div>
            <hr />
            <div class="card-tile">
              <div class="card-block">

                  <!-- Template Heading starts -->
                  <h6 class="card-title"><b i18n="@@memberDialog.skills">Skills</b></h6>
                  <!-- Template Heading ends -->

                  <hr />

                  <!-- Iterate over all the skills present for a particular user starts -->
                  <ul class="skills">
                      <li *ngFor="let skill of userData?.skills">
                          {{skill}}
                      </li>
                  </ul>
                  <!-- Iterate over all the skills present for a particular user ends -->

              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
