.dialog-content {
  // padding: 10px;
//   background-color: #26A69A;
  // height: 95%;
  width: 100%;
  padding-bottom: 1px;

  .modal-header {
      border: none;
  }

  .action-box {
      color: #969A9E;
      background: #FFFFFF;
      border: 1px solid #E4EDF8;
      border-radius: 5px;
      padding: 5px;
      margin-right: 16px;
  }

  .content {
    width: 90%;
    margin-top: -21px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 10px;

    .attach-files {
        width: 100%;
        box-shadow: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 24px auto;
    }

    .save-content {
        margin-bottom: 10px;
    }
}
}

.inner-content{
    background-color: #fff;
    border-radius: 10px;
}
.peoplecard-avatar{
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    object-fit: cover;
}

.blue{
    color: #005FD5;
}

.job-title{
    font-size: 15px;
    font-weight: 700;
}

.user-name{
    font-size: 24px;
    color: #242D3A;
}