<div class="block">
    <table class="table table-responsive table-hover">
        <tr>
            <th class="pointer" (click)="sort('company')">
                <span i18n="@@crmContactList.company">Company</span>
                <i *ngIf="column != 'company'" class="material-icons muted mr-5">sort</i>
                <i *ngIf="column == 'company'" class="material-icons muted mr-5">swap_vert</i>
            </th>
            <th class="pointer" (click)="sort('name')">
                <span i18n="@@crmContactList.name">Name</span>
                <i *ngIf="column != 'name'" class="material-icons muted mr-5">sort</i>
                <i *ngIf="column == 'name'" class="material-icons muted mr-5">swap_vert</i>
            </th>
            <th class="pointer" (click)="sort('description')">
                <span i18n="@@crmContactList.description">Description</span>
                <i *ngIf="column != 'description'" class="material-icons muted mr-5">sort</i>
                <i *ngIf="column == 'description'" class="material-icons muted mr-5">swap_vert</i>
            </th>
            <th class="pointer" (click)="sort('phones')">
                <span i18n="@@crmContactList.phone">Phone</span>
                <i *ngIf="column != 'phones'" class="material-icons muted mr-5">sort</i>
                <i *ngIf="column == 'phones'" class="material-icons muted mr-5">swap_vert</i>
            </th>
            <th class="pointer" (click)="sort('emails')">
                <span i18n="@@crmContactList.email">E-Mail</span>
                <i *ngIf="column != 'emails'" class="material-icons muted mr-5">sort</i>
                <i *ngIf="column == 'emails'" class="material-icons muted mr-5">swap_vert</i>
            </th>
            <th class="pointer" (click)="sort('links')">
                <span i18n="@@crmContactList.link">Link</span>
                <i *ngIf="column != 'links'" class="material-icons muted mr-5">sort</i>
                <i *ngIf="column == 'links'" class="material-icons muted mr-5">swap_vert</i>
            </th>
            <th></th>
        </tr>

        <tr *ngFor="let contact of contacts">
            <td>
                <app-secured-image [imgURL]="contact?.company_history[0]?._company?.company_pic" [service]="'group'"
                    [workspaceId]="workspaceData?._id" [styleClass]="'group-avatar'"></app-secured-image>
                {{ contact?.company_history[0]?._company?.name }}
            </td>
            <td>{{ contact.name }}</td>
            <td>{{ contact.description }}</td>
            <td>{{ contact.phones[0] }}</td>
            <td>{{ contact.emails[0] }}</td>
            <td>{{ contact.links[0] }}</td>
            <td>
                <i class="material-icons-outlined ml-2 muted pointer" [matMenuTriggerFor]="menu">more_horiz</i>
                <mat-menu #menu="matMenu">
                    <a mat-menu-item (click)="openNewContactDialog(contact._id)">
                        <span i18n="@@crmContactList.edit">Edit</span>
                    </a>
                    <a mat-menu-item (click)="deleteContact(contact._id)">
                        <span i18n="@@crmContactList.delete">Delete</span>
                    </a>
                </mat-menu>
            </td>
        </tr>
    </table>
</div>
