<div class="card-tile">
  <h4>All files from {{groupDataService.group?.group_name}} group</h4>
  <hr>
  <div *ngIf="isLoading$ | async">  
      <div class="load-8">
        <h6><b>Loading Data...</b></h6>
          <div class="line"></div>
      </div>
  </div>
  <div *ngIf="!(isLoading$ | async)">
    <div *ngIf="this.has_file == true; else svg">
  <div *ngFor="let post of posts">
<div class="media card-tile user-list" *ngIf="post.files.length != 0" >
      
      <div class="media-body" >
          <img src="/uploads/{{post._posted_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"class="feed-avatar float-left">
        <div class="float-left">
          <h4 class="mt-0">{{post._posted_by?.first_name}} {{post._posted_by?.last_name}}</h4>
              
              <p *ngFor="let file of post.files"><b>Attachment: </b><a role="button" href="javascript:void(null);" >{{file?.orignal_name}}</a></p>     
            
        </div>
        <div class="btn-group mr-3 float-right" style="margin-left:10px">
  
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <a role="button" class="btn btn-primary dropdown-toggle-split btn-sm" href="/uploads/{{post.files[0].modified_name}}" target="_blank" >Preview</a>
            <button class="btn btn-success dropdown-toggle-split btn-sm" (click)="onDownlaodFile(post.files[0].modified_name,post.files[0].orignal_name)">Download File</button>
            
          </div>
        </div>
  
      </div>
 
  </div>

</div>
</div>
<ng-template #svg>
    <img src='../../../../../assets/images/empty.svg' style=" margin: 0 auto">
</ng-template>
</div>

</div>
