<div class="card-tile">
  <h4>All files from {{groupDataService.group?.group_name}} group</h4>
  <hr>
  <div *ngFor="let post of posts">
<div class="media card-tile user-list" *ngIf="post.files.length != 0" >
      
      <div class="media-body" >
          <img src="/uploads/{{post._posted_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"class="feed-avatar float-left">
        <div class="float-left">
          <h4 class="mt-0">{{post._posted_by?.first_name}} {{post._posted_by?.last_name}}</h4>
              
              <p *ngFor="let file of post.files"><b>Attachment: </b><a role="button" href="javascript:void(null);" >{{file?.orignal_name}}</a></p>     
            
        </div>
        <div class="btn-group mr-3 float-right" style="margin-left:10px">
  
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-success dropdown-toggle-split btn-sm" (click)="onDownlaodFile(post.files[0].modified_name,post.files[0].orignal_name)">Download File</button>
          </div>
        </div>
  
      </div>
 
  </div>

</div>


</div>
