//please make body bg #fff here so that we have fulll white bg all over the canvas
body{
    background-color: #fff !important;
}

.folio-container{
    padding-top: 90px;
    // height: 100vh;
    min-height: 80%;
    background-color: #ffffff;
    // -webkit-font-smoothing: antialiased;
    width: 100%;
    overflow-y: auto;
}

.folio {
    width: 100%;
    max-width: 825px;
    margin: 0 auto;
    overflow-y: visible;
    img{
        width: 100%;
    }
}

// this applies dark mode to FOLIO editor
//for dark mode please make body bg color to same bg color 
.folio-dark-mode{
    background-color: #171b22 !important;
    color: #ffffff !important;
    h1,h2,h3,h4,h5{
        color: #ffffff !important;
    }
}
