.folio {
    width: 100%;
    max-width: 825px;
}
.folio-container{
    margin-top: 63px;
    height: calc(100% - 80px);
    background-color: #ffffff !important;
    position: absolute;
    width: 100%;
}
