

.folio-container{
    margin-top: 63px;
    height: calc(100% - 80px);
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    // position: absolute;
    width: 100%;
    overflow-y: auto;
}

.folio {
    width: 100%;
    max-width: 825px;
    margin: 0 auto;
}

// this applies dark mode to FOLIO editor
.folio-dark-mode{
    background-color: #171b22 !important;
    color: #ffffff !important;
    h1,h2,h3,h4,h5{
        color: #ffffff !important;
    }
}