<div class="sidecontent">
    <div class="card sideinnercard">
        <div class="card-block">
            <h6 class="card-title"><b>User Information</b>
                <button *ngIf="currentUser" type="button" name="button" class="btn btn-link" 
                (click)="this.publicFunctions.editUserDetails(this.openModal('Update your Information!', '/assets/images/user-info.svg'))">
                    <i class="material-icons">create</i>
                </button>
            </h6>
            <hr />
            <p class="card-text"><strong>Email:</strong>
                {{ userData?.email}}</p>
            <p class="card-text"><strong>Phone:</strong>
                {{ userData?.phone_number }}</p>
            <p class="card-text"><strong>Mobile:</strong>
                {{ userData?.mobile_number }}</p>
            <p class="card-text"><strong>Company:</strong>
                {{ userData?.company_name }}</p>
            <p class="card-text"><strong>Role:</strong>
                {{ userData?.role }}</p>
        </div>
    </div>
</div>