.navbar {
    min-height: 80px;
    flex-direction: row !important;
    background-color: #fff;
    box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.1);
  }
  h4 {
    margin-bottom: 0;
  }
  
  p {
    margin-bottom: 0;
  }
  .documentContainer{
    max-width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
  }
  .innerDocumentContainer{
    width: 98%;
  }
  .documentPage{
    max-width:100%;
    background-color: #fff;
  }
  :host ::ng-deep img{
    max-width:100%;
    max-height:100%;
  }