<nav class="navbar navbar-expand-md fixed-top">
        <div class="row" style="margin-left: 2rem;" >
      
          <a class="navbar-brand" (click)="clickOnBack()" style="cursor: pointer;">
            <i class="material-icons">
              arrow_back
              </i>
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav mr-auto" id="example-one">
              <li class="nav-item" id="li_overview">
                <a style="color: black;" routerLinkActive="active">
                  <p style="font-size: 20px; font-weight: bold;">            
                    <i class="material-icons">
                    insert_drive_file
                    </i>  {{ document_name }}</p>
                </a>
              </li>
            </ul>
      
          </div>
        </div>  
</nav>
<div class="documentContainer" style = 'margin-top:110px !important'>
    <div class="innerDocumentContainer">
                  <div *ngFor = "let pages of _editorDataArray; let i = index" 
                    style="
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: center;
                    margin-top: 1%;
                    margin-bottom: 1%;"
                  >
                  <div style="
                    left:0;
                    right:0;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: center;
                    width: 21cm;
                    min-height: 100vh;
                    height: auto"
                    >
                      <div style="
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        size: 21cm 29.7cm;
                        background: white;
                        padding: 5% 5% 5% 5%
                        "
                        >
                          <div class="pagePreview" 
                            [style.min-height.cm] = "_listArrayForPageCheck[i]"
                            style="
                            width: 21cm;
                          " 
                        [innerHTML] = "pages | safe: 'html'">
                        </div>
                    </div> 
                  </div>      
                </div>
    </div>
</div>