.no-margin{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.badge-members{
    background: #fff;
    padding:5px;
    font-weight: 500;
    text-align: center;
    color: #005FD5;
    position: absolute;
    right:20px;
    top:20px;
    box-shadow: 0 4px 10px 0 rgba(37, 38, 94, 0.1); 
}

.groups-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-img-top{
    width: 100%;
    height: 180px;
    border-radius: 4px;
    object-fit: cover;
}

app-loading-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-join {
    position: absolute;
    right: 20px;
    bottom: 80px;
    width: 80px;
    font-weight: bold;
    color: #fff !important;
}

.btn-public {
    position: absolute;
    right: 20px;
    bottom: 80px;
    font-weight: bold;
    cursor: default;
}

.btn-smart {
    position: absolute;
    right: 20px;
    bottom: 80px;
    font-weight: bold;
    color: #fff !important;
    cursor: default;
}

// Adding pointer to image
img{
    cursor: pointer;
    transform: scale(1.05);
  }