<!-- Work Navigation Bar starts -->
<!-- <app-work-header></app-work-header> -->
<!-- Work Navigation Bar ends -->

<div class="container">
  <div class="media" style="margin-top: 140px; margin-bottom: 30px;">
    <img src="assets/images/hero-pulse.svg" class="mr-3" style="width: 200px">
    <div class="media-body">
      <h5 class="mt-0">
        <i class="material-icons-outlined">whatshot</i>
        <span i18n="@@pulse.whatIsPulse">What is a pulse?</span>
      </h5>

      <span i18n="@@pulse.pulseIsMicroAnnouncement">
        A pulse is a micro announcement from a Group.
        It’s like twitter for Enterprise. <br>Even if you don’t have access to a group, you can still see what’s happening there.
        <br>Pulses create transparency and a sense of mission for your organization.
      </span>
    </div>
  </div>

  <!-- PULSE GROUPS ITERATOR STARTS -->
  <app-infinite-scroll (scrolled)="onScroll()">

    <div *ngFor="let group of pulseGroups; trackBy: utilityService.trackByIndex" class="pulse_card" (click)="openModal(group.group_name, this.baseUrl + '/' + workspaceData?._id + '/' + group.group_avatar, group.pulse_description ? group.pulse_description: 'Waiting for a new Pulse...', pulseToDoTasks[group._id], pulseInProgressTasks[group._id], pulseDoneTasks[group._id])">


        <!-- GROUP DETAILS STARTS -->
        <div class="pulse_avatar">
          <app-secured-image
            [imgURL]="group?.group_avatar"
            [service]="'group'"
            [workspaceId]="workspaceData?._id"
            [alt]="'group_avatar'"
            [styleClass]="'feed-avatar'"></app-secured-image>
        </div>
        <div class="pulse_actor"> {{ group.group_name }} </div>
        <div class="pulse_tweet">
          {{ group.pulse_description ? group.pulse_description : "Waiting for a new Pulse..." }}
        </div>
        <!-- GROUP DETAILS ENDS -->



        <!-- TOTAL TASKS STARTS -->
        <!-- <div class="col-md-2 pulse-desc">

          {{ pulseTotalTasks[group?._id] || 0 }}
        </div> -->
        <!-- TOTAL TASKS ENDS -->

        <!-- TO DO, IN PROGRESS AND DONE TASKS STARTS -->
        <div class="pulse_data">
          <div class="pulse_info muted" i18n="@@pulse.currentWork"> Current work:</div>
          <span class="pulse-todo-tasks">{{ pulseToDoTasks[group?._id] || 0 }}</span>
          <span class="pulse-in-progress-tasks">{{ pulseInProgressTasks[group?._id] || 0 }}</span>
          <span class="pulse-done-tasks">{{ pulseDoneTasks[group?._id] || 0 }}</span>
        </div>
        <!-- TO DO, IN PROGRESS AND DONE TASKS ENDS -->
      </div>


  </app-infinite-scroll>
  <!-- PULSE GROUPS ITERATOR ENDS -->

  <!-- LOADING SPINNER STARTS -->
  <ng-container *ngIf="isLoading$ | async">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>
  <!-- LOADING SPINNER ENDS -->

  <!-- SECTION SEPARATOR INDICATOR STARTS -->
  <app-section-separator *ngIf="!moreToLoad"></app-section-separator>
  <!-- SECTION SEPARATOR INDICATOR ENDS -->
</div>
