input {
  display: none;
}

span {
  cursor: pointer;
}

.btn-warning {
  color:#fff !important;
  font-weight: 700 !important;
  border-radius: 20px !important;
}

li {
  cursor: pointer;
  padding: 0 16px;
  line-height: 48px;
}
