@import "src/assets/scss/variables";

.card {
  margin-bottom: 10px;
}

.l-8 {
  animation-delay: 1.32s;
}

.load-8 .line {
  animation: loadingH 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

img {
  margin: 0 auto;
  display: block;
  width: 60%;
}

.date {
  font-size: 24px;
  margin-top: -5px;
  border: 1px solid white;
  padding: 5px;
}

.event-title {
  color: white;
  font-weight: 400;
}

.overview-timeline-event {
  color: $dark-text !important;
}

.card-tile {
  padding: 0;
  margin: 2px 0;
  align-items: center;

  .media-body {
    padding: 10px;
  }

  &:hover {
    background: #f1f1f3;
    cursor: pointer;
  }

  p {
    font-size: 14px !important;
    color: #9b9b9b;
  }
}

.card-tile-event {
  border-radius: 4px 4px 4px 4px;
  margin: 2px;

  .media-body {
    padding: 10px;
  }

  p {
    font-size: 14px !important;
  }
}

.title-overview {
  font-size: 16px;
  font-weight: 700 !important;
  margin: 15px 0;
}

.box {
  display: flex;
  height: 35px;
  flex-direction: row;
}

.box-child {
  margin-right: 15px;
}

.feed-avatar {
  //avatar image for in-feed display
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin: 5px 10px;
}

.calendar-glyph {
  width: 130px;
}

.overview-item {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #242d3a;
  width: auto;
}

.overview-item2 {
  width: auto;
  font-size: 14px;
  line-height: 35px;
  padding: 0 5px;

  p {
    font-size: 14px !important;

    span {
      p {
        font-size: 14px !important;
      }
    }
  }
}

.avtar-name-child {
  width: 80px;
  border-right: 10px solid transparent;
}

.small-blue-text {
  color: $dark-sky-blue;
  font-size: 12px !important;
  font-weight: 700;
}

.small {
  font-size: 12px;
}

.timestamp {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #9b9b9b;
  margin-left: 90px;
}

.mb-2 {
  margin-bottom: 0rem !important;
  margin-top: 0rem !important;
}

.flex {
  display: flex;
}

.event-current-hour {
  background: #ffc107;
  color: white;
}

.event-future-or-expired-hour {
  background: white;
  color: #005fd5;
}

.timeline-hour-box {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  // display: flex;
  align-items: center;
  color: white;
  // width: 59px;
  // height: 29px;
  padding: 4px;
  border-radius: 4px 4px 4px 4px;
}

.event-expired-hour-box {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  // display: flex;
  align-items: center;
  color: #005fd5;
  // width: 59px;
  // height: 29px;
  padding: 4px;
  border-radius: 4px 4px 4px 4px;
  opacity: 0.5;
}

.event-future-hour-box {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  // display: flex;
  align-items: center;
  color: #005fd5;
  // width: 59px;
  // height: 29px;
  padding: 4px;
  border-radius: 4px 4px 4px 4px;
}

.opacity {
  color: #9b9b9b;
  opacity: 0.5;
}


.group-name {
  text-align: right;
  display: block;
}

.row{
  margin: 1px 0;
  align-items: center;
}
.grouplabel{
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px;
  align-items: center;
  color:$brand-primary !important;
  // text-align: right;
  background-color:$border-color;
  border-radius: 10px;
  padding: 2px 10px;
  width: fit-content;
}

.col-md-2{
  margin:0;
  padding: 0;
}