@import 'src/assets/scss/_variables.scss';

.date-badge {
	background-color: $dark-sky-blue;
	margin: 0 1px !important;
	display: inline;
	font-family: Nunito, sans-serif;
	font-style: normal;
	font-weight: 700 !important;
	font-size: 12px;
	align-items: center;
	color: #005fd5;
	background-color: #e4edf8;
	border-radius: 10px;
	padding: 2px 10px !important;
	float: left;
}

.chat-message {
	width: 80%;
	min-height: 40px;
	color: #000000;
	margin: 10px 0;

	.right-bubble {
		position: relative;
		background: #dcf8c6;
		border-top-left-radius: .4em;
		border-bottom-left-radius: .4em;
		border-bottom-right-radius: .4em;
		padding: 5px 10px 10px;
		left: 15%;

		span.msg-name {
			font-size: 12px;
			font-weight: bold;
			color: green;
		}

		span.msg-date {
			font-size: 10px;
		}
	}

	.right-bubble:after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: 0;
		height: 0;
		border: 27px solid transparent;
		border-left-color: #dcf8c6;
		border-right: 0;
		border-top: 0;
		margin-top: 0px;
		margin-right: -27px;
	}

	.left-bubble {
		position: relative;
		background: #a6c3f7;
		border-top-right-radius: .4em;
		border-bottom-left-radius: .4em;
		border-bottom-right-radius: .4em;
		padding: 5px 10px 10px;
		left: 11%;

		span.msg-name {
			font-size: 12px;
			font-weight: bold;
			color: blue;
		}

		span.msg-date {
			font-size: 10px;
		}
	}

	.left-bubble:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		border: 27px solid transparent;
		border-right-color: #a6c3f7;
		border-left: 0;
		border-top: 0;
		margin-top: 0px;
		margin-left: -27px;
	}
}