<div class="container" style="margin-bottom: 30px">
  <app-overview-page-header></app-overview-page-header>




  <!--  Start of posts -->
  <div
    *ngIf="todayPosts.length == 0 && posts.length === 0 && weekPosts.length === 0 && comments.length === 0 && this.recentPosts.length === 0">
    <img src='../../../assets/images/empty-activity.svg' style=" margin: 0 auto; display:block; width: 60%">
  </div>
  <div
    *ngIf="posts.length > 0 && (this.todayPosts.length == 0 && this.weekPosts.length === 0 && this.event_count == 0 && this.normal_count == 0 && this.task_count == 0 && this.recentPosts.length === 0)">
    <img src='../../../assets/images/empty-activity.svg' style=" margin: 0 auto; display:block; width: 60%">
  </div>








  <div *ngIf="todayPosts.length > 0">
    <div *ngIf="this.today_event_count == 1 || this.today_task_count == 1; else postif">
      <h5 class="title-overview">Today</h5>
    </div>

    <ng-template #postif></ng-template>
    <div *ngFor="let post of todayPosts; let i = index;">
      <a style="text-decoration:none; color:inherit;" href="/#/dashboard/group/{{post._group?._id}}/post/{{post._id}}">

        <!-- Tasks -->
        <div *ngIf="post.type== 'task'">
          <div *ngIf="post.task.status === 'to do'">
            <!-- change kbn-to with kbn-working and kbn-done -->
            <div class="media card-tile overview-task kbn-todo">

              <div class=" row media-body">


                <div class="col-md-8 overview-item" [innerHTML]="post?.title"></div>
                <div class="col-md-2 overview-item small-blue-text" [innerHTML]="post?._group?.group_name"></div>



                <div class="col-md-2">
                  <div class="overview-item small text-muted text-right ">Due {{post.task.due_to | date:'MMMM d, y' }}
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </a>
    </div>

    <ng-template #postif></ng-template>
    <div *ngFor="let post of todayPosts; let i = index;">
      <a style="text-decoration:none; color:inherit;" href="/#/dashboard/group/{{post._group?._id}}/post/{{post._id}}">

        <!-- Events -->

        <div *ngIf="post.type== 'event'">

          <div class="media card-tile-event overview-event">
            <div class="row media-body">

              <div class="col-md-2 calendar-glyph">
                <i class="material-icons">calendar_today</i>
              </div>
              <div class="col-md-6">

                <div class="event-title">
                  <div [innerHTML]="post?.title | safe: 'html' " class="overview-item"> </div>
                </div>

              </div>
              <div class="col-md-2 overview-item text-white small bold" [innerHTML]="post?._group?.group_name"></div>


              <div class="col-md-2">
                <div class="overview-item small text-white text-right timestamp">
                  {{post.event.due_to | date:'MMMM d, y - h:mm a' }}</div>

              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!--  week posts -->
  <div *ngIf="weekPosts.length > 0">
    <div *ngIf="this.week_event_count == 1 || this.week_task_count == 1; else postif">
      <h5 class="title-overview">This week</h5>
    </div>

    <ng-template #postif></ng-template>
    <div *ngFor="let post of weekPosts; let i = index;">
      <a style="text-decoration:none; color:inherit;" href="/#/dashboard/group/{{post._group?._id}}/post/{{post._id}}">
        <!-- Tasks -->
        <div *ngIf="post.type== 'task'">
          <!-- change kbn-to with kbn-working and kbn-done -->
          <div class="media card-tile overview-task kbn-todo">

            <div class=" row media-body">

              <div class="col-md-8 overview-item" [innerHTML]="post?.title"></div>
              <div class="col-md-2 overview-item small-blue-text" [innerHTML]="post?._group?.group_name"></div>
              <div class="col-md-2">
                <div class="overview-item small text-muted text-right ">Due {{post.task.due_to | date:'MMMM d, y' }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>


    <ng-template #postif></ng-template>
    <div *ngFor="let post of weekPosts; let i = index;">
      <a style="text-decoration:none; color:inherit;" href="/#/dashboard/group/{{post._group?._id}}/post/{{post._id}}">

        <!-- Week Events -->

        <div *ngIf="post.type== 'event'">

          <div class="media card-tile-event overview-event">
            <div class="row media-body">

              <div class="col-md-2 calendar-glyph">
                <i class="material-icons">calendar_today</i>
              </div>
              <div class="col-md-6">

                <div class="event-title">
                  <div [innerHTML]="post?.title | safe: 'html' " class="overview-item"> </div>
                </div>

              </div>
              <div class="col-md-2 overview-item text-white small bold" [innerHTML]="post?._group?.group_name"></div>


              <div class="col-md-2">
                <div class="overview-item small text-white text-right timestamp">
                  {{post.event.due_to | date:'MMMM d, y - h:mm a' }}</div>

              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>



  <h5 class="title-overview" *ngIf="this.recentPosts.length != 0 || comments.length != 0">Recent activity</h5>


  <!-- RECENT POSTS -->
  <div *ngIf="this.recentPosts.length != 0">


    <div *ngFor="let post of this.recentPosts; let i = index;">
      <a *ngIf="post?.type != 'document'" style="text-decoration:none; color:inherit;"
        href="/#/dashboard/group/{{post._group?._id}}/post/{{post._id}}" (click)="this.markPostAsRead(post._id)">

        <div class="media card-tile shadow-sm">
          <div class=" row media-body">
            <div class="col-md-8 flex">
              <i class="material-icons pink">chat</i>
              <img src="{{this.BASE_URL}}/uploads/{{post._posted_by?.profile_pic}}"
                onerror="this.src='/assets/images/user.png'" class="feed-avatar">
              <p class="overview-item2" style="flex: none; line-height: 35px">{{post._posted_by?.first_name}}</p>
              <p class="overview-item2 overview-post" style="line-height: 35px"
                [innerHTML]="post?.title | safe: 'html'"></p>
            </div>


            <div class="col-md-4 text-right">
              <span class="overview-item2 small-blue-text text-right" [innerHTML]="post?._group?.group_name"></span>
              <span class="overview-item2 small text-muted text-right">{{post.created_date | date:'MMMM d y, h:mm a' }}
              </span>
            </div>
          </div>

        </div>

      </a>

      <a *ngIf="post?.type == 'document'" style="text-decoration:none; color:inherit;"
        href="/#/dashboard/group/{{post._group?._id}}/document/{{post._id}}" (click)="this.markPostAsRead(post._id)">

        <div class="media card-tile shadow-sm">
          <div class=" row media-body">
            <div class="col-md-8 flex">
              <i class="material-icons pink">chat</i>
              <img src="{{this.BASE_URL}}/uploads/{{post._posted_by?.profile_pic}}"
                onerror="this.src='/assets/images/user.png'" class="feed-avatar">
              <p class="overview-item2" style="flex: none; line-height: 35px">{{post._posted_by?.first_name}}</p>
              <p class="overview-item2 overview-post" style="line-height: 35px"
                [innerHTML]="post?.title | safe: 'html'"></p>
            </div>


            <div class="col-md-4 text-right">
              <span class="overview-item2 small-blue-text text-right" [innerHTML]="post?._group?.group_name"></span>
              <span class="overview-item2 small text-muted text-right">{{post.created_date | date:'MMMM d y, h:mm a' }}
              </span>
            </div>
          </div>

        </div>

      </a>

    </div>
  </div>
  <!-- endof RECENT POSTS -->

  <div *ngIf="comments.length != 0">
    <div *ngFor="let comment of comments; let i = index;">
      <a [routerLink]="['/dashboard/group/', comment._post._group._id, 'post', comment._post._id]"
        (click)="this.markCommentAsRead(comment._id)">

        <div class="media card-tile shadow-sm">
          <div class=" row media-body">
            <div class="col-md-8 flex">
              <i class="material-icons working">chat_bubble</i>
              <img src="{{this.BASE_URL}}/uploads/{{comment._commented_by?.profile_pic}}"
                onerror="this.src='/assets/images/user.png'" class="feed-avatar float-left">
              <p class="overview-item2" style="flex: none; line-height: 35px">{{comment._commented_by?.first_name}}
                replied</p>
              <div [innerHTML]="comment?.content | slice:0:100" class="overview-item2 overview-post"
                style="font-size: 14px"> </div>
            </div>
            <div class="col-md-4 text-right">
              <div class="overview-item2 small text-muted text-right">
                {{comment.created_date | date:'MMMM d y, h:mm a' }}
              </div>
            </div>

          </div>
        </div>


      </a>





    </div>
  </div>
</div>