<div class="container" style="margin-bottom: 30px">
  <app-overview-page-header></app-overview-page-header>




<!--  Start of posts -->
  <div *ngIf="posts.length === 0 && weekPosts.length === 0 && comments.length === 0 && this.recentPosts.length === 0">
    <img src='../../../assets/images/empty-activity.svg' style=" margin: 0 auto; display:block; width: 60%">
  </div>
  <div *ngIf="posts.length > 0 && (this.event_count == 0 && this.normal_count == 0 && this.task_count == 0 && this.recentPosts.length === 0)">
    <img src='../../../assets/images/empty-activity.svg' style=" margin: 0 auto; display:block; width: 60%">
  </div>








  <div *ngIf="todayPosts.length > 0">
    <div  *ngIf="this.today_event_count == 1 || this.today_task_count == 1; else postif">
      <h5 class="title-overview">Today</h5>
    </div>

    <ng-template #postif></ng-template>
    <div *ngFor="let post of todayPosts; let i = index;">
      <a style="text-decoration:none; color:inherit;" href="/#/dashboard/group/{{post._group?._id}}/post/{{post._id}}">

        <!-- Tasks -->
        <div *ngIf="post.type== 'task'">
          <div class="media card-tile overview-task">

            <div class=" row media-body">

              <div class="col-md-10">
                <div class = "box">
                  <div class = "box-child" *ngIf="post.task.status === 'to do'">
                    <div class="kanbanoverview kbn-todo">
                      To Do
                    </div>
                  </div>

                  <div class = "box-child" *ngIf="post.task.status === 'in progress'">
                    <div class="kanbanoverview kbn-working">
                      In Progress
                    </div>
                  </div>

                  <div class = "box-child" *ngIf="post.task.status.trim() === 'completed' || post.task.status.trim() === 'done' ">
                    <div class="kanbanoverview kbn-done">
                      Done
                    </div>
                  </div>

                  <div class="box-child overview-item" [innerHTML]="post?.title"></div>
                  <div class="box-child overview-item small-blue-text" [innerHTML]="post?._group?.group_name"></div>
                </div>
              </div>

              <div class="col-md-2">
                 <div class="overview-item small text-muted text-right ">Due {{post.task.due_to | date:'MMMM d, y' }}</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <ng-template #postif></ng-template>
    <div *ngFor="let post of todayPosts; let i = index;" >
      <a style="text-decoration:none; color:inherit;" href="/#/dashboard/group/{{post._group?._id}}/post/{{post._id}}">

        <!-- Events -->

        <div *ngIf="post.type== 'event'">

          <div class="media card-tile-event overview-event">
              <div class="row media-body">
                  <div class="col-md-10">
                      <div class = "box">

                        <div class="box-child calendar-glyph">
                          <i class="material-icons">calendar_today</i>
                        </div>
                        <div class="box-child">
                          <div class="row event-title" style="margin-left:0px">
                            <div class="event-title">
                              <div [innerHTML]="post?.title | safe: 'html' " class="overview-item"> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-2">
                    <div class="overview-item small text-white text-right">{{post.event.due_to | date:'MMMM d, y - h:mm a' }}</div>

                  </div>
              </div>
          </div>
        </div>
      </a>
    </div>
  </div>

<!--  week posts -->
  <div *ngIf="weekPosts.length > 0">
    <div  *ngIf="this.week_event_count == 1 || this.week_task_count == 1; else postif">
      <h5 class="title-overview">This week</h5>
    </div>

    <ng-template #postif></ng-template>
    <div *ngFor="let post of weekPosts; let i = index;">
      <a style="text-decoration:none; color:inherit;" href="/#/dashboard/group/{{post._group?._id}}/post/{{post._id}}">
        <!-- Tasks -->
        <div *ngIf="post.type== 'task'">
          <div class="media card-tile overview-task">

            <div class=" row media-body">

              <div class="col-md-10">
                <div class = "box">
                  <div class = "box-child" *ngIf="post.task.status === 'to do'">
                    <div class="kanbanoverview kbn-todo">
                      To Do
                    </div>
                  </div>

                  <div class = "box-child" *ngIf="post.task.status === 'in progress'">
                    <div class="kanbanoverview kbn-working">
                      In Progress
                    </div>
                  </div>

                  <div class = "box-child" *ngIf="post.task.status.trim() === 'completed' || post.task.status.trim() === 'done' ">
                    <div class="kanbanoverview kbn-done">
                      Done
                    </div>
                  </div>

                  <div class="box-child overview-item" [innerHTML]="post?.title"></div>
                  <div class="box-child overview-item small-blue-text" [innerHTML]="post?._group?.group_name"></div>
                </div>
              </div>

              <div class="col-md-2">
                <div class="overview-item small text-muted text-right ">Due {{post.task.due_to | date:'MMMM d, y' }}</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>


    <ng-template #postif></ng-template>
    <div *ngFor="let post of weekPosts; let i = index;">
      <a style="text-decoration:none; color:inherit;" href="/#/dashboard/group/{{post._group?._id}}/post/{{post._id}}">

        <!-- Week Events -->

        <div *ngIf="post.type== 'event'">

          <div class="media card-tile-event overview-event">
            <div class=" row media-body">
              <div class = "col-md-10">
                <div class="box">
                  <div class="box-child calendar-glyph">
                    <i class="material-icons">calendar_today</i>
                  </div>

                  <div class="box-child">
                    <div class="row event-title" style="margin-left:0px">
                      <div class="event-title">
                        <div [innerHTML]="post?.title | safe: 'html' " class="overview-item"> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="overview-item small text-white text-right">{{post.event.due_to | date:'MMMM d, y - h:mm a' }}</div>
              </div>

            </div>
          </div>
        </div>
      </a>
    </div>
  </div>







  <!-- RECENT POSTS -->
  <div *ngIf="this.recentPosts.length > 0">
    <h5 class="title-overview">Recent posts</h5>
    <div *ngFor="let post of this.recentPosts; let i = index;">
      <a style="text-decoration:none; color:inherit;" href="/#/dashboard/group/{{post._group?._id}}/post/{{post._id}}" (click)="this.markPostAsRead(post._id)">

        <div class="media card-tile">
          <div class=" row media-body">
              <div class="col-md-10">
                <div class = "box">

                        <div class="box-child">
                          <div class="avatar-name-container">
                            <div class="avatar-name-child">

                              <img src="/uploads/{{post._posted_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"  class="feed-avatar">
                            </div>
                            <div class="avatar-name-child">
                              <p class="overview-item">{{post._posted_by?.first_name}} {{post._posted_by?.last_name}}</p>
                            </div>
                          </div>

                        </div>
                        <div class="box-child overview-item" [innerHTML]="post?.title"></div>
                        <div class="box-child overview-item small-blue-text" [innerHTML]="post?._group?.group_name"></div>


                </div>
              </div>
              <div class="col-md-2">
                <div class="overview-item small text-muted text-right">{{post.created_date | date:'MMMM d y, h:mm a' }}</div>
              </div>
          </div>

        </div>

      </a>
    </div>
  </div>
  <!-- endof RECENT POSTS -->

  <div *ngIf="comments.length > 0">
    <div>
      <h5 class="title-overview">Recent interactions</h5>
    </div>

    <div *ngFor="let comment of comments; let i = index;">

      <div *ngIf="comment?._post?.type == 'normal'" class="card-tile">
        <div [routerLink]="['/dashboard/group/', comment._post._group._id, 'post', comment._post._id]" class="media overview-post" (click)="this.markCommentAsRead(comment._id)">


          <div class=" row media-body">

            <div class="col-md-10">
              <div class = "box">

                <div class="box-child">
                  <div class="avatar-name-container">
                    <div class="avatar-name-child">

                      <img src="/uploads/{{comment._commented_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"  class="feed-avatar">
                    </div>
                    <div class="avatar-name-child">
                      <div class="overview-item">{{comment._commented_by?.first_name}} {{comment._commented_by?.last_name}}</div>
                    </div>
                  </div>

                </div>
                <div class="box-child">
                  <div [innerHTML]="comment?.content" class="overview-item"></div>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="overview-item small text-muted text-right">{{comment.created_date | date:'MMMM d y, h:mm a' }}</div>
            </div>

          </div>

        </div>
        <div class="row">
          <div class="col-md-8 offset-md-3">
            <!-- read more / read less button -->
            <button *ngIf="comment.content.split('').length > 350" class="btn btn-link p-0 ml-1 my-3" (click)="comment.readMore = !comment.readMore">
              <span *ngIf="comment.readMore">Read more</span>
              <span *ngIf="!comment.readMore">Read less</span>
            </button>
          </div>
        </div>
      </div>


      <div *ngIf="comment?._post?.type== 'task' && comment?._post?.task?.status != 'done' && comment?._post?.comments_count > 0" class="card-tile">
        <div [routerLink]="['/dashboard/group/', comment._post._group._id, 'post', comment._post._id]" class="media" (click)="this.markCommentAsRead(comment._id)">
          <div class=" row media-body">

            <div class="col-md-10">
              <div class = "box">

                <div class="box-child">
                  <div class="avatar-name-container">
                    <div class="avatar-name-child">

                      <img src="/uploads/{{comment._commented_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"  class="feed-avatar">
                    </div>
                    <div class="avatar-name-child">
                      <div class="overview-item">{{comment._commented_by?.first_name}} {{comment._commented_by?.last_name}}</div>
                    </div>
                  </div>

                </div>
                <div class="box-child">
                  <div [innerHTML]="comment?.content" class="overview-item"></div>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="overview-item small text-muted text-right">{{comment.created_date | date:'MMMM d y, h:mm a' }}</div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-8 offset-md-3">
            <!-- read more / read less button -->
            <button *ngIf="comment.content.split('').length > 350" class="btn btn-link p-0 ml-1 my-3" (click)="comment.readMore = !comment.readMore">
              <span *ngIf="comment.readMore">Read more</span>
              <span *ngIf="!comment.readMore">Read less</span>
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="comment?._post?.type== 'event' && comment?._post?.comments_count > 0" class="card-tile">

        <div [routerLink]="['/dashboard/group/', comment._post._group._id, 'post', comment._post._id]" class="media" (click)="this.markCommentAsRead(comment._id)">
          <!-- <img src="/uploads/{{post._group?.group_avatar}}" onerror="this.src='/assets/images/group.png'" class="mr-3 feed-avatar"> -->
          <div class=" row media-body">

            <div class="col-md-10">
              <div class = "box">

                <div class="box-child">
                  <div class="avatar-name-container">
                    <div class="avatar-name-child">

                      <img src="/uploads/{{comment._commented_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"  class="feed-avatar">
                    </div>
                    <div class="avatar-name-child">
                      <div class="overview-item">{{comment._commented_by?.first_name}} {{comment._commented_by?.last_name}}</div>
                    </div>
                  </div>

                </div>
                <div class="box-child">
                  <div [innerHTML]="comment?.content" class="overview-item"></div>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="overview-item small text-muted text-right">{{comment.created_date | date:'MMMM d y, h:mm a' }}</div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-8 offset-md-3">
            <!-- read more / read less button -->
            <button *ngIf="comment.content.split('').length > 350" class="btn btn-link p-0 ml-1 my-3" (click)="comment.readMore = !comment.readMore">
              <span *ngIf="comment.readMore">Read more</span>
              <span *ngIf="!comment.readMore">Read less</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
