@import "../../../assets/scss/variables";
.navig {
  border: 1px solid $border-color;
  background: white; // box-shadow: $card-shadow;
  .col-md-4 {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 120px 100px;
    padding: 20px 20px 20px 140px;
    .feed-avatar {
      margin-right: 20px;
    }
  }
  .col-md-7 {
    padding-top: 10px;
  }
}

.list-group {
  background: transparent;
}

.list-group-item {
  border: none;
  background: transparent;
  padding: 0;
  margin:0;

}

.group-img {
  padding: 0 !important;
}

.material-icons{
  font-size: 25px;
  padding-left: 12px;
  color: white;
  line-height: 35px;
}
.date{
  font-size: 24px;
  margin-top: -5px;
  border: 1px solid white;
  padding: 5px;
}
.event-title{
  color: white;
  font-weight: 400;
}

.overview-post{
  color: $dark-text !important;
}

.overview-event{
  background-color: $brand-primary;
//  border-left:4px solid !important;
}
.overview-task{
//  border-left:4px solid !important;
color: $dark-text !important;
}

.text-white{
  color: white;
  //line-height: 35px;
}

.text-muted{
  //line-height: 35px;
}

.card-tile{
  padding: 0;
  margin: 0px 2px 0px 2px;
  .media-body{
    padding: 10px;
  }
  &:hover{
      background: #F1F1F3;
      cursor: pointer;
    }

    p{
      font-size: 14px !important;
      color: #9B9B9B;
    }
}

.card-tile-event{
  border-radius: 4px 4px 4px 4px;
  margin: 2px;
  .media-body{
    padding: 10px;
  }
  p{
    font-size: 14px !important;
  }
}

.title-overview{
  font-size: 16px;
  font-weight: 700 !important;
  margin:15px 0;
}

.box{
  display: flex;
  height: 35px;
  flex-direction: row;
}

.box-child{
 margin-right: 15px;
}

.feed-avatar{ //avatar image for in-feed display
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin:5px 10px;
}

.calendar-glyph{
  width: 130px;
}

.overview-item{
  width: auto;
  font-size: 16px;
  line-height: 35px;
  // padding: 0 5px;
}

.overview-item2{
  width: auto;
  font-size: 14px;
  line-height: 35px;
  padding: 0 5px;
  p{
    font-size: 14px !important;
    span{
      p{
        font-size: 14px !important;
      }
    }
  }
}

// .avatar-name-container{
//   width: 150px;
//   display: flex;
//   flex-direction: row;
// }

.avtar-name-child{
  width: 80px;
  border-right: 10px solid transparent;
}

.small-blue-text{
  color: $dark-sky-blue;
  font-size: 12px !important;
  font-weight: 700;
}
.small{
  font-size: 12px;
}

.timestamp{
  font-size: 11px !important;
}
.mb-2{
  margin-bottom: 0rem !important;
  margin-top: 0rem !important;
}

.flex{
  display: flex;
}

a{
  text-decoration: none !important;
}

.smart-card {
  background: #FFFFFF;
  border: 1px solid #E4EDF8;
  box-sizing: border-box;
  border-radius: 4px;
}

.card-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #242D3A;
}

.group-tasks {
  color: #ffffff;
  border-radius: 4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  margin: 0px 2px 0px 2px;
  padding: 10px;
}

.to-do-task {
  background: #fd7714;
}


.in-progress-task {
  background: #0bc6a0;
}


.done-task {
  background: #4a90e2;
}

.overdue-task {
  background: #FF6584;
}

.overdue-total-tasks {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FF6584;
}

.card-first-column {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.post-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;

}

.title-nowrap {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
