<div class="">
  <div class="row">
    <label for="company" i18n="@@crmLeadCard.company" class="muted">Company</label>
  </div>

  <div class="dropdown">
    <div *ngIf="!postData?.crm?._company">
      <input type="email" class="form-control" id="search-text"
        aria-describedby="search-text" [(ngModel)]="companySearchText" placeholder="Search company" autofocus
        (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()" (keyup)="searchCompany()">
        
      <ul *ngIf="!!companySearchResults && !!companySearchText" class="company-list dropdown-menu">
        <li class="company-list-item pointer" *ngFor="let company of companySearchResults" (click)="selectCompany(company)">
          <app-secured-image [imgURL]="company.company_pic" [service]="'group'" [workspaceId]="this.userData?._workspace?._id || this.userData?._workspace"
            [styleClass]="'group-avatar'"></app-secured-image>
          {{ company.name }}
        </li>
      </ul>
    </div>
  
    <div *ngIf="!!postData?.crm?._company" class="form-control" style="text-align: left;">
      <app-secured-image [imgURL]="postData?.crm?._company.company_pic" [service]="'group'"
        [workspaceId]="this.userData?._workspace?._id || this.userData?._workspace" [styleClass]="'group-avatar'"></app-secured-image>
      <span>{{ postData?.crm?._company.name }}</span>
  
      <!-- Clean field starts -->
      <i (click)="selectCompany(null)" class="material-icons muted mr-5"
        style="cursor: pointer; font-size: 14px; margin-left: 10px;">remove_circle_outline</i>
      <!-- Clean field ends -->
    </div>
  </div>

  <div class="row">
    <label for="contact" i18n="@@crmLeadCard.contacts" class="muted">Contacts</label>
  </div>

  <div class="dropdown">
    <input type="email" class="form-control " id="search-text" aria-describedby="search-text"
      [(ngModel)]="contactSearchText" placeholder="Search contact to add" autofocus (click)="$event.stopPropagation()"
      (keydown)="$event.stopPropagation()" (keyup)="searchContact()">
  
    <ul *ngIf="!!contactSearchResults && !!contactSearchText" class="company-list dropdown-menu">
      <li class="company-list-item pointer" *ngFor="let contact of contactSearchResults" (click)="selectContact(contact)">
        {{ contact.name }} - {{ contact.emails[0] }}
      </li>
    </ul>
  </div>

  <div class="row" *ngIf="!!postData?.crm?._contacts && postData?.crm?._contacts?.length > 0">
    <div class="form-control" style="text-align: left;">
      <app-crm-contact-list [contacts]="postData.crm._contacts" [isAdmin]="isAdmin" [groupData]="groupData"></app-crm-contact-list>
    </div>
  </div>
</div>
