table {
  width: 100%;
}

.row {
  margin: 10px;
}

.company-list {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  max-height: 300px;
  overflow: auto;
  white-space: nowrap;
  width: auto;
  text-align: left;

  -ms-overflow-style: none;
  scrollbar-width: none;

  .company-list-item {
    position: relative;
    display: block;
    padding: 10px 10px;
    background-color: #fff;
    // border: 1px solid rgba(0, 0, 0, 0.125);
    cursor: pointer;

    &:hover {
      background-color: #005fd5;

    }
  }
}
