<!--TASK post-->
<li class="list-group-item">
  <div class="card">
    <div class="card-block ">
      <div class="row card-title ">
        <div class="col-md-1 ">
          <img src="{{this.BASE_URL}}/uploads/{{post?._posted_by?.profile_pic}}"
              onerror="this.src='/assets/images/user.png'"
              class="feed-avatar"
              [routerLink]="['/dashboard/profile', post._posted_by?._id, 'profile']"/>
        </div>
        <div class="col-md-7">
          <h6>{{post._posted_by?.first_name}} {{post._posted_by?.last_name}} <br>
            <span class="small lightgray date">
              {{post?.created_date | date : 'medium'}}</span>
          </h6>

          <span class="assigned"> Assigned to {{post.task._assigned_to?.first_name}}
            {{post.task._assigned_to?.last_name}}
          </span>
        </div>
        <div class="col-md-4 text-right padding-topright" style=" object-fit: cover;">
          <div ngbDropdown (openChange)="toggled($event)" autoClose="outside" #taskStatusList="ngbDropdown" class="d-inline-block">
            <button class="btn btn-sm kbn-todo" *ngIf="post.task.status == 'to do'" style=" color: white;"
                    ngbDropdownToggle>to do</button>
            <button class="btn btn-sm kbn-working" *ngIf="post.task.status == 'in progress'" style=" color: white;"
                    ngbDropdownToggle>in progress</button>
            <button class="btn btn-sm kbn-done" *ngIf="post.task.status == 'done'" style=" color: white;"
                    ngbDropdownToggle>done</button>
            <div ngbDropdownMenu aria-labelledby="taskStatusList">
              <button class="dropdown-item pumpkin-orange-bg" (click)="OnMarkTaskToDo(); taskStatusList.close();">To Do</button>
              <button class="dropdown-item" (click)="OnMarkTaskInProgress(); taskStatusList.close();">In Progress</button>
              <button class="dropdown-item" (click)="OnMarkTaskCompleted(); taskStatusList.close();">Done</button>
            </div>
          </div>
          <p class="small font-weight-bold" style="margin-top: 5px" *ngIf="post.task?.due_to != 'Invalid date'"> due
            {{post.task?.due_to | date}} <br> <span class="small kbn-working-color font-weight-bold"
              *ngIf="post.task?.started_at && post.task?.completed_at"> time spent:
              {{ getTaskTimeSpent() }} days</span></p>


          <!-- <p class="small font-weight-bold" style="margin-top: 5px"> status- {{post.task?.status}}</p> -->

        </div>
        <ng-template #taskif>
          <div class="col-md-4 text-right padding-topright">
            <button class="btn btn-pink btn-sm" (click)="OnMarkTaskCompleted()">Mark
              complete</button>
            <p class="small font-weight-bold" style="margin-top: 5px"> Due- {{post.task?.due_to | date}}</p>
            <p class="small font-weight-bold" style="margin-top: 5px"> Status - {{post.task?.status}}</p>
          </div>
        </ng-template>

      </div>

      <!-- EDIT TASK POST -->

      <ng-container *ngIf="displayEditPostSection">
        <div class="col-md-12" style="padding-bottom: 1em;">
          <assign-users-modal
            *ngIf="(post.type === 'event' || post.type === 'task') && !isItMyWorkplace"
            [selectedGroupUsers]="selectedGroupUsers"
            (usersSelected)="usersSelected($event)"
            [settings]="settings"
            [type]="post.type"
            [group]="group">
          </assign-users-modal>
          <date-picker-modal [model_date]="model_date" (picked_date)="setDate($event)"></date-picker-modal>
          <button class="btn btn-primary" style="float: right;" contenteditable="false" (click)="OnSaveEditPost()">Save</button>
          <button class="btn btn-default" style="float: right;" contenteditable="false"(click)="displayEditPostSection = false;"> Cancel</button>
        </div>

        <div class="col-md-12 innercard">
          <input type="text" [(ngModel)]="edit_title" value="post?.title" style="padding: 12px 15px; font-style: italic; width: 100%; outline: none;" />
          <quill-editor [modules]="modules" type="text" [(ngModel)]="edit_content" [spellcheck]="true"
            value="post?.content" (blur)="onEditorBlured($event)" (focus)="onEditorFocused($event)"
            (ready)="onEditorCreated($event)"></quill-editor>
        </div>

        <div class="innercard">

          <div class="row">
            <div class="col-md-6">
              <div ngbDropdown autoClose="outside" #myTagsDrop="ngbDropdown">
                <input ngbDropdownToggle
                type="text"
                id="tags"
                class="tags"
                placeholder="Add Tag here"
                ng-show="tags_search_words"
                (keyup)="tagListSearch(); $event.stopPropagation(); myTagsDrop.open();"
                (keydown)="addTags($event); myTagsDrop.close();"
                [(ngModel)]="tags_search_words"
                name="tag"
                placement="top"
                ngbTooltip="Type & hit enter to add a tag">
                  <div class="search-dropdown-menu" ngbDropdownMenu aria-labelledby="myTagsDrop" >
                    <div class="w-100" style="display:inline-block" *ngIf="tags_search_result?.length > 0">
                        <ul class=" list-tags" >
                          <li class="tags" *ngFor="let tag of tags_search_result; let i = index;">
                              <button class="bg-transparent border-0 col-lg-9" (click)="clickedOnTag(i); myTagsDrop.close();">{{ tag?.tags }}</button>
                          </li>
                        </ul>
                      </div>
                </div>
              </div>
            </div>
          </div>
              <br />
            </div>

          <div class="row innercard">
            <div class="row">
              <div class="col-md-1">
                  <button type="button" class="btn btn-link">
                      <i class="material-icons" placement="top" ngbTooltip="Tags">
                          local_offer
                          </i>
                  </button>
              </div>
              <div class="col-md-10">
              <button class="btn btn-sm btn-outline-primary" style="margin-right: 1rem;" (click)="removeTag(i)" *ngFor="let tag of tags; let i = index" placement="top" ngbTooltip="Click here to remove this tag"><b>X</b> {{tag}}</button>
              </div>
            </div>
            </div>
      </ng-container>

      <!-- TASK POST TITLE -->
      <div class="col-md-12 innercard font-weight-bold" [innerHTML]="post?.title | safe: 'html'">
      </div>

      <div [ngStyle]="{ 'height': this.readMore  ? '107px' : '100%', 'overflow': 'hidden'}">
        <!-- TASK POST CONTENT -->
        <div class="col-md-12 innercard " [innerHTML]="applyZoom(post?.content) | safe: 'html'">
        </div>
        <!--<pre class="card-text ">{{post?.content}}
        </pre>-->


        <!--POST TAGS-->
        <div class="row innercard" *ngIf="post?.tags?.length > 0">
          <div class="col-md-12">
          <span> <i class="material-icons tagslabel" placement="bottom" ngbTooltip="Tags">
              local_offer
            </i></span>
            <span class="tagsbtn" style="margin-right: 0.5rem;" *ngFor="let tag of tags; let i = index">{{tag}}</span>
          </div>
        </div>
        <div class="col-md-12 innercard" *ngFor="let file of post.files">
          <div class="col-md-12 event-title">Attachment:</div>
          <div class="col-md-12"> <a role="button" href="javascript:void(null);"
                                     (click)="onDownloadFile(file)">{{file?.orignal_name}}</a></div>
        </div>
      </div>

      <!-- read more / read less button -->
      <button *ngIf="post?.content.split('').length > 50 && this.preview" class="btn btn-link mt-3" (click)="this.readMore = !this.readMore">
        <span *ngIf="this.readMore">Read more</span>
        <span *ngIf="!this.readMore">Read less</span>
      </button>

      <post-actions *ngIf="user" [post]="post" [commentCount]="commentCount" [commentsDisplayed]="commentsDisplayed"
        [user]="user" (toggleComments)="toggleComments()" (sendComments)="setComments($event)"
        (togglePostCommentEditor)="togglePostCommentEditor()" (editPost)="editPost()" (deletePost)="deletePost()">
      </post-actions>
    </div>
  </div>


  <!-- post comment block make this invisible -->

  <comment-section [post]="post" [(commentsDisplayed)]="commentsDisplayed" [modules]="modules" [user]="user"
    [allMembersId]="allMembersId" [user_data]="user_data" [socket]="socket" [group]="group" [comments]="comments"
    [(commentCount)]="commentCount">
  </comment-section>

</li>