<!--TASK post-->
<li class="list-group-item">
  <div class="card">
    <div class="card-block ">
      <div class="row card-title ">
        <div class="col-md-1 ">
          <img src="/uploads/{{post._posted_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"
               class="feed-avatar">
          <!--<img src="assets/images/user.png" class="feed-avatar">-->
        </div>
        <div class="col-md-7">
          <h6>{{post._posted_by?.first_name}} {{post._posted_by?.last_name}} <br>
            <span class="small lightgray date">
                            {{post?.created_date | date : 'medium'}}</span>
          </h6>

          <span class="assigned"> Assigned to {{post.task._assigned_to?.first_name}}
                      {{post.task._assigned_to?.last_name}}
                    </span>
        </div>
        <div class="col-md-4 text-right padding-topright" style=" object-fit: cover;">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-sm kbn-todo" (click)="toggleTaskStatusList()" *ngIf="post.task.status == 'to do'" id="dropdownDone" style=" color: white;"
                    ngbDropdownToggle>to do</button>
            <button class="btn btn-sm kbn-working" (click)="toggleTaskStatusList()" *ngIf="post.task.status == 'in progress'" id="dropdownDone" style=" color: white;"
                    ngbDropdownToggle>in progress</button>
            <button class="btn btn-sm kbn-done" (click)="toggleTaskStatusList()" *ngIf="post.task.status == 'done'" id="dropdownDone" style=" color: white;"
                    ngbDropdownToggle>done</button>
            <div #taskStatusList ngbDropdownMenu aria-labelledby="dropdownToDo">
              <button class="dropdown-item pumpkin-orange-bg" (click)="OnMarkTaskToDo()">To Do</button>
              <button class="dropdown-item" (click)="OnMarkTaskInProgress()">In Progress</button>
              <button class="dropdown-item" (click)="OnMarkTaskCompleted()">Done</button>
            </div>
          </div>
          <p class="small font-weight-bold" style="margin-top: 5px" *ngIf="post.task?.due_to != 'Invalid date'"> due {{post.task?.due_to | date}}</p>
          <!-- <p class="small font-weight-bold" style="margin-top: 5px"> status- {{post.task?.status}}</p> -->

        </div>
        <ng-template #taskif>
          <div class="col-md-4 text-right padding-topright">
            <button class="btn btn-pink btn-sm" (click)="OnMarkTaskCompleted()">Mark
              complete</button>
            <p class="small font-weight-bold" style="margin-top: 5px"> Due- {{post.task?.due_to | date}}</p>
            <p class="small font-weight-bold" style="margin-top: 5px"> Status - {{post.task?.status}}</p>
          </div>
        </ng-template>

      </div>

      <!-- EDIT TASK POST -->

      <ng-container *ngIf="displayEditPostSection">
        <div class="col-md-12 text-right" style="padding-bottom: 1em;">
          <assign-users-modal
            *ngIf="(post.type === 'event' || post.type === 'task') && !isItMyWorkplace"
            [selectedGroupUsers]="selectedGroupUsers"
            (usersSelected)="usersSelected($event)"
            [settings]="settings"
            [type]="post.type"
            [group]="group">
          </assign-users-modal>
          <date-picker-modal [model_date]="model_date" (picked_date)="setDate($event)"></date-picker-modal>
          <button class="btn btn-primary btn-sm" contenteditable="false" (click)="OnSaveEditPost(i, post._id,post?.content, post.type)">Save</button>
        </div>

        <div class="col-md-12 innercard">
          <quill-editor [modules]="modules" type="text" [(ngModel)]="edit_content"
                        [spellcheck]="true" value="post?.content" (blur)="onEditorBlured($event)"
                        (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)"></quill-editor>
        </div>

        <div class="row">
            <div class="col-md-1">
              <button type="button" class="btn btn-link" (click)="addTags()">
                  <i class="material-icons" placement="top" ngbTooltip="Add tag">
                      add
                      </i>
              </button>
  
            </div>
            <div class="col-md-6">
              <input type="text" id="tags" class="tags" placeholder="Add Tag here" [(ngModel)]="tag" name="tag" placement="top" ngbTooltip="Type & hit + to add a tag">
            </div>
          </div>

          <div class="row">
              <div class="col-md-1">
                  <button type="button" class="btn btn-link">
                      <i class="material-icons" placement="top" ngbTooltip="Tags">
                          local_offer
                          </i>
                  </button>
              </div>
              <div class="col-md-10">
              <button class="btn btn-sm btn-outline-primary" style="margin-right: 1rem;" (click)="removeTag(i)" *ngFor="let tag of post?.tags; let i = index" placement="top" ngbTooltip="Click here to remove this tag"><b>X</b> {{tag}}</button>  
              </div>
            </div>
      </ng-container>

      <div class="col-md-12 innercard " [innerHTML]="post?.content | safe: 'html'">
        <!--<pre class="card-text ">{{post?.content}}
        </pre>-->
      </div>

      <!--POST TAGS-->
      <div class="row innercard" *ngIf="post?.tags?.length > 0">
          <div class="col-md-12">
              <span> <i class="material-icons tagslabel" placement="bottom" ngbTooltip="Tags">
                 local_offer
                 </i></span>
               <span class="tagsbtn" style="margin-right: 0.5rem;" *ngFor="let tag of tags; let i = index">{{tag}}</span>  
               </div>
      </div>
      <div class="col-md-12 innercard" *ngFor="let file of post.files">
        <div class="col-md-12 event-title">Attachment:</div>
        <div class="col-md-12"> <a role="button" href="javascript:void(null);" (click)="onDownloadFile(file)">{{file?.orignal_name}}</a></div>
      </div>

      <post-actions
        *ngIf="user"
        [post]="post"
        [commentCount]="commentCount"
        [commentsDisplayed]="commentsDisplayed"
        [user]="user"
        (toggleComments)="toggleComments()"
        (sendComments)="setComments($event)"
        (togglePostCommentEditor)="togglePostCommentEditor()"
        (editPost)="editPost()"
        (deletePost)="deletePost()">
      </post-actions>
    </div>
  </div>


  <!-- post comment block make this invisible -->

  <comment-section
    [post]="post"
    [(commentsDisplayed)]="commentsDisplayed"
    [modules]="modules"
    [user]="user"
    [allMembersId]="allMembersId"
    [user_data]="user_data"
    [socket]="socket"
    [group]="group"
    [comments]="comments"
    [(commentCount)]="commentCount">
  </comment-section>

</li>





