@import "../../../assets/scss/variables";
.navig {
  border: 1px solid $border-color;
  background: white; // box-shadow: $card-shadow;
  .col-md-4 {
    background-image: url('https://spectrum.ieee.org/image/Mjg4NTE0MA.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 120px 100px;
    padding: 20px 20px 20px 140px;
    .feed-avatar {
      margin-right: 20px;
    }
  }
  .col-md-7 {
    padding: 20px;
  }
}

.list-group {
  background: transparent;
}

.list-group-item {
  border: none;
  background: transparent;
}

.group-img {
  padding: 0 !important;
}

.username {
  // margin-left: 20px;
}
