<div class="container">
  <app-overview-page-header></app-overview-page-header>
  <div *ngFor="let post of posts; let i = index;">
  <ul class="list-group">
    <li *ngIf="post.type== 'normal'">
       
      <div *ngFor="let comment of post.comments">
      <div class="row navig">
        <div class="col-md-4 clearfix">

            <img src="/uploads/{{comment._commented_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'" class="feed-avatar">
          <div class="username float-left">
            <h6>{{comment._commented_by?.first_name}}</h6>
            
            <p class="small text-muted">{{comment.created_date | date:'shortTime' }}</p>
          </div>
        </div>

        <div class="col-md-7">
            <div class="event-title" style="font-size:20px">Replied to your Post</div>
            <div class="event-title" style="color:black; font-weight: normal; font-size: 16px" [innerHTML]="comment.content"></div>
        </div>
       
        <div class="col-md-1">
          <i class="material-icons">chat</i>
          <p class="small text-muted">Posted<br /><b>{{comment.created_date | date:'MMM d' }}</b></p>

        </div>
        </div>
      </div>
    </li>

    <li *ngIf="post.type== 'task'">
      <div class="row navig">
        <div class="col-md-4 clearfix">

            <img src="/uploads/{{post._posted_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"  class="feed-avatar">
          <div class="username float-left">
            <h6>{{post._posted_by?.first_name}} </h6>
            <p class="small text-muted">{{post.created_date | date:'shortTime' }}</p>
          </div>
        </div>

        <div class="col-md-7">
          <div class="event-title" style="color: #005fd5; font-size: 20px;">Assigned a Task to you</div>
          <div class="event-title" style="color:black; font-weight: normal; font-size: 16px" [innerHTML]="post.content"></div>
        </div>
        <div class="col-md-1">
          <i class="material-icons">assignment_turned_in</i>
          <p class="small text-muted">Posted<br /><b>{{post.created_date | date:'MMM d' }}</b></p>

        </div>
      </div>
    </li>

    <li *ngIf="post.type== 'event'">
      <div class="row navig">
       
        <div class="col-md-4 clearfix">
           
            <img src="/uploads/{{post._posted_by?.profile_pic}}" onerror="this.src='/assets/images/user.png'"  class="feed-avatar">
          <div class="username float-left">
            <h5>{{post._posted_by?.first_name}}</h5>
            <p class="small">{{post.created_date | date:'shortTime' }}</p>
          </div>
        </div>

        <div class="col-md-7">
            <div class="row event-title">
                <div class="col-md-2 dateblock">
                  <span class="bigdate">{{post?.event.due_date | date :'dd' }}</span>
                  <br>
                  <span class="time">{{post?.event.due_date | date: 'MMMM' }}</span>
                </div>
                <div class="col-md-8 event-title" >
              
                  <div class="row" style="font-size:20px" [innerHTML]="post?.content | safe: 'html' "></div>
                  <div class="row"> {{post?.event.due_time}}</div>

                </div>
                </div>
  
        </div>
        <div class="col-md-1">
          <i class="material-icons">today</i>
          <p class="small text-muted">Posted<br /><b>{{post.created_date | date:'MMM d' }}</b></p>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>
