@import "../../../assets/scss/variables";
.navig {
  border: 1px solid $border-color;
  background: white; // box-shadow: $card-shadow;
  .col-md-4 {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 120px 100px;
    padding: 20px 20px 20px 140px;
    .feed-avatar {
      margin-right: 20px;
    }
  }
  .col-md-7 {
    padding-top: 10px;
  }
}

.list-group {
  background: transparent;
}

.list-group-item {
  border: none;
  background: transparent;
  padding: 0;
  margin:0;
 
}

.group-img {
  padding: 0 !important;
}

.material-icons{
  margin-top: 20px;
  font-size: 40px;
}
.date{
  font-size: 24px;
  margin-top: -5px;
  border: 1px solid white;
  padding: 5px;
}
.event-title{
  padding-top: 0;
  margin-left: 20px;
}

.overview-post{
  border-left:none !important;
}
.overview-event{
  border-left:4px solid #005FD5 !important;
}
.overview-task{
  border-left:4px solid $pink !important;
}

.card-tile{
  padding: 0;
  margin: 2px;
  .media-body{
    padding: 10px;
  }
  &:hover{  
      box-shadow: $card-shadow !important;
      background: #F1F1F3;
    }
  
}