<div class="row main-actvity">

  <div class="col-md-4">
    <div class="row sidecontent">

      <div class="card sideinnercard">
        <div class="card-block">
          <h6 class="card-title">Workplace Info</h6>
          <hr/>
          <p class="card-text">{{workspace?.members.length}} Members</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card-tile workspace-signupmode">
      <ngb-alert *ngIf="alert.message" [type]="alert.class" (close)="successMessage = null">{{ alert.message}}</ngb-alert>

      <h4>Workplace signup mode</h4>
      <p>Choose to make your workplace signup process invition only,or allow anyone else with a certain email adress format
        to signup</p>
      <div style="position: fixed; margin-top: 20px">
      </div>
      <div class="form-group">
        <label for="email">Using the WORKPLACE NAME, any email adress from these domain can signup:</label>
        <textarea class="form-control" rows="5" id="domains" [(ngModel)]="domainData.domains" name="domains"></textarea>
        <label for="domains">To allow email address from mulltiple domains, separate them with commas.</label>
      </div>
      <button class="btn btn-primary" (click)="onDomainsSave()">Save</button>
      <!--<div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control" id="usr" [(ngModel)]="domainData.domains" name="domain">
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="onDomainsSave()">Save</button>
          </div>
      </div>-->
    
    </div>

    <div class="card-tile invite-users">
        <h4>Allowed Domains</h4>
        <p>List of all allowed domains from where user can sign up to this workplace.</p>
  
        <div class="container">
        <div class="row" *ngFor= "let allowed_domain of allowed_domains">
         <div class="col-md-6">
           <b>@{{allowed_domain}}</b>
         </div>

         <div class="col-md-6">
           <button class="btn btn-danger btn-sm">Remove Domain</button>
          </div>
       
      </div>
      <div class="row">
        <br />
      </div>
      </div>
</div>
    <div class="card-tile invite-users">
      <h4>Invite individual users by email</h4>
      <p>The option is mainly for inviting super-admins,group admins and external guests.</p>

      <div class="form-group">
        <label for="usr">Email:</label>
        <input type="text" class="form-control" id="usr" [(ngModel)]="invitationData.email" name="email">
      </div>
      <button class="btn btn-primary" onclick="document.getElementById('usr').value = ''" (click)="onInviteNewUserViaEmail()">Invite</button>
     
    </div>
  </div>
</div>
