<div class="container">

  <div class="card-tile">

      <!-- Heading of the component starts -->
      <h6><strong i18n="@@groupMembers.allMembersFromGroup">All members from your group</strong></h6>
      <!-- Heading of the component ends -->

      <!-- Fetch the current workspace members list starts -->
      <app-component-search-bar *ngIf="groupData && members && searchBarPlaceholder && groupData"
          [type]="'group'"
          [groupData]="groupData"
          [groupId]="groupData?._id"
          [placeholder]="searchBarPlaceholder"
          [members]="members"
          [userData]="userData">
      </app-component-search-bar>
      <!-- Fetch the current workspace members list ends -->

  </div>

</div>
