<!-- <mat-dialog-actions align="end">
  <div class="action-box">
    <a (click)="onCloseDialog()" mat-dialog-close>
      <i class="material-icons" style="cursor: pointer">close</i>
    </a>
  </div>
</mat-dialog-actions> -->

<div class="content-box">
  <h5 class="title-overview">
    <span *ngIf="!!status && status == 'overdue'" i18n="@@userTaskForDayDialogComponent.overdue">Overdue</span>
    <span *ngIf="!!status && status == 'to-do'" i18n="@@userTaskForDayDialogComponent.toDo">To Do</span>
    <span *ngIf="!!status && status == 'in-progress'" i18n="@@userTaskForDayDialogComponent.inProgress">In Progress</span>
    <span *ngIf="!!status && status == 'done'" i18n="@@userTaskForDayDialogComponent.done">Completed</span>
    &nbsp;
    <span i18n="@@userTaskForDayDialogComponent.tasksDueOn">Tasks due on</span>
    &nbsp;
    <span>{{ formateDate(selectedDay) }}</span>
    &nbsp;
    <span i18n="@@userTaskForDayDialogComponent.for">for</span>
    &nbsp;
    <span>{{ selectedUser.first_name }} {{ selectedUser.last_name }}</span>
  </h5>

  <!-- Empty State of tasks starts -->
  <div *ngIf="!arrayExists(tasksForTheDay)">
    <img src='assets/images/placeholder_activity3.png' class="placeholder-img">
    <p class="muted text-center" i18n="@@userTaskForDayDialogComponent.done">Done. That's a wrap! </p>
  </div>
  <!-- Empty State of tasks ends -->

  <div *ngFor="let task of tasksForTheDay; let i = index;">
    <a (click)="openModal(task)">
      <!-- My Space Today Tasks -->
      <div [class]="getTaskStatusClass(task)">
        <div class="row media-body">
          <div class="col-md-6">
            <div class="overview-item title-nowrap pl-0" [innerHTML]="task?.title"></div>
          </div>
          <div class="col-md-1" *ngIf="task?.task?.custom_fields && task?.task?.custom_fields['priority']">
            <div [class]="getPriorityClass(task?.task?.custom_fields['priority'])">
              {{ task?.task?.custom_fields['priority'] }}
            </div>
          </div>
          <div class="col-md-1" *ngIf="!task?.task?.custom_fields || !task?.task?.custom_fields['priority']">
          </div>
          <div class="col-md-3">
            <div class=" grouplabel " [innerHTML]="task?._group?.group_name"></div>
          </div>

          <div class="col-md-2">
            <div *ngIf="task.overdue" class="overview-item small text-right overdue" i18n="@@userTaskForDayDialogComponent.overdue">
              OVERDUE
            </div>
            <div *ngIf="!task.overdue" class="overview-item small text-muted text-right">
              {{ formateDate(task?.task?.due_to) }}
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
</div>
