.separator {
    display: flex;
    align-items: center;
    color: #e4edf8;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    margin: 12px auto;
  }
  .separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #e4edf8;
  }
  .separator::before {
    margin-right: .25em;
  }
  .separator::after {
    margin-left: .25em;
  }