.separator {
    display: flex;
    align-items: center;
    color: grey;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    margin-bottom: 2%;
  }
  .separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid grey;
  }
  .separator::before {
    margin-right: .25em;
  }
  .separator::after {
    margin-left: .25em;
  }