<div class="container" style="margin-bottom: 30px">
    <div class="media user-sticky-card">
        <img class="mr-3 feed-avatar" src="{{BASE_URL}}/uploads/{{userData?.profile_pic}}"
            onerror="this.src='/assets/images/user.png'">
        <div class="media-body">
            <div>
                <h2>{{ userData?.first_name }} {{ userData?.last_name }}</h2>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="isCurrentUser" [routerLink]="['/dashboard', 'user', 'profile']"
                            [queryParams]="{ userId: userData?._id }" routerLinkActive="active">Profile
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="isCurrentUser">
                        <a class="nav-link" [routerLink]="['/dashboard', 'user', 'clouds']"
                            [queryParams]="{ userId: userData?._id }" routerLinkActive="active">Clouds
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="isCurrentUser" class="col-md-3 text-right">
            <button type="button" name="button" class="btn btn-link" (click)="openUserDetails(content)">
                <i class="material-icons">create</i>
            </button>
        </div>

        <ng-template #content let-modal>
            <app-user-image-details [userData]="userData" [baseUrl]="BASE_URL" [workspaceData]="workspaceData">
            </app-user-image-details>
         </ng-template>
   
    </div>
</div>
<router-outlet></router-outlet>