<div class="search">

    <!-- Component search bar starts -->
    <input (keyup)="userSearchQuery(query)" type="text" [(ngModel)]="query" class="searchTerm"
        [placeholder]="placeholder">
    <button type="submit" class="searchButton">
        <i class="material-icons">
            search
        </i>
    </button>
    <!-- Component search bar ends -->

</div>

<!-- Horizontal line starts -->
<hr>
<!-- Horizontal line ends -->

<!-- Members array template starts -->
<app-infinite-scroll (scrolled)="onScroll()">
    <div class="media card-tile user-list"
        *ngFor="let member of ActiveMembers; let index = index; trackBy: utilityService.trackByIndex;">

        <!-- Avatar Image of the member -->
        <app-secured-image  *ngIf="member.active || type == 'group'"
            [imgURL]="member?.profile_pic"
            [service]="'user'"
            [styleClass]="'feed-avatar'"
            (click)="openFullscreenModal(member._id)"></app-secured-image>
        <!-- Avatar Image of the member -->

        <div *ngIf="member.active || type == 'group'" class="media-body">

            <!-- Member Details Starts -->
            <div class="float-left" style="text-transform: capitalize;">
                <p class="mt-0">{{member?.first_name}} {{member?.last_name}}</p>
                <p>Role: <span *ngIf="member?.role == 'manager'">Work </span>{{ member?.role }}<span *ngIf="isGroupManager(member._id)">, Group
                        Manager</span> (<a href="mailto:{{member?.email}}">{{member?.email}}</a>)</p>
            </div>
            <!-- Member Details Ends -->

            <div class="btn-group mr-3 float-right">

                <!-- Changing role functionality starts -->
                <div class="dropdown" *ngIf="member.role != 'owner' && type == 'workspace'">
                  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Manage
                      User
                      <span class="caret"></span>
                  </button>

                  <!-- Menu Drawer Starts -->
                  <ul class="dropdown-menu">
                      <li class="dropdown-item" *ngIf="member.role != 'admin'"
                          (click)="changeRole(member._id, 'admin', member.index)">Change to Admin</li>
                      <li class="dropdown-item" *ngIf="member.role != 'manager'"
                          (click)="changeRole(member._id, 'manager', member.index)">Change to Work Manager</li>
                      <li class="dropdown-item" *ngIf="member.role != 'member'"
                          (click)="changeRole(member._id, 'member', member.index)">Change to Member</li>
                      <li class="dropdown-divider"></li>
                      <li class="dropdown-item" (click)="removeUserFromWorkplace(member._id, workspaceId, member.index)">
                          Deactivate user</li>
                  </ul>
                  <!-- Menu Drawer Ends -->

              </div>

              <!-- Remove from Group -->
              <div class="dropdown"
                  *ngIf="(userData?.role === 'owner' || isGroupManager(userData?._id)) && type == 'group'">
                  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                      Manage User
                      <span class="caret"></span>
                  </button>

                  <!-- Menu Drawer Starts -->
                  <ul class="dropdown-menu">
                      <li class="dropdown-item" *ngIf="isGroupManager(userData._id)"
                          (click)="openUpdatePasswordModal(member)">
                        <button type="button" name="button" class="btn btn-warning">
                            <i class="material-icons">lock</i> Reset Password
                        </button>
                      </li>
                      <li class="dropdown-divider" *ngIf="isGroupManager(userData._id)"></li>
                      <li class="dropdown-item" *ngIf="!isGroupManager(member._id)"
                          (click)="changeGroupRole(member, 'manager', groupId)">Change to Group Manager</li>
                      <li class="dropdown-item" *ngIf="isGroupManager(member._id)"
                          (click)="changeGroupRole(member, 'member', groupId)">Change to Member</li>
                      <li class="dropdown-divider"></li>
                      <li class="dropdown-item btn btn-danger btn-sm dropdown-toggle"
                          (click)="removeUserFromGroup(groupId, member._id, member.index)">Remove Member</li>
                  </ul>
                  <!-- Menu Drawer Ends -->

              </div>
              <!-- Remove from Group -->
            </div>
        </div>
    </div>

    <mat-accordion *ngIf="type == 'workspace'">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h6><strong>Disabled Users</strong></h6>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="media card-tile user-list"
                *ngFor="let member of DisabledMembers; let index = index; trackBy: utilityService.trackByIndex;">

                <!-- Avatar Image of the member -->
                <app-secured-image *ngIf="!member.active"
                    [imgURL]="member?.profile_pic"
                    [service]="'user'"
                    [styleClass]="'inactive-person feed-avatar'"
                    (click)="openFullscreenModal(member._id)"></app-secured-image>
                <!-- Avatar Image of the member -->

                <div class="media-body">

                    <!-- Member Details Starts -->
                    <div *ngIf="!member.active" class="float-left inactive-person" style="opacity: 0.5 !important; text-transform: capitalize;">
                        <p class="mt-0">{{member?.first_name}} {{member?.last_name}}</p>
                        <p>Role: <span *ngIf="member?.role == 'manager'">Work </span>{{ member?.role }} (<a href="mailto:{{member?.email}}">{{member?.email}}</a>)</p>
                    </div>
                    <!-- Member Details Ends -->

                    <div *ngIf="!member.active" class="btn-group mr-3 float-right">

                        <!-- Changing role functionality starts -->
                        <div class="activate-user" *ngIf="member.role != 'owner' && type == 'workspace'">
                            <button class="btn btn-success btn-sm " type="button"
                                (click)="reactivateUserInWorkplace(member._id, workspaceId, member.index)">
                                Activate user
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</app-infinite-scroll>
<!-- Members array template ends -->

<!-- Loading Spinner Starts -->
<ng-container *ngIf="isLoading$ | async">
    <app-loading-spinner></app-loading-spinner>
</ng-container>
<!-- Loading Spinner Ends -->
