<div class="search">

    <!-- Component search bar starts -->
    <input (keyup)="userSearchQuery(query)" type="text" [(ngModel)]="query" class="searchTerm"
        [placeholder]="placeholder">
    <button type="submit" class="searchButton">
        <i class="material-icons">search</i>
    </button>
    <!-- Component search bar ends -->

</div>

<!-- Horizontal line starts -->
<hr>
<!-- Horizontal line ends -->

<!-- Members array template starts -->
<app-infinite-scroll (scrolled)="onScroll()">
    <div *ngFor="let member of activeMembers; trackBy: utilityService.trackByIndex" class="media card-tile user-list">
        <!-- Avatar Image of the member -->
        <app-secured-image  *ngIf="member.active || type == 'group'"
            [imgURL]="member?.profile_pic"
            [service]="'user'" [userData]="member"
            [workspaceId]="(userData?._workspace?._id || userData?._workspace)"
            [styleClass]="'feed-avatar'"
            (click)="openFullscreenModal(member._id)"></app-secured-image>
        <!-- Avatar Image of the member -->

        <div *ngIf="member.active || type == 'group'" class="media-body">

            <!-- Member Details Starts -->
            <div class="float-left" style="text-transform: capitalize;">
                <p class="mt-0">{{member?.first_name}} {{member?.last_name}}</p>
                <p>
                    <span i18n="@@componentSearchBar.role">Role: </span>
                    <span *ngIf="member?.role == 'manager'" i18n="@@componentSearchBar.work">Work Manager</span>
                    <span *ngIf="member?.role != 'manager'">{{ member?.role }}</span>
                    <span *ngIf="isGroupManager(member._id)">, <span i18n="@@componentSearchBar.groupManager">Group Manager</span></span> (<a href="mailto:{{member?.email}}" style="text-transform: lowercase;">{{member?.email}}</a>)
                    <span *ngIf="member.hr_role">, <span i18n="@@componentSearchBar.hrMember">HR Member</span></span>
                </p>
            </div>
            <!-- Member Details Ends -->

            <div class="btn-group mr-3 float-right">
                <!-- Changing role functionality starts -->
                <div class="dropdown" *ngIf="member.role != 'owner' && type == 'workspace'">
                    <button class="btn btn-primary btn-sm dropdown-toggle"
                        type="button" data-toggle="dropdown">
                        <span i18n="@@componentSearchBar.manageUser">Manage User</span>
                        <span class="caret"></span>
                    </button>

                    <!-- Menu Drawer Starts -->
                    <ul class="dropdown-menu">
                            <li class="dropdown-item" *ngIf="member.role != 'admin'"
                                (click)="changeRole(member._id, 'admin')" i18n="@@componentSearchBar.changeToAdmin">Change to Admin</li>
                            <li class="dropdown-item" *ngIf="member.role != 'manager'"
                                (click)="changeRole(member._id, 'manager')" i18n="@@componentSearchBar.changeToManager">Change to Work Manager</li>
                            <li class="dropdown-item" *ngIf="member.role != 'member'"
                                (click)="changeRole(member._id, 'member')" i18n="@@componentSearchBar.changeToMember">Change to Member</li>
                            <li class="dropdown-item" *ngIf="!member.hr_role && member.role != 'guest'" (click)="changeHRRole(member._id, true)"
                                i18n="@@componentSearchBar.addToHRTeam">Add to HR Team</li>
                            <li class="dropdown-item" *ngIf="!!member.hr_role && member.role != 'guest'" (click)="changeHRRole(member._id, false)"
                                i18n="@@componentSearchBar.removeFromHRTeam">Remove from HR Team</li>
                            <li class="dropdown-item" *ngIf="!member.crm_role && member.role != 'guest'" (click)="changeCRMRole(member._id, true)"
                                i18n="@@componentSearchBar.addToCRMTeam">Add to CRM Team</li>
                            <li class="dropdown-item" *ngIf="!!member.crm_role && member.role != 'guest'" (click)="changeCRMRole(member._id, false)"
                                i18n="@@componentSearchBar.removeFromCRMTeam">Remove from CRM Team</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item">
                                <button type="button" class="btn btn-danger btn-sm"
                                (click)="disableUserInWorkplace(member._id, workspaceData?._id)" i18n="@@componentSearchBar.deactivateUser">Deactivate user</button>
                            </li>
                    </ul>
                    <!-- Menu Drawer Ends -->
                </div>

                <!-- Remove from Group -->
                <div class="dropdown"
                    *ngIf="(userData?.role === 'owner' || isGroupManager(userData?._id)) && type == 'group'">
                    <button class="btn btn-primary btn-sm dropdown-toggle"
                        type="button" data-toggle="dropdown">
                        <span i18n="@@componentSearchBar.manageUser">Manage User</span>
                        <span class="caret"></span>
                    </button>

                    <!-- Menu Drawer Starts -->
                    <ul class="dropdown-menu">
                        <!--
                        <li class="dropdown-item" *ngIf="isGroupManager(userData._id)"
                                (click)="openUpdatePasswordModal(member)">
                            <button type="button" name="button" class="btn btn-warning">
                                <i class="material-icons">lock</i> Reset Password
                            </button>
                        </li>
                        <li class="dropdown-divider" *ngIf="isGroupManager(userData._id)"></li>
                        -->
                        <li class="dropdown-item" *ngIf="!isGroupManager(member._id)"
                            (click)="changeGroupRole(member, 'manager', groupData?._id)" i18n="@@componentSearchBar.changeToGroupManager">Change to Group Manager</li>
                        <li class="dropdown-item" *ngIf="isGroupManager(member._id)"
                            (click)="changeGroupRole(member, 'member', groupData?._id)" i18n="@@componentSearchBar.changeToMember">Change to Member</li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item">
                            <button type="button" class="btn btn-danger btn-sm"
                            (click)="removeUserFromGroup(groupData?._id, member._id)" i18n="@@componentSearchBar.removeMember">Remove Member</button>
                        </li>
                    </ul>
                    <!-- Menu Drawer Ends -->

                </div>
                <div class="dropdown"
                    *ngIf="userData?.role !== 'owner' && !isGroupManager(userData?._id) && userData?._id == member?._id && type == 'group'">
                    <button class="btn btn-danger btn-sm" type="button"
                        (click)="removeUserFromGroup(groupData?._id, member._id)">
                        <span i18n="@@componentSearchBar.leaveGroup">Leave Group</span>
                        <span class="caret"></span>
                    </button>
                </div>
                <!-- Remove from Group -->
            </div>
        </div>
    </div>

    <mat-accordion *ngIf="type == 'workspace' && disabledMembers && disabledMembers?.length > 0">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h6>
                      <strong i18n="@@componentSearchBar.disabledUsers">Disabled Users</strong>
                    </h6>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="media card-tile user-list"
                *ngFor="let member of disabledMembers; trackBy: utilityService.trackByIndex">

                <!-- Avatar Image of the member -->
                <app-secured-image *ngIf="!member.active"
                    [imgURL]="member?.profile_pic"
                    [service]="'user'" [userData]="member"
                    [workspaceId]="(userData?._workspace?._id || userData?._workspace)"
                    [styleClass]="'inactive-person feed-avatar'"
                    (click)="openFullscreenModal(member._id)"></app-secured-image>
                <!-- Avatar Image of the member -->

                <div class="media-body">

                    <!-- Member Details Starts -->
                    <div *ngIf="!member.active" class="float-left inactive-person" style="opacity: 0.5 !important; text-transform: capitalize;">
                        <p class="mt-0">{{member?.first_name}} {{member?.last_name}}</p>
                        <p>
                          <span i18n="@@componentSearchBar.role">Role: </span>
                          <span *ngIf="member?.role == 'manager'" i18n="@@componentSearchBar.work">Work Manager</span>
                          <span *ngIf="member?.role != 'manager'">{{ member?.role }}</span> (<a href="mailto:{{member?.email}}" style="text-transform: lowercase;">{{member?.email}}</a>)
                        </p>
                    </div>
                    <!-- Member Details Ends -->

                    <div *ngIf="!member.active" class="btn-group mr-3 float-right">
                      <div class="dropdown" *ngIf="member.role != 'owner' && type == 'workspace'">
                          <button class="btn btn-primary btn-sm dropdown-toggle"
                            type="button" data-toggle="dropdown">
                              <span i18n="@@componentSearchBar.manageUser">Manage User</span>
                              <span class="caret"></span>
                          </button>

                          <!-- Menu Drawer Starts -->
                          <ul class="dropdown-menu" *ngIf="member.role != 'owner'">
                              <li class="dropdown-item">
                                <button class="btn btn-success btn-sm" type="button"
                                  (click)="reactivateUserInWorkplace(member._id, workspaceData?._id)"
                                  i18n="@@componentSearchBar.activateUser">
                                    Activate user
                                </button>
                              </li>
                              <li class="dropdown-divider"></li>
                              <li class="dropdown-item">
                                <button type="button" *ngIf="member._id != userData?._id"
                                  class="btn btn-danger btn-sm"
                                  (click)="removeUserFromWorkplace(member?._id)"
                                  i18n="@@componentSearchBar.removeUser">
                                    Remove user
                                </button>
                              </li>
                          </ul>
                          <!-- Menu Drawer Ends -->
                        </div>
                    </div>

                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</app-infinite-scroll>
<!-- Members array template ends -->

<!-- Loading Spinner Starts -->
<ng-container *ngIf="isLoading$ | async">
    <app-loading-spinner></app-loading-spinner>
</ng-container>
<!-- Loading Spinner Ends -->
