@font-face {
  font-family: 'fontello2';
  src: url('../fonts/fontello2.eot?63250262');
  src: url('../fonts/fontello2.eot?63250262#iefix') format('embedded-opentype'), url('../fonts/fontello2.woff2?63250262') format('woff2'), url('../fonts/fontello2.woff?63250262') format('woff'), url('../fonts/fontello2.ttf?63250262') format('truetype'), url('../fonts/fontello2.svg?63250262#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?63250262#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello2";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-octo-logo:before {
  content: '\e800';
}


/* '' */

.icon-octo-logo-smile:before {
  content: '\e801';
}


/* '' */

.icon-octo-logo-grim:before {
  content: '\e802';
}


/* '' */
