/* GROUP CSS */

// New Post Pill CSS
.feed-new-update-pill {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }

// Inner Content CSS
.inner-news{
    height: 32px;
    width: 130px;
    margin: 0px auto;
    .news-badge{
      z-index: 99;
      position: fixed;
      box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 6px 9px rgba(0,0,0,.2);
      .material-icons{
        font-size: 14px;
      }
    }
  }

  /* GROUP CSS */