.input-search {
    width: 100%;
    height: 38px;
   
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
  
  }
  
  input:focus {
    outline: none;
    border-bottom: 1px solid royalblue;
  }
  
  .full-name-text {
    font-size: 12px;
    line-height: 18px;
  }

  app-loading-spinner{
    display: flex;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
}