<div class="container">
    <div class="row main-actvity">

        <div class="col-md-4" >
            <app-group-information *ngIf="groupData && checkDataExist(groupData)" [groupData]="groupData"></app-group-information>
            <app-send-pulse *ngIf="groupId" [groupId]="groupId"></app-send-pulse>
        </div>

        <div class="col-md-8">
            <!-- <app-news-pill></app-news-pill> -->
            <app-group-postbox *ngIf="userData && checkDataExist(userData)" [userData]="userData" [groupId]="groupId"></app-group-postbox>
        </div>
    </div>
</div>