<div class="row">
  <div class="col select-post">

    <!-- Normal Post Starts -->
    <button class="btn btn-md cool"  matTooltip="Create a post"
      (click)="openModal(content); type = 'normal'">
      <i [style.color]="type === 'normal'" class="material-icons-outlined" id="icon_comment">
        comment
      </i> Write a post
    </button>
    <!-- Normal Post Ends -->

    <!-- Event Post Starts -->
    <button class="btn btn-md cool"  matTooltip="Create event"
      (click)="openModal(content); ; type = 'event'">
      <i [style.color]="type === 'event'" class="material-icons-outlined" id="icon_event">event
      </i> Schedule event
    </button>
    <!-- Event Post Ends -->

    <!-- Task Post Starts -->
    <button class="btn btn-lg btn-link cool" matTooltipPosition="above" matTooltip="Create task" (click)="openModal(content); ; type = 'task'">
      <i [style.color]="type === 'task' ? '#005fd5' : '#9b9b9b'" class="material-icons muted"
        id="icon_check_box">check_box
      </i>
    </button>
    <!-- Task Post Ends -->

  </div>
</div>

<!-- Modal Template for post creation starts -->
<ng-template #content let-modal>
  <!-- Create post starts -->
  <app-group-create-post *ngIf="userData && checkDataExist(userData)" [userData]="userData" [groupId]="groupId"
    [type]="type" (post)="getPost($event)" (edited)="editedPost($event)" (close)="closeModal()">
  </app-group-create-post>
  <!-- Create post ends -->
</ng-template>
<!-- Modal Template for post creation ends -->
