<mat-dialog-actions align="end">
  <div class="action-box">
      <a (click)="onCloseDialog()" mat-dialog-close>
        <i class="material-icons" style="cursor: pointer">close</i>
      </a>
  </div>
</mat-dialog-actions>

<div class="post-dialog-content" *ngIf="objectExists(postData) && postData._id">
    <div class="post-content">
        <div>
          <div class="content-box">
            <div class="modal-header">
              <!-- Event Post Header starts -->
              <h4 class="modal-title">
                <!-- Post Title starts -->
                <input name="postTitle" type="text" [ngModel]="title" (blur)="titleChange($event)" class="post-title"
                  placeholder="✍🏻 Title" />
                <!-- Post Title ends -->
              </h4>
        
              <i class="material-icons-outlined ml-2" *ngIf="isIdeaModuleAvailable && postData?.northStar?.is_idea"
                style="color: #FBB732;">emoji_objects</i>
        
              <app-post-utils *ngIf="userData" [post]="postData" [userData]="userData" [groupData]="groupData"
                [canEdit]="canEdit" mode="fullscreen" (delete)="deletePost()">
              </app-post-utils>
            </div>
            <!-- Post Header Title ends -->
        
            <!-- Post Content starts -->
            <app-quill-editor *ngIf="canEdit" [editorId]="'postbox-editor'" [toolbar]="canEdit" [readOnly]="!canEdit"
              [quillContent]="postData?.content" [groupId]="groupId" (contentEmitter)="quillContentChanged($event)">
            </app-quill-editor>
            <!-- Post Content ends -->
        
            <!-- Attach files starts -->
            <div class="attach-files">
              <app-attach-files [post]="postData" (files)="onAttach($event)" (cloudFiles)="onCloudFileAttach($event)">
              </app-attach-files>
            </div>
            <!-- Attach files ends -->

            <app-post-actions [post]="postData" [userData]="userData" [fullscreen]="true" [groupData]="groupData"
              [isIdeaModuleAvailable]="isIdeaModuleAvailable" [canEdit]="canEdit" (pinEvent)="onPostPin($event)"
              (newCommentEmitter)="newCommentAdded($event)">
            </app-post-actions>
          </div>
        </div>

        <div class="clearfix save-content">
            <button *ngIf="canEdit" [disabled]="!contentChanged"
              class="btn float-right btn-primary btn-md"
              (click)="updateDetails('change_content')" i18n="@@taskDialog.save">
                Save
            </button>

            <button
              *ngIf="!showSubtasks && !postData?.northStar?._parent_task && !postData?._group && canEdit"
              class="btn float-left new-ns-button" (click)="prepareToAddSubtasks()" i18n="@@taskDialog.addTarget">
              + Add Target
            </button>
        </div>

        <div class="content-box" *ngIf="(showSubtasks && (!postData?.northStar?.shuttle_type || groupData?._id == postData?._group?._id))
            || (postData?.comments_count > 0) || (postData?.logs && postData?.logs?.length > 0)
            || (postData?.type === 'task' && postData?.approval_active && postData?.approval_history && postData?.approval_history?.length > 0)
            || (postData?.type === 'task')">
          <!-- TABS STARTS -->
          <mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedTab">
            <!-- subtasks STARTS-->
            <mat-tab *ngIf="showSubtasks && (!postData?.northStar?.shuttle_type || groupData?._id == postData?._group?._id)">
              <ng-template mat-tab-label>
                <span i18n="@@taskDialog.subtasks">Subtasks</span>
              </ng-template>

              <ng-template matTabContent>
                <app-subtasks
                  [subtasks]="subtasks"
                  [groupData]="groupData"
                  [userData]="userData"
                  [parentId]="postData?._id"
                  [parentNS]="true"
                  (openSubtaskEmitter)="onOpenSubtask($event)"></app-subtasks>
              </ng-template>
            </mat-tab>
            <!-- subtasks ENDS-->

            <!-- comment-list STARTS-->
            <mat-tab *ngIf="postData?.comments_count > 0">
              <ng-template mat-tab-label>
                <span i18n="@@taskDialog.comments">Comments</span>
              </ng-template>

              <ng-template matTabContent>
                <app-comment-list
                  [postId]="postData?._id"
                  [userData]="userData"
                  [groupId]="postData?._group?._id || postData?._group"
                  [length]="postData?.comments_count"
                  [newComment]="newComment"></app-comment-list>
              </ng-template>
            </mat-tab>
            <!-- comment-list ENDS-->

            <!-- north-star-stats STARTS-->
            <mat-tab>
              <ng-template mat-tab-label>
                <span i18n="@@taskDialog.northStarStats">North Star Stats</span>
              </ng-template>

              <ng-template matTabContent>
                <app-north-star-stats
                  [isNorthStar]="true"
                  [northStar]="postData?.northStar?.northStar">
                </app-north-star-stats>
              </ng-template>
            </mat-tab>
            <!-- north-star-stats ENDS-->

            <!-- time-tracking STARTS-->
            <mat-tab *ngIf="postData?.type == 'task'">
              <ng-template mat-tab-label>
                <span i18n="@@taskDialog.timeTracking">Time tracking</span>
              </ng-template>

              <ng-template matTabContent>
                <app-task-time-tracking
                  [userId]="userData?._id"
                  [groupId]="groupData?._id"
                  [postData]="postData">
                </app-task-time-tracking>
              </ng-template>
            </mat-tab>
            <!-- time-tracking ENDS-->

            <!-- APPROVALS HISTORY STARTS-->
            <mat-tab *ngIf="postData?.type === 'task' && postData?.approval_active && postData?.approval_history && postData?.approval_history?.length > 0&& isBusinessSubscription">
              <ng-template mat-tab-label>
                <span i18n="@@taskDialog.approvalsHistory">Approvals History</span>
              </ng-template>

              <ng-template matTabContent>
                <app-approvals-history
                  [groupId]="groupData?._id"
                  [userData]="userData"
                  [itemData]="postData"
                  [type]="'post'"></app-approvals-history>
              </ng-template>
            </mat-tab>
            <!-- APPROVALS HISTORY ENDS-->

            <!-- TASK CHANGES HISTORY STARTS-->
            <mat-tab *ngIf="postData?.logs && postData?.logs?.length > 0">
              <ng-template mat-tab-label>
                <span i18n="@@taskDialog.changeLog">Change Log</span>
              </ng-template>

              <ng-template matTabContent>
                <app-post-logs [logs]="postData?.logs"></app-post-logs>
              </ng-template>
            </mat-tab>
            <!-- TASK CHANGES HISTORY ENDS-->
          </mat-tab-group>
          <!-- TABS ENDS -->
        </div>
    </div>

    <!-- Top Right Section starts -->
    <div  *ngIf="!!groupData && ((!!groupData.dialog_properties_to_show && !!groupData.dialog_properties_to_show.task
            && (groupData?.dialog_properties_to_show?.northStar?.includes('north_star') || groupData?.dialog_properties_to_show?.northStar?.includes('date')
              || groupData?.dialog_properties_to_show?.northStar?.includes('assignee')
              || groupData?.dialog_properties_to_show?.northStar?.includes('tags') || groupData?.dialog_properties_to_show?.northStar?.includes('custom_fields')
              || groupData?.dialog_properties_to_show?.northStar?.includes('actions') || groupData?.dialog_properties_to_show?.northStar?.includes('approvals')
              || groupData?.dialog_properties_to_show?.northStar?.includes('shuttle_task') || groupData?.dialog_properties_to_show?.northStar?.includes('parent_task')))
          || !groupData.dialog_properties_to_show || !groupData.dialog_properties_to_show.task)"
      class="post-properties">
        <!-- Is North Start starts -->
        <app-north-star *ngIf="(!!groupData.dialog_properties_to_show && !!groupData?.dialog_properties_to_show?.northStar && groupData?.dialog_properties_to_show?.northStar?.includes('north_star'))"
          [isNorthStar]="true"
          [northStar]="postData?.task.northStar"
          (saveInitialNorthStarEmitter)="saveNorthStar($event)"
          (addProgressNorthStarEmitter)="saveNorthStar($event)">
        </app-north-star>
        <!-- Is North Start ends -->

        <!-- Shuttle Task starts -->
        <app-shuttle-task *ngIf="isShuttleTasksModuleAvailable && groupData?.shuttle_type && postData && postData?.northStar?.shuttle_type && (!!groupData.dialog_properties_to_show && !!groupData?.dialog_properties_to_show?.northStar && groupData?.dialog_properties_to_show?.northStar?.includes('shuttle_task'))"
          [postData]="postData"
          [groupData]="groupData"
          [userData]="userData"
          [isShuttleTasksModuleAvailable]="isShuttleTasksModuleAvailable"></app-shuttle-task>
        <!-- Shuttle Task ends -->

        <!-- Dates starts -->
        <app-post-dates *ngIf="!!groupData.dialog_properties_to_show && !!groupData.dialog_properties_to_show.northStar && groupData?.dialog_properties_to_show?.northStar?.includes('date')"
          [userData]="userData"
          [postData]="postData"
          [groupData]="groupData"
          [canEdit]="canEdit"
          (startDateEvent)="getStartDate($event)"
          (dueDateEvent)="getDueDate($event)"></app-post-dates>
        <!-- Dates ends -->

        <!-- Assignee Modal starts -->
        <div class="content-box" *ngIf="!!groupData.dialog_properties_to_show && !!groupData.dialog_properties_to_show.northStar && groupData?.dialog_properties_to_show?.northStar?.includes('assignee')">
            <p class="box-title" i18n="@@taskDialog.assignee">Assignee</p>

            <app-multiple-assignments
              [canEdit]="canEdit"
              [groupId]="groupId"
              [post]="postData"
              [type]="'post'"
              (assigneeAddedEmiter)="onAssigned($event)"
              (assigneeRemovedEmiter)="onAssigned($event)">
            </app-multiple-assignments>

            <div *ngIf="lastAssignedBy" id="avatar-assignee">
              <p class="box-title" style="padding-top: 20px;" i18n="@@taskDialog.assignedBy">Assigned by</p>

              <app-secured-image
                [imgURL]="lastAssignedBy.profile_pic"
                [service]="'user'"
                [userData]="lastAssignedBy"
                [workspaceId]="(userData?._workspace?._id || userData?._workspace)"
                [styleClass]="'feed-avatar-small'"
                style="float: left; cursor: auto;"></app-secured-image>

              <div style="padding-top: 10px;" class="ml-1">
                {{ lastAssignedBy?.first_name }}
                {{ lastAssignedBy?.last_name }}
              </div>
            </div>

            <div id="avatar-assignee" style="margin-bottom: 30px;">
              <p class="box-title" style="padding-top: 20px;" i18n="@@taskDialog.createdBy">Created by</p>

              <app-secured-image *ngIf="postData && postData?._posted_by"
                [imgURL]="postData?._posted_by?.profile_pic"
                [service]="'user'"
                [userData]="postData?._posted_by"
                [workspaceId]="(userData?._workspace?._id || userData?._workspace)"
                [styleClass]="'feed-avatar-small'"
                style="float: left; cursor: auto;"></app-secured-image>

              <div style="padding-top: 10px;" class="ml-1">
                {{ postData?._posted_by?.first_name }}
                {{ postData?._posted_by?.last_name }}
                <span class="muted" i18n="@@taskDialog.on">on {{ postData?.created_date | date: 'MMM dd, yyyy'}}</span>
              </div>
            </div>

        </div>

        <div class="content-box" *ngIf="!!groupData.dialog_properties_to_show && !!groupData.dialog_properties_to_show.northStar && groupData?.dialog_properties_to_show?.northStar?.includes('tags')">
            <p class="box-title" i18n="@@taskDialog.tags">Tags</p>

            <!-- Post Tags starts -->
            <app-tags
                [canEdit]="canEdit"
                [item]="postData"
                [userData]="userData"
                [groupId]="groupId"
                (tags)="getTags($event)">
            </app-tags>
            <!-- Post Tags ends -->
        </div>

        <div class="content-box" *ngIf="postData?._group && customFields?.length > 0 && (!!groupData.dialog_properties_to_show && !!groupData.dialog_properties_to_show.northStar && groupData?.dialog_properties_to_show?.northStar?.includes('custom_fields'))">
            <p class="box-title" i18n="@@taskDialog.customFields">Custom fields</p>

            <div *ngFor="let cf of customFields; trackBy: utilityService.trackByIndex" class="d-flex custom-field justify-content-start mb-3 row">
                <p class="col">{{ cf.title }}</p>
                <mat-select ngDefaultControl *ngIf="!cf.input_type"
                    [(value)]="selectedCFValues[cf.name]"
                    [disabled]="!canEdit"
                    (openedChange)="cfSearchText = ''"
                    (selectionChange)="onCustomFieldChange($event, cf.name, cf.title)"
                    appearance="fill"
                    class="col">
                    <mat-select-trigger>{{ selectedCFValues[cf.name] }}</mat-select-trigger>
                    <input type="text" class="form-control" [id]="'search-text' + cf.name" [(ngModel)]="cfSearchText"
                      [placeholder]="cfSearchPlaceholder" autofocus
                      (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                    <mat-option *ngFor="let val of cf.values | appFilter: cfSearchText; trackBy: utilityService.trackByIndex" [value]="val">{{ val }}</mat-option>
                </mat-select>

                <div *ngIf="cf.input_type && !cf.input_type_date" class="col" style="display: flex; float: left; width: 125px;">
                  <input [type]="(cf.input_type_number) ? 'number': 'text'" [name]="cf.name" [(ngModel)]="selectedCFValues[cf.name]"
                      [disabled]="!canEdit"
                      class="col" style="width: 94px;" [value]="selectedCFValues[cf.name]"
                      (keyup.enter)="saveInputCustomField($event, cf.name, cf.title)" />
                  <i *ngIf="canEdit" (click)="saveCustomField(cf.name, cf.title, selectedCFValues[cf.name]);" class="material-icons muted mr-5"
                    style="cursor: pointer; font-size: 14px; margin-left: 10px;color: #0bc6a0;">save</i>
                </div>

                <div *ngIf="cf.input_type && cf.input_type_date" >
                  <!-- Date Picker starts -->
                  <app-date-picker (date)="getCFDate($event, cf.name, cf.title)"
                    [selectedDate]="selectedCFValues[cf.name]"
                    [styleClass]="'btn-group input-date'"
                    [canEdit]="canEdit">
                  </app-date-picker>
                  <!--Date Picker ends -->
                </div>

                <!-- Clean field starts -->
                <i *ngIf="canEdit" (click)="saveCustomField(cf.name, cf.title, null);"
                  class="material-icons muted mr-5"
                  style="cursor: pointer; font-size: 14px; margin-left: 10px;">remove_circle_outline</i>
                <!-- Clean field ends -->
            </div>
        </div>

        <app-task-actions *ngIf="userData && canEdit && (!!groupData.dialog_properties_to_show && !!groupData.dialog_properties_to_show.northStar && groupData?.dialog_properties_to_show?.northStar?.includes('actions'))"
          [postData]="postData"
          [groupData]="groupData"
          [userData]="userData"
          [tasks]="tasks"
          [isNorthStar]="true"
          [isIdea]="(postData?.northStar?.is_idea) ? postData?.northStar?.is_idea : false"
          [isIdeaModuleAvailable]="isIdeaModuleAvailable"
          [isCRMLead]="(postData?.northStar?.is_crm_task) ? postData?.northStar?.is_crm_task : false"
          [isCRMOrder]="(postData?.northStar?.is_crm_order) ? postData?.northStar?.is_crm_order : false"
          [isShuttleTasksModuleAvailable]="isShuttleTasksModuleAvailable"
          [isMilestone]="(postData?.northStar?.is_milestone) ? postData?.northStar?.is_milestone : false"
          [canEdit]="canEdit"
          (parentTaskSelectedEmitter)="onParentTaskSelected($event)"
          (dependencyTaskSelectedEmitter)="onDependencyTaskSelected($event)"
          (taskClonedEmitter)="onTaskClonned($event)"
          (taskFromTemplateEmitter)="openParentTask($event)"
          (taskEstimationEmitter)="onEstimationChanged($event)"
          (transformIntoNorthStarEmitter)="transformToNorthStart($event)"
          (transformIntoMilestoneEmitter)="transformToMileStone($event)"
          (transformIntoIdeaEmitter)="transformToIdea($event)"
          (shuttleGroupEmitter)="setShuttleGroup($event)">
        </app-task-actions>

        <!-- APPROVAL STARTS -->
        <div class="content-box" *ngIf="isBusinessSubscription && (!!groupData.dialog_properties_to_show && !!groupData.dialog_properties_to_show.northStar && groupData?.dialog_properties_to_show?.northStar?.includes('approvals'))">
          <app-approval-actions
            [groupId]="groupData?._id"
            [userData]="userData"
            [itemData]="postData"
            [type]="'post'"
            [canEdit]="canEdit"
            (assigneeEmiter)="onAssigneeEmitter($event)"
            (approvalFlowLaunchedEmiter)="onApprovalFlowLaunchedEmiter($event)"></app-approval-actions>
        </div>
        <!-- APPROVAL ENDS -->
    </div>
    <!-- Top Right Section ends -->
</div>

<!-- Loading Spinner Starts -->
<ng-container *ngIf="isLoading$ | async">
  <app-loading-spinner class="media"></app-loading-spinner>
</ng-container>
<!-- Loading Spinner Ends -->
