<div class="integrationsDialog" *ngIf="workplaceData">
  <mat-dialog-actions class="d-flex justify-content-end" align="end">
    <i mat-dialog-close class="material-icons" (click)="onCloseDialog()" style="cursor: pointer">close</i>
  </mat-dialog-actions>

  <h2 mat-dialog-title class="text-center">
    <span class="badge badge-cf">
      <i class="material-icons">cable</i>
    </span>
    <span i18n="@@workplaceGoogleFieldsMapperDialog.mapFields">Map Fields</span>
  </h2>

  <div class="description text-center">
    <p i18n="@@workplaceGoogleFieldsMapperDialog.mapFieldsDescription" class="text-descr">
      Map Google fields with Octonius users' properties.
    </p>
  </div>

  <div class="content">
    <div class="integration">
      <div *ngIf="googleSchemas" class="integration-properties">
        <div class="form-group" *ngFor="let schema of googleSchemas">
          <div class="row" style="padding-left: 70px;">
            <h3>{{ schema.displayName }}</h3>
          </div>

          <table style="margin-right: auto; margin-left: auto;">
            <tr>
              <th></th>
              <th><h4 i18n="@@workplaceGoogleFieldsMapperDialog.googleField">Google Field</h4></th>
              <th></th>
              <th><h4 i18n="@@workplaceGoogleFieldsMapperDialog.octoniusProperty">Octonius Property</h4></th>
              <th></th>
              <th *ngIf="isGlobal"><h4 i18n="@@workplaceGoogleFieldsMapperDialog.newOctoniusProperty">New Octonius Property</h4></th>
              <th *ngIf="!isGlobal"><h4 i18n="@@workplaceGoogleFieldsMapperDialog.googleValue">Google Value</h4></th>
              <th *ngIf="!isGlobal"></th>
              <th *ngIf="!isGlobal"><h4 i18n="@@workplaceGoogleFieldsMapperDialog.octoniusValue">Octonius Value</h4></th>
              <th *ngIf="!isGlobal"></th>
            </tr>
            <tr *ngFor="let field of schema.fields">
              <td><input [checked]="isPropertySelected(schema.schemaName, field.fieldName)" class="" type="checkbox" (click)="selectProperty(schema.displayName, field.fieldName)"></td>
              <td><span>{{ field.displayName }}</span></td>
              <td><span class="material-icons-outlined">sync_alt</span></td>
              <td><span class="muted">{{ getOctoniusProperty(schema.schemaName, field.fieldName) }}</span></td>
              <td></td>
              <td *ngIf="isGlobal">
                <mat-select ngDefaultControl appearance="fill"
                    (selectionChange)="changePropertyValue($event, schema.schemaName, field.fieldName)">
                  <mat-option *ngFor="let profileCF of profileCustomFields" [value]="profileCF.name">{{ profileCF.title }}</mat-option>
                </mat-select>
              </td>

              <td *ngIf="!isGlobal && userGoogleData && userGoogleData['customSchemas'] && userGoogleData['customSchemas'][schema.displayName]">
                <span>{{ userGoogleData['customSchemas'][schema.schemaName][field.fieldName] | truncatetext: 30 }}</span>
              </td>

              <td *ngIf="!isGlobal"><span class="material-icons-outlined">sync_alt</span></td>
              <td *ngIf="!isGlobal"><span class="muted" *ngIf="this.userData.profile_custom_fields">{{ this.userData.profile_custom_fields[getOctoniusProperty(schema.schemaName, field.fieldName)] }}</span></td>
              <td *ngIf="!isGlobal && isUserCF(schema.schemaName, field.fieldName)">
                <span class="material-icons-outlined">warning</span>
                <span i18n="@@workplaceLdapFieldsMapperDialog.userFieldWaring">The map of this field will only be effective if the Google field is an email of an existing user in Octonius.</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div style="margin-top: 20px; text-align: center;">
      <button *ngIf="!isGlobal" class="col-md-4 btn btn-primary"
        [disabled]="!googleSchemas || propertiesToMap.length <= 0"
        (click)="mapProperties()"
        i18n="@@workplaceLdapFieldsMapperDialog.map">
        Map
      </button>
      <button *ngIf="isGlobal" class="col-md-4 btn btn-primary"
        [disabled]="!googleSchemas || propertiesToMap.length <= 0"
        (click)="mapProperties()"
        i18n="@@workplaceGoogleFieldsMapperDialog.saveMapping">
        Save Mapping
      </button>
    </div>
</div>
