<div class="integrationsDialog" *ngIf="workplaceData">
  <mat-dialog-actions class="d-flex justify-content-end" align="end">
    <i mat-dialog-close class="material-icons" (click)="onCloseDialog()" style="cursor: pointer">close</i>
  </mat-dialog-actions>

  <h2 mat-dialog-title class="text-center">
    <span class="badge badge-cf">
      <i class="material-icons">cable</i>
    </span>
    <span i18n="@@workplaceGoogleFieldsMapperDialog.mapFields">Map Fields</span>
  </h2>

  <div class="description text-center">
    <p i18n="@@workplaceGoogleFieldsMapperDialog.mapFieldsDescription" class="text-descr">
      Map Google fields with Octonius users' properties.
    </p>
  </div>

  <div class="content">
    <div class="integration">
      <div *ngIf="googleSchemas" class="integration-properties">
        <div class="form-group" *ngFor="let schema of googleSchemas">

          <div class="row">
            <h3>{{ schema.displayName }}</h3>
          </div>

          <div class="form-group row" *ngFor="let field of schema.fields">
            <div class="col-md-1">
              <input [checked]="propertiesToMap.indexOf(field.fieldName)>=0" class="" type="checkbox" (click)="selectProperty(field.fieldName)">
            </div>

            <div class="col-md-4">
              <span>{{ field.displayName }}</span>
              &nbsp; <span class="material-icons-outlined">sync_alt</span> &nbsp;
              <span class="muted">{{ getOctoniusProperty(field.fieldName) }}</span>
            </div>

            <div class="col-md-4">
              <mat-select ngDefaultControl
                  [(value)]="mapSelectedProperties[field.fieldName]"
                  (selectionChange)="changePropertyValue($event, schema.schemaName, field.fieldName)"
                  appearance="fill">
                <mat-option *ngFor="let profileCF of profileCustomFields" [value]="profileCF.name">{{ profileCF.title }}</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-top: 20px; text-align: center;">
      <button class="col-md-4 btn btn-primary" [disabled]="!googleSchemas || propertiesToMap.length <= 0" (click)="mapProperties()" i18n="@@workplaceGoogleFieldsMapperDialog.saveMapping">
        Save Mapping
      </button>
    </div>
</div>
