<div class="card-tile">
    
    <h6><strong>Your Subscription Details</strong></h6>

    <hr>

    <h6><strong>Started on - </strong> 
      {{subscription.created | amFromUnix | amDateFormat:'LL'}}
    </h6>

    <h6 *ngIf="!workspaceData.billing.cancelled"><strong>Current payment valid until - </strong>
      {{subscription.current_period_end | amFromUnix | amDateFormat:'LL'}}
    </h6>

    <h6><strong>Status - </strong> 
      <span *ngIf="!workspaceData.billing.cancelled; else inactive">Active</span>
      <ng-template #inactive><span>Inactive</span></ng-template>
    </h6>

    <h6><strong>Cost - </strong> 
      {{subscription.quantity * subscription.amount | currency:'EUR'}} / {{subscription.interval}}
    </h6>

    <h6><strong>Number of users on this subscription - </strong> 
      {{subscription.quantity}}
    </h6>

    <ng-container>

      <button *ngIf="!workspaceData.billing?.scheduled_cancellation; else resumeSubscriptionTemp"
        (click)="cancelSubscription()" class="btn btn-danger">
        Cancel subscription
      </button>

      <ng-template #resumeSubscriptionTemp>
        <button (click)="resumeSubscription()" class="btn btn-warning">Resume subscription</button>
      </ng-template>

    </ng-container>

  </div>