<div class="card-tile">
  <h6><strong>Your Subscription Details</strong></h6>

  <hr>

  <h6><strong>Started on - </strong>
    {{subscription.created | amFromUnix | amDateFormat:'LL'}}
  </h6>

  <h6 *ngIf="subscription?.ended_at"><strong>Current payment valid until - </strong>
    {{subscription.current_period_end | amFromUnix | amDateFormat:'LL'}}
  </h6>

  <h6><strong>Status - </strong>
    <span *ngIf="!subscription?.ended_at; else inactive">Active</span>
    <ng-template #inactive><span>Inactive</span></ng-template>
  </h6>

  <h6><strong>Cost - </strong>
    {{subscription.quantity * subscription.plan.amount / 100 | currency: '$': 'symbol': '.2-2'}} / {{subscription.plan.interval}}
  </h6>


  <button *ngIf="!subscription?.ended_at; else resumeSubscriptionTemp"
    (click)="cancelSubscription()" class="btn btn-danger">
    Cancel subscription
  </button>

  <ng-template #resumeSubscriptionTemp>
    <button (click)="resumeSubscription()" class="btn btn-warning">Resume subscription</button>
  </ng-template>
</div>
