<div style="padding: 20px;">
    <div class="row">
        <div class="col-md-9">
            <h2 i18n="@@portfolioGroupsList.portfolioContent" style="float: left; margin-right: 10px; margin-top: 30px;">Portfolio content</h2>
            <!-- <span class="material-icons-outlined" style="cursor: pointer; margin-top: 30px;">info</span> -->
        </div>

        <div class="col-md-3" style="text-align: right;">
            <button *ngIf="!editGroups" class="btn btn-warning mb-3 mt-3" type="button" (click)="editGroups = !editGroups">
                <i class="material-icons-outlined">edit</i>
            </button>

            <button *ngIf="editGroups" class="btn btn-warning mb-3 mt-3" type="button" (click)="openGroupSelecter()">
                <i class="material-icons-outlined">add</i>
                <span i18n="@@portfolioGroupsList.add">Add</span>
            </button>
            <button *ngIf="editGroups" class="btn btn-success mb-3 mt-3" style="margin-left: 10px;" type="button" (click)="confirmGroups()">
                <i class="material-icons-outlined">check_circle</i>
            </button>
        </div>
    </div>

    <!-- STARTS USER GROUPS -->
    <div class="media-body">
        <div class="row">
            <ng-container *ngFor="let group of portfolioData?._groups; trackBy: utilityService.trackByIndex">
                <div class="cards-list">
                    <div *ngIf="editGroups" class="card img-fluid" style="cursor: default;">
                        <app-secured-image [imgURL]="group?.group_avatar" [service]="'group'" [workspaceId]="workspaceData?._id" [styleClass]="'card-img-top'">
                        </app-secured-image>

                        <div class="card-img-overlay">
                            <span class="badge badge-members" style="cursor: pointer; background-color: red; color: white;" (click)="deleteGroup(group?._id)">
                                <i class="material-icons-outlined">delete</i>
                            </span>

                            <div class="title-overlay">
                                <a>
                                    <h2 class="card-title">{{group?.group_name}}</h2>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div *ngIf="!editGroups" class="card img-fluid" (click)="goToGroup(group?._id)">
                        <app-secured-image [imgURL]="group?.group_avatar" [service]="'group'" [workspaceId]="workspaceData?._id" [styleClass]="'card-img-top'">
                        </app-secured-image>

                        <div class="card-img-overlay">
                            <span class="badge badge-members">
                                {{ (group?._members?.length + group?._admins?.length) || 0 }}
                                <span i18n="@@portfolioGroupsList.members">Members</span>
                            </span>

                            <div class="title-overlay">
                                <a>
                                    <h2 class="card-title">{{group?.group_name}}</h2>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <!-- ENDS USER GROUPS -->
    </div>
</div>
