.insights-container {
  font-family: Nunito,sans-serif;
  font-style: normal;
  font-weight: 700!important;
  font-size: 12px;

  width: 94%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;


  .question {
    margin-bottom: 20px;

    .question-title {
      font-size: 17px;
      line-height: 20px;
    }

    .badge {
      background-color: #FBB732;
      margin: 0 1px !important;
      font-size: 13px;
      line-height: 15px;
      display: inline;
      align-items: center;
      color: #ffffff;
      border-radius: 10px;
      padding: 2px 5px !important;
      float: left;
    }
  }
}
