<div class="container">
    <div class="row main-actvity" *ngIf="workspaceData && userData">

        <div class="col-md-4">
            <app-workplace-information [workspaceData]="workspaceData" [routerState]="'general'"></app-workplace-information>
        </div>

        <div class="col-md-8">
            <app-workplace-add-domain [workspaceData]="workspaceData"></app-workplace-add-domain>
            <app-workplace-profile-custom-fields [workspaceData]="workspaceData" [userData] = "userData"></app-workplace-profile-custom-fields>
            <app-workplace-invite-user [workspaceData]="workspaceData" [userData] = "userData"></app-workplace-invite-user>
            <app-transfer-ownership [workspaceData]="workspaceData" [userData] = "userData" ></app-transfer-ownership>

            <div class="card-tile invite-users">
              <h6><b>Delete Workspace</b></h6>
              <hr />
              <div class="container">
                <div class="row">
                  <button class="btn btn-danger btn-sm" (click)="removeWorkspace(workspaceData['_id'])">Remove Workspace</button>
                </div>
                <br />
            </div>
          </div>
        </div>
    </div>
</div>
