version: "3.3"

services:

  mongodb:
    container_name: folio-mongo
    image: mvertes/alpine-mongo:latest
    restart: always
    volumes:
      - data:/data/db
    ports:
      - '27017:27017'

  folio-server:
    container_name: folio-server
    image: folio:server
    restart: always
    ports:
      - '11000:11000'
    build:
      dockerfile: Dockerfile
      context: ./server
    volumes:
      - /usr/app/node_modules
    depends_on:
      - mongodb
    links:
      - mongodb

volumes:
  data:
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/data/db
      o: bind