<div class="card-tile invite-users">
    <h6>
      <b i18n="@@workspaceInviteUser.inviteUser">Invite individual users by email</b>
    </h6>
    <hr />
    <div class="form-group">
        <app-email-input
          [email]="email"
          [label]="label"
          [placeholder]="placeholder"
          (outputEmail)="getValidEmail($event)">
        </app-email-input>
    </div>

    <button class="btn btn-primary" [disabled]="!isValidEmail"
      (click)="inviteUser(workspaceData?._id, this.email)"
      i18n="@@workspaceInviteUser.inviteToJoin">
        Invite to Join
    </button>
</div>
