@import "src/assets/scss/variables";

.circle {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: $brand-primary;
	margin: 5px 10px;

	color: #FFFFFF;
	font-size: 20px;
	line-height: 19px;
	letter-spacing: 0.2625px;
}