<div class="container">

    <div class="card-tile">

        <!-- Heading of the component starts -->
        <h6 style="float: left;">
          <strong i18n="@@adminMembers.allMembersFromWorkplace">All members from your workplace</strong>
        </h6>
        <!-- Heading of the component ends -->

        <div (click)="exportMembers()" appDebounceClick style="cursor: pointer; float:right; margin-bottom: 10px; color: #2AA578;">
          <span class="material-icons-outlined">file_download</span>
          <span i18n="@@adminMembers.exportMembers">Export members</span>
        </div>

        <!-- Fetch the current workspace members list starts -->
        <app-component-search-bar *ngIf="workspaceData && members && searchBarPlaceholder" [type]="'workspace'" [workspaceId]="workspaceData?._id"
            [placeholder]="searchBarPlaceholder" [workspaceData]="workspaceData" [members]="members">
        </app-component-search-bar>
        <!-- Fetch the current workspace members list ends -->

    </div>

</div>
