<div class="btn-group">
  <mat-datepicker-toggle matSuffix [for]="dEvent"></mat-datepicker-toggle>
  <input style="width: 0px; background: none; border: none;" matInput [matDatepicker]='dEvent' [matDatepickerFilter]="myDateFilter" (dateChange)="emitDate($event)"
    [value]="value" class="{{styleClass}}" disabled>

  <div style="margin: 10px 10px 0 0;" [ngStyle]="{ display: (!showInput) ? 'none' : '' }" class="{{styleClass}}">{{ value }}</div>

  <mat-datepicker #dEvent [disabled]="!canEdit"></mat-datepicker>
</div>
