<div *ngIf="tasks?.length > 0" (click)="showDoneTasks = !showDoneTasks">
  <div class="column-title">
    <p class="done-title"><i class="material-icons-outlined">archive</i> {{tasks?.length}} <span i18n="@@doneTasksKanbanView.doneArchived">DONE (archived)</span><i class="material-icons-outlined">expand_more</i> </p>
  </div>
  <div *ngIf="showDoneTasks">
    <div class="task" *ngFor="let task of tasks; let j = index;"
      [ngClass]="{'status-todo': task?.task?.status === 'to do', 'status-inprogress': task?.task?.status === 'in progress', 'status-done': task?.task?.status === 'done'}"
      cdkDrag>

      <div class="media" (click)="openFullscreenModal(task)">
        <div class="media-body">
          <h5 class="mt-0 mb-1 kanban-card-title">{{ task?.title | truncatetext:60 }}</h5>
          <span class="small"
          *ngIf="task?.task?.due_to != 'Invalid date' && task?.task?.status != 'done'"
          [ngClass]="'due'">
          {{task?.task?.due_to | date}}</span>
        </div>

        <app-assignee-avatar [post]="task" [userData]="userData" style="margin-right: 10px;"></app-assignee-avatar>
      </div>
    </div>
  </div>
</div>
