$border-color: #e4edf8;
$pumpkin-orange: #ffab00;
$turquoise: #0bc6a0;
$dark-sky-blue: #4a90e2;

.done-title {
  text-decoration-line: line-through;
  color: #4A90E2;
}

.task {
  // display: flex;
  padding: 8px;
  background: white;
  border: 1px solid $border-color;
  border-radius: 4px;
  margin-bottom: 15px;
  // width: 320px;
  transition: box-shadow 0.3s ease-in-out;
}

.kanban-card-title{
    // margin-top: 15%;
    // margin-left: -80px;
    font-weight: 400;
    font-size: 15px;
    color: #242D3A;
    cursor: pointer;
    width: 100%;
    white-space: normal;

}

.due-date{
    margin-left: auto;
}

.status-todo {
    border-left: 3px solid $pumpkin-orange;
}
.status-inprogress {
    border-left: 3px solid $turquoise;
}
.status-done {
    border-left: 3px solid $dark-sky-blue;
}
