<!--<div class="content-box">-->
  <!-- Is Not North Start starts -->
  <div *ngIf="isNorthStar">
    <!--
    <h4 class="text-center" i18n="@@northStarStats.northStarTimeline">Target TIMELINE</h4>
    <p class="box-title" i18n="@@northStarStats.showingHowYourtTeam">Showing how your team's day-to-day work connects to achieve the goal.</p>
    -->


    <div class="content-box" *ngIf="northStar?.values">
      <div *ngFor="let value of northStar?.values; let index = index;">
        <div class="media tile overview-task" style="cursor: default;">
          <div class="row media-body">
            <div class="col-md-1">
              <app-secured-image [imgURL]="value?._user?.profile_pic" [service]="'user'" [styleClass]="'assignee-avatar'">
              </app-secured-image>
            </div>
      
            <div class="col-md-10 overview-item title-nowrap pl-0">
              
              {{ value?._user?.first_name }} {{ value?._user?.last_name }}
              
              <span *ngIf="value?.difference > 0" style="color: #2AA578; margin: 0 10px;" i18n="@@northStarStats.increased">increased</span>
              <span *ngIf="value?.difference < 0" style="color: #EE5D5D; margin: 0 10px;" i18n="@@northStarStats.decreased">decreased</span>
              <span *ngIf="value?.difference == 0" style="color: #afafaf; margin: 0 10px;" i18n="@@northStarStats.set">set</span>

              <span i18n="@@northStarStats.theValueTo">the value to</span>

              <span class="grouplabel" [ngStyle]="{'background-color' : (value?.difference > 0) ? '#2AA578' : ((value?.difference == 0) ? '#E4EDF8' : '#EE5D5D')}">
                {{ value?.difference }}
              </span>

              <span i18n="@@northStarStats.andSetTheStatusTo">and set the status to</span>

              <span class="grouplabel" [ngClass]="getNSStatusClass(value.status)">
                {{ value.status }}
              </span>

              <span i18n="@@northStarStats.on">on</span>
              
              {{value.date | date:'MMM d, yyyy' }}
            </div>
          </div>
        </div>
      </div>
      <!--
      <div *ngFor="let value of northStar?.values; let index = index">

        <ul class="timeline">
          <li>
            <div class="" [ngClass]="{'direction-r': index%2===0, 'direction-l': index%2!==0}">
              <div class="flag-wrapper">
                <span class="flag">
                  <span *ngIf="northStar.type === 'Percent'">
                    {{ value.value / 100 | percent: '.2-2' }}
                  </span>
                  <span *ngIf="northStar.type === 'Currency'">
                    {{ value.value | currency: northStar?.currency }}
                  </span>
                  <span  *ngIf="northStar.type === 'Number'">
                    {{ value.value }}
                  </span>

                </span>
                <span class="time-wrapper"><span class="time">{{ value.date | date: 'MMM, d' }}</span></span>
              </div>
              <div class="desc"> <span [ngClass]="getNSStatusClass(value.status)">
                {{ value.status }}
              </span>

              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    -->
  </div>
<!--</div>-->
