<div class="modal-header">
  <h4 class="modal-title" *ngIf="type === 'task' && edit === false">New Task</h4>
  <h5 class="modal-title" *ngIf="type === 'task' && edit === true">{{ title }}</h5>
  <h4 class="modal-title" *ngIf="type === 'event'">New Event</h4>
  <h4 class="modal-title" *ngIf="type === 'normal'">New Post</h4>

  <div class="float-right">
    <i *ngIf="type === 'normal'" class="material-icons">comment</i>
    <i *ngIf="type === 'task'" class="material-icons">check_box</i>
    <i *ngIf="type === 'event'" class="material-icons">event</i>
  </div>
</div>

<div class="modal-body">
  <div class="form-group">
    <div class="row post-header" *ngIf="type === 'task' || type ==='event'">
      <div class="col-md-6">

        <app-select-assignee [post]="postData" [userData]="userData" [groupId]="groupId" [type]="type"
          (member)="getMemberDetails($event)"></app-select-assignee>

      </div>

      <div class="col-md-6">
        <section>
          <p class="due-date" *ngIf="dueDate"><strong>{{ dueDate | date:'mediumDate' || 'Date Not Selected' }}</strong>
          </p>
          <app-date-picker (date)="getDate($event)"></app-date-picker>
          <app-task-status class="inline-block ml-5" *ngIf="type === 'task' && edit === true" [post]="postData"
            (status)="changeTaskStatus($event)"></app-task-status>
          <app-change-column class="inline-block ml-5" *ngIf="type === 'task' && columns" [post]="postData"
            [columns]="columns" (moveTask)="moveTaskToColumn($event)"></app-change-column>
          <app-time-picker class="ml-5" *ngIf="type === 'event'" (time)="getTime($event)"></app-time-picker>
        </section>
      </div>
    </div>
    <input name="postTitle" type="text" [(ngModel)]="title" class="post-title" placeholder="Insert title here ..." />
    <app-quill-editor *ngIf="!edit" [editorId]="'postbox-editor'" [toolbar]="true" [readOnly]="false"
      (content)="getQuillData($event)"></app-quill-editor>

    <!-- Post Content starts -->
    <app-quill-editor *ngIf="edit" [editorId]="'postbox-editor'" [toolbar]="true"
      [readOnly]="false" [contents]="postData.content" (content)="getQuillData($event)"></app-quill-editor>
    <!-- Post Content ends -->

    <div class="attach-files">
      <app-attach-files [post]="postData" (files)="onAttach($event)"></app-attach-files>
      <button [disabled]="!showUpdateDetails" *ngIf="edit" class="btn float-right btn-primary btn-md" (click)="updateDetails()">Update Details</button>
    </div>
    <app-post-tags [post]="postData" [userData]="userData" [groupId]="groupId" (tags)="getTags($event)"></app-post-tags>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-md btn-danger" (click)="this.closeModal()">Close</button>
  <button type="button" *ngIf="!edit" class="btn btn-md btn-primary" (click)="createPost()">Post</button>
</div>