.post-title{
    padding: 12px 15px; 
    width: 100%; 
    box-shadow: none;
    border:none;
}

.post-header{
    margin-bottom: 2%;
}

p{
    // font-size: medium;
    margin-top: 2%;
}


i{
    font-size: 24px;
}

.attach-files{
    width: 100%; 
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-section{
    margin-bottom: 10px;
    vertical-align: middle;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

app-component-search-input-box{
    margin: auto;
    position: absolute;
    top: 0; 
    left: 50% !important; 
    bottom: 0; 
    right: 0;
    z-index: 99;
}

app-time-picker {
    margin: auto;
    // position: absolute;
    // top: 0; 
    // left: 30% !important; 
    // bottom: 0; 
    // right: 0;
    // z-index: 99;
}
.ql-container{
    border:none !important;
}