 <!-- Folio wrapper starts here -->

<app-create-table *ngIf="tableShow" (dataToSubmit)="dataFromTableModal($event)"></app-create-table>

<div #ImageResizeModal></div>

<div [ngClass]="{'hide-modal' : !commentBool}" class="comment-modal center">
  <div class="comment-container center">
    <span class="close" (click)="closeComment()">&times;</span>
    <div class="to-comment-text">
      <h2>Selected Text : </h2>
      <textarea readonly cols="30" rows="4">{{selectedText}}</textarea>
    </div>
    <h2>Comment : </h2>
    <div #editable2></div>
    <div class="comment-submit" (click)="submitComment()">
      Submit
    </div>
  </div>
</div>
<div *ngIf="deleteCommentBool" class="comment-modal center">
<div class="comment-container center">
  <h1>Confirm to delete the comment</h1>
  <div class="row-buttons">
    <div class="comment-submit" (click)='onDeleteConfirm()'>
      Confirm
    </div>
    <div class="comment-submit" (click)='onDeleteCancel()'>
      Cancel
    </div>
  </div>
</div>
</div>
<div class="folio-container">
  <!-- Quill Editor Component Starts -->
  <div class="editor-section">
    <div #editable class="folio"></div>
  </div>
  <!-- Quill Editor Component Ends -->

  <!-- Comments Starts -->

  <div class="comments-section">
    <div class="comment-head">
      <div class="center">
      COMMENTS
      </div>
    </div>
    <div class="comment-area">
      <div class="commentmsg" [ngClass]="{'commentmsg-highlight' : commentsToDisplay.includes(ind)}" (click)="highlight(meta.range)" *ngFor="let meta of metaData;let ind = index">
        <div class="comment-profile">
          <div class="profile">
            <div class="profile-pic">
              <app-secured-image [imgURL]="meta.profile_pic" [inlineStyle]='"height: 100%;"'></app-secured-image>
            </div>
            <div>{{meta.user_name}}</div>
          </div>
          <div class="close" (click)="openDeleteComment(ind)">&times;</div>
        </div>
        <div [innerHTML]="meta.comment">
        </div>
      </div>
    </div>
  </div>

  <!-- Comments Ends -->

</div>
<!-- Folio wrapper ends here -->
