@import "../../../../assets/scss/variables";

.card{
    margin-bottom: 10px;
}
.l-8 {animation-delay: 1.32s;}

.load-8 .line {animation: loadingH 1.5s cubic-bezier(.17,.37,.43,.67) infinite;}

.line {
	display: inline-block;
	width: 50px;
	height: 18px;
	border-radius: 18px;
	background-color: #005fd5;
}

.navig {
  border: 1px solid $border-color;
  background: white; // box-shadow: $card-shadow;
  .col-md-4 {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 120px 100px;
    padding: 20px 20px 20px 140px;
    .feed-avatar {
      margin-right: 20px;
    }
  }
  .col-md-7 {
    padding-top: 10px;
  }
}

.list-group {
  background: transparent;
}

.list-group-item {
  border: none;
  background: transparent;
  padding: 0;
  margin:0;

}

.group-img {
  padding: 0 !important;
}

.material-icons{
  font-size: 25px;
  padding-left: 12px;
  color: white;
  line-height: 35px;
}
.date{
  font-size: 24px;
  margin-top: -5px;
  border: 1px solid white;
  padding: 5px;
}
.event-title{
  color: white;
  font-weight: 400;
}

.overview-post{
  color: $dark-text !important;
}

.overview-event{
  background-color: $brand-primary;
//  border-left:4px solid !important;
}
.overview-task{
//  border-left:4px solid !important;
color: $dark-text !important;
}

.text-white{
  color: white;
  //line-height: 35px;
}

.text-muted{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #9B9B9B;
}

.card-tile{
  padding: 0;
  margin: 0px 2px 0px 2px;
  .media-body{
    padding: 10px;
  }
  &:hover{
      background: #F1F1F3;
      cursor: pointer;
    }

    p{
      font-size: 14px !important;
      color: #9B9B9B;
    }
}

.card-tile-event{
  border-radius: 4px 4px 4px 4px;
  margin: 2px;
  .media-body{
    padding: 10px;
  }
  p{
    font-size: 14px !important;
  }
}

.title-overview{
  font-size: 16px;
  font-weight: 700 !important;
  margin:15px 0;
}

.box{
  display: flex;
  height: 35px;
  flex-direction: row;
}

.box-child{
 margin-right: 15px;
}

.feed-avatar{ //avatar image for in-feed display
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin:5px 10px;
}

.calendar-glyph{
  width: 130px;
}

.overview-item{
  width: auto;
  font-size: 16px;
  padding-left: 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #242D3A;
}

.overview-item2{
  width: auto;
  font-size: 14px;
  line-height: 35px;
  padding: 0 5px;
  p{
    font-size: 14px !important;
    span{
      p{
        font-size: 14px !important;
      }
    }
  }
}

.avtar-name-child{
  width: 80px;
  border-right: 10px solid transparent;
}

.small-blue-text{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #4A90E2;
}

.small{
  font-size: 12px;
}

.timestamp{
  font-size: 11px !important;
}
.mb-2{
  margin-bottom: 0rem !important;
  margin-top: 0rem !important;
}

.flex{
  display: flex;
}

a{
  text-decoration: none !important;
}

.chevron-right {
  position: absolute;
  left: 25%;
  right: 9.46%;
  top: -37%;
  bottom: 24.44%;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #9B9B9B;
}

.arrow-forward {
  display: flex;
  align-items: center;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #9B9B9B;
  margin-left: 90px;
  padding-top: 5px;
  padding-top: 5px;
}

.todo-bar {
  width: 25%;
  background-color: $pumpkin-orange !important;
}

.working-bar {
  width: 64%;
  background-color: $turquoise !important;
}

.done-bar {
  width: 100%;
  background-color: $dark-sky-blue !important;
}

.small-bar {
  height: 8px;
  margin-top: 0.5rem !important;
  width: 48px;
}

.title-nowrap {
  width: 55%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}


.group-nowrap {
  width: 175%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
