// Define Variables
$box-shadow:0 4px 24px 0 rgba(37,38,94,.1);
$border-color:#E4EDF8;

.task {
    display: flex;
    padding: 8px 15px;
    background: white;
    border: 1px solid $border-color;
    border-radius: 4px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: color .2s ease;
    background: rgba(white, 1.0);
    text-transform: capitalize;
    box-shadow: $box-shadow;
    justify-content: space-between;
   
}

input{
    margin:10px 0;
   
    margin-left: auto;
    margin-right: auto;
}

.task:hover{
    color: #fff;
    background: #4a90e2;
  }

  .add-task{
    margin-bottom: 5%;
    .container{
        display: flex;
        justify-content: space-around;
        button{
            margin-left: auto;
            margin-right: auto;
        }
    }
}