<nav class="navbar navbar-expand-md fixed-top" style="min-height: 86px;">

    <img src="assets/images/logo.svg" alt="">

    <!-- Go Back starts -->
    <span *ngIf="!this.readOnly" class="navbar-brand ml-5 mr-5" matTooltip="Go Back to Files" matTooltipPosition="below"
        (click)="goBackToFiles()"appDebounceClick>
        <i class="material-icons">
            arrow_back
        </i>
    </span>
    <!-- Go Back ends -->

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-4">
            <li class="nav-item active" *ngIf="file">
              <!-- Folio Static Title starts -->
              <span>{{ file?.original_name }}</span>
              <!-- Folio Static Title ends -->
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
