.box {
  position: relative;
  display: flex;
  text-align: center;
  margin: 30px 10px 10px 10px;
  height: 120px;
  min-height: 120px;
  line-height: 16px;
  width: 142px;

  .user-image {
    margin-top: -25px;
    left: 30%;
    position: absolute;
  }

  .box-content {
    background: #FFFFFF;
    border: 1px solid #E4EDF8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    padding: 35px 10px 10px 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .position {
    margin-top: 10px;
    width: 100%;
  }

  .no-actions-badge {
    position: absolute;
    bottom: -10px;
    left: 57px;
    display: block;
    font-weight: 700!important;
    font-size: 12px;
    border-radius: 15px;
    padding: 2px 10px !important;
    cursor: pointer;
  }

  .actions {
    position: absolute;
    bottom: -15px;
    left: 43px;
  }

  .badge {
    display: block;
    font-weight: 700!important;
    font-size: 12px;
    border-radius: 15px;
    padding: 2px 10px !important;
  }

  .selected {
    font-weight: 700 !important;
    color: #000000;
    background-color: #005FD5;
  }

  .no-selected {
    font-weight: 300 !important;
    background-color: #E4EDF8;
    color: #000000;
  }
}

.mat-menu-item {
  display: inline !important;
  line-height: 25px !important;
  padding: 0 !important;
  margin: 20px;
}

.mat-menu-panel {
  max-width: none !important;
  min-height: none !important;
}

.actions-list {
  max-width: none !important;

  .actions {
    padding: 10px !important;
  }
}
