.box {
  position: relative;
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #E4EDF8;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  margin: 30px 10px 10px 10px;
  height: 100px;
  min-height: 100px;
  line-height: 0px;
  width: 142px;

  .user-image {
    margin-top: -30px;
    margin-bottom: 10px;
  }

  .position {
    position: absolute;
    margin-top: 30px;
    width: 85%;
  }

  .actions {
    position: absolute;
    bottom: -15px;
    left: 43px;
    cursor: pointer;
  }

  .badge {
    display: block;
    font-weight: 700!important;
    font-size: 12px;
    border-radius: 15px;
    padding: 2px 10px !important;
  }

  .selected {
    font-weight: 700 !important;
    color: #000000;
    background-color: #005FD5;
  }

  .no-selected {
    font-weight: 300 !important;
    background-color: #E4EDF8;
    color: #000000;
  }
}
