.container-fluid {
  margin: 0 10px;
}

.page-navbar {
  width: 20%;
  min-width: 250px;
  display: flex;
  margin-right: 32px;
  font-family: 'Nunito' !important;


  .file-input {
    display: none;
  }

  input {
    // display: none;
    margin-left: auto;
    margin-right: auto;
  }

  .add-page{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .btn-block {
    width: 70%;
  }

  .btn-block:hover {
    color: #fff;
    background: #4a90e2;
  }
}

.page {
  margin: 10px;
  width: 100%;
  display: flex;
}

  .page-content {
   width: 80%;

   .editbar{
    width: 100%;
    text-align: right;
   }

    .page-body {
      background: #FFFFFF;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
      border-radius: 8px;
      padding: 20px;
    }

    .comments {
      margin: 0 auto;
      width: 100%;
      padding-top: 10px;
    }
  }

  