.container {
  margin: 0 10px;
}

.collection-pages {
  width: 20%;
  float: left;
  margin-right: 20px;

  input {
    display: none;
  }
}

.page {
  margin: 10px;
  background: #fff;

  .media-body {
    align-items: left;
    margin: 0 240px;
    width: 93%;
  }

  .page-content {

    .page-body {
      background: #FFFFFF;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
      border-radius: 8px;
      padding: 20px;
    }

    .comments {
      margin: 0 auto;
      width: 100%;
      padding-top: 10px;
    }
  }
}