.scale-button{
    background-color: cornflowerblue;
    width: 60px;
    margin: 2px;
    height: 50px;
    border: none;
    font-size: 20px;
    color: #ffffff;
}
.answer-container{
    width: 100%;
    height: 100%;
    padding: 30px;
    text-align: center;
}
.question-answer-container {
    margin-top: 10%;
    margin-left: 20%;
}

.input-answer {
    width: auto;
    height: 38px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    border: none;
    background-color: #f3f4f6;
    border-bottom: 1px solid #000000;
}

.image-wrapper-container{
    width: 100%;
    height: 100%;
    position: absolute;
    background: 100% auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome-img{
    margin: 30px auto;
    width: 360px;
    height: auto;
}
