<div *ngIf="activeQuestion?.type != 'LastScreen'">
    <!-- Action buttons-->
    <div class="action-header">

      <!--
      <mat-progress-bar
          color="primary"
          mode="determinate"
          [value]="progressValue">
      </mat-progress-bar>
      -->
      <app-progress-bar [value]="progressValue"></app-progress-bar>

      <br/><br/>

      <div class="btn-group">
        <button *ngIf="activeQuestionIndex > 0" class="btn btn-light" (click)="previousQuestion()">
          <span class="material-icons">
            chevron_left
          </span>
          <span i18n="@@flamingoAnswer.previous">Previous</span>
        </button>

        <button *ngIf="(activeQuestionIndex > 0 || (activeQuestion?.type != 'Welcome' && activeQuestion?.type != 'Thanks')) && activeQuestionIndex < questions?.length-2" class="btn btn-light"
            [disabled]="disableNext" (click)="nextQuestion()">
          <span i18n="@@flamingoAnswer.next">Next</span>
          <span class="material-icons">chevron_right</span>
        </button>

        <button *ngIf="activeQuestionIndex == questions?.length-2" class="btn btn-success"
            [disabled]="disableNext" (click)="submitAnswers()" i18n="@@flamingoAnswer.submit">
          Submit
        </button>

        <button *ngIf="activeQuestion?.type==='Welcome' && activeQuestionIndex == 0"
            class="btn btn-primary" (click)="nextQuestion()" i18n="@@flamingoAnswer.start">
          Start
        </button>
      </div>
    </div>

    <!-- container for welcome and thanks question type end-->
    <div *ngIf="activeQuestion?.type == 'Welcome' || activeQuestion?.type == 'Thanks'"
      class="answer-container" style="background-color: {{activeQuestion?.background_color}};  color: {{activeQuestion?.text_color}}">
        <app-secured-image *ngIf="activeQuestion?.image_url" [workspaceId]="flamingo?._file?._group?._workspace?._id || flamingo?._file?._group?._workspace"
            [imgURL]="activeQuestion?.image_url" [noAuth]="true"
            [service]="'flamingo'" [styleClass]="'welcome-img'"></app-secured-image>

        <h2 style="color: {{activeQuestion?.text_color}}">{{activeQuestion?.text}}</h2>

        <!-- question secondary text-->
        <span>{{ activeQuestion?.secondary_text }}</span>
    </div>

    <!-- container for all other question except welcome and thanks question type start-->
    <!-- background image div -->
    <div *ngIf="activeQuestion?.type !=='Welcome' && activeQuestion?.type!=='Thanks'"
        style="background-color: {{activeQuestion?.background_color}}; background-image: url({{FLAMINGO_UPLOADS}}/{{ (flamingo?._file?._group?._workspace?._id || flamingo?._file?._group?._workspace) }}/{{activeQuestion?.image_url}}?noAuth=true); color: {{activeQuestion?.text_color}}"
        class="image-wrapper-container">

        <div class="question-answer-container">

            <!-- question text -->
            <h2 style="color: {{activeQuestion?.text_color}}">{{activeQuestion?.text}}</h2>
            <div *ngIf="activeQuestion?.mandatory" class="mandatory-text" i18n="@@flamingoAnswer.questionMandatory">* This question is mandatory</div>

            <!-- question secondary text-->
            <span>{{ activeQuestion?.secondary_text }}</span>

            <!-- ShortText text input field -->
            <input style="margin-top: 50px;" *ngIf="activeQuestion?.type==='ShortText'" placeholder="Type your answer here..."
                class="input-answer" [(ngModel)]="activeQuestion.answer"
                (keyup)="enableNextButton($event.target.value)"
                (change)="answerQuestion($event.target.value); $event.stopPropagation()" />

            <!-- LongText text input field -->
            <textarea style="margin-top: 50px;" *ngIf="activeQuestion?.type==='LongText'" placeholder="Type your answer here..."
                class="textarea-answer" [(ngModel)]="activeQuestion.answer"
                (keyup)="enableNextButton($event.target.value)"
                (change)="answerQuestion($event.target.value); $event.stopPropagation()">
            </textarea>

            <!-- yes/no buttons -->
            <div style="margin-top: 50px;" *ngIf="activeQuestion?.type==='Yes/No'">
                <button class="btn btn-success" (click)="answerQuestion('positive'); $event.stopPropagation()">{{activeQuestion?.positive_option_text || 'Positive'}}</button>
                <br />
                <br />
                <button class="btn btn-danger" (click)="answerQuestion('negative'); $event.stopPropagation()">{{activeQuestion?.negative_option_text || 'Negative'}}</button>
            </div>

            <!-- scale question scale and scale labels-->
            <div style="margin-top: 50px;" *ngIf="activeQuestion?.type==='Scale'">
                <button *ngIf="activeQuestion?.scale?.size > 0" class="scale-button btn" (click)="answerQuestion(0); $event.stopPropagation()">0</button>
                <button *ngIf="activeQuestion?.scale?.size > 1" class="scale-button btn" (click)="answerQuestion(1); $event.stopPropagation()">1</button>
                <button *ngIf="activeQuestion?.scale?.size > 2" class="scale-button btn" (click)="answerQuestion(2); $event.stopPropagation()">2</button>
                <button *ngIf="activeQuestion?.scale?.size > 3" class="scale-button btn" (click)="answerQuestion(3); $event.stopPropagation()">3</button>
                <button *ngIf="activeQuestion?.scale?.size > 4" class="scale-button btn" (click)="answerQuestion(4); $event.stopPropagation()">4</button>
                <button *ngIf="activeQuestion?.scale?.size > 5" class="scale-button btn" (click)="answerQuestion(5); $event.stopPropagation()">5</button>
                <button *ngIf="activeQuestion?.scale?.size > 6" class="scale-button btn" (click)="answerQuestion(6); $event.stopPropagation()">6</button>
                <button *ngIf="activeQuestion?.scale?.size > 7" class="scale-button btn" (click)="answerQuestion(7); $event.stopPropagation()">7</button>
                <button *ngIf="activeQuestion?.scale?.size > 8" class="scale-button btn" (click)="answerQuestion(8); $event.stopPropagation()">8</button>
                <button *ngIf="activeQuestion?.scale?.size > 9" class="scale-button btn" (click)="answerQuestion(9); $event.stopPropagation()">9</button>
                <button *ngIf="activeQuestion?.scale?.size > 10" class="scale-button btn" (click)="answerQuestion(10); $event.stopPropagation()">10</button>

                <div *ngIf="activeQuestion.show_scale_labels" [ngStyle]="{'position':'relative','width': (activeQuestion.scale.size * 63)+'px'}">
                    <p style="left: 0px;position: absolute;">{{activeQuestion?.scale?.left_side_label}}</p>
                    <p style="left: 46%;position: absolute;">{{activeQuestion?.scale?.center_label}}</p>
                    <p style="right: 0px;position: absolute;">{{activeQuestion?.scale?.right_side_label}}</p>
                </div>
            </div>

            <!-- dropdown question dropdown -->
            <br *ngIf="activeQuestion?.type === 'Dropdown' || activeQuestion?.type === 'Multiple'"/>
            <mat-form-field appearance="fill" *ngIf="activeQuestion?.type === 'Dropdown'">
                <mat-select
                    (selectionChange)="answerQuestion($event.value); $event.stopPropagation()"
                    (closed)="nextQuestion()"
                    [(value)]="activeQuestion.answer">
                  <mat-option *ngFor="let currentOption of activeQuestion?.options; let j=index; trackBy: utilityService.trackByIndex" [value]="currentOption">{{ currentOption }}</mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="activeQuestion?.type === 'Multiple'">
              <mat-select multiple
                  (selectionChange)="answerQuestion($event.value); $event.stopPropagation()"
                  (closed)="nextQuestion()"
                  [(value)]="activeQuestion.answer_multiple">
                <mat-option *ngFor="let currentOption of activeQuestion?.options; trackBy: utilityService.trackByIndex" [value]="currentOption">{{ currentOption }}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
    </div>
    <!-- container for all other question except welcome and thanks question type end-->
</div>

<!-- Last page, only for Thanking for submitting a flamingo to octonius -->
<div *ngIf="activeQuestion?.type == 'LastScreen'" class="answer-container">
  <div class="row">

    <div class="col">
      <img src='assets/images/placeholder_flamingo_answer.png' class="placeholder-img">
      <p class="muted text-center" i18n="@@flamingoAnswer.thankYouForSubmitting">Thank you! You can close this window now. </p>
    </div>
  </div>
</div>
