.scale-button{
    background-color: #005fd5;
    width: 60px;
    margin: 2px;
    height: 50px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    border-radius: 4px;
    &:hover{
        background-color: #fff;
        color: #005fd5;
        border: 1px solid #005fd5;
    }
    &:active{
        background-color: #fff;
        color: #005fd5;
        border: 1px solid #005fd5;
    }
}

.action-header{
    background-color: transparent;
    width: 100%;
    padding: 30px;
    text-align: center;
    position: absolute;
    z-index: 100;
    bottom: 0;
}

.answer-container{
    width: 100%;
    height: 100vh;
    padding: 30px;
    text-align: center;
    margin: 0px auto;
}
.question-answer-container {
    margin: 200px auto;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.1);
    width: 60%;
}


.input-answer {
    width: 100%;
    height: 38px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    border: none;
    border-bottom: 1px solid #242d3a;
    background-color: transparent;
}

.image-wrapper-container{
    width: 100%;
    height: 100%;
    position: absolute;
    background: 100% auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome-img{
    margin: 30px auto;
    width: 50%;
    height: auto;
}

.mandatory-text {
  color: #000000;
}

