<div class="card-tile workspace-signupmode">

    <h6>Workplace signup mode</h6>
    <hr />
    <p>Choose to make your workplace sign up process either via invitation only, or allow anyone else with a certain email
        address domain to sign up.<br /> 
        (ex - if you specify example.com, then users having email address with domain as example.com, can sign up!)</p>
    <div class="form-group">
        <label for="domain">Using this workplace name(as "<b>{{ workspaceData?.workspace_name }}</b>"), any email adress from these domain can signup:</label>
        <input type="text" class="form-control" name="domain">
    </div>
    <button class="btn btn-primary">Add this Domain</button>

</div>

<div class="card-tile invite-users">
    <h4>Allowed Domains</h4>
    <p>List of all allowed domains from where user can sign up to this workplace.</p>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <b></b>
            </div>
            <div class="col-md-6">
                <button class="btn btn-danger btn-sm">Remove Domain</button>
            </div>
        </div>
        <br />

    </div>
</div>