@import "src/assets/scss/variables";

a{
    text-decoration: none !important;
    color: inherit;
}

img{
    display:block;
    width: 100%;
}

.smart-card {
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 3px 0 #005fd521;
  min-height: 260px;
  height: 100%;
}

.card-content {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card-box {
    display: inline-block;
    width: 50%;
  }
}

.card-content {
  &::-webkit-scrollbar {
    display: none;
  }
}

.table-wrapper {
  overflow-y: auto;

  .member {
    display: inline-flex;

    .name {
      line-height: 20px;
      margin-top: 12px;
    }
  }

  .tasks-list {
    ul {
      list-style-type: none;
      margin-left: -40px;
      margin-top: 10px;

      li {
        display: inline;
      }
    }
  }
}

table {
  position: relative;
  border-collapse: collapse;
}

td, th {
  white-space: nowrap;
  border: $border-gray;
  padding: 5px 10px;
  text-align: left;
  width: 130px;
}

th {
  border-top: none;
  position: sticky;
  top: -1px;
  z-index: 2;
  text-align: center;
  padding: 0px;
  font-weight: 400;

  &:first-of-type {
    border-left: none;
    left: 0;
    z-index: 3;

    opacity: 1;
    background-color: #FFFFFF;
  }
}

tbody tr td:first-of-type {
  border-left: none;
  position: sticky;
  left: -1px;
  text-align: left;
  width: 150px;
  padding: 0px;

  opacity: 1;
  background-color: #FFFFFF;
}
