<div class="container-fluid h-100">

    <div class="row h-100">

        <!-- OCTONIUS BRANDING PANEL STARTS -->
        <app-branding-panel [routerState]="routerState" class="col-md-8 overlay welcome"></app-branding-panel>
        <!-- OCTONIUS BRANDING PANEL ENDS -->

        <!-- FORM STARTS -->
        <div class="col-md-4">
            <app-auth-user-details [routerState]="routerState" [userWorkspaces]="userWorkspaces"></app-auth-user-details>
        </div>
        <!-- FORM ENDS -->

    </div>
</div>
