<div class="container-fluid h-100">

  <div class="row h-100">
    <div class="col-md-8 welcome overlay" style="background-image:url(https://picsum.photos/1920/1200/?random&gravity=south )">

    <div class="content">
      <h1 class="white">
        <i class="icon-octo-logo white"></i>Octonius</h1>
      <h1 class="slim white">
        Your smart workplace. <br>
Single source of truth for your team.
      </h1>
      <div style="margin-top:30px">
        <h3 class="white">Continue your work</h3>
        <button type="submit" class="btn btn-outline-light" routerLink="/signin">Sign in</button>
      </div>

    </div>
    </div>
    <div class="col-md-4">

      <div style="padding:100px 30px">

        <h3 class="text-center">
          First time here? <br> Let's get you started! <br><br>
        </h3>
        <div class="text-center">
          <button type="button" class="btn btn-primary" routerLink="/signup" style="margin-right: 5px">Join your workplace</button>

          <button type="button" class="btn btn-outline-primary" routerLink="/create-new-Workspace-page1">Create new workplace
          </button>



        </div>


      </div>
    </div>
  </div>

</div>
