<div class="wrap">
  <div class="btn-group nav-item " placement="bottom-right"  ngbDropdown  #notificationDrop="ngbDropdown" (openChange)="toggled($event)" display = "dynamic">
    <a class="notifications btn dropdown-toggle-split" ngbDropdownToggle>
      <div class="notif-bullet" *ngIf="this.notifications_data?.unreadNotifications.length > 0"></div>
      <div class="notif-bullet notif-bullet-transparent" *ngIf="this.notifications_data?.unreadNotifications.length == 0"></div>
      <i class="material-icons">notifications</i>
    </a>

    <div class="dropdown-menu dropdown-menu-right pull-right"  ngbDropdownMenu aria-labelledby="notificationDrop">
      <div class="triangle"></div>
      <button class="dropdown-item" style="pointer-events: none;"><b>Notifications</b></button>
      <div class="dropdown-divider"></div>
      <div *ngIf="this.notifications_data?.unreadNotifications?.length != 0">
        <button class="dropdown-item" *ngFor="let notifications of this.notifications_data?.unreadNotifications">
          <a style="text-decoration:none; color:inherit;"  (click)="gotToPostPage(notifications?._origin_post?._group, notifications?._origin_post?._id)">
            <img src="{{this.BASE_URL}}/uploads/{{notifications?._actor?.profile_pic}}" onerror="this.src='/assets/images/user.png'" alt="" class="topnav-avatar" style="margin-right:15px">
            {{notifications?._actor?.first_name}} {{notifications?.message}}
          </a>
          <br />
          <span class="muted text-small float-right">{{notifications?.created_date | timeAgo}}</span>
        </button>
      </div>
      <div *ngIf="this.notifications_data?.unreadNotifications?.length == 0">
        <button class="dropdown-item">All up to date</button>
      </div>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item" style="pointer-events: none;"><b>Older notifications</b></button>
      <div class="dropdown-divider"></div>
      <div *ngIf="this.notifications_data?.readNotifications?.length != 0">
        <button
          (click)="gotToPostPage(notifications?._origin_post?._group, notifications?._origin_post?._id)" class="dropdown-item"
          *ngFor="let notifications of this.notifications_data?.readNotifications">
          <a style="text-decoration:none; color:inherit;">
            <img src="{{this.BASE_URL}}/uploads/{{notifications?._actor?.profile_pic}}" onerror="this.src='/assets/images/user.png'" alt=""
                 class="topnav-avatar" routerLink="/dashboard/profile/profile" style="margin-right:15px">
            {{notifications?._actor?.first_name}} {{notifications?.message}}
          </a>
          <br />
          <span class="muted text-small float-right">{{notifications?.created_date | timeAgo}}</span>
        </button>
      </div>

      <div *ngIf="this.notifications_data?.readNotifications?.length == 0">
        <button class="dropdown-item">Nothing new as of now.</button>
      </div>


      <div class="dropdown-divider"></div>
      <a routerLink="/dashboard/overview" class="dropdown-item">View all notifications</a>
    </div>


  </div>
</div>
