@import "../../../../../assets/scss/variables.scss";

.active {
  text-decoration: none;
}
a:active{
  text-decoration: none;
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #787878;
  top: -8px;
  right: 3%;
  margin-left: -8px;
}

.notif-bullet-transparent {

  color: transparent;
  background: transparent;

}

a.notifications.btn.dropdown-toggle-split.dropdown-toggle::after
{
  color: transparent;
}
.text-small{
  font-size: 10px;
}


