<div class="container">
    <div class="card-tile">
        <div class="card-block">

            <!-- Template Heading starts -->
            <h6 class="card-title"><b>Add new member to your group</b></h6>
            <!-- Template Heading ends -->

            <!-- Search member component starts -->
            <app-component-search-input-box *ngIf="userData && checkDataExist(userData)" 
                [placeholder]="'Type here to search here with email, first name or last name and add a new member to your group'"
                [groupId]="groupId"
                [workspaceId]="userData._workspace"
                [userData]="userData" 
                [type]="'group'"
                (member)="addNewUser($event)">
            </app-component-search-input-box>
            <!-- Search member component ends -->

            <hr />

        </div>
    </div>
</div>