<div class="container-fluid h-100">
   <div class="row h-100">

      <!-- OCTONIUS LEFT BRANDING PANEL STARTS -->
      <app-branding-panel [routerState]="'home'" class="col-md-8 overlay welcome"></app-branding-panel>
      <!-- OCTONIUS LEFT BRANDING PANEL ENDS -->

      <!-- HOME PANEL STARTS -->
      <div class="col-md-4">
         <div style="padding:100px 30px">
            <h3 class="text-center">
               First time here? <br> Let's get you started! <br><br>
            </h3>
            <div class="text-center">
               <button type="button" class="btn btn-primary btn-block" [routerLink]="['/authentication', 'signup']">
                  Join your workplace</button>
               <button type="button" class="btn btn-outline-primary btn-block"
               [routerLink]="['/authentication', 'new-workplace']">
               Create new workplace</button>
            </div>
         </div>
      </div>
      <!-- HOME PANEL ENDS -->

   </div>
</div>