<div class="btn-group">
    <!-- Time Picker Toggle starts -->
    <button class="btn btn-outline-primary dropdown-toggle" 
        type="button" 
        data-toggle="dropdown" 
        aria-haspopup="true"
        aria-expanded="false">
        <span class="material-icons">
            alarm
        </span>
    </button>
    <!-- Time Toggler ends -->

    <!-- Input Placeholder for date picker starts -->
    <div class="dropdown-menu">
        <div class="time-picker" (click)="$event.stopPropagation()">
            <ngb-timepicker 
                [ngModel]="timeModal" 
                [meridian]="meridian" 
                (ngModelChange)="emitTime($event)">
            </ngb-timepicker>
        </div>
    </div>
    <!-- Input Placeholder for date picker ends -->
</div>