<div class="smart-card" style="padding: 10px;">
  <div class="row" style="margin: 0 0 20px; justify-content: space-between;">
    <div class="card-title mt-1">
      {{ customField?.title }}
    </div>
    <div>
      <span class="material-icons-outlined">auto_awesome</span>
    </div>
  </div>

  <div class="line">
    <span class="badge in-progress-task mr-1">{{ numInProgressTasks }}</span>
    <span i18n="@@cfStatisticsCard.tasksInProgress">tasks in progress</span>
  </div>

  <div class="line">
    <span class="number text-warning mr-1">{{ statsInProgressTasks }}</span>
    <span i18n="@@cfStatisticsCard.opportunity">opportunity</span>
  </div>
<hr>
  <div class="line">
    <span class="badge done-task mr-1">{{ numInProgressTasks }}</span>
    <span i18n="@@cfStatisticsCard.tasksDone">tasks done</span>
  </div>

  <div class="line">
    <span class="number text-done mr-1">{{ statsDoneTasks }}</span>
    <span i18n="@@cfStatisticsCard.total">total</span>
  </div>
</div>
