<div class="media user-sticky-card">




  <img class="mr-3 feed-avatar" src="assets/images/organization.png">
  <div class="media-body">
    <div>
      <h2>Workspace settings</h2>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/dashboard/admin/general">General
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/dashboard/admin/members">Members
            <span class="sr-only">(current)</span>
          </a>
        </li>

      </ul>
    </div>

  </div>
</div>
