.btn-outline-warning{
  width: 34px;
  height:34px;
  object-fit: cover;
  border-radius: 50%;
  color: #FD7714;
  border: 1px solid #FD7714;
  box-sizing:border-box;
}

.selected{
  width: 34px;
  height: 34px;
  object-fit: cover;
  border-radius: 50%;
  color: #005FD5;
  border: 1px solid #005FD5;
  box-sizing: border-box;
}

.dropdown-toggle::after{
  display:none;
}

.form-control {
  margin-left: 5px;
  margin-right: 5px;
  background: #FFFFFF;
  border: 1px solid #E4EDF8;
  box-sizing: border-box;
  border-radius: 10%;
}

.email {
  font-size: 12px;
}

.dropdown-item {
  margin: 5px;
  padding: 0px;
  width: 300px;
}

.dropdown-divider{
  padding: 1px;
  margin: 1px;
}

.drop1{
  padding: 10px !important;
}
.material-icons{
  padding: 0;
  margin-left: -6px;
  font-size: 24px;
}
.pickuser{
  width: 33px !important;
  height: 33px;
  margin-top: -7px;
  padding: 0;
  margin-left: -12px;
  border-radius: 50%;
}
