.btn-outline-warning{
  width: 50px;
  height:50px;
  object-fit: cover;
  border-radius: 50%;
  color: #FD7714;
  border: 1px solid #FD7714;
  box-sizing:border-box;
}

.selected{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  color: #005FD5;
  border: 1px solid #005FD5;
  box-sizing: border-box;
}

.dropdown-toggle::after{
  display:none;
}

.form-control {
  margin-left: 5px;
  margin-right: 5px;
  background: #FFFFFF;
  border: 1px solid #E4EDF8;
  box-sizing: border-box;
  border-radius: 10%;
}

.email {
  font-size: 12px;
}

.dropdown-item {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
}

.dropdown-divider{
  padding: 1px;
  margin: 1px;
}

