<button type="button" class="btn btn-outline-warning task"
        (click)="openAssignPicker(assignContent)">
  <i class="material-icons">perm_identity</i>
</button>

<!--  Modal to Assign calendar event or task to group memeber -->
<ng-template #assignContent let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Search User</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <angular2-multiselect [data]="groupUsersList" [(ngModel)]="selectedGroupUsers" [settings]="settings"
                          (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                          (onDeSelectAll)="onDeSelectAll($event)">
      <c-search>
        <ng-template>
          <input type="text" (keyup)="onSearch($event)" placeholder="Name, Email, Username or Phone" style="border: none;width: 100%; height: 100%;outline: none;" />
        </ng-template>
      </c-search>
      <c-item>
        <ng-template let-item="item">
          <label style="color: #333;width: 150px;">{{item.full_name }}</label>
          <!--  <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;"/> -->

          <label>{{item.capital}}</label>
        </ng-template>
      </c-item>
    </angular2-multiselect>

  </div>
  <div class="modal-footer">
    <button [disabled]="selectedGroupUsers.length == 0 " class="btn btn-primary mb-2 mr-2" (click)="onUsersSelected();c('Close click')">Done</button>
    <button type="button" class="btn btn-default mb-2 mr-2" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>
