@import "src/assets/scss/variables";

.row {
	margin: 0 !important;
	padding: 20px 0 !important;
}

hr {
	border: 2px solid #FBB732;
	width: 60px;
	float: left;
}

.col-description {
	padding: 40px 0;
}

.form-group {
	background: #fcfcfc;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
	border-radius: 8px;
	padding: 40px 20px 5px 20px;

	.card-title {
		color: #000000;
		font-weight: 700 !important;
		font-size: 20px !important;
		border-bottom: 1px solid #E4EDF8;
		height: 50px;
		line-height: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	input {
		margin-bottom: 20px;
	}
	
	.card-footer {
		height: 50px;
		line-height: 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;

	}
	
	.cancel-button {
		background-color: #FFFFFF;
		color: #5E6268;
		border: 1px solid #5E6268;
	}
	
	.save-button {
		background-color: #FBB732;
		color: #FFFFFF;
	}
}

ul {
	list-style: none;
	margin: 0 0 30px 0;
	padding-left: 0;

	.titles {
		font-weight: 700 !important;
		font-size: 15px !important;
	}

	li {
		display: flex !important;
		padding: 0 0 5px 0;
		margin: 0 0 10px 0;
		border-bottom: 1px solid #e4edf8 !important;

		.name {
			width: 100px;
		}

		.type {
			width: 100px;
		}

		.values {
			width: 200px;
		}

		.actions {
		 	width: 24px;
		}
	}

	li:first-child {
		padding: 0 0 10px 0;
		// margin: 0 0 20px 0;
	}
}

.values {
	text-align: left;
	width: 70%;

	.badge {
		background-color: $dark-sky-blue;
		margin: 1px 1px !important;
		display: inline;
		font-family: Nunito, sans-serif;
		font-style: normal;
		font-weight: 700 !important;
		font-size: 12px;
		align-items: center;
		color: #005fd5;
		background-color: #e4edf8;
		border-radius: 10px;
		padding: 2px 10px !important;
		float: left;
	}

	.newValue {


		.newValueInput {
			margin-left: 20px;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid #e4edf8 !important;
			width: 180px;
		}

		button {
			margin-left: 10px;
			line-height: 19px;
			background-color: $dark-sky-blue;
		}
	}
}

ul.members {
	list-style: none;
	margin: 0 0 30px 0;
	padding-left: 0;

	.titles {
		font-weight: 700 !important;
		font-size: 15px !important;
	}

	li {
		display: flex !important;
		padding: 0 0 5px 0;
		margin: 0 0 10px 0;
		border-bottom: 1px solid #e4edf8 !important;

		.avatar {
			width: 10%;
		}
	
		.name {
			width: 45%;
		}
	
		.email {
			width: 45%;
		}

		.actions {
			width: 24px;
		}
	}

	li:first-child {
		padding: 0 0 10px 0;
		margin: 0 0 20px 0;
	}
}

.benefitslist{
	margin-top: 12px;
}

.color-separator{
  width: 100px;
  height: 5px;
  border-bottom: 3px solid #ffab00;
}