@import "src/assets/scss/variables";
@import "src/assets/scss/tasks";

a {
    text-decoration: none !important;
    color: inherit;
}

img {
    display:block;
    width: 100%;
}

.smart-card {
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 3px 0 #005fd521;
  min-height: 260px;
  height: 100%;
}



.card-first-column {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.card-icon {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 10px;
}

.card-content {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card-box {
    display: inline-block;
    width: 50%;
  }
}

.card-content {
  &::-webkit-scrollbar {
    display: none;
  }
}

.workload_card{
  height: 60px;
  padding: 0 5px;
  background: white;
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #E4EDF8;
  box-sizing: border-box;
  margin: 2px auto;
  display: flex;
  align-items: center;
  cursor: pointer;

  justify-content: space-between;
}

.workload_avatar {
  flex: 0 0;
  text-align: center;

  .feed-avatar {
      width: 50px;
      height: 50px;
      margin: 0;
  }
}

.workload_member {
  max-width: 200px;
  flex: 0 1 200px;
  margin-left: -200px;
}
