<div class="smart-card" style="padding: 10px;">
  <div class="row" style="margin: 0 0 20px; justify-content: space-between;">
    <div class="card-title mt-1" i18n="@@membersWorkloadCard.resourceManagement">
      Resource management
    </div>
  </div>

  <div>
    <div class="row text-center mb-3">
      <div class="col-md-1">
      </div>
      <div class="col-md-7">
          <h6>{{ dates[0] | date:'MMM dd' }} - {{ dates[dates?.length - 1] | date:'MMM dd' }}</h6>
      </div>
      <div class="col-md-4">
        <div class="btn btn-default" (click)="changeDates(7, 'sub')">
          <i class="material-icons">navigate_before</i>
        </div>
        <div class="btn btn-default" (click)="changeDates(0, 'today')" i18n="@@membersWorkloadCard.today">
          Today
        </div>
        <div class="btn btn-default" (click)="changeDates(7, 'add')">
          <i class="material-icons">navigate_next</i>
        </div>
      </div>

    </div>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th class="header"> {{ currentMonth }} </th>
            <th *ngFor="let date of dates; trackBy: utilityService.trackByIndex" [ngClass]="{'today': date?.is_current_day,'muted': !date?.is_current_day, 'weekend': date?.is_weekend_day}"> {{ date | date: 'dd' }} </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of groupMembers; trackBy: utilityService.trackByIndex">
            <td>
              <div class="member">
                <div>
                  <app-secured-image
                    [imgURL]="member?.profile_pic"
                    [service]="'user'" [userData]="member"
                    [workspaceId]="(userData?._workspace?._id || userData?._workspace)"
                    [styleClass]="'ml-2 feed-avatar'"
                    (click)="openFullscreenModal(member?._id)"></app-secured-image>
                </div>
                <div class="name">
                  {{ member?.first_name }}  {{ member?.last_name }}
                  <p class="muted"> {{ member?.current_position | truncatetext: 25 }} </p>
                </div>
              </div>
            </td>
            <td *ngFor="let workload of member.workload; trackBy: utilityService.trackByIndex" [ngClass]="workload?.outOfTheOfficeClass">

                 <span class="muted mr-2" i18n="@@membersWorkloadCard.totalTasks"> Total tasks</span>
                 <span class="badge">{{ workload.numTasks }}</span>

                <!-- <div class="allocation" *ngIf="groupData?.resource_management_allocation && groupData?.enable_allocation"> -->
                <div class="time-tracking">
                  <i  class="material-icons">update</i> &nbsp;&nbsp;
                  <span>{{ workload.hours || '0' }}h</span>
                  &nbsp;
                  <span>{{ workload.minutes || '0' }}m</span>
                </div>

                <div class="tasks-list">
                  <ul>
                    <li><span class="badge overdue-task" *ngIf="workload?.date?.is_current_day">{{ workload.overdue_tasks }}</span></li>
                    <li><span class="badge to-do-task">{{ workload.todo_tasks }}</span></li>
                    <li><span class="badge in-progress-task">{{ workload.inprogress_tasks }}</span></li>
                    <li><span class="badge badge-done">{{ workload.numDoneTasks }}</span></li>
                  </ul>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-5" *ngIf="groupMembers.length === 0">
    <img src='assets/images/inbox-tasks-card-empty.svg'>
  </div>

  <!-- LOADING SPINNER STARTS -->
  <ng-container *ngIf="isLoading$ | async">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>
  <!-- LOADING SPINNER ENDS -->
</div>
