<div class="smart-card" style="padding: 10px;">
  <div class="row" style="margin: 0 0 20px; justify-content: space-between;">
    <div class="card-title mt-1">
      Resource management
    </div>
  </div>

  <div>
    <div class="row text-center mb-3">
      <div class="col-md-1">
      </div>
      <div class="col-md-8">
          <h6>{{ dates[0] | date:'MMM dd' }} - {{ dates[dates?.length - 1] | date:'MMM dd' }}</h6>
      </div>
      <div class="col-md-3">
        <div class="btn btn-default" (click)="changeDates(7, 'sub')">
          <i class="material-icons">navigate_before</i>
        </div>
        <div class="btn btn-default" (click)="changeDates(0, 'today')">
          Today
        </div>
        <div class="btn btn-default" (click)="changeDates(7, 'add')">
          <i class="material-icons">navigate_next</i>
        </div>
      </div>

    </div>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th class="header"> {{ currentMonth }} </th>
            <th *ngFor="let date of dates" [ngClass]="{'today': isCurrentDay(date),'muted': !isCurrentDay(date), 'weekend': isWeekend(date)}"> {{ date | date: 'dd' }} </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of groupMembers">
            <td>
              <div class="member">
                <div>
                  <img src="{{ baseUrl }}/{{member?.profile_pic}}" onerror="this.src='assets/images/user.png'"
                    class="feed-avatar ml-2" (click)="openFullscreenModal(member?._id)" />
                </div>
                <div class="name">
                  {{ member?.first_name }}  {{ member?.last_name }}
                  <p class="muted"> {{ member?.current_position | truncatetext: 25 }} </p>
                </div>
              </div>
            </td>
            <td *ngFor="let workload of member.workload" [ngClass]="workload?.outOfTheOfficeClass">
                <i  class="material-icons task-status">task_alt</i> &nbsp;
                <span class="badge badge-done">{{ workload.numDoneTasks }}</span> <span class="muted"> / </span><span class="badge">{{ workload.numTasks }}</span>
                
                <div class="allocation">
                  <i  class="material-icons">update</i> &nbsp;&nbsp;
                  <span>{{ workload.allocation || 0 }}h</span>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-5" *ngIf="groupMembers.length === 0">
    <img src='assets/images/inbox-tasks-card-empty.svg'>
  </div>

  <!-- LOADING SPINNER STARTS -->
  <ng-container *ngIf="isLoading$ | async">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>
  <!-- LOADING SPINNER ENDS -->
</div>
