@import "src/assets/scss/variables";
@import "src/assets/scss/tasks";

a {
    text-decoration: none !important;
    color: inherit;
}

.smart-card {
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 3px 0 #005fd521;
  min-height: 260px;
  height: 100%;
}

.table-wrapper {
  // max-width: 700px;
  // overflow: scroll;

  .member {
    display: inline-flex;

    .name {
      line-height: 20px;
      margin-top: 12px;
    }
  }
}

table {
  position: relative;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

td, th {
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 5px 10px;
  text-align: center;
  width: 130px;
}

th {
  background-color: #eee;
  position: sticky;
  top: -1px;
  z-index: 2;

  &:first-of-type {
    left: 0;
    z-index: 3;
  }
}

tbody tr td:first-of-type {
  background-color: #eee;
  position: sticky;
  left: -1px;
  text-align: left;
  width: 150px;
}

