<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
      <div class="well profile">
        <div class="col-sm-12">

          <div class="col-xs-12 col-sm-8">
            <h2>Nicole Pearson</h2>
            <p>
              <strong>Email: </strong> muhammd@octonius.com.
            </p>
            <p>
              <p>
                <strong>Phone: </strong> 0423412233
              </p>
              <p>
                <strong>Mobile: </strong> 0333131132. </p>
          </div>


          <div class="col-xs-12 col-sm-8">
            <p>
              <strong>current position: </strong> Sales officer </p>
            <p>
              <strong>Joined company: </strong> june 22,2010 </p>

            <p>
              <strong>Bio: </strong> Mark Elliot Zuckerberg is an American computer programmer and Internet entrepreneur. He is a
              co-founder of Facebook and is currently its chairman and chief executive officer. His net worth is estimated
              to be US$62.2 billion as of March 25, 2018. Wikipedia
            </p>

          </div>

          <div class="col-xs-12 col-sm-8">
            <p>
              <strong>Skills: </strong>
              <span class="tags">html5</span>
              <span class="tags">css3</span>
              <span class="tags">jquery</span>
              <span class="tags">bootstrap3</span>
            </p>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
