<div class="container">
  <div class="row main-actvity">

    <div class="col-md-4">
      <div class="row sidecontent">


        <div class="card sideinnercard">

          <div class="card-block">
            <p class="card-text">
              <strong>Email: </strong> muhammd@octonius.com.</p>

            <p class="card-text">
              <strong>Phone: </strong> 0423412233</p>
            <p class="card-text">
              <strong>Mobile: </strong> 0333131132.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">

      <div class="card-tile">


        <p>
          <strong>current position: </strong> Sales officer </p>
        <p>
          <strong>Joined company: </strong> june 22,2010 </p>
        <p>
          <strong>Bio: </strong> Mark Elliot Zuckerberg is an American computer programmer and Internet entrepreneur. He is a co-founder
          of Facebook and is currently its chairman and chief executive officer. His net worth is estimated to be US$62.2
          billion as of March 25, 2018. Wikipedia
        </p>
      </div>
      <div class="card-tile">
        <p>
          <strong>Skills: </strong>
          <span class="tags">html5</span>
          <span class="tags">css3</span>
          <span class="tags">jquery</span>
          <span class="tags">bootstrap3</span>
        </p>
      </div>
    </div>


  </div>

</div>
