<div class="container">
  <div class="row main-actvity">

    <div class="col-md-4">
      <div class="row sidecontent">

        <div class="card sideinnercard">

          <div class="card-block">
            <p class="card-text">
              <strong>Email: </strong> {{user?.email}}</p>

            <p class="card-text">
              <strong>Phone: </strong> {{user?.phone_number}}</p>
            <p class="card-text">
              <strong>Mobile: </strong> {{user?.mobile_number}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-tile">
        <p>
          <strong>Current position: </strong> {{user?.current_position}} </p>
        <p>
          <strong>Joined company: </strong> {{join_date | date}} </p>
        <p>
          <strong>Bio: </strong> {{user?.bio}}
        </p>
      </div>
      <div class="card-tile">
        <p>
          <strong>Skills: </strong>
          <span class="tags" *ngFor="let skill of user?.skills;">{{skill}} </span>
          <button type="button" name="button" style="float:right;" class="btn btn-link" (click)="addSkills()">
            <i class="material-icons">create</i>
          </button>
        </p>
        
      </div>
    </div>
  </div>

</div>
