<span>
    <button class="btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
        <i class="material-icons action">more_horiz</i>
        <span class="caret"></span>
    </button>

    <!-- Menu Drawer Starts -->
    <ul class="dropdown-menu">
        <li class="dropdown-item">
            <span>View</span>
        </li>
        <li class="dropdown-item" (click)="openEditPostModal(content)">
            <span>Edit</span>
        </li>
        <li class="dropdown-item" (click)="copyToClipboard(post)">
            <span>Copy Link</span>
        </li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item" (click)="deletePost()">
         <span>Delete</span>
        </li>
    </ul>
    <!-- Menu Drawer Ends -->

</span>

<ng-template #content let-modal>
    <app-post-edit></app-post-edit>
</ng-template>