.budget-dialog-content {
  // background-color: #F3F4F6;
  width: 100%;
  padding-bottom: 1px;
  .bold{
    font-weight: 700 !important;
  }
  .b
  .action-box {
    color: #969A9E;
    background: #FFFFFF;
    border: 1px solid #E4EDF8;
    border-radius: 5px;
    padding: 5px;
  }

  .modal-header {
      border: none;
  }

  .content-box {
      background: #FFFFFF;
      border: 1px solid #E4EDF8;
      border-radius: 10px;
      margin-bottom: 10px;
      padding: 12px;

      .modal-title {
          width: 100%;
      }
  }

  .budget-content {
    width: 95%;
    padding: 20px;
  }

  .budget-properties {
    width: 95%;
    padding: 20px;

    .budget-details {
      float: left;
      margin-top: 24px;
      margin-bottom: 24px;
      padding-bottom: 24px;
      width: 470px;
    }

    .budget_graph {
      float: right;
    }
  }

  .expense {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
  }
}

.budget-box {
  font-family: Nunito;
  background:#FFFFFF;
  box-shadow: 0px 8px 10px #00000040;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px;

  .box-title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 10px;
  }

  p {
    font-size: 13px;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
  mat-select {
    // background-color: #FFFFFF;
    border-radius: 4px;
    padding: 5px;
    margin-left: 10px;
    vertical-align: middle;
    color: #969A9E;
    margin-top: -10px;
    width: 90%;
  }

  input {
    border: none;
  }

  .open_update_progress {
    cursor: pointer;
    text-decoration: underline;
    margin: 20px 0 0 0 !important;
    width: 115px;
  }

  .save {
    cursor: pointer;
    text-decoration: underline;
    margin: 30px auto !important;
    width: 35px;
    display: block;
    font-weight: 700;
  }

  .cancel {
    cursor: pointer;
    margin: 30px auto !important;
    width: 35px;
    display: block;
    font-weight: 700;
    color: #ec1010;
  }

  .update_progress {
    margin: 25px 10px;

    mat-form-field {
      width: 130px;
    }
  }
}

.over-budget {
  background-color: #F67B99 !important;
}

.under-budget {
  background-color: #2AA578 !important;
}

.action-box {
  color: #969A9E;
  background: #FFFFFF;
  border: 1px solid #E4EDF8;
  border-radius: 5px;
  padding: 5px;
}

.new-record-form {
  margin: 20px;

  .actions {
    margin: 20px 0;
    clear: both;
  }
}

.list-records {
  margin-top: 50px;
}

.flexform {
  display: flex;
  width: 100%;
  padding:12px;
  align-items: center;

  .calendar {
    width: 210px;
    padding: 6px;
  }

  .planned_budget {
    border: 1px solid #ced4da;
    border-radius: 4px;
    background: #ffffff;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .currency_select {
    border: 1px solid #ced4da;
    border-radius: 4px;
    background: #ffffff;
    height: 40px;
    display: flex;
  }

  .user {
    width: auto;

  }
}

.badget-badge {
  border-radius: 10px;
  padding: 2px 10px !important;
  text-align: center;
  background-color: #005FD5;
  margin: 0 10px;
  color: #fff;
}


.badge_on_track {
  background-color: #26A69A;
  color: #F3F4F6;
}

.badge_in_danger {
  background-color: #EB5757;
  color: #F3F4F6;
}

.on_track {
  color: #26A69A;
}

.in_danger {
  color: #FF6584;
}
