.budget-dialog-content {
  // padding: 10px;
  background-color: #F3F4F6;
  // height: 95%;
  width: 100%;
  padding-bottom: 1px;

  .action-box {
    color: #969A9E;
    background: #FFFFFF;
    border: 1px solid #E4EDF8;
    border-radius: 5px;
    padding: 5px;
  }

  .modal-header {
      border: none;
  }

  .content-box {
      background: #FFFFFF;
      border: 1px solid #E4EDF8;
      border-radius: 10px;
      margin-bottom: 10px;
      padding: 12px;

      .modal-title {
          width: 100%;
      }
  }

  .budget-content {
    width: 70%;
    float: left;
    margin-top: -21px;
    padding: 0px 20px;
  }

  .budget-properties {
      width: 25%;
      margin-left: 71%;
      margin-top: -45px;
  }

  .expense {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
  }
}

.budget-box {
  font-family: Nunito;
  background:linear-gradient(90.01deg, #17B2E3 0.01%, #17B2E390 99.99%);
  background-size:cover;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  color: #F3F4F6;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px;

  .box-title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 10px;
    color: #F3F4F6;
  }

  p {
    font-size: 13px;
  }

  .focus {
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;

    .title {
      font-weight: 700;
    }

    p {
      margin: 15px 0 !important;
    }

    .update {
      font-size: 15px;
      cursor: pointer;
    }

    .target_value {
      font-weight: bold;
      font-size: 30px;
      line-height: 23px;
      span{
        font-size: 15px;
        font-weight: 400;
      }
    }

    .status {
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;

    }

    .value {
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      align-items: center;
      background-color: #e4edf8;
      color: #5E2FE5;
      border-radius: 20px;
      padding: 3px 8px;
      width: fit-content;
      margin: 25px 0 !important;
      span{
        font-size: 15px;
        font-weight: 400;
      }
    }
  }

  mat-select {
      background-color: #F3F4F6;
      border-radius: 4px;
      padding: 5px;
      margin-left: 10px;
      vertical-align: middle;
      color: #969A9E;
  }

  input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #F3F4F6 thin;
    background: transparent;
    color: #F3F4F6;
    margin-left: 0px;
  }



  input.target {
    margin-bottom: 20px;
    width:100%;
    // margin-left: 70px;
  }

  .open_update_progress {
    cursor: pointer;
    text-decoration: underline;
    margin: 20px 0 0 0 !important;
    width: 115px;
  }

  .save {
    cursor: pointer;
    text-decoration: underline;
    margin: 30px auto !important;
    width: 35px;
    display: block;
    font-weight: 700;
  }

  .cancel {
    cursor: pointer;
    margin: 30px auto !important;
    width: 35px;
    display: block;
    font-weight: 700;
    color: #ec1010;
  }

  .update_progress {
    margin: 25px 10px;

    mat-form-field {
      width: 130px;
    }
  }
}

.over-budget {
  background-color: #ff0000;
}

.under-budget {
  background-color: green;
}
