<div class="notifications">
<mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedTab">
  <mat-tab>
    <ng-template mat-tab-label>
      <span *ngIf="notificationsData.unreadNotifications.length > 0"
        [matBadge]="notificationsData.unreadNotifications.length"
        matBadgeOverlap="false" matBadgeColor="warn"
        i18n="@@recentActivity.recentActivities">Recent activities</span>
      <span *ngIf="notificationsData.unreadNotifications.length == 0"
        i18n="@@recentActivity.recentActivities">Recent activities</span>
    </ng-template>

    <!-- Empty State starts -->
    <div *ngIf="notificationsData.unreadNotifications.length === 0 && !(isLoading$ | async)" style="text-align: center; margin-top: 30px;">
      <img src='assets/images/placeholder_recent_activity.png' class="placeholder-img">
      <p class="muted text-center" i18n="@@recentActivity.nothingNew">Nothing new. Take a breath. </p>
    </div>
    <!-- Empty State ends -->
    <div *ngIf="notificationsData.unreadNotifications.length > 0 && !(isLoading$ | async)" >
      <div class="notification-item">
        <div class="notification_more">
          <i class="material-icons-outlined ml-2 muted" [matMenuTriggerFor]="general_menu" style="cursor: pointer;">more_horiz</i>
          <mat-menu #general_menu="matMenu">
            <a mat-menu-item (click)="markAllNotificationAsRead('')">
              <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">check_circle_outline</i>
              <span i18n="@@recentActivity.markAllAsRead">Mark All As Read</span>
            </a>
          </mat-menu>
        </div>
      </div>
      <!-- NOTIFICATION ITEM STARTS-->
      <div class="notification-item" *ngFor="let notification of notificationsData?.unreadNotifications; let index = index">
        <div class="notification_actor">
          <app-secured-image
            [imgURL]="notification?._actor?.profile_pic"
            [service]="'user'"
            [styleClass]="'avatar'"
            style="margin-right:15px"></app-secured-image>
        </div>

        <div class="notification_title">
          {{ notification?._actor?.first_name || 'Deleted' }} {{ notification?._actor?.last_name || 'User' }}

          &nbsp;

          <span *ngIf="notification?.type === 'assignment'" class="assignment_notification" i18n="@@recentActivity.assignedYou">assigned you on</span>
          <span *ngIf="notification?.type === 'mention'" class="mention_notification" i18n="@@recentActivity.mentionedYou">mentioned you on</span>
          <span *ngIf="notification?.type === 'mention_folio'" class="mention_notification" i18n="@@recentActivity.mentionedYou">mentioned you on</span>
          <span *ngIf="notification?.type === 'completed'" class="completed_notification" i18n="@@recentActivity.completed">completed</span>
          <span *ngIf="notification?.type === 'started'" class="started_notification" i18n="@@recentActivity.started">started</span>
          <span *ngIf="notification?.type === 'like_comment'" class="like_notification" i18n="@@recentActivity.likedYourComment">liked your comment on</span>
          <span *ngIf="notification?.type === 'like'" class="like_notification" i18n="@@recentActivity.likes"> likes </span>
          <span *ngIf="notification?.type === 'follow'" class="follow_notification" i18n="@@recentActivity.follows">follows</span>
          <span *ngIf="notification?.type === 'comment'" class="comment_notification" i18n="@@recentActivity.commentedOn">commented on</span>
          <span *ngIf="notification?.type === 'join-group'" class="join_group_notification" i18n="@@recentActivity.addedYou">added you to</span>
          <span *ngIf="notification?.type === 'leave-group'" class="leave_group_notification" i18n="@@recentActivity.removedYou">removed you from</span>

          &nbsp;

          <span class="notification_post_title" *ngIf="notification?.type !== 'mention_folio' && notification?._origin_post">{{ notification?._origin_post?.title | truncatetext: 20 }}</span>
          <span class="notification_post_title" *ngIf="notification?.type === 'mention_folio' && notification?._origin_folio">{{ notification?._origin_folio?.original_name | truncatetext: 20 }}</span>
          <span class="notification_post_title" *ngIf="(notification?.type === 'join-group' || notification?.type === 'leave-group') && notification?._origin_group">{{ notification?._origin_group?.group_name | truncatetext: 20 }}</span>
        </div>

        <div class="notification_date_time">
          <span class="muted small float-right">{{ notification?.created_date | date: 'MMM d, y' }}</span>
        </div>

        <div class="notification_tag d-none d-sm-block">
          <div class="tags">
            <span class="badge" *ngIf="notification?._origin_post?._group?.group_name">
              {{ notification?._origin_post?._group?.group_name }}
            </span>
          </div>
        </div>

        <div class="notification_more">
          <i class="material-icons-outlined ml-2 muted" [matMenuTriggerFor]="menu" style="cursor: pointer;">more_horiz</i>
          <mat-menu #menu="matMenu">
            <a mat-menu-item *ngIf="notification?.type !== 'mention_folio'"
              (click)="viewNotification(notification?._origin_post?._id, notification?._origin_post?.type, notification?._origin_post?._group?._id)">
              <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">visibility</i>
              <span i18n="@@recentActivity.view">View</span>
            </a>
            <a mat-menu-item *ngIf="notification?.type === 'mention_folio'"
              (click)="viewFolioNotification(notification?._origin_folio?._id, notification?._origin_folio?._group?._id)">
              <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">visibility</i>
              <span i18n="@@recentActivity.view">View</span>
            </a>
            <a mat-menu-item (click)="markNotificationAsRead(notification._id, userData._id, index, '')">
              <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">check_circle_outline</i>
              <span i18n="@@recentActivity.markAsRead">Mark As Read</span>
          </a>
          </mat-menu>
        </div>
      </div>
      <!-- NOTIFICATION ITEM ENDS-->
    </div>
  </mat-tab>
  <mat-tab label="">
    <ng-template mat-tab-label>
      <span *ngIf="notificationsData.unreadPosts.length > 0"
        [matBadge]="notificationsData.unreadPosts.length"
        matBadgeOverlap="false" matBadgeColor="warn"
        i18n="@@recentActivity.newsFeed">News feed</span>
      <span *ngIf="notificationsData.unreadPosts.length == 0"
        i18n="@@recentActivity.newsFeed">News feed</span>
    </ng-template>

    <!-- Empty State starts -->
    <div *ngIf="notificationsData.unreadPosts.length === 0 && !(isLoading$ | async)" style="text-align: center; margin-top: 30px;">
      <img src='assets/images/placeholder_newsfeed.png' class="placeholder-img">
      <p class="muted text-center" i18n="@@recentActivity.everyoneIsSilent">Everyone is silent. </p>
    </div>
    <!-- Empty State ends -->
    <div *ngIf="notificationsData.unreadPosts.length > 0 && !(isLoading$ | async)" >
      <div class="notification-item">
        <div class="notification_more">
          <i class="material-icons-outlined ml-2 muted" [matMenuTriggerFor]="general_menu" style="cursor: pointer;">more_horiz</i>
          <mat-menu #general_menu="matMenu">
            <a mat-menu-item (click)="markAllNotificationAsRead('new-post')">
              <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">check_circle_outline</i>
              <span i18n="@@recentActivity.markAllAsRead">Mark All As Read</span>
            </a>
          </mat-menu>
        </div>
      </div>
      <!-- NOTIFICATION ITEM STARTS-->
      <div class="notification-item" *ngFor="let notification of notificationsData?.unreadPosts; let index = index">
        <div class="notification_actor">
          <app-secured-image
            [imgURL]="notification?._actor?.profile_pic"
            [service]="'user'"
            [styleClass]="'avatar'"
            style="margin-right:15px"></app-secured-image>
        </div>

        <div class="notification_title">
          {{ notification?._actor?.first_name || 'Deleted' }} {{ notification?._actor?.last_name || 'User' }}

          &nbsp;<span class="completed_notification" i18n="@@recentActivity.posted"> posted </span>&nbsp;

          <span class="notification_post_title">{{ notification?._origin_post?.title | truncatetext: 45 }}</span>
        </div>

        <div class="notification_date_time">
          <span class="muted small float-right">{{ notification?.created_date | date: 'MMM d, y' }}</span>
        </div>

        <div class="notification_tag d-none d-sm-block">
          <div class="tags">
            <span class="badge" *ngIf="notification?._origin_post?._group?.group_name">
              {{ notification?._origin_post?._group?.group_name }}
            </span>
          </div>
        </div>

        <div class="notification_more">
          <i class="material-icons-outlined ml-2 muted" [matMenuTriggerFor]="menu" style="cursor: pointer;">more_horiz</i>
          <mat-menu #menu="matMenu">
            <a mat-menu-item *ngIf="notification?.type !== 'mention_folio'"
              (click)="viewPost(notification?._origin_post?._id, notification?._origin_post?.type, notification?._origin_post?._group?._id)">
              <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">visibility</i>
              <span i18n="@@recentActivity.view">View</span>
            </a>
            <a mat-menu-item (click)="markNotificationAsRead(notification._id, userData._id, index, notification?.type)">
              <i class="material-icons-outlined ml-2" style="margin-right: .7rem;">check_circle_outline</i>
              <span i18n="@@recentActivity.markAsRead">Mark As Read</span>
            </a>
          </mat-menu>
        </div>
      </div>
      <!-- NOTIFICATION ITEM ENDS-->
    </div>
  </mat-tab>
</mat-tab-group>

<!-- Loading Spinner Starts -->
<ng-container *ngIf="isLoading$ | async">
  <app-loading-spinner class="media"></app-loading-spinner>
</ng-container>
<!-- Loading Spinner Ends -->
</div>
