<div class="subtasks-title" i18n="@@subTasks.subTasks">
  {{ subtasks.length }} Subtasks
  <div *ngIf="subtasks.length > 0" [class]="completitionPercentageClass">
    {{ percentageSubtasksCompleted }} %
  </div>
</div>

<!-- CREATE TASK STARTS -->
<app-new-task [groupData]="groupData" [userData]="userData" [subtask]="true" [parentId]="parentId" (post)="newSubtaskEvent($event)"></app-new-task>
<!-- CREATE TASK ENDS -->

<div>
  <div class="task_row"
    [ngClass]="{'status-todo': task?.task?.status === 'to do', 'status-inprogress': task?.task?.status === 'in progress', 'status-done': task?.task?.status === 'done' }"
    *ngFor="let task of subtasks">

    <div class="task_content" (click)="openSubtask(task)">
      <div class="task_title">
        {{ task.title | truncatetext:60 }}
      </div>

      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div class="task_cell_asignee">
          <app-assignee-avatar [post]="task" [userData]="userData"></app-assignee-avatar>
        </div>

        <div class="task_cell_date muted">
          {{ task.task.due_to | date:'MMM dd, yyyy' }}
        </div>
      </div>
    </div>
  </div>
</div>
