$dark-sky-blue: #4a90e2;
$border-color: #e4edf8;
$pumpkin-orange: #ffab00;
$turquoise: #0bc6a0;

.subtasks-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin: 20px 5px;
}

.task_row {
  height: 40px;
  padding: 0;
  background: white;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 2px auto;
  transition: box-shadow 0.3s ease-in-out;
  font-size: 12px !important;
  border-bottom: 1px solid $border-color;

  cursor: pointer;

  :hover {
    background-color: #f1f1f3;
    border-radius: 2px;
  }

  .task_content {
      display: flex;
      margin: 0;
      align-items: center;
      height: 100%;
      min-width: 100%;
      flex-direction: row;
      justify-content: space-between;

      .task_title {
          flex: 0 0 70%;
          will-change: transform;
          flex-basis: 70%;
          padding: 0 10px
      }

      .task_cell_asignee {
          flex-basis: 80px;
          max-width: 80px;
          flex: 0 0;
          text-align: center;

          .feed-avatar {
              width: 30px !important;
              height: 30px !important;
              margin: 0;
          }
      }

      .task_cell_date {
          flex-basis: 160px;
          max-width: 160px;
          min-width: 160px;
          flex: 0 0;
          text-align: center;
          line-height: 30px;
      }
  }
}

.status-todo {
  border-left: 3px solid $pumpkin-orange;
}
.status-inprogress {
  border-left: 3px solid $turquoise;
}
.status-done {
  border-left: 3px solid $dark-sky-blue;
}

.badge {
  background-color: $dark-sky-blue;
  margin: 0 20px !important;
  display: inline;
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12px;
  align-items: center;
  color: #005fd5;
  background-color: #e4edf8;
}

.badge_in_progress {
  background-color: #0bc6a0;
  color: #F3F4F6;
}

.badge_to_do {
  background-color: #FFAB00;
  color: #F3F4F6;
}

.badge_done {
  background-color: #4a90e2;
  color: #F3F4F6;
}
