<div class="new-record-form">
  <div *ngIf="showAddTimeForm">
    <div class="row">
      <div class="col-md-4">
        <app-date-picker class="form-control" name="entryDate" [styleClass]="'input-date'"
          (date)="getDate($event)" [selectedDate]="entryDate" [canEdit]="!entryId">
        </app-date-picker>
      </div>

      <div class="col-md-2">
        <div class="form-control">
          <i class="material-icons-outlined muted">timer</i>

          <input type="time" style="border: none;"
            name="entryTime" min="00:00" max="24:00"
            (blur)="getTime($event)" [(ngModel)]="entryTime" />
        </div>
      </div>

      <div class="col-md-3">
        <mat-select ngDefaultControl appearance="fill" class="form-control" [(ngModel)]="entryCategory" (selectionChange)="changeEntryCategory($event)">
          <mat-option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</mat-option>
        </mat-select>
      </div>

      <div class="col-md-3" *ngIf="userData?.role == 'manager' || userData?.role == 'owner'">
        <div class="form-control">      
          <app-multiple-assignments [workspaceData]="workspaceData" [assigned_to]="entryUserArray" [type]="'time-tracking'"
            (assigneeAddedEmiter)="onAssignedAdded($event)" (assigneeRemovedEmiter)="onAssignedRemoved($event)">
          </app-multiple-assignments>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 form-control" style="width: 400px;">
        <textarea rows="4" [(ngModel)]="entryComment" [placeholder]="commentPlaceholder"
          (blur)="saveEntry('comment')" style="border: none;"></textarea>
      </div>
    </div>
  </div>

  <div class="actions">
    <button class="btn btn-primary btn-md float-left" (click)="saveEntry()" [disabled]="!isValidEntry()">
      <i class="material-icons-outlined">add</i>
      <span i18n="@@taskTimeTracking.addEntry" *ngIf="!entryId">Add entry</span>
      <span i18n="@@taskTimeTracking.editEntry" *ngIf="!!entryId">Edit entry</span>
    </button>

    <button class="btn btn-outline-danger btn-md float-left" style="margin-left: 30px;" (click)="cancelNewEntry()" *ngIf="showAddTimeForm">
      <span i18n="@@taskTimeTracking.cancel">X Cancel</span>
    </button>

    <div *ngIf="entryAlreadyExists">
      <span>❌</span>
      &nbsp;
      <span i18n="@@taskTimeTracking.lowerCase">You already registered time for this task on {{ formateDate(entryDate) }} for the category {{ entryCategory }}</span>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="list-records">
  <app-task-time-tracking-list
    [timeTrackingEntities]="timeTrackingEntitiesMapped" [userData]="userData"
    (editTimeTrackingEntitEmitter)="onEditEntryEvent($event)"></app-task-time-tracking-list>
</div>

