<div class="customFieldsDialog">
  <h4 class="mb-4" i18n="@@likedByDialog.membersWhoLikedContent">Members who liked the content:</h4>
  <div *ngFor="let user of usersList; let i = index;" class="row">
    <div class="col-md-2">
      <app-secured-image [imgURL]="user?.profile_pic" [service]="'user'"
        [workspaceId]="workspaceData?._id"
        [alt]="user?.first_name + ' ' + user?.last_name" [styleClass]="'feed-avatar-small'"
        [tooltip]="user?.first_name + ' ' + user?.last_name">
      </app-secured-image>
    </div>

    <div class="col-md-10">
    <p>  {{ user?.first_name }} {{ user?.last_name }}</p>
    </div>
  </div>

  <div style="margin-top: 20px;">
    <button class="btn btn-secondary" (click)="closeDialog()" i18n="@@likedByDialog.close">
      Close
    </button>
  </div>
</div>
