// Adding pointer to image
.postitem{
  display: flex;
}

img{
    cursor: pointer;
    transition: transform .2s ease;
  }
  
  img:hover{
    transform: scale(1.1);
  }

  .tagslabel{
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 12px !important;
    align-items: center;
   background-color: #e4edf8;
    // text-align: right;
    border-radius: 10px;
    padding: 2px 10px;
    width: fit-content;
    margin:0 5px !important;
  }
  .fileslabel{
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 12px !important;
    align-items: center;
   background-color: #0bc6a0;
    // text-align: right;
    border-radius: 10px;
    padding: 2px 10px;
    width: fit-content;
    margin:0 5px !important;
    color: #ffffff !important;
  }
  h6{
    font-size: 14px !important;

  }
  .post-title{
    margin: 15px;
  }

  .card-block{
    padding-bottom: 2px;
  }