<div class="container-fluid h-100">

    <div class="row h-100">

      <!-- OCTONIUS LEFT BRANDING PANEL STARTS -->
      <div class="col-md-8 welcome overlay" style="background-image:url(https://picsum.photos/1920/1200/?random&gravity=south )">
        <div class="content">
        <h1 class="white">
          <i class="icon-octo-logo white"></i>Octonius</h1>
        <h1 class="slim white">
          Your smart workplace. <br>
          Single source of truth for your team.
        </h1>
  
        <div style="margin-top:30px">
          <p class="white">Are you new here?</p>
          <button type="submit" class="btn btn-outline-light" routerLink="/signup">Sign up</button>
        </div>
      </div>
      </div>
      <!-- OCTONIUS LEFT BRANDING PANEL ENDS -->
  
      <!-- SIGN IN FORM STARTS -->
      <div class="col-md-4">
        <div class="signup-form" style="padding:100px 30px">
            <h3>Sign in</h3>
  
            <div class="form-group">
              <label for="workspace_name">Workplace</label>
              <input type="text" class="form-control" [(ngModel)]="user.workspace" name="workspaceName">
            </div>
  
            <div class="form-group">
              <label for="email">Work email</label>
              <input type="email" class="form-control" [(ngModel)]="user.email" (keyup)="emailChange($event)" name="userEmail">
            </div>
  
            <div class="form-group">
              <label for="pwd">Password</label>
              <input type="password" class="form-control" [(ngModel)]="user.password" name="userPasswod">
            </div>
  
            <!-- FORGOT PASSWORD MODULE STARTS -->
            <p (click)="openForgotPassword(content)" class="forgot-password">Forgot password?</p>
            <ng-template #content let-modal>
              <forgot-password></forgot-password>
            </ng-template>
            <!-- FORGOT PASSWORD MODULE ENDS -->
  
            <button  type="submit" class="btn btn-primary" (click)="signIn(user?.workspace, user?.email, user?.password)">Sign in</button>
        </div>
      </div>
      <!-- SIGN IN FORM ENDS -->

    </div>