.dropdown-toggle::after{
  display:none;
}

.close {
  display: none
}

.btn-outline-warning{
  width: 34px;
  height:34px;
  object-fit: cover;
  border-radius: 50%;
  color: #FD7714;
  border: 1px solid #FD7714;
  box-sizing:border-box;
}

.selected{
  width: 34px;
  height: 34px;
  object-fit: cover;
  border-radius: 50%;
  color: #005FD5;
  border: 1px solid #005FD5;
  box-sizing: border-box;
}

.material-icons{
  padding: 0;
  margin-left: -3px;
  font-size: 24px;
}

.drop1{
  padding: 10px;
}
