<div ngbDropdown #drop="ngbDropdown" placement="bottom-right" autoClose=true class="d-inline-block" >
  <button ngbDropdownToggle class="btn btn-sm task" [ngClass] = 'selected? "selected": "btn-outline-warning"' type="button" >
    <i class="material-icons">alarm</i>
  </button>
  <div ngbDropdownMenu class="drop1">
    <div>
      <ngb-timepicker [(ngModel)]="model_time" [meridian]="true"></ngb-timepicker>
    </div>
    <div>
      <button class="btn btn-primary mb-2 mr-2" (click)="onTimeSelected(); drop.close()">Done</button>
      <button type="button" class="btn btn-default mb-2 mr-2" (click)=" drop.close()">Cancel</button>
    </div>
  </div>
</div>
<!--  Modal to pick a time -->

<ng-template style="margin-top: 10px" #timeContent let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Select Time</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <ngb-timepicker [(ngModel)]="model_time" [meridian]="true"></ngb-timepicker>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary mb-2 mr-2" (click)="onTimeSelected();c('Close click')">Done</button>
    <button type="button" class="btn btn-default mb-2 mr-2" (click)="c('Close click')">Cancel</button>
  </div>

</ng-template>
