<div class="container-fluid h-100 welcome">
  <div class="row h-100">

     <!-- OCTONIUS LEFT BRANDING PANEL STARTS -->
     <app-branding-panel [routerState]="'signup'" class="col-md-8 overlay"></app-branding-panel>
     <!-- OCTONIUS LEFT BRANDING PANEL ENDS -->

     <!-- HOME PANEL STARTS -->
     <div class="col-md-4 shaddow">
       <div style="padding:100px 30px;">

         <div style="width: 100%; margin:0 auto; align-items: center;height: 30vh;">

          <h1 style="margin-bottom: 30px;" i18n="@@authNewWorkplace.createNewWorkspace">
            Create new workplace
          </h1>

          <div class="form-group">
            <label for="name" class="muted" i18n="@@authNewWorkplace.chooseWorkspaceName">Choose a workplace name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="workplace.name"
              (focusout)="checkWorkspaceAvailability()">
          </div>

          <div class="form-group">
            <label for="company_name" class="muted" i18n="@@authNewWorkplace.enterCompanyName">Enter company name</label>
            <input type="text" class="form-control" name="company_name"
              [(ngModel)]="workplace.company_name" (keyup.enter)="createNewWorkplace()">
          </div>

          <div class="form-group">
            <label for="company_name" class="muted" i18n="@@authNewWorkplace.selectSubscription">
              Select subscription
            </label>

            <i class="material-icons" (click)="openPricingDialog()">help</i>

            <ng-template #pricingTableDialog>
              <app-pricing-table [canCreateSubscription]="false"></app-pricing-table>
            </ng-template>

            <mat-select ngDefaultControl (selectionChange)="selectStripeProduct($event.value)">
              <mat-option *ngFor="let product of stripeProducts" [value]="product.id">{{ product.name }}</mat-option>
            </mat-select>
          </div>

          <button type="submit" class="btn btn-primary btn-block btn_login"
              [disabled]="!validWorkspace" (click)="createNewWorkplace()"
              i18n="@@authNewWorkplace.create">
                Create
          </button>

          <br/><br/>

          <button type="submit" class="btn btn-outline-danger btn_login"
              [routerLink]="['/authentication', 'select-workspace']" routerLinkActive="router-link-active"
              i18n="@@authNewWorkplace.cancel">
            Cancel
          </button>
        </div>
      </div>
   </div>
   <!-- HOME PANEL ENDS -->
  </div>
</div>
