input {
//     font-size: 30px;
//     padding: 0 20px;
//     border: 2px solid #ccc;
    border: none;
//     width: 100%;
//     color: #666;
//     line-height: 3;
//     border-radius: 7px;
//     font-family: 'PT Sans', sans-serif;
//     font-weight: bold;
}

// form input:focus {
//     outline: 0;
// }

// form input.error {
//     border-color: #ff0000;
// }

// form label.error {
//     background-color: #ff0000;
//     color: #fff;
//     padding: 6px;
//     font-size: 11px;
// }